Repository flutter/devtools, pull requests merged in 2023-05, with the labels that each got.

#5730 Update `InspectorPreferencesController` hover eval mode default value initialization
  packages/devtools_app/lib/src/shared/preferences.dart
Labels: release-notes-not-required

#5469 Generalise ReleaseNotes -> SidePanel
  packages/devtools_app/lib/devtools_app.dart
  packages/devtools_app/lib/src/app.dart
  packages/devtools_app/lib/src/framework/about_dialog.dart
  packages/devtools_app/lib/src/framework/release_notes/release_notes.dart
  packages/devtools_app/lib/src/shared/side_panel.dart
  packages/devtools_test/lib/src/integration_test/integration_test_utils.dart
Labels: release-notes-not-required

#5768 Change inactivity workflow to work like the intellij-repo
  .github/workflows/close-inactive-issues.yaml
Labels: release-notes-not-required

#5789 Point to master
  .github/workflows/flutter-prep.yaml
  packages/devtools_app/lib/src/shared/primitives/custom_pointer_scroll_view.dart
  packages/devtools_app/test/shared/extent_delegate_list_view_test.dart
  packages/devtools_app/test/test_infra/goldens/cpu_profiler/bottom_up_guidelines.png
  packages/devtools_app/test/test_infra/goldens/cpu_profiler/bottom_up_no_guidelines.png
  packages/devtools_app/test/test_infra/goldens/cpu_profiler/call_tree_guidelines.png
  packages/devtools_app/test/test_infra/goldens/cpu_profiler/call_tree_no_guidelines.png
  packages/devtools_app/test/test_infra/goldens/integration_animated_physical_model_selected.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_errors_1_initial_load.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_errors_2_error_selected.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_initial_load.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_richtext_selected.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_scaffold_selected.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_select_center.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_select_center_details_tree.png
Labels: release-notes-not-required, run-dcm-workflow

#5788 Split up large README and fix release notes instructions
  tool/README.md
  tool/RELEASE_INSTRUCTIONS.md
Labels: autosubmit, release-notes-not-required, run-dcm-workflow

#5782 Update lee-dohm/no-reponse from tag to approved sha
  .github/workflows/close-inactive-issues.yaml
Labels: release-notes-not-required, run-dcm-workflow

#5796 Change lee-dowhm/no-response to working hash
  .github/workflows/close-inactive-issues.yaml
Labels: release-notes-not-required, run-dcm-workflow

#5785 Add test script for flutter/tests
  packages/devtools_app/test/network/network_controller_test.dart
  tool/flutter_tests.sh
Labels: release-notes-not-required, run-dcm-workflow

#5814 Add a default error notification
  packages/devtools_app/lib/src/extension_points/extensions_base.dart
  packages/devtools_app/lib/src/extension_points/extensions_external.dart
  packages/devtools_app/lib/src/framework/notifications_view.dart
  packages/devtools_app/lib/src/shared/notifications.dart
  packages/devtools_app/test/extentsion_points/extensions_external_test.dart
  packages/devtools_app/test/shared/notifications_test.dart
Labels: release-notes-not-required, run-dcm-workflow

#5809 Fix lint warnings on master
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/test/shared/instance_viewer_test.dart
  packages/devtools_app/test/test_infra/fixtures/flutter_app/pubspec.yaml
  packages/devtools_app/test/test_infra/fixtures/flutter_error_app/pubspec.yaml
  packages/devtools_app/test/test_infra/fixtures/memory_app/pubspec.yaml
  packages/devtools_app/test/test_infra/fixtures/provider_app/pubspec.yaml
  packages/devtools_app/test/test_infra/fixtures/riverpod_app/pubspec.yaml
  packages/devtools_shared/pubspec.yaml
  packages/devtools_test/pubspec.yaml
Labels: release-notes-not-required, run-dcm-workflow

#5811 Fix daily dev bump for new labelled workflows
  .github/workflows/daily-dev-bump.yaml
  .github/workflows/dcm-label.yaml
  .github/workflows/dcm.yaml
  .github/workflows/release-notes.yaml
Labels: release-notes-not-required, run-dcm-workflow

#5820 usePathUrlStrategy from flutter_web_plugins
  packages/devtools_app/lib/initialization.dart
  packages/devtools_app/lib/src/screens/network/network_request_inspector.dart
  packages/devtools_app/lib/src/screens/vm_developer/vm_developer_common_widgets.dart
  packages/devtools_app/lib/src/shared/config_specific/url_strategy/noop.dart
  packages/devtools_app/lib/src/shared/config_specific/url_strategy/url_strategy.dart
  packages/devtools_app/lib/src/shared/config_specific/url_strategy/web.dart
Labels: autosubmit, release-notes-not-required, run-dcm-workflow

#5822 Notifications can be dismissed
  packages/devtools_app/lib/src/framework/initializer.dart
  packages/devtools_app/lib/src/framework/landing_screen.dart
  packages/devtools_app/lib/src/framework/notifications_view.dart
  packages/devtools_app/lib/src/shared/notifications.dart
  packages/devtools_app/test/shared/notifications_test.dart
Labels: release-notes-not-required, run-dcm-workflow

#5827 File names should only be updated if parsing the file succeeds
  packages/devtools_app/lib/src/framework/app_error_handling.dart
  packages/devtools_app/lib/src/screens/debugger/breakpoints.dart
  packages/devtools_app/lib/src/screens/debugger/call_stack.dart
  packages/devtools_app/lib/src/screens/debugger/codeview.dart
  packages/devtools_app/lib/src/screens/debugger/codeview_controller.dart
  packages/devtools_app/lib/src/screens/debugger/debugger_controller.dart
  packages/devtools_app/lib/src/screens/debugger/file_search.dart
  packages/devtools_app/lib/src/screens/vm_developer/vm_developer_common_widgets.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/test/debugger/debugger_codeview_test.dart
  packages/devtools_app/test/debugger/debugger_evaluation_test.dart
  packages/devtools_app/test/debugger/debugger_scripts_test.dart
  packages/devtools_app/test/vm_developer/object_inspector/object_viewport_test.dart
  packages/devtools_app/test/vm_developer/object_inspector/vm_class_display_test.dart
  packages/devtools_app/test/vm_developer/object_inspector/vm_field_display_test.dart
  packages/devtools_app/test/vm_developer/object_inspector/vm_function_display_test.dart
  packages/devtools_app/test/vm_developer/object_inspector/vm_library_display_test.dart
  packages/devtools_app/test/vm_developer/object_inspector/vm_script_display_test.dart
  packages/devtools_test/lib/src/mocks/mocks.dart
Labels: run-dcm-workflow

#5842 Show an error message if sourcemaps are disabled
  packages/devtools_app/lib/src/extension_points/extensions_base.dart
  packages/devtools_app/lib/src/extension_points/extensions_external.dart
  packages/devtools_app/lib/src/screens/debugger/codeview_controller.dart
Labels: release-notes-not-required, run-dcm-workflow

#5852 Fix a TODO for switch expressions and clean up styling on vm developer page
  packages/devtools_app/lib/src/screens/debugger/program_explorer_controller.dart
  packages/devtools_app/lib/src/screens/debugger/program_explorer_model.dart
  packages/devtools_app/lib/src/screens/vm_developer/vm_developer_common_widgets.dart
  packages/devtools_app/lib/src/screens/vm_developer/vm_developer_tools_screen.dart
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_except_diff.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_except_single.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_scene_diff.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_scene_single.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_showAll_diff.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_showAll_single.png
Labels: release-notes-not-required, run-dcm-workflow

#5853 Dismissible notifications do not expire
  packages/devtools_app/lib/src/framework/notifications_view.dart
  packages/devtools_app/lib/src/shared/notifications.dart
  packages/devtools_app/test/shared/notifications_test.dart
Labels: release-notes-not-required, run-dcm-workflow

#5841 Give write permissions to the "Close inactive issues" workflow
  .github/workflows/close-inactive-issues.yaml
Labels: release-notes-not-required, run-dcm-workflow

#5860 Releasing from 2.24.0-dev.20 to 2.24.0
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_shared/pubspec.yaml
  packages/devtools_test/pubspec.yaml
Labels: release-notes-not-required, run-dcm-workflow
