Repository flutter/devtools, changes with the owners that CODEOWNERS names for each.
All owners: @flutter/devtools-reviewers, @CoderDake, @kenzieschmoll, @bkonyi, @polina-c, @elliette

-
  packages/devtools_app/lib/src/screens/memory/panes/diff/controller/class_data.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/controller/diff_pane_controller.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/data/heap_diff_store.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/widgets/classes_table_diff.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/widgets/snapshot_view.dart
  packages/devtools_app/test/memory/diff/controller/heap_diff_test.dart
Owners: @bkonyi, @polina-c

-
  packages/devtools_app/lib/src/screens/memory/panes/diff/data/classes_diff.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/data/heap_diff_store.dart
  packages/devtools_app/lib/src/shared/primitives/utils.dart
  packages/devtools_app/test/primitives/utils_test.dart
Owners: @bkonyi, @polina-c, @flutter/devtools-reviewers

-
  packages/devtools_app/lib/src/screens/memory/panes/diff/controller/class_data.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/controller/diff_pane_controller.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/controller/utils.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/data/classes_diff.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/data/heap_diff_store.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/widgets/classes_table_diff.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/widgets/snapshot_view.dart
  packages/devtools_app/lib/src/screens/memory/shared/heap/heap.dart
  packages/devtools_app/test/memory/diff/controller/heap_diff_test.dart
Owners: @bkonyi, @polina-c

-
  packages/devtools_app/lib/src/screens/memory/panes/diff/controller/diff_pane_controller.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/widgets/classes_table_diff.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/widgets/snapshot_view.dart
Owners: @bkonyi, @polina-c

Changing Flutter Candidate to 3.21.0-6.0.pre
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

-
  packages/devtools_app/lib/src/screens/memory/panes/diff/controller/diff_pane_controller.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/data/classes_diff.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/widgets/class_details/path.dart
  packages/devtools_app/lib/src/screens/memory/shared/heap/heap.dart
  packages/devtools_app/lib/src/screens/memory/shared/heap/model.dart
  packages/devtools_app/lib/src/shared/memory/retaining_path.dart
Owners: @bkonyi, @polina-c

Update heap_diff_test.dart
  packages/devtools_app/test/memory/diff/controller/heap_diff_test.dart
Owners: @bkonyi, @polina-c

Fix up goldens
  packages/devtools_app/test/inspector/inspector_service_test.dart
  packages/devtools_app/test/test_infra/goldens/inspector_service_details_tree.txt
  packages/devtools_app/test/test_infra/goldens/inspector_service_text_details_tree_v2.txt
  packages/devtools_app/test/test_infra/goldens/inspector_service_text_details_tree_v3.txt
  packages/devtools_app/test/test_infra/goldens/inspector_service_text_details_tree_v4.txt
  packages/devtools_app/test/test_infra/goldens_stable/inspector_controller_details_tree_scaffold.txt
  packages/devtools_app/test/test_infra/goldens_stable/inspector_controller_details_tree_scaffold_expanded.txt
  packages/devtools_app/test/test_infra/goldens_stable/inspector_controller_details_tree_scaffold_with_styles.txt
  packages/devtools_app/test/test_infra/goldens_stable/inspector_controller_details_tree_scrolled_to_center.txt
  packages/devtools_app/test/test_infra/goldens_stable/inspector_controller_initial_tree_with_styles.txt
  packages/devtools_app/test/test_infra/goldens_stable/inspector_controller_selection_with_styles.txt
  packages/devtools_app/test/test_infra/goldens_stable/inspector_controller_text_details_tree.txt
  packages/devtools_app/test/test_infra/goldens_stable/inspector_controller_text_details_tree_richtext_selected.txt
  packages/devtools_app/test/test_infra/goldens_stable/inspector_controller_text_details_tree_with_styles.txt
  packages/devtools_app/test/test_infra/goldens_stable/inspector_service_details_tree.txt
  packages/devtools_app/test/test_infra/goldens_stable/inspector_service_text_details_tree.txt
  packages/devtools_app/test/test_infra/goldens_stable/logging_controller_material_error.txt
  packages/devtools_app/test/test_infra/goldens_stable/logging_controller_navigation.txt
  packages/devtools_app/test/test_infra/goldens_stable/logging_controller_overflow_error.txt
  packages/devtools_app/test/test_infra/matchers/matchers.dart
Owners: @CoderDake, @flutter/devtools-reviewers

Reuse logic to show disconnected screen body (#7358)
  packages/devtools_app/lib/src/example/conditional_screen.dart
  packages/devtools_app/lib/src/extensions/extension_screen.dart
  packages/devtools_app/lib/src/framework/home_screen.dart
  packages/devtools_app/lib/src/framework/scaffold.dart
  packages/devtools_app/lib/src/screens/app_size/app_size_screen.dart
  packages/devtools_app/lib/src/screens/debugger/debugger_screen.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_screen.dart
  packages/devtools_app/lib/src/screens/inspector/inspector_screen.dart
  packages/devtools_app/lib/src/screens/logging/logging_screen.dart
  packages/devtools_app/lib/src/screens/memory/framework/memory_screen.dart
  packages/devtools_app/lib/src/screens/network/network_screen.dart
  packages/devtools_app/lib/src/screens/performance/performance_screen.dart
  packages/devtools_app/lib/src/screens/profiler/profiler_screen.dart
  packages/devtools_app/lib/src/screens/provider/provider_screen.dart
  packages/devtools_app/lib/src/screens/vm_developer/vm_developer_tools_screen.dart
  packages/devtools_app/lib/src/shared/primitives/trees.dart
  packages/devtools_app/lib/src/shared/screen.dart
  packages/devtools_app/test/shared/scaffold_debugger_test.dart
  packages/devtools_app/test/shared/scaffold_debugging_controls_test.dart
  packages/devtools_app/test/shared/scaffold_no_app_test.dart
  packages/devtools_app/test/shared/scaffold_profile_test.dart
  packages/devtools_app/test/shared/scaffold_test.dart
Owners: @flutter/devtools-reviewers, @elliette, @CoderDake, @bkonyi, @polina-c, @kenzieschmoll

Update heap_object.dart
  packages/devtools_app/lib/src/shared/memory/heap_object.dart
Owners: @bkonyi, @polina-c

Update README.md
  packages/devtools_test/README.md
Owners: @flutter/devtools-reviewers

Fix a skipped test in inspector_service_test (was a false positive) (#6942)
  packages/devtools_app/test/inspector/inspector_service_test.dart
  packages/devtools_app/test/test_infra/goldens/inspector_service_details_tree.txt
  packages/devtools_app/test/test_infra/goldens/inspector_service_text_details_tree_v2.txt
  packages/devtools_app/test/test_infra/goldens/inspector_service_text_details_tree_v3.txt
  packages/devtools_app/test/test_infra/goldens/inspector_service_text_details_tree_v4.txt
  packages/devtools_app/test/test_infra/goldens_stable/inspector_controller_details_tree_scaffold.txt
  packages/devtools_app/test/test_infra/goldens_stable/inspector_controller_details_tree_scaffold_expanded.txt
  packages/devtools_app/test/test_infra/goldens_stable/inspector_controller_details_tree_scaffold_with_styles.txt
  packages/devtools_app/test/test_infra/goldens_stable/inspector_controller_details_tree_scrolled_to_center.txt
  packages/devtools_app/test/test_infra/goldens_stable/inspector_controller_initial_tree_with_styles.txt
  packages/devtools_app/test/test_infra/goldens_stable/inspector_controller_selection_with_styles.txt
  packages/devtools_app/test/test_infra/goldens_stable/inspector_controller_text_details_tree.txt
  packages/devtools_app/test/test_infra/goldens_stable/inspector_controller_text_details_tree_richtext_selected.txt
  packages/devtools_app/test/test_infra/goldens_stable/inspector_controller_text_details_tree_with_styles.txt
  packages/devtools_app/test/test_infra/goldens_stable/inspector_service_details_tree.txt
  packages/devtools_app/test/test_infra/goldens_stable/inspector_service_text_details_tree.txt
  packages/devtools_app/test/test_infra/goldens_stable/logging_controller_material_error.txt
  packages/devtools_app/test/test_infra/goldens_stable/logging_controller_navigation.txt
  packages/devtools_app/test/test_infra/goldens_stable/logging_controller_overflow_error.txt
  packages/devtools_app/test/test_infra/matchers/matchers.dart
Owners: @CoderDake, @flutter/devtools-reviewers

-
  packages/devtools_app/lib/src/screens/memory/panes/diff/widgets/class_details/class_details.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/widgets/class_details/path.dart
Owners: @bkonyi, @polina-c

Update trees.dart
  packages/devtools_app/lib/src/shared/primitives/trees.dart
Owners: @flutter/devtools-reviewers

Update heap_object.dart
  packages/devtools_app/lib/src/shared/memory/heap_object.dart
Owners: @bkonyi, @polina-c

-
  packages/devtools_app/lib/src/shared/memory/heap_data.dart
  packages/devtools_app/lib/src/shared/memory/retainers.dart
Owners: @bkonyi, @polina-c

Reorganize code to simplify review of massive PR. (#7360)
  packages/devtools_app/lib/src/screens/memory/panes/diff/controller/class_data.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/controller/diff_pane_controller.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/controller/heap_diff.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/controller/utils.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/data/classes_diff.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/data/heap_diff_store.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/widgets/class_details/path.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/widgets/classes_table_diff.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/widgets/snapshot_view.dart
  packages/devtools_app/lib/src/screens/memory/shared/heap/heap.dart
  packages/devtools_app/lib/src/screens/memory/shared/heap/model.dart
  packages/devtools_app/lib/src/shared/memory/retaining_path.dart
  packages/devtools_app/lib/src/shared/primitives/utils.dart
  packages/devtools_app/test/memory/diff/controller/heap_diff_test.dart
  packages/devtools_app/test/primitives/utils_test.dart
Owners: @bkonyi, @polina-c, @flutter/devtools-reviewers

-
  packages/devtools_app/lib/src/screens/memory/panes/diff/widgets/class_details/path.dart
  packages/devtools_app/lib/src/shared/development_helpers.dart
  packages/devtools_app/lib/src/shared/memory/retaining_path.dart
Owners: @bkonyi, @polina-c, @flutter/devtools-reviewers

-
  packages/devtools_app/lib/src/screens/memory/panes/diff/data/classes_diff.dart
  packages/devtools_app/lib/src/screens/memory/shared/heap/sampler.dart
  packages/devtools_app/lib/src/shared/memory/classes.dart
Owners: @bkonyi, @polina-c

-
  packages/devtools_app/lib/src/shared/memory/classes.dart
Owners: @bkonyi, @polina-c

-
  packages/devtools_app/lib/src/screens/memory/shared/heap/heap.dart
  packages/devtools_app/lib/src/shared/memory/classes.dart
Owners: @bkonyi, @polina-c

-
  packages/devtools_app/lib/src/screens/memory/panes/diff/data/classes_diff.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/widgets/classes_table_diff.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/widgets/instances.dart
  packages/devtools_app/lib/src/screens/memory/shared/heap/heap.dart
  packages/devtools_app/lib/src/screens/memory/shared/heap/model.dart
  packages/devtools_app/lib/src/screens/memory/shared/heap/sampler.dart
  packages/devtools_app/lib/src/shared/memory/classes.dart
Owners: @bkonyi, @polina-c

-
  packages/devtools_app/lib/src/shared/memory/retainers.dart
Owners: @bkonyi, @polina-c

Updating from 2.34.0-dev.6 to 2.34.0-dev.7
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_test/pubspec.yaml
Owners: none

Changing Flutter Candidate to 3.21.0-6.0.pre
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

Changing Flutter Candidate to 3.21.0-6.0.pre (#7364)
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

Updating from 2.34.0-dev.6 to 2.34.0-dev.7 (#7363)
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_test/pubspec.yaml
Owners: none

Update heap.dart
  packages/devtools_app/lib/src/screens/memory/shared/heap/heap.dart
Owners: @bkonyi, @polina-c

-
  packages/devtools_app/test/memory/diff/controller/heap_diff_test.dart
  packages/devtools_app/test/memory/shared/heap/heap_analyzer_golden_test.dart
  packages/devtools_app/test/memory/shared/heap/heap_analyzer_test.dart
  packages/devtools_app/test/memory/shared/heap/heap_test.dart
Owners: @bkonyi, @polina-c

Update diff_pane_controller.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/controller/diff_pane_controller.dart
Owners: @bkonyi, @polina-c

Update diff_pane_controller.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/controller/diff_pane_controller.dart
Owners: @bkonyi, @polina-c

-
  packages/devtools_app/lib/src/screens/memory/panes/diff/controller/item_controller.dart
  packages/devtools_app/lib/src/shared/memory/heap_data.dart
  packages/devtools_app/lib/src/shared/memory/heap_graph_loader.dart
  packages/devtools_app/test/memory/diff/widgets/class_filter_test.dart
  packages/devtools_app/test/test_infra/scenes/memory/default.dart
  packages/devtools_app/test/test_infra/scenes/memory/diff_snapshot.dart
  packages/devtools_app/test/test_infra/test_data/memory/heap/heap_data.dart
Owners: @bkonyi, @polina-c

-
  packages/devtools_app/test/test_infra/scenes/memory/default.dart
  packages/devtools_app/test/test_infra/scenes/memory/diff_snapshot.dart
  packages/devtools_app/test/test_infra/test_data/memory/heap/heap_data.dart
Owners: @bkonyi, @polina-c

Reorganize code. (#7362)
  packages/devtools_app/lib/src/screens/memory/panes/diff/data/classes_diff.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/widgets/classes_table_diff.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/widgets/instances.dart
  packages/devtools_app/lib/src/screens/memory/shared/heap/heap.dart
  packages/devtools_app/lib/src/screens/memory/shared/heap/model.dart
  packages/devtools_app/lib/src/screens/memory/shared/heap/sampler.dart
  packages/devtools_app/lib/src/shared/memory/classes.dart
  packages/devtools_app/lib/src/shared/memory/retainers.dart
  packages/devtools_app/test/memory/diff/controller/heap_diff_test.dart
  packages/devtools_app/test/memory/shared/heap/heap_analyzer_golden_test.dart
  packages/devtools_app/test/memory/shared/heap/heap_analyzer_test.dart
  packages/devtools_app/test/memory/shared/heap/heap_test.dart
Owners: @bkonyi, @polina-c

Use SelectionArea to avoid gesture sink, and get selection benefits at the same time.
  packages/devtools_app/lib/src/screens/network/network_request_inspector_views.dart
  packages/devtools_app/lib/src/screens/network/network_screen.dart
  packages/devtools_app/lib/src/shared/common_widgets.dart
Owners: @kenzieschmoll, @bkonyi, @flutter/devtools-reviewers

Refactor preferences.dart
  packages/devtools_app/lib/src/shared/preferences/_extension_preferences.dart
  packages/devtools_app/lib/src/shared/preferences/_inspector_preferences.dart
  packages/devtools_app/lib/src/shared/preferences/_memory_preferences.dart
  packages/devtools_app/lib/src/shared/preferences/_performance_preferences.dart
  packages/devtools_app/lib/src/shared/preferences/preferences.dart
Owners: @flutter/devtools-reviewers

remove old prefs
  packages/devtools_app/lib/src/shared/preferences.dart
Owners: @flutter/devtools-reviewers

import fixes
  packages/devtools_app/lib/devtools_app.dart
  packages/devtools_app/lib/initialization.dart
  packages/devtools_app/lib/src/shared/globals.dart
Owners: @flutter/devtools-reviewers

Refactor preferences.dart (#7368)
  packages/devtools_app/lib/devtools_app.dart
  packages/devtools_app/lib/initialization.dart
  packages/devtools_app/lib/src/shared/globals.dart
  packages/devtools_app/lib/src/shared/preferences/_extension_preferences.dart
  packages/devtools_app/lib/src/shared/preferences/_inspector_preferences.dart
  packages/devtools_app/lib/src/shared/preferences/_memory_preferences.dart
  packages/devtools_app/lib/src/shared/preferences/_performance_preferences.dart
  packages/devtools_app/lib/src/shared/preferences/preferences.dart
Owners: @flutter/devtools-reviewers

Add setting to include CPU samples in the timeline
  packages/devtools_app/lib/src/screens/performance/panes/controls/performance_settings.dart
  packages/devtools_app/lib/src/screens/performance/panes/timeline_events/timeline_events_controller.dart
  packages/devtools_app/lib/src/screens/performance/panes/timeline_events/timeline_events_view.dart
  packages/devtools_app/lib/src/shared/analytics/constants/_performance_constants.dart
  packages/devtools_app/lib/src/shared/common_widgets.dart
  packages/devtools_app/lib/src/shared/preferences/_extension_preferences.dart
  packages/devtools_app/lib/src/shared/preferences/_memory_preferences.dart
  packages/devtools_app/lib/src/shared/preferences/_performance_preferences.dart
  packages/devtools_app/lib/src/shared/preferences/preferences.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/test/performance/tabbed_performance_view_test.dart
Owners: @kenzieschmoll, @flutter/devtools-reviewers

CODEOWNERS:

*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @CoderDake

# Network Files
network/            @kenzieschmoll @bkonyi

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll

# Memory files
memory/             @bkonyi @polina-c

# Memory leak tracking files
memory/panes/leaks  @CoderDake @polina-c

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @CoderDake

packages/devtools_extensions/    @kenzieschmoll


# Version bump files.
# No owners to prevent version update spam
packages/devtools_app/lib/devtools.dart
packages/devtools_app/pubspec.yaml
packages/devtools_test/pubspec.yaml
