Repository flutter/devtools, changes with the owners that CODEOWNERS names for each.
All owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

CODEOWNERS:

*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @elliette

# Network Files
network/            @bkonyi @kenzieschmoll

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll @bkonyi

# Memory files
memory/             @bkonyi @kenzieschmoll

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @kenzieschmoll

# DevTools extensions and related files
src/extensions/
packages/devtools_extensions/    @kenzieschmoll
packages/devtools_app_shared/    @kenzieschmoll

# package:devtools_shared code, which is used across DevTools and the Dart SDK
packages/devtools_shared/        @kenzieschmoll @bkonyi

# Version bump files.
# No owners to prevent version update spam
packages/devtools_app/lib/devtools.dart
packages/devtools_app/pubspec.yaml
packages/devtools_test/pubspec.yaml

Fix formatting
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_link_list_view.dart
Owners: @flutter/devtools-reviewers

Fix imports
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_screen.dart
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_screen_controller.dart
Owners: @flutter/devtools-reviewers

Fix formatting in display_provider.dart
  packages/devtools_app/lib/src/shared/console/widgets/display_provider.dart
Owners: @flutter/devtools-reviewers

Reuse OverflowingText for debugger variable rows
  packages/devtools_app/lib/src/shared/console/widgets/display_provider.dart
Owners: @flutter/devtools-reviewers

Add release notes for long string overlay fix
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

move logic to DisplayProvider and make it the primary class
  packages/devtools_app/lib/src/shared/console/widgets/display_provider.dart
Owners: @flutter/devtools-reviewers

remove tooltip and \n
  packages/devtools_app/lib/src/shared/console/widgets/display_provider.dart
Owners: @flutter/devtools-reviewers

Fix long string overlay in debugger Variables panel (#7112)
  packages/devtools_app/lib/src/shared/console/widgets/display_provider.dart
  packages/devtools_app/test/screens/debugger/debugger_screen_dap_variables_test.dart
Owners: @flutter/devtools-reviewers, @elliette

Added size support to Network tab (#9744)
  packages/devtools_app/lib/src/screens/network/network_model.dart
  packages/devtools_app/lib/src/screens/network/network_request_inspector_views.dart
  packages/devtools_app/lib/src/screens/network/network_screen.dart
  packages/devtools_app/lib/src/screens/network/utils/http_utils.dart
  packages/devtools_app/lib/src/shared/http/http_request_data.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/test/shared/http/http_request_data_test.dart
  packages/devtools_app/test/shared/http/http_utils_test.dart
Owners: @bkonyi, @kenzieschmoll, @flutter/devtools-reviewers

Pluralize domain and path label in deep links panel (#9790)
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_link_list_view.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Move RebuildStatsView tests to performance_screen_test
  packages/devtools_app/test/screens/performance/performance_screen_test.dart
  packages/devtools_app/test/screens/performance/rebuild_stats/rebuild_stats_view_test.dart
Owners: @kenzieschmoll

Show debug-mode message for widget rebuilds in profile mode
  packages/devtools_app/lib/src/screens/performance/panes/rebuild_stats/rebuild_stats.dart
  packages/devtools_app/test/screens/performance/rebuild_stats/rebuild_stats_view_test.dart
Owners: @kenzieschmoll

Fix formatting and add release note
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/test/screens/performance/performance_screen_test.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

Resolve merge conflict in release notes
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

style: format performance_screen_test
  packages/devtools_app/test/screens/performance/performance_screen_test.dart
Owners: @kenzieschmoll

Remove unnecessary imports
  packages/devtools_app/test/screens/performance/performance_screen_test.dart
Owners: @kenzieschmoll

fix: properly remove build artifacts
  build/native_assets/windows/native_assets.json
  build/unit_test_assets/AssetManifest.bin
  build/unit_test_assets/FontManifest.json
  build/unit_test_assets/NOTICES.Z
  build/unit_test_assets/NativeAssetsManifest.json
  build/unit_test_assets/shaders/ink_sparkle.frag
  build/unit_test_assets/shaders/stretch_effect.frag
Owners: @flutter/devtools-reviewers

fix: restore removed tests and apply only required changes
  build/native_assets/windows/native_assets.json
  build/unit_test_assets/AssetManifest.bin
  build/unit_test_assets/FontManifest.json
  build/unit_test_assets/NOTICES.Z
  build/unit_test_assets/NativeAssetsManifest.json
  build/unit_test_assets/shaders/ink_sparkle.frag
  build/unit_test_assets/shaders/stretch_effect.frag
  packages/devtools_app/test/screens/performance/performance_screen_test.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

style: format file and add required comments
  packages/devtools_app/test/screens/performance/performance_screen_test.dart
Owners: @kenzieschmoll

Updating from 2.58.0-dev.0 to 2.58.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Bump flutter_lints to 6.0.0 (#9792)
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_controller.dart
  packages/devtools_app/lib/src/screens/inspector_v2/layout_explorer/ui/arrow.dart
  packages/devtools_app/lib/src/screens/logging/metadata.dart
  packages/devtools_app/lib/src/screens/performance/panes/frame_analysis/frame_analysis_model.dart
  packages/devtools_app/lib/src/screens/profiler/cpu_profile_model.dart
  packages/devtools_app/lib/src/screens/vm_developer/process_memory/process_memory_view.dart
  packages/devtools_app/lib/src/screens/vm_developer/vm_developer_common_widgets.dart
  packages/devtools_app/lib/src/shared/console/console.dart
  packages/devtools_app/lib/src/shared/environment_parameters/environment_parameters_external.dart
  packages/devtools_app/lib/src/shared/server/server_api_client.dart
  packages/devtools_app/lib/src/shared/ui/side_panel.dart
  packages/devtools_app/lib/src/shared/utils/utils.dart
  packages/devtools_app/test/test_infra/fixtures/flutter_app/lib/src/autocomplete.dart
  packages/devtools_app/test/test_infra/scenes/standalone_ui/editor_service/simulated_editor.dart
  pubspec.lock
  pubspec.yaml
Owners: @flutter/devtools-reviewers, @kenzieschmoll, @bkonyi

Add DAP variable value tooltip for overflowing debugger rows
  packages/devtools_app/lib/src/shared/console/widgets/display_provider.dart
Owners: @flutter/devtools-reviewers

Fix bug with the `dt update-version` tool
  pubspec.lock
  tool/lib/commands/update_version.dart
  tool/test/update_version_test.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

fix issues
  tool/lib/commands/presubmit.dart
  tool/test/update_version_test.dart
  tool/test/validate_skills_test.dart
Owners: @kenzieschmoll
