Repository flutter/devtools, changes with the owners that CODEOWNERS names for each.
All owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

Change Flutter version again
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

Change Flutter version again
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

Fix method table lifecycle
  packages/devtools_app/lib/src/screens/profiler/panes/method_table/method_table_controller.dart
Owners: @kenzieschmoll, @bkonyi

Add a comment about TextPainter etiquette
  packages/devtools_app/lib/src/shared/charts/chart.dart
Owners: @flutter/devtools-reviewers

Update Flutter candidate version
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

Update Flutter candidate version
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

Go back to previous Flutter candidate version
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

Last passing Flutter version
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

Prepare for release 2.44.0 (#8965)
  flutter-candidate.txt
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: @flutter/devtools-reviewers

Address memory leaks with search and filter code (#8975)
  packages/devtools_app/lib/src/framework/scaffold/status_line.dart
  packages/devtools_app/lib/src/screens/app_size/app_size_screen.dart
  packages/devtools_app/lib/src/screens/debugger/codeview.dart
  packages/devtools_app/lib/src/screens/debugger/file_search.dart
  packages/devtools_app/lib/src/screens/inspector/inspector_screen_body.dart
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_screen_body.dart
  packages/devtools_app/lib/src/screens/logging/logging_controller.dart
  packages/devtools_app/lib/src/screens/network/network_controller.dart
  packages/devtools_app/lib/src/screens/profiler/cpu_profiler_controller.dart
  packages/devtools_app/lib/src/screens/profiler/panes/method_table/method_table_controller.dart
  packages/devtools_app/lib/src/shared/charts/flame_chart.dart
  packages/devtools_app/lib/src/shared/console/widgets/evaluate.dart
  packages/devtools_app/lib/src/shared/framework/routing.dart
  packages/devtools_app/lib/src/shared/table/_table_row.dart
  packages/devtools_app/lib/src/shared/ui/common_widgets.dart
  packages/devtools_app/lib/src/shared/ui/filter.dart
  packages/devtools_app/lib/src/shared/ui/search.dart
  packages/devtools_app/lib/src/shared/utils/utils.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/test/shared/ui/filter_test.dart
Owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

Update DevTools to 2.45.0-dev.0
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/release_notes/images/network_controls.png
  packages/devtools_app/release_notes/images/network_open_save_button.png
Owners: @flutter/devtools-reviewers

Add a comment about TextPainter etiquette (#8979)
  packages/devtools_app/lib/src/shared/charts/chart.dart
Owners: @flutter/devtools-reviewers

Format the integration_test README
  packages/devtools_app/integration_test/README.md
Owners: @flutter/devtools-reviewers

Fix a bug with the review history on disconnect experience
  packages/devtools_app/lib/src/app.dart
  packages/devtools_app/lib/src/shared/framework/screen_controllers.dart
  packages/devtools_app/lib/src/shared/offline/offline_data.dart
Owners: @flutter/devtools-reviewers

Update DevTools to 2.45.0-dev.0
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/release_notes/images/network_controls.png
  packages/devtools_app/release_notes/images/network_open_save_button.png
Owners: @flutter/devtools-reviewers

Tests
  packages/devtools_app/test/shared/framework/screen_controllers_test.dart
Owners: @flutter/devtools-reviewers

rnotes
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Format the integration_test README (#8984)
  packages/devtools_app/integration_test/README.md
Owners: @flutter/devtools-reviewers

formatting
  packages/devtools_app/lib/src/shared/framework/screen_controllers.dart
  packages/devtools_app/test/shared/framework/screen_controllers_test.dart
Owners: @flutter/devtools-reviewers

Fix a bug with the review history on disconnect experience (#8985)
  packages/devtools_app/lib/src/app.dart
  packages/devtools_app/lib/src/shared/framework/screen_controllers.dart
  packages/devtools_app/lib/src/shared/offline/offline_data.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/test/shared/framework/screen_controllers_test.dart
Owners: @flutter/devtools-reviewers

Refactor BannerMessages to use widgets instead of data classes
  packages/devtools_app/lib/src/extensions/embedded/_view_web.dart
  packages/devtools_app/lib/src/screens/performance/panes/flutter_frames/flutter_frames_chart.dart
  packages/devtools_app/lib/src/shared/managers/banner_messages.dart
  packages/devtools_app/lib/src/shared/ui/vm_flag_widgets.dart
  packages/devtools_app/test/shared/managers/banner_messages_test.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

fix lints
  packages/devtools_app/lib/src/screens/debugger/debugger_screen.dart
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_screen_body.dart
  packages/devtools_app/lib/src/screens/memory/framework/screen_body.dart
  packages/devtools_app/lib/src/screens/performance/performance_screen.dart
  packages/devtools_app/lib/src/screens/profiler/profiler_screen.dart
  packages/devtools_app/lib/src/shared/managers/banner_messages.dart
Owners: @elliette, @flutter/devtools-reviewers, @bkonyi, @kenzieschmoll

Refactor BannerMessages to use widgets instead of data classes (#8987)
  packages/devtools_app/lib/src/extensions/embedded/_view_web.dart
  packages/devtools_app/lib/src/screens/debugger/debugger_screen.dart
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_screen_body.dart
  packages/devtools_app/lib/src/screens/memory/framework/screen_body.dart
  packages/devtools_app/lib/src/screens/performance/panes/flutter_frames/flutter_frames_chart.dart
  packages/devtools_app/lib/src/screens/performance/performance_screen.dart
  packages/devtools_app/lib/src/screens/profiler/profiler_screen.dart
  packages/devtools_app/lib/src/shared/managers/banner_messages.dart
  packages/devtools_app/lib/src/shared/ui/vm_flag_widgets.dart
  packages/devtools_app/test/shared/managers/banner_messages_test.dart
Owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

Updating from 2.45.0-dev.0 to 2.45.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Add `MemoryObserver` to monitor the memory usage of DevTools
  packages/devtools_app/lib/src/app.dart
  packages/devtools_app/lib/src/framework/framework_core.dart
  packages/devtools_app/lib/src/framework/observer/_memory_desktop.dart
  packages/devtools_app/lib/src/framework/observer/_memory_web.dart
  packages/devtools_app/lib/src/framework/observer/disconnect_observer.dart
  packages/devtools_app/lib/src/framework/observer/memory_observer.dart
  packages/devtools_app/lib/src/shared/analytics/constants.dart
  packages/devtools_app/lib/src/shared/feature_flags.dart
  packages/devtools_app/lib/src/shared/managers/banner_messages.dart
  packages/devtools_app/test/framework/observer/disconnect_observer_test.dart
  packages/devtools_app/test/framework/observer/memory_observer_test.dart
Owners: @flutter/devtools-reviewers

formatting
  packages/devtools_app/lib/src/framework/observer/_memory_web.dart
  packages/devtools_app/lib/src/shared/feature_flags.dart
  packages/devtools_app/lib/src/shared/managers/banner_messages.dart
Owners: @flutter/devtools-reviewers

make web extensions private
  packages/devtools_app/lib/src/framework/observer/_memory_web.dart
Owners: @flutter/devtools-reviewers

observer comments
  packages/devtools_app/lib/src/framework/observer/_memory_web.dart
  packages/devtools_app/lib/src/framework/observer/memory_observer.dart
  packages/devtools_app/test/framework/observer/memory_observer_test.dart
Owners: @flutter/devtools-reviewers

test fixes and formatting
  packages/devtools_app/lib/src/framework/observer/_memory_web.dart
  packages/devtools_app/lib/src/framework/observer/memory_observer.dart
  packages/devtools_app/test/framework/observer/memory_observer_test.dart
Owners: @flutter/devtools-reviewers

Support non-experimental LSP APIs
  packages/devtools_app/lib/src/shared/editor/editor_client.dart
Owners: @flutter/devtools-reviewers

Conditionally resume isolate on initialization
  packages/devtools_app/lib/src/screens/debugger/breakpoint_manager.dart
Owners: @elliette

Update isolate ref id
  packages/devtools_app/lib/src/screens/debugger/breakpoint_manager.dart
Owners: @elliette

Updating from 2.45.0-dev.0 to 2.45.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Add support for universal banner messages
  packages/devtools_app/lib/src/shared/managers/banner_messages.dart
  packages/devtools_app/test/shared/managers/banner_messages_test.dart
Owners: @flutter/devtools-reviewers

Tidy some code in the integration testing. Namely:
  packages/devtools_app/integration_test/test_infra/run/_test_app_driver.dart
  packages/devtools_app/integration_test/test_infra/run/run_test.dart
  packages/devtools_shared/lib/src/test/integration_test_runner.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll, @bkonyi

formatting
  packages/devtools_app/lib/src/shared/managers/banner_messages.dart
Owners: @flutter/devtools-reviewers

review comments
  packages/devtools_app/test/shared/managers/banner_messages_test.dart
Owners: @flutter/devtools-reviewers

Add support for universal banner messages (#8995)
  packages/devtools_app/lib/src/shared/managers/banner_messages.dart
  packages/devtools_app/test/shared/managers/banner_messages_test.dart
Owners: @flutter/devtools-reviewers

merge and fix issue
  packages/devtools_app/lib/src/framework/observer/memory_observer.dart
Owners: @flutter/devtools-reviewers

rename
  packages/devtools_app/lib/src/shared/managers/banner_messages.dart
  packages/devtools_app/test/shared/managers/banner_messages_test.dart
Owners: @flutter/devtools-reviewers

CODEOWNERS:

*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @elliette

# Network Files
network/            @bkonyi @kenzieschmoll

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll @bkonyi

# Memory files
memory/             @bkonyi @kenzieschmoll

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @kenzieschmoll

# DevTools extensions and related files
src/extensions/
packages/devtools_extensions/    @kenzieschmoll
packages/devtools_app_shared/    @kenzieschmoll

# package:devtools_shared code, which is used across DevTools and the Dart SDK
packages/devtools_shared/        @kenzieschmoll @bkonyi

# Version bump files.
# No owners to prevent version update spam
packages/devtools_app/lib/devtools.dart
packages/devtools_app/pubspec.yaml
packages/devtools_test/pubspec.yaml
