Repository flutter/devtools, changes with the owners that CODEOWNERS names for each.
All owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

CODEOWNERS:

*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @elliette

# Network Files
network/            @bkonyi @kenzieschmoll

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll @bkonyi

# Memory files
memory/             @bkonyi @kenzieschmoll

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @kenzieschmoll

# DevTools extensions and related files
src/extensions/
packages/devtools_extensions/    @kenzieschmoll
packages/devtools_app_shared/    @kenzieschmoll

# package:devtools_shared code, which is used across DevTools and the Dart SDK
packages/devtools_shared/        @kenzieschmoll @bkonyi

# Version bump files.
# No owners to prevent version update spam
packages/devtools_app/lib/devtools.dart
packages/devtools_app/pubspec.yaml
packages/devtools_test/pubspec.yaml

Updating from 2.51.0-dev.0 to 2.51.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Make benchmarks unrealistic
  packages/devtools_app/benchmark/devtools_benchmarks_test.dart
Owners: @flutter/devtools-reviewers

Fix unsupported devices not showing "Enable x" if there are no other devices (#9428)
  packages/devtools_app/lib/src/standalone_ui/vs_code/devices.dart
Owners: @flutter/devtools-reviewers

Updating from 2.51.0-dev.0 to 2.51.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.51.0-dev.0 to 2.51.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.51.0-dev.0 to 2.51.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Scaffolding for FlutterChannelFeatureFlag option
  packages/devtools_app/lib/src/shared/feature_flags.dart
  packages/devtools_app/lib/src/shared/framework/screen.dart
  packages/devtools_app/lib/src/shared/ui/utils.dart
  packages/devtools_app/test/shared/primitives/enum_utils_test.dart
  packages/devtools_app/test/shared/primitives/feature_flags_test.dart
  packages/devtools_app_shared/lib/src/service/flutter_version.dart
  packages/devtools_app_shared/lib/src/utils/enum_utils.dart
  packages/devtools_app_shared/lib/utils.dart
  packages/devtools_app_shared/test/service/flutter_version_test.dart
  packages/devtools_shared/lib/src/utils/semantic_version.dart
  packages/devtools_test/lib/src/mocks/mocks.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll, @bkonyi

For boolean flags, use flagName.isEnabled
  packages/devtools_app/lib/src/app.dart
  packages/devtools_app/lib/src/framework/framework_core.dart
  packages/devtools_app/lib/src/framework/scaffold/scaffold.dart
  packages/devtools_app/lib/src/framework/scaffold/settings_dialog.dart
  packages/devtools_app/lib/src/screens/app_size/app_size_controller.dart
  packages/devtools_app/lib/src/screens/debugger/debugger_controller.dart
  packages/devtools_app/lib/src/screens/debugger/variables.dart
  packages/devtools_app/lib/src/screens/inspector_shared/inspector_controls.dart
  packages/devtools_app/lib/src/screens/inspector_shared/inspector_screen.dart
  packages/devtools_app/lib/src/screens/inspector_shared/inspector_settings_dialog.dart
  packages/devtools_app/lib/src/screens/logging/logging_controller.dart
  packages/devtools_app/lib/src/screens/memory/framework/memory_controller.dart
  packages/devtools_app/lib/src/screens/memory/panes/control/widgets/secondary_controls.dart
  packages/devtools_app/lib/src/screens/network/network_controller.dart
  packages/devtools_app/lib/src/screens/network/network_screen.dart
  packages/devtools_app/lib/src/screens/performance/performance_controller.dart
  packages/devtools_app/lib/src/screens/profiler/profiler_screen_controller.dart
  packages/devtools_app/lib/src/service/vm_service_wrapper.dart
  packages/devtools_app/lib/src/shared/preferences/preferences.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_controller.dart
Owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

Get tests working with setValueForTest
  packages/devtools_app/test/framework/observer/memory_observer_test.dart
  packages/devtools_app/test/screens/cpu_profiler/profiler_screen_controller_test.dart
  packages/devtools_app/test/screens/debugger/debugger_screen_dap_variables_test.dart
  packages/devtools_app/test/screens/logging/logging_controller_test.dart
  packages/devtools_app/test/screens/memory/framework/memory_controller_test.dart
  packages/devtools_app/test/standalone_ui/ide_shared/property_editor/property_editor_test.dart
Owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

Clean up tests
  packages/devtools_app/test/framework/home_screen_test.dart
  packages/devtools_app/test/framework/scaffold/about_dialog_test.dart
  packages/devtools_app/test/framework/scaffold/scaffold_debugger_test.dart
  packages/devtools_app/test/framework/scaffold/scaffold_debugging_controls_test.dart
  packages/devtools_app/test/framework/scaffold/scaffold_profile_test.dart
  packages/devtools_app/test/screens/cpu_profiler/profiler_screen_test.dart
  packages/devtools_app/test/screens/debugger/debugger_codeview_statistics_test.dart
  packages/devtools_app/test/screens/debugger/debugger_codeview_test.dart
  packages/devtools_app/test/screens/debugger/debugger_screen_breakpoints_test.dart
  packages/devtools_app/test/screens/debugger/debugger_screen_call_stack_test.dart
  packages/devtools_app/test/screens/debugger/debugger_screen_dap_variables_test.dart
  packages/devtools_app/test/screens/debugger/debugger_screen_explorer_visibility_test.dart
  packages/devtools_app/test/screens/debugger/debugger_screen_paused_test.dart
  packages/devtools_app/test/screens/debugger/debugger_screen_test.dart
  packages/devtools_app/test/screens/debugger/debugger_screen_variables_test.dart
  packages/devtools_app/test/screens/debugger/debugger_scripts_test.dart
  packages/devtools_app/test/screens/debugger/program_explorer_test.dart
  packages/devtools_app/test/screens/inspector/inspector_screen_test.dart
  packages/devtools_app/test/screens/inspector/inspector_tree_test.dart
  packages/devtools_app/test/screens/inspector_v2/inspector_screen_test.dart
  packages/devtools_app/test/screens/inspector_v2/inspector_tree_test.dart
  packages/devtools_app/test/screens/memory/framework/memory_controller_test.dart
  packages/devtools_app/test/screens/memory/tracing/tracing_view_test.dart
  packages/devtools_app/test/screens/performance/controls/performance_controls_test.dart
  packages/devtools_app/test/screens/performance/flutter_frames/flutter_frames_chart_test.dart
  packages/devtools_app/test/screens/performance/frame_analysis/frame_analysis_test.dart
  packages/devtools_app/test/screens/performance/frame_analysis/frame_hints_test.dart
  packages/devtools_app/test/screens/performance/performance_controller_test.dart
  packages/devtools_app/test/screens/performance/performance_screen_test.dart
  packages/devtools_app/test/screens/performance/tabbed_performance_view_test.dart
  packages/devtools_app/test/service/connection_info_test.dart
  packages/devtools_app/test/shared/charts/flame_chart_test.dart
  packages/devtools_app/test/shared/ui/vm_flag_widgets_test.dart
  packages/devtools_app/test/test_infra/scenes/cpu_profiler/default.dart
  packages/devtools_app/test/test_infra/scenes/memory/default.dart
  packages/devtools_app/test/test_infra/scenes/memory/diff_snapshot.dart
  packages/devtools_test/lib/src/mocks/fake_service_manager.dart
Owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

Formatting
  packages/devtools_app/lib/src/screens/inspector_shared/inspector_controls.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_controller.dart
  packages/devtools_app/test/service/connection_info_test.dart
  packages/devtools_app/test/shared/charts/flame_chart_test.dart
  packages/devtools_app/test/test_infra/scenes/cpu_profiler/default.dart
  packages/devtools_app/test/test_infra/scenes/memory/default.dart
Owners: @flutter/devtools-reviewers, @bkonyi, @kenzieschmoll

Clean up
  packages/devtools_app/lib/src/shared/feature_flags.dart
  packages/devtools_app/test/framework/observer/memory_observer_test.dart
  packages/devtools_app/test/screens/cpu_profiler/profiler_screen_controller_test.dart
  packages/devtools_app/test/screens/debugger/debugger_screen_dap_variables_test.dart
  packages/devtools_app/test/screens/logging/logging_controller_test.dart
  packages/devtools_app/test/screens/memory/framework/memory_controller_test.dart
  packages/devtools_app/test/shared/primitives/feature_flags_test.dart
  packages/devtools_app/test/standalone_ui/ide_shared/property_editor/property_editor_test.dart
  packages/devtools_app_shared/lib/src/service/flutter_version.dart
Owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

Make flags final
  packages/devtools_app/lib/src/shared/feature_flags.dart
Owners: @flutter/devtools-reviewers

Updating from 2.51.0-dev.0 to 2.51.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Fix alignment of icons and links in DevTools footer (#9432)
  packages/devtools_app/lib/src/shared/ui/common_widgets.dart
Owners: @flutter/devtools-reviewers

Respond to PR comments and fix tests
  packages/devtools_app/lib/src/shared/feature_flags.dart
  packages/devtools_app/test/framework/scaffold/scaffold_profile_test.dart
  packages/devtools_app/test/screens/performance/controls/performance_controls_test.dart
  packages/devtools_app/test/shared/primitives/feature_flags_test.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

Updating from 2.51.0-dev.0 to 2.51.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.51.0-dev.0 to 2.51.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.51.0-dev.0 to 2.51.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.51.0-dev.0 to 2.51.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.51.0-dev.0 to 2.51.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Remove memoryObserver feature flag
  packages/devtools_app/lib/src/framework/framework_core.dart
  packages/devtools_app/lib/src/screens/app_size/app_size_controller.dart
  packages/devtools_app/lib/src/screens/logging/logging_controller.dart
  packages/devtools_app/lib/src/screens/memory/framework/memory_controller.dart
  packages/devtools_app/lib/src/screens/network/network_controller.dart
  packages/devtools_app/lib/src/screens/performance/performance_controller.dart
  packages/devtools_app/lib/src/screens/profiler/profiler_screen_controller.dart
  packages/devtools_app/lib/src/shared/feature_flags.dart
  packages/devtools_app/test/framework/observer/memory_observer_test.dart
  packages/devtools_app/test/screens/cpu_profiler/profiler_screen_controller_test.dart
  packages/devtools_app/test/screens/logging/logging_controller_test.dart
  packages/devtools_app/test/screens/memory/framework/memory_controller_test.dart
  packages/devtools_app/test/shared/primitives/feature_flags_test.dart
Owners: @flutter/devtools-reviewers, @bkonyi, @kenzieschmoll

Clean up
  packages/devtools_app/lib/src/framework/framework_core.dart
Owners: @flutter/devtools-reviewers

Updating from 2.51.0-dev.0 to 2.51.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.51.0-dev.0 to 2.51.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.51.0-dev.0 to 2.51.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.51.0-dev.0 to 2.51.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.51.0-dev.0 to 2.51.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.51.0-dev.0 to 2.51.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Export dtd.dart in dtd_manager.dart
  packages/devtools_app_shared/lib/src/service/dtd_manager.dart
Owners: @kenzieschmoll

Update changelog
  packages/devtools_app_shared/CHANGELOG.md
Owners: @kenzieschmoll

Updating from 2.51.0-dev.0 to 2.51.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.51.0-dev.0 to 2.51.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Replace the release diagram screenshot with a mermaid diagram
  tool/RELEASE_INSTRUCTIONS.md
  tool/_markdown_images/release_diagram.png
Owners: @kenzieschmoll

fix flowchart syntax
  tool/RELEASE_INSTRUCTIONS.md
Owners: @kenzieschmoll

put arrows back
  tool/RELEASE_INSTRUCTIONS.md
Owners: @kenzieschmoll

try to fix inline markdown
  tool/RELEASE_INSTRUCTIONS.md
Owners: @kenzieschmoll

one more try
  tool/RELEASE_INSTRUCTIONS.md
Owners: @kenzieschmoll

getting closer
  tool/RELEASE_INSTRUCTIONS.md
Owners: @kenzieschmoll

try a link
  tool/RELEASE_INSTRUCTIONS.md
Owners: @kenzieschmoll
