Repository flutter/devtools, changes with the owners that CODEOWNERS names for each.
All owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

fix isolate selector color issue
  packages/devtools_app/lib/src/framework/scaffold/status_line.dart
Owners: @flutter/devtools-reviewers

Update status_line.dart
  packages/devtools_app/lib/src/framework/scaffold/status_line.dart
Owners: @flutter/devtools-reviewers

tweaks
  packages/devtools_app/lib/src/framework/scaffold/status_line.dart
Owners: @flutter/devtools-reviewers

Combine the pause and resume buttons in the debugger
  packages/devtools_app/lib/src/screens/debugger/controls.dart
  packages/devtools_app/lib/src/shared/ui/common_widgets.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @elliette, @flutter/devtools-reviewers

Initialize analytics metrics before framework initialization (#9092)
  packages/devtools_app/lib/initialization.dart
  packages/devtools_app/lib/src/app.dart
  packages/devtools_app/lib/src/framework/framework_core.dart
Owners: @flutter/devtools-reviewers

Remove workaround from Property Editor
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_view.dart
Owners: @flutter/devtools-reviewers

Fixed test and goldens.
  packages/devtools_app/lib/src/screens/debugger/controls.dart
  packages/devtools_app/test/screens/debugger/debugger_screen_paused_test.dart
  packages/devtools_app/test/screens/debugger/debugger_screen_test.dart
  packages/devtools_app/test/test_infra/goldens/codeview_scrollbars.png
  packages/devtools_app/test/test_infra/goldens/memory/load_offline_data_profile_tab.png
Owners: @elliette, @flutter/devtools-reviewers, @bkonyi, @kenzieschmoll

fix isolate selector color issue (#9094)
  packages/devtools_app/lib/src/framework/scaffold/status_line.dart
Owners: @flutter/devtools-reviewers

WIP
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_controller.dart
  packages/devtools_app/lib/src/shared/managers/error_badge_manager.dart
Owners: @flutter/devtools-reviewers

Add footer for documentation / filing a bug
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_panel.dart
Owners: @flutter/devtools-reviewers

Clean up
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_panel.dart
Owners: @flutter/devtools-reviewers

Update Flutter version
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

Better error handling
  packages/devtools_app/lib/src/shared/analytics/constants/_property_editor_sidebar_constants.dart
  packages/devtools_app/lib/src/shared/editor/api_classes.dart
  packages/devtools_app/lib/src/shared/editor/editor_client.dart
Owners: @flutter/devtools-reviewers

Clean up
  packages/devtools_app/lib/src/shared/analytics/constants/_property_editor_sidebar_constants.dart
Owners: @flutter/devtools-reviewers

Ignore discarded_futures
  analysis_options.yaml
Owners: @flutter/devtools-reviewers

Update release notes
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Fix silly little bug
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_controller.dart
Owners: @flutter/devtools-reviewers

Stop reporting error to user
  packages/devtools_app/lib/src/screens/debugger/codeview_controller.dart
Owners: @elliette

Working, has tests and TODOs
  packages/devtools_app/lib/src/framework/scaffold/scaffold.dart
  packages/devtools_app/lib/src/screens/inspector/inspector_controller.dart
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_controller.dart
  packages/devtools_app/lib/src/screens/logging/logging_controller.dart
  packages/devtools_app/lib/src/screens/network/network_controller.dart
  packages/devtools_app/lib/src/screens/performance/performance_controller.dart
  packages/devtools_app/lib/src/shared/managers/error_badge_manager.dart
  packages/devtools_app/test/shared/managers/error_badge_manager_test.dart
Owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

Fix test
  packages/devtools_app/test/shared/managers/error_badge_manager_test.dart
Owners: @flutter/devtools-reviewers

Updating from 2.45.0-dev.0 to 2.45.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Update release notes
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

[Property Editor] Create a better key for text inputs (#9103)
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_controller.dart
Owners: @flutter/devtools-reviewers

Update Flutter version (#9100)
  analysis_options.yaml
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

Remove test case
  packages/devtools_app/test/screens/debugger/debugger_scripts_test.dart
Owners: @elliette

Combine the pause and resume buttons in the debugger (#9095)
  packages/devtools_app/lib/src/screens/debugger/controls.dart
  packages/devtools_app/lib/src/shared/ui/common_widgets.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/test/screens/debugger/debugger_screen_paused_test.dart
  packages/devtools_app/test/screens/debugger/debugger_screen_test.dart
  packages/devtools_app/test/test_infra/goldens/codeview_scrollbars.png
  packages/devtools_app/test/test_infra/goldens/memory/load_offline_data_profile_tab.png
Owners: @elliette, @flutter/devtools-reviewers, @bkonyi, @kenzieschmoll

Inspector tree errors are removed on hot-reloads (#9106)
  packages/devtools_app/lib/src/framework/scaffold/scaffold.dart
  packages/devtools_app/lib/src/screens/inspector/inspector_controller.dart
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_controller.dart
  packages/devtools_app/lib/src/screens/logging/logging_controller.dart
  packages/devtools_app/lib/src/screens/network/network_controller.dart
  packages/devtools_app/lib/src/screens/performance/performance_controller.dart
  packages/devtools_app/lib/src/shared/managers/error_badge_manager.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/test/shared/managers/error_badge_manager_test.dart
Owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

Don't report error to user if script parsing fails (#9104)
  packages/devtools_app/lib/src/screens/debugger/codeview_controller.dart
  packages/devtools_app/test/screens/debugger/debugger_scripts_test.dart
Owners: @elliette

Textfield focus issue workaround (#9091)
  packages/devtools_app/lib/src/app.dart
  packages/devtools_app/lib/src/shared/utils/_focus_utils_desktop.dart
  packages/devtools_app/lib/src/shared/utils/_focus_utils_web.dart
  packages/devtools_app/lib/src/shared/utils/focus_utils.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_view.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/utils/_utils_web.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/utils/utils.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

[Property Editor] Add a footer for opening documentation / reporting errors (#9099)
  packages/devtools_app/lib/src/shared/analytics/constants/_property_editor_sidebar_constants.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_panel.dart
Owners: @flutter/devtools-reviewers

Use finally
  packages/devtools_app/lib/src/shared/editor/editor_client.dart
Owners: @flutter/devtools-reviewers

[Property Editor] Better error handling (#9101)
  packages/devtools_app/lib/src/shared/analytics/constants/_property_editor_sidebar_constants.dart
  packages/devtools_app/lib/src/shared/editor/api_classes.dart
  packages/devtools_app/lib/src/shared/editor/editor_client.dart
Owners: @flutter/devtools-reviewers

Prepare for release 2.45.0
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

update flutter candidate version
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

revert flutter candidate change
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

Prepare for release 2.45.0 (#9110)
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Enable lint
  analysis_options.yaml
Owners: @flutter/devtools-reviewers

Add safeUnawaited method
  packages/devtools_app/lib/src/shared/utils/utils.dart
Owners: @flutter/devtools-reviewers

Updating from 2.45.0 to 2.46.0-dev.0
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Bump DevTools version for next minor version.
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

CODEOWNERS:

*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @elliette

# Network Files
network/            @bkonyi @kenzieschmoll

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll @bkonyi

# Memory files
memory/             @bkonyi @kenzieschmoll

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @kenzieschmoll

# DevTools extensions and related files
src/extensions/
packages/devtools_extensions/    @kenzieschmoll
packages/devtools_app_shared/    @kenzieschmoll

# package:devtools_shared code, which is used across DevTools and the Dart SDK
packages/devtools_shared/        @kenzieschmoll @bkonyi

# Version bump files.
# No owners to prevent version update spam
packages/devtools_app/lib/devtools.dart
packages/devtools_app/pubspec.yaml
packages/devtools_test/pubspec.yaml
