Repository flutter/devtools, changes with the owners that CODEOWNERS names for each.
All owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

CODEOWNERS:

*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @elliette

# Network Files
network/            @bkonyi @kenzieschmoll

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll @bkonyi

# Memory files
memory/             @bkonyi @kenzieschmoll

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @kenzieschmoll

# DevTools extensions and related files
src/extensions/
packages/devtools_extensions/    @kenzieschmoll
packages/devtools_app_shared/    @kenzieschmoll

# package:devtools_shared code, which is used across DevTools and the Dart SDK
packages/devtools_shared/        @kenzieschmoll @bkonyi

# Version bump files.
# No owners to prevent version update spam
packages/devtools_app/lib/devtools.dart
packages/devtools_app/pubspec.yaml
packages/devtools_test/pubspec.yaml

unused parameter
  packages/devtools_app/lib/src/framework/scaffold/app_bar.dart
Owners: @flutter/devtools-reviewers

Fix position and width of "error count" badge in Network in app bar (#9470)
  packages/devtools_app/lib/src/framework/scaffold/app_bar.dart
  packages/devtools_app/lib/src/shared/framework/screen.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Added tests, addressed todo
  packages/devtools_app/lib/src/screens/network/utils/http_utils.dart
  packages/devtools_app/lib/src/shared/http/http_request_data.dart
  packages/devtools_app/test/screens/network/utils/network_test_utils.dart
  packages/devtools_app/test/screens/network/utils_test.dart
Owners: @bkonyi, @kenzieschmoll, @flutter/devtools-reviewers

Disable screens not compatible with DWDS websocket mode
  packages/devtools_app/lib/src/shared/framework/screen.dart
  packages/devtools_app_shared/lib/src/service/connected_app.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

Fix tests
  packages/devtools_app/test/shared/framework/visible_screens_test.dart
  packages/devtools_test/lib/src/mocks/mocks.dart
Owners: @flutter/devtools-reviewers

Add missing parameter
  packages/devtools_app/test/shared/framework/visible_screens_test.dart
Owners: @flutter/devtools-reviewers

Address comments
  packages/devtools_app/lib/src/shared/framework/screen.dart
Owners: @flutter/devtools-reviewers

Increase WebDriver timeouts to address integration test flakiness (#9475)
  packages/devtools_app/test_driver/integration_test.dart
Owners: @flutter/devtools-reviewers

Column widths are now resizable
  packages/devtools_app/lib/src/shared/table/_table_row.dart
  packages/devtools_app/lib/src/shared/table/table.dart
Owners: @flutter/devtools-reviewers

Resize columns based on table width
  packages/devtools_app/lib/src/shared/table/table.dart
Owners: @flutter/devtools-reviewers

Add a horizontal scrollbar
  packages/devtools_app/lib/src/shared/table/_table_row.dart
  packages/devtools_app/lib/src/shared/table/table.dart
Owners: @flutter/devtools-reviewers

Remove linkedScrollControllerGroup
  packages/devtools_app/lib/src/shared/table/_flat_table.dart
  packages/devtools_app/lib/src/shared/table/_table_column.dart
  packages/devtools_app/lib/src/shared/table/_table_row.dart
  packages/devtools_app/lib/src/shared/table/_tree_table.dart
  packages/devtools_app/lib/src/shared/table/table.dart
Owners: @flutter/devtools-reviewers

Move horizontal scrollbar to controller
  packages/devtools_app/lib/src/shared/table/table.dart
  packages/devtools_app/lib/src/shared/table/table_controller.dart
Owners: @flutter/devtools-reviewers

Clean up
  packages/devtools_app/lib/src/shared/table/table.dart
Owners: @flutter/devtools-reviewers

Respect variable column widths
  packages/devtools_app/lib/src/shared/table/table.dart
Owners: @flutter/devtools-reviewers

Test fixes
  packages/devtools_app/test/shared/table/table_test.dart
  packages/devtools_app/test/test_infra/goldens/memory/load_offline_data_profile_tab.png
  packages/devtools_app/test/test_infra/goldens/memory/load_offline_data_trace_tab.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_empty1.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_empty2.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_selected_class.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_custom_diff.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_except_diff.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_except_single.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_only_diff.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_scene_diff.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_scene_single.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_showAll_diff.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_showAll_single.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_three_snapshots1.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_three_snapshots2.png
Owners: @flutter/devtools-reviewers, @bkonyi, @kenzieschmoll

Update release notes
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Fix column group headers
  packages/devtools_app/lib/src/shared/table/_table_column.dart
  packages/devtools_app/lib/src/shared/table/_table_row.dart
  packages/devtools_app/lib/src/shared/table/table.dart
Owners: @flutter/devtools-reviewers

Fix memory profile view
  packages/devtools_app/lib/src/screens/memory/panes/profile/profile_view.dart
  packages/devtools_app/lib/src/shared/table/_flat_table.dart
  packages/devtools_app/lib/src/shared/table/table.dart
Owners: @bkonyi, @kenzieschmoll, @flutter/devtools-reviewers

Revert "Fix memory profile view"
  packages/devtools_app/lib/src/screens/memory/panes/profile/profile_view.dart
  packages/devtools_app/lib/src/shared/table/_flat_table.dart
  packages/devtools_app/lib/src/shared/table/table.dart
Owners: @bkonyi, @kenzieschmoll, @flutter/devtools-reviewers

Revert "Fix column group headers"
  packages/devtools_app/lib/src/shared/table/_table_column.dart
  packages/devtools_app/lib/src/shared/table/_table_row.dart
  packages/devtools_app/lib/src/shared/table/table.dart
Owners: @flutter/devtools-reviewers

Not quite the fix
  packages/devtools_app/lib/src/screens/memory/panes/profile/profile_view.dart
Owners: @bkonyi, @kenzieschmoll

Missed one small code change
  packages/devtools_app/lib/src/shared/table/_table_column.dart
Owners: @flutter/devtools-reviewers

Format
  packages/devtools_app/lib/src/screens/memory/panes/profile/profile_view.dart
Owners: @bkonyi, @kenzieschmoll

Clarify web app debugging support in comments
  packages/devtools_app/lib/src/shared/framework/screen.dart
Owners: @flutter/devtools-reviewers

Update goldens
  packages/devtools_app/test/test_infra/goldens/memory/load_offline_data_profile_tab.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_empty1.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_empty2.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_custom_diff.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_except_diff.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_only_diff.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_scene_diff.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_showAll_diff.png
Owners: @bkonyi, @kenzieschmoll, @flutter/devtools-reviewers

Typo
  packages/devtools_app/lib/src/shared/table/table.dart
Owners: @flutter/devtools-reviewers

Add a horizontal scrollbar to DevTools tables (#9482)
  packages/devtools_app/lib/src/screens/memory/panes/profile/profile_view.dart
  packages/devtools_app/lib/src/shared/table/_flat_table.dart
  packages/devtools_app/lib/src/shared/table/_table_column.dart
  packages/devtools_app/lib/src/shared/table/_table_row.dart
  packages/devtools_app/lib/src/shared/table/_tree_table.dart
  packages/devtools_app/lib/src/shared/table/table.dart
  packages/devtools_app/lib/src/shared/table/table_controller.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/test/shared/table/table_test.dart
  packages/devtools_app/test/test_infra/goldens/memory/load_offline_data_trace_tab.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_empty1.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_empty2.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_selected_class.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_except_diff.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_except_single.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_scene_diff.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_scene_single.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_showAll_diff.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_showAll_single.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_three_snapshots1.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_three_snapshots2.png
Owners: @bkonyi, @kenzieschmoll, @flutter/devtools-reviewers

Static analysis fixes
  packages/devtools_app/test/shared/table/table_test.dart
Owners: @flutter/devtools-reviewers

Update table test cases
  packages/devtools_app/test/shared/table/table_test.dart
Owners: @flutter/devtools-reviewers

Fix tests and add TODO
  packages/devtools_app/lib/src/shared/table/_flat_table.dart
  packages/devtools_app/test/shared/table/table_test.dart
Owners: @flutter/devtools-reviewers

Make resizable again
  packages/devtools_app/lib/src/shared/table/table.dart
Owners: @flutter/devtools-reviewers

Add a hot reload and a hot restart step to the network screen integration test
  packages/devtools_app/integration_test/test/live_connection/network_screen_test.dart
Owners: @flutter/devtools-reviewers

Only compute column sizes on initial build
  packages/devtools_app/lib/src/shared/table/_flat_table.dart
Owners: @flutter/devtools-reviewers

Clean up
  packages/devtools_app/test/shared/table/table_test.dart
Owners: @flutter/devtools-reviewers

Disable screens not compatible with DWDS websocket mode (#9481)
  packages/devtools_app/lib/src/shared/framework/screen.dart
  packages/devtools_app/test/shared/framework/visible_screens_test.dart
  packages/devtools_app_shared/lib/src/service/connected_app.dart
  packages/devtools_test/lib/src/mocks/mocks.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

Add resizing test cases
  packages/devtools_app/test/shared/table/table_test.dart
Owners: @flutter/devtools-reviewers

Prepare filter for moving to shared
  packages/devtools_app/lib/src/shared/ui/filter.dart
Owners: @flutter/devtools-reviewers

Fix failed assertion
  packages/devtools_app/lib/src/shared/table/table.dart
  packages/devtools_app/test/shared/table/table_test.dart
Owners: @flutter/devtools-reviewers

Update next release notes
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers
