Repository flutter/devtools, changes with the owners that CODEOWNERS names for each.
All owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

CODEOWNERS:

*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @elliette

# Network Files
network/            @bkonyi @kenzieschmoll

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll @bkonyi

# Memory files
memory/             @bkonyi @kenzieschmoll

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @kenzieschmoll

# DevTools extensions and related files
src/extensions/
packages/devtools_extensions/    @kenzieschmoll
packages/devtools_app_shared/    @kenzieschmoll

# package:devtools_shared code, which is used across DevTools and the Dart SDK
packages/devtools_shared/        @kenzieschmoll @bkonyi

# Version bump files.
# No owners to prevent version update spam
packages/devtools_app/lib/devtools.dart
packages/devtools_app/pubspec.yaml
packages/devtools_test/pubspec.yaml

Fix property editor tests (#8631)
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_controller.dart
  packages/devtools_app/test/standalone_ui/ide_shared/property_editor_test.dart
Owners: @flutter/devtools-reviewers

Added some test cases
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_controller.dart
  packages/devtools_app/test/standalone_ui/ide_shared/property_editor_test.dart
Owners: @flutter/devtools-reviewers

Add test cases
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_controller.dart
  packages/devtools_app/test/standalone_ui/ide_shared/property_editor_test.dart
Owners: @flutter/devtools-reviewers

Emphasize properties provided in users code
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_panel.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_view.dart
  packages/devtools_app_shared/lib/src/ui/theme/theme.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

Make late
  packages/devtools_app/test/standalone_ui/ide_shared/property_editor_test.dart
Owners: @flutter/devtools-reviewers

Upgrade Flutter version
  flutter-candidate.txt
  packages/devtools_app/benchmark/web_bundle_size_test.dart
Owners: @flutter/devtools-reviewers

Upgrade Flutter version (#8636)
  flutter-candidate.txt
  packages/devtools_app/benchmark/web_bundle_size_test.dart
Owners: @flutter/devtools-reviewers

Can send edit requests from the Property Editor (#8632)
  packages/devtools_app/lib/src/service/editor/api_classes.dart
  packages/devtools_app/lib/src/service/editor/editor_client.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_controller.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_view.dart
  packages/devtools_app/test/standalone_ui/ide_shared/property_editor_test.dart
Owners: @flutter/devtools-reviewers

Serve command still works with --machine
  tool/lib/commands/serve.dart
Owners: @kenzieschmoll

Remove uses of deprecated `--web-renderer` option
  packages/devtools_app_shared/CHANGELOG.md
  packages/devtools_app_shared/pubspec.yaml
  packages/devtools_extensions/CHANGELOG.md
  packages/devtools_extensions/bin/_build_and_copy.dart
  packages/devtools_extensions/pubspec.yaml
  tool/lib/commands/build.dart
Owners: @kenzieschmoll

Remove unused analytics code.
  packages/devtools_app/lib/src/shared/analytics/_analytics_web.dart
Owners: @flutter/devtools-reviewers

Fix next release notes log
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/release_notes/README.md
  packages/devtools_app/release_notes/images/log_filter.png
  packages/devtools_app/release_notes/images/log_level_filter.png
  packages/devtools_app/release_notes/images/log_metadata.png
  packages/devtools_app/release_notes/images/network_filter.png
Owners: @flutter/devtools-reviewers

Remove uses of deprecated `--web-renderer` option (#8640)
  packages/devtools_app_shared/CHANGELOG.md
  packages/devtools_app_shared/pubspec.yaml
  packages/devtools_extensions/CHANGELOG.md
  packages/devtools_extensions/bin/_build_and_copy.dart
  packages/devtools_extensions/pubspec.yaml
  tool/lib/commands/build.dart
Owners: @kenzieschmoll

Remove unused analytics code. (#8641)
  packages/devtools_app/lib/src/shared/analytics/_analytics_web.dart
Owners: @flutter/devtools-reviewers

Add exception
  tool/lib/commands/serve.dart
Owners: @kenzieschmoll

Fix next release notes log (#8642)
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/release_notes/README.md
  packages/devtools_app/release_notes/images/log_filter.png
  packages/devtools_app/release_notes/images/log_level_filter.png
  packages/devtools_app/release_notes/images/log_metadata.png
  packages/devtools_app/release_notes/images/network_filter.png
Owners: @flutter/devtools-reviewers

Serve command still works with `--machine` flag (#8638)
  tool/lib/commands/serve.dart
Owners: @kenzieschmoll

Change how we determine the background colors
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_controller.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_view.dart
  packages/devtools_app_shared/lib/src/ui/theme/theme.dart
  packages/devtools_app_shared/lib/src/ui/ui_utils.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

Add side indicator
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_view.dart
  packages/devtools_app_shared/lib/src/ui/theme/theme.dart
  packages/devtools_app_shared/lib/src/ui/ui_utils.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

Remove unused import
  packages/devtools_app_shared/lib/src/ui/ui_utils.dart
Owners: @kenzieschmoll

After navigation event, select closest unchanged ancestor
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_controller.dart
Owners: @flutter/devtools-reviewers

Turn on live reloads
  packages/devtools_app/lib/src/shared/preferences/_inspector_preferences.dart
Owners: @flutter/devtools-reviewers

Update release notes
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/release_notes/images/inspector_auto_refresh_setting.png
Owners: @flutter/devtools-reviewers

Hide implementation widgets by default
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_controller.dart
Owners: @flutter/devtools-reviewers

[Inspector V2] Turn on auto-refreshes of the widget tree by default (#8646)
  packages/devtools_app/lib/src/shared/preferences/_inspector_preferences.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/release_notes/images/inspector_auto_refresh_setting.png
Owners: @flutter/devtools-reviewers

Add a TODO and comment.
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_controller.dart
Owners: @flutter/devtools-reviewers

tests fixed and goldens updated locally
  packages/devtools_app/test/screens/inspector_v2/inspector_integration_test.dart
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_errors_1_initial_load.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_errors_2_error_selected.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_hideable_widget_selected.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_hideable_widget_selected_from_search.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_implementation_widgets_collapsed.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_implementation_widgets_expanded.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_implementation_widgets_hidden.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_initial_load.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_revert_to_legacy.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_select_center.png
Owners: @flutter/devtools-reviewers

Update goldens
  packages/devtools_app/test/test_infra/goldens/codeview_scrollbars.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_errors_1_initial_load.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_errors_2_error_selected.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_hideable_widget_selected.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_hideable_widget_selected_from_search.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_implementation_widgets_collapsed.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_implementation_widgets_expanded.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_implementation_widgets_hidden.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_initial_load.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_revert_to_legacy.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_select_center.png
  packages/devtools_app/test/test_infra/goldens/memory/load_offline_data_profile_tab.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_empty1.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_empty2.png
Owners: @flutter/devtools-reviewers, @bkonyi, @kenzieschmoll

Inspector V2 opt-in by default
  packages/devtools_app/lib/src/framework/scaffold/settings_dialog.dart
  packages/devtools_app/lib/src/screens/inspector_shared/inspector_controls.dart
  packages/devtools_app/lib/src/screens/inspector_shared/inspector_screen.dart
  packages/devtools_app/lib/src/screens/inspector_shared/inspector_settings_dialog.dart
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_screen_body.dart
  packages/devtools_app/lib/src/shared/preferences/_inspector_preferences.dart
  packages/devtools_app/test/screens/inspector/inspector_integration_test.dart
  packages/devtools_app/test/screens/inspector_v2/inspector_integration_test.dart
  packages/devtools_app/test/screens/inspector_v2/inspector_screen_test.dart
Owners: @flutter/devtools-reviewers, @elliette

Switch to a banner
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_screen_body.dart
  packages/devtools_app/lib/src/shared/analytics/constants.dart
  packages/devtools_app/lib/src/shared/managers/banner_messages.dart
Owners: @flutter/devtools-reviewers

Move settings location
  packages/devtools_app/lib/src/framework/scaffold/settings_dialog.dart
  packages/devtools_app/lib/src/screens/inspector_shared/inspector_settings_dialog.dart
Owners: @flutter/devtools-reviewers

Extra spaces
  packages/devtools_app/lib/src/shared/managers/banner_messages.dart
Owners: @flutter/devtools-reviewers

Spelling
  packages/devtools_app/test/screens/inspector_v2/inspector_integration_test.dart
Owners: @flutter/devtools-reviewers

[Inspector V2] Change selected node heuristic after navigation event triggering a tree refresh (#8645)
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_controller.dart
Owners: @flutter/devtools-reviewers

[Inspector V2] Hide implementation widgets by default (#8647)
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_controller.dart
  packages/devtools_app/test/screens/inspector_v2/inspector_integration_test.dart
  packages/devtools_app/test/test_infra/goldens/codeview_scrollbars.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_errors_1_initial_load.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_errors_2_error_selected.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_hideable_widget_selected.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_hideable_widget_selected_from_search.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_implementation_widgets_collapsed.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_implementation_widgets_expanded.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_implementation_widgets_hidden.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_initial_load.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_select_center.png
  packages/devtools_app/test/test_infra/goldens/memory/load_offline_data_profile_tab.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_empty1.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_empty2.png
Owners: @flutter/devtools-reviewers, @bkonyi, @kenzieschmoll

release notes updated
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

code reformatted
  packages/devtools_app/lib/src/screens/network/har_data_entry.dart
  packages/devtools_app/lib/src/screens/network/utils/http_utils.dart
  packages/devtools_app/lib/src/shared/feature_flags.dart
  packages/devtools_app/lib/src/shared/http/constants.dart
  packages/devtools_app/lib/src/shared/http/http_request_data.dart
Owners: @bkonyi, @kenzieschmoll, @flutter/devtools-reviewers

Updating from 2.42.0-dev.1 to 2.42.0-dev.2
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.42.0-dev.1 to 2.42.0-dev.2
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.42.0-dev.1 to 2.42.0-dev.2
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none
