Repository flutter/devtools, changes with the owners that CODEOWNERS names for each.
All owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

license update - batch 5
  case_study/memory_leaks/leaking_counter_1/README.md
  case_study/memory_leaks/leaking_counter_1/analysis_options.yaml
  case_study/memory_leaks/leaking_counter_1/android/app/build.gradle
  case_study/memory_leaks/leaking_counter_1/android/app/src/debug/AndroidManifest.xml
  case_study/memory_leaks/leaking_counter_1/android/app/src/main/AndroidManifest.xml
  case_study/memory_leaks/leaking_counter_1/android/app/src/main/res/drawable-v21/launch_background.xml
  case_study/memory_leaks/leaking_counter_1/android/app/src/main/res/drawable/launch_background.xml
  case_study/memory_leaks/leaking_counter_1/android/app/src/main/res/values-night/styles.xml
  case_study/memory_leaks/leaking_counter_1/android/app/src/main/res/values/styles.xml
  case_study/memory_leaks/leaking_counter_1/android/app/src/profile/AndroidManifest.xml
  case_study/memory_leaks/leaking_counter_1/android/build.gradle
  case_study/memory_leaks/leaking_counter_1/android/settings.gradle
  case_study/memory_leaks/leaking_counter_1/ios/Runner/AppDelegate.swift
  case_study/memory_leaks/leaking_counter_1/ios/Runner/Assets.xcassets/LaunchImage.imageset/README.md
  case_study/memory_leaks/leaking_counter_1/ios/Runner/Runner-Bridging-Header.h
  case_study/memory_leaks/leaking_counter_1/lib/main.dart
  case_study/memory_leaks/leaking_counter_1/linux/main.cc
  case_study/memory_leaks/leaking_counter_1/linux/my_application.cc
  case_study/memory_leaks/leaking_counter_1/linux/my_application.h
  case_study/memory_leaks/leaking_counter_1/macos/Runner/AppDelegate.swift
  case_study/memory_leaks/leaking_counter_1/macos/Runner/MainFlutterWindow.swift
  case_study/memory_leaks/leaking_counter_1/pubspec.yaml
  case_study/memory_leaks/leaking_counter_1/test/widget_test.dart
  case_study/memory_leaks/leaking_counter_1/web/index.html
  case_study/memory_leaks/leaking_counter_1/windows/runner/flutter_window.cpp
  case_study/memory_leaks/leaking_counter_1/windows/runner/flutter_window.h
  case_study/memory_leaks/leaking_counter_1/windows/runner/main.cpp
  case_study/memory_leaks/leaking_counter_1/windows/runner/resource.h
  case_study/memory_leaks/leaking_counter_1/windows/runner/utils.cpp
  case_study/memory_leaks/leaking_counter_1/windows/runner/utils.h
  case_study/memory_leaks/leaking_counter_1/windows/runner/win32_window.cpp
  case_study/memory_leaks/leaking_counter_1/windows/runner/win32_window.h
Owners: @flutter/devtools-reviewers

Updating from 2.43.0-dev.0 to 2.43.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

license update - batch 6
  case_study/memory_leaks/memory_leak_app/README.md
  case_study/memory_leaks/memory_leak_app/android/app/build.gradle
  case_study/memory_leaks/memory_leak_app/android/app/src/main/AndroidManifest.xml
  case_study/memory_leaks/memory_leak_app/android/app/src/main/java/github/nisrulz/usingtabs/MainActivity.java
  case_study/memory_leaks/memory_leak_app/android/build.gradle
  case_study/memory_leaks/memory_leak_app/android/gradlew.bat
  case_study/memory_leaks/memory_leak_app/android/settings.gradle
  case_study/memory_leaks/memory_leak_app/ios/Runner/AppDelegate.h
  case_study/memory_leaks/memory_leak_app/lib/about.dart
  case_study/memory_leaks/memory_leak_app/lib/common.dart
  case_study/memory_leaks/memory_leak_app/lib/logging.dart
  case_study/memory_leaks/memory_leak_app/lib/main.dart
  case_study/memory_leaks/memory_leak_app/lib/restful_servers.dart
  case_study/memory_leaks/memory_leak_app/lib/tabs/http_data.dart
  case_study/memory_leaks/memory_leak_app/lib/tabs/logger.dart
  case_study/memory_leaks/memory_leak_app/lib/tabs/settings.dart
  case_study/memory_leaks/memory_leak_app/pubspec.yaml
  case_study/memory_leaks/memory_leak_app/test/widget_test.dart
Owners: @flutter/devtools-reviewers

Added logging
  packages/devtools_app/lib/src/shared/analytics/_analytics_web.dart
Owners: @flutter/devtools-reviewers

license update - batch 7
  case_study/platform_channel/README.md
  case_study/platform_channel/android/app/build.gradle
  case_study/platform_channel/android/app/src/debug/AndroidManifest.xml
  case_study/platform_channel/android/app/src/main/AndroidManifest.xml
  case_study/platform_channel/android/app/src/main/res/drawable/launch_background.xml
  case_study/platform_channel/android/app/src/main/res/values/styles.xml
  case_study/platform_channel/android/app/src/profile/AndroidManifest.xml
  case_study/platform_channel/android/build.gradle
  case_study/platform_channel/android/settings.gradle
  case_study/platform_channel/ios/Runner/AppDelegate.swift
  case_study/platform_channel/ios/Runner/Assets.xcassets/LaunchImage.imageset/README.md
  case_study/platform_channel/ios/Runner/Runner-Bridging-Header.h
  case_study/platform_channel/lib/channel_demo.dart
  case_study/platform_channel/lib/main.dart
  case_study/platform_channel/pubspec.yaml
  case_study/platform_channel/test/widget_test.dart
  case_study/platform_channel/web/index.html
Owners: @flutter/devtools-reviewers

license update - batch 8
  packages/devtools_app/README.md
  packages/devtools_app/analysis_options.yaml
  packages/devtools_app/dart_test.yaml
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/release_notes/README.md
  packages/devtools_app/release_notes/helpers/release_notes_template.md
  packages/devtools_app/test/README.md
  packages/devtools_app/test/integration_test_infra/in_file_args_test.dart
Owners: @flutter/devtools-reviewers

license update - batch 9
  packages/devtools_app/benchmark/README.md
  packages/devtools_app/benchmark/devtools_benchmarks_test.dart
  packages/devtools_app/benchmark/scripts/args.dart
  packages/devtools_app/benchmark/scripts/compare_benchmarks.dart
  packages/devtools_app/benchmark/scripts/dart2wasm_performance_diff.dart
  packages/devtools_app/benchmark/scripts/run_benchmarks.dart
  packages/devtools_app/benchmark/test_infra/automators/_cpu_profiler_automator.dart
  packages/devtools_app/benchmark/test_infra/automators/_performance_automator.dart
  packages/devtools_app/benchmark/test_infra/automators/devtools_automator.dart
  packages/devtools_app/benchmark/test_infra/client/client_js.dart
  packages/devtools_app/benchmark/test_infra/client/client_shared.dart
  packages/devtools_app/benchmark/test_infra/client/client_wasm.dart
  packages/devtools_app/benchmark/test_infra/common.dart
  packages/devtools_app/benchmark/test_infra/devtools_recorder.dart
  packages/devtools_app/benchmark/test_infra/project_root_directory.dart
  packages/devtools_app/benchmark/web_bundle_size_test.dart
Owners: @flutter/devtools-reviewers

license update - batch 10
  packages/devtools_app/integration_test/README.md
  packages/devtools_app/integration_test/run_tests.dart
  packages/devtools_app/integration_test/test/live_connection/app_test.dart
  packages/devtools_app/integration_test/test/live_connection/debugger_panel_test.dart
  packages/devtools_app/integration_test/test/live_connection/devtools_extensions_test.dart
  packages/devtools_app/integration_test/test/live_connection/eval_and_browse_test.dart
  packages/devtools_app/integration_test/test/live_connection/eval_and_inspect_test.dart
  packages/devtools_app/integration_test/test/live_connection/eval_utils.dart
  packages/devtools_app/integration_test/test/live_connection/export_snapshot_test.dart
  packages/devtools_app/integration_test/test/live_connection/memory_screen_helpers.dart
  packages/devtools_app/integration_test/test/live_connection/performance_screen_event_recording_test.dart
  packages/devtools_app/integration_test/test/live_connection/service_connection_test.dart
  packages/devtools_app/integration_test/test/live_connection/service_extensions_test.dart
  packages/devtools_app/integration_test/test/offline/memory_offline_data_test.dart
  packages/devtools_app/integration_test/test/offline/perfetto_test.dart
Owners: @flutter/devtools-reviewers

Fix V2 analytics
  packages/devtools_app/lib/src/screens/inspector/inspector_screen_body.dart
  packages/devtools_app/lib/src/screens/inspector/inspector_tree_controller.dart
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_screen_body.dart
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_tree_controller.dart
  packages/devtools_app/lib/src/service/service_extension_widgets.dart
  packages/devtools_app/lib/src/shared/analytics/_analytics_web.dart
  packages/devtools_app/lib/src/shared/analytics/metrics.dart
Owners: @elliette, @flutter/devtools-reviewers

Add event for on-device widget selection
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_controller.dart
  packages/devtools_app/lib/src/service/service_extension_widgets.dart
  packages/devtools_app/lib/src/shared/analytics/constants.dart
Owners: @flutter/devtools-reviewers

Update comment and add event to legacy inspector
  packages/devtools_app/lib/src/screens/inspector/inspector_controller.dart
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_controller.dart
Owners: @elliette, @flutter/devtools-reviewers

Add warning about non int/bool values
  packages/devtools_app/lib/src/shared/analytics/_analytics_web.dart
Owners: @flutter/devtools-reviewers

Format
  packages/devtools_app/lib/src/shared/analytics/_analytics_web.dart
Owners: @flutter/devtools-reviewers

Missed one event
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_controller.dart
Owners: @flutter/devtools-reviewers

Found one more issue with the analytics
  packages/devtools_app/lib/src/screens/inspector_shared/inspector_settings_dialog.dart
  packages/devtools_app/lib/src/shared/analytics/constants.dart
Owners: @flutter/devtools-reviewers

[Inspector V2] Fix inspector analytics (#8684)
  packages/devtools_app/lib/src/screens/inspector/inspector_controller.dart
  packages/devtools_app/lib/src/screens/inspector/inspector_screen_body.dart
  packages/devtools_app/lib/src/screens/inspector/inspector_tree_controller.dart
  packages/devtools_app/lib/src/screens/inspector_shared/inspector_settings_dialog.dart
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_controller.dart
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_screen_body.dart
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_tree_controller.dart
  packages/devtools_app/lib/src/shared/analytics/_analytics_web.dart
  packages/devtools_app/lib/src/shared/analytics/constants.dart
  packages/devtools_app/lib/src/shared/analytics/metrics.dart
Owners: @elliette, @flutter/devtools-reviewers

Updating from 2.43.0-dev.0 to 2.43.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

license update - batch 11
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/lib/devtools_app.dart
  packages/devtools_app/lib/initialization.dart
  packages/devtools_app/lib/main.dart
  packages/devtools_app/lib/src/app.dart
  packages/devtools_app/lib/src/example/conditional_screen.dart
Owners: @flutter/devtools-reviewers

Cherry-pick: [Inspector V2] Fix inspector analytics (#8684)
  packages/devtools_app/lib/src/screens/inspector/inspector_controller.dart
  packages/devtools_app/lib/src/screens/inspector/inspector_screen_body.dart
  packages/devtools_app/lib/src/screens/inspector/inspector_tree_controller.dart
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_controller.dart
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_screen_body.dart
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_tree_controller.dart
  packages/devtools_app/lib/src/shared/analytics/_analytics_web.dart
  packages/devtools_app/lib/src/shared/analytics/constants.dart
  packages/devtools_app/lib/src/shared/analytics/metrics.dart
Owners: @elliette, @flutter/devtools-reviewers

Prepare cherry-pick release - DevTools 2.40.3
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Optimize stack traces for analytics
  packages/devtools_app/lib/src/shared/analytics/_analytics_stub.dart
  packages/devtools_app/lib/src/shared/analytics/_analytics_web.dart
  packages/devtools_app/lib/src/shared/analytics/analytics_common.dart
  packages/devtools_app/lib/src/shared/framework/app_error_handling.dart
  packages/devtools_app/lib/src/shared/primitives/utils.dart
  packages/devtools_app/test/shared/analytics/analytics_test.dart
  packages/devtools_app/test/shared/primitives/utils_test.dart
Owners: @flutter/devtools-reviewers

fix test name
  packages/devtools_app/test/shared/analytics/analytics_test.dart
Owners: @flutter/devtools-reviewers

fix lint
  packages/devtools_app/lib/src/shared/analytics/analytics_common.dart
Owners: @flutter/devtools-reviewers

Bump upper bound on vm_service dependency
  packages/devtools_shared/CHANGELOG.md
  packages/devtools_shared/pubspec.yaml
Owners: @kenzieschmoll, @bkonyi

Optimize stack traces for analytics (#8687)
  packages/devtools_app/lib/src/shared/analytics/_analytics_stub.dart
  packages/devtools_app/lib/src/shared/analytics/_analytics_web.dart
  packages/devtools_app/lib/src/shared/analytics/analytics_common.dart
  packages/devtools_app/lib/src/shared/framework/app_error_handling.dart
  packages/devtools_app/lib/src/shared/primitives/utils.dart
  packages/devtools_app/test/shared/analytics/analytics_test.dart
  packages/devtools_app/test/shared/primitives/utils_test.dart
Owners: @flutter/devtools-reviewers

Bump upper bound on vm_service dependency (#8688)
  packages/devtools_shared/CHANGELOG.md
  packages/devtools_shared/pubspec.yaml
Owners: @kenzieschmoll, @bkonyi

license update - batch 12
  packages/devtools_app/lib/src/extensions/embedded/_controller_desktop.dart
  packages/devtools_app/lib/src/extensions/embedded/_controller_web.dart
  packages/devtools_app/lib/src/extensions/embedded/_view_desktop.dart
  packages/devtools_app/lib/src/extensions/embedded/_view_web.dart
  packages/devtools_app/lib/src/extensions/embedded/controller.dart
  packages/devtools_app/lib/src/extensions/embedded/view.dart
  packages/devtools_app/lib/src/extensions/extension_screen.dart
  packages/devtools_app/lib/src/extensions/extension_screen_controls.dart
  packages/devtools_app/lib/src/extensions/extension_service.dart
  packages/devtools_app/lib/src/extensions/extension_service_helpers.dart
  packages/devtools_app/lib/src/extensions/extension_settings.dart
  packages/devtools_app/test/extensions/extension_analytics_test.dart
  packages/devtools_app/test/extensions/extension_screen_test.dart
  packages/devtools_app/test/extensions/extension_service_helpers_test.dart
  packages/devtools_app/test/extensions/extension_service_test.dart
  packages/devtools_app/test/extensions/extension_settings_test.dart
Owners: @flutter/devtools-reviewers

license update - batch 13
  packages/devtools_app/lib/src/framework/README.md
  packages/devtools_app/lib/src/framework/disconnect_observer.dart
  packages/devtools_app/lib/src/framework/framework_core.dart
  packages/devtools_app/lib/src/framework/home_screen.dart
  packages/devtools_app/lib/src/framework/initializer.dart
  packages/devtools_app/lib/src/framework/notifications_view.dart
  packages/devtools_app/lib/src/framework/release_notes.dart
  packages/devtools_app/lib/src/framework/scaffold/about_dialog.dart
  packages/devtools_app/lib/src/framework/scaffold/app_bar.dart
  packages/devtools_app/lib/src/framework/scaffold/report_feedback_button.dart
  packages/devtools_app/lib/src/framework/scaffold/scaffold.dart
  packages/devtools_app/lib/src/framework/scaffold/settings_dialog.dart
  packages/devtools_app/lib/src/framework/scaffold/status_line.dart
  packages/devtools_app/lib/src/framework/theme_manager.dart
  packages/devtools_app/test/framework/disconnect_observer_test.dart
  packages/devtools_app/test/framework/home_screen_test.dart
  packages/devtools_app/test/framework/initializer_test.dart
  packages/devtools_app/test/framework/notifications_test.dart
  packages/devtools_app/test/framework/release_notes_test.dart
  packages/devtools_app/test/framework/scaffold/about_dialog_test.dart
  packages/devtools_app/test/framework/scaffold/scaffold_debugger_test.dart
  packages/devtools_app/test/framework/scaffold/scaffold_debugging_controls_test.dart
  packages/devtools_app/test/framework/scaffold/scaffold_no_app_test.dart
  packages/devtools_app/test/framework/scaffold/scaffold_profile_test.dart
  packages/devtools_app/test/framework/scaffold/scaffold_test.dart
Owners: @flutter/devtools-reviewers

license update - batch 14
  packages/devtools_app/lib/src/screens/app_size/app_size_controller.dart
  packages/devtools_app/lib/src/screens/app_size/app_size_screen.dart
  packages/devtools_app/lib/src/screens/app_size/app_size_table.dart
  packages/devtools_app/lib/src/screens/app_size/code_size_attribution.dart
  packages/devtools_app/test/screens/app_size/app_size_screen_test.dart
  packages/devtools_app/test/screens/app_size/code_size_attribution_test.dart
Owners: @flutter/devtools-reviewers

license update - batch 16
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_link_list_view.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_controller.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_model.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_screen.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_services.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/project_root_selection/root_selector.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/project_root_selection/select_project_view.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/validation_details_view.dart
  packages/devtools_app/test/screens/deep_link_vlidation/app_link_settings_test.dart
  packages/devtools_app/test/screens/deep_link_vlidation/deep_links_screen_test.dart
  packages/devtools_app/test/screens/deep_link_vlidation/select_project_view_test.dart
  packages/devtools_app/test/screens/deep_link_vlidation/universal_link_settings_test.dart
Owners: @flutter/devtools-reviewers

license update - batch 17
  packages/devtools_app/lib/src/screens/inspector/inspector_breadcrumbs.dart
  packages/devtools_app/lib/src/screens/inspector/inspector_controller.dart
  packages/devtools_app/lib/src/screens/inspector/inspector_data_models.dart
  packages/devtools_app/lib/src/screens/inspector/inspector_screen_body.dart
  packages/devtools_app/lib/src/screens/inspector/inspector_screen_details_tab.dart
  packages/devtools_app/lib/src/screens/inspector/inspector_tree_controller.dart
  packages/devtools_app/lib/src/screens/inspector/layout_explorer/box/box.dart
  packages/devtools_app/lib/src/screens/inspector/layout_explorer/flex/flex.dart
  packages/devtools_app/lib/src/screens/inspector/layout_explorer/flex/utils.dart
  packages/devtools_app/lib/src/screens/inspector/layout_explorer/layout_explorer.dart
  packages/devtools_app/lib/src/screens/inspector/layout_explorer/ui/arrow.dart
  packages/devtools_app/lib/src/screens/inspector/layout_explorer/ui/dimension.dart
  packages/devtools_app/lib/src/screens/inspector/layout_explorer/ui/free_space.dart
  packages/devtools_app/lib/src/screens/inspector/layout_explorer/ui/layout_explorer_widget.dart
  packages/devtools_app/lib/src/screens/inspector/layout_explorer/ui/overflow_indicator_painter.dart
  packages/devtools_app/lib/src/screens/inspector/layout_explorer/ui/theme.dart
  packages/devtools_app/lib/src/screens/inspector/layout_explorer/ui/utils.dart
  packages/devtools_app/lib/src/screens/inspector/layout_explorer/ui/widget_constraints.dart
  packages/devtools_app/lib/src/screens/inspector/layout_explorer/ui/widgets_theme.dart
  packages/devtools_app/lib/src/screens/inspector_shared/inspector_controls.dart
  packages/devtools_app/lib/src/screens/inspector_shared/inspector_screen.dart
  packages/devtools_app/lib/src/screens/inspector_shared/inspector_screen_controller.dart
  packages/devtools_app/lib/src/screens/inspector_shared/inspector_settings_dialog.dart
  packages/devtools_app/test/screens/inspector/diagnostics_test.dart
  packages/devtools_app/test/screens/inspector/inspector_error_navigator_test.dart
  packages/devtools_app/test/screens/inspector/inspector_integration_test.dart
  packages/devtools_app/test/screens/inspector/inspector_screen_test.dart
  packages/devtools_app/test/screens/inspector/inspector_tree_test.dart
  packages/devtools_app/test/screens/inspector/layout_explorer/flex/arrow_test.dart
  packages/devtools_app/test/screens/inspector/layout_explorer/flex/flex_test.dart
  packages/devtools_app/test/screens/inspector/layout_explorer/inspector_data_models_test.dart
  packages/devtools_app/test/screens/inspector/layout_explorer/layout_explorer_serialization_delegate.dart
  packages/devtools_app/test/screens/inspector/layout_explorer/layout_explorer_test_utils.dart
  packages/devtools_app/test/screens/inspector/layout_explorer/widget_theme_test.dart
  packages/devtools_app/test/screens/inspector/utils/inspector_tree.dart
Owners: @elliette, @flutter/devtools-reviewers

license update - batch 18
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_controller.dart
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_data_models.dart
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_screen_body.dart
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_tree_controller.dart
  packages/devtools_app/lib/src/screens/inspector_v2/layout_explorer/box/box.dart
  packages/devtools_app/lib/src/screens/inspector_v2/layout_explorer/flex/flex.dart
  packages/devtools_app/lib/src/screens/inspector_v2/layout_explorer/flex/utils.dart
  packages/devtools_app/lib/src/screens/inspector_v2/layout_explorer/ui/arrow.dart
  packages/devtools_app/lib/src/screens/inspector_v2/layout_explorer/ui/dimension.dart
  packages/devtools_app/lib/src/screens/inspector_v2/layout_explorer/ui/free_space.dart
  packages/devtools_app/lib/src/screens/inspector_v2/layout_explorer/ui/layout_explorer_widget.dart
  packages/devtools_app/lib/src/screens/inspector_v2/layout_explorer/ui/overflow_indicator_painter.dart
  packages/devtools_app/lib/src/screens/inspector_v2/layout_explorer/ui/theme.dart
  packages/devtools_app/lib/src/screens/inspector_v2/layout_explorer/ui/utils.dart
  packages/devtools_app/lib/src/screens/inspector_v2/layout_explorer/ui/widget_constraints.dart
  packages/devtools_app/lib/src/screens/inspector_v2/layout_explorer/ui/widgets_theme.dart
  packages/devtools_app/lib/src/screens/inspector_v2/widget_details.dart
  packages/devtools_app/lib/src/screens/inspector_v2/widget_properties/properties_view.dart
  packages/devtools_app/test/screens/inspector_v2/diagnostics_test.dart
  packages/devtools_app/test/screens/inspector_v2/inspector_error_navigator_test.dart
  packages/devtools_app/test/screens/inspector_v2/inspector_integration_test.dart
  packages/devtools_app/test/screens/inspector_v2/inspector_screen_test.dart
  packages/devtools_app/test/screens/inspector_v2/inspector_tree_test.dart
  packages/devtools_app/test/screens/inspector_v2/layout_explorer/flex/arrow_test.dart
  packages/devtools_app/test/screens/inspector_v2/layout_explorer/flex/flex_test.dart
  packages/devtools_app/test/screens/inspector_v2/layout_explorer/inspector_data_models_test.dart
  packages/devtools_app/test/screens/inspector_v2/layout_explorer/layout_explorer_serialization_delegate.dart
  packages/devtools_app/test/screens/inspector_v2/layout_explorer/layout_explorer_test_utils.dart
  packages/devtools_app/test/screens/inspector_v2/layout_explorer/widget_theme_test.dart
  packages/devtools_app/test/screens/inspector_v2/utils/inspector_tree.dart
Owners: @flutter/devtools-reviewers

license update - batch 19
  packages/devtools_app/lib/src/screens/logging/_log_details.dart
  packages/devtools_app/lib/src/screens/logging/_logs_table.dart
  packages/devtools_app/lib/src/screens/logging/_message_column.dart
  packages/devtools_app/lib/src/screens/logging/_when_column.dart
  packages/devtools_app/lib/src/screens/logging/logging_controller.dart
  packages/devtools_app/lib/src/screens/logging/logging_controls.dart
  packages/devtools_app/lib/src/screens/logging/logging_screen.dart
  packages/devtools_app/lib/src/screens/logging/metadata.dart
  packages/devtools_app/test/screens/logging/logging_controller_test.dart
  packages/devtools_app/test/screens/logging/logging_screen_data_test.dart
  packages/devtools_app/test/screens/logging/logging_screen_test.dart
  packages/devtools_app/test/screens/logging/metadata_test.dart
Owners: @flutter/devtools-reviewers

[Inspector V2] Fix inspector analytics (#8684)
  packages/devtools_app/lib/src/screens/inspector/inspector_controller.dart
  packages/devtools_app/lib/src/screens/inspector/inspector_screen_body.dart
  packages/devtools_app/lib/src/screens/inspector/inspector_tree_controller.dart
  packages/devtools_app/lib/src/screens/inspector_shared/inspector_settings_dialog.dart
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_controller.dart
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_screen_body.dart
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_tree_controller.dart
  packages/devtools_app/lib/src/shared/analytics/_analytics_web.dart
  packages/devtools_app/lib/src/shared/analytics/constants.dart
  packages/devtools_app/lib/src/shared/analytics/metrics.dart
Owners: @elliette, @flutter/devtools-reviewers

Optimize stack traces for analytics (#8687)
  packages/devtools_app/lib/src/shared/analytics/_analytics_stub.dart
  packages/devtools_app/lib/src/shared/analytics/_analytics_web.dart
  packages/devtools_app/lib/src/shared/analytics/analytics_common.dart
  packages/devtools_app/lib/src/shared/framework/app_error_handling.dart
  packages/devtools_app/lib/src/shared/primitives/utils.dart
  packages/devtools_app/test/shared/analytics/analytics_test.dart
  packages/devtools_app/test/shared/primitives/utils_test.dart
Owners: @flutter/devtools-reviewers

Prepare cherry-pick release - DevTools 2.42.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.43.0-dev.0 to 2.43.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.43.0-dev.0 to 2.43.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.43.0-dev.0 to 2.43.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

license update - batch 1 (#8669)
  BETA_TESTING.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  DOCUMENTATION.md
  README.md
  STYLE.md
  TESTING.md
  TRIAGE.md
  analysis_options.yaml
  devtools_options.yaml
  docs/README.md
  pubspec.yaml
Owners: @flutter/devtools-reviewers

CODEOWNERS:

*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @elliette

# Network Files
network/            @bkonyi @kenzieschmoll

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll @bkonyi

# Memory files
memory/             @bkonyi @kenzieschmoll

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @kenzieschmoll

# DevTools extensions and related files
src/extensions/
packages/devtools_extensions/    @kenzieschmoll
packages/devtools_app_shared/    @kenzieschmoll

# package:devtools_shared code, which is used across DevTools and the Dart SDK
packages/devtools_shared/        @kenzieschmoll @bkonyi

# Version bump files.
# No owners to prevent version update spam
packages/devtools_app/lib/devtools.dart
packages/devtools_app/pubspec.yaml
packages/devtools_test/pubspec.yaml
