Repository flutter/devtools, changes with the owners that CODEOWNERS names for each.
All owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

CODEOWNERS:

*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @elliette

# Network Files
network/            @bkonyi @kenzieschmoll

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll @bkonyi

# Memory files
memory/             @bkonyi @kenzieschmoll

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @kenzieschmoll

# DevTools extensions and related files
src/extensions/
packages/devtools_extensions/    @kenzieschmoll
packages/devtools_app_shared/    @kenzieschmoll

# package:devtools_shared code, which is used across DevTools and the Dart SDK
packages/devtools_shared/        @kenzieschmoll @bkonyi

# Version bump files.
# No owners to prevent version update spam
packages/devtools_app/lib/devtools.dart
packages/devtools_app/pubspec.yaml
packages/devtools_test/pubspec.yaml

[Inspector V2] Fixes an issue where the V2 Inspector wouldn't load after hot-restarting from legacy inspector (#8491)
  packages/devtools_app/lib/src/screens/inspector_shared/inspector_screen.dart
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_controller.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/test/inspector_v2/inspector_integration_test.dart
Owners: @flutter/devtools-reviewers

Add comments
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_controller.dart
Owners: @flutter/devtools-reviewers

goldens
  packages/devtools_app/test/test_infra/goldens/memory/load_offline_data_profile_tab.png
  packages/devtools_app/test/test_infra/goldens/settings_dialog_default.png
  packages/devtools_app/test/test_infra/goldens/settings_dialog_modified.png
Owners: @bkonyi, @kenzieschmoll, @flutter/devtools-reviewers

[logging] Add a retention limit setting. (#8493)
  packages/devtools_app/lib/src/framework/app_error_handling.dart
  packages/devtools_app/lib/src/screens/logging/logging_controller.dart
  packages/devtools_app/lib/src/screens/logging/logging_controls.dart
  packages/devtools_app/lib/src/shared/common_widgets.dart
  packages/devtools_app/lib/src/shared/preferences/_logging_preferences.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/test/test_infra/goldens/memory/load_offline_data_profile_tab.png
  packages/devtools_app/test/test_infra/goldens/settings_dialog_default.png
  packages/devtools_app/test/test_infra/goldens/settings_dialog_modified.png
Owners: @flutter/devtools-reviewers, @bkonyi, @kenzieschmoll

Alternating colors look nice in tables when embedded in IDE
  packages/devtools_app_shared/lib/src/ui/theme/theme.dart
Owners: @kenzieschmoll

Respond to PR comments and update release notes
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_controller.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Disable two lint rules which are being removed. (#8488)
  packages/analysis_options.yaml
  packages/devtools_app/lib/src/extensions/embedded/_controller_web.dart
  packages/devtools_app/lib/src/screens/performance/panes/timeline_events/perfetto/_perfetto_controller_web.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

Row color is closer to original, fix tests
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/test/shared/table_test.dart
  packages/devtools_app_shared/lib/src/ui/theme/theme.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

[Inspector V2] Handle selection of an implementation widget in the app (#8494)
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_controller.dart
  packages/devtools_app/lib/src/shared/notifications.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Update goldens
  packages/devtools_app/test/test_infra/goldens/cpu_profiler/method_table_no_selection.png
  packages/devtools_app/test/test_infra/goldens/cpu_profiler/method_table_with_selection.png
  packages/devtools_app/test/test_infra/goldens/cpu_profiler/method_table_with_selection_2.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_errors_2_error_selected.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_hideable_widget_selected.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_hideable_widget_selected_from_search.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_implementation_widgets_collapsed.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_implementation_widgets_hidden.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_select_center.png
  packages/devtools_app/test/test_infra/goldens/memory/load_offline_data_profile_tab.png
  packages/devtools_app/test/test_infra/goldens/memory/load_offline_data_trace_tab.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_empty1.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_empty2.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_selected_class.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_except_diff.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_except_single.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_scene_diff.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_scene_single.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_showAll_diff.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_showAll_single.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_three_snapshots1.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_three_snapshots2.png
Owners: @flutter/devtools-reviewers, @bkonyi, @kenzieschmoll

Initial YAML config parsing logic and tests
  case_study/memory_leaks/images_1/android/gradle/wrapper/gradle-wrapper.properties
  case_study/platform_channel/android/gradle/wrapper/gradle-wrapper.properties
  packages/devtools_shared/lib/src/utils/license_utils.dart
  packages/devtools_shared/test/utils/license_utils_test.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll, @bkonyi

added additional YAML config parsing logic
  packages/devtools_shared/lib/src/utils/license_utils.dart
  packages/devtools_shared/test/utils/license_utils_test.dart
Owners: @kenzieschmoll, @bkonyi

renamed functions to better match functionality, added logic to return replacement header, and added more tests
  packages/devtools_shared/lib/src/utils/license_utils.dart
  packages/devtools_shared/test/utils/license_utils_test.dart
Owners: @kenzieschmoll, @bkonyi

added test for full repo check for incorrect licenses
  packages/devtools_shared/lib/src/utils/license_utils.dart
  packages/devtools_shared/test/utils/license_utils_test.dart
Owners: @kenzieschmoll, @bkonyi

Added comments and some logic to parse stored value
  packages/devtools_shared/lib/src/utils/license_utils.dart
  packages/devtools_shared/test/utils/license_utils_test.dart
Owners: @kenzieschmoll, @bkonyi

ran dart formatter
  packages/devtools_shared/lib/src/utils/license_utils.dart
  packages/devtools_shared/test/utils/license_utils_test.dart
Owners: @kenzieschmoll, @bkonyi

added support for bulk update
  packages/devtools_shared/lib/src/utils/license_utils.dart
  packages/devtools_shared/test/utils/license_utils_test.dart
Owners: @kenzieschmoll, @bkonyi

added write permission to tool_tests.sh
  tool/ci/tool_tests.sh
Owners: @kenzieschmoll

fixed missing training commas
  packages/devtools_shared/lib/src/utils/license_utils.dart
Owners: @kenzieschmoll, @bkonyi

added github action to run tool tests
  .github/workflows/build.yaml
  tool/ci/tool_tests.sh
  tool/test/license_utils_test.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

moved license utils to tool
  tool/lib/license_utils.dart
  tool/test/license_utils_test.dart
Owners: @kenzieschmoll

fixed dependencies
  tool/pubspec.yaml
  tool/test/license_utils_test.dart
Owners: @kenzieschmoll

Turned off repo wide check test
  tool/test/license_utils_test.dart
Owners: @kenzieschmoll

addressed PR feedback
  tool/lib/license_utils.dart
Owners: @kenzieschmoll

fixed Dartdoc function comment, experimenting with repo wide check test on CI
  tool/lib/license_utils.dart
  tool/test/license_utils_test.dart
Owners: @kenzieschmoll

excluding flutter-sdk dependencies from repo wide check
  tool/test/license_utils_test.dart
Owners: @kenzieschmoll

test that the repo wide check actually catches incorrect license header
  tool/test/license_utils_test.dart
Owners: @kenzieschmoll

addressed more PR feedback
  tool/lib/license_utils.dart
  tool/test/license_utils_test.dart
Owners: @kenzieschmoll

added dry run option for bulk update
  tool/lib/license_utils.dart
  tool/test/license_utils_test.dart
Owners: @kenzieschmoll

reverted some accidentally changed files, addressed additional PR feedback
  case_study/memory_leaks/images_1/android/gradle/wrapper/gradle-wrapper.properties
  case_study/platform_channel/android/gradle/wrapper/gradle-wrapper.properties
  packages/devtools_app/test/test_infra/goldens/memory/load_offline_data_profile_tab.png
  tool/lib/license_utils.dart
  tool/test/license_utils_test.dart
Owners: @flutter/devtools-reviewers, @bkonyi, @kenzieschmoll

corrected logic for test
  tool/test/license_utils_test.dart
Owners: @kenzieschmoll

fixed DartDoc and other PR feedback
  tool/lib/license_utils.dart
Owners: @kenzieschmoll

added clearer docs and removed unnecessary todo
  tool/lib/license_utils.dart
Owners: @kenzieschmoll

addressed missed PR feedback
  tool/test/license_utils_test.dart
Owners: @kenzieschmoll

addressing some missed PR feedback
  tool/lib/license_utils.dart
Owners: @kenzieschmoll

fixed missing trailing comma
  tool/test/license_utils_test.dart
Owners: @kenzieschmoll

removed late and added back final to member variables
  tool/lib/license_utils.dart
Owners: @kenzieschmoll

addressed another round of PR feedback
  tool/lib/license_utils.dart
Owners: @kenzieschmoll

fixed git issues
  packages/devtools_app/test/test_infra/goldens/memory/load_offline_data_profile_tab.png
Owners: @bkonyi, @kenzieschmoll

Remove unused query filter field from filter dialog
  packages/devtools_app/lib/src/shared/ui/filter.dart
Owners: @flutter/devtools-reviewers
