Repository flutter/devtools, changes with the owners that CODEOWNERS names for each.
All owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

committing update licenses
  tool/lib/commands/update_licenses.dart
Owners: @kenzieschmoll

added dt command to run license utility
  tool/lib/devtools_command_runner.dart
Owners: @kenzieschmoll

improved yaml example to remove extra newlines and properly handle values
  tool/lib/license_utils.dart
  tool/test/license_utils_test.dart
Owners: @kenzieschmoll

attempt #2 at handling null
  tool/lib/license_utils.dart
Owners: @kenzieschmoll

fixed another comment
  tool/lib/license_utils.dart
Owners: @kenzieschmoll

fix comment in yaml
  tool/test/license_utils_test.dart
Owners: @kenzieschmoll

attempt #4 at handling null
  tool/lib/license_utils.dart
Owners: @kenzieschmoll

handling unconfigured extension type
  tool/lib/license_utils.dart
Owners: @kenzieschmoll

attempt #3 at handling null
  tool/lib/license_utils.dart
Owners: @kenzieschmoll

improved handling for extensions that are not configured
  tool/lib/license_utils.dart
  tool/test/license_utils_test.dart
Owners: @kenzieschmoll

commited config file
  update_licenses.yaml
Owners: @flutter/devtools-reviewers

improved logic for missing license header
  tool/lib/license_utils.dart
  tool/test/license_utils_test.dart
Owners: @kenzieschmoll

better error message
  tool/lib/license_utils.dart
Owners: @kenzieschmoll

removed print
  tool/lib/license_utils.dart
Owners: @kenzieschmoll

fixed formatting
  update_licenses.yaml
Owners: @flutter/devtools-reviewers

remove json and last_build_id
  update_licenses.yaml
Owners: @flutter/devtools-reviewers

added additional ignore paths
  update_licenses.yaml
Owners: @flutter/devtools-reviewers

skip processing files if the license already exists
  tool/lib/license_utils.dart
  tool/test/license_utils_test.dart
Owners: @kenzieschmoll

adding edge cases
  tool/test/license_utils_test.dart
  update_licenses.yaml
Owners: @kenzieschmoll, @flutter/devtools-reviewers

Workaround for dependency issue, fixed support for missing license and default replacement value
  pubspec.yaml
  tool/lib/license_utils.dart
  tool/test/license_utils_test.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

corrected remove license content
  update_licenses.yaml
Owners: @flutter/devtools-reviewers

license update - batch 53
  packages/devtools_app_shared/lib/src/utils/auto_dispose.dart
  packages/devtools_app_shared/lib/src/utils/globals.dart
  packages/devtools_app_shared/lib/src/utils/list.dart
  packages/devtools_app_shared/lib/src/utils/url/_launch_url_vs_code_stub.dart
  packages/devtools_app_shared/lib/src/utils/url/_launch_url_vs_code_web.dart
  packages/devtools_app_shared/lib/src/utils/url/_url_stub.dart
  packages/devtools_app_shared/lib/src/utils/url/_url_web.dart
  packages/devtools_app_shared/lib/src/utils/url/url.dart
  packages/devtools_app_shared/lib/src/utils/utils.dart
  packages/devtools_app_shared/lib/src/utils/web_utils.dart
  packages/devtools_app_shared/test/utils/auto_dispose_mixin_test.dart
  packages/devtools_app_shared/test/utils/list_test.dart
  packages/devtools_app_shared/test/utils/utils_test.dart
Owners: @kenzieschmoll

license update - batch 54
  packages/devtools_extensions/CHANGELOG.md
  packages/devtools_extensions/README.md
  packages/devtools_extensions/bin/_build_and_copy.dart
  packages/devtools_extensions/bin/_validate.dart
  packages/devtools_extensions/bin/devtools_extensions.dart
  packages/devtools_extensions/extension_config_spec.md
  packages/devtools_extensions/integration_test/run_tests.dart
  packages/devtools_extensions/integration_test/test/simulated_environment_test.dart
  packages/devtools_extensions/pubspec.yaml
  packages/devtools_extensions/test/api_test.dart
  packages/devtools_extensions/test/validate_test.dart
  packages/devtools_extensions/test/web/devtools_extension_test.dart
  packages/devtools_extensions/test_driver/integration_test.dart
Owners: @kenzieschmoll

license update - batch 55
  packages/devtools_extensions/example/README.md
  packages/devtools_extensions/example/app_that_uses_foo/README.md
  packages/devtools_extensions/example/app_that_uses_foo/bin/script.dart
  packages/devtools_extensions/example/app_that_uses_foo/devtools_options.yaml
  packages/devtools_extensions/example/app_that_uses_foo/integration_test/example_integration_test.dart
  packages/devtools_extensions/example/app_that_uses_foo/ios/Runner/AppDelegate.swift
  packages/devtools_extensions/example/app_that_uses_foo/ios/Runner/Assets.xcassets/LaunchImage.imageset/README.md
  packages/devtools_extensions/example/app_that_uses_foo/ios/Runner/Runner-Bridging-Header.h
  packages/devtools_extensions/example/app_that_uses_foo/ios/RunnerTests/RunnerTests.swift
  packages/devtools_extensions/example/app_that_uses_foo/lib/main.dart
  packages/devtools_extensions/example/app_that_uses_foo/pubspec.yaml
  packages/devtools_extensions/example/app_that_uses_foo/test/flutter_test_1.dart
  packages/devtools_extensions/example/app_that_uses_foo/test/flutter_test_2.dart
  packages/devtools_extensions/example/app_that_uses_foo/test/nested/dart_test_1.dart
  packages/devtools_extensions/example/app_that_uses_foo/test/nested/dart_test_2.dart
Owners: @kenzieschmoll

Property editor type fixes
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_view.dart
  packages/devtools_app/test/standalone_ui/ide_shared/property_editor_test.dart
Owners: @flutter/devtools-reviewers

[Property Editor] Emphasize properties the user has set in their code (#8637)
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_view.dart
  packages/devtools_app/test/standalone_ui/ide_shared/property_editor_test.dart
  packages/devtools_app_shared/lib/src/ui/common.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

license update - batch 56
  packages/devtools_extensions/example/packages_with_extensions/dart_foo/packages/dart_foo/README.md
  packages/devtools_extensions/example/packages_with_extensions/dart_foo/packages/dart_foo/extension/devtools/build/index.html
  packages/devtools_extensions/example/packages_with_extensions/dart_foo/packages/dart_foo/extension/devtools/config.yaml
  packages/devtools_extensions/example/packages_with_extensions/dart_foo/packages/dart_foo/lib/dart_foo.dart
  packages/devtools_extensions/example/packages_with_extensions/dart_foo/packages/dart_foo/pubspec.yaml
  packages/devtools_extensions/example/packages_with_extensions/dart_foo/packages/dart_foo_devtools_extension/README.md
  packages/devtools_extensions/example/packages_with_extensions/dart_foo/packages/dart_foo_devtools_extension/lib/main.dart
  packages/devtools_extensions/example/packages_with_extensions/dart_foo/packages/dart_foo_devtools_extension/pubspec.yaml
  packages/devtools_extensions/example/packages_with_extensions/dart_foo/packages/dart_foo_devtools_extension/web/index.html
  packages/devtools_extensions/example/packages_with_extensions/foo/packages/foo/README.md
  packages/devtools_extensions/example/packages_with_extensions/foo/packages/foo/extension/devtools/build/index.html
  packages/devtools_extensions/example/packages_with_extensions/foo/packages/foo/extension/devtools/config.yaml
  packages/devtools_extensions/example/packages_with_extensions/foo/packages/foo/lib/foo.dart
  packages/devtools_extensions/example/packages_with_extensions/foo/packages/foo/lib/src/foo_controller.dart
  packages/devtools_extensions/example/packages_with_extensions/foo/packages/foo/lib/src/foo_widget.dart
  packages/devtools_extensions/example/packages_with_extensions/foo/packages/foo/pubspec.yaml
  packages/devtools_extensions/example/packages_with_extensions/foo/packages/foo_devtools_extension/README.md
  packages/devtools_extensions/example/packages_with_extensions/foo/packages/foo_devtools_extension/lib/main.dart
  packages/devtools_extensions/example/packages_with_extensions/foo/packages/foo_devtools_extension/lib/src/common/ui.dart
  packages/devtools_extensions/example/packages_with_extensions/foo/packages/foo_devtools_extension/lib/src/feature_examples/devtools_event_example.dart
  packages/devtools_extensions/example/packages_with_extensions/foo/packages/foo_devtools_extension/lib/src/feature_examples/devtools_extension_api_example.dart
  packages/devtools_extensions/example/packages_with_extensions/foo/packages/foo_devtools_extension/lib/src/feature_examples/dtd_example.dart
  packages/devtools_extensions/example/packages_with_extensions/foo/packages/foo_devtools_extension/lib/src/feature_examples/expression_evaluation_example.dart
  packages/devtools_extensions/example/packages_with_extensions/foo/packages/foo_devtools_extension/lib/src/feature_examples/service_extension_example.dart
  packages/devtools_extensions/example/packages_with_extensions/foo/packages/foo_devtools_extension/lib/src/foo_devtools_extension.dart
  packages/devtools_extensions/example/packages_with_extensions/foo/packages/foo_devtools_extension/pubspec.yaml
  packages/devtools_extensions/example/packages_with_extensions/foo/packages/foo_devtools_extension/web/index.html
  packages/devtools_extensions/example/packages_with_extensions/standalone_extension/README.md
  packages/devtools_extensions/example/packages_with_extensions/standalone_extension/extension/devtools/build/index.html
  packages/devtools_extensions/example/packages_with_extensions/standalone_extension/extension/devtools/config.yaml
  packages/devtools_extensions/example/packages_with_extensions/standalone_extension/lib/main.dart
  packages/devtools_extensions/example/packages_with_extensions/standalone_extension/pubspec.yaml
  packages/devtools_extensions/example/packages_with_extensions/standalone_extension/web/index.html
Owners: @kenzieschmoll

Committed in wrong directory
  packages/devtools_app_shared/lib/src/utils/utils.dart
Owners: @kenzieschmoll

license update - batch 57
  packages/devtools_extensions/lib/api.dart
  packages/devtools_extensions/lib/devtools_extensions.dart
  packages/devtools_extensions/lib/src/api/README.md
  packages/devtools_extensions/lib/src/api/api.dart
  packages/devtools_extensions/lib/src/api/model.dart
  packages/devtools_extensions/lib/src/template/README.md
  packages/devtools_extensions/lib/src/template/_simulated_devtools_environment/_simulated_devtools_controller.dart
  packages/devtools_extensions/lib/src/template/_simulated_devtools_environment/_simulated_devtools_environment.dart
  packages/devtools_extensions/lib/src/template/_simulated_devtools_environment/connection_ui/_connect.dart
  packages/devtools_extensions/lib/src/template/_simulated_devtools_environment/connection_ui/_dtd_connect.dart
  packages/devtools_extensions/lib/src/template/_simulated_devtools_environment/connection_ui/_vm_service_connect.dart
  packages/devtools_extensions/lib/src/template/devtools_extension.dart
  packages/devtools_extensions/lib/src/template/extension_manager.dart
  packages/devtools_extensions/lib/src/utils.dart
  packages/devtools_extensions/lib/utils.dart
Owners: @kenzieschmoll

license update - batch 53 (#8765)
  packages/devtools_app_shared/lib/src/utils/auto_dispose.dart
  packages/devtools_app_shared/lib/src/utils/globals.dart
  packages/devtools_app_shared/lib/src/utils/list.dart
  packages/devtools_app_shared/lib/src/utils/url/_launch_url_vs_code_stub.dart
  packages/devtools_app_shared/lib/src/utils/url/_launch_url_vs_code_web.dart
  packages/devtools_app_shared/lib/src/utils/url/_url_stub.dart
  packages/devtools_app_shared/lib/src/utils/url/_url_web.dart
  packages/devtools_app_shared/lib/src/utils/url/url.dart
  packages/devtools_app_shared/lib/src/utils/utils.dart
  packages/devtools_app_shared/lib/src/utils/web_utils.dart
  packages/devtools_app_shared/test/utils/auto_dispose_mixin_test.dart
  packages/devtools_app_shared/test/utils/list_test.dart
  packages/devtools_app_shared/test/utils/utils_test.dart
Owners: @kenzieschmoll

license update - batch 54 (#8766)
  packages/devtools_extensions/CHANGELOG.md
  packages/devtools_extensions/README.md
  packages/devtools_extensions/bin/_build_and_copy.dart
  packages/devtools_extensions/bin/_validate.dart
  packages/devtools_extensions/bin/devtools_extensions.dart
  packages/devtools_extensions/extension_config_spec.md
  packages/devtools_extensions/integration_test/run_tests.dart
  packages/devtools_extensions/integration_test/test/simulated_environment_test.dart
  packages/devtools_extensions/pubspec.yaml
  packages/devtools_extensions/test/api_test.dart
  packages/devtools_extensions/test/validate_test.dart
  packages/devtools_extensions/test/web/devtools_extension_test.dart
  packages/devtools_extensions/test_driver/integration_test.dart
Owners: @kenzieschmoll

license update - batch 55 (#8767)
  packages/devtools_extensions/example/README.md
  packages/devtools_extensions/example/app_that_uses_foo/README.md
  packages/devtools_extensions/example/app_that_uses_foo/bin/script.dart
  packages/devtools_extensions/example/app_that_uses_foo/devtools_options.yaml
  packages/devtools_extensions/example/app_that_uses_foo/integration_test/example_integration_test.dart
  packages/devtools_extensions/example/app_that_uses_foo/ios/Runner/AppDelegate.swift
  packages/devtools_extensions/example/app_that_uses_foo/ios/Runner/Assets.xcassets/LaunchImage.imageset/README.md
  packages/devtools_extensions/example/app_that_uses_foo/ios/Runner/Runner-Bridging-Header.h
  packages/devtools_extensions/example/app_that_uses_foo/ios/RunnerTests/RunnerTests.swift
  packages/devtools_extensions/example/app_that_uses_foo/lib/main.dart
  packages/devtools_extensions/example/app_that_uses_foo/pubspec.yaml
  packages/devtools_extensions/example/app_that_uses_foo/test/flutter_test_1.dart
  packages/devtools_extensions/example/app_that_uses_foo/test/flutter_test_2.dart
  packages/devtools_extensions/example/app_that_uses_foo/test/nested/dart_test_1.dart
  packages/devtools_extensions/example/app_that_uses_foo/test/nested/dart_test_2.dart
Owners: @kenzieschmoll

license update - batch 58
  packages/devtools_shared/CHANGELOG.md
  packages/devtools_shared/README.md
  packages/devtools_shared/lib/devtools_shared.dart
  packages/devtools_shared/lib/devtools_test_utils.dart
  packages/devtools_shared/lib/src/common.dart
  packages/devtools_shared/lib/src/devtools_api.dart
  packages/devtools_shared/lib/src/test/chrome.dart
  packages/devtools_shared/lib/src/test/chrome_driver.dart
  packages/devtools_shared/lib/src/test/cli_test_driver.dart
  packages/devtools_shared/lib/src/test/integration_test_runner.dart
  packages/devtools_shared/lib/src/test/io_utils.dart
  packages/devtools_shared/lib/src/test/test_utils.dart
  packages/devtools_shared/pubspec.yaml
  packages/devtools_shared/test/fakes.dart
  packages/devtools_shared/test/helpers/helpers.dart
  packages/devtools_shared/test/semantic_version_test.dart
Owners: @kenzieschmoll, @bkonyi

license update - batch 59
  packages/devtools_shared/lib/devtools_deeplink.dart
  packages/devtools_shared/lib/devtools_deeplink_io.dart
  packages/devtools_shared/lib/src/deeplink/app_link_settings.dart
  packages/devtools_shared/lib/src/deeplink/deeplink_manager.dart
  packages/devtools_shared/lib/src/deeplink/universal_link_settings.dart
  packages/devtools_shared/lib/src/deeplink/xcode_build_options.dart
  packages/devtools_shared/test/deeplink/deeplink_manager_test.dart
Owners: @kenzieschmoll, @bkonyi

license update - batch 60
  packages/devtools_shared/lib/devtools_extensions.dart
  packages/devtools_shared/lib/devtools_extensions_io.dart
  packages/devtools_shared/lib/src/extensions/constants.dart
  packages/devtools_shared/lib/src/extensions/extension_enablement.dart
  packages/devtools_shared/lib/src/extensions/extension_manager.dart
  packages/devtools_shared/lib/src/extensions/extension_model.dart
  packages/devtools_shared/lib/src/extensions/yaml_utils.dart
  packages/devtools_shared/test/extensions/extension_enablement_test.dart
  packages/devtools_shared/test/extensions/extension_model_test.dart
  packages/devtools_shared/test/helpers/extension_test_manager.dart
  packages/devtools_shared/test/helpers/extension_test_manager_test.dart
Owners: @kenzieschmoll, @bkonyi

license update - batch 61
  packages/devtools_shared/lib/src/memory/adb_memory_info.dart
  packages/devtools_shared/lib/src/memory/class_heap_detail_stats.dart
  packages/devtools_shared/lib/src/memory/event_sample.dart
  packages/devtools_shared/lib/src/memory/heap_sample.dart
  packages/devtools_shared/lib/src/memory/heap_space.dart
  packages/devtools_shared/lib/src/memory/memory_json.dart
  packages/devtools_shared/test/memory/heap_sample_test.dart
Owners: @kenzieschmoll, @bkonyi

Property editor validation and nullable argument fixes (#8768)
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_view.dart
  packages/devtools_app/test/standalone_ui/ide_shared/property_editor_test.dart
  packages/devtools_app_shared/lib/src/utils/utils.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

license update - batch 62
  packages/devtools_shared/lib/devtools_server.dart
  packages/devtools_shared/lib/service.dart
  packages/devtools_shared/lib/src/server/devtools_store.dart
  packages/devtools_shared/lib/src/server/file_system.dart
  packages/devtools_shared/lib/src/server/flutter_store.dart
  packages/devtools_shared/lib/src/server/handlers/_app_size.dart
  packages/devtools_shared/lib/src/server/handlers/_deeplink.dart
  packages/devtools_shared/lib/src/server/handlers/_devtools_extensions.dart
  packages/devtools_shared/lib/src/server/handlers/_dtd.dart
  packages/devtools_shared/lib/src/server/handlers/_general.dart
  packages/devtools_shared/lib/src/server/handlers/_preferences.dart
  packages/devtools_shared/lib/src/server/handlers/_release_notes.dart
  packages/devtools_shared/lib/src/server/handlers/_storage.dart
  packages/devtools_shared/lib/src/server/handlers/_survey.dart
  packages/devtools_shared/lib/src/server/server_api.dart
  packages/devtools_shared/lib/src/service/service.dart
  packages/devtools_shared/lib/src/service_utils.dart
  packages/devtools_shared/lib/src/sse/_fake_sse.dart
  packages/devtools_shared/lib/src/sse/sse_shim.dart
  packages/devtools_shared/test/server/deeplink_api_test.dart
  packages/devtools_shared/test/server/devtools_extensions_api_test.dart
  packages/devtools_shared/test/server/dtd_api_test.dart
  packages/devtools_shared/test/server/general_api_test.dart
  packages/devtools_shared/test/service_utils_test.dart
Owners: @kenzieschmoll, @bkonyi

license update - batch 63
  packages/devtools_shared/lib/src/utils/compare.dart
  packages/devtools_shared/lib/src/utils/file_utils.dart
  packages/devtools_shared/lib/src/utils/retry.dart
  packages/devtools_shared/lib/src/utils/semantic_version.dart
  packages/devtools_shared/lib/src/utils/serialization.dart
  packages/devtools_shared/lib/src/utils/utils.dart
  packages/devtools_shared/test/utils/file_utils_test.dart
  packages/devtools_shared/test/utils/retry_test.dart
  packages/devtools_shared/test/utils/serialization_test.dart
  packages/devtools_shared/test/utils/utils_test.dart
Owners: @kenzieschmoll, @bkonyi

license update - batch 64
  packages/devtools_test/README.md
  packages/devtools_test/build.yaml
  packages/devtools_test/lib/devtools_test.dart
  packages/devtools_test/lib/helpers.dart
  packages/devtools_test/lib/integration_test.dart
  packages/devtools_test/lib/src/helpers/actions.dart
  packages/devtools_test/lib/src/helpers/finders.dart
  packages/devtools_test/lib/src/helpers/utils.dart
  packages/devtools_test/lib/src/helpers/wrappers.dart
  packages/devtools_test/lib/src/integration_test/integration_test_utils.dart
  packages/devtools_test/lib/src/mocks/fake_class_hierarchy_explorer_controller.dart
  packages/devtools_test/lib/src/mocks/fake_isolate_manager.dart
  packages/devtools_test/lib/src/mocks/fake_object_inspector_view_controller.dart
  packages/devtools_test/lib/src/mocks/fake_program_explorer_controller.dart
  packages/devtools_test/lib/src/mocks/fake_service_extension_manager.dart
  packages/devtools_test/lib/src/mocks/fake_service_manager.dart
  packages/devtools_test/lib/src/mocks/fake_vm_service_wrapper.dart
  packages/devtools_test/lib/src/mocks/generated.dart
  packages/devtools_test/lib/src/mocks/generated_mocks_factories.dart
  packages/devtools_test/lib/src/mocks/mocks.dart
  packages/devtools_test/lib/src/test_data/_performance_data.dart
  packages/devtools_test/lib/src/test_data/sample_data.dart
  packages/devtools_test/lib/test_data.dart
  packages/devtools_test/pubspec.yaml
Owners: @flutter/devtools-reviewers

CODEOWNERS:

*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @elliette

# Network Files
network/            @bkonyi @kenzieschmoll

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll @bkonyi

# Memory files
memory/             @bkonyi @kenzieschmoll

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @kenzieschmoll

# DevTools extensions and related files
src/extensions/
packages/devtools_extensions/    @kenzieschmoll
packages/devtools_app_shared/    @kenzieschmoll

# package:devtools_shared code, which is used across DevTools and the Dart SDK
packages/devtools_shared/        @kenzieschmoll @bkonyi

# Version bump files.
# No owners to prevent version update spam
packages/devtools_app/lib/devtools.dart
packages/devtools_app/pubspec.yaml
packages/devtools_test/pubspec.yaml
