Repository flutter/devtools, changes with the owners that CODEOWNERS names for each.
All owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

Fix editor client not loading
  packages/devtools_app/lib/src/shared/editor/editor_client.dart
  packages/devtools_app/test/shared/editor/editor_client_test.dart
Owners: @flutter/devtools-reviewers

Add comment
  packages/devtools_test/lib/src/integration_test/integration_test_utils.dart
Owners: @flutter/devtools-reviewers

Trying to get integration tests to pass
  packages/devtools_shared/lib/src/test/test_utils.dart
  packages/devtools_test/lib/src/integration_test/integration_test_utils.dart
Owners: @kenzieschmoll, @bkonyi, @flutter/devtools-reviewers

Revert integration test changes
  packages/devtools_test/lib/src/integration_test/integration_test_utils.dart
Owners: @flutter/devtools-reviewers

Fix debugger panel test
  packages/devtools_app/integration_test/test/live_connection/debugger_panel_test.dart
Owners: @flutter/devtools-reviewers

Disable failing integration tests
  packages/devtools_app/integration_test/run_tests.dart
Owners: @flutter/devtools-reviewers

Revert the rest of the integration test changes
  packages/devtools_shared/lib/src/test/test_utils.dart
  packages/devtools_test/lib/src/integration_test/integration_test_utils.dart
Owners: @kenzieschmoll, @bkonyi, @flutter/devtools-reviewers

Disable more tests
  packages/devtools_app/integration_test/run_tests.dart
Owners: @flutter/devtools-reviewers

Disable failing integration tests (#9644)
  packages/devtools_app/integration_test/run_tests.dart
Owners: @flutter/devtools-reviewers

Re-enable test
  packages/devtools_app/integration_test/run_tests.dart
Owners: @flutter/devtools-reviewers

Add new line back
  packages/devtools_app/integration_test/test/live_connection/debugger_panel_test.dart
Owners: @flutter/devtools-reviewers

Remove unused import
  packages/devtools_shared/lib/src/test/test_utils.dart
Owners: @kenzieschmoll, @bkonyi

Updating from 2.55.0-dev.0 to 2.55.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.55.0-dev.0 to 2.55.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.55.0-dev.0 to 2.55.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.55.0-dev.0 to 2.55.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.55.0-dev.0 to 2.55.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Fix `debugger_panel` integration test (#9647)
  packages/devtools_app/integration_test/run_tests.dart
  packages/devtools_app/integration_test/test/live_connection/debugger_panel_test.dart
Owners: @flutter/devtools-reviewers

Respond to PR comments
  packages/devtools_app/test/service/dtd_manager_test.dart
  packages/devtools_app_shared/lib/src/service/dtd_manager.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

Updating from 2.55.0-dev.0 to 2.55.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

DTDManager handles the subscription to the service stream (#9635)
  packages/devtools_app/lib/src/shared/editor/editor_client.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_panel.dart
  packages/devtools_app/lib/src/standalone_ui/standalone_screen.dart
  packages/devtools_app/lib/src/standalone_ui/vs_code/flutter_panel.dart
  packages/devtools_app/test/service/dtd_manager_test.dart
  packages/devtools_app/test/shared/editor/editor_client_test.dart
  packages/devtools_app_shared/lib/src/service/dtd_manager.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

Make nullable signature non-nullable again
  packages/devtools_shared/lib/src/deeplink/universal_link_settings.dart
Owners: @kenzieschmoll, @bkonyi

Make killForcefully public again
  packages/devtools_shared/lib/src/test/io_utils.dart
Owners: @kenzieschmoll, @bkonyi

Update pubspec and changelog
  packages/devtools_shared/CHANGELOG.md
  packages/devtools_shared/pubspec.yaml
Owners: @kenzieschmoll, @bkonyi

Prepare and for publishing to 0.5.0
  packages/devtools_app_shared/CHANGELOG.md
  packages/devtools_app_shared/pubspec.yaml
  packages/devtools_extensions/CHANGELOG.md
  packages/devtools_extensions/pubspec.yaml
Owners: @kenzieschmoll

Update test
  packages/devtools_shared/test/deeplink/universal_link_settings_test.dart
Owners: @kenzieschmoll, @bkonyi

Prepare `devtools_shared` for publishing to version 12.1.0 (#9651)
  packages/devtools_shared/CHANGELOG.md
  packages/devtools_shared/lib/src/deeplink/universal_link_settings.dart
  packages/devtools_shared/lib/src/test/io_utils.dart
  packages/devtools_shared/pubspec.yaml
  packages/devtools_shared/test/deeplink/universal_link_settings_test.dart
Owners: @kenzieschmoll, @bkonyi

Health check for packages in the repo
  .github/workflows/health.yaml
  .github/workflows/post_summary.yaml
Owners: @flutter/devtools-reviewers

New lines end of file
  .github/workflows/health.yaml
  .github/workflows/post_summary.yaml
Owners: @flutter/devtools-reviewers

Remove reference to coverage
  .github/workflows/health.yaml
Owners: @flutter/devtools-reviewers

Updating from 2.55.0-dev.0 to 2.55.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Rename README.md to README.md
  docs/README.md
Owners: @flutter/devtools-reviewers

Make version and changelog checks warnings not failures
  .github/workflows/health.yaml
Owners: @flutter/devtools-reviewers

Add CI health checks for DevTools packages (#9653)
  .github/workflows/health.yaml
  .github/workflows/post_summary.yaml
Owners: @flutter/devtools-reviewers

Allow connecting all of DevTools to a DTD URI in debug mode
  packages/devtools_app/lib/src/screens/dtd/dtd_tools_controller.dart
  packages/devtools_app/lib/src/screens/dtd/dtd_tools_screen.dart
Owners: @flutter/devtools-reviewers

Clean up
  packages/devtools_app/lib/src/screens/dtd/dtd_tools_screen.dart
Owners: @flutter/devtools-reviewers

Updating from 2.55.0-dev.0 to 2.55.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.55.0-dev.0 to 2.55.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.55.0-dev.0 to 2.55.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Prepare devtools_app_shared and devtools_extensions for publishing to 0.5.0 (#9652)
  packages/devtools_app_shared/CHANGELOG.md
  packages/devtools_app_shared/pubspec.yaml
  packages/devtools_extensions/CHANGELOG.md
  packages/devtools_extensions/pubspec.yaml
Owners: @kenzieschmoll

CODEOWNERS:

*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @elliette

# Network Files
network/            @bkonyi @kenzieschmoll

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll @bkonyi

# Memory files
memory/             @bkonyi @kenzieschmoll

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @kenzieschmoll

# DevTools extensions and related files
src/extensions/
packages/devtools_extensions/    @kenzieschmoll
packages/devtools_app_shared/    @kenzieschmoll

# package:devtools_shared code, which is used across DevTools and the Dart SDK
packages/devtools_shared/        @kenzieschmoll @bkonyi

# Version bump files.
# No owners to prevent version update spam
packages/devtools_app/lib/devtools.dart
packages/devtools_app/pubspec.yaml
packages/devtools_test/pubspec.yaml
