Repository flutter/devtools, changes with the owners that CODEOWNERS names for each.
All owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

[Property Editor] Do not trigger edits if there have been no changes to a property (#8951)
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_inputs.dart
  packages/devtools_app/test/standalone_ui/ide_shared/property_editor/property_editor_test.dart
Owners: @flutter/devtools-reviewers

Consolidate the `Disposable` logic in `devtools_app_shared` (#8952)
  packages/devtools_app/lib/src/shared/diagnostics/object_group_api.dart
  packages/devtools_app/lib/src/shared/ui/hover.dart
  packages/devtools_app/test/shared/eval_integration_test.dart
  packages/devtools_app_shared/CHANGELOG.md
  packages/devtools_app_shared/lib/src/service/eval_on_dart_library.dart
  packages/devtools_app_shared/lib/src/service/service_manager.dart
  packages/devtools_app_shared/lib/src/utils/auto_dispose.dart
  packages/devtools_app_shared/pubspec.yaml
  packages/devtools_extensions/CHANGELOG.md
  packages/devtools_extensions/pubspec.yaml
Owners: @flutter/devtools-reviewers, @kenzieschmoll

Add package:web workaround
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_inputs.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/utils/_utils_desktop.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/utils/_utils_web.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/utils/utils.dart
Owners: @flutter/devtools-reviewers

Fix test field issue
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_inputs.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_view.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/utils/_utils_web.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/utils/utils.dart
Owners: @flutter/devtools-reviewers

handle null functions key in cpu samples (#8940)
  packages/devtools_app/lib/src/screens/profiler/cpu_profile_model.dart
  packages/devtools_app/test/screens/cpu_profiler/cpu_profile_model_test.dart
Owners: @kenzieschmoll, @bkonyi, @flutter/devtools-reviewers

Key should be on property input
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_inputs.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_view.dart
Owners: @flutter/devtools-reviewers

Add no-op comments
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/utils/_utils_desktop.dart
Owners: @flutter/devtools-reviewers

One more Dart doc
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/utils/utils.dart
Owners: @flutter/devtools-reviewers

Respond to comments
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_inputs.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_view.dart
Owners: @flutter/devtools-reviewers

[Property Editor] Fix text input state retention issues follow-up (#8958)
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_inputs.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_view.dart
Owners: @flutter/devtools-reviewers

[Property Editor] Add workaround for embedded `TextField` focus issues (#8957)
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_view.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/utils/_utils_desktop.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/utils/_utils_web.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/utils/utils.dart
Owners: @flutter/devtools-reviewers

use the median observed time instead of the reported sample period to calculate time
  packages/devtools_app/lib/src/screens/profiler/cpu_profile_model.dart
Owners: @kenzieschmoll, @bkonyi

initial code review updates
  packages/devtools_app/lib/src/screens/profiler/cpu_profile_model.dart
Owners: @kenzieschmoll, @bkonyi

fix new analysis failure
  packages/devtools_app/lib/src/shared/config_specific/framework_initialize/_framework_initialize_web.dart
Owners: @flutter/devtools-reviewers

add some tests
  packages/devtools_app/lib/src/screens/profiler/cpu_profile_model.dart
  packages/devtools_app/test/screens/cpu_profiler/cpu_profile_model_test.dart
Owners: @kenzieschmoll, @bkonyi, @flutter/devtools-reviewers

Fix CPU profiler tab time estimates (#8941)
  packages/devtools_app/lib/src/screens/profiler/cpu_profile_model.dart
  packages/devtools_app/lib/src/screens/profiler/panes/method_table/method_table_model.dart
  packages/devtools_app/lib/src/shared/config_specific/framework_initialize/_framework_initialize_web.dart
  packages/devtools_app/lib/src/shared/utils/profiler_utils.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/test/screens/cpu_profiler/cpu_profile_model_test.dart
  packages/devtools_app/test/screens/cpu_profiler/method_table/method_table_model_test.dart
  packages/devtools_app/test/test_infra/test_data/cpu_profiler/cpu_profile.dart
Owners: @kenzieschmoll, @bkonyi, @flutter/devtools-reviewers

formatting
  packages/devtools_app/test/test_infra/scenes/memory/default.dart
Owners: @bkonyi, @kenzieschmoll

fix tests
  packages/devtools_app/lib/src/screens/memory/framework/memory_controller.dart
  packages/devtools_app/lib/src/screens/memory/panes/tracing/tracing_pane_controller.dart
  packages/devtools_app/test/screens/memory/framework/memory_screen_test.dart
Owners: @bkonyi, @kenzieschmoll

Updating from 2.43.0 to 2.44.0-dev.0
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/release_notes/images/network_controls.png
  packages/devtools_app/release_notes/images/network_open_save_button.png
Owners: @flutter/devtools-reviewers

Reset DevTools to next dev version
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Reset DevTools to next dev version (#8964)
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Prepare for release 2.44.0
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Update Flutter candidate version
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

Updating from 2.44.0-dev.0 to 2.44.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.44.0-dev.0 to 2.44.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Correct some broken comment references
  packages/devtools_app/lib/src/app.dart
  packages/devtools_app/lib/src/extensions/extension_service.dart
  packages/devtools_app/lib/src/screens/debugger/codeview_controller.dart
  packages/devtools_app/lib/src/screens/network/network_controller.dart
  packages/devtools_app/lib/src/screens/performance/panes/controls/enhance_tracing/enhance_tracing.dart
  packages/devtools_app/lib/src/screens/performance/panes/flutter_frames/flutter_frames_controller.dart
  packages/devtools_app/lib/src/screens/performance/panes/frame_analysis/frame_hints.dart
  packages/devtools_app/lib/src/screens/performance/panes/timeline_events/perfetto/_perfetto_controller_web.dart
  packages/devtools_app/lib/src/screens/performance/panes/timeline_events/perfetto/_perfetto_web.dart
  packages/devtools_app/lib/src/screens/profiler/cpu_profile_model.dart
  packages/devtools_app/lib/src/screens/profiler/panes/controls/cpu_profiler_controls.dart
Owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

Updating from 2.44.0-dev.0 to 2.44.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Dispose all disposables in the Memory screen (#8953)
  packages/devtools_app/lib/src/screens/memory/framework/memory_controller.dart
  packages/devtools_app/lib/src/screens/memory/panes/chart/controller/chart_connection.dart
  packages/devtools_app/lib/src/screens/memory/panes/chart/controller/chart_data.dart
  packages/devtools_app/lib/src/screens/memory/panes/chart/controller/chart_pane_controller.dart
  packages/devtools_app/lib/src/screens/memory/panes/chart/controller/memory_tracker.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/controller/class_data.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/controller/diff_pane_controller.dart
  packages/devtools_app/lib/src/screens/memory/panes/profile/profile_pane_controller.dart
  packages/devtools_app/lib/src/screens/memory/panes/profile/profile_view.dart
  packages/devtools_app/lib/src/screens/memory/panes/tracing/tracing_pane_controller.dart
  packages/devtools_app/lib/src/screens/memory/shared/primitives/memory_timeline.dart
  packages/devtools_app/lib/src/shared/charts/chart_controller.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/test/screens/memory/framework/memory_screen_test.dart
  packages/devtools_app/test/test_infra/scenes/memory/default.dart
Owners: @bkonyi, @kenzieschmoll, @flutter/devtools-reviewers

Dispose all disposables in the Deep Links Screen
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_controller.dart
  packages/devtools_app/test/screens/deep_link_validation/app_link_settings_test.dart
  packages/devtools_app/test/screens/deep_link_validation/deep_links_screen_test.dart
  packages/devtools_app/test/screens/deep_link_validation/select_project_view_test.dart
  packages/devtools_app/test/screens/deep_link_validation/universal_link_settings_test.dart
Owners: @flutter/devtools-reviewers

rnotes
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Dispose all disposables in the Inspector screen
  packages/devtools_app/lib/src/screens/inspector/inspector_controller.dart
  packages/devtools_app/lib/src/screens/inspector/inspector_tree_controller.dart
  packages/devtools_app/lib/src/screens/inspector_shared/inspector_screen_controller.dart
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_controller.dart
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_tree_controller.dart
  packages/devtools_app/lib/src/screens/inspector_v2/widget_properties/properties_view.dart
  packages/devtools_app/lib/src/shared/primitives/utils.dart
Owners: @elliette, @flutter/devtools-reviewers

rnotes
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Dispose all disposables in the Inspector screen (#8970)
  packages/devtools_app/lib/src/screens/inspector/inspector_controller.dart
  packages/devtools_app/lib/src/screens/inspector/inspector_tree_controller.dart
  packages/devtools_app/lib/src/screens/inspector_shared/inspector_screen_controller.dart
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_controller.dart
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_tree_controller.dart
  packages/devtools_app/lib/src/screens/inspector_v2/widget_properties/properties_view.dart
  packages/devtools_app/lib/src/shared/primitives/utils.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @elliette, @flutter/devtools-reviewers

rnotes merge
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Dispose all disposables in the Deep Links Screen (#8969)
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_controller.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/test/screens/deep_link_validation/app_link_settings_test.dart
  packages/devtools_app/test/screens/deep_link_validation/deep_links_screen_test.dart
  packages/devtools_app/test/screens/deep_link_validation/select_project_view_test.dart
  packages/devtools_app/test/screens/deep_link_validation/universal_link_settings_test.dart
Owners: @flutter/devtools-reviewers

Earlier Flutter candidate version
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

[DRAFT] Update Flutter candidate verison
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

Address memory leaks with search and filter code
  packages/devtools_app/lib/src/framework/scaffold/status_line.dart
  packages/devtools_app/lib/src/screens/app_size/app_size_screen.dart
  packages/devtools_app/lib/src/screens/debugger/codeview.dart
  packages/devtools_app/lib/src/screens/debugger/file_search.dart
  packages/devtools_app/lib/src/screens/inspector/inspector_screen_body.dart
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_screen_body.dart
  packages/devtools_app/lib/src/screens/logging/logging_controller.dart
  packages/devtools_app/lib/src/screens/network/network_controller.dart
  packages/devtools_app/lib/src/screens/profiler/cpu_profiler_controller.dart
  packages/devtools_app/lib/src/shared/charts/flame_chart.dart
  packages/devtools_app/lib/src/shared/console/widgets/evaluate.dart
  packages/devtools_app/lib/src/shared/framework/routing.dart
  packages/devtools_app/lib/src/shared/table/_table_row.dart
  packages/devtools_app/lib/src/shared/ui/common_widgets.dart
  packages/devtools_app/lib/src/shared/ui/filter.dart
  packages/devtools_app/lib/src/shared/ui/search.dart
  packages/devtools_app/lib/src/shared/utils/utils.dart
  packages/devtools_app/test/shared/ui/filter_test.dart
Owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

rnotes
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Change Flutter version again
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

CODEOWNERS:

*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @elliette

# Network Files
network/            @bkonyi @kenzieschmoll

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll @bkonyi

# Memory files
memory/             @bkonyi @kenzieschmoll

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @kenzieschmoll

# DevTools extensions and related files
src/extensions/
packages/devtools_extensions/    @kenzieschmoll
packages/devtools_app_shared/    @kenzieschmoll

# package:devtools_shared code, which is used across DevTools and the Dart SDK
packages/devtools_shared/        @kenzieschmoll @bkonyi

# Version bump files.
# No owners to prevent version update spam
packages/devtools_app/lib/devtools.dart
packages/devtools_app/pubspec.yaml
packages/devtools_test/pubspec.yaml
