Repository flutter/devtools, changes with the owners that CODEOWNERS names for each.
All owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

CODEOWNERS:

*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @elliette

# Network Files
network/            @bkonyi @kenzieschmoll

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll @bkonyi

# Memory files
memory/             @bkonyi @kenzieschmoll

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @kenzieschmoll

# DevTools extensions and related files
src/extensions/
packages/devtools_extensions/    @kenzieschmoll
packages/devtools_app_shared/    @kenzieschmoll

# package:devtools_shared code, which is used across DevTools and the Dart SDK
packages/devtools_shared/        @kenzieschmoll @bkonyi

# Version bump files.
# No owners to prevent version update spam
packages/devtools_app/lib/devtools.dart
packages/devtools_app/pubspec.yaml
packages/devtools_test/pubspec.yaml

Rename projectRoot -> projectRootUriString
  packages/devtools_shared/test/utils/file_utils_test.dart
Owners: @kenzieschmoll, @bkonyi

Cleanup the messages for entering a Dart VM Service URL
  packages/devtools_app/lib/src/framework/home_screen.dart
Owners: @flutter/devtools-reviewers

[PE] tooltip to describe current exception mode
  packages/devtools_app/lib/src/screens/debugger/controls.dart
Owners: @elliette

+ test
  packages/devtools_app/test/screens/debugger/debugger_screen_test.dart
Owners: @elliette

++
  packages/devtools_app/test/screens/debugger/debugger_screen_test.dart
Owners: @elliette

Cleanup the messages for entering a Dart VM Service URL (#8848)
  packages/devtools_app/lib/src/framework/home_screen.dart
Owners: @flutter/devtools-reviewers

+ exception mode tooltip
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

[PE] fix typo in `RoundedButtonGroup` class doc
  packages/devtools_app_shared/lib/src/ui/buttons.dart
Owners: @kenzieschmoll

Fix RenderFlex overflow error in Inspector controls
  packages/devtools_app/lib/src/screens/inspector_shared/inspector_controls.dart
Owners: @flutter/devtools-reviewers

=> helper function
  packages/devtools_app/test/screens/debugger/debugger_screen_test.dart
Owners: @elliette

- custom find
  packages/devtools_app/test/screens/debugger/debugger_screen_test.dart
Owners: @elliette

Debugger: soft wrap console input lines
  packages/devtools_app/lib/src/shared/console/console.dart
  packages/devtools_app/lib/src/shared/console/widgets/evaluate.dart
  packages/devtools_app/lib/src/shared/ui/search.dart
Owners: @flutter/devtools-reviewers

Fix a couple errors in the Contributing guide
  CONTRIBUTING.md
Owners: @flutter/devtools-reviewers

Make the tooltip for 'Load all CPU samples' more verbose
  packages/devtools_app/lib/src/screens/profiler/panes/controls/profiler_screen_controls.dart
Owners: @kenzieschmoll, @bkonyi

Release notes
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Revert change not needed
  packages/devtools_app/lib/src/screens/inspector_shared/inspector_controls.dart
Owners: @flutter/devtools-reviewers

Fix RenderFlex overflow error in Inspector controls (#8851)
  packages/devtools_app/lib/src/screens/inspector_shared/inspector_controls.dart
Owners: @flutter/devtools-reviewers

PR
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

[PE] fix typo in `RoundedButtonGroup` class doc (#8852)
  packages/devtools_app_shared/lib/src/ui/buttons.dart
Owners: @kenzieschmoll

[PE] tooltip to describe current exception mode (#8849)
  packages/devtools_app/lib/src/screens/debugger/controls.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/test/screens/debugger/debugger_screen_test.dart
Owners: @elliette, @flutter/devtools-reviewers

Combine resume / pause buttons in the debugger controls
  packages/devtools_app/lib/src/screens/debugger/controls.dart
Owners: @elliette

Added changelog entry
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Refactor Network page to use ContextMenuButton
  packages/devtools_app/lib/src/screens/network/network_screen.dart
Owners: @bkonyi, @kenzieschmoll

release notes
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Fixed copy/paste issue
  packages/devtools_app/lib/src/screens/debugger/controls.dart
Owners: @elliette

Update CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @flutter/devtools-reviewers

Update CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @flutter/devtools-reviewers

Fix a couple errors in the Contributing guide (#8854)
  CONTRIBUTING.md
Owners: @flutter/devtools-reviewers

Use previous HTTP profile timestamps instead of DateTime.now() when requesting HTTP profiles
  packages/devtools_app/lib/src/screens/network/network_controller.dart
  packages/devtools_app/lib/src/screens/network/network_service.dart
Owners: @bkonyi, @kenzieschmoll

Make the tooltip for 'Load all CPU samples' more verbose (#8856)
  packages/devtools_app/lib/src/screens/profiler/panes/controls/profiler_screen_controls.dart
Owners: @kenzieschmoll, @bkonyi

Release notes
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Avoid a few non-null assertions in inspector
  packages/devtools_app/lib/src/screens/inspector/inspector_data_models.dart
  packages/devtools_app/lib/src/screens/inspector/layout_explorer/flex/flex.dart
  packages/devtools_app/lib/src/screens/inspector/layout_explorer/flex/utils.dart
  packages/devtools_app/lib/src/screens/inspector/layout_explorer/ui/free_space.dart
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_data_models.dart
  packages/devtools_app/lib/src/screens/inspector_v2/layout_explorer/flex/flex.dart
  packages/devtools_app/lib/src/screens/inspector_v2/layout_explorer/flex/utils.dart
  packages/devtools_app/lib/src/screens/inspector_v2/layout_explorer/ui/free_space.dart
  packages/devtools_app/test/screens/inspector/layout_explorer/inspector_data_models_test.dart
  packages/devtools_app/test/screens/inspector_v2/layout_explorer/inspector_data_models_test.dart
Owners: @elliette, @flutter/devtools-reviewers

feedback
  packages/devtools_app/lib/src/screens/network/network_screen.dart
Owners: @bkonyi, @kenzieschmoll

Fix broken comment references in devtools_app_shared
  packages/devtools_app_shared/example/ui/dialog_example.dart
  packages/devtools_app_shared/example/ui/split_example.dart
  packages/devtools_app_shared/lib/src/service/resolved_uri_manager.dart
  packages/devtools_app_shared/lib/src/ui/common.dart
  packages/devtools_app_shared/lib/src/ui/flex_split_column.dart
  packages/devtools_app_shared/lib/src/utils/auto_dispose.dart
  packages/devtools_app_shared/lib/src/utils/list.dart
Owners: @kenzieschmoll

Refactor Network page to use ContextMenuButton (#8859)
  packages/devtools_app/lib/src/screens/network/network_screen.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @bkonyi, @kenzieschmoll, @flutter/devtools-reviewers

Switch to regex
  packages/devtools_app/lib/src/shared/analytics/analytics_common.dart
Owners: @flutter/devtools-reviewers

Normalize analytics paths for Windows (#8844)
  packages/devtools_app/lib/src/shared/analytics/analytics_common.dart
  packages/devtools_app/test/shared/analytics/analytics_test.dart
Owners: @flutter/devtools-reviewers

Add a unique key to the notifications widget so they don't get reparented
  packages/devtools_app/lib/src/framework/notifications_view.dart
Owners: @flutter/devtools-reviewers

format
  packages/devtools_app/lib/src/framework/notifications_view.dart
Owners: @flutter/devtools-reviewers

Make DevToolsTable.rowItemExtent non-nullable
  packages/devtools_app/lib/src/app.dart
  packages/devtools_app/lib/src/shared/table/table.dart
Owners: @flutter/devtools-reviewers
