Repository flutter/devtools, changes with the owners that CODEOWNERS names for each.
All owners: @flutter/devtools-reviewers, @CoderDake, @kenzieschmoll, @bkonyi, @polina-c, @elliette

CODEOWNERS:

*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @CoderDake

# Network Files
network/            @kenzieschmoll @bkonyi

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll

# Memory files
memory/             @bkonyi @polina-c

# Memory leak tracking files
memory/panes/leaks  @CoderDake @polina-c

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @CoderDake

fixes
  packages/devtools_app/lib/src/analytics/_analytics_web.dart
  packages/devtools_app/lib/src/ui/gtags.dart
Owners: @flutter/devtools-reviewers

add missing new line
  packages/devtools_app/lib/src/ui/gtags.dart
Owners: @flutter/devtools-reviewers

-
  CHANGELOG.md
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/web/index.html
  packages/devtools_shared/pubspec.yaml
  packages/devtools_test/pubspec.yaml
Owners: @flutter/devtools-reviewers

Prevent _gtagEvent from being called in a non-release builds (#4841)
  packages/devtools_app/lib/src/analytics/_analytics_web.dart
  packages/devtools_app/lib/src/ui/gtags.dart
Owners: @flutter/devtools-reviewers

Prepare for 2.20.0 release.
  CHANGELOG.md
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/web/index.html
  packages/devtools_shared/pubspec.yaml
  packages/devtools_test/pubspec.yaml
Owners: @flutter/devtools-reviewers

-
  case_study/memory_leaks/leaking_counter_1/README.md
Owners: @flutter/devtools-reviewers

Update CHANGELOG.md
  CHANGELOG.md
Owners: @flutter/devtools-reviewers

Update CHANGELOG.md
  CHANGELOG.md
Owners: @flutter/devtools-reviewers

Update CHANGELOG.md
  CHANGELOG.md
Owners: @flutter/devtools-reviewers

Update README.md
  tool/README.md
Owners: @CoderDake

Prepare for 2.20.0 release. (#4843)
  CHANGELOG.md
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/web/index.html
  packages/devtools_shared/pubspec.yaml
  packages/devtools_test/pubspec.yaml
Owners: @flutter/devtools-reviewers

Update release-notes-next.md
  packages/devtools_app/lib/src/framework/release_notes/release-notes-next.md
Owners: @flutter/devtools-reviewers

Update release-notes-next.md
  packages/devtools_app/lib/src/framework/release_notes/release-notes-next.md
Owners: @flutter/devtools-reviewers

Update release-notes-next.md
  packages/devtools_app/lib/src/framework/release_notes/release-notes-next.md
Owners: @flutter/devtools-reviewers

Update release-notes-template.md
  packages/devtools_app/lib/src/framework/release_notes/release-notes-template.md
Owners: @flutter/devtools-reviewers

Add line focus, support for jumping to core libraries
  packages/devtools_app/lib/src/screens/debugger/codeview.dart
  packages/devtools_app/lib/src/screens/debugger/codeview_controller.dart
  packages/devtools_app/lib/src/screens/debugger/debugger_screen.dart
  packages/devtools_app/lib/src/screens/profiler/cpu_profile_columns.dart
Owners: @elliette, @kenzieschmoll

Reorganize leak tracking code. (#4832)
  packages/devtools_app/lib/src/screens/memory/panes/leaks/controller.dart
  packages/devtools_app/lib/src/screens/memory/panes/leaks/diagnostics/formatter.dart
  packages/devtools_app/lib/src/screens/memory/panes/leaks/leaks_pane.dart
  packages/devtools_app/lib/src/screens/memory/panes/leaks/widgets/simple_widgets.dart
  packages/devtools_app/test/memory/leaks/diagnostics/leak_analyzer_test.dart
Owners: @bkonyi, @polina-c

Update BETA_TESTING.md (#4830)
  BETA_TESTING.md
Owners: @flutter/devtools-reviewers

Update README.md
  tool/README.md
Owners: @CoderDake

Update README.md
  tool/README.md
Owners: @CoderDake

Fix tests
  packages/devtools_app/lib/src/screens/debugger/codeview.dart
  packages/devtools_app/test/cpu_profiler/cpu_profiler_test.dart
  packages/devtools_app/test/cpu_profiler/profiler_screen_test.dart
Owners: @elliette, @flutter/devtools-reviewers

Update release instructions. (#4844)
  packages/devtools_app/lib/src/framework/release_notes/release-notes-next.md
  packages/devtools_app/lib/src/framework/release_notes/release-notes-template.md
  tool/README.md
Owners: @flutter/devtools-reviewers, @CoderDake

Add link to view release notes from About dialog
  packages/devtools_app/lib/src/app.dart
  packages/devtools_app/lib/src/framework/about_dialog.dart
  packages/devtools_app/lib/src/framework/release_notes/release_notes.dart
Owners: @flutter/devtools-reviewers

fix test
  packages/devtools_app/test/shared/about_dialog_test.dart
Owners: @flutter/devtools-reviewers

fixes
  packages/devtools_app/lib/src/framework/release_notes/release_notes.dart
Owners: @flutter/devtools-reviewers

Add link to view release notes from About dialog (#4848)
  packages/devtools_app/lib/src/app.dart
  packages/devtools_app/lib/src/framework/about_dialog.dart
  packages/devtools_app/lib/src/framework/release_notes/release_notes.dart
  packages/devtools_app/test/shared/about_dialog_test.dart
Owners: @flutter/devtools-reviewers

Cleaner wat to get the candidate
  tool/latest_flutter_candidate.sh
Owners: @CoderDake

only grab branch name from lfc.sh clean up beta readme
  BETA_TESTING.md
  tool/test/release_notes/release_note_classes_test.dart
Owners: @flutter/devtools-reviewers, @CoderDake

Update controller.dart
  packages/devtools_app/lib/src/screens/memory/panes/leaks/controller.dart
Owners: @bkonyi, @polina-c

Fix typos in codebase.
  packages/devtools_app/lib/src/screens/performance/panes/rebuild_stats/rebuild_counts.dart
  packages/devtools_app/lib/src/screens/performance/panes/timeline_events/perfetto/_perfetto_web.dart
  packages/devtools_app/lib/src/screens/profiler/cpu_profile_transformer.dart
  packages/devtools_app/lib/src/shared/object_tree.dart
Owners: @kenzieschmoll, @flutter/devtools-reviewers

Fix typos in codebase. (#4850)
  packages/devtools_app/lib/src/screens/performance/panes/rebuild_stats/rebuild_counts.dart
  packages/devtools_app/lib/src/screens/performance/panes/timeline_events/perfetto/_perfetto_web.dart
  packages/devtools_app/lib/src/screens/profiler/cpu_profile_transformer.dart
  packages/devtools_app/lib/src/shared/object_tree.dart
Owners: @kenzieschmoll, @flutter/devtools-reviewers

oops forgot to commit this
  tool/latest_flutter_candidate.sh
Owners: @CoderDake

Update README.md
  tool/README.md
Owners: @CoderDake

Update README.md
  tool/README.md
Owners: @CoderDake

Update README.md
  tool/README.md
Owners: @CoderDake

-
  packages/devtools_app/lib/src/screens/memory/panes/leaks/controller.dart
  packages/devtools_app/lib/src/screens/memory/panes/leaks/widgets/simple_widgets.dart
Owners: @bkonyi, @polina-c

Clean up memory page UI and DevTools paddings
  packages/devtools_app/lib/src/screens/memory/memory_screen.dart
  packages/devtools_app/lib/src/screens/memory/memory_tabs.dart
  packages/devtools_app/lib/src/screens/memory/panes/allocation_profile/allocation_profile_table_view.dart
  packages/devtools_app/lib/src/screens/memory/panes/allocation_tracing/allocation_profile_class_table.dart
  packages/devtools_app/lib/src/screens/memory/panes/allocation_tracing/allocation_profile_tracing_view.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/diff_pane.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/widgets/class_details/class_details.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/widgets/class_details/path.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/widgets/snapshot_control_pane.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/widgets/snapshot_list.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/widgets/snapshot_view.dart
  packages/devtools_app/lib/src/screens/performance/tabbed_performance_view.dart
  packages/devtools_app/lib/src/shared/common_widgets.dart
  packages/devtools_app/lib/src/ui/tab.dart
Owners: @bkonyi, @polina-c, @kenzieschmoll, @flutter/devtools-reviewers

update goldens
  packages/devtools_app/test/test_infra/goldens/memory_diff_empty1.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_empty2.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_selected_class.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_custom_diff.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_custom_single.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_except_diff.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_except_single.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_only_diff.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_only_single.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_scene_diff.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_scene_single.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_showAll_diff.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_showAll_single.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_three_snapshots1.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_three_snapshots2.png
  packages/devtools_app/test/test_infra/goldens/memory_hover_card.png
  packages/devtools_app/test/test_infra/goldens/timeline_flame_chart_with_selected_frame.png
Owners: @flutter/devtools-reviewers

Clean up memory page UI and DevTools paddings (#4855)
  packages/devtools_app/lib/src/screens/memory/memory_screen.dart
  packages/devtools_app/lib/src/screens/memory/memory_tabs.dart
  packages/devtools_app/lib/src/screens/memory/panes/allocation_profile/allocation_profile_table_view.dart
  packages/devtools_app/lib/src/screens/memory/panes/allocation_tracing/allocation_profile_class_table.dart
  packages/devtools_app/lib/src/screens/memory/panes/allocation_tracing/allocation_profile_tracing_view.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/diff_pane.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/widgets/class_details/class_details.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/widgets/class_details/path.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/widgets/snapshot_control_pane.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/widgets/snapshot_list.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/widgets/snapshot_view.dart
  packages/devtools_app/lib/src/screens/performance/tabbed_performance_view.dart
  packages/devtools_app/lib/src/shared/common_widgets.dart
  packages/devtools_app/lib/src/ui/tab.dart
  packages/devtools_app/test/test_infra/goldens/memory_diff_empty1.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_empty2.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_selected_class.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_custom_diff.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_custom_single.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_except_diff.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_except_single.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_only_diff.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_only_single.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_scene_diff.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_scene_single.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_showAll_diff.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_showAll_single.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_three_snapshots1.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_three_snapshots2.png
  packages/devtools_app/test/test_infra/goldens/memory_hover_card.png
  packages/devtools_app/test/test_infra/goldens/timeline_flame_chart_with_selected_frame.png
Owners: @bkonyi, @polina-c, @kenzieschmoll, @flutter/devtools-reviewers

-
  packages/devtools_app/lib/src/screens/memory/memory_controller.dart
  packages/devtools_app/lib/src/screens/memory/panes/leaks/controller.dart
  packages/devtools_app/lib/src/screens/memory/panes/leaks/leaks_pane.dart
Owners: @bkonyi, @polina-c
