Repository flutter/devtools, changes with the owners that CODEOWNERS names for each.
All owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

CODEOWNERS:

*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @elliette

# Network Files
network/            @bkonyi @kenzieschmoll

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll @bkonyi

# Memory files
memory/             @bkonyi @kenzieschmoll

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @kenzieschmoll

# DevTools extensions and related files
src/extensions/
packages/devtools_extensions/    @kenzieschmoll
packages/devtools_app_shared/    @kenzieschmoll

# package:devtools_shared code, which is used across DevTools and the Dart SDK
packages/devtools_shared/        @kenzieschmoll @bkonyi

# Version bump files.
# No owners to prevent version update spam
packages/devtools_app/lib/devtools.dart
packages/devtools_app/pubspec.yaml
packages/devtools_test/pubspec.yaml

Move the property editor into its own sidebar
  packages/.vscode/launch.json
  packages/devtools_app/lib/src/standalone_ui/vs_code/property_editor_panel.dart
  packages/devtools_app/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/devtools_app/test/test_infra/scenes/standalone_ui/property_editor_sidebar.dart
Owners: @flutter/devtools-reviewers

delete property editor from sidebar
  packages/devtools_app/lib/src/standalone_ui/vs_code/flutter_panel.dart
Owners: @flutter/devtools-reviewers

Verify that benchmark tests meet expected performance thresholds
  packages/devtools_app/benchmark/README.md
  packages/devtools_app/benchmark/devtools_benchmarks_test.dart
Owners: @flutter/devtools-reviewers

formatting
  packages/devtools_app/benchmark/devtools_benchmarks_test.dart
Owners: @flutter/devtools-reviewers

add todo to address before landing
  packages/devtools_app/benchmark/devtools_benchmarks_test.dart
Owners: @flutter/devtools-reviewers

Temporarily disable `Code` based profiling when VM Developer Mode is enabled
  packages/devtools_app/lib/src/service/vm_service_wrapper.dart
Owners: @flutter/devtools-reviewers

add 'wasm' or 'js' to identifier.
  packages/devtools_app/benchmark/devtools_benchmarks_test.dart
Owners: @flutter/devtools-reviewers

Clarify VS Code configuration in DevTools extensions readme
  packages/devtools_extensions/CHANGELOG.md
  packages/devtools_extensions/README.md
Owners: @kenzieschmoll

Update vm_service_wrapper.dart
  packages/devtools_app/lib/src/service/vm_service_wrapper.dart
Owners: @flutter/devtools-reviewers

Update to latest flutter.
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

Clarify VS Code configuration in DevTools extensions readme (#8579)
  packages/devtools_extensions/CHANGELOG.md
  packages/devtools_extensions/README.md
Owners: @kenzieschmoll

Ensure test failures are reported on the flutter customer test registry.
  tool/flutter_customer_tests/test.sh
Owners: @kenzieschmoll

Analyzer errors and change GA id
  packages/devtools_app/lib/src/standalone_ui/vs_code/flutter_panel.dart
  packages/devtools_app/lib/src/standalone_ui/vs_code/property_editor_panel.dart
Owners: @flutter/devtools-reviewers

Ensure test failures are reported on the flutter customer test registry. (#8581)
  tool/flutter_customer_tests/test.sh
Owners: @kenzieschmoll

Fix & skip tests.
  packages/devtools_app/test/inspector_v2/inspector_integration_test.dart
  packages/devtools_app/test/test_infra/goldens/integration_animated_physical_model_selected.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_errors_1_initial_load.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_errors_2_error_selected.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_initial_load.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_richtext_selected.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_scaffold_selected.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_select_center.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_select_center_details_tree.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_errors_1_initial_load.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_errors_2_error_selected.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_hideable_widget_selected.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_hideable_widget_selected_from_search.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_implementation_widgets_collapsed.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_implementation_widgets_expanded.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_implementation_widgets_hidden.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_initial_load.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_revert_to_legacy.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_select_center.png
  packages/devtools_app/test/test_infra/goldens/memory/load_offline_data_trace_tab.png
Owners: @flutter/devtools-reviewers, @bkonyi, @kenzieschmoll

goldens
  packages/devtools_app/test/test_infra/goldens/integration_animated_physical_model_selected.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_errors_1_initial_load.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_errors_2_error_selected.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_initial_load.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_richtext_selected.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_scaffold_selected.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_select_center.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_select_center_details_tree.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_errors_1_initial_load.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_errors_2_error_selected.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_hideable_widget_selected.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_hideable_widget_selected_from_search.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_implementation_widgets_collapsed.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_implementation_widgets_expanded.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_implementation_widgets_hidden.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_initial_load.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_revert_to_legacy.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_select_center.png
  packages/devtools_app/test/test_infra/goldens/memory/load_offline_data_profile_tab.png
  packages/devtools_app/test/test_infra/goldens/memory/load_offline_data_trace_tab.png
Owners: @flutter/devtools-reviewers, @bkonyi, @kenzieschmoll

Update to latest flutter. (#8580)
  flutter-candidate.txt
  packages/devtools_app/test/inspector_v2/inspector_integration_test.dart
  packages/devtools_app/test/test_infra/goldens/memory/load_offline_data_profile_tab.png
Owners: @flutter/devtools-reviewers, @bkonyi, @kenzieschmoll

polish
  packages/devtools_app/benchmark/devtools_benchmarks_test.dart
Owners: @flutter/devtools-reviewers

retry once
  packages/devtools_app/benchmark/devtools_benchmarks_test.dart
Owners: @flutter/devtools-reviewers

formatting
  packages/devtools_app/benchmark/devtools_benchmarks_test.dart
Owners: @flutter/devtools-reviewers

use a const
  packages/devtools_app/benchmark/devtools_benchmarks_test.dart
Owners: @flutter/devtools-reviewers

Temporarily disable `Code` based profiling when VM Developer Mode is enabled (#8578)
  packages/devtools_app/lib/src/service/vm_service_wrapper.dart
Owners: @flutter/devtools-reviewers

Fix test
  packages/devtools_app/test/inspector_v2/inspector_integration_test.dart
Owners: @flutter/devtools-reviewers

Add comment
  packages/devtools_app/test/inspector_v2/inspector_integration_test.dart
Owners: @flutter/devtools-reviewers

Skip flaky eval integration tests for test registry
  packages/devtools_app/test/shared/eval_integration_test.dart
Owners: @flutter/devtools-reviewers

Skip flaky eval integration tests for test registry (#8586)
  packages/devtools_app/test/shared/eval_integration_test.dart
Owners: @flutter/devtools-reviewers

move connected app to service/
  packages/devtools_app/lib/devtools_app.dart
  packages/devtools_app/lib/src/framework/disconnect_observer.dart
  packages/devtools_app/lib/src/framework/home_screen.dart
  packages/devtools_app/lib/src/framework/initializer.dart
  packages/devtools_app/lib/src/screens/performance/panes/frame_analysis/frame_hints.dart
  packages/devtools_app/lib/src/service/connected_app/connected_app.dart
  packages/devtools_app/lib/src/service/connected_app/connection_info.dart
  packages/devtools_app/lib/src/service/service_manager.dart
  packages/devtools_app/lib/src/shared/console/eval/auto_complete.dart
  packages/devtools_app/lib/src/shared/managers/banner_messages.dart
  packages/devtools_app/lib/src/shared/utils/utils.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

fix test import
  packages/devtools_app/test/shared/service_extension_widgets_test.dart
Owners: @flutter/devtools-reviewers

Respond to PR comments
  .vscode/launch.json
  packages/devtools_app/lib/src/standalone_ui/vs_code/property_editor_panel.dart
  packages/devtools_app/test/test_infra/scenes/standalone_ui/editor_sidebar.dart
  packages/devtools_app/test/test_infra/scenes/standalone_ui/mock_editor_widget.dart
  packages/devtools_app/test/test_infra/scenes/standalone_ui/property_editor_sidebar.dart
  packages/devtools_app/test/test_infra/scenes/standalone_ui/shared/common_ui.dart
  packages/devtools_app/test/test_infra/scenes/standalone_ui/shared/utils.dart
Owners: @flutter/devtools-reviewers

Respond to more PR comments
  packages/devtools_app/lib/src/shared/analytics/constants.dart
  packages/devtools_app/lib/src/shared/analytics/constants/_property_editor_sidebar_constants.dart
  packages/devtools_app/lib/src/standalone_ui/standalone_screen.dart
  packages/devtools_app/lib/src/standalone_ui/vs_code/property_editor_panel.dart
Owners: @flutter/devtools-reviewers

Format
  packages/devtools_app/lib/src/standalone_ui/vs_code/property_editor_panel.dart
Owners: @flutter/devtools-reviewers

Un-skip inspector test case (#8585)
  packages/devtools_app/test/inspector_v2/inspector_integration_test.dart
Owners: @flutter/devtools-reviewers

Update empty word check (#8572)
  packages/devtools_app/lib/src/screens/debugger/codeview.dart
Owners: @elliette

fix network test
  packages/devtools_app/test/screens/debugger/debugger_codeview_test.dart
  packages/devtools_app/test/screens/memory/framework/memory_service_test.dart
  packages/devtools_app/test/screens/network/har_network_test.dart
  packages/devtools_app/test/test_infra/test_data/network/sample_requests.json
  packages/devtools_test/lib/src/helpers/utils.dart
Owners: @elliette, @bkonyi, @kenzieschmoll, @flutter/devtools-reviewers

fix golden paths
  packages/devtools_app/test/screens/cpu_profiler/method_table/method_table_test.dart
  packages/devtools_app/test/screens/memory/chart/chart_test.dart
  packages/devtools_app/test/screens/memory/control/settings_dialog_test.dart
  packages/devtools_app/test/screens/memory/diff/widgets/class_filter_test.dart
  packages/devtools_app/test/screens/memory/diff/widgets/diff_pane_test.dart
  packages/devtools_app/test/screens/memory/framework/memory_screen_test.dart
  packages/devtools_app/test/screens/performance/frame_analysis/frame_analysis_test.dart
Owners: @flutter/devtools-reviewers, @bkonyi, @kenzieschmoll

Respond to PR comments
  devtools_options.yaml
  packages/devtools_app/lib/src/standalone_ui/vs_code/property_editor_panel.dart
Owners: @flutter/devtools-reviewers

Format
  packages/devtools_app/lib/src/standalone_ui/vs_code/property_editor_panel.dart
Owners: @flutter/devtools-reviewers

got into weird state
  packages/devtools_app/test/inspector_v2/inspector_integration_test.dart
Owners: @flutter/devtools-reviewers

Add code editing tests
  packages/devtools_app/test/inspector_v2/inspector_integration_test.dart
Owners: @flutter/devtools-reviewers

Stager scene for Property Editor (#8573)
  .vscode/launch.json
  packages/devtools_app/lib/src/shared/analytics/constants.dart
  packages/devtools_app/lib/src/shared/analytics/constants/_property_editor_sidebar_constants.dart
  packages/devtools_app/lib/src/standalone_ui/standalone_screen.dart
  packages/devtools_app/lib/src/standalone_ui/vs_code/flutter_panel.dart
  packages/devtools_app/lib/src/standalone_ui/vs_code/property_editor_panel.dart
  packages/devtools_app/test/test_infra/scenes/standalone_ui/editor_sidebar.dart
  packages/devtools_app/test/test_infra/scenes/standalone_ui/mock_editor_widget.dart
  packages/devtools_app/test/test_infra/scenes/standalone_ui/property_editor_sidebar.dart
  packages/devtools_app/test/test_infra/scenes/standalone_ui/shared/common_ui.dart
  packages/devtools_app/test/test_infra/scenes/standalone_ui/shared/utils.dart
Owners: @flutter/devtools-reviewers
