Repository flutter/devtools, changes with the owners that CODEOWNERS names for each.
All owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

Prepare for release 2.48.0 (#9290)
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

ServiceExtensionManager: return early... earlier (#9287)
  packages/devtools_app_shared/lib/src/service/service_extension_manager.dart
Owners: @kenzieschmoll

ServiceExtensionManager: simplify code around service state and availability (#9288)
  packages/devtools_app_shared/lib/src/service/service_extension_manager.dart
Owners: @kenzieschmoll

ServiceExtensionManager: avoid switching on runtime type (#9286)
  packages/devtools_app_shared/lib/src/service/service_extension_manager.dart
Owners: @kenzieschmoll

Bump DevTools version for next release cycle
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

update flutter hash to latest
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

formatting
  packages/devtools_app/benchmark/devtools_benchmarks_test.dart
Owners: @flutter/devtools-reviewers

Bump DevTools version for next release cycle (#9296)
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Reset thresholds for performance benchmarks (#9257)
  flutter-candidate.txt
  packages/devtools_app/benchmark/devtools_benchmarks_test.dart
Owners: @flutter/devtools-reviewers

Updating from 2.49.0-dev.0 to 2.49.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.49.0-dev.0 to 2.49.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.49.0-dev.0 to 2.49.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Support --dtd-exposed-uri in dt
  tool/lib/commands/serve.dart
Owners: @kenzieschmoll

Delete scaleByFontFactor
  packages/devtools_app_shared/lib/src/ui/ui_utils.dart
Owners: @kenzieschmoll

No more use for fontSizeFactor
  packages/devtools_app_shared/lib/src/ui/theme/ide_theme.dart
  packages/devtools_app_shared/lib/src/ui/theme/theme.dart
Owners: @kenzieschmoll

Updating from 2.49.0-dev.0 to 2.49.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Clean up getters
  packages/devtools_app/lib/src/framework/notifications_view.dart
  packages/devtools_app/lib/src/screens/debugger/breakpoints.dart
  packages/devtools_app/lib/src/screens/debugger/codeview.dart
  packages/devtools_app/lib/src/screens/inspector/inspector_tree_controller.dart
  packages/devtools_app/lib/src/screens/inspector/layout_explorer/flex/flex.dart
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_tree_controller.dart
  packages/devtools_app/lib/src/screens/inspector_v2/layout_explorer/flex/flex.dart
  packages/devtools_app/lib/src/screens/memory/panes/chart/widgets/chart_pane.dart
  packages/devtools_app/lib/src/screens/performance/panes/flutter_frames/flutter_frames_chart.dart
  packages/devtools_app/lib/src/shared/charts/flame_chart.dart
  packages/devtools_app/lib/src/shared/console/eval/inspector_tree.dart
  packages/devtools_app/lib/src/shared/console/eval/inspector_tree_v2.dart
  packages/devtools_app/lib/src/shared/table/table_data.dart
  packages/devtools_app/lib/src/shared/ui/hover.dart
  packages/devtools_app/lib/src/shared/ui/tab.dart
  packages/devtools_app/lib/src/shared/ui/tree_view.dart
Owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

Apply more Dart fixes
  packages/devtools_app/lib/src/screens/debugger/codeview.dart
  packages/devtools_app/lib/src/screens/inspector/inspector_tree_controller.dart
  packages/devtools_app/lib/src/screens/inspector/layout_explorer/flex/flex.dart
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_tree_controller.dart
  packages/devtools_app/lib/src/screens/inspector_v2/layout_explorer/flex/flex.dart
  packages/devtools_app/lib/src/screens/memory/panes/chart/widgets/chart_pane.dart
  packages/devtools_app/lib/src/service/service_extension_widgets.dart
  packages/devtools_app/test/shared/charts/flame_chart_test.dart
Owners: @elliette, @flutter/devtools-reviewers, @bkonyi, @kenzieschmoll

Remove fontSize query param
  packages/devtools_app/lib/src/framework/theme_manager.dart
  packages/devtools_app/test/shared/primitives/query_parameters_test.dart
  packages/devtools_app_shared/lib/src/ui/theme/_ide_theme_desktop.dart
  packages/devtools_app_shared/lib/src/ui/theme/_ide_theme_web.dart
  packages/devtools_app_shared/lib/src/ui/theme/ide_theme.dart
  packages/devtools_app_shared/test/ui/ide_theme_test.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

One more fix
  packages/devtools_app/lib/src/screens/vm_developer/queued_microtasks/queued_microtasks_view.dart
Owners: @bkonyi

Update goldens
  packages/devtools_app/test/test_infra/goldens/codeview_scrollbars.png
  packages/devtools_app/test/test_infra/goldens/logging/metadata_chips.png
Owners: @flutter/devtools-reviewers

Updating from 2.49.0-dev.0 to 2.49.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.49.0-dev.0 to 2.49.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.49.0-dev.0 to 2.49.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Upgrade DCM to v1.30.0
  .github/workflows/build.yaml
Owners: @flutter/devtools-reviewers

fix warnings
  packages/devtools_app/lib/src/screens/app_size/app_size_controller.dart
  packages/devtools_app/lib/src/screens/profiler/cpu_profile_model.dart
  packages/devtools_app/lib/src/shared/managers/error_badge_manager.dart
  packages/devtools_app/lib/src/shared/offline/offline_data.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll, @bkonyi

Tidy up some nits in ServiceConnectionManager
  packages/devtools_app/lib/src/service/service_manager.dart
Owners: @flutter/devtools-reviewers

order
  packages/devtools_app/lib/src/service/service_manager.dart
Owners: @flutter/devtools-reviewers

add dynamic
  packages/devtools_app/lib/src/screens/vm_developer/object_inspector/object_store.dart
Owners: @bkonyi

Tidy up some nits in ServiceConnectionManager (#9311)
  packages/devtools_app/lib/src/service/service_manager.dart
Owners: @flutter/devtools-reviewers

Upgrade DCM to v1.30.0 (#9310)
  .github/workflows/build.yaml
  packages/devtools_app/lib/src/screens/app_size/app_size_controller.dart
  packages/devtools_app/lib/src/screens/profiler/cpu_profile_model.dart
  packages/devtools_app/lib/src/screens/vm_developer/object_inspector/object_store.dart
  packages/devtools_app/lib/src/shared/managers/error_badge_manager.dart
  packages/devtools_app/lib/src/shared/offline/offline_data.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll, @bkonyi

Updating from 2.49.0-dev.0 to 2.49.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Support --dtd-exposed-uri in dt
  tool/lib/commands/serve.dart
Owners: @kenzieschmoll

Support --dtd-exposed-uri in dt (#9302)
  tool/lib/commands/serve.dart
Owners: @kenzieschmoll

Find available port to run benchmarks
  packages/devtools_app/benchmark/devtools_benchmarks_test.dart
Owners: @flutter/devtools-reviewers

Add debugging text to integration_test README
  packages/devtools_app/integration_test/README.md
Owners: @flutter/devtools-reviewers

feedback
  packages/devtools_app/integration_test/README.md
Owners: @flutter/devtools-reviewers

Find available port to run benchmarks (#9315)
  packages/devtools_app/benchmark/devtools_benchmarks_test.dart
Owners: @flutter/devtools-reviewers

Add debugging text to integration_test README (#9316)
  packages/devtools_app/integration_test/README.md
Owners: @flutter/devtools-reviewers

Updating from 2.49.0-dev.0 to 2.49.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

CODEOWNERS:

*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @elliette

# Network Files
network/            @bkonyi @kenzieschmoll

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll @bkonyi

# Memory files
memory/             @bkonyi @kenzieschmoll

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @kenzieschmoll

# DevTools extensions and related files
src/extensions/
packages/devtools_extensions/    @kenzieschmoll
packages/devtools_app_shared/    @kenzieschmoll

# package:devtools_shared code, which is used across DevTools and the Dart SDK
packages/devtools_shared/        @kenzieschmoll @bkonyi

# Version bump files.
# No owners to prevent version update spam
packages/devtools_app/lib/devtools.dart
packages/devtools_app/pubspec.yaml
packages/devtools_test/pubspec.yaml
