Repository flutter/devtools, changes with the owners that CODEOWNERS names for each.
All owners: @flutter/devtools-reviewers, @CoderDake, @kenzieschmoll, @bkonyi, @polina-c, @elliette

CODEOWNERS:

*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @CoderDake

# Network Files
network/            @kenzieschmoll @bkonyi

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll

# Memory files
memory/             @bkonyi @polina-c

# Memory leak tracking files
memory/panes/leaks  @CoderDake @polina-c

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @CoderDake

packages/devtools_extensions/    @kenzieschmoll


# Version bump files.
# No owners to prevent version update spam
packages/devtools_app/lib/devtools.dart
packages/devtools_app/pubspec.yaml
packages/devtools_test/pubspec.yaml

Update heap_graph_mock.dart
  packages/devtools_app/test/test_infra/test_data/memory/heap/heap_graph_mock.dart
Owners: @bkonyi, @polina-c

Updating from 2.34.0-dev.10 to 2.34.0-dev.11
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_test/pubspec.yaml
Owners: none

fix tests
  packages/devtools_test/lib/src/mocks/fake_vm_service_wrapper.dart
Owners: @flutter/devtools-reviewers

Add setting to include CPU samples in the timeline (#7369)
  packages/devtools_app/lib/src/screens/performance/panes/controls/performance_settings.dart
  packages/devtools_app/lib/src/screens/performance/panes/timeline_events/timeline_events_controller.dart
  packages/devtools_app/lib/src/screens/performance/panes/timeline_events/timeline_events_view.dart
  packages/devtools_app/lib/src/shared/analytics/constants/_performance_constants.dart
  packages/devtools_app/lib/src/shared/common_widgets.dart
  packages/devtools_app/lib/src/shared/preferences/_extension_preferences.dart
  packages/devtools_app/lib/src/shared/preferences/_memory_preferences.dart
  packages/devtools_app/lib/src/shared/preferences/_performance_preferences.dart
  packages/devtools_app/lib/src/shared/preferences/preferences.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/test/performance/tabbed_performance_view_test.dart
  packages/devtools_app/test/shared/preferences_controller_test.dart
  packages/devtools_test/lib/src/mocks/fake_vm_service_wrapper.dart
Owners: @kenzieschmoll, @flutter/devtools-reviewers

Allow for null responses from `ServerConnectionStorage.getValue` (#7374)
  packages/devtools_app/lib/src/shared/config_specific/framework_initialize/_framework_initialize_web.dart
  packages/devtools_app/lib/src/shared/server/server_api_client.dart
Owners: @flutter/devtools-reviewers

Added TODOs
  tool/build_release.sh
  tool/lib/commands/build.dart
Owners: @CoderDake

-
  packages/devtools_app/lib/src/shared/memory/classes.dart
  packages/devtools_app/lib/src/shared/memory/heap_data.dart
  packages/devtools_app/lib/src/shared/memory/retainers.dart
  packages/devtools_app/lib/src/shared/memory/retaining_path.dart
  packages/devtools_app/lib/src/shared/memory/simple_items.dart
  packages/devtools_app/test/memory/diff/controller/heap_diff_test.dart
  packages/devtools_app/test/memory/shared/heap/heap_analyzer_golden_test.dart
  packages/devtools_app/test/memory/shared/heap/heap_analyzer_test.dart
  packages/devtools_app/test/memory/shared/heap/heap_test.dart
  packages/devtools_app/test/test_infra/test_data/memory/heap/factories.dart
  packages/devtools_app/test/test_infra/test_data/memory/heap/heap_graph_mock.dart
Owners: @bkonyi, @polina-c

-
  packages/devtools_app/test/memory/diff/controller/heap_diff_test.dart
  packages/devtools_app/test/memory/shared/heap/heap_analyzer_test.dart
  packages/devtools_app/test/memory/shared/heap/heap_test.dart
  packages/devtools_app/test/test_infra/test_data/memory/heap/factories.dart
  packages/devtools_app/test/test_infra/test_data/memory/heap/heap_graph_fakes.dart
Owners: @bkonyi, @polina-c

Changing Flutter Candidate to 3.21.0-9.0.pre
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

Update validation_details_view.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/validation_details_view.dart
Owners: @flutter/devtools-reviewers

lint
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_services.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/validation_details_view.dart
Owners: @flutter/devtools-reviewers

[deep link] Add a code snippet to path check (#7379)
  packages/devtools_app/lib/src/screens/deep_link_validation/validation_details_view.dart
Owners: @flutter/devtools-reviewers

-
  packages/devtools_app/lib/src/shared/memory/classes.dart
  packages/devtools_app/lib/src/shared/memory/retaining_path.dart
  packages/devtools_app/test/memory/shared/heap/heap_test.dart
  packages/devtools_app/test/shared/memory/retaining_path_test.dart
Owners: @bkonyi, @polina-c

Update select_project_view.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/select_project_view.dart
Owners: @flutter/devtools-reviewers

update packageDirectoryForMainIsolate
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_controller.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/select_project_view.dart
Owners: @flutter/devtools-reviewers

Update README.md to use `pub add` instead of explicit version
  packages/devtools_app_shared/README.md
Owners: @flutter/devtools-reviewers

-
  packages/devtools_app/test/memory/shared/heap/heap_test.dart
  packages/devtools_app/test/shared/memory/retaining_path_test.dart
Owners: @bkonyi, @polina-c

Update heap_test.dart
  packages/devtools_app/test/memory/shared/heap/heap_test.dart
Owners: @bkonyi, @polina-c

increase gzipBundleSizeBenchmark
  packages/devtools_app/benchmark/web_bundle_size_test.dart
Owners: @flutter/devtools-reviewers

Delete model_test.dart
  packages/devtools_app/test/memory/shared/heap/model_test.dart
Owners: @bkonyi, @polina-c

Update _deep_links_api.dart
  packages/devtools_app/lib/src/shared/server/_deep_links_api.dart
Owners: @flutter/devtools-reviewers

[Deep link] update fingerprint UI (#7380)
  packages/devtools_app/benchmark/web_bundle_size_test.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_controller.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_services.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/validation_details_view.dart
Owners: @flutter/devtools-reviewers

Update _deep_links_api.dart
  packages/devtools_app/lib/src/shared/server/_deep_links_api.dart
Owners: @flutter/devtools-reviewers

Update deep_links_screen_test.dart
  packages/devtools_app/test/deep_link_vlidation/deep_links_screen_test.dart
Owners: @flutter/devtools-reviewers

[Deep link] Use serviceConnection.rootPackageDirectoryForMainIsolate to get the project path (#7350)
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_controller.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/select_project_view.dart
  packages/devtools_app/test/deep_link_vlidation/deep_links_screen_test.dart
Owners: @flutter/devtools-reviewers

Changing Flutter Candidate to 3.21.0-9.0.pre
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

Updating from 2.34.0-dev.10 to 2.34.0-dev.11
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_test/pubspec.yaml
Owners: none

Changing Flutter Candidate to 3.21.0-9.0.pre (#7387)
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

Updating from 2.34.0-dev.10 to 2.34.0-dev.11 (#7388)
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_test/pubspec.yaml
Owners: none

release notes
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Fix multiline text in display provider
  packages/devtools_app/lib/src/shared/console/widgets/display_provider.dart
Owners: @flutter/devtools-reviewers

release notes
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

-
  packages/devtools_app/lib/src/shared/memory/class_name.dart
  packages/devtools_app/test/test_infra/scenes/memory/default.dart
  packages/devtools_app/test/test_infra/scenes/memory/diff_snapshot.dart
  packages/devtools_app/test/test_infra/test_data/memory/heap/heap_data.dart
  packages/devtools_app/test/test_infra/test_data/memory/heap/heap_graph_fakes.dart
Owners: @bkonyi, @polina-c

Update validation_details_view.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/validation_details_view.dart
Owners: @flutter/devtools-reviewers

Sliver attempt
  packages/devtools_app/lib/src/shared/table/_table_row.dart
  packages/devtools_app/lib/src/shared/table/table.dart
Owners: @flutter/devtools-reviewers

delete provider screen
  packages/devtools_app/lib/initialization.dart
  packages/devtools_app/lib/src/screens/inspector/layout_explorer/flex/flex.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/widgets/class_details/class_details.dart
  packages/devtools_app/lib/src/screens/performance/panes/frame_analysis/frame_analysis.dart
  packages/devtools_app/lib/src/screens/performance/tabbed_performance_view.dart
  packages/devtools_app/lib/src/screens/profiler/profiler_status.dart
  packages/devtools_app/lib/src/screens/provider/instance_viewer/eval.dart
  packages/devtools_app/lib/src/screens/provider/instance_viewer/fake_freezed_annotation.dart
  packages/devtools_app/lib/src/screens/provider/instance_viewer/instance_details.dart
  packages/devtools_app/lib/src/screens/provider/instance_viewer/instance_details.freezed.dart
  packages/devtools_app/lib/src/screens/provider/instance_viewer/instance_providers.dart
  packages/devtools_app/lib/src/screens/provider/instance_viewer/instance_viewer.dart
  packages/devtools_app/lib/src/screens/provider/instance_viewer/result.dart
  packages/devtools_app/lib/src/screens/provider/instance_viewer/result.freezed.dart
  packages/devtools_app/lib/src/screens/provider/provider_list.dart
  packages/devtools_app/lib/src/screens/provider/provider_nodes.dart
  packages/devtools_app/lib/src/screens/provider/provider_screen.dart
  packages/devtools_app/lib/src/screens/provider/riverpod_error_logger_observer.dart
  packages/devtools_app/lib/src/screens/provider/sliver_iterable_child_delegate.dart
  packages/devtools_app/lib/src/shared/common_widgets.dart
  packages/devtools_app/lib/src/shared/offline_screen.dart
  packages/devtools_app/test/shared/instance_viewer_test.dart
Owners: @flutter/devtools-reviewers, @CoderDake, @bkonyi, @polina-c, @kenzieschmoll

update names
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_controller.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/validation_details_view.dart
Owners: @flutter/devtools-reviewers

more improvements
  packages/devtools_app/lib/src/screens/network/network_screen.dart
  packages/devtools_app/lib/src/shared/table/_table_row.dart
Owners: @kenzieschmoll, @bkonyi, @flutter/devtools-reviewers

resolve some comments
  packages/devtools_app/lib/src/screens/deep_link_validation/validation_details_view.dart
Owners: @flutter/devtools-reviewers

-
  packages/devtools_app/lib/src/shared/memory/retainers.dart
  packages/devtools_app/test/test_infra/scenes/memory/default.dart
  packages/devtools_app/test/test_infra/test_data/memory/heap/heap_data.dart
  packages/devtools_app/test/test_infra/test_data/memory/heap/heap_graph_fakes.dart
Owners: @bkonyi, @polina-c
