Repository flutter/devtools, changes with the owners that CODEOWNERS names for each.
All owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

Increase number of retries for eval test
  packages/devtools_app/integration_test/test/live_connection/eval_utils.dart
Owners: @flutter/devtools-reviewers

param renamed, used _log
  packages/devtools_app/lib/src/screens/network/network_screen.dart
  packages/devtools_app/lib/src/shared/http/http_request_data.dart
Owners: @bkonyi, @kenzieschmoll, @flutter/devtools-reviewers

added copyright header
  packages/devtools_app/lib/src/screens/network/utils/http_utils.dart
Owners: @bkonyi, @kenzieschmoll

Draft changes for receiving event and testing
  packages/devtools_app/lib/src/framework/framework_core.dart
  packages/devtools_app/lib/src/framework/theme_manager.dart
  packages/devtools_app/lib/src/service/editor/api_classes.dart
  packages/devtools_app/lib/src/service/editor/editor_client.dart
  packages/devtools_app/lib/src/standalone_ui/vs_code/flutter_panel.dart
  packages/devtools_app_shared/lib/src/service/dtd_manager.dart
  packages/devtools_app_shared/lib/src/ui/theme/ide_theme.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

Add use of preferences controller
  packages/devtools_app/lib/src/framework/framework_core.dart
  packages/devtools_app/lib/src/framework/settings_dialog.dart
  packages/devtools_app/lib/src/framework/theme_manager.dart
  packages/devtools_app/lib/src/service/editor/editor_client.dart
  packages/devtools_app_shared/lib/src/service/dtd_manager.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

Force theme change and add TODO
  packages/devtools_app/lib/src/framework/theme_manager.dart
Owners: @flutter/devtools-reviewers

Remove testing code
  packages/devtools_app/lib/src/framework/framework_core.dart
  packages/devtools_app/lib/src/framework/settings_dialog.dart
  packages/devtools_app/lib/src/framework/theme_manager.dart
  packages/devtools_app/lib/src/service/editor/editor_client.dart
  packages/devtools_app/lib/src/standalone_ui/vs_code/flutter_panel.dart
  packages/devtools_app_shared/lib/src/service/dtd_manager.dart
  packages/devtools_app_shared/lib/src/ui/theme/ide_theme.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

Add release notes
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Fix analysis error
  packages/devtools_app_shared/lib/src/ui/theme/ide_theme.dart
Owners: @kenzieschmoll

Clean up analysis errors and fix deprecated color fns
  packages/devtools_app/lib/src/framework/framework_core.dart
  packages/devtools_app/lib/src/framework/theme_manager.dart
Owners: @flutter/devtools-reviewers

Fix error handling import
  packages/devtools_app/lib/src/framework/framework_core.dart
Owners: @flutter/devtools-reviewers

Make formatting and release note changes
  packages/devtools_app/lib/src/framework/framework_core.dart
  packages/devtools_app/lib/src/framework/theme_manager.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Add testing printouts
  packages/devtools_app/lib/src/framework/framework_core.dart
  packages/devtools_app/lib/src/framework/settings_dialog.dart
  packages/devtools_app/lib/src/framework/theme_manager.dart
  packages/devtools_app/lib/src/service/editor/editor_client.dart
  packages/devtools_app/lib/src/standalone_ui/vs_code/flutter_panel.dart
  packages/devtools_app_shared/lib/src/service/dtd_manager.dart
  packages/devtools_app_shared/lib/src/ui/theme/ide_theme.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

Make theme manager disposable and clean up
  packages/devtools_app/lib/src/framework/framework_core.dart
  packages/devtools_app/lib/src/framework/theme_manager.dart
Owners: @flutter/devtools-reviewers

Fix formatting
  packages/devtools_app/lib/src/framework/theme_manager.dart
Owners: @flutter/devtools-reviewers

Fix imports
  packages/devtools_app_shared/lib/src/ui/theme/ide_theme.dart
Owners: @kenzieschmoll

Revert "Add testing printouts"
  packages/devtools_app/lib/src/framework/framework_core.dart
  packages/devtools_app/lib/src/framework/settings_dialog.dart
  packages/devtools_app/lib/src/framework/theme_manager.dart
  packages/devtools_app/lib/src/service/editor/editor_client.dart
  packages/devtools_app/lib/src/standalone_ui/vs_code/flutter_panel.dart
  packages/devtools_app_shared/lib/src/service/dtd_manager.dart
  packages/devtools_app_shared/lib/src/ui/theme/ide_theme.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

Fix usage of current theme
  packages/devtools_app/lib/src/framework/theme_manager.dart
Owners: @flutter/devtools-reviewers

Move tryParseColor to utility, fix order of event classes
  packages/devtools_app/lib/src/framework/theme_manager.dart
  packages/devtools_app/lib/src/service/editor/api_classes.dart
  packages/devtools_app_shared/lib/src/ui/theme/ide_theme.dart
  packages/devtools_app_shared/lib/src/ui/ui_utils.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

Add stream listen
  packages/devtools_app/lib/src/framework/theme_manager.dart
Owners: @flutter/devtools-reviewers

Add back utils import
  packages/devtools_app_shared/lib/src/ui/theme/ide_theme.dart
Owners: @kenzieschmoll

Directly listen to DTD from theme manager
  packages/devtools_app/lib/src/framework/theme_manager.dart
Owners: @flutter/devtools-reviewers

Fix checking event type
  packages/devtools_app/lib/src/framework/theme_manager.dart
Owners: @flutter/devtools-reviewers

Address other comments
  packages/devtools_app/lib/src/framework/framework_core.dart
  packages/devtools_app/lib/src/framework/theme_manager.dart
  packages/devtools_app/lib/src/service/editor/api_classes.dart
  packages/devtools_app/lib/src/standalone_ui/vs_code/flutter_panel.dart
Owners: @flutter/devtools-reviewers

Clean up var types and remove unnecessary setter
  packages/devtools_app/lib/src/framework/theme_manager.dart
  packages/devtools_app_shared/lib/src/ui/theme/ide_theme.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

Add error catch to editor client as well
  packages/devtools_app/lib/src/service/editor/editor_client.dart
Owners: @flutter/devtools-reviewers

Make theme manager static
  packages/devtools_app/lib/src/framework/framework_core.dart
Owners: @flutter/devtools-reviewers

upgrade to latest web_benchmarks changes
  packages/devtools_app/benchmark/devtools_benchmarks_test.dart
  packages/devtools_app/benchmark/scripts/dart2wasm_performance_diff.dart
  packages/devtools_app/pubspec.yaml
Owners: @flutter/devtools-reviewers

Remove whitespace
  tool/build_release.sh
Owners: @kenzieschmoll

`DevtoolsToggleButton` and `ServiceExtensionButton` have same text color (#8377)
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_errors_1_initial_load.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_errors_2_error_selected.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_hideable_widget_selected.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_hideable_widget_selected_from_search.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_implementation_widgets_collapsed.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_implementation_widgets_expanded.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_initial_load.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_select_center.png
  packages/devtools_app/test/test_infra/goldens/memory/load_offline_data_profile_tab.png
  packages/devtools_app_shared/lib/src/ui/buttons.dart
Owners: @flutter/devtools-reviewers, @bkonyi, @kenzieschmoll

Respond to `ThemeChanged` event from IDEs (#8336)
  packages/devtools_app/lib/src/framework/framework_core.dart
  packages/devtools_app/lib/src/framework/theme_manager.dart
  packages/devtools_app/lib/src/service/editor/api_classes.dart
  packages/devtools_app/lib/src/service/editor/editor_client.dart
  packages/devtools_app/lib/src/standalone_ui/vs_code/flutter_panel.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app_shared/lib/src/ui/theme/ide_theme.dart
  packages/devtools_app_shared/lib/src/ui/ui_utils.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

Remove scorecard analysis action
  .github/workflows/scorecards-analysis.yml
Owners: @flutter/devtools-reviewers

Accept themeChanged events via postMessage as well as DTD
  packages/devtools_app/lib/src/framework/theme_manager.dart
Owners: @flutter/devtools-reviewers

Remove whitespace (#8392)
  tool/build_release.sh
Owners: @kenzieschmoll

Accept themeChanged events via postMessage as well as DTD (#8387)
  packages/devtools_app/lib/src/framework/theme_manager.dart
Owners: @flutter/devtools-reviewers

Increase number of retries for eval test (#8391)
  packages/devtools_app/integration_test/test/live_connection/eval_utils.dart
Owners: @flutter/devtools-reviewers

add android and ios app id in GA metrics
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_controller.dart
  packages/devtools_app/lib/src/shared/analytics/_analytics_web.dart
  packages/devtools_app/lib/src/shared/analytics/constants/_deep_links_constants.dart
  packages/devtools_app/lib/src/shared/analytics/metrics.dart
Owners: @flutter/devtools-reviewers

lint
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_controller.dart
  packages/devtools_app/lib/src/shared/analytics/_analytics_web.dart
  packages/devtools_app/lib/src/shared/analytics/metrics.dart
Owners: @flutter/devtools-reviewers

update item names
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_controller.dart
  packages/devtools_app/lib/src/shared/analytics/constants/_deep_links_constants.dart
Owners: @flutter/devtools-reviewers

clean item name
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_controller.dart
  packages/devtools_app/lib/src/shared/analytics/constants/_deep_links_constants.dart
Owners: @flutter/devtools-reviewers

CODEOWNERS:

*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @elliette

# Network Files
network/            @bkonyi @kenzieschmoll

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll @bkonyi

# Memory files
memory/             @bkonyi @kenzieschmoll

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @kenzieschmoll

# DevTools extensions and related files
src/extensions/
packages/devtools_extensions/    @kenzieschmoll
packages/devtools_app_shared/    @kenzieschmoll

# package:devtools_shared code, which is used across DevTools and the Dart SDK
packages/devtools_shared/        @kenzieschmoll @bkonyi

# Version bump files.
# No owners to prevent version update spam
packages/devtools_app/lib/devtools.dart
packages/devtools_app/pubspec.yaml
packages/devtools_test/pubspec.yaml
