Repository flutter/devtools, changes with the owners that CODEOWNERS names for each.
All owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

CODEOWNERS:

*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @elliette

# Network Files
network/            @bkonyi @kenzieschmoll

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll @bkonyi

# Memory files
memory/             @bkonyi @kenzieschmoll

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @kenzieschmoll

# DevTools extensions and related files
src/extensions/
packages/devtools_extensions/    @kenzieschmoll
packages/devtools_app_shared/    @kenzieschmoll

# package:devtools_shared code, which is used across DevTools and the Dart SDK
packages/devtools_shared/        @kenzieschmoll @bkonyi

# Version bump files.
# No owners to prevent version update spam
packages/devtools_app/lib/devtools.dart
packages/devtools_app/pubspec.yaml
packages/devtools_test/pubspec.yaml

fix errors
  packages/devtools_app/lib/src/screens/memory/panes/diff/widgets/class_details/class_details.dart
Owners: @bkonyi, @kenzieschmoll

remove dependency and obsolete goldens
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/test/test_infra/goldens/provider_screen/list_error_banner.png
  packages/devtools_app/test/test_infra/goldens/provider_screen/no_selected_provider.png
  packages/devtools_app/test/test_infra/goldens/provider_screen/selected_provider.png
  packages/devtools_app/test/test_infra/goldens/provider_screen/selected_provider_error_banner.png
  packages/devtools_app/test/test_infra/goldens/riverpod_screen/list_error_banner.png
  packages/devtools_app/test/test_infra/goldens/riverpod_screen/no_selected_provider.png
  packages/devtools_app/test/test_infra/goldens/riverpod_screen/selected_provider.png
  packages/devtools_app/test/test_infra/goldens/riverpod_screen/selected_provider_error_banner.png
Owners: @flutter/devtools-reviewers

rnotes
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

fixes and formatting
  packages/devtools_app/lib/src/app.dart
  packages/devtools_app/lib/src/framework/initializer.dart
  packages/devtools_app/lib/src/screens/app_size/app_size_screen.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_link_list_view.dart
  packages/devtools_app/lib/src/screens/inspector_v2/layout_explorer/flex/flex.dart
  packages/devtools_app/lib/src/screens/provider/provider_screen.dart
  packages/devtools_app/lib/src/shared/common_widgets.dart
  packages/devtools_app/lib/src/shared/file_import.dart
Owners: @flutter/devtools-reviewers

Revert all except for TESTING.md changes
  packages/devtools_app/lib/src/screens/provider/instance_viewer/instance_providers.dart
  packages/devtools_app/lib/src/screens/provider/instance_viewer/instance_viewer.dart
  packages/devtools_app/lib/src/screens/provider/riverpod_error_logger_observer.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/test/shared/instance_viewer_test.dart
Owners: @flutter/devtools-reviewers

Don't show domain errors when they are just warnings (#8344)
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_services.dart
  packages/devtools_app/test/deep_link_vlidation/deep_links_screen_test.dart
  packages/devtools_app/test/test_infra/test_data/deep_link/fake_responses.dart
  packages/devtools_app/test/test_infra/utils/deep_links_utils.dart
Owners: @flutter/devtools-reviewers

isNullOrEmpty
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_services.dart
Owners: @flutter/devtools-reviewers

Update TESTING.md instructions. (#8360)
  TESTING.md
Owners: @flutter/devtools-reviewers

[deep link] Ignore invalid aasa paths (path is null or empty, but has a queryParams) (#8339)
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_services.dart
  packages/devtools_app/test/test_infra/test_data/deep_link/fake_responses.dart
Owners: @flutter/devtools-reviewers

resolve comments
  packages/devtools_app/lib/src/screens/deep_link_validation/validation_details_view.dart
Owners: @flutter/devtools-reviewers

[Deep link] Generate AASA template when it doesn't exist (#8345)
  packages/devtools_app/lib/src/screens/deep_link_validation/validation_details_view.dart
Owners: @flutter/devtools-reviewers

fix bug
  packages/devtools_app/lib/src/shared/common_widgets.dart
Owners: @flutter/devtools-reviewers

resolve comments
  packages/devtools_app/lib/src/screens/deep_link_validation/project_root_selection/select_project_view.dart
  packages/devtools_app/lib/src/shared/analytics/constants/_deep_links_constants.dart
Owners: @flutter/devtools-reviewers

Respond to (most) PR comments
  packages/devtools_app/lib/src/framework/settings_dialog.dart
  packages/devtools_app/lib/src/screens/inspector/inspector_tree_controller.dart
  packages/devtools_app/lib/src/screens/inspector_shared/inspector_controls.dart
  packages/devtools_app/lib/src/screens/inspector_shared/inspector_screen.dart
  packages/devtools_app/lib/src/screens/inspector_shared/inspector_screen_controller.dart
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_tree_controller.dart
  packages/devtools_app/lib/src/shared/feature_flags.dart
  packages/devtools_app/lib/src/shared/preferences/_inspector_preferences.dart
Owners: @flutter/devtools-reviewers, @elliette

Format
  packages/devtools_app/lib/src/screens/inspector_shared/inspector_screen_controller.dart
Owners: @flutter/devtools-reviewers

Update tests
  packages/devtools_app/test/inspector_v2/inspector_integration_test.dart
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_errors_1_initial_load.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_errors_2_error_selected.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_hideable_widget_selected.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_hideable_widget_selected_from_search.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_implementation_widgets_collapsed.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_implementation_widgets_expanded.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_implementation_widgets_hidden.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_initial_load.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_revert_to_legacy.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_select_center.png
Owners: @flutter/devtools-reviewers

Update goldens
  packages/devtools_app/test/test_infra/goldens/integration_animated_physical_model_selected.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_errors_1_initial_load.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_errors_2_error_selected.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_initial_load.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_richtext_selected.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_scaffold_selected.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_select_center.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_select_center_details_tree.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_errors_1_initial_load.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_errors_2_error_selected.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_hideable_widget_selected.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_hideable_widget_selected_from_search.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_implementation_widgets_collapsed.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_implementation_widgets_expanded.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_implementation_widgets_hidden.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_initial_load.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_revert_to_legacy.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_select_center.png
Owners: @flutter/devtools-reviewers

Fix scrolling
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_tree_controller.dart
Owners: @flutter/devtools-reviewers

Clean up
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_tree_controller.dart
Owners: @flutter/devtools-reviewers

Update logic a little
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_tree_controller.dart
Owners: @flutter/devtools-reviewers

Update development_helpers.dart
  packages/devtools_app/lib/src/shared/development_helpers.dart
Owners: @flutter/devtools-reviewers

adding constants file
  packages/devtools_app/lib/src/shared/http/constants.dart
Owners: @flutter/devtools-reviewers

Update README.md
  README.md
Owners: @flutter/devtools-reviewers

Gezinme Menüsü
  README.md
Owners: @flutter/devtools-reviewers

Update README.md
  README.md
Owners: @flutter/devtools-reviewers

Create JSFiddle'da düzenle JavaScript HTML PostCSS (Aşama 3+)
  JSFiddle'da düzenle JavaScript HTML PostCSS (Aşama 3+)
Owners: @flutter/devtools-reviewers

Create devcontainer.json
  .devcontainer/devcontainer.json
Owners: @flutter/devtools-reviewers

[deep link]Update the logic to check both androidVariants and iosBuildOptions to decide if a repo is a flutter project. (#8338)
  packages/devtools_app/lib/src/screens/deep_link_validation/project_root_selection/select_project_view.dart
  packages/devtools_app/lib/src/shared/analytics/constants/_deep_links_constants.dart
Owners: @flutter/devtools-reviewers

add subchecks
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_model.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_services.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/validation_details_view.dart
  packages/devtools_app/test/deep_link_vlidation/deep_links_screen_test.dart
  packages/devtools_app/test/test_infra/test_data/deep_link/fake_responses.dart
Owners: @flutter/devtools-reviewers

resolve comments
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_model.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_services.dart
Owners: @flutter/devtools-reviewers

Update deep_links_screen_test.dart
  packages/devtools_app/test/deep_link_vlidation/deep_links_screen_test.dart
Owners: @flutter/devtools-reviewers

Update deep_links_services.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_services.dart
Owners: @flutter/devtools-reviewers

Address review comments
  packages/devtools_app_shared/lib/src/service/service_manager.dart
  packages/devtools_shared/lib/src/extensions/extension_manager.dart
  packages/devtools_shared/lib/src/server/server_api.dart
  packages/devtools_shared/test/server/devtools_extensions_api_test.dart
Owners: @kenzieschmoll, @bkonyi

updated NEXT_RELEASE_NOTES.md
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Revert "updated NEXT_RELEASE_NOTES.md"
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

updated NEXT_RELEASE_NOTES.md
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

fix analysis
  packages/devtools_app/lib/src/app.dart
  packages/devtools_app/lib/src/screens/app_size/app_size_screen.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_link_list_view.dart
  packages/devtools_app/lib/src/screens/inspector/layout_explorer/flex/flex.dart
  packages/devtools_app/lib/src/screens/inspector_v2/layout_explorer/flex/flex.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/widgets/class_details/class_details.dart
  packages/devtools_app/lib/src/screens/performance/tabbed_performance_view.dart
  packages/devtools_app/lib/src/screens/profiler/profiler_status.dart
Owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

Comment and issue link
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_tree_controller.dart
Owners: @flutter/devtools-reviewers

called getFullRequestData() before export (#8333)
  packages/devtools_app/lib/src/screens/network/network_controller.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @bkonyi, @kenzieschmoll, @flutter/devtools-reviewers

Respond to PR comments
  packages/devtools_app/lib/src/framework/settings_dialog.dart
  packages/devtools_app/lib/src/screens/inspector_shared/inspector_controls.dart
  packages/devtools_app/lib/src/screens/inspector_shared/inspector_screen.dart
  packages/devtools_app/lib/src/shared/common_widgets.dart
Owners: @flutter/devtools-reviewers
