Repository flutter/devtools, changes with the owners that CODEOWNERS names for each.
All owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

license update - batch 56 (#8770)
  packages/devtools_extensions/example/packages_with_extensions/dart_foo/packages/dart_foo/README.md
  packages/devtools_extensions/example/packages_with_extensions/dart_foo/packages/dart_foo/extension/devtools/build/index.html
  packages/devtools_extensions/example/packages_with_extensions/dart_foo/packages/dart_foo/extension/devtools/config.yaml
  packages/devtools_extensions/example/packages_with_extensions/dart_foo/packages/dart_foo/lib/dart_foo.dart
  packages/devtools_extensions/example/packages_with_extensions/dart_foo/packages/dart_foo/pubspec.yaml
  packages/devtools_extensions/example/packages_with_extensions/dart_foo/packages/dart_foo_devtools_extension/README.md
  packages/devtools_extensions/example/packages_with_extensions/dart_foo/packages/dart_foo_devtools_extension/lib/main.dart
  packages/devtools_extensions/example/packages_with_extensions/dart_foo/packages/dart_foo_devtools_extension/pubspec.yaml
  packages/devtools_extensions/example/packages_with_extensions/dart_foo/packages/dart_foo_devtools_extension/web/index.html
  packages/devtools_extensions/example/packages_with_extensions/foo/packages/foo/README.md
  packages/devtools_extensions/example/packages_with_extensions/foo/packages/foo/extension/devtools/build/index.html
  packages/devtools_extensions/example/packages_with_extensions/foo/packages/foo/extension/devtools/config.yaml
  packages/devtools_extensions/example/packages_with_extensions/foo/packages/foo/lib/foo.dart
  packages/devtools_extensions/example/packages_with_extensions/foo/packages/foo/lib/src/foo_controller.dart
  packages/devtools_extensions/example/packages_with_extensions/foo/packages/foo/lib/src/foo_widget.dart
  packages/devtools_extensions/example/packages_with_extensions/foo/packages/foo/pubspec.yaml
  packages/devtools_extensions/example/packages_with_extensions/foo/packages/foo_devtools_extension/README.md
  packages/devtools_extensions/example/packages_with_extensions/foo/packages/foo_devtools_extension/lib/main.dart
  packages/devtools_extensions/example/packages_with_extensions/foo/packages/foo_devtools_extension/lib/src/common/ui.dart
  packages/devtools_extensions/example/packages_with_extensions/foo/packages/foo_devtools_extension/lib/src/feature_examples/devtools_event_example.dart
  packages/devtools_extensions/example/packages_with_extensions/foo/packages/foo_devtools_extension/lib/src/feature_examples/devtools_extension_api_example.dart
  packages/devtools_extensions/example/packages_with_extensions/foo/packages/foo_devtools_extension/lib/src/feature_examples/dtd_example.dart
  packages/devtools_extensions/example/packages_with_extensions/foo/packages/foo_devtools_extension/lib/src/feature_examples/expression_evaluation_example.dart
  packages/devtools_extensions/example/packages_with_extensions/foo/packages/foo_devtools_extension/lib/src/feature_examples/service_extension_example.dart
  packages/devtools_extensions/example/packages_with_extensions/foo/packages/foo_devtools_extension/lib/src/foo_devtools_extension.dart
  packages/devtools_extensions/example/packages_with_extensions/foo/packages/foo_devtools_extension/pubspec.yaml
  packages/devtools_extensions/example/packages_with_extensions/foo/packages/foo_devtools_extension/web/index.html
  packages/devtools_extensions/example/packages_with_extensions/standalone_extension/README.md
  packages/devtools_extensions/example/packages_with_extensions/standalone_extension/extension/devtools/build/index.html
  packages/devtools_extensions/example/packages_with_extensions/standalone_extension/extension/devtools/config.yaml
  packages/devtools_extensions/example/packages_with_extensions/standalone_extension/lib/main.dart
  packages/devtools_extensions/example/packages_with_extensions/standalone_extension/pubspec.yaml
  packages/devtools_extensions/example/packages_with_extensions/standalone_extension/web/index.html
Owners: @kenzieschmoll

license update - batch 57 (#8771)
  packages/devtools_extensions/lib/api.dart
  packages/devtools_extensions/lib/devtools_extensions.dart
  packages/devtools_extensions/lib/src/api/README.md
  packages/devtools_extensions/lib/src/api/api.dart
  packages/devtools_extensions/lib/src/api/model.dart
  packages/devtools_extensions/lib/src/template/README.md
  packages/devtools_extensions/lib/src/template/_simulated_devtools_environment/_simulated_devtools_controller.dart
  packages/devtools_extensions/lib/src/template/_simulated_devtools_environment/_simulated_devtools_environment.dart
  packages/devtools_extensions/lib/src/template/_simulated_devtools_environment/connection_ui/_connect.dart
  packages/devtools_extensions/lib/src/template/_simulated_devtools_environment/connection_ui/_dtd_connect.dart
  packages/devtools_extensions/lib/src/template/_simulated_devtools_environment/connection_ui/_vm_service_connect.dart
  packages/devtools_extensions/lib/src/template/devtools_extension.dart
  packages/devtools_extensions/lib/src/template/extension_manager.dart
  packages/devtools_extensions/lib/src/utils.dart
  packages/devtools_extensions/lib/utils.dart
Owners: @kenzieschmoll

reverted another header for copied code
  packages/devtools_app/lib/src/shared/http/_http_exception.dart
Owners: @flutter/devtools-reviewers

license update - batch 63 (#8778)
  packages/devtools_shared/lib/src/utils/compare.dart
  packages/devtools_shared/lib/src/utils/file_utils.dart
  packages/devtools_shared/lib/src/utils/retry.dart
  packages/devtools_shared/lib/src/utils/semantic_version.dart
  packages/devtools_shared/lib/src/utils/serialization.dart
  packages/devtools_shared/lib/src/utils/utils.dart
  packages/devtools_shared/test/utils/file_utils_test.dart
  packages/devtools_shared/test/utils/retry_test.dart
  packages/devtools_shared/test/utils/serialization_test.dart
  packages/devtools_shared/test/utils/utils_test.dart
Owners: @kenzieschmoll, @bkonyi

license update - batch 59 (#8773)
  packages/devtools_shared/lib/devtools_deeplink.dart
  packages/devtools_shared/lib/devtools_deeplink_io.dart
  packages/devtools_shared/lib/src/deeplink/app_link_settings.dart
  packages/devtools_shared/lib/src/deeplink/deeplink_manager.dart
  packages/devtools_shared/lib/src/deeplink/universal_link_settings.dart
  packages/devtools_shared/lib/src/deeplink/xcode_build_options.dart
  packages/devtools_shared/test/deeplink/deeplink_manager_test.dart
Owners: @kenzieschmoll, @bkonyi

license update - batch 61 (#8776)
  packages/devtools_shared/lib/src/memory/adb_memory_info.dart
  packages/devtools_shared/lib/src/memory/class_heap_detail_stats.dart
  packages/devtools_shared/lib/src/memory/event_sample.dart
  packages/devtools_shared/lib/src/memory/heap_sample.dart
  packages/devtools_shared/lib/src/memory/heap_space.dart
  packages/devtools_shared/lib/src/memory/memory_json.dart
  packages/devtools_shared/test/memory/heap_sample_test.dart
Owners: @kenzieschmoll, @bkonyi

license update - batch 58 (#8772)
  packages/devtools_shared/CHANGELOG.md
  packages/devtools_shared/README.md
  packages/devtools_shared/lib/devtools_shared.dart
  packages/devtools_shared/lib/devtools_test_utils.dart
  packages/devtools_shared/lib/src/common.dart
  packages/devtools_shared/lib/src/devtools_api.dart
  packages/devtools_shared/lib/src/test/chrome.dart
  packages/devtools_shared/lib/src/test/chrome_driver.dart
  packages/devtools_shared/lib/src/test/cli_test_driver.dart
  packages/devtools_shared/lib/src/test/integration_test_runner.dart
  packages/devtools_shared/lib/src/test/io_utils.dart
  packages/devtools_shared/lib/src/test/test_utils.dart
  packages/devtools_shared/pubspec.yaml
  packages/devtools_shared/test/fakes.dart
  packages/devtools_shared/test/helpers/helpers.dart
  packages/devtools_shared/test/semantic_version_test.dart
Owners: @kenzieschmoll, @bkonyi

license update - batch 64 (#8779)
  packages/devtools_test/README.md
  packages/devtools_test/build.yaml
  packages/devtools_test/lib/devtools_test.dart
  packages/devtools_test/lib/helpers.dart
  packages/devtools_test/lib/integration_test.dart
  packages/devtools_test/lib/src/helpers/actions.dart
  packages/devtools_test/lib/src/helpers/finders.dart
  packages/devtools_test/lib/src/helpers/utils.dart
  packages/devtools_test/lib/src/helpers/wrappers.dart
  packages/devtools_test/lib/src/integration_test/integration_test_utils.dart
  packages/devtools_test/lib/src/mocks/fake_class_hierarchy_explorer_controller.dart
  packages/devtools_test/lib/src/mocks/fake_isolate_manager.dart
  packages/devtools_test/lib/src/mocks/fake_object_inspector_view_controller.dart
  packages/devtools_test/lib/src/mocks/fake_program_explorer_controller.dart
  packages/devtools_test/lib/src/mocks/fake_service_extension_manager.dart
  packages/devtools_test/lib/src/mocks/fake_service_manager.dart
  packages/devtools_test/lib/src/mocks/fake_vm_service_wrapper.dart
  packages/devtools_test/lib/src/mocks/generated.dart
  packages/devtools_test/lib/src/mocks/generated_mocks_factories.dart
  packages/devtools_test/lib/src/mocks/mocks.dart
  packages/devtools_test/lib/src/test_data/_performance_data.dart
  packages/devtools_test/lib/src/test_data/sample_data.dart
  packages/devtools_test/lib/test_data.dart
  packages/devtools_test/pubspec.yaml
Owners: @flutter/devtools-reviewers

excluding files that should retain original dart header
  update_licenses.yaml
Owners: @flutter/devtools-reviewers

Text document can be null
  packages/devtools_app/lib/src/shared/editor/api_classes.dart
  packages/devtools_app/lib/src/shared/editor/editor_client.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_controller.dart
Owners: @flutter/devtools-reviewers

Undo changes to getEditableArguments request
  packages/devtools_app/lib/src/shared/editor/editor_client.dart
Owners: @flutter/devtools-reviewers

Make text document version nullable as well
  packages/devtools_app/lib/src/shared/editor/api_classes.dart
Owners: @flutter/devtools-reviewers

Updating from 2.43.0-dev.0 to 2.43.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

attributed the header to the original source and added a todo
  packages/devtools_app/lib/src/shared/http/_http_cookies.dart
Owners: @flutter/devtools-reviewers

manually replaced incorrect header
  packages/devtools_shared/lib/src/extensions/constants.dart
  packages/devtools_shared/lib/src/extensions/extension_enablement.dart
  packages/devtools_shared/lib/src/extensions/extension_manager.dart
  packages/devtools_shared/lib/src/extensions/yaml_utils.dart
Owners: @kenzieschmoll, @bkonyi

[Property Editor] Handle `null` text document / text document version in `ActiveLocationChangedEvent` (#8781)
  packages/devtools_app/lib/src/shared/editor/api_classes.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_controller.dart
Owners: @flutter/devtools-reviewers

manually replaced incorrect header
  packages/devtools_shared/lib/src/service_utils.dart
Owners: @kenzieschmoll, @bkonyi

Fix some todos
  packages/devtools_app/lib/src/screens/network/network_request_inspector_views.dart
  packages/devtools_app/lib/src/screens/network/network_screen.dart
  packages/devtools_app/lib/src/screens/profiler/panes/controls/profiler_screen_controls.dart
  packages/devtools_app/lib/src/shared/framework/screen.dart
  packages/devtools_app/macos/Flutter/GeneratedPluginRegistrant.swift
  packages/devtools_app/web/index.html
  packages/devtools_app/web/styles.css
  packages/devtools_app_shared/lib/src/ui/theme/theme.dart
  packages/devtools_app_shared/lib/src/utils/utils.dart
Owners: @bkonyi, @kenzieschmoll, @flutter/devtools-reviewers

Clean up tech debt and fix some todos
  packages/devtools_app/lib/src/screens/logging/_message_column.dart
  packages/devtools_app/test/legacy_integration_tests/app.dart
  packages/devtools_app/test/legacy_integration_tests/debugger.dart
  packages/devtools_app/test/legacy_integration_tests/integration.dart
  packages/devtools_app/test/legacy_integration_tests/integration_test.dart
  packages/devtools_app/test/legacy_integration_tests/logging.dart
  packages/devtools_app/test/legacy_integration_tests/readme.md
  packages/devtools_app/test/screens/logging/metadata_test.dart
  packages/devtools_app_shared/lib/src/ui/theme/theme.dart
  packages/devtools_app_shared/lib/src/utils/utils.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

remove max width param
  packages/devtools_app/lib/src/screens/logging/metadata.dart
Owners: @flutter/devtools-reviewers

thread name todo
  packages/devtools_app/lib/src/screens/performance/panes/timeline_events/timeline_events_controller.dart
Owners: @kenzieschmoll

Bring "Include CPU samples" option out of settings menu
  packages/devtools_app/lib/src/screens/performance/panes/timeline_events/timeline_events_view.dart
Owners: @kenzieschmoll

test
  packages/devtools_app/macos/Flutter/GeneratedPluginRegistrant.swift
  packages/devtools_app/test/screens/performance/tabbed_performance_view_test.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

Remove legacy integration tests and address several TODOs (#8784)
  packages/devtools_app/lib/src/screens/logging/_message_column.dart
  packages/devtools_app/lib/src/screens/logging/metadata.dart
  packages/devtools_app/lib/src/screens/network/network_request_inspector_views.dart
  packages/devtools_app/lib/src/screens/network/network_screen.dart
  packages/devtools_app/lib/src/screens/performance/panes/timeline_events/timeline_events_controller.dart
  packages/devtools_app/lib/src/screens/profiler/panes/controls/profiler_screen_controls.dart
  packages/devtools_app/lib/src/shared/framework/screen.dart
  packages/devtools_app/macos/Flutter/GeneratedPluginRegistrant.swift
  packages/devtools_app/test/legacy_integration_tests/app.dart
  packages/devtools_app/test/legacy_integration_tests/debugger.dart
  packages/devtools_app/test/legacy_integration_tests/integration.dart
  packages/devtools_app/test/legacy_integration_tests/integration_test.dart
  packages/devtools_app/test/legacy_integration_tests/logging.dart
  packages/devtools_app/test/legacy_integration_tests/readme.md
  packages/devtools_app/test/screens/logging/metadata_test.dart
  packages/devtools_app/web/index.html
  packages/devtools_app/web/styles.css
  packages/devtools_app_shared/lib/src/ui/theme/theme.dart
  packages/devtools_app_shared/lib/src/utils/utils.dart
Owners: @flutter/devtools-reviewers, @bkonyi, @kenzieschmoll

remove some stale todos
  packages/devtools_app/lib/src/shared/table/table.dart
  packages/devtools_shared/lib/src/server/server_api.dart
  tool/lib/commands/update_version.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll, @bkonyi

Bring "Include CPU samples" option out of settings menu (#8785)
  packages/devtools_app/lib/src/screens/performance/panes/timeline_events/timeline_events_view.dart
  packages/devtools_app/test/screens/performance/tabbed_performance_view_test.dart
Owners: @kenzieschmoll

remove some stale todos (#8786)
  packages/devtools_app/lib/src/shared/table/table.dart
  packages/devtools_shared/lib/src/server/server_api.dart
  tool/lib/commands/update_version.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll, @bkonyi

License update - Batch 34 (#8735)
  packages/devtools_app/lib/src/shared/http/_http_cookies.dart
  packages/devtools_app/lib/src/shared/http/curl_command.dart
  packages/devtools_app/lib/src/shared/http/http.dart
  packages/devtools_app/lib/src/shared/http/http_request_data.dart
  packages/devtools_app/lib/src/shared/http/http_service.dart
  packages/devtools_app/test/http/curl_command_test.dart
Owners: @flutter/devtools-reviewers

License update - Batch 60 (#8775)
  packages/devtools_shared/lib/devtools_extensions.dart
  packages/devtools_shared/lib/devtools_extensions_io.dart
  packages/devtools_shared/lib/src/extensions/constants.dart
  packages/devtools_shared/lib/src/extensions/extension_enablement.dart
  packages/devtools_shared/lib/src/extensions/extension_manager.dart
  packages/devtools_shared/lib/src/extensions/extension_model.dart
  packages/devtools_shared/lib/src/extensions/yaml_utils.dart
  packages/devtools_shared/test/extensions/extension_enablement_test.dart
  packages/devtools_shared/test/extensions/extension_model_test.dart
  packages/devtools_shared/test/helpers/extension_test_manager.dart
  packages/devtools_shared/test/helpers/extension_test_manager_test.dart
Owners: @kenzieschmoll, @bkonyi

License update - Batch 62 (#8777)
  packages/devtools_shared/lib/devtools_server.dart
  packages/devtools_shared/lib/service.dart
  packages/devtools_shared/lib/src/server/devtools_store.dart
  packages/devtools_shared/lib/src/server/file_system.dart
  packages/devtools_shared/lib/src/server/flutter_store.dart
  packages/devtools_shared/lib/src/server/handlers/_app_size.dart
  packages/devtools_shared/lib/src/server/handlers/_deeplink.dart
  packages/devtools_shared/lib/src/server/handlers/_devtools_extensions.dart
  packages/devtools_shared/lib/src/server/handlers/_dtd.dart
  packages/devtools_shared/lib/src/server/handlers/_general.dart
  packages/devtools_shared/lib/src/server/handlers/_preferences.dart
  packages/devtools_shared/lib/src/server/handlers/_release_notes.dart
  packages/devtools_shared/lib/src/server/handlers/_storage.dart
  packages/devtools_shared/lib/src/server/handlers/_survey.dart
  packages/devtools_shared/lib/src/server/server_api.dart
  packages/devtools_shared/lib/src/service/service.dart
  packages/devtools_shared/lib/src/service_utils.dart
  packages/devtools_shared/lib/src/sse/_fake_sse.dart
  packages/devtools_shared/lib/src/sse/sse_shim.dart
  packages/devtools_shared/test/server/deeplink_api_test.dart
  packages/devtools_shared/test/server/devtools_extensions_api_test.dart
  packages/devtools_shared/test/server/dtd_api_test.dart
  packages/devtools_shared/test/server/general_api_test.dart
  packages/devtools_shared/test/service_utils_test.dart
Owners: @kenzieschmoll, @bkonyi

Check for registered LSP service methods before calling them
  packages/devtools_app/lib/src/shared/editor/api_classes.dart
  packages/devtools_app/lib/src/shared/editor/editor_client.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_view.dart
  packages/devtools_app/test/standalone_ui/ide_shared/property_editor_test.dart
Owners: @flutter/devtools-reviewers

Remove accidental change
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_view.dart
Owners: @flutter/devtools-reviewers

Add type info and have all inputs used fixed font
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_view.dart
  packages/devtools_app/test/standalone_ui/ide_shared/property_editor_test.dart
Owners: @flutter/devtools-reviewers

[Property Editor] Check for registered LSP service methods before calling them (#8788)
  packages/devtools_app/lib/src/shared/editor/api_classes.dart
  packages/devtools_app/lib/src/shared/editor/editor_client.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_view.dart
  packages/devtools_app/test/standalone_ui/ide_shared/property_editor_test.dart
Owners: @flutter/devtools-reviewers

Updating from 2.43.0-dev.0 to 2.43.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.43.0-dev.0 to 2.43.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.43.0-dev.0 to 2.43.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.43.0-dev.0 to 2.43.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Upgrade to the latest Flutter candidate branch
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

Upgrade to the latest Flutter candidate branch (#8794)
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

CODEOWNERS:

*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @elliette

# Network Files
network/            @bkonyi @kenzieschmoll

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll @bkonyi

# Memory files
memory/             @bkonyi @kenzieschmoll

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @kenzieschmoll

# DevTools extensions and related files
src/extensions/
packages/devtools_extensions/    @kenzieschmoll
packages/devtools_app_shared/    @kenzieschmoll

# package:devtools_shared code, which is used across DevTools and the Dart SDK
packages/devtools_shared/        @kenzieschmoll @bkonyi

# Version bump files.
# No owners to prevent version update spam
packages/devtools_app/lib/devtools.dart
packages/devtools_app/pubspec.yaml
packages/devtools_test/pubspec.yaml
