Repository flutter/devtools, changes with the owners that CODEOWNERS names for each.
All owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

CODEOWNERS:

*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @elliette

# Network Files
network/            @bkonyi @kenzieschmoll

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll @bkonyi

# Memory files
memory/             @bkonyi @kenzieschmoll

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @kenzieschmoll

# DevTools extensions and related files
src/extensions/
packages/devtools_extensions/    @kenzieschmoll
packages/devtools_app_shared/    @kenzieschmoll

# package:devtools_shared code, which is used across DevTools and the Dart SDK
packages/devtools_shared/        @kenzieschmoll @bkonyi

# Version bump files.
# No owners to prevent version update spam
packages/devtools_app/lib/devtools.dart
packages/devtools_app/pubspec.yaml
packages/devtools_test/pubspec.yaml

Tweak metadata padding
  packages/devtools_app/lib/src/screens/logging/logging_screen_v2/logging_table_row.dart
Owners: @flutter/devtools-reviewers

Add clear button and border
  packages/devtools_app/lib/src/screens/logging/logging_screen_v2/logging_table_v2.dart
Owners: @flutter/devtools-reviewers

Metadata chip icons and color
  packages/devtools_app/lib/src/screens/logging/logging_screen_v2/logging_table_row.dart
Owners: @flutter/devtools-reviewers

Replace `devtools_tool` exe with shorthand `dt` (#8403)
  .github/workflows/build.yaml
  .github/workflows/daily-dev-bump.yaml
  BETA_TESTING.md
  CONTRIBUTING.md
  TESTING.md
  packages/devtools_app/lib/src/shared/development_helpers.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/release_notes/README.md
  packages/devtools_test/lib/src/mocks/generated.dart
  tool/RELEASE_INSTRUCTIONS.md
  tool/bin/devtools_tool
  tool/bin/devtools_tool.bat
  tool/bin/dt
  tool/bin/dt.bat
  tool/bin/dt.dart
  tool/build_release.sh
  tool/ci/bots.sh
  tool/ci/setup.sh
  tool/flutter_customer_tests/analyze.sh
  tool/flutter_customer_tests/setup.sh
  tool/lib/commands/build.dart
  tool/lib/commands/release_helper.dart
  tool/lib/commands/serve.dart
  tool/lib/commands/shared.dart
  tool/lib/commands/update_dart_sdk_deps.dart
  tool/lib/commands/update_flutter_sdk.dart
  tool/lib/devtools_command_runner.dart
  tool/lib/model.dart
  tool/lib/utils.dart
  tool/pubspec.yaml
Owners: @flutter/devtools-reviewers, @kenzieschmoll

Use flutter icon
  packages/devtools_app/lib/src/screens/logging/logging_screen_v2/logging_table_row.dart
Owners: @flutter/devtools-reviewers

Stop resetting the filters when clearing network data.
  packages/devtools_app/lib/src/screens/network/network_controller.dart
Owners: @bkonyi, @kenzieschmoll

[Inspector V2] Persist tab when a new widget is selected (#8404)
  packages/devtools_app/lib/src/screens/inspector_v2/widget_properties/properties_view.dart
Owners: @flutter/devtools-reviewers

Stop clearing the filter on the logging screen
  packages/devtools_app/lib/src/screens/logging/logging_controller.dart
Owners: @flutter/devtools-reviewers

revert flag
  packages/devtools_app/lib/src/shared/feature_flags.dart
Owners: @flutter/devtools-reviewers

Updating from 2.40.0 to 2.41.0-dev.0
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/release_notes/images/deep_link_ios.png
  packages/devtools_app/release_notes/images/new_inspector.png
  packages/devtools_app/release_notes/images/wasm_setting.png
Owners: @flutter/devtools-reviewers

Updating from 2.40.0 to 2.41.0-dev.0 (#8408)
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/release_notes/images/deep_link_ios.png
  packages/devtools_app/release_notes/images/new_inspector.png
  packages/devtools_app/release_notes/images/wasm_setting.png
Owners: @flutter/devtools-reviewers

rnotes
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

fix test
  packages/devtools_app/lib/src/screens/logging/logging_screen_v2/logging_table_row.dart
Owners: @flutter/devtools-reviewers

Delete the "entry" classes
  packages/devtools_app/lib/src/screens/logging/logging_screen_v2/logging_controller_v2.dart
  packages/devtools_app/lib/src/screens/logging/logging_screen_v2/logging_model.dart
Owners: @flutter/devtools-reviewers

Stop resetting the filters when clearing network and logging data (#8407)
  packages/devtools_app/lib/src/screens/logging/logging_controller.dart
  packages/devtools_app/lib/src/screens/network/network_controller.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers, @bkonyi, @kenzieschmoll

Clean up the Logging V2 metadata and controls display (#8406)
  packages/devtools_app/lib/src/screens/logging/logging_screen_v2/logging_table_row.dart
  packages/devtools_app/lib/src/screens/logging/logging_screen_v2/logging_table_v2.dart
Owners: @flutter/devtools-reviewers

Trim whitespace from logs
  packages/devtools_app/lib/src/screens/logging/logging_screen_v2/logging_controller_v2.dart
Owners: @flutter/devtools-reviewers

Densify logs
  packages/devtools_app/lib/src/screens/logging/logging_screen_v2/logging_table_row.dart
Owners: @flutter/devtools-reviewers

formatting
  packages/devtools_app/lib/src/screens/logging/logging_screen_v2/logging_model.dart
Owners: @flutter/devtools-reviewers

Move log data to its own file
  packages/devtools_app/lib/src/screens/logging/logging_screen_v2/log_data.dart
  packages/devtools_app/lib/src/screens/logging/logging_screen_v2/logging_controller_v2.dart
  packages/devtools_app/lib/src/screens/logging/logging_screen_v2/logging_model.dart
  packages/devtools_app/lib/src/screens/logging/logging_screen_v2/logging_screen_v2.dart
  packages/devtools_app/lib/src/screens/logging/logging_screen_v2/logging_table_row.dart
  packages/devtools_app/lib/src/screens/logging/logging_screen_v2/logging_table_v2.dart
Owners: @flutter/devtools-reviewers

fix imports
  packages/devtools_app/lib/devtools_app.dart
  packages/devtools_app/lib/src/screens/logging/logging_screen_v2/logging_controller_v2.dart
  packages/devtools_app/lib/src/screens/logging/logging_screen_v2/logging_model.dart
  packages/devtools_app/lib/src/screens/logging/logging_screen_v2/logging_screen_v2.dart
  packages/devtools_app/lib/src/screens/logging/logging_screen_v2/logging_table_row.dart
  packages/devtools_app/lib/src/screens/logging/logging_screen_v2/logging_table_v2.dart
  packages/devtools_app/test/logging/logging_screen_v2/logging_model_test.dart
Owners: @flutter/devtools-reviewers

Fix test
  packages/devtools_app/test/logging/logging_screen_v2/logging_model_test.dart
Owners: @flutter/devtools-reviewers

Restore "devtools_tool" with deprecation warning for Windows users
  tool/bin/devtools_tool.bat
Owners: @kenzieschmoll

Remove the legacy postMessage version of the sidebar
  packages/.vscode/launch.json
  packages/devtools_app/lib/src/shared/analytics/constants/_editor_sidebar_constants.dart
  packages/devtools_app/lib/src/standalone_ui/api/dart_tooling_api.dart
  packages/devtools_app/lib/src/standalone_ui/api/impl/dart_tooling_api.dart
  packages/devtools_app/lib/src/standalone_ui/api/impl/vs_code_api.dart
  packages/devtools_app/lib/src/standalone_ui/api/vs_code_api.dart
  packages/devtools_app/lib/src/standalone_ui/standalone_screen.dart
  packages/devtools_app/lib/src/standalone_ui/vs_code/flutter_panel.dart
  packages/devtools_app/test/test_infra/scenes/standalone_ui/editor_service/post_message_simulated_editor.dart
  packages/devtools_app/test/test_infra/scenes/standalone_ui/vs_code.dart
Owners: @flutter/devtools-reviewers

Add release note
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Delete unnecessary wrapper classes and further densify log display for logging v2 (#8409)
  packages/devtools_app/lib/devtools_app.dart
  packages/devtools_app/lib/src/screens/logging/logging_screen_v2/log_data.dart
  packages/devtools_app/lib/src/screens/logging/logging_screen_v2/logging_controller_v2.dart
  packages/devtools_app/lib/src/screens/logging/logging_screen_v2/logging_model.dart
  packages/devtools_app/lib/src/screens/logging/logging_screen_v2/logging_screen_v2.dart
  packages/devtools_app/lib/src/screens/logging/logging_screen_v2/logging_table_row.dart
  packages/devtools_app/lib/src/screens/logging/logging_screen_v2/logging_table_v2.dart
  packages/devtools_app/test/logging/logging_screen_v2/logging_model_test.dart
Owners: @flutter/devtools-reviewers

Fix navigation bug when opening the VM flags dialog
  packages/devtools_app/lib/src/shared/ui/vm_flag_widgets.dart
Owners: @flutter/devtools-reviewers

Update release notes
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Restore "devtools_tool" with deprecation warning for Windows users (#8410)
  tool/bin/devtools_tool.bat
Owners: @kenzieschmoll

Fix navigation bug when opening the VM flags dialog (#8413)
  packages/devtools_app/lib/src/shared/ui/vm_flag_widgets.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Prep for 2.40.1 release
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Prep for 2.40.1 release
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

flutter candidate
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

comments resolved
  packages/devtools_app/lib/src/screens/network/network_controller.dart
  packages/devtools_app/lib/src/screens/network/offline_network_data.dart
Owners: @bkonyi, @kenzieschmoll

removing getFullRequestData section
  packages/devtools_app/lib/src/screens/network/network_controller.dart
Owners: @bkonyi, @kenzieschmoll

using updateOrAddAll for setting data
  packages/devtools_app/lib/src/screens/network/network_controller.dart
  packages/devtools_app/lib/src/screens/network/network_service.dart
  packages/devtools_app/lib/src/screens/network/offline_network_data.dart
Owners: @bkonyi, @kenzieschmoll

Wrapped with OfflineAwareControls, removed if-else.
  packages/devtools_app/lib/src/screens/network/network_screen.dart
Owners: @bkonyi, @kenzieschmoll

removed addAutoDisposeListener as we are using OfflineAwareControls
  packages/devtools_app/lib/src/screens/network/network_screen.dart
Owners: @bkonyi, @kenzieschmoll

removed try-catch
  packages/devtools_app/lib/src/screens/network/network_controller.dart
Owners: @bkonyi, @kenzieschmoll

Use CenteredMessage
  packages/devtools_app/lib/src/standalone_ui/standalone_screen.dart
Owners: @flutter/devtools-reviewers
