Repository flutter/devtools, changes with the owners that CODEOWNERS names for each.
All owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

CODEOWNERS:

*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @elliette

# Network Files
network/            @bkonyi @kenzieschmoll

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll @bkonyi

# Memory files
memory/             @bkonyi @kenzieschmoll

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @kenzieschmoll

# DevTools extensions and related files
src/extensions/
packages/devtools_extensions/    @kenzieschmoll
packages/devtools_app_shared/    @kenzieschmoll

# package:devtools_shared code, which is used across DevTools and the Dart SDK
packages/devtools_shared/        @kenzieschmoll @bkonyi

# Version bump files.
# No owners to prevent version update spam
packages/devtools_app/lib/devtools.dart
packages/devtools_app/pubspec.yaml
packages/devtools_test/pubspec.yaml

Upgrade Flutter version to include fix for skwasm renderer
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

Update version to 2.40.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Stop resetting the filters when clearing network and logging data (#8407)
  packages/devtools_app/lib/src/screens/logging/logging_controller.dart
  packages/devtools_app/lib/src/screens/network/network_controller.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers, @bkonyi, @kenzieschmoll

[Inspector V2] Persist tab when a new widget is selected (#8404)
  packages/devtools_app/lib/src/screens/inspector_v2/widget_properties/properties_view.dart
Owners: @flutter/devtools-reviewers

Fix navigation bug when opening the VM flags dialog (#8413)
  packages/devtools_app/lib/src/shared/ui/vm_flag_widgets.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Upgrade Flutter version to include fix for skwasm renderer (#8416)
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

Upgrade Flutter version to include fix for skwasm renderer (#8416)
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

Use searchable flat table
  packages/devtools_app/lib/src/screens/logging/_logs_table.dart
Owners: @flutter/devtools-reviewers

Set row height for logs table
  packages/devtools_app/lib/src/screens/logging/_logs_table.dart
  packages/devtools_app/lib/src/shared/table/_flat_table.dart
Owners: @flutter/devtools-reviewers

Fix scrollbar error for log details
  packages/devtools_app/lib/src/screens/logging/_log_details.dart
Owners: @flutter/devtools-reviewers

Refactor logging code
  packages/devtools_app/lib/src/screens/logging/logging_screen_v2/logging_table_row.dart
  packages/devtools_app/lib/src/screens/logging/metadata.dart
  packages/devtools_app/lib/src/screens/logging/shared/constants.dart
Owners: @flutter/devtools-reviewers

Include log details and metadata in logs display
  packages/devtools_app/lib/src/screens/logging/_logs_table.dart
  packages/devtools_app/lib/src/screens/logging/_message_column.dart
  packages/devtools_app/lib/src/screens/logging/logging_controller.dart
  packages/devtools_app/lib/src/screens/logging/logging_screen.dart
  packages/devtools_app/lib/src/screens/logging/logging_screen_v2/logging_table_row.dart
  packages/devtools_app/lib/src/screens/logging/metadata.dart
  packages/devtools_app/lib/src/screens/logging/shared/constants.dart
  packages/devtools_app/lib/src/shared/table/table.dart
Owners: @flutter/devtools-reviewers

fix comment
  packages/devtools_shared/lib/src/utils/serialization.dart
Owners: @kenzieschmoll, @bkonyi

level
  packages/devtools_app/lib/src/screens/logging/logging_controller.dart
Owners: @flutter/devtools-reviewers

fix import
  packages/devtools_app/test/logging/logging_screen_v2/logging_table_row_test.dart
Owners: @flutter/devtools-reviewers

fix imports
  packages/devtools_app/lib/src/screens/logging/logging_screen_v2/logging_table_row.dart
  packages/devtools_app/test/logging/logging_screen_v2/logging_table_row_test.dart
Owners: @flutter/devtools-reviewers

release notes and log level colors
  packages/devtools_app/lib/src/screens/logging/_message_column.dart
  packages/devtools_app/lib/src/screens/logging/logging_controller.dart
  packages/devtools_app/lib/src/screens/logging/metadata.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/release_notes/images/log_metadata.png
Owners: @flutter/devtools-reviewers

Fix log ordering bug
  packages/devtools_app/lib/src/screens/logging/_when_column.dart
  packages/devtools_app/lib/src/screens/logging/logging_controller.dart
Owners: @flutter/devtools-reviewers

rnotes
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Refactor logging code (#8418)
  packages/devtools_app/lib/src/screens/logging/logging_screen_v2/logging_table_row.dart
  packages/devtools_app/lib/src/screens/logging/metadata.dart
  packages/devtools_app/lib/src/screens/logging/shared/constants.dart
  packages/devtools_app/test/logging/logging_screen_v2/logging_table_row_test.dart
Owners: @flutter/devtools-reviewers

rnotes link
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Fetch log details immediately upon receiving logs
  packages/devtools_app/lib/src/screens/logging/_message_column.dart
  packages/devtools_app/lib/src/screens/logging/logging_controller.dart
  packages/devtools_app/lib/src/screens/logging/logging_screen.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

code refactoring
  packages/devtools_app/lib/src/screens/network/network_controller.dart
  packages/devtools_app/lib/src/screens/network/network_screen.dart
Owners: @bkonyi, @kenzieschmoll

added enum
  packages/devtools_app/lib/src/screens/network/offline_network_data.dart
Owners: @bkonyi, @kenzieschmoll

Fix log ordering bug (#8420)
  packages/devtools_app/lib/src/screens/logging/_when_column.dart
  packages/devtools_app/lib/src/screens/logging/logging_controller.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Update NEXT_RELEASE_NOTES.md
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Handle errors
  packages/devtools_app/lib/src/screens/logging/logging_controller.dart
Owners: @flutter/devtools-reviewers

Unskip the wasm benchmark (#8320)
  packages/devtools_app/benchmark/devtools_benchmarks_test.dart
  packages/devtools_app/benchmark/scripts/dart2wasm_performance_diff.dart
  packages/devtools_app/benchmark/scripts/run_benchmarks.dart
  packages/devtools_app/benchmark/test_infra/automators/devtools_automator.dart
  packages/devtools_app/benchmark/test_infra/client/client_js.dart
  packages/devtools_app/benchmark/test_infra/client/client_shared.dart
  packages/devtools_app/benchmark/test_infra/client/client_wasm.dart
  packages/devtools_app/benchmark/test_infra/common.dart
  packages/devtools_app/benchmark/test_infra/devtools_recorder.dart
  packages/devtools_app/pubspec.yaml
Owners: @flutter/devtools-reviewers

fix test
  packages/devtools_app/lib/src/screens/logging/_message_column.dart
  packages/devtools_app/test/logging/logging_screen_data_test.dart
Owners: @flutter/devtools-reviewers

pull in changes to avoid merge conflicts
  packages/devtools_app/lib/src/screens/logging/_message_column.dart
  packages/devtools_app/lib/src/screens/logging/logging_controller.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Bump dev version and remove stale release notes
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Fetch log details immediately upon receiving logs (#8421)
  packages/devtools_app/lib/src/screens/logging/_message_column.dart
  packages/devtools_app/lib/src/screens/logging/logging_controller.dart
  packages/devtools_app/lib/src/screens/logging/logging_screen.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/test/logging/logging_screen_data_test.dart
Owners: @flutter/devtools-reviewers

Bump dev version and remove stale release notes (#8424)
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Add metadata test
  packages/devtools_app/lib/src/screens/logging/_kind_column.dart
  packages/devtools_app/lib/src/screens/logging/_message_column.dart
  packages/devtools_app/lib/src/screens/logging/_when_column.dart
  packages/devtools_app/lib/src/screens/logging/metadata.dart
  packages/devtools_app/test/logging/metadata_test.dart
  packages/devtools_app/test_infra/goldens/logging/metadata_chips.png
Owners: @flutter/devtools-reviewers

fix more tests
  packages/devtools_app/lib/src/screens/logging/logging_screen_v2/logging_table_row.dart
  packages/devtools_app/lib/src/screens/logging/metadata.dart
  packages/devtools_app/test/logging/logging_screen_v2/logging_table_row_test.dart
Owners: @flutter/devtools-reviewers

Refactor logging controls
  packages/devtools_app/lib/src/screens/logging/logging_controls.dart
  packages/devtools_app/lib/src/screens/logging/logging_screen.dart
Owners: @flutter/devtools-reviewers

Refactor logging controls (#8425)
  packages/devtools_app/lib/src/screens/logging/logging_controls.dart
  packages/devtools_app/lib/src/screens/logging/logging_screen.dart
Owners: @flutter/devtools-reviewers

Include log metadata in logs table. (#8419)
  packages/devtools_app/lib/src/screens/logging/_kind_column.dart
  packages/devtools_app/lib/src/screens/logging/_log_details.dart
  packages/devtools_app/lib/src/screens/logging/_logs_table.dart
  packages/devtools_app/lib/src/screens/logging/_message_column.dart
  packages/devtools_app/lib/src/screens/logging/_when_column.dart
  packages/devtools_app/lib/src/screens/logging/logging_controller.dart
  packages/devtools_app/lib/src/screens/logging/logging_screen.dart
  packages/devtools_app/lib/src/screens/logging/logging_screen_v2/logging_table_row.dart
  packages/devtools_app/lib/src/screens/logging/metadata.dart
  packages/devtools_app/lib/src/shared/table/_flat_table.dart
  packages/devtools_app/lib/src/shared/table/table.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/release_notes/images/log_metadata.png
  packages/devtools_app/test/logging/logging_screen_v2/logging_table_row_test.dart
  packages/devtools_app/test/logging/metadata_test.dart
  packages/devtools_app/test_infra/goldens/logging/metadata_chips.png
  packages/devtools_shared/lib/src/utils/serialization.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll, @bkonyi

Make filtering easier to access from the logging page
  packages/devtools_app/lib/src/screens/logging/logging_controls.dart
  packages/devtools_app/lib/src/shared/ui/filter.dart
  packages/devtools_app/lib/src/shared/ui/search.dart
  packages/devtools_app_shared/lib/src/ui/buttons.dart
  packages/devtools_app_shared/lib/src/ui/text_field.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

ui tweaks
  packages/devtools_app/lib/src/shared/ui/filter.dart
Owners: @flutter/devtools-reviewers
