Repository flutter/devtools, changes with the owners that CODEOWNERS names for each.
All owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

[Property Editor] Label always at top of input (#8819)
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_inputs.dart
Owners: @flutter/devtools-reviewers

Fix a bug with detecting the base path for DevTools assets
  packages/devtools_app/lib/src/shared/primitives/utils.dart
  packages/devtools_app/test/shared/primitives/utils_test.dart
Owners: @flutter/devtools-reviewers

Use `-O2` optimization for DevTools wasm build. (#8814)
  tool/build_release.sh
  tool/lib/commands/build.dart
Owners: @kenzieschmoll

Fix a bug with detecting the base path for DevTools assets (#8826)
  packages/devtools_app/lib/src/shared/primitives/utils.dart
  packages/devtools_app/test/shared/primitives/utils_test.dart
Owners: @flutter/devtools-reviewers

Fix a bug with detecting the base path for DevTools assets (#8826)
  packages/devtools_app/lib/src/shared/primitives/utils.dart
  packages/devtools_app/test/shared/primitives/utils_test.dart
Owners: @flutter/devtools-reviewers

Prepare cherry-pick release 2.42.2
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Increase label font size
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_inputs.dart
Owners: @flutter/devtools-reviewers

Add property name to error
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_inputs.dart
  packages/devtools_app/test/standalone_ui/ide_shared/property_editor_test.dart
Owners: @flutter/devtools-reviewers

Add comment
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_inputs.dart
Owners: @flutter/devtools-reviewers

[Property Editor] Handle errors from the Analysis Server (#8818)
  packages/devtools_app/benchmark/web_bundle_size_test.dart
  packages/devtools_app/lib/src/shared/editor/api_classes.dart
  packages/devtools_app/lib/src/shared/editor/editor_client.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_controller.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_inputs.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/test/standalone_ui/ide_shared/property_editor_test.dart
Owners: @flutter/devtools-reviewers

[Property Editor] Increase label font size (#8827)
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_inputs.dart
Owners: @flutter/devtools-reviewers

Updating from 2.43.0-dev.0 to 2.43.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Prepare for release 2.43.0
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Prepare for release 2.43.0
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Update Flutter candidate version
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

Prepare for release 2.43.0 (#8830)
  flutter-candidate.txt
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: @flutter/devtools-reviewers

Prepare for releases of devtools_app_shared and devtools_extensions
  packages/devtools_app/pubspec.yaml
  packages/devtools_app_shared/CHANGELOG.md
  packages/devtools_app_shared/pubspec.yaml
  packages/devtools_extensions/CHANGELOG.md
  packages/devtools_extensions/pubspec.yaml
Owners: @kenzieschmoll

Bump Flutter version
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

Fix analysis failure
  packages/devtools_app/lib/src/screens/debugger/program_explorer_controller.dart
Owners: @elliette

Address comments
  packages/devtools_app_shared/CHANGELOG.md
Owners: @kenzieschmoll

Fix quotes
  packages/devtools_app/pubspec.yaml
Owners: none

Revert "Prepare for release 2.43.0 (#8830)"
  flutter-candidate.txt
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: @flutter/devtools-reviewers

Update license in index.html
  packages/devtools_app/web/index.html
Owners: @flutter/devtools-reviewers

Reenable Code based profiling when VM Developer Mode is enabled (#8832)
  flutter-candidate.txt
  packages/devtools_app/lib/src/screens/debugger/program_explorer_controller.dart
  packages/devtools_app/lib/src/service/vm_service_wrapper.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app_shared/CHANGELOG.md
  packages/devtools_app_shared/pubspec.yaml
  packages/devtools_extensions/CHANGELOG.md
  packages/devtools_extensions/pubspec.yaml
Owners: @flutter/devtools-reviewers, @elliette, @kenzieschmoll

Update license in index.html (#8834)
  packages/devtools_app/web/index.html
Owners: @flutter/devtools-reviewers

optimize cpu_profile_transformer to not create intermediate lists
  packages/devtools_app/lib/src/screens/profiler/cpu_profile_transformer.dart
Owners: @kenzieschmoll, @bkonyi

Add a focus node to text input
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_inputs.dart
Owners: @flutter/devtools-reviewers

Add test cases
  packages/devtools_app/test/standalone_ui/ide_shared/property_editor_test.dart
Owners: @flutter/devtools-reviewers

optimize cpu_profile_transformer to not create intermediate lists (#8839)
  packages/devtools_app/lib/src/screens/profiler/cpu_profile_transformer.dart
Owners: @kenzieschmoll, @bkonyi

Added analytics for property edits
  packages/devtools_app/lib/src/shared/analytics/constants/_property_editor_sidebar_constants.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_inputs.dart
Owners: @flutter/devtools-reviewers

Also report errors
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_inputs.dart
Owners: @flutter/devtools-reviewers

Align connection lines to center of icons
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_tree_controller.dart
  packages/devtools_app/lib/src/shared/console/eval/inspector_tree_v2.dart
Owners: @flutter/devtools-reviewers

Small tweak
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_tree_controller.dart
Owners: @flutter/devtools-reviewers

Fix licence tool include/excludes for Windows
  tool/lib/license_utils.dart
Owners: @kenzieschmoll

Normalize analytics paths for Windows
  packages/devtools_app/lib/src/shared/analytics/analytics_common.dart
  packages/devtools_app/test/shared/analytics/analytics_test.dart
Owners: @flutter/devtools-reviewers

Fix licence tool include/excludes for Windows (#8843)
  tool/lib/license_utils.dart
Owners: @kenzieschmoll

Fix some extensions + file util tests
  packages/devtools_shared/test/helpers/extension_test_manager.dart
  packages/devtools_shared/test/helpers/extension_test_manager_test.dart
  packages/devtools_shared/test/server/devtools_extensions_api_test.dart
  packages/devtools_shared/test/utils/file_utils_test.dart
Owners: @kenzieschmoll, @bkonyi

Revert bad changes
  packages/devtools_shared/test/utils/file_utils_test.dart
Owners: @kenzieschmoll, @bkonyi

[CQ] migrate to using `fileNameFromUri`
  packages/devtools_app/lib/src/screens/debugger/breakpoints.dart
  packages/devtools_app/lib/src/screens/debugger/debugger_model.dart
  packages/devtools_app/lib/src/screens/debugger/debugger_screen.dart
  packages/devtools_app/lib/src/screens/debugger/file_search.dart
  packages/devtools_app/lib/src/screens/performance/panes/rebuild_stats/rebuild_stats.dart
  packages/devtools_app/lib/src/shared/console/widgets/description.dart
  packages/devtools_app/lib/src/shared/primitives/utils.dart
Owners: @elliette, @kenzieschmoll, @flutter/devtools-reviewers

[CQ] migrate to using `fileNameFromUri` (#8847)
  packages/devtools_app/lib/src/screens/debugger/breakpoints.dart
  packages/devtools_app/lib/src/screens/debugger/debugger_model.dart
  packages/devtools_app/lib/src/screens/debugger/debugger_screen.dart
  packages/devtools_app/lib/src/screens/debugger/file_search.dart
  packages/devtools_app/lib/src/screens/performance/panes/rebuild_stats/rebuild_stats.dart
  packages/devtools_app/lib/src/shared/console/widgets/description.dart
  packages/devtools_app/lib/src/shared/primitives/utils.dart
Owners: @elliette, @kenzieschmoll, @flutter/devtools-reviewers

CODEOWNERS:

*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @elliette

# Network Files
network/            @bkonyi @kenzieschmoll

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll @bkonyi

# Memory files
memory/             @bkonyi @kenzieschmoll

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @kenzieschmoll

# DevTools extensions and related files
src/extensions/
packages/devtools_extensions/    @kenzieschmoll
packages/devtools_app_shared/    @kenzieschmoll

# package:devtools_shared code, which is used across DevTools and the Dart SDK
packages/devtools_shared/        @kenzieschmoll @bkonyi

# Version bump files.
# No owners to prevent version update spam
packages/devtools_app/lib/devtools.dart
packages/devtools_app/pubspec.yaml
packages/devtools_test/pubspec.yaml
