Repository flutter/devtools, changes with the owners that CODEOWNERS names for each.
All owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

CODEOWNERS:

*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @elliette

# Network Files
network/            @bkonyi @kenzieschmoll

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll @bkonyi

# Memory files
memory/             @bkonyi @kenzieschmoll

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @kenzieschmoll

# DevTools extensions and related files
src/extensions/
packages/devtools_extensions/    @kenzieschmoll
packages/devtools_app_shared/    @kenzieschmoll

# package:devtools_shared code, which is used across DevTools and the Dart SDK
packages/devtools_shared/        @kenzieschmoll @bkonyi

# Version bump files.
# No owners to prevent version update spam
packages/devtools_app/lib/devtools.dart
packages/devtools_app/pubspec.yaml
packages/devtools_test/pubspec.yaml

Use `EventKind.kTimerSignificantlyOverdue`
  packages/devtools_app/lib/src/screens/logging/metadata.dart
  packages/devtools_app/test/screens/logging/logging_controller_test.dart
Owners: @flutter/devtools-reviewers

Update constraints in `packages/devtools_app/pubspec.yaml`
  packages/devtools_app/pubspec.yaml
Owners: none

Add Queued Microtasks tab to Performance View
  packages/devtools_app/lib/devtools_app.dart
  packages/devtools_app/lib/src/screens/performance/panes/queued_microtasks/queued_microtasks_controller.dart
  packages/devtools_app/lib/src/screens/performance/panes/queued_microtasks/queued_microtasks_view.dart
  packages/devtools_app/lib/src/screens/performance/performance_controller.dart
  packages/devtools_app/lib/src/screens/performance/performance_screen.dart
  packages/devtools_app/lib/src/screens/performance/tabbed_performance_view.dart
  packages/devtools_app/lib/src/service/vm_flags.dart
  packages/devtools_app/lib/src/shared/analytics/constants/_performance_constants.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/test/screens/performance/queued_microtasks/queued_microtasks_controller_test.dart
  packages/devtools_app/test/screens/performance/tabbed_performance_view_test.dart
  packages/devtools_app/test/test_infra/scenes/performance/default.dart
  packages/devtools_app/test/test_infra/test_data/performance/sample_performance_data.dart
  packages/devtools_test/lib/src/mocks/fake_service_manager.dart
  packages/devtools_test/lib/src/mocks/fake_vm_service_wrapper.dart
  packages/devtools_test/lib/src/mocks/generated.dart
  packages/devtools_test/lib/src/mocks/generated_mocks_factories.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

Address comments
  packages/devtools_app/lib/src/screens/performance/panes/queued_microtasks/queued_microtasks_controller.dart
  packages/devtools_app/lib/src/screens/performance/panes/queued_microtasks/queued_microtasks_view.dart
  packages/devtools_app/lib/src/screens/performance/tabbed_performance_view.dart
  packages/devtools_app/lib/src/service/vm_flags.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/test/screens/performance/queued_microtasks/queued_microtasks_controller_test.dart
  packages/devtools_app/test/screens/performance/tabbed_performance_view_test.dart
Owners: @kenzieschmoll, @flutter/devtools-reviewers

Move tab from Performance view to VM Tools screen
  packages/devtools_app/lib/devtools_app.dart
  packages/devtools_app/lib/src/screens/performance/panes/queued_microtasks/queued_microtasks_view.dart
  packages/devtools_app/lib/src/screens/performance/performance_controller.dart
  packages/devtools_app/lib/src/screens/performance/performance_screen.dart
  packages/devtools_app/lib/src/screens/performance/tabbed_performance_view.dart
  packages/devtools_app/lib/src/screens/vm_developer/queued_microtasks/queued_microtasks_controller.dart
  packages/devtools_app/lib/src/screens/vm_developer/queued_microtasks/queued_microtasks_view.dart
  packages/devtools_app/lib/src/screens/vm_developer/vm_developer_tools_screen.dart
  packages/devtools_app/lib/src/shared/analytics/constants.dart
  packages/devtools_app/lib/src/shared/analytics/constants/_performance_constants.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/test/screens/performance/tabbed_performance_view_test.dart
  packages/devtools_app/test/screens/vm_developer/queued_microtasks/queued_microtasks_controller_test.dart
  packages/devtools_app/test/screens/vm_developer/queued_microtasks/queued_microtasks_view_test.dart
  packages/devtools_app/test/screens/vm_developer/vm_developer_test_utils.dart
  packages/devtools_app/test/test_infra/scenes/performance/default.dart
  packages/devtools_app/test/test_infra/test_data/performance/sample_performance_data.dart
  packages/devtools_test/lib/src/mocks/generated.dart
  packages/devtools_test/lib/src/mocks/generated_mocks_factories.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll, @bkonyi

Updating from 2.48.0-dev.0 to 2.48.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Show `Timer` events in the Logging View (#9238)
  packages/devtools_app/lib/src/screens/logging/logging_controller.dart
  packages/devtools_app/lib/src/screens/logging/metadata.dart
  packages/devtools_app/lib/src/service/vm_service_wrapper.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/test/screens/logging/logging_controller_test.dart
  packages/devtools_test/lib/src/mocks/fake_vm_service_wrapper.dart
Owners: @flutter/devtools-reviewers

Updating from 2.48.0-dev.0 to 2.48.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.48.0-dev.0 to 2.48.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.48.0-dev.0 to 2.48.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

update gemini.md
  GEMINI.md
Owners: @flutter/devtools-reviewers

Address comments
  packages/devtools_app/lib/src/screens/vm_developer/queued_microtasks/queued_microtasks_view.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/release_notes/helpers/release_notes_template.md
Owners: @bkonyi, @flutter/devtools-reviewers

Add Queued Microtasks tab to VM Tools screen (#9239)
  packages/devtools_app/lib/devtools_app.dart
  packages/devtools_app/lib/src/screens/vm_developer/queued_microtasks/queued_microtasks_controller.dart
  packages/devtools_app/lib/src/screens/vm_developer/queued_microtasks/queued_microtasks_view.dart
  packages/devtools_app/lib/src/screens/vm_developer/vm_developer_tools_screen.dart
  packages/devtools_app/lib/src/service/vm_flags.dart
  packages/devtools_app/lib/src/shared/analytics/constants.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/release_notes/helpers/release_notes_template.md
  packages/devtools_app/test/screens/vm_developer/queued_microtasks/queued_microtasks_controller_test.dart
  packages/devtools_app/test/screens/vm_developer/queued_microtasks/queued_microtasks_view_test.dart
  packages/devtools_app/test/screens/vm_developer/vm_developer_test_utils.dart
  packages/devtools_test/lib/src/mocks/fake_service_manager.dart
  packages/devtools_test/lib/src/mocks/fake_vm_service_wrapper.dart
Owners: @flutter/devtools-reviewers, @bkonyi

Updating from 2.48.0-dev.0 to 2.48.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.48.0-dev.0 to 2.48.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.48.0-dev.0 to 2.48.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Swallow exceptions related to trying to dispose an inspector group
  packages/devtools_app/lib/src/shared/diagnostics/inspector_service.dart
Owners: @flutter/devtools-reviewers

simplify
  packages/devtools_app/lib/src/shared/diagnostics/inspector_service.dart
Owners: @flutter/devtools-reviewers

catch rpc error
  packages/devtools_app/lib/src/shared/diagnostics/inspector_service.dart
Owners: @flutter/devtools-reviewers

review comments
  packages/devtools_app/lib/src/shared/diagnostics/inspector_service.dart
Owners: @flutter/devtools-reviewers

review comments
  packages/devtools_app/lib/src/service/vm_service_wrapper.dart
  packages/devtools_app/lib/src/shared/diagnostics/inspector_service.dart
Owners: @flutter/devtools-reviewers

Reset thresholds for performance benchmarks
  flutter-candidate.txt
  packages/devtools_app/benchmark/devtools_benchmarks_test.dart
Owners: @flutter/devtools-reviewers

fix lints
  packages/devtools_app/benchmark/devtools_benchmarks_test.dart
Owners: @flutter/devtools-reviewers

Updating from 2.48.0-dev.0 to 2.48.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.48.0-dev.0 to 2.48.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.48.0-dev.0 to 2.48.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.48.0-dev.0 to 2.48.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

fix broken test
  packages/devtools_app/lib/src/shared/diagnostics/inspector_service.dart
Owners: @flutter/devtools-reviewers

Swallow exceptions related to trying to dispose an inspector group (#9256)
  packages/devtools_app/lib/src/service/vm_service_wrapper.dart
  packages/devtools_app/lib/src/shared/diagnostics/inspector_service.dart
Owners: @flutter/devtools-reviewers

Swallow exceptions related to an already disposed service connection
  packages/devtools_app/lib/src/screens/network/network_service.dart
  packages/devtools_app/lib/src/service/vm_service_wrapper.dart
Owners: @bkonyi, @kenzieschmoll, @flutter/devtools-reviewers

Swallow exceptions related to an already disposed service connection (#9265)
  packages/devtools_app/lib/src/screens/network/network_service.dart
  packages/devtools_app/lib/src/service/vm_service_wrapper.dart
Owners: @bkonyi, @kenzieschmoll, @flutter/devtools-reviewers

Ignore expected exceptions from the `navigateToCode` extension method.
  packages/devtools_app_shared/CHANGELOG.md
  packages/devtools_app_shared/lib/src/service/service_utils.dart
  packages/devtools_app_shared/pubspec.yaml
Owners: @kenzieschmoll

Ignore expected exceptions from the `navigateToCode` extension method. (#9266)
  packages/devtools_app_shared/CHANGELOG.md
  packages/devtools_app_shared/lib/src/service/service_utils.dart
  packages/devtools_app_shared/pubspec.yaml
Owners: @kenzieschmoll

Bump Flutter SDK to latest
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

fix broken test
  packages/devtools_app/test/service/timeline_streams_test.dart
Owners: @flutter/devtools-reviewers

Bump build_runner to 2.5.x for faster builds
  packages/devtools_app/pubspec.yaml
  pubspec.yaml
Owners: @flutter/devtools-reviewers

Updating from 2.48.0-dev.0 to 2.48.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Bump Flutter SDK to latest (#9267)
  flutter-candidate.txt
  packages/devtools_app/test/service/timeline_streams_test.dart
Owners: @flutter/devtools-reviewers

Bump build_runner to 2.5.x for faster builds (#9268)
  packages/devtools_app/pubspec.yaml
  pubspec.yaml
Owners: @flutter/devtools-reviewers

Ensure pub get is ran for all packages for flutter customer tests
  tool/flutter_customer_tests/setup.sh
  tool/lib/commands/generate_code.dart
Owners: @kenzieschmoll
