Repository flutter/devtools, changes with the owners that CODEOWNERS names for each.
All owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

CODEOWNERS:

*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @elliette

# Network Files
network/            @bkonyi @kenzieschmoll

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll @bkonyi

# Memory files
memory/             @bkonyi @kenzieschmoll

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @kenzieschmoll

# DevTools extensions and related files
src/extensions/
packages/devtools_extensions/    @kenzieschmoll
packages/devtools_app_shared/    @kenzieschmoll

# package:devtools_shared code, which is used across DevTools and the Dart SDK
packages/devtools_shared/        @kenzieschmoll @bkonyi

# Version bump files.
# No owners to prevent version update spam
packages/devtools_app/lib/devtools.dart
packages/devtools_app/pubspec.yaml
packages/devtools_test/pubspec.yaml

added release notes
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Updating from 2.57.0-dev.0 to 2.57.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Add toggle to filter out socket rows in Network screen
  packages/devtools_app/lib/src/screens/network/network_controller.dart
  packages/devtools_app/lib/src/screens/network/network_screen.dart
  packages/devtools_app/lib/src/shared/analytics/constants/_network_constants.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/test/screens/network/network_controller_test.dart
Owners: @bkonyi, @kenzieschmoll, @flutter/devtools-reviewers

Fix benchmark tests (#9696)
  packages/devtools_app/benchmark/devtools_benchmarks_test.dart
  pubspec.lock
Owners: @flutter/devtools-reviewers

Make a small edit
  CONTRIBUTING.md
Owners: @flutter/devtools-reviewers

Update contribution guidelines and PR request template
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
Owners: @flutter/devtools-reviewers

Refer to contributions-welcome and good-first-issue
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
Owners: @flutter/devtools-reviewers

Update test checklist
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @flutter/devtools-reviewers

Update test phrasing
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @flutter/devtools-reviewers

Updating from 2.57.0-dev.0 to 2.57.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
  pubspec.lock
Owners: @flutter/devtools-reviewers

Update AI checklist
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @flutter/devtools-reviewers

fix: add toggle filter to hide HTTP profiler tcp sockets in Network screen
  packages/devtools_app/lib/src/screens/network/network_controller.dart
  packages/devtools_app/lib/src/screens/network/network_screen.dart
  packages/devtools_app/test/screens/network/network_controller_test.dart
Owners: @bkonyi, @kenzieschmoll

Removed visibleForTesting annotation and fixed analyzer warnings
  packages/devtools_app/lib/src/screens/network/network_controller.dart
Owners: @bkonyi, @kenzieschmoll

Prepare cherry-pick release - DevTools 2.54.2
  flutter-candidate.txt
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
  pubspec.lock
Owners: @flutter/devtools-reviewers

Prepare cherry-pick release - DevTools 2.56.1
  flutter-candidate.txt
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: @flutter/devtools-reviewers

fix: addresses PR review feedbacks
  packages/devtools_app/lib/src/screens/network/network_controller.dart
  packages/devtools_app/lib/src/screens/network/network_screen.dart
  packages/devtools_app/lib/src/shared/analytics/constants/_network_constants.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/test/screens/network/network_controller_test.dart
Owners: @bkonyi, @kenzieschmoll, @flutter/devtools-reviewers

Restored @visibleForTesting annotations
  packages/devtools_app/lib/src/screens/network/network_request_inspector_views.dart
Owners: @bkonyi, @kenzieschmoll

Updating from 2.57.0-dev.0 to 2.57.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
  pubspec.lock
Owners: @flutter/devtools-reviewers

Change Flutter candidate
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

Update packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Update packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Refactor test to use activeFilter.value.settingFilters and set value directly as suggested in review.
  packages/devtools_app/test/screens/network/network_controller_test.dart
Owners: @bkonyi, @kenzieschmoll

fixed format
  packages/devtools_app/test/screens/network/network_controller_test.dart
Owners: @bkonyi, @kenzieschmoll

Update Flutter version
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

Add toggle to filter out SOCKET rows in Network screen (#9698)
  packages/devtools_app/lib/src/screens/network/network_controller.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/test/screens/network/network_controller_test.dart
Owners: @bkonyi, @kenzieschmoll, @flutter/devtools-reviewers

Add an agent skill for adding release notes
  .agents/skills/adding-release-notes/SKILL.md
  .agents/skills/adding-release-notes/scripts/add_note.dart
  pubspec.lock
Owners: @flutter/devtools-reviewers

Update contributing guidelines and the PR template (#9700)
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
Owners: @flutter/devtools-reviewers

Update pubspec.lock
  pubspec.lock
Owners: @flutter/devtools-reviewers

Use the right flutter candidate, no downgrades
  pubspec.lock
Owners: @flutter/devtools-reviewers

update skill
  .agents/skills/adding-release-notes/SKILL.md
  .agents/skills/adding-release-notes/scripts/add_note.dart
Owners: @flutter/devtools-reviewers

update skill
  .agents/skills/adding-release-notes/SKILL.md
  .agents/skills/adding-release-notes/scripts/add_note.dart
Owners: @flutter/devtools-reviewers

update skill
  .agents/skills/adding-release-notes/SKILL.md
Owners: @flutter/devtools-reviewers

Add support for searching within the log details view
  packages/devtools_app/lib/src/screens/logging/_log_details.dart
  packages/devtools_app/lib/src/screens/logging/_logs_table.dart
  packages/devtools_app/lib/src/screens/logging/log_details_controller.dart
  packages/devtools_app/lib/src/screens/logging/logging_controller.dart
  packages/devtools_app/lib/src/screens/logging/logging_screen.dart
  packages/devtools_app/lib/src/shared/table/_flat_table.dart
  packages/devtools_app/lib/src/shared/table/_table_row.dart
  packages/devtools_app/macos/Runner.xcodeproj/project.pbxproj
  packages/devtools_app/macos/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  packages/devtools_app/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/release_notes/images/log_details_search.png
  packages/devtools_app_shared/lib/src/ui/theme/theme.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

update release note pr link
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Update pubspec.lock (#9708)
  pubspec.lock
Owners: @flutter/devtools-reviewers

Updating from 2.57.0-dev.0 to 2.57.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.57.0-dev.0 to 2.57.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.57.0-dev.0 to 2.57.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

update skill to find pr number
  .agents/skills/adding-release-notes/SKILL.md
  .agents/skills/adding-release-notes/scripts/add_note.dart
Owners: @flutter/devtools-reviewers

Add a Skill to create release notes (#9711)
  .agents/skills/adding-release-notes/SKILL.md
  .agents/skills/adding-release-notes/scripts/add_note.dart
  pubspec.lock
Owners: @flutter/devtools-reviewers
