Repository flutter/devtools, changes with the owners that CODEOWNERS names for each.
All owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

Add TODO comment for legacy inspector (#9738)
  packages/devtools_app/lib/src/screens/inspector_shared/inspector_screen_controller.dart
Owners: @flutter/devtools-reviewers

Updating from 2.57.0-dev.0 to 2.57.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Configure integration tests to run on dart2wasm
  .github/workflows/build.yaml
  packages/devtools_app/integration_test/test_infra/run/run_test.dart
  packages/devtools_extensions/integration_test/run_tests.dart
  packages/devtools_shared/lib/src/test/integration_test_runner.dart
  tool/ci/bots.sh
Owners: @flutter/devtools-reviewers, @kenzieschmoll, @bkonyi

Updating from 2.57.0-dev.0 to 2.57.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Added size support to network tab
  packages/devtools_app/lib/src/screens/network/network_model.dart
  packages/devtools_app/lib/src/screens/network/network_request_inspector_views.dart
  packages/devtools_app/lib/src/screens/network/network_screen.dart
  packages/devtools_app/lib/src/shared/http/http_request_data.dart
Owners: @bkonyi, @kenzieschmoll, @flutter/devtools-reviewers

Align network status test with cancellation behavior; stabilize eval test teardown
  packages/devtools_app/lib/src/shared/http/http_request_data.dart
  packages/devtools_app/test/screens/network/network_controller_test.dart
  packages/devtools_app/test/screens/network/network_profiler_test.dart
  packages/devtools_app/test/shared/eval_integration_test.dart
Owners: @flutter/devtools-reviewers, @bkonyi, @kenzieschmoll

Added release notes entry for network response size feature
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Resolve merge conflict in release notes
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Added documentation for byte formatting
  packages/devtools_app/lib/src/screens/network/network_request_inspector_views.dart
  packages/devtools_app/lib/src/screens/network/network_screen.dart
Owners: @bkonyi, @kenzieschmoll

Fix lint: match parameter names with base class
  packages/devtools_app/lib/src/screens/network/network_screen.dart
Owners: @bkonyi, @kenzieschmoll

Fix lint: correct parameter name in AddressColumn
  packages/devtools_app/lib/src/screens/network/network_screen.dart
Owners: @bkonyi, @kenzieschmoll

Fix type handling for content-length header in responseBytes
  packages/devtools_app/lib/src/shared/http/http_request_data.dart
Owners: @flutter/devtools-reviewers

Fix layout spacing to ensure consistent widget tree
  packages/devtools_app/lib/src/screens/network/network_request_inspector_views.dart
Owners: @bkonyi, @kenzieschmoll

Fix variable placement for response size rendering
  packages/devtools_app/lib/src/screens/network/network_request_inspector_views.dart
  packages/devtools_app/lib/src/screens/network/network_screen.dart
Owners: @bkonyi, @kenzieschmoll

Use modified flutter tool
  packages/devtools_app/integration_test/test_infra/run/_test_app_driver.dart
Owners: @flutter/devtools-reviewers

Updating from 2.57.0-dev.0 to 2.57.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Fix parameter name to match ColumnData override
  packages/devtools_app/lib/src/screens/network/network_screen.dart
Owners: @bkonyi, @kenzieschmoll

Updating from 2.57.0-dev.0 to 2.57.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.57.0-dev.0 to 2.57.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Remove disable-gpu flag for dart2wasm
  packages/devtools_shared/lib/src/test/integration_test_runner.dart
Owners: @kenzieschmoll, @bkonyi

comment out workaround code for flutter issue-181357
  packages/devtools_app/integration_test/test_infra/run/_test_app_driver.dart
Owners: @flutter/devtools-reviewers

Fix long string overlay in debugger Variables panel (#7112)
  packages/devtools_app/lib/src/shared/console/widgets/display_provider.dart
  packages/devtools_app/test/screens/debugger/debugger_screen_dap_variables_test.dart
Owners: @flutter/devtools-reviewers, @elliette

Code cleanup
  .github/workflows/build.yaml
  packages/devtools_app/integration_test/test_infra/run/_test_app_driver.dart
  packages/devtools_shared/lib/src/test/integration_test_runner.dart
  tool/ci/bots.sh
Owners: @flutter/devtools-reviewers, @kenzieschmoll, @bkonyi

Fix link
  CONTRIBUTING.md
Owners: @flutter/devtools-reviewers

Addressed Requested changes: update size units, refactor column definition, simplify code, and revert unnecessary changes
  packages/devtools_app/lib/src/screens/network/network_request_inspector_views.dart
  packages/devtools_app/lib/src/screens/network/network_screen.dart
  packages/devtools_app/lib/src/shared/http/http_request_data.dart
Owners: @bkonyi, @kenzieschmoll, @flutter/devtools-reviewers

Updating from 2.57.0-dev.0 to 2.57.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Refine HTTP cancellation/status handling and network timing graph null-safety; update related network tests
  packages/devtools_app/lib/src/screens/network/network_request_inspector_views.dart
  packages/devtools_app/lib/src/shared/http/http_request_data.dart
  packages/devtools_app/lib/src/shared/primitives/custom_pointer_scroll_view.dart
  packages/devtools_app/test/screens/network/network_controller_test.dart
  packages/devtools_app/test/screens/network/network_model_test.dart
  packages/devtools_app/test/test_infra/test_data/http_get_cancelled_json.dart
Owners: @bkonyi, @kenzieschmoll, @flutter/devtools-reviewers

Refine network cancellation logic and related tests.
  packages/devtools_app/lib/src/screens/network/network_request_inspector_views.dart
  packages/devtools_app/lib/src/shared/http/http_request_data.dart
  packages/devtools_app/test/screens/network/network_model_test.dart
  packages/devtools_app/test/screens/network/network_profiler_test.dart
  packages/devtools_app/test/test_infra/test_data/http_get_cancelled_json.dart
Owners: @bkonyi, @kenzieschmoll, @flutter/devtools-reviewers

Fix link in CONTRIBUTING to list of contributions welcome issues (#9746)
  CONTRIBUTING.md
Owners: @flutter/devtools-reviewers

Reuse OverflowingText for debugger variable rows
  packages/devtools_app/lib/src/shared/console/widgets/display_provider.dart
Owners: @flutter/devtools-reviewers

Addressed Rquested Changes: refactor formatBytes into http_utils, update units and added tests for responseBytes & formatBytes
  packages/devtools_app/lib/src/screens/network/network_request_inspector_views.dart
  packages/devtools_app/lib/src/screens/network/network_screen.dart
  packages/devtools_app/lib/src/screens/network/utils/http_utils.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/test/shared/http/http_request_data_test.dart
  packages/devtools_app/test/shared/http/http_utils_test.dart
Owners: @bkonyi, @kenzieschmoll, @flutter/devtools-reviewers

fix : formatBytes test fail
  packages/devtools_app/lib/src/screens/network/utils/http_utils.dart
Owners: @bkonyi, @kenzieschmoll

Configure integration tests to run on `dart2wasm` (#9743)
  .github/workflows/build.yaml
  packages/devtools_app/integration_test/test_infra/run/run_test.dart
  packages/devtools_extensions/integration_test/run_tests.dart
  packages/devtools_shared/lib/src/test/integration_test_runner.dart
  tool/ci/bots.sh
Owners: @flutter/devtools-reviewers, @kenzieschmoll, @bkonyi

Address PR review: extract _ReconnectActions widget, use MultiValueListenableBuilder and safeUnawaited
  packages/devtools_app/lib/src/framework/observer/disconnect_observer.dart
Owners: @flutter/devtools-reviewers

Updating from 2.57.0-dev.0 to 2.57.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.57.0-dev.0 to 2.57.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Remove the `networkSaveLoad` feature flag
  packages/devtools_app/lib/src/screens/network/network_screen.dart
  packages/devtools_app/lib/src/shared/feature_flags.dart
  packages/devtools_app/test/shared/primitives/feature_flags_test.dart
  pubspec.lock
Owners: @bkonyi, @kenzieschmoll, @flutter/devtools-reviewers

Remove legacy `devtools_tool` executables
  tool/bin/devtools_tool
  tool/bin/devtools_tool.bat
Owners: @kenzieschmoll

Remove the `networkSaveLoad` feature flag (#9749)
  packages/devtools_app/lib/src/screens/network/network_screen.dart
  packages/devtools_app/lib/src/shared/feature_flags.dart
  packages/devtools_app/test/shared/primitives/feature_flags_test.dart
  pubspec.lock
Owners: @bkonyi, @kenzieschmoll, @flutter/devtools-reviewers

Add a new `dt presubmit` tool.
  tool/lib/commands/presubmit.dart
  tool/lib/devtools_command_runner.dart
  tool/pubspec.yaml
  tool/test/command_test_utils.dart
  tool/test/presubmit_test.dart
Owners: @kenzieschmoll

CODEOWNERS:

*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @elliette

# Network Files
network/            @bkonyi @kenzieschmoll

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll @bkonyi

# Memory files
memory/             @bkonyi @kenzieschmoll

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @kenzieschmoll

# DevTools extensions and related files
src/extensions/
packages/devtools_extensions/    @kenzieschmoll
packages/devtools_app_shared/    @kenzieschmoll

# package:devtools_shared code, which is used across DevTools and the Dart SDK
packages/devtools_shared/        @kenzieschmoll @bkonyi

# Version bump files.
# No owners to prevent version update spam
packages/devtools_app/lib/devtools.dart
packages/devtools_app/pubspec.yaml
packages/devtools_test/pubspec.yaml
