Repository flutter/devtools, changes with the owners that CODEOWNERS names for each.
All owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

Adds a new DTDTools screen behind the Advanced Developer Mode setting (#9217)
  packages/devtools_app/lib/devtools_app.dart
  packages/devtools_app/lib/src/app.dart
  packages/devtools_app/lib/src/framework/scaffold/settings_dialog.dart
  packages/devtools_app/lib/src/screens/dtd/dtd_tools_controller.dart
  packages/devtools_app/lib/src/screens/dtd/dtd_tools_model.dart
  packages/devtools_app/lib/src/screens/dtd/dtd_tools_screen.dart
  packages/devtools_app/lib/src/screens/dtd/events.dart
  packages/devtools_app/lib/src/screens/dtd/services.dart
  packages/devtools_app/lib/src/screens/dtd/shared.dart
  packages/devtools_app/lib/src/screens/memory/panes/profile/profile_view.dart
  packages/devtools_app/lib/src/screens/profiler/cpu_profile_model.dart
  packages/devtools_app/lib/src/screens/profiler/cpu_profile_service.dart
  packages/devtools_app/lib/src/screens/profiler/cpu_profiler.dart
  packages/devtools_app/lib/src/screens/profiler/panes/controls/cpu_profiler_controls.dart
  packages/devtools_app/lib/src/screens/profiler/profiler_screen_controller.dart
  packages/devtools_app/lib/src/screens/vm_developer/vm_service_private_extensions.dart
  packages/devtools_app/lib/src/service/service_manager.dart
  packages/devtools_app/lib/src/service/vm_service_wrapper.dart
  packages/devtools_app/lib/src/shared/analytics/constants.dart
  packages/devtools_app/lib/src/shared/framework/screen.dart
  packages/devtools_app/lib/src/shared/preferences/preferences.dart
  packages/devtools_app/lib/src/shared/utils/utils.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/test/screens/cpu_profiler/cpu_profiler_test.dart
  packages/devtools_app/test/screens/dtd/dtd_tools_screen_test.dart
  packages/devtools_app/test/screens/dtd/events_test.dart
  packages/devtools_app/test/screens/dtd/services_test.dart
  packages/devtools_app/test/screens/memory/profile/allocation_profile_table_view_test.dart
  packages/devtools_app/test/shared/framework/visible_screens_test.dart
  packages/devtools_app/test/shared/preferences/preferences_controller_test.dart
  packages/devtools_test/lib/src/helpers/utils.dart
  packages/devtools_test/lib/src/helpers/wrappers.dart
  packages/devtools_test/lib/src/mocks/generated.dart
Owners: @flutter/devtools-reviewers, @bkonyi, @kenzieschmoll

Ignore expected exceptions from the `navigateToCode` extension method. (#9266)
  packages/devtools_app_shared/CHANGELOG.md
  packages/devtools_app_shared/lib/src/service/service_utils.dart
  packages/devtools_app_shared/pubspec.yaml
Owners: @kenzieschmoll

Swallow exceptions related to an already disposed service connection (#9265)
  packages/devtools_app/lib/src/screens/network/network_service.dart
  packages/devtools_app/lib/src/service/vm_service_wrapper.dart
Owners: @bkonyi, @kenzieschmoll, @flutter/devtools-reviewers

Bump `dtd` dep to 4.0.0 (#9240)
  packages/devtools_app/lib/src/shared/editor/editor_client.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/test/screens/dtd/events_test.dart
  packages/devtools_app_shared/CHANGELOG.md
  packages/devtools_app_shared/pubspec.yaml
  packages/devtools_extensions/example/packages_with_extensions/foo/packages/foo_devtools_extension/pubspec.yaml
  packages/devtools_shared/CHANGELOG.md
  packages/devtools_shared/pubspec.yaml
  packages/devtools_test/pubspec.yaml
Owners: @flutter/devtools-reviewers, @kenzieschmoll, @bkonyi

Swallow exceptions related to trying to dispose an inspector group (#9256)
  packages/devtools_app/lib/src/service/vm_service_wrapper.dart
  packages/devtools_app/lib/src/shared/diagnostics/inspector_service.dart
Owners: @flutter/devtools-reviewers

Bump Flutter SDK to latest (#9267)
  flutter-candidate.txt
  packages/devtools_app/test/service/timeline_streams_test.dart
Owners: @flutter/devtools-reviewers

Add support for connecting to the DevTools server from integration tests (#9190)
  packages/devtools_app/integration_test/test/live_connection/devtools_extensions_test.dart
  packages/devtools_app/integration_test/test_infra/run/_in_file_args.dart
  packages/devtools_app/integration_test/test_infra/run/run_test.dart
  packages/devtools_app/lib/src/extensions/embedded/_view_web.dart
  packages/devtools_app/lib/src/shared/development_helpers.dart
  packages/devtools_shared/lib/src/test/io_utils.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll, @bkonyi

Add a GEMINI.md file and .gitignore entry (#9279)
  .gitignore
  GEMINI.md
Owners: @flutter/devtools-reviewers

Fork all debugging docs out of CONTRIBUTING.md into their own doc (#9278)
  CONTRIBUTING.md
  DEBUGGING.md
Owners: @flutter/devtools-reviewers

Small readability tweak in forEachIsolateHelper (#9273)
  packages/devtools_app_shared/lib/src/service/service_utils.dart
Owners: @kenzieschmoll

Do not mark service extensions as 'added' so eagerly (#9271)
  packages/devtools_app/lib/src/screens/network/network_service.dart
  packages/devtools_app/lib/src/service/vm_service_wrapper.dart
  packages/devtools_app/lib/src/shared/diagnostics/inspector_service.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app_shared/lib/service.dart
  packages/devtools_app_shared/lib/src/service/rpc_error_extension.dart
  packages/devtools_app_shared/lib/src/service/service_extension_manager.dart
Owners: @bkonyi, @kenzieschmoll, @flutter/devtools-reviewers

Fix comment on "forEachIsolate" (#9272)
  packages/devtools_app/lib/src/service/vm_service_wrapper.dart
Owners: @flutter/devtools-reviewers

Bump build_runner to 2.5.x for faster builds (#9268)
  packages/devtools_app/pubspec.yaml
  pubspec.yaml
Owners: @flutter/devtools-reviewers

Use --no-minify-wasm when creating devtools for releases. (#9284)
  flutter-candidate.txt
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_inputs.dart
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_implementation_widgets_collapsed.png
  packages/devtools_app/test/test_infra/goldens/logging/metadata_chips.png
  tool/build_release.sh
  tool/lib/commands/build.dart
  tool/lib/commands/serve.dart
  tool/lib/commands/shared.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

devtools_app_shared: add CHANGELOG entry (#9289)
  packages/devtools_app_shared/CHANGELOG.md
Owners: @kenzieschmoll

NetworkService: small tweaks (#9274)
  packages/devtools_app/lib/src/screens/network/network_service.dart
Owners: @bkonyi, @kenzieschmoll

Ensure pub get is ran for all packages for flutter customer tests (#9270)
  tool/flutter_customer_tests/setup.sh
  tool/lib/commands/generate_code.dart
Owners: @kenzieschmoll

ServiceExtensionManager: avoid switching on runtime type (#9286)
  packages/devtools_app_shared/lib/src/service/service_extension_manager.dart
Owners: @kenzieschmoll

ServiceExtensionManager: simplify code around service state and availability (#9288)
  packages/devtools_app_shared/lib/src/service/service_extension_manager.dart
Owners: @kenzieschmoll

ServiceExtensionManager: return early... earlier (#9287)
  packages/devtools_app_shared/lib/src/service/service_extension_manager.dart
Owners: @kenzieschmoll

Bump DevTools version for next release cycle (#9296)
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Upgrade DCM to v1.30.0 (#9310)
  .github/workflows/build.yaml
  packages/devtools_app/lib/src/screens/app_size/app_size_controller.dart
  packages/devtools_app/lib/src/screens/profiler/cpu_profile_model.dart
  packages/devtools_app/lib/src/screens/vm_developer/object_inspector/object_store.dart
  packages/devtools_app/lib/src/shared/managers/error_badge_manager.dart
  packages/devtools_app/lib/src/shared/offline/offline_data.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll, @bkonyi

Tidy up some nits in ServiceConnectionManager (#9311)
  packages/devtools_app/lib/src/service/service_manager.dart
Owners: @flutter/devtools-reviewers

Support --dtd-exposed-uri in dt (#9302)
  tool/lib/commands/serve.dart
Owners: @kenzieschmoll

Find available port to run benchmarks (#9315)
  packages/devtools_app/benchmark/devtools_benchmarks_test.dart
Owners: @flutter/devtools-reviewers

Reset thresholds for performance benchmarks (#9257)
  flutter-candidate.txt
  packages/devtools_app/benchmark/devtools_benchmarks_test.dart
Owners: @flutter/devtools-reviewers

Add debugging text to integration_test README (#9316)
  packages/devtools_app/integration_test/README.md
Owners: @flutter/devtools-reviewers

Add timestamps to various test logging utilities (#9319)
  packages/devtools_app/integration_test/test_infra/run/_test_app_driver.dart
  packages/devtools_app/integration_test/test_infra/run/_utils.dart
  packages/devtools_shared/lib/src/test/chrome_driver.dart
  packages/devtools_shared/lib/src/test/integration_test_runner.dart
  packages/devtools_shared/lib/src/test/io_utils.dart
  packages/devtools_test/lib/src/helpers/utils.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll, @bkonyi

RELEASE_INSTRUCTIONS: Fix text around fields in CR (#9350)
  tool/RELEASE_INSTRUCTIONS.md
Owners: @kenzieschmoll

Correctly set visibility of floating debugging controls (#9327)
  packages/devtools_app/lib/src/screens/debugger/debugger_screen.dart
Owners: @elliette

Inspector integration tests are resilient to Flutter framework changes (#9321)
  flutter-candidate.txt
  packages/devtools_app/test/screens/inspector/inspector_integration_test.dart
  packages/devtools_app/test/screens/inspector_v2/inspector_integration_test.dart
  packages/devtools_app/test/test_infra/fixtures/custom_widgets/README.md
  packages/devtools_app/test/test_infra/fixtures/custom_widgets/lib/custom_widgets.dart
  packages/devtools_app/test/test_infra/fixtures/custom_widgets/lib/src/widgets.dart
  packages/devtools_app/test/test_infra/fixtures/custom_widgets/pubspec.yaml
  packages/devtools_app/test/test_infra/fixtures/inspector_app/.gitignore
  packages/devtools_app/test/test_infra/fixtures/inspector_app/README.md
  packages/devtools_app/test/test_infra/fixtures/inspector_app/lib/main.dart
  packages/devtools_app/test/test_infra/fixtures/inspector_app/lib/overflow_errors.dart
  packages/devtools_app/test/test_infra/fixtures/inspector_app/pubspec.yaml
  packages/devtools_app/test/test_infra/goldens/codeview_scrollbars.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_implementation_widgets_collapsed.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_implementation_widgets_hidden.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_initial_load.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_revert_to_legacy.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_select_center.png
Owners: @flutter/devtools-reviewers, @elliette

Touch up cherry-picking instructions (#9347)
  tool/RELEASE_INSTRUCTIONS.md
Owners: @kenzieschmoll

Enable `ColumnData` and subclasses to be const (#9326)
  packages/devtools_app/lib/src/screens/app_size/app_size_table.dart
  packages/devtools_app/lib/src/screens/app_size/code_size_attribution.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_link_list_view.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_model.dart
  packages/devtools_app/lib/src/screens/logging/_logs_table.dart
  packages/devtools_app/lib/src/screens/logging/_message_column.dart
  packages/devtools_app/lib/src/screens/logging/_when_column.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/widgets/class_details/paths.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/widgets/classes_table_diff.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/widgets/classes_table_single.dart
  packages/devtools_app/lib/src/screens/memory/panes/profile/profile_view.dart
  packages/devtools_app/lib/src/screens/memory/panes/tracing/class_table.dart
  packages/devtools_app/lib/src/screens/memory/panes/tracing/tracing_tree.dart
  packages/devtools_app/lib/src/screens/network/network_screen.dart
  packages/devtools_app/lib/src/screens/performance/panes/rebuild_stats/rebuild_stats.dart
  packages/devtools_app/lib/src/screens/profiler/panes/bottom_up.dart
  packages/devtools_app/lib/src/screens/profiler/panes/call_tree.dart
  packages/devtools_app/lib/src/screens/profiler/panes/cpu_profile_columns.dart
  packages/devtools_app/lib/src/screens/profiler/panes/method_table/method_table.dart
  packages/devtools_app/lib/src/screens/vm_developer/object_inspector/object_store.dart
  packages/devtools_app/lib/src/screens/vm_developer/object_inspector/vm_code_display.dart
  packages/devtools_app/lib/src/screens/vm_developer/object_inspector/vm_object_pool_display.dart
  packages/devtools_app/lib/src/screens/vm_developer/process_memory/process_memory_tree_columns.dart
  packages/devtools_app/lib/src/screens/vm_developer/process_memory/process_memory_view.dart
  packages/devtools_app/lib/src/screens/vm_developer/vm_statistics/vm_statistics_view.dart
  packages/devtools_app/lib/src/shared/table/table_data.dart
  packages/devtools_app/lib/src/shared/ui/vm_flag_widgets.dart
  packages/devtools_app/test/screens/logging/logging_screen_test.dart
  packages/devtools_app/test/screens/network/network_table_test.dart
Owners: @flutter/devtools-reviewers, @bkonyi, @kenzieschmoll

Decrease ring buffer size to 2^31 - 1 which is wasm limit (#9341)
  packages/devtools_app/lib/src/screens/performance/panes/timeline_events/timeline_events_controller.dart
Owners: @kenzieschmoll

Update to latest Flutter candidate version (#9351)
  flutter-candidate.txt
  packages/devtools_shared/lib/src/utils/semantic_version.dart
  packages/devtools_shared/test/semantic_version_test.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll, @bkonyi

Add release notes for PR #9327 (#9329)
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Do not autofocus on filter fields (#9330)
  packages/devtools_app/lib/src/shared/ui/filter.dart
Owners: @flutter/devtools-reviewers

Don't assume footer is present in _ConsoleOutputState builder. (#9342)
  packages/devtools_app/lib/src/shared/console/console.dart
Owners: @flutter/devtools-reviewers

Use service extension in networking integration test (#9323)
  packages/devtools_app/integration_test/test/live_connection/network_screen_test.dart
  packages/devtools_app/integration_test/test_infra/run/_test_app_driver.dart
  packages/devtools_app/integration_test/test_infra/run/run_test.dart
  packages/devtools_app/test/test_infra/fixtures/networking_app/bin/main.dart
  packages/devtools_extensions/lib/src/template/devtools_extension.dart
  packages/devtools_test/lib/src/integration_test/integration_test_utils.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

Use SelectionArea instead of SelectableText (#9333)
  packages/devtools_app/lib/src/framework/scaffold/about_dialog.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_model.dart
  packages/devtools_app/lib/src/screens/logging/_log_details.dart
  packages/devtools_app/lib/src/screens/logging/_message_column.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/widgets/classes_table_diff.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/widgets/classes_table_single.dart
  packages/devtools_app/lib/src/screens/memory/panes/profile/profile_view.dart
  packages/devtools_app/lib/src/screens/memory/panes/tracing/class_table.dart
  packages/devtools_app/lib/src/screens/network/network_screen.dart
  packages/devtools_app/lib/src/screens/profiler/panes/cpu_profile_columns.dart
  packages/devtools_app/lib/src/screens/profiler/panes/method_table/method_table.dart
  packages/devtools_app/lib/src/screens/vm_developer/object_inspector/object_store.dart
  packages/devtools_app/lib/src/screens/vm_developer/object_inspector/vm_code_display.dart
  packages/devtools_app/lib/src/screens/vm_developer/object_inspector/vm_instance_display.dart
  packages/devtools_app/lib/src/screens/vm_developer/object_inspector/vm_library_display.dart
  packages/devtools_app/lib/src/screens/vm_developer/object_inspector/vm_object_pool_display.dart
  packages/devtools_app/lib/src/screens/vm_developer/queued_microtasks/queued_microtasks_view.dart
  packages/devtools_app/lib/src/service/connected_app/connection_info.dart
  packages/devtools_app/lib/src/shared/analytics/prompt.dart
  packages/devtools_app/lib/src/shared/console/widgets/description.dart
  packages/devtools_app/lib/src/shared/table/_table_column.dart
  packages/devtools_app/lib/src/shared/table/_table_row.dart
  packages/devtools_app/lib/src/shared/ui/common_widgets.dart
  packages/devtools_app/test/framework/scaffold/about_dialog_test.dart
  packages/devtools_app/test/screens/logging/logging_screen_data_test.dart
  packages/devtools_app/test/screens/network/network_profiler_test.dart
  packages/devtools_app/test/screens/vm_developer/object_inspector/vm_library_display_test.dart
  packages/devtools_app_shared/lib/src/ui/common.dart
Owners: @flutter/devtools-reviewers, @bkonyi, @kenzieschmoll

CODEOWNERS:

*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @elliette

# Network Files
network/            @bkonyi @kenzieschmoll

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll @bkonyi

# Memory files
memory/             @bkonyi @kenzieschmoll

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @kenzieschmoll

# DevTools extensions and related files
src/extensions/
packages/devtools_extensions/    @kenzieschmoll
packages/devtools_app_shared/    @kenzieschmoll

# package:devtools_shared code, which is used across DevTools and the Dart SDK
packages/devtools_shared/        @kenzieschmoll @bkonyi

# Version bump files.
# No owners to prevent version update spam
packages/devtools_app/lib/devtools.dart
packages/devtools_app/pubspec.yaml
packages/devtools_test/pubspec.yaml
