Repository flutter/devtools, changes with the owners that CODEOWNERS names for each.
All owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

CODEOWNERS:

*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @elliette

# Network Files
network/            @bkonyi @kenzieschmoll

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll @bkonyi

# Memory files
memory/             @bkonyi @kenzieschmoll

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @kenzieschmoll

# DevTools extensions and related files
src/extensions/
packages/devtools_extensions/    @kenzieschmoll
packages/devtools_app_shared/    @kenzieschmoll

# package:devtools_shared code, which is used across DevTools and the Dart SDK
packages/devtools_shared/        @kenzieschmoll @bkonyi

# Version bump files.
# No owners to prevent version update spam
packages/devtools_app/lib/devtools.dart
packages/devtools_app/pubspec.yaml
packages/devtools_test/pubspec.yaml

Add timestamps to various test logging utilities
  packages/devtools_shared/lib/src/test/integration_test_runner.dart
  packages/devtools_test/lib/src/helpers/utils.dart
Owners: @kenzieschmoll, @bkonyi, @flutter/devtools-reviewers

Update inspector V2 integration test to use custom widget library
  flutter-candidate.txt
  packages/devtools_app/test/screens/inspector_v2/inspector_integration_test.dart
  packages/devtools_app/test/test_infra/fixtures/custom_widgets/README.md
  packages/devtools_app/test/test_infra/fixtures/custom_widgets/lib/custom_widgets.dart
  packages/devtools_app/test/test_infra/fixtures/custom_widgets/lib/src/widgets.dart
  packages/devtools_app/test/test_infra/fixtures/custom_widgets/pubspec.yaml
  packages/devtools_app/test/test_infra/fixtures/inspector_app/.gitignore
  packages/devtools_app/test/test_infra/fixtures/inspector_app/README.md
  packages/devtools_app/test/test_infra/fixtures/inspector_app/lib/main.dart
  packages/devtools_app/test/test_infra/fixtures/inspector_app/lib/overflow_errors.dart
  packages/devtools_app/test/test_infra/fixtures/inspector_app/pubspec.yaml
Owners: @flutter/devtools-reviewers

Update legacy inspector integration tests
  packages/devtools_app/test/screens/inspector/inspector_integration_test.dart
Owners: @elliette

More timestamps
  packages/devtools_app/integration_test/test_infra/run/_test_app_driver.dart
  packages/devtools_app/integration_test/test_infra/run/_utils.dart
  packages/devtools_shared/lib/src/test/chrome_driver.dart
  packages/devtools_shared/lib/src/test/integration_test_runner.dart
  packages/devtools_shared/lib/src/test/io_utils.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll, @bkonyi

Rework the integration test timeout logic
  packages/devtools_app/integration_test/test/live_connection/app_test.dart
  packages/devtools_app/integration_test/test/live_connection/debugger_panel_test.dart
  packages/devtools_app/integration_test/test/live_connection/devtools_extensions_test.dart
  packages/devtools_app/integration_test/test/live_connection/eval_and_browse_test.dart
  packages/devtools_app/integration_test/test/live_connection/eval_and_inspect_test.dart
  packages/devtools_app/integration_test/test/live_connection/export_snapshot_test.dart
  packages/devtools_app/integration_test/test/live_connection/performance_screen_event_recording_test.dart
  packages/devtools_app/integration_test/test/live_connection/service_connection_test.dart
  packages/devtools_app/integration_test/test/live_connection/service_extensions_test.dart
  packages/devtools_app/integration_test/test/offline/memory_offline_data_test.dart
  packages/devtools_app/integration_test/test/offline/perfetto_test.dart
  packages/devtools_shared/lib/src/test/integration_test_runner.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll, @bkonyi

Use service extension in networking test
  packages/devtools_app/integration_test/test/live_connection/network_screen_test.dart
  packages/devtools_app/integration_test/test_infra/run/_test_app_driver.dart
  packages/devtools_app/integration_test/test_infra/run/run_test.dart
  packages/devtools_app/test/test_infra/fixtures/networking_app/bin/main.dart
  packages/devtools_extensions/lib/src/template/devtools_extension.dart
  packages/devtools_test/lib/src/integration_test/integration_test_utils.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

Updating from 2.49.0-dev.0 to 2.49.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Minor cleanup to CPU profile screen code
  packages/devtools_app/lib/src/screens/profiler/cpu_profile_model.dart
  packages/devtools_app/lib/src/screens/profiler/cpu_profile_service.dart
  packages/devtools_app/lib/src/screens/profiler/sampling_rate.dart
Owners: @kenzieschmoll, @bkonyi

Enable ColumnData and subclasses to be const
  packages/devtools_app/lib/src/screens/app_size/app_size_table.dart
  packages/devtools_app/lib/src/screens/app_size/code_size_attribution.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_link_list_view.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_model.dart
  packages/devtools_app/lib/src/screens/logging/_logs_table.dart
  packages/devtools_app/lib/src/screens/logging/_message_column.dart
  packages/devtools_app/lib/src/screens/logging/_when_column.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/widgets/class_details/paths.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/widgets/classes_table_diff.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/widgets/classes_table_single.dart
  packages/devtools_app/lib/src/screens/memory/panes/profile/profile_view.dart
  packages/devtools_app/lib/src/screens/memory/panes/tracing/class_table.dart
  packages/devtools_app/lib/src/screens/memory/panes/tracing/tracing_tree.dart
  packages/devtools_app/lib/src/screens/network/network_screen.dart
  packages/devtools_app/lib/src/screens/performance/panes/rebuild_stats/rebuild_stats.dart
  packages/devtools_app/lib/src/screens/profiler/panes/bottom_up.dart
  packages/devtools_app/lib/src/screens/profiler/panes/call_tree.dart
  packages/devtools_app/lib/src/screens/profiler/panes/cpu_profile_columns.dart
  packages/devtools_app/lib/src/screens/profiler/panes/method_table/method_table.dart
  packages/devtools_app/lib/src/screens/vm_developer/object_inspector/object_store.dart
  packages/devtools_app/lib/src/screens/vm_developer/object_inspector/vm_code_display.dart
  packages/devtools_app/lib/src/screens/vm_developer/object_inspector/vm_object_pool_display.dart
  packages/devtools_app/lib/src/screens/vm_developer/process_memory/process_memory_tree_columns.dart
  packages/devtools_app/lib/src/screens/vm_developer/process_memory/process_memory_view.dart
  packages/devtools_app/lib/src/screens/vm_developer/vm_statistics/vm_statistics_view.dart
  packages/devtools_app/lib/src/shared/table/table_data.dart
  packages/devtools_app/lib/src/shared/ui/vm_flag_widgets.dart
  packages/devtools_app/test/screens/logging/logging_screen_test.dart
  packages/devtools_app/test/screens/network/network_table_test.dart
Owners: @flutter/devtools-reviewers, @bkonyi, @kenzieschmoll

Generate stackFrames before trace events
  packages/devtools_app/lib/src/screens/profiler/cpu_profile_model.dart
Owners: @kenzieschmoll, @bkonyi

Avoid conflating concept of duration in TimeRange util class
  packages/devtools_app/lib/src/screens/network/network_request_inspector_views.dart
  packages/devtools_app/lib/src/screens/performance/panes/flutter_frames/flutter_frame_model.dart
  packages/devtools_app/lib/src/screens/performance/panes/flutter_frames/flutter_frames_controller.dart
  packages/devtools_app/lib/src/screens/performance/panes/timeline_events/perfetto/_perfetto_web.dart
  packages/devtools_app/lib/src/screens/performance/panes/timeline_events/timeline_event_processor.dart
  packages/devtools_app/lib/src/screens/performance/panes/timeline_events/timeline_events_controller.dart
  packages/devtools_app/lib/src/screens/performance/performance_model.dart
  packages/devtools_app/lib/src/screens/profiler/cpu_profile_model.dart
  packages/devtools_app/lib/src/shared/charts/flame_chart.dart
  packages/devtools_app/lib/src/shared/http/http_request_data.dart
  packages/devtools_app/lib/src/shared/primitives/utils.dart
  packages/devtools_app/test/screens/cpu_profiler/cpu_profile_model_test.dart
  packages/devtools_app/test/screens/cpu_profiler/cpu_profiler_test.dart
  packages/devtools_app/test/screens/cpu_profiler/method_table/method_table_model_test.dart
  packages/devtools_app/test/shared/primitives/utils_test.dart
  packages/devtools_app/test/test_infra/test_data/cpu_profiler/cpu_profile.dart
Owners: @bkonyi, @kenzieschmoll, @flutter/devtools-reviewers

formatting
  packages/devtools_app/test/test_infra/fixtures/custom_widgets/lib/custom_widgets.dart
  packages/devtools_app/test/test_infra/fixtures/inspector_app/lib/main.dart
  packages/devtools_app/test/test_infra/fixtures/inspector_app/pubspec.yaml
Owners: @flutter/devtools-reviewers

Add timestamps to various test logging utilities (#9319)
  packages/devtools_app/integration_test/test_infra/run/_test_app_driver.dart
  packages/devtools_app/integration_test/test_infra/run/_utils.dart
  packages/devtools_shared/lib/src/test/chrome_driver.dart
  packages/devtools_shared/lib/src/test/integration_test_runner.dart
  packages/devtools_shared/lib/src/test/io_utils.dart
  packages/devtools_test/lib/src/helpers/utils.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll, @bkonyi

Dart fix:
  packages/devtools_app/test/screens/inspector_v2/inspector_integration_test.dart
Owners: @flutter/devtools-reviewers

nit
  packages/devtools_app/test/test_infra/fixtures/networking_app/bin/main.dart
Owners: @flutter/devtools-reviewers

Update goldens
  packages/devtools_app/test/test_infra/goldens/codeview_scrollbars.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_implementation_widgets_collapsed.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_implementation_widgets_hidden.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_initial_load.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_revert_to_legacy.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_select_center.png
Owners: @flutter/devtools-reviewers

Correctly set visibility of debugging controls
  packages/devtools_app/lib/src/screens/debugger/debugger_screen.dart
Owners: @elliette

On end is also unnecessary
  packages/devtools_app/lib/src/screens/debugger/debugger_screen.dart
Owners: @elliette

Correctly set visibility of floating debugging controls (#9327)
  packages/devtools_app/lib/src/screens/debugger/debugger_screen.dart
Owners: @elliette

No autofocus for filter field
  packages/devtools_app/lib/src/shared/ui/filter.dart
Owners: @flutter/devtools-reviewers

Add release notes for PR #9327
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Fix legacy test
  packages/devtools_app/test/screens/inspector/inspector_integration_test.dart
Owners: @elliette

Add release notes for PR #9327 (#9329)
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Minor cleanup to CPU profile screen code (#9324)
  packages/devtools_app/lib/src/screens/profiler/cpu_profile_model.dart
  packages/devtools_app/lib/src/screens/profiler/cpu_profile_service.dart
  packages/devtools_app/lib/src/screens/profiler/sampling_rate.dart
Owners: @kenzieschmoll, @bkonyi

Correct test expectation
  packages/devtools_app/test/shared/primitives/utils_test.dart
Owners: @flutter/devtools-reviewers

Remove unused time property from frame model
  packages/devtools_app/lib/src/screens/performance/panes/flutter_frames/flutter_frame_model.dart
  packages/devtools_app/lib/src/screens/performance/panes/timeline_events/timeline_events_controller.dart
Owners: @kenzieschmoll

Only include event in duration if complete
  packages/devtools_app/lib/src/screens/performance/panes/flutter_frames/flutter_frame_model.dart
  packages/devtools_app/lib/src/screens/performance/panes/frame_analysis/frame_analysis_model.dart
  packages/devtools_app/lib/src/screens/performance/performance_model.dart
Owners: @kenzieschmoll

Fix isComplete logic
  packages/devtools_app/lib/src/screens/performance/panes/frame_analysis/frame_analysis_model.dart
  packages/devtools_app/lib/src/screens/performance/performance_model.dart
  packages/devtools_app/lib/src/screens/profiler/cpu_profile_model.dart
  packages/devtools_app/lib/src/shared/http/http_request_data.dart
  packages/devtools_app/lib/src/shared/primitives/utils.dart
  packages/devtools_app/test/screens/cpu_profiler/cpu_profiler_test.dart
  packages/devtools_app/test/shared/primitives/utils_test.dart
  packages/devtools_app/test/test_infra/test_data/cpu_profiler/cpu_profile.dart
Owners: @kenzieschmoll, @bkonyi, @flutter/devtools-reviewers

Updating from 2.49.0-dev.0 to 2.49.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Add additional clarifying comments
  packages/devtools_app/lib/src/screens/performance/performance_model.dart
Owners: @kenzieschmoll

Missing blank line end of file
  packages/devtools_app/test/test_infra/fixtures/custom_widgets/pubspec.yaml
Owners: @flutter/devtools-reviewers

Use SelectionArea instead of SelectableText
  packages/devtools_app/lib/src/framework/scaffold/about_dialog.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_model.dart
  packages/devtools_app/lib/src/screens/logging/_log_details.dart
  packages/devtools_app/lib/src/screens/logging/_message_column.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/widgets/classes_table_diff.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/widgets/classes_table_single.dart
  packages/devtools_app/lib/src/screens/memory/panes/profile/profile_view.dart
  packages/devtools_app/lib/src/screens/memory/panes/tracing/class_table.dart
  packages/devtools_app/lib/src/screens/network/network_screen.dart
  packages/devtools_app/lib/src/screens/profiler/panes/cpu_profile_columns.dart
  packages/devtools_app/lib/src/screens/profiler/panes/method_table/method_table.dart
  packages/devtools_app/lib/src/screens/vm_developer/object_inspector/object_store.dart
  packages/devtools_app/lib/src/screens/vm_developer/object_inspector/vm_code_display.dart
  packages/devtools_app/lib/src/screens/vm_developer/object_inspector/vm_instance_display.dart
  packages/devtools_app/lib/src/screens/vm_developer/object_inspector/vm_library_display.dart
  packages/devtools_app/lib/src/screens/vm_developer/object_inspector/vm_object_pool_display.dart
  packages/devtools_app/lib/src/screens/vm_developer/queued_microtasks/queued_microtasks_view.dart
  packages/devtools_app/lib/src/service/connected_app/connection_info.dart
  packages/devtools_app/lib/src/shared/analytics/prompt.dart
  packages/devtools_app/lib/src/shared/console/widgets/description.dart
  packages/devtools_app/lib/src/shared/table/_table_column.dart
  packages/devtools_app/lib/src/shared/table/_table_row.dart
  packages/devtools_app/lib/src/shared/ui/common_widgets.dart
  packages/devtools_app_shared/lib/src/ui/common.dart
Owners: @flutter/devtools-reviewers, @bkonyi, @kenzieschmoll

Updating from 2.49.0-dev.0 to 2.49.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

feedback
  packages/devtools_app/integration_test/test/live_connection/app_test.dart
  packages/devtools_app/integration_test/test/live_connection/debugger_panel_test.dart
  packages/devtools_app/integration_test/test/live_connection/devtools_extensions_test.dart
  packages/devtools_app/integration_test/test/live_connection/eval_and_browse_test.dart
  packages/devtools_app/integration_test/test/live_connection/eval_and_inspect_test.dart
  packages/devtools_app/integration_test/test/live_connection/export_snapshot_test.dart
  packages/devtools_app/integration_test/test/live_connection/performance_screen_event_recording_test.dart
  packages/devtools_app/integration_test/test/live_connection/service_connection_test.dart
  packages/devtools_app/integration_test/test/live_connection/service_extensions_test.dart
  packages/devtools_app/integration_test/test/offline/memory_offline_data_test.dart
  packages/devtools_app/integration_test/test/offline/perfetto_test.dart
  packages/devtools_app/integration_test/test_infra/run/_utils.dart
Owners: @flutter/devtools-reviewers

feedback
  packages/devtools_app/integration_test/test/live_connection/app_test.dart
  packages/devtools_app/integration_test/test/live_connection/debugger_panel_test.dart
  packages/devtools_app/integration_test/test/live_connection/devtools_extensions_test.dart
  packages/devtools_app/integration_test/test/live_connection/eval_and_browse_test.dart
  packages/devtools_app/integration_test/test/live_connection/eval_and_inspect_test.dart
  packages/devtools_app/integration_test/test/live_connection/export_snapshot_test.dart
  packages/devtools_app/integration_test/test/live_connection/performance_screen_event_recording_test.dart
  packages/devtools_app/integration_test/test/live_connection/service_connection_test.dart
  packages/devtools_app/integration_test/test/live_connection/service_extensions_test.dart
  packages/devtools_app/integration_test/test/offline/memory_offline_data_test.dart
  packages/devtools_app/integration_test/test/offline/perfetto_test.dart
  packages/devtools_app/integration_test/test_infra/run/_utils.dart
  packages/devtools_test/lib/src/integration_test/integration_test_utils.dart
Owners: @flutter/devtools-reviewers

Rework the integration test timeout logic (#9322)
  packages/devtools_app/integration_test/test/live_connection/app_test.dart
  packages/devtools_app/integration_test/test/live_connection/debugger_panel_test.dart
  packages/devtools_app/integration_test/test/live_connection/devtools_extensions_test.dart
  packages/devtools_app/integration_test/test/live_connection/eval_and_browse_test.dart
  packages/devtools_app/integration_test/test/live_connection/eval_and_inspect_test.dart
  packages/devtools_app/integration_test/test/live_connection/export_snapshot_test.dart
  packages/devtools_app/integration_test/test/live_connection/performance_screen_event_recording_test.dart
  packages/devtools_app/integration_test/test/live_connection/service_connection_test.dart
  packages/devtools_app/integration_test/test/live_connection/service_extensions_test.dart
  packages/devtools_app/integration_test/test/offline/memory_offline_data_test.dart
  packages/devtools_app/integration_test/test/offline/perfetto_test.dart
  packages/devtools_shared/lib/src/test/integration_test_runner.dart
  packages/devtools_test/lib/src/integration_test/integration_test_utils.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll, @bkonyi

feedback
  packages/devtools_app/integration_test/test/live_connection/network_screen_test.dart
  packages/devtools_app/test/test_infra/fixtures/networking_app/bin/main.dart
Owners: @flutter/devtools-reviewers

Inspector integration tests are resilient to Flutter framework changes (#9321)
  flutter-candidate.txt
  packages/devtools_app/test/screens/inspector/inspector_integration_test.dart
  packages/devtools_app/test/screens/inspector_v2/inspector_integration_test.dart
  packages/devtools_app/test/test_infra/fixtures/custom_widgets/README.md
  packages/devtools_app/test/test_infra/fixtures/custom_widgets/lib/custom_widgets.dart
  packages/devtools_app/test/test_infra/fixtures/custom_widgets/lib/src/widgets.dart
  packages/devtools_app/test/test_infra/fixtures/custom_widgets/pubspec.yaml
  packages/devtools_app/test/test_infra/fixtures/inspector_app/.gitignore
  packages/devtools_app/test/test_infra/fixtures/inspector_app/README.md
  packages/devtools_app/test/test_infra/fixtures/inspector_app/lib/main.dart
  packages/devtools_app/test/test_infra/fixtures/inspector_app/lib/overflow_errors.dart
  packages/devtools_app/test/test_infra/fixtures/inspector_app/pubspec.yaml
  packages/devtools_app/test/test_infra/goldens/codeview_scrollbars.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_implementation_widgets_collapsed.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_implementation_widgets_hidden.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_initial_load.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_revert_to_legacy.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_select_center.png
Owners: @flutter/devtools-reviewers, @elliette

Decrease ring buffer size by 1.
  packages/devtools_app/lib/src/screens/performance/panes/timeline_events/timeline_events_controller.dart
Owners: @kenzieschmoll

Don't assume footer is present in ConsoleState.
  packages/devtools_app/lib/src/shared/console/console.dart
Owners: @flutter/devtools-reviewers
