Repository flutter/devtools, changes with the owners that CODEOWNERS names for each.
All owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

remove the root dependency on dart_skills_lint
  .agents/skills/README.md
  pubspec.lock
  pubspec.yaml
  tool/dart_skills_lint.yaml
Owners: @flutter/devtools-reviewers, @kenzieschmoll

Change todo format
  tool/pubspec.yaml
Owners: @kenzieschmoll

gca code review comments
  packages/devtools_app/lib/src/shared/analytics/_analytics_web.dart
Owners: @flutter/devtools-reviewers

Remove double trailing line
  pubspec.yaml
Owners: @flutter/devtools-reviewers

fix versions
  packages/devtools_app_shared/pubspec.yaml
  packages/devtools_extensions/pubspec.yaml
Owners: @kenzieschmoll

Move inspector_shared files into inspector_v2
  packages/devtools_app/lib/src/app.dart
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_controller.dart
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_controls.dart
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_screen.dart
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_screen_body.dart
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_screen_controller.dart
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_settings_dialog.dart
  packages/devtools_app/lib/src/shared/managers/error_badge_manager.dart
Owners: @flutter/devtools-reviewers

Revert stacking wrapper
  packages/devtools_app/lib/src/framework/observer/disconnect_observer.dart
Owners: @flutter/devtools-reviewers

Updating from 2.58.0-dev.0 to 2.58.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Add dart_skills_lint to devtools and configure it to run in the cli and in tests (#9770)
  .agents/skills/README.md
  .agents/skills/adding-release-notes/SKILL.md
  .agents/skills/authoring-skills/SKILL.md
  .agents/skills/dart_skills_lint_ignore.json
  pubspec.lock
  tool/dart_skills_lint.yaml
  tool/pubspec.yaml
  tool/test/validate_skills_test.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

Add a skill for adding changelog entries to DevTools packages
  .agents/skills/adding-changelog-entries/SKILL.md
Owners: @flutter/devtools-reviewers

Add copyright headers skills
  .agents/skills/adding-copyright-headers/SKILL.md
Owners: @flutter/devtools-reviewers

Add skill for updating package versions that is used from the changelog skill
  .agents/skills/adding-changelog-entries/SKILL.md
  .agents/skills/updating-package-versions/SKILL.md
Owners: @flutter/devtools-reviewers

add exception for copyright requirement
  .gemini/styleguide.md
Owners: @flutter/devtools-reviewers

address comments
  .agents/skills/adding-changelog-entries/SKILL.md
  .agents/skills/updating-package-versions/SKILL.md
Owners: @flutter/devtools-reviewers

Specify excluded directories and how to handle frontmatter
  .agents/skills/adding-copyright-headers/SKILL.md
  pubspec.lock
Owners: @flutter/devtools-reviewers

Delete legacy analytics. (#9777)
  packages/devtools_app/lib/src/shared/analytics/_analytics_stub.dart
  packages/devtools_app/lib/src/shared/analytics/_analytics_web.dart
  packages/devtools_app/lib/src/shared/analytics/analytics_common.dart
  packages/devtools_app/lib/src/shared/analytics/analytics_controller.dart
  packages/devtools_app/lib/src/shared/analytics/gtags.dart
  packages/devtools_app/lib/src/shared/development_helpers.dart
  packages/devtools_app/lib/src/shared/server/_analytics_api.dart
  packages/devtools_app/test/shared/analytics/analytics_prompt_test.dart
  packages/devtools_app/web/devtools_analytics.js
  packages/devtools_app/web/index.html
  packages/devtools_app_shared/CHANGELOG.md
  packages/devtools_app_shared/pubspec.yaml
  packages/devtools_extensions/CHANGELOG.md
  packages/devtools_extensions/pubspec.yaml
  packages/devtools_shared/CHANGELOG.md
  packages/devtools_shared/lib/src/devtools_api.dart
  packages/devtools_shared/lib/src/server/devtools_store.dart
  packages/devtools_shared/lib/src/server/server_api.dart
  packages/devtools_shared/pubspec.yaml
Owners: @flutter/devtools-reviewers, @kenzieschmoll, @bkonyi

Update pubspec.lock
  pubspec.lock
Owners: @flutter/devtools-reviewers

Remove redundant description
  .agents/skills/adding-copyright-headers/SKILL.md
Owners: @flutter/devtools-reviewers

Add a SKILL for adding and verifying copyright headers (#9779)
  .agents/skills/adding-copyright-headers/SKILL.md
Owners: @flutter/devtools-reviewers

Update .agents/skills/adding-changelog-entries/SKILL.md
  .agents/skills/adding-changelog-entries/SKILL.md
Owners: @flutter/devtools-reviewers

Update .agents/skills/adding-changelog-entries/SKILL.md
  .agents/skills/adding-changelog-entries/SKILL.md
Owners: @flutter/devtools-reviewers

whitespace
  .agents/skills/adding-changelog-entries/SKILL.md
Owners: @flutter/devtools-reviewers

Add a skills for adding changelog entries and updating package versions (#9781)
  .agents/skills/adding-changelog-entries/SKILL.md
  .agents/skills/updating-package-versions/SKILL.md
  .gemini/styleguide.md
Owners: @flutter/devtools-reviewers

Fix static analysis errors
  packages/devtools_app/lib/devtools_app.dart
  packages/devtools_app/test/screens/inspector_v2/inspector_error_navigator_test.dart
  packages/devtools_app/test/screens/inspector_v2/inspector_screen_test.dart
  packages/devtools_app/test/screens/inspector_v2/inspector_tree_test.dart
  packages/devtools_app/test/shared/managers/error_badge_manager_test.dart
Owners: @flutter/devtools-reviewers

Move inspector_shared files into inspector_v2
  packages/devtools_app/lib/src/app.dart
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_controller.dart
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_controls.dart
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_screen.dart
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_screen_body.dart
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_screen_controller.dart
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_settings_dialog.dart
  packages/devtools_app/lib/src/shared/managers/error_badge_manager.dart
Owners: @flutter/devtools-reviewers

Updating from 2.58.0-dev.0 to 2.58.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Pluralize domain label in deep links panel
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_link_list_view.dart
Owners: @flutter/devtools-reviewers

Updating from 2.58.0-dev.0 to 2.58.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.58.0-dev.0 to 2.58.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Update goldens
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_implementation_widgets_collapsed.png
  packages/devtools_app/test/test_infra/goldens/memory/load_offline_data_profile_tab.png
Owners: @flutter/devtools-reviewers, @bkonyi, @kenzieschmoll

Fix pluralization Path notification
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_link_list_view.dart
Owners: @flutter/devtools-reviewers

Update release notes for deep links tool
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Add release notes
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

attempt to clean up DCM issues
  packages/devtools_app/lib/src/shared/console/eval/auto_complete.dart
Owners: @flutter/devtools-reviewers

Update packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Attempt to fix memory screen goldens
  packages/devtools_app/test/screens/memory/framework/memory_screen_test.dart
Owners: @bkonyi, @kenzieschmoll

Bump flutter_lints to 6.0.0
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_controller.dart
  packages/devtools_app/lib/src/screens/inspector/inspector_breadcrumbs.dart
  packages/devtools_app/lib/src/screens/inspector/layout_explorer/ui/arrow.dart
  packages/devtools_app/lib/src/screens/inspector_v2/layout_explorer/ui/arrow.dart
  packages/devtools_app/lib/src/screens/logging/metadata.dart
  packages/devtools_app/lib/src/screens/performance/panes/frame_analysis/frame_analysis_model.dart
  packages/devtools_app/lib/src/screens/profiler/cpu_profile_model.dart
  packages/devtools_app/lib/src/screens/vm_developer/process_memory/process_memory_view.dart
  packages/devtools_app/lib/src/screens/vm_developer/vm_developer_common_widgets.dart
  packages/devtools_app/lib/src/shared/console/console.dart
  packages/devtools_app/lib/src/shared/environment_parameters/environment_parameters_external.dart
  packages/devtools_app/lib/src/shared/server/server_api_client.dart
  packages/devtools_app/lib/src/shared/ui/side_panel.dart
  packages/devtools_app/lib/src/shared/utils/utils.dart
  packages/devtools_app/test/test_infra/fixtures/flutter_app/lib/src/autocomplete.dart
  packages/devtools_app/test/test_infra/scenes/standalone_ui/editor_service/simulated_editor.dart
  pubspec.lock
  pubspec.yaml
Owners: @flutter/devtools-reviewers, @elliette, @kenzieschmoll, @bkonyi

Undo changes to project.pbxproj
  packages/devtools_app/macos/Runner.xcodeproj/project.pbxproj
Owners: @flutter/devtools-reviewers

Fix: make responseBytes non-intrusive to request lifecycle
  packages/devtools_app/lib/src/shared/http/http_request_data.dart
Owners: @flutter/devtools-reviewers

Revert "Attempt to fix memory screen goldens"
  packages/devtools_app/test/screens/memory/framework/memory_screen_test.dart
Owners: @bkonyi, @kenzieschmoll

CODEOWNERS:

*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @elliette

# Network Files
network/            @bkonyi @kenzieschmoll

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll @bkonyi

# Memory files
memory/             @bkonyi @kenzieschmoll

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @kenzieschmoll

# DevTools extensions and related files
src/extensions/
packages/devtools_extensions/    @kenzieschmoll
packages/devtools_app_shared/    @kenzieschmoll

# package:devtools_shared code, which is used across DevTools and the Dart SDK
packages/devtools_shared/        @kenzieschmoll @bkonyi

# Version bump files.
# No owners to prevent version update spam
packages/devtools_app/lib/devtools.dart
packages/devtools_app/pubspec.yaml
packages/devtools_test/pubspec.yaml
