Repository flutter/devtools, changes with the owners that CODEOWNERS names for each.
All owners: @flutter/devtools-reviewers, @CoderDake, @kenzieschmoll, @bkonyi, @polina-c, @elliette

-
  packages/devtools_app/lib/src/shared/config_specific/import_export/_export_web.dart
  packages/devtools_app/lib/src/shared/config_specific/import_export/import_export.dart
Owners: @flutter/devtools-reviewers

Update import_export.dart
  packages/devtools_app/lib/src/shared/config_specific/import_export/import_export.dart
Owners: @flutter/devtools-reviewers

Update _export_desktop.dart
  packages/devtools_app/lib/src/shared/config_specific/import_export/_export_desktop.dart
Owners: @flutter/devtools-reviewers

Update tracing_pane_controller.dart
  packages/devtools_app/lib/src/screens/memory/panes/tracing/tracing_pane_controller.dart
Owners: @bkonyi, @polina-c

Update NEXT_RELEASE_NOTES.md
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

recheck
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_controller.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/validation_details_view.dart
Owners: @flutter/devtools-reviewers

check
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_controller.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/validation_details_view.dart
Owners: @flutter/devtools-reviewers

-
  packages/devtools_app/integration_test/test/live_connection/eval_and_browse_test.dart
  packages/devtools_app/integration_test/test/live_connection/eval_and_inspect_test.dart
  packages/devtools_app/integration_test/test/live_connection/export_snapshot_test.dart
  packages/devtools_app/integration_test/test_infra/helpers/eval_utils.dart
  packages/devtools_app/integration_test/test_infra/helpers/memory_screen_helpers.dart
Owners: @flutter/devtools-reviewers

1
  packages/devtools_app/lib/src/screens/deep_link_validation/validation_details_view.dart
Owners: @flutter/devtools-reviewers

Update validation_details_view.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/validation_details_view.dart
Owners: @flutter/devtools-reviewers

-
  packages/devtools_app/integration_test/test/live_connection/eval_and_browse_test.dart
  packages/devtools_app/integration_test/test/live_connection/export_snapshot_test.dart
  packages/devtools_app/integration_test/test_infra/helpers/eval_utils.dart
  packages/devtools_app/integration_test/test_infra/helpers/memory_screen_helpers.dart
Owners: @flutter/devtools-reviewers

-
  packages/devtools_app/integration_test/test/live_connection/eval_and_browse_test.dart
  packages/devtools_app/integration_test/test/live_connection/export_snapshot_test.dart
  packages/devtools_app/integration_test/test_infra/helpers/eval_utils.dart
  packages/devtools_app/integration_test/test_infra/helpers/memory_screen_helpers.dart
Owners: @flutter/devtools-reviewers

Revert "-"
  packages/devtools_app/integration_test/test/live_connection/eval_and_browse_test.dart
  packages/devtools_app/integration_test/test/live_connection/eval_and_inspect_test.dart
  packages/devtools_app/integration_test/test/live_connection/eval_utils.dart
  packages/devtools_app/integration_test/test/live_connection/export_snapshot_test.dart
  packages/devtools_app/integration_test/test_infra/helpers/memory_screen_helpers.dart
Owners: @flutter/devtools-reviewers

update
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_model.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/select_project_view.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/validation_details_view.dart
  packages/devtools_app/lib/src/shared/ui/colors.dart
Owners: @flutter/devtools-reviewers

Update deep_links_model.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_model.dart
Owners: @flutter/devtools-reviewers

-
  packages/devtools_app/integration_test/test/live_connection/eval_and_browse_test.dart
  packages/devtools_app/integration_test/test/live_connection/eval_utils.dart
  packages/devtools_app/integration_test/test/live_connection/export_snapshot_test.dart
  packages/devtools_app/integration_test/test/live_connection/memory_screen_helpers.dart
Owners: @flutter/devtools-reviewers

fix and version fix
  packages/devtools_app_shared/CHANGELOG.md
  packages/devtools_app_shared/lib/src/service/dtd_manager.dart
  packages/devtools_app_shared/pubspec.yaml
  packages/devtools_extensions/CHANGELOG.md
  packages/devtools_extensions/pubspec.yaml
Owners: @flutter/devtools-reviewers, @kenzieschmoll

Update colors.dart
  packages/devtools_app/lib/src/shared/ui/colors.dart
Owners: @flutter/devtools-reviewers

cleanup
  packages/devtools_app/lib/src/screens/deep_link_validation/select_project_view.dart
  packages/devtools_app/lib/src/shared/directory_picker.dart
  packages/devtools_app/lib/src/shared/primitives/utils.dart
  packages/devtools_app/test/primitives/utils_test.dart
Owners: @flutter/devtools-reviewers

[deep link] Add an app check that manifest file should have deeplinkingFlagEnabled (#7433)
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_controller.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_model.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/validation_details_view.dart
Owners: @flutter/devtools-reviewers

-
  packages/devtools_app/integration_test/test/live_connection/eval_utils.dart
  packages/devtools_app/integration_test/test/live_connection/export_snapshot_test.dart
  packages/devtools_app/integration_test/test/live_connection/memory_screen_helpers.dart
Owners: @flutter/devtools-reviewers

fix test
  packages/devtools_app/test/deep_link_vlidation/deep_links_screen_test.dart
Owners: @flutter/devtools-reviewers

Update export_snapshot_test.dart
  packages/devtools_app/integration_test/test/live_connection/export_snapshot_test.dart
Owners: @flutter/devtools-reviewers

Update import_export.dart
  packages/devtools_app/lib/src/shared/config_specific/import_export/import_export.dart
Owners: @flutter/devtools-reviewers

Prep `devtools_extensions`, `devtools_app_shared` for 0.1.1-dev.0 release
  packages/devtools_app_shared/CHANGELOG.md
  packages/devtools_app_shared/pubspec.yaml
  packages/devtools_extensions/CHANGELOG.md
  packages/devtools_extensions/pubspec.yaml
Owners: @flutter/devtools-reviewers, @kenzieschmoll

Update import_export.dart
  packages/devtools_app/lib/src/shared/config_specific/import_export/import_export.dart
Owners: @flutter/devtools-reviewers

Update memory_screen_helpers.dart
  packages/devtools_app/integration_test/test/live_connection/memory_screen_helpers.dart
Owners: @flutter/devtools-reviewers

Update validation_details_view.dart (#7442)
  packages/devtools_app/lib/src/screens/deep_link_validation/validation_details_view.dart
Owners: @flutter/devtools-reviewers

Stop failing when disconnected. (#7440)
  packages/devtools_app/lib/src/screens/memory/panes/tracing/tracing_pane_controller.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @bkonyi, @polina-c, @flutter/devtools-reviewers

[deep link] some strings, colors, style updates (#7443)
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_model.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/select_project_view.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/validation_details_view.dart
  packages/devtools_app/lib/src/shared/ui/colors.dart
Owners: @flutter/devtools-reviewers

resolve comment
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_controller.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/validation_details_view.dart
Owners: @flutter/devtools-reviewers

rnotes
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

fix index location
  packages/devtools_app/lib/src/shared/environment_parameters/environment_parameters_external.dart
Owners: @flutter/devtools-reviewers

clean up perfetto styling
  third_party/packages/perfetto_ui_compiled/lib/devtools/devtools_dark.css
  third_party/packages/perfetto_ui_compiled/lib/devtools/devtools_shared.css
Owners: @flutter/devtools-reviewers

rnotes
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Updating from 2.34.0-dev.13 to 2.34.0-dev.14
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_test/pubspec.yaml
Owners: none

Updating from 2.34.0-dev.13 to 2.34.0-dev.14 (#7446)
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_test/pubspec.yaml
Owners: none

Update README.md
  packages/devtools_app/README.md
Owners: @flutter/devtools-reviewers

Update memory_screen_helpers.dart
  packages/devtools_app/integration_test/test/live_connection/memory_screen_helpers.dart
Owners: @flutter/devtools-reviewers

Pass times in nanoseconds to fix exception
  packages/devtools_app/lib/src/screens/performance/panes/timeline_events/perfetto/_perfetto_web.dart
Owners: @kenzieschmoll

CODEOWNERS:

*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @CoderDake

# Network Files
network/            @kenzieschmoll @bkonyi

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll

# Memory files
memory/             @bkonyi @polina-c

# Memory leak tracking files
memory/panes/leaks  @CoderDake @polina-c

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @CoderDake

packages/devtools_extensions/    @kenzieschmoll


# Version bump files.
# No owners to prevent version update spam
packages/devtools_app/lib/devtools.dart
packages/devtools_app/pubspec.yaml
packages/devtools_test/pubspec.yaml
