Repository flutter/devtools, changes with the owners that CODEOWNERS names for each.
All owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

Use overflow button
  packages/devtools_app/lib/src/shared/ui/common_widgets.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_refactors.dart
Owners: @flutter/devtools-reviewers

fix errors
  packages/devtools_app/lib/devtools_app.dart
  packages/devtools_app/lib/src/screens/dtd/dtd_tools_screen.dart
  packages/devtools_app/lib/src/screens/dtd/services.dart
Owners: @flutter/devtools-reviewers

test checkpoint
  packages/devtools_app/test/screens/dtd/dtd_tools_screen_test.dart
  packages/devtools_app/test/shared/framework/visible_screens_test.dart
  packages/devtools_test/lib/src/helpers/wrappers.dart
Owners: @flutter/devtools-reviewers

Clean up
  flutter-candidate.txt
  packages/devtools_app/icons/property_editor/center_dark_theme.png
  packages/devtools_app/icons/property_editor/center_light_theme.png
  packages/devtools_app/icons/property_editor/column_dark_theme.png
  packages/devtools_app/icons/property_editor/column_light_theme.png
  packages/devtools_app/icons/property_editor/container_dark_theme.png
  packages/devtools_app/icons/property_editor/container_light_theme.png
  packages/devtools_app/icons/property_editor/padding_dark_theme.png
  packages/devtools_app/icons/property_editor/padding_light_theme.png
  packages/devtools_app/icons/property_editor/row_dark_theme.png
  packages/devtools_app/icons/property_editor/row_light_theme.png
  packages/devtools_app/icons/property_editor/sizedbox_dark_theme.png
  packages/devtools_app/icons/property_editor/sizedbox_light_theme.png
  packages/devtools_app/lib/src/shared/analytics/constants/_property_editor_sidebar_constants.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_common.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_controller.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_refactors.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_view.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/test/standalone_ui/ide_shared/property_editor/property_editor_test.dart
  packages/devtools_app_shared/lib/src/ui/theme/theme.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

Allow the `--update-on-path` flag to be passed to the `dt sync` command (#9212)
  CONTRIBUTING.md
  tool/lib/commands/shared.dart
  tool/lib/commands/sync.dart
  tool/lib/commands/update_flutter_sdk.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

Respond to PR comments
  packages/devtools_app/lib/src/shared/analytics/constants/_property_editor_sidebar_constants.dart
  packages/devtools_app/lib/src/shared/ui/common_widgets.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_refactors.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_types.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_view.dart
  packages/devtools_app/test/standalone_ui/ide_shared/property_editor/property_editor_test.dart
Owners: @flutter/devtools-reviewers

Update flutter candidate verison
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

Testing wip
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_refactors.dart
  packages/devtools_app/test/standalone_ui/ide_shared/property_editor/property_editor_test.dart
Owners: @flutter/devtools-reviewers

Update flutter candidate verison
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

Update tests
  packages/devtools_app/test/standalone_ui/ide_shared/property_editor/property_editor_test.dart
Owners: @flutter/devtools-reviewers

Update flutter candidate again
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

Update Flutter candidate version
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

test checkpoint
  packages/devtools_app/lib/src/screens/dtd/dtd_tools_controller.dart
  packages/devtools_app/lib/src/screens/dtd/dtd_tools_screen.dart
  packages/devtools_app/test/screens/dtd/dtd_tools_screen_test.dart
  packages/devtools_test/lib/src/helpers/utils.dart
  packages/devtools_test/lib/src/mocks/generated.dart
Owners: @flutter/devtools-reviewers

Fix test
  packages/devtools_app/lib/src/screens/dtd/services.dart
  packages/devtools_app/test/screens/dtd/dtd_tools_screen_test.dart
Owners: @flutter/devtools-reviewers

Push up placeholders for services and events tests
  packages/devtools_app/test/screens/dtd/events_test.dart
  packages/devtools_app/test/screens/dtd/services_test.dart
Owners: @flutter/devtools-reviewers

12.0.0
  packages/devtools_app_shared/CHANGELOG.md
  packages/devtools_app_shared/pubspec.yaml
  packages/devtools_extensions/pubspec.yaml
  packages/devtools_shared/CHANGELOG.md
  packages/devtools_shared/pubspec.yaml
Owners: @kenzieschmoll, @bkonyi

Update TRIAGE.md (#9220)
  TRIAGE.md
Owners: @flutter/devtools-reviewers

Respond to PR comments
  packages/devtools_app/lib/src/shared/feature_flags.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_refactors.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_view.dart
Owners: @flutter/devtools-reviewers

Refactors are always shown, regardless of cursor position
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_controller.dart
Owners: @flutter/devtools-reviewers

Add test case
  packages/devtools_app/test/shared/primitives/feature_flags_test.dart
Owners: @flutter/devtools-reviewers

Update test case
  packages/devtools_app/test/shared/primitives/feature_flags_test.dart
Owners: @flutter/devtools-reviewers

[Property Editor] Add UI for triggering "Wrap with" refactors (#9213)
  flutter-candidate.txt
  packages/devtools_app/lib/src/shared/analytics/constants/_property_editor_sidebar_constants.dart
  packages/devtools_app/lib/src/shared/ui/common_widgets.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_controller.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_refactors.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_types.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_view.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/test/shared/primitives/feature_flags_test.dart
  packages/devtools_app/test/standalone_ui/ide_shared/property_editor/property_editor_test.dart
Owners: @flutter/devtools-reviewers

[Property Editor] Flag clean-up (#9215)
  packages/devtools_app/lib/src/shared/feature_flags.dart
  packages/devtools_app/test/shared/primitives/feature_flags_test.dart
Owners: @flutter/devtools-reviewers

Fix tests for breaking Flutter change
  packages/devtools_app/test/screens/inspector_v2/inspector_integration_test.dart
Owners: @flutter/devtools-reviewers

Skip goldens which will need to be updated
  packages/devtools_app/test/screens/inspector_v2/inspector_integration_test.dart
Owners: @flutter/devtools-reviewers

Enable Property Editor refactors
  packages/devtools_app/lib/src/shared/feature_flags.dart
  packages/devtools_app/test/shared/primitives/feature_flags_test.dart
Owners: @flutter/devtools-reviewers

Dropdown matches IDE theme
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_refactors.dart
Owners: @flutter/devtools-reviewers

Update inspector integration tests to handle Flutter breaking change (#9226)
  packages/devtools_app/test/screens/inspector_v2/inspector_integration_test.dart
Owners: @flutter/devtools-reviewers

[Property Editor] Refactor dropdown matches IDE theme (#9230)
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_refactors.dart
Owners: @flutter/devtools-reviewers

Update flutter candidate
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

events test and fixes
  packages/devtools_app/lib/src/screens/dtd/events.dart
  packages/devtools_app/test/screens/dtd/events_test.dart
Owners: @flutter/devtools-reviewers

services test
  packages/devtools_app/lib/src/screens/dtd/dtd_tools_screen.dart
  packages/devtools_app/lib/src/screens/dtd/events.dart
  packages/devtools_app/lib/src/screens/dtd/services.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/test/screens/dtd/events_test.dart
  packages/devtools_app/test/screens/dtd/services_test.dart
Owners: @flutter/devtools-reviewers

fix tests
  packages/devtools_app/test/screens/dtd/dtd_tools_screen_test.dart
  packages/devtools_app/test/screens/dtd/events_test.dart
Owners: @flutter/devtools-reviewers

Ensure the DTD screen shows up without an app connection
  flutter-candidate.txt
  packages/devtools_app/lib/src/shared/framework/screen.dart
  packages/devtools_app/test/shared/framework/visible_screens_test.dart
Owners: @flutter/devtools-reviewers

Enable Property Editor refactors (#9227)
  packages/devtools_app/lib/src/shared/feature_flags.dart
  packages/devtools_app/test/shared/primitives/feature_flags_test.dart
Owners: @flutter/devtools-reviewers

Prepare DevTools for 2.47.0 release
  flutter-candidate.txt
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

fix test
  packages/devtools_app/lib/src/shared/framework/screen.dart
  packages/devtools_app/test/shared/framework/visible_screens_test.dart
Owners: @flutter/devtools-reviewers

Prepare DevTools for 2.47.0 release (#9233)
  flutter-candidate.txt
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Update contributing instrucitons
  CONTRIBUTING.md
Owners: @flutter/devtools-reviewers

Register and unregister VM service connections on DTD from the DevTools server (#9211)
  packages/devtools_app/lib/src/shared/managers/dtd_manager_extensions.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app_shared/CHANGELOG.md
  packages/devtools_app_shared/pubspec.yaml
  packages/devtools_extensions/CHANGELOG.md
  packages/devtools_extensions/example/packages_with_extensions/foo/packages/foo_devtools_extension/pubspec.yaml
  packages/devtools_extensions/pubspec.yaml
  packages/devtools_shared/CHANGELOG.md
  packages/devtools_shared/lib/src/server/handlers/_vm_service.dart
  packages/devtools_shared/pubspec.yaml
  packages/devtools_test/pubspec.yaml
Owners: @flutter/devtools-reviewers, @kenzieschmoll, @bkonyi

CODEOWNERS:

*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @elliette

# Network Files
network/            @bkonyi @kenzieschmoll

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll @bkonyi

# Memory files
memory/             @bkonyi @kenzieschmoll

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @kenzieschmoll

# DevTools extensions and related files
src/extensions/
packages/devtools_extensions/    @kenzieschmoll
packages/devtools_app_shared/    @kenzieschmoll

# package:devtools_shared code, which is used across DevTools and the Dart SDK
packages/devtools_shared/        @kenzieschmoll @bkonyi

# Version bump files.
# No owners to prevent version update spam
packages/devtools_app/lib/devtools.dart
packages/devtools_app/pubspec.yaml
packages/devtools_test/pubspec.yaml
