Repository flutter/devtools, changes with the owners that CODEOWNERS names for each.
All owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

Fix DevTools release notes generator
  tool/lib/commands/release_notes_helper.dart
Owners: @kenzieschmoll

toc -> showToc
  tool/lib/commands/release_notes_helper.dart
Owners: @kenzieschmoll

Reset DevTools to next dev version (#9543)
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Small fix to DevTools release notes generator (#9544)
  tool/lib/commands/release_notes_helper.dart
Owners: @kenzieschmoll

Commit pubspec.lock
  .gitignore
  pubspec.lock
Owners: @flutter/devtools-reviewers

Updating from 2.54.0-dev.0 to 2.54.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Remove hardcoded `useWasm: false` for `expectedBenchmarkMetrics()`
  packages/devtools_app/benchmark/devtools_benchmarks_test.dart
  packages/devtools_app/pubspec.yaml
Owners: @flutter/devtools-reviewers

Updating from 2.54.0-dev.0 to 2.54.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.54.0-dev.0 to 2.54.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.54.0-dev.0 to 2.54.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.54.0-dev.0 to 2.54.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.54.0-dev.0 to 2.54.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.54.0-dev.0 to 2.54.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Do not gitignore workspace pubspec.lock (#9561)
  .gitignore
  pubspec.lock
Owners: @flutter/devtools-reviewers

Remove welcome to new inspector banner
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_screen_body.dart
  packages/devtools_app/lib/src/shared/analytics/constants.dart
  packages/devtools_app/lib/src/shared/managers/banner_messages.dart
Owners: @flutter/devtools-reviewers

Remove new inspector welcome banner (#9569)
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_screen_body.dart
  packages/devtools_app/lib/src/shared/analytics/constants.dart
  packages/devtools_app/lib/src/shared/managers/banner_messages.dart
Owners: @flutter/devtools-reviewers

Updating from 2.54.0-dev.0 to 2.54.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Add more detailed and accurate dialog
  packages/devtools_app/lib/src/screens/deep_link_validation/project_root_selection/select_project_view.dart
Owners: @flutter/devtools-reviewers

Capitalize Flutter
  packages/devtools_app/lib/src/screens/deep_link_validation/project_root_selection/select_project_view.dart
Owners: @flutter/devtools-reviewers

Fix test and update release notes
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/test/screens/deep_link_validation/select_project_view_test.dart
Owners: @flutter/devtools-reviewers

[Deep Links] Show a more informative dialog when Flutter project is not configured for iOS or Android (#9571)
  packages/devtools_app/lib/src/screens/deep_link_validation/project_root_selection/select_project_view.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/test/screens/deep_link_validation/select_project_view_test.dart
Owners: @flutter/devtools-reviewers

Initial changes
  packages/devtools_app/lib/src/screens/inspector/inspector_screen_body.dart
Owners: @elliette

Add a warning banner to the legacy inspector
  packages/devtools_app/lib/src/screens/inspector/inspector_screen_body.dart
  packages/devtools_app/lib/src/screens/inspector_shared/inspector_settings_dialog.dart
  packages/devtools_app/lib/src/shared/managers/banner_messages.dart
Owners: @elliette, @flutter/devtools-reviewers

Updating from 2.54.0-dev.0 to 2.54.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Fix test (still need to fix goldens
  packages/devtools_app/test/screens/inspector_v2/inspector_integration_test.dart
Owners: @flutter/devtools-reviewers

Fix has not been initialized error'
  packages/devtools_app/lib/src/screens/memory/panes/chart/widgets/interval_dropdown.dart
Owners: @bkonyi, @kenzieschmoll

Update settings wording
  packages/devtools_app/lib/src/screens/inspector_shared/inspector_settings_dialog.dart
Owners: @flutter/devtools-reviewers

Update release notes
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Update release notes
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Fix legacy inspector tests too
  packages/devtools_app/test/screens/inspector/inspector_integration_test.dart
Owners: @elliette

Delete unused feature flag
  packages/devtools_app/lib/src/shared/feature_flags.dart
Owners: @flutter/devtools-reviewers

Delete launched wasmOptIn feature flag
  packages/devtools_app/lib/src/framework/scaffold/settings_dialog.dart
  packages/devtools_app/lib/src/shared/feature_flags.dart
  packages/devtools_app/lib/src/shared/preferences/preferences.dart
  packages/devtools_app/test/shared/primitives/feature_flags_test.dart
Owners: @flutter/devtools-reviewers

Formatting
  packages/devtools_app/lib/src/shared/feature_flags.dart
Owners: @flutter/devtools-reviewers

Remove full launched property editor refactors feature flag
  packages/devtools_app/lib/src/shared/feature_flags.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_controller.dart
  packages/devtools_app/test/shared/primitives/feature_flags_test.dart
  packages/devtools_app/test/standalone_ui/ide_shared/property_editor/property_editor_test.dart
Owners: @flutter/devtools-reviewers

Remove unused import
  packages/devtools_app/lib/src/shared/preferences/preferences.dart
Owners: @flutter/devtools-reviewers

Fix more test failures
  packages/devtools_app/test/screens/inspector/inspector_integration_test.dart
  packages/devtools_app/test/screens/inspector/inspector_screen_test.dart
Owners: @elliette

Adds a banner warning users the legacy inspector will be removed (#9572)
  packages/devtools_app/lib/src/screens/inspector/inspector_screen_body.dart
  packages/devtools_app/lib/src/screens/inspector_shared/inspector_settings_dialog.dart
  packages/devtools_app/lib/src/shared/managers/banner_messages.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/test/screens/inspector/inspector_integration_test.dart
  packages/devtools_app/test/screens/inspector/inspector_screen_test.dart
  packages/devtools_app/test/screens/inspector_v2/inspector_integration_test.dart
Owners: @elliette, @flutter/devtools-reviewers

Delete unused `wasmByDefault` feature flag (#9576)
  packages/devtools_app/lib/src/shared/feature_flags.dart
Owners: @flutter/devtools-reviewers

Delete launched `wasmOptInSetting` feature flag (#9578)
  packages/devtools_app/lib/src/framework/scaffold/settings_dialog.dart
  packages/devtools_app/lib/src/shared/feature_flags.dart
  packages/devtools_app/lib/src/shared/preferences/preferences.dart
  packages/devtools_app/test/shared/primitives/feature_flags_test.dart
Owners: @flutter/devtools-reviewers

Updating from 2.54.0-dev.0 to 2.54.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

CODEOWNERS:

*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @elliette

# Network Files
network/            @bkonyi @kenzieschmoll

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll @bkonyi

# Memory files
memory/             @bkonyi @kenzieschmoll

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @kenzieschmoll

# DevTools extensions and related files
src/extensions/
packages/devtools_extensions/    @kenzieschmoll
packages/devtools_app_shared/    @kenzieschmoll

# package:devtools_shared code, which is used across DevTools and the Dart SDK
packages/devtools_shared/        @kenzieschmoll @bkonyi

# Version bump files.
# No owners to prevent version update spam
packages/devtools_app/lib/devtools.dart
packages/devtools_app/pubspec.yaml
packages/devtools_test/pubspec.yaml
