Repository flutter/devtools, changes with the owners that CODEOWNERS names for each.
All owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

test
  packages/devtools_app/integration_test/test_infra/run/_in_file_args.dart
  packages/devtools_app/test/integration_test_infra/in_file_args_test.dart
Owners: @flutter/devtools-reviewers

nits
  packages/devtools_app/test/test_infra/fixtures/networking_app/bin/main.dart
Owners: @flutter/devtools-reviewers

Updating from 2.45.0-dev.0 to 2.45.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.45.0-dev.0 to 2.45.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Simplify the TestFileArgs constructors (#9005)
  packages/devtools_app/integration_test/test_infra/run/_in_file_args.dart
  packages/devtools_app/test/integration_test_infra/in_file_args_test.dart
Owners: @flutter/devtools-reviewers

fix
  packages/devtools_app/integration_test/test_infra/run/_test_app_driver.dart
  packages/devtools_app/integration_test/test_infra/run/run_test.dart
Owners: @flutter/devtools-reviewers

Feedback
  packages/devtools_app/integration_test/test/live_connection/network_screen_test.dart
  packages/devtools_app/integration_test/test_infra/run/_test_app_driver.dart
  packages/devtools_app/test/test_infra/fixtures/networking_app/bin/main.dart
Owners: @flutter/devtools-reviewers

exit
  packages/devtools_app/integration_test/test/live_connection/network_screen_test.dart
  packages/devtools_app/test/test_infra/fixtures/networking_app/bin/main.dart
Owners: @flutter/devtools-reviewers

Add memory measurements to success or failure message.
  packages/devtools_app/lib/src/framework/observer/memory_observer.dart
Owners: @flutter/devtools-reviewers

Fix the error case and handle null results
  packages/devtools_app/lib/src/framework/observer/memory_observer.dart
Owners: @flutter/devtools-reviewers

Update warning message
  packages/devtools_app/lib/src/framework/observer/memory_observer.dart
Owners: @flutter/devtools-reviewers

fix test
  packages/devtools_app/lib/src/framework/observer/memory_observer.dart
  packages/devtools_app/test/framework/observer/memory_observer_test.dart
Owners: @flutter/devtools-reviewers

remove print
  packages/devtools_app/lib/src/framework/observer/memory_observer.dart
Owners: @flutter/devtools-reviewers

Add an integration test for the Network screen (#9003)
  packages/devtools_app/integration_test/test/live_connection/network_screen_test.dart
  packages/devtools_app/integration_test/test_infra/run/_test_app_driver.dart
  packages/devtools_app/integration_test/test_infra/run/run_test.dart
  packages/devtools_app/test/test_infra/fixtures/networking_app/bin/main.dart
  packages/devtools_app/test/test_infra/fixtures/networking_app/pubspec.yaml
  packages/devtools_test/lib/src/integration_test/integration_test_utils.dart
Owners: @flutter/devtools-reviewers

Enable the memory observer with full support for releasing memory (#8998)
  packages/devtools_app/lib/src/framework/observer/memory_observer.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/controller/diff_pane_controller.dart
  packages/devtools_app/lib/src/shared/feature_flags.dart
  packages/devtools_app/lib/src/shared/framework/routing.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/test/framework/observer/memory_observer_test.dart
  packages/devtools_app/test/screens/memory/framework/memory_controller_test.dart
  packages/devtools_app/test/shared/framework/screen_controllers_test.dart
  packages/devtools_test/lib/src/mocks/mocks.dart
Owners: @flutter/devtools-reviewers, @bkonyi, @kenzieschmoll

Simplify in_file_args_test
  packages/devtools_app/test/integration_test_infra/in_file_args_test.dart
Owners: @flutter/devtools-reviewers

Add package:http requests to network integration test
  packages/devtools_app/integration_test/test/live_connection/network_screen_test.dart
Owners: @flutter/devtools-reviewers

Debounce calls to get editable args
  packages/devtools_app/lib/src/framework/observer/memory_observer.dart
  packages/devtools_app/lib/src/screens/memory/panes/chart/controller/chart_connection.dart
  packages/devtools_app/lib/src/screens/network/network_controller.dart
  packages/devtools_app/lib/src/shared/utils/utils.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_controller.dart
  packages/devtools_app/test/shared/utils/utils_test.dart
Owners: @flutter/devtools-reviewers, @bkonyi, @kenzieschmoll

Add call to dispose
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_controller.dart
Owners: @flutter/devtools-reviewers

comments
  packages/devtools_app/test/test_infra/fixtures/networking_app/bin/main.dart
Owners: @flutter/devtools-reviewers

Update to latest Flutter SDK version
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

Add test cases
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_controller.dart
  packages/devtools_app/test/standalone_ui/ide_shared/property_editor/property_editor_test.dart
Owners: @flutter/devtools-reviewers

Updating from 2.45.0-dev.0 to 2.45.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Don't connect the SSE API when running embedded
  packages/devtools_app/lib/src/shared/config_specific/framework_initialize/_framework_initialize_web.dart
  packages/devtools_app/lib/src/shared/server/server_api_client.dart
Owners: @flutter/devtools-reviewers

feedback
  packages/devtools_app/test/integration_test_infra/in_file_args_test.dart
Owners: @flutter/devtools-reviewers

Fix benchmark tests
  packages/devtools_app/benchmark/devtools_benchmarks_test.dart
Owners: @flutter/devtools-reviewers

Respond to PR comment
  packages/devtools_app/lib/src/shared/utils/utils.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_controller.dart
Owners: @flutter/devtools-reviewers

Extend disposable
  packages/devtools_app/lib/src/shared/utils/utils.dart
Owners: @flutter/devtools-reviewers

Don't connect the SSE API when running embedded (#9020)
  packages/devtools_app/lib/src/shared/config_specific/framework_initialize/_framework_initialize_web.dart
  packages/devtools_app/lib/src/shared/server/server_api_client.dart
Owners: @flutter/devtools-reviewers

Update to latest Flutter SDK version (#9018)
  flutter-candidate.txt
  packages/devtools_app/benchmark/devtools_benchmarks_test.dart
Owners: @flutter/devtools-reviewers

Simplify in_file_args_test (#9015)
  packages/devtools_app/test/integration_test_infra/in_file_args_test.dart
Owners: @flutter/devtools-reviewers

feedback
  packages/devtools_app/integration_test/test/live_connection/network_screen_test.dart
Owners: @flutter/devtools-reviewers

Add package:http requests to network integration test (#9016)
  packages/devtools_app/integration_test/test/live_connection/network_screen_test.dart
  packages/devtools_app/test/test_infra/fixtures/networking_app/bin/main.dart
Owners: @flutter/devtools-reviewers

Updating from 2.45.0-dev.0 to 2.45.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Switch isDevToolsServerAvailable to not depend on the SSE connection
  packages/devtools_app/lib/src/shared/config_specific/framework_initialize/_framework_initialize_web.dart
  packages/devtools_app/lib/src/shared/server/_server_api.dart
  packages/devtools_app/lib/src/shared/server/server.dart
  packages/devtools_app/lib/src/shared/server/server_api_client.dart
Owners: @flutter/devtools-reviewers

Remove unused import
  packages/devtools_app/lib/src/shared/server/server_api_client.dart
Owners: @flutter/devtools-reviewers

Switch isDevToolsServerAvailable to not depend on the SSE connection (#9024)
  packages/devtools_app/lib/src/shared/config_specific/framework_initialize/_framework_initialize_web.dart
  packages/devtools_app/lib/src/shared/server/_server_api.dart
  packages/devtools_app/lib/src/shared/server/server.dart
  packages/devtools_app/lib/src/shared/server/server_api_client.dart
Owners: @flutter/devtools-reviewers

Update to latest Flutter SDK version
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

Updating from 2.45.0-dev.0 to 2.45.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Fix deep links page displaying incorrect Windows path formats + a crash if no iOS config
  packages/devtools_app/lib/src/screens/deep_link_validation/project_root_selection/root_selector.dart
  packages/devtools_app/test/screens/deep_link_validation/deep_links_screen_test.dart
  packages/devtools_shared/lib/src/deeplink/xcode_build_options.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll, @bkonyi

CODEOWNERS:

*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @elliette

# Network Files
network/            @bkonyi @kenzieschmoll

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll @bkonyi

# Memory files
memory/             @bkonyi @kenzieschmoll

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @kenzieschmoll

# DevTools extensions and related files
src/extensions/
packages/devtools_extensions/    @kenzieschmoll
packages/devtools_app_shared/    @kenzieschmoll

# package:devtools_shared code, which is used across DevTools and the Dart SDK
packages/devtools_shared/        @kenzieschmoll @bkonyi

# Version bump files.
# No owners to prevent version update spam
packages/devtools_app/lib/devtools.dart
packages/devtools_app/pubspec.yaml
packages/devtools_test/pubspec.yaml
