Repository flutter/devtools, changes with the owners that CODEOWNERS names for each.
All owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

added release notes
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

fix: auto-select test_suite isolate as main
  packages/devtools_app/lib/src/framework/observer/_memory_web.dart
  packages/devtools_app_shared/test/service/isolate_manager_test.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

Auto-select test suite isolate for paused dart tests
  packages/devtools_app_shared/lib/src/service/isolate_manager.dart
  packages/devtools_app_shared/test/service/isolate_manager_test.dart
Owners: @kenzieschmoll

Remove unnecessary JSObject implementation in memory web interop type
  packages/devtools_app/lib/src/framework/observer/_memory_web.dart
Owners: @flutter/devtools-reviewers

Use the standard AGENTS.md file for AI rules
  .cursor/rules/ai_rules.mdc
  AGENTS.md
  CLAUDE.md
  GEMINI.md
Owners: @flutter/devtools-reviewers

add dart skills lint test and yaml config with instructions for how to use
  .agents/skills/README.md
  .agents/skills/authoring-skills/SKILL.md
  dart_skills_lint.yaml
  pubspec.lock
  pubspec.yaml
  tool/test/validate_skills_test.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

Add ignore file for valid links that are triggering false positives
  .agents/skills/adding-release-notes/SKILL.md
  .agents/skills/dart_skills_lint_ignore.json
Owners: @flutter/devtools-reviewers

resolve readme to correct location
  .agents/skills/adding-release-notes/SKILL.md
Owners: @flutter/devtools-reviewers

Copyright added to new files and issue linked in pubspec
  .agents/skills/README.md
  dart_skills_lint.yaml
  pubspec.yaml
  tool/test/validate_skills_test.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

Add link to yaml configuration feature
  tool/test/validate_skills_test.dart
Owners: @kenzieschmoll

Update TRIAGE and CONTRIBUTING docs
  CONTRIBUTING.md
  TRIAGE.md
Owners: @flutter/devtools-reviewers

Updating from 2.58.0-dev.0 to 2.58.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Use the standard AGENTS.md file for AI rules (#9768)
  .cursor/rules/ai_rules.mdc
  AGENTS.md
  CLAUDE.md
  GEMINI.md
Owners: @flutter/devtools-reviewers

presubmit feedback
  tool/pubspec.yaml
Owners: @kenzieschmoll

Add customization for Gemini Code Assist behavior.
  .gemini/config.yaml
  .gitignore
Owners: @flutter/devtools-reviewers

fix grammar in STYLE.md
  STYLE.md
Owners: @flutter/devtools-reviewers

styleguide.md first pass
  .gemini/styleguide.md
Owners: @flutter/devtools-reviewers

deduplicate
  .gemini/styleguide.md
  AGENTS.md
Owners: @flutter/devtools-reviewers

more quality guidance
  .gemini/styleguide.md
  AGENTS.md
Owners: @flutter/devtools-reviewers

tweaks
  .gemini/styleguide.md
  AGENTS.md
Owners: @flutter/devtools-reviewers

add documentation rules
  AGENTS.md
Owners: @flutter/devtools-reviewers

remove single responsibility
  .gemini/styleguide.md
  AGENTS.md
Owners: @flutter/devtools-reviewers

Update AGENTS.md
  AGENTS.md
Owners: @flutter/devtools-reviewers

Remove unnecessary imports
  packages/devtools_app/test/screens/performance/performance_screen_test.dart
Owners: @kenzieschmoll

Updating from 2.58.0-dev.0 to 2.58.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Add customization for the Gemini Code Assist review bot (#9774)
  .gemini/config.yaml
  .gemini/styleguide.md
  .gitignore
  AGENTS.md
  STYLE.md
Owners: @flutter/devtools-reviewers

Revise release notes for DevTools 2.58.0
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Fix DCM lints
  packages/devtools_app/lib/src/shared/console/eval/auto_complete.dart
  packages/devtools_shared/lib/src/extensions/extension_model.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll, @bkonyi

Update packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Restore overlay wrapper structure
  packages/devtools_app/lib/src/framework/observer/disconnect_observer.dart
Owners: @flutter/devtools-reviewers

Fix cancelled HTTP requests showing as Pending in DevTools Network tab (#9685)
  packages/devtools_app/lib/src/screens/network/network_request_inspector_views.dart
  packages/devtools_app/lib/src/shared/http/http_request_data.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/test/screens/network/network_controller_test.dart
  packages/devtools_app/test/screens/network/network_model_test.dart
  packages/devtools_app/test/screens/network/network_table_test.dart
  packages/devtools_app/test/shared/eval_integration_test.dart
  packages/devtools_app/test/test_infra/test_data/http_get_cancelled_json.dart
  packages/devtools_app_shared/lib/src/service/eval_on_dart_library.dart
Owners: @bkonyi, @kenzieschmoll, @flutter/devtools-reviewers

Fix formatting in display_provider.dart
  packages/devtools_app/lib/src/shared/console/widgets/display_provider.dart
Owners: @flutter/devtools-reviewers

Update TRIAGE and CONTRIBUTING docs (#9772)
  CONTRIBUTING.md
  TRIAGE.md
Owners: @flutter/devtools-reviewers

Update tool/test/validate_skills_test.dart
  tool/test/validate_skills_test.dart
Owners: @kenzieschmoll

Update pubspec.yaml
  pubspec.yaml
Owners: @flutter/devtools-reviewers

Revise NEXT_RELEASE_NOTES.md for 2.58.0 release
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Fix duplicated TestInspectorController
  packages/devtools_test/lib/src/mocks/mocks.dart
Owners: @flutter/devtools-reviewers

fix(logging): combine newline-split stdout messages into one log entry (#9757)
  packages/devtools_app/lib/src/screens/logging/logging_controller.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/test/screens/logging/logging_controller_test.dart
Owners: @flutter/devtools-reviewers

Fix one relative path issues, update version of dart_skills_lint
  .agents/skills/adding-release-notes/SKILL.md
  .agents/skills/dart_skills_lint_ignore.json
  pubspec.lock
  pubspec.yaml
  tool/pubspec.yaml
Owners: @flutter/devtools-reviewers, @kenzieschmoll

Delete legacy analytics.
  packages/devtools_app/lib/src/shared/analytics/_analytics_stub.dart
  packages/devtools_app/lib/src/shared/analytics/_analytics_web.dart
  packages/devtools_app/lib/src/shared/analytics/analytics_common.dart
  packages/devtools_app/lib/src/shared/analytics/analytics_controller.dart
  packages/devtools_app/lib/src/shared/analytics/gtags.dart
  packages/devtools_app/lib/src/shared/development_helpers.dart
  packages/devtools_app/lib/src/shared/server/_analytics_api.dart
  packages/devtools_app/test/shared/analytics/analytics_prompt_test.dart
  packages/devtools_app/web/devtools_analytics.js
  packages/devtools_app/web/index.html
  packages/devtools_app_shared/CHANGELOG.md
  packages/devtools_app_shared/pubspec.yaml
  packages/devtools_extensions/CHANGELOG.md
  packages/devtools_extensions/pubspec.yaml
  packages/devtools_shared/CHANGELOG.md
  packages/devtools_shared/lib/src/devtools_api.dart
  packages/devtools_shared/lib/src/server/devtools_store.dart
  packages/devtools_shared/lib/src/server/server_api.dart
  packages/devtools_shared/pubspec.yaml
Owners: @flutter/devtools-reviewers, @kenzieschmoll, @bkonyi

CODEOWNERS:

*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @elliette

# Network Files
network/            @bkonyi @kenzieschmoll

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll @bkonyi

# Memory files
memory/             @bkonyi @kenzieschmoll

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @kenzieschmoll

# DevTools extensions and related files
src/extensions/
packages/devtools_extensions/    @kenzieschmoll
packages/devtools_app_shared/    @kenzieschmoll

# package:devtools_shared code, which is used across DevTools and the Dart SDK
packages/devtools_shared/        @kenzieschmoll @bkonyi

# Version bump files.
# No owners to prevent version update spam
packages/devtools_app/lib/devtools.dart
packages/devtools_app/pubspec.yaml
packages/devtools_test/pubspec.yaml
