Repository flutter/devtools, changes with the owners that CODEOWNERS names for each.
All owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

CODEOWNERS:

*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @elliette

# Network Files
network/            @bkonyi @kenzieschmoll

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll @bkonyi

# Memory files
memory/             @bkonyi @kenzieschmoll

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @kenzieschmoll

# DevTools extensions and related files
src/extensions/
packages/devtools_extensions/    @kenzieschmoll
packages/devtools_app_shared/    @kenzieschmoll

# package:devtools_shared code, which is used across DevTools and the Dart SDK
packages/devtools_shared/        @kenzieschmoll @bkonyi

# Version bump files.
# No owners to prevent version update spam
packages/devtools_app/lib/devtools.dart
packages/devtools_app/pubspec.yaml
packages/devtools_test/pubspec.yaml

rnotes
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/release_notes/images/log_filter.png
Owners: @flutter/devtools-reviewers

Support filtering by log level in the text filter
  packages/devtools_app/lib/src/screens/logging/logging_controller.dart
  packages/devtools_app/lib/src/screens/logging/metadata.dart
Owners: @flutter/devtools-reviewers

Remove the legacy postMessage version of the sidebar (#8411)
  packages/.vscode/launch.json
  packages/devtools_app/lib/src/shared/analytics/constants/_editor_sidebar_constants.dart
  packages/devtools_app/lib/src/standalone_ui/api/dart_tooling_api.dart
  packages/devtools_app/lib/src/standalone_ui/api/impl/dart_tooling_api.dart
  packages/devtools_app/lib/src/standalone_ui/api/impl/vs_code_api.dart
  packages/devtools_app/lib/src/standalone_ui/api/vs_code_api.dart
  packages/devtools_app/lib/src/standalone_ui/standalone_screen.dart
  packages/devtools_app/lib/src/standalone_ui/vs_code/flutter_panel.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/test/test_infra/scenes/standalone_ui/editor_service/post_message_simulated_editor.dart
  packages/devtools_app/test/test_infra/scenes/standalone_ui/vs_code.dart
Owners: @flutter/devtools-reviewers

code refactoring, reverting changes on network service
  packages/devtools_app/lib/src/screens/network/network_controller.dart
  packages/devtools_app/lib/src/screens/network/network_model.dart
  packages/devtools_app/lib/src/screens/network/network_service.dart
  packages/devtools_app/lib/src/screens/network/offline_network_data.dart
  packages/devtools_app/lib/src/shared/http/http_request_data.dart
Owners: @bkonyi, @kenzieschmoll, @flutter/devtools-reviewers

using values from enum
  packages/devtools_app/lib/src/screens/network/network_model.dart
Owners: @bkonyi, @kenzieschmoll

https://github.com/flutter/devtools/actions/runs/11276629639/job/31360875899
  .vscode/settings.json
  packages/devtools_app/lib/main.dart
Owners: @flutter/devtools-reviewers

fix lints
  packages/devtools_app/lib/src/screens/logging/metadata.dart
Owners: @flutter/devtools-reviewers

Support filtering by log level in the text filter (#8428)
  packages/devtools_app/lib/src/screens/logging/logging_controller.dart
  packages/devtools_app/lib/src/screens/logging/metadata.dart
Owners: @flutter/devtools-reviewers

Fix broken tests
  packages/devtools_app/lib/src/screens/logging/logging_controller.dart
  packages/devtools_app/test/logging/logging_screen_data_test.dart
  packages/devtools_app/test/logging/logging_screen_test.dart
  packages/devtools_test/lib/src/mocks/generated_mocks_factories.dart
Owners: @flutter/devtools-reviewers

Make filtering easier to access from the logging page (#8427)
  packages/devtools_app/lib/src/screens/logging/logging_controller.dart
  packages/devtools_app/lib/src/screens/logging/logging_controls.dart
  packages/devtools_app/lib/src/shared/ui/filter.dart
  packages/devtools_app/lib/src/shared/ui/search.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/release_notes/images/log_filter.png
  packages/devtools_app/test/logging/logging_screen_data_test.dart
  packages/devtools_app/test/logging/logging_screen_test.dart
  packages/devtools_app_shared/lib/src/ui/buttons.dart
  packages/devtools_app_shared/lib/src/ui/text_field.dart
  packages/devtools_test/lib/src/mocks/generated_mocks_factories.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

Create a generalized `SettingFilter` class to support filtering by any type of setting
  packages/devtools_app/lib/src/screens/logging/logging_controller.dart
  packages/devtools_app/lib/src/screens/logging/logging_screen_v2/logging_model.dart
  packages/devtools_app/lib/src/screens/profiler/cpu_profiler_controller.dart
  packages/devtools_app/lib/src/shared/ui/filter.dart
  packages/devtools_app/test/cpu_profiler/cpu_profiler_controller_test.dart
  packages/devtools_app/test/cpu_profiler/cpu_profiler_test.dart
  packages/devtools_app/test/logging/logging_controller_test.dart
  packages/devtools_app/test/logging/logging_screen_v2/logging_controller_v2_test.dart
  packages/devtools_app/test/logging/logging_screen_v2/logging_model_test.dart
  packages/devtools_app/test/shared/filter_test.dart
  packages/devtools_test/lib/src/mocks/generated_mocks_factories.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll, @bkonyi

Create a generalized `SettingFilter` class to support filtering by any type of setting (#8432)
  packages/devtools_app/lib/src/screens/logging/logging_controller.dart
  packages/devtools_app/lib/src/screens/logging/logging_screen_v2/logging_model.dart
  packages/devtools_app/lib/src/screens/profiler/cpu_profiler_controller.dart
  packages/devtools_app/lib/src/shared/ui/filter.dart
  packages/devtools_app/test/cpu_profiler/cpu_profiler_controller_test.dart
  packages/devtools_app/test/cpu_profiler/cpu_profiler_test.dart
  packages/devtools_app/test/logging/logging_controller_test.dart
  packages/devtools_app/test/logging/logging_screen_v2/logging_controller_v2_test.dart
  packages/devtools_app/test/logging/logging_screen_v2/logging_model_test.dart
  packages/devtools_app/test/shared/filter_test.dart
  packages/devtools_test/lib/src/mocks/generated_mocks_factories.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll, @bkonyi

Add a filter setting to filter by a minimum log level
  packages/devtools_app/lib/src/screens/logging/logging_controller.dart
  packages/devtools_app/lib/src/shared/ui/filter.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/release_notes/images/log_level_filter.png
  packages/devtools_app/test/logging/logging_controller_test.dart
Owners: @flutter/devtools-reviewers

omit level.all too
  packages/devtools_app/lib/src/screens/logging/logging_controller.dart
Owners: @flutter/devtools-reviewers

Fix photo
  packages/devtools_app/release_notes/images/log_level_filter.png
Owners: @flutter/devtools-reviewers

fix comment
  packages/devtools_app/lib/src/screens/logging/logging_controller.dart
Owners: @flutter/devtools-reviewers

güvenlik sağlarken, hesaplanması daha hızlı olan çok daha küçük imzalara sahiptir:
  BETA_TESTING.md
  tool/bin/dt.dart
  tool/cpu_sample_intervals.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

# Dart & Flutter DevTools
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
Owners: @flutter/devtools-reviewers

//# Kullanıcının hızlandırıcı hizmeti için ön ödeme olarak yaptığı yüklemelerin listesini döndürür.
  .github/dependabot.yml
Owners: @flutter/devtools-reviewers

alexeymasasin.rcw-120
  .vscode/extensions.json
Owners: @flutter/devtools-reviewers

Determine the logging split view axis by the aspect ratio
  packages/devtools_app/lib/src/screens/logging/logging_screen.dart
  packages/devtools_app/test/logging/logging_screen_test.dart
Owners: @flutter/devtools-reviewers

Create checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac çalıştırın
  Actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac çalıştırın
Owners: @flutter/devtools-reviewers

Determine the logging split view axis by the aspect ratio (#8435)
  packages/devtools_app/lib/src/screens/logging/logging_screen.dart
  packages/devtools_app/test/logging/logging_screen_test.dart
Owners: @flutter/devtools-reviewers

Add a filter setting to filter by a minimum log level (#8433)
  packages/devtools_app/lib/src/screens/logging/logging_controller.dart
  packages/devtools_app/lib/src/shared/ui/filter.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/release_notes/images/log_level_filter.png
  packages/devtools_app/test/logging/logging_controller_test.dart
Owners: @flutter/devtools-reviewers

Scroll logs table to bottom on initial load
  packages/devtools_app/lib/src/screens/logging/_logs_table.dart
  packages/devtools_app/lib/src/shared/table/_flat_table.dart
  packages/devtools_app/lib/src/shared/table/table.dart
  packages/devtools_app/test/shared/table_test.dart
  packages/devtools_app_shared/CHANGELOG.md
  packages/devtools_app_shared/lib/src/ui/common.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

rnotes
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Move the DevTools debug mode banner to the bottom right
  packages/devtools_app/lib/src/app.dart
Owners: @flutter/devtools-reviewers

Scroll logs table to bottom on initial load (#8437)
  packages/devtools_app/lib/src/screens/logging/_logs_table.dart
  packages/devtools_app/lib/src/shared/table/_flat_table.dart
  packages/devtools_app/lib/src/shared/table/table.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/test/shared/table_test.dart
  packages/devtools_app_shared/CHANGELOG.md
  packages/devtools_app_shared/lib/src/ui/common.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

Add isolate information to logs metadata
  packages/devtools_app/lib/src/screens/logging/_logs_table.dart
  packages/devtools_app/lib/src/screens/logging/_message_column.dart
  packages/devtools_app/lib/src/screens/logging/logging_controller.dart
  packages/devtools_app/lib/src/screens/logging/metadata.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/release_notes/images/log_metadata.png
Owners: @flutter/devtools-reviewers

release notes
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

tweak test
  packages/devtools_app/lib/src/screens/logging/_message_column.dart
  packages/devtools_app/test/logging/logging_screen_v2/logging_model_test.dart
  packages/devtools_app/test/logging/metadata_test.dart
  packages/devtools_app/test_infra/goldens/logging/metadata_chips.png
Owners: @flutter/devtools-reviewers

Move the DevTools debug mode banner to the bottom right (#8438)
  packages/devtools_app/lib/src/app.dart
Owners: @flutter/devtools-reviewers

Add isolate information to logs metadata (#8439)
  packages/devtools_app/lib/src/screens/logging/_logs_table.dart
  packages/devtools_app/lib/src/screens/logging/_message_column.dart
  packages/devtools_app/lib/src/screens/logging/logging_controller.dart
  packages/devtools_app/lib/src/screens/logging/metadata.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/release_notes/images/log_metadata.png
  packages/devtools_app/test/logging/logging_screen_v2/logging_model_test.dart
  packages/devtools_app/test/logging/metadata_test.dart
  packages/devtools_app/test_infra/goldens/logging/metadata_chips.png
Owners: @flutter/devtools-reviewers

Add zone information to logs metadata
  packages/devtools_app/lib/src/screens/logging/logging_controller.dart
  packages/devtools_app/lib/src/screens/logging/metadata.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/release_notes/images/log_metadata.png
  packages/devtools_app/test/logging/metadata_test.dart
  packages/devtools_app/test_infra/goldens/logging/metadata_chips.png
Owners: @flutter/devtools-reviewers

Add zone information to logs metadata (#8441)
  packages/devtools_app/lib/src/screens/logging/logging_controller.dart
  packages/devtools_app/lib/src/screens/logging/metadata.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/release_notes/images/log_metadata.png
  packages/devtools_app/test/logging/metadata_test.dart
  packages/devtools_app/test_infra/goldens/logging/metadata_chips.png
Owners: @flutter/devtools-reviewers

Remove/merge the DTD/Editor/Sidebar classes used to support both protocols
  packages/devtools_app/lib/src/service/editor/editor_client.dart
  packages/devtools_app/lib/src/service/editor/readme.md
  packages/devtools_app/lib/src/standalone_ui/standalone_screen.dart
  packages/devtools_app/lib/src/standalone_ui/vs_code/flutter_panel.dart
  packages/devtools_app/test/standalone_ui/vs_code/debug_sessions_test.dart
  packages/devtools_app/test/test_infra/scenes/standalone_ui/editor_service/simulated_editor.dart
  packages/devtools_app/test/test_infra/scenes/standalone_ui/editor_service/simulated_editor_mixin.dart
  packages/devtools_app/test/test_infra/scenes/standalone_ui/editor_sidebar.dart
  packages/devtools_app/test/test_infra/scenes/standalone_ui/mock_editor_widget.dart
Owners: @flutter/devtools-reviewers

Fix formatting
  packages/devtools_app/lib/src/service/editor/editor_client.dart
Owners: @flutter/devtools-reviewers

Fix DCM warning
  packages/devtools_app/test/test_infra/scenes/standalone_ui/editor_service/simulated_editor.dart
Owners: @flutter/devtools-reviewers

Remove/merge the DTD/Editor/Sidebar classes used to support both protocols (#8444)
  packages/devtools_app/lib/src/service/editor/editor_client.dart
  packages/devtools_app/lib/src/service/editor/readme.md
  packages/devtools_app/lib/src/standalone_ui/standalone_screen.dart
  packages/devtools_app/lib/src/standalone_ui/vs_code/flutter_panel.dart
  packages/devtools_app/test/standalone_ui/vs_code/debug_sessions_test.dart
  packages/devtools_app/test/test_infra/scenes/standalone_ui/editor_service/simulated_editor.dart
  packages/devtools_app/test/test_infra/scenes/standalone_ui/editor_service/simulated_editor_mixin.dart
  packages/devtools_app/test/test_infra/scenes/standalone_ui/editor_sidebar.dart
  packages/devtools_app/test/test_infra/scenes/standalone_ui/mock_editor_widget.dart
Owners: @flutter/devtools-reviewers

Add an option to display log details as JSON
  packages/devtools_app/lib/src/screens/logging/_log_details.dart
  packages/devtools_app/lib/src/screens/logging/logging_controller.dart
  packages/devtools_app/lib/src/shared/common_widgets.dart
  packages/devtools_app_shared/CHANGELOG.md
  packages/devtools_app_shared/lib/src/ui/common.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll
