Repository flutter/devtools, changes with the owners that CODEOWNERS names for each.
All owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

Update DevTools to next `dev` version: `2.46.0-dev.0` (#9133)
  tool/RELEASE_INSTRUCTIONS.md
Owners: @kenzieschmoll

Prevent web apps from freezing after hot-restarts triggered from DevTools (#9125)
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Remove reference to removed `NodeGlue` (#9151)
  packages/devtools_app/lib/src/shared/config_specific/import_export/_export_web.dart
Owners: @flutter/devtools-reviewers

DevTools colors match IDE theme (#9144)
  packages/devtools_app/lib/src/screens/debugger/program_explorer.dart
  packages/devtools_app/lib/src/screens/memory/panes/chart/widgets/chart_pane.dart
  packages/devtools_app/lib/src/screens/memory/panes/chart/widgets/legend.dart
  packages/devtools_app/lib/src/service/service_extension_widgets.dart
  packages/devtools_app/lib/src/shared/charts/flame_chart.dart
  packages/devtools_app/lib/src/shared/ui/colors.dart
  packages/devtools_app/lib/src/shared/ui/search.dart
  packages/devtools_app/test/test_infra/goldens/codeview_scrollbars.png
  packages/devtools_app/test/test_infra/goldens/memory/load_offline_data_profile_tab.png
  packages/devtools_app/test/test_infra/goldens/memory/load_offline_data_trace_tab.png
Owners: @elliette, @bkonyi, @kenzieschmoll, @flutter/devtools-reviewers

Use consistent widget inspector icon across Flutter and DevTools (#9163)
  packages/devtools_app/icons/widget-select-dgrey.png
  packages/devtools_app/icons/widget-select-lgrey.png
  packages/devtools_app/icons/widget-select-white.png
  packages/devtools_app/lib/src/service/service_extension_widgets.dart
  packages/devtools_app/lib/src/service/service_extensions.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/test/test_infra/goldens/integration_animated_physical_model_selected.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_errors_1_initial_load.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_errors_2_error_selected.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_initial_load.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_richtext_selected.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_scaffold_selected.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_select_center.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_select_center_details_tree.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_errors_1_initial_load.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_errors_2_error_selected.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_hideable_widget_selected.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_hideable_widget_selected_from_search.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_implementation_widgets_collapsed.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_implementation_widgets_expanded.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_implementation_widgets_hidden.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_initial_load.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_revert_to_legacy.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_select_center.png
Owners: @flutter/devtools-reviewers

Do not await service extension call in the performance screen (#9162)
  packages/devtools_app/lib/src/screens/performance/panes/flutter_frames/flutter_frames_chart.dart
  packages/devtools_app/lib/src/screens/performance/performance_controller.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/test/screens/performance/flutter_frames/flutter_frames_chart_test.dart
Owners: @kenzieschmoll, @flutter/devtools-reviewers

Fix a focus traversal issue with search fields (#9166)
  packages/devtools_app/lib/src/shared/ui/search.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Do not show release notes for standalone screens (#9147)
  packages/devtools_app/lib/src/framework/release_notes.dart
  packages/devtools_app/lib/src/standalone_ui/standalone_screen.dart
Owners: @flutter/devtools-reviewers

Skip simple_items_test.dart for customer tests (#9150)
  packages/devtools_app/test/shared/primitives/simple_items_test.dart
Owners: @flutter/devtools-reviewers

Update Flutter and min sdk versions (#9140)
  flutter-candidate.txt
  packages/devtools_app/pubspec.yaml
Owners: @flutter/devtools-reviewers

Clean up abstract classes that only contain static methods (#9170)
  packages/devtools_app/lib/src/framework/framework_core.dart
  packages/devtools_app/lib/src/screens/debugger/debugger_model.dart
  packages/devtools_app/lib/src/screens/debugger/span_parser.dart
  packages/devtools_app/lib/src/screens/memory/panes/chart/controller/charts/android_chart_controller.dart
  packages/devtools_app/lib/src/screens/memory/panes/chart/controller/charts/vm_chart_controller.dart
  packages/devtools_app/lib/src/shared/analytics/constants/_property_editor_sidebar_constants.dart
  packages/devtools_app/lib/src/shared/analytics/gtags.dart
  packages/devtools_app/lib/src/shared/charts/flame_chart.dart
  packages/devtools_app/lib/src/shared/development_helpers.dart
  packages/devtools_app/lib/src/shared/feature_flags.dart
  packages/devtools_app/lib/src/shared/http/_http_date.dart
  packages/devtools_app/lib/src/shared/primitives/diagnostics_text_styles.dart
  packages/devtools_app/lib/src/shared/utils/utils.dart
  packages/devtools_app/test/screens/memory/tracing/tracing_pane_controller_test.dart
  packages/devtools_app/test/test_infra/scenes/memory/default.dart
  packages/devtools_app/test/test_infra/test_data/performance/sample_performance_data.dart
  packages/devtools_shared/lib/src/server/file_system.dart
  packages/devtools_shared/lib/src/server/handlers/_app_size.dart
  packages/devtools_shared/lib/src/server/handlers/_deeplink.dart
  packages/devtools_shared/lib/src/server/handlers/_devtools_extensions.dart
  packages/devtools_shared/lib/src/server/handlers/_dtd.dart
  packages/devtools_shared/lib/src/server/handlers/_preferences.dart
  packages/devtools_shared/lib/src/server/handlers/_release_notes.dart
  packages/devtools_shared/lib/src/server/handlers/_storage.dart
  packages/devtools_shared/lib/src/server/handlers/_survey.dart
  packages/devtools_shared/lib/src/server/handlers/_vm_service.dart
  packages/devtools_shared/lib/src/server/server_api.dart
  packages/devtools_shared/test/server/general_api_test.dart
Owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

Dismiss banner messages on connection changes by default (#9148)
  packages/devtools_app/lib/src/extensions/embedded/_view_web.dart
  packages/devtools_app/lib/src/framework/observer/memory_observer.dart
  packages/devtools_app/lib/src/shared/managers/banner_messages.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/test/framework/observer/memory_observer_test.dart
  packages/devtools_app/test/screens/memory/framework/memory_screen_test.dart
  packages/devtools_app/test/screens/performance/performance_screen_test.dart
  packages/devtools_app/test/shared/managers/banner_messages_test.dart
  packages/devtools_app/test/test_infra/scenes/cpu_profiler/default.dart
  packages/devtools_app/test/test_infra/scenes/memory/default.dart
  packages/devtools_extensions/CHANGELOG.md
  packages/devtools_extensions/lib/src/api/model.dart
Owners: @flutter/devtools-reviewers, @bkonyi, @kenzieschmoll

Prepare for release 2.46.0 (#9171)
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

Fix broken internal link in README (#9180)
  CONTRIBUTING.md
Owners: @flutter/devtools-reviewers

Prepare `devtools_shared` for publish (#9183)
  packages/devtools_shared/CHANGELOG.md
  packages/devtools_shared/pubspec.yaml
Owners: @kenzieschmoll, @bkonyi

Nits in Contributing doc (#9181)
  CONTRIBUTING.md
Owners: @flutter/devtools-reviewers

[Property Editor] Add APIs to support refactors from the Property Editor (#9202)
  flutter-candidate.txt
  packages/devtools_app/.vscode/launch.json
  packages/devtools_app/lib/src/shared/analytics/constants/_property_editor_sidebar_constants.dart
  packages/devtools_app/lib/src/shared/editor/api_classes.dart
  packages/devtools_app/lib/src/shared/editor/editor_client.dart
  packages/devtools_app/lib/src/shared/feature_flags.dart
  packages/devtools_app/lib/src/shared/primitives/custom_pointer_scroll_view.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_controller.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_inputs.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_view.dart
  packages/devtools_app/test/shared/editor/editor_client_test.dart
  packages/devtools_app/test/standalone_ui/ide_shared/property_editor/property_editor_test.dart
  packages/devtools_app/test/test_infra/goldens/integration_inspector_errors_2_error_selected.png
  packages/devtools_test/lib/src/mocks/generated.dart
  packages/devtools_test/pubspec.yaml
Owners: @flutter/devtools-reviewers

[Property Editor] Refactor dropdown matches IDE theme (#9230)
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_refactors.dart
Owners: @flutter/devtools-reviewers

Update inspector integration tests to handle Flutter breaking change (#9226)
  packages/devtools_app/test/screens/inspector_v2/inspector_integration_test.dart
Owners: @flutter/devtools-reviewers

Fix a bug with detecting DevTools server availability (#9189)
  packages/devtools_app/lib/src/shared/preferences/preferences.dart
  packages/devtools_app/lib/src/shared/server/_server_api.dart
  packages/devtools_app/lib/src/shared/server/server.dart
  packages/devtools_app/test/shared/utils/future_work_tracker_test.dart
Owners: @flutter/devtools-reviewers

Update TRIAGE.md (#9220)
  TRIAGE.md
Owners: @flutter/devtools-reviewers

[Property Editor] Add UI for triggering "Wrap with" refactors (#9213)
  flutter-candidate.txt
  packages/devtools_app/lib/src/shared/analytics/constants/_property_editor_sidebar_constants.dart
  packages/devtools_app/lib/src/shared/ui/common_widgets.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_controller.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_refactors.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_types.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_view.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/test/shared/primitives/feature_flags_test.dart
  packages/devtools_app/test/standalone_ui/ide_shared/property_editor/property_editor_test.dart
Owners: @flutter/devtools-reviewers

Allow the `--update-on-path` flag to be passed to the `dt sync` command (#9212)
  CONTRIBUTING.md
  tool/lib/commands/shared.dart
  tool/lib/commands/sync.dart
  tool/lib/commands/update_flutter_sdk.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

[Property Editor] Flag clean-up (#9215)
  packages/devtools_app/lib/src/shared/feature_flags.dart
  packages/devtools_app/test/shared/primitives/feature_flags_test.dart
Owners: @flutter/devtools-reviewers

Enable unnecessary_async lint rule (#9184)
  analysis_options.yaml
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_screen_body.dart
  packages/devtools_app/lib/src/screens/vm_developer/object_inspector/vm_simple_list_display.dart
  packages/devtools_app/lib/src/shared/config_specific/drag_and_drop/_drag_and_drop_web.dart
  packages/devtools_app/lib/src/shared/framework/routing.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_controller.dart
  packages/devtools_app/test/screens/deep_link_validation/deep_links_screen_test.dart
  packages/devtools_app/test/screens/deep_link_validation/select_project_view_test.dart
  packages/devtools_app/test/screens/memory/diff/widgets/paths_test.dart
  packages/devtools_app/test/screens/memory/framework/memory_service_test.dart
  packages/devtools_app/test/shared/utils/future_work_tracker_test.dart
  packages/devtools_app/test/standalone_ui/vs_code/devtools_test.dart
  packages/devtools_app/test/test_infra/scenes/memory/default.dart
  packages/devtools_app/test/test_infra/test_data/memory/heap/heap_data.dart
  packages/devtools_app/test/test_infra/utils/deep_links_utils.dart
  packages/devtools_app_shared/lib/src/service/service_manager.dart
Owners: @flutter/devtools-reviewers, @bkonyi, @kenzieschmoll

[Property Editor] Include error code in exceptions sent to GA (#9209)
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_inputs.dart
Owners: @flutter/devtools-reviewers

Fix lifecycle issue in DTDManager (#9200)
  packages/devtools_app_shared/CHANGELOG.md
  packages/devtools_app_shared/lib/src/service/dtd_manager.dart
Owners: @kenzieschmoll

Add android platform to extensions example app (#9199)
  packages/devtools_extensions/example/app_that_uses_foo/.gitignore
  packages/devtools_extensions/example/app_that_uses_foo/analysis_options.yaml
  packages/devtools_extensions/example/app_that_uses_foo/android/.gitignore
  packages/devtools_extensions/example/app_that_uses_foo/android/app/build.gradle.kts
  packages/devtools_extensions/example/app_that_uses_foo/android/app/src/debug/AndroidManifest.xml
  packages/devtools_extensions/example/app_that_uses_foo/android/app/src/main/AndroidManifest.xml
  packages/devtools_extensions/example/app_that_uses_foo/android/app/src/main/kotlin/com/example/app_that_uses_foo/MainActivity.kt
  packages/devtools_extensions/example/app_that_uses_foo/android/app/src/main/res/drawable-v21/launch_background.xml
  packages/devtools_extensions/example/app_that_uses_foo/android/app/src/main/res/drawable/launch_background.xml
  packages/devtools_extensions/example/app_that_uses_foo/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  packages/devtools_extensions/example/app_that_uses_foo/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  packages/devtools_extensions/example/app_that_uses_foo/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  packages/devtools_extensions/example/app_that_uses_foo/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  packages/devtools_extensions/example/app_that_uses_foo/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  packages/devtools_extensions/example/app_that_uses_foo/android/app/src/main/res/values-night/styles.xml
  packages/devtools_extensions/example/app_that_uses_foo/android/app/src/main/res/values/styles.xml
  packages/devtools_extensions/example/app_that_uses_foo/android/app/src/profile/AndroidManifest.xml
  packages/devtools_extensions/example/app_that_uses_foo/android/build.gradle.kts
  packages/devtools_extensions/example/app_that_uses_foo/android/gradle.properties
  packages/devtools_extensions/example/app_that_uses_foo/android/gradle/wrapper/gradle-wrapper.properties
  packages/devtools_extensions/example/app_that_uses_foo/android/settings.gradle.kts
  packages/devtools_extensions/example/app_that_uses_foo/ios/Flutter/AppFrameworkInfo.plist
  packages/devtools_extensions/example/app_that_uses_foo/ios/Runner.xcodeproj/project.pbxproj
  packages/devtools_extensions/example/app_that_uses_foo/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
Owners: @kenzieschmoll

[Widget Inspector] Update Select Widget Mode icon (#9192)
  packages/devtools_app/lib/src/service/service_extensions.dart
  packages/devtools_app/macos/Runner.xcodeproj/project.pbxproj
  packages/devtools_app/pubspec.yaml
Owners: @flutter/devtools-reviewers

Enable Property Editor refactors (#9227)
  packages/devtools_app/lib/src/shared/feature_flags.dart
  packages/devtools_app/test/shared/primitives/feature_flags_test.dart
Owners: @flutter/devtools-reviewers

[Product Quality] Fix copy-to-clipboard behavior in the console (#9204)
  packages/devtools_app/lib/src/shared/diagnostics/dart_object_node.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/test/screens/debugger/debugger_screen_variables_test.dart
  packages/devtools_app/test/shared/diagnostics/dart_object_node_test.dart
  packages/devtools_app/test/test_infra/utils/variable_utils.dart
Owners: @flutter/devtools-reviewers, @elliette

Plumb the `serve-with-dart-sdk` command through to the `dt run` command (#9198)
  tool/lib/commands/run.dart
  tool/lib/commands/serve.dart
  tool/lib/commands/shared.dart
Owners: @kenzieschmoll

Prepare DevTools for 2.47.0 release (#9233)
  flutter-candidate.txt
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Update contributing instrucitons (#9235)
  CONTRIBUTING.md
Owners: @flutter/devtools-reviewers

Register and unregister VM service connections on DTD from the DevTools server (#9211)
  packages/devtools_app/lib/src/shared/managers/dtd_manager_extensions.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app_shared/CHANGELOG.md
  packages/devtools_app_shared/pubspec.yaml
  packages/devtools_extensions/CHANGELOG.md
  packages/devtools_extensions/example/packages_with_extensions/foo/packages/foo_devtools_extension/pubspec.yaml
  packages/devtools_extensions/pubspec.yaml
  packages/devtools_shared/CHANGELOG.md
  packages/devtools_shared/lib/src/server/handlers/_vm_service.dart
  packages/devtools_shared/pubspec.yaml
  packages/devtools_test/pubspec.yaml
Owners: @flutter/devtools-reviewers, @kenzieschmoll, @bkonyi

Prep next dev version of DevTools (#9237)
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

[tool] Add an option to specify the path of a Flutter SDK (#9250)
  tool/lib/devtools_command_runner.dart
  tool/lib/model.dart
Owners: @kenzieschmoll

Show `Timer` events in the Logging View (#9238)
  packages/devtools_app/lib/src/screens/logging/logging_controller.dart
  packages/devtools_app/lib/src/screens/logging/metadata.dart
  packages/devtools_app/lib/src/service/vm_service_wrapper.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/test/screens/logging/logging_controller_test.dart
  packages/devtools_test/lib/src/mocks/fake_vm_service_wrapper.dart
Owners: @flutter/devtools-reviewers

Upgrade to the latest Flutter SDK (#9244)
  .github/workflows/build.yaml
  flutter-candidate.txt
  packages/devtools_app/benchmark/web_bundle_size_test.dart
  packages/devtools_app/lib/src/framework/notifications_view.dart
  packages/devtools_app/lib/src/screens/inspector/layout_explorer/ui/layout_explorer_widget.dart
  packages/devtools_app/lib/src/screens/inspector_shared/inspector_settings_dialog.dart
  packages/devtools_app/lib/src/screens/inspector_v2/layout_explorer/ui/layout_explorer_widget.dart
  packages/devtools_app/lib/src/screens/memory/shared/widgets/class_filter.dart
  packages/devtools_app/lib/src/screens/performance/panes/controls/enhance_tracing/enhance_tracing.dart
  packages/devtools_app/lib/src/shared/primitives/collapsible_mixin.dart
  packages/devtools_app/lib/src/shared/ui/common_widgets.dart
  packages/devtools_app/lib/src/shared/ui/side_panel.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_view.dart
  packages/devtools_app/test/screens/performance/controls/enhance_tracing_test.dart
  packages/devtools_app/test/test_infra/goldens/inspector_service_node_no_summary.txt
  packages/devtools_app/test/test_infra/goldens/inspector_service_tree_no_summary.txt
Owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

Add Queued Microtasks tab to VM Tools screen (#9239)
  packages/devtools_app/lib/devtools_app.dart
  packages/devtools_app/lib/src/screens/vm_developer/queued_microtasks/queued_microtasks_controller.dart
  packages/devtools_app/lib/src/screens/vm_developer/queued_microtasks/queued_microtasks_view.dart
  packages/devtools_app/lib/src/screens/vm_developer/vm_developer_tools_screen.dart
  packages/devtools_app/lib/src/service/vm_flags.dart
  packages/devtools_app/lib/src/shared/analytics/constants.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/release_notes/helpers/release_notes_template.md
  packages/devtools_app/test/screens/vm_developer/queued_microtasks/queued_microtasks_controller_test.dart
  packages/devtools_app/test/screens/vm_developer/queued_microtasks/queued_microtasks_view_test.dart
  packages/devtools_app/test/screens/vm_developer/vm_developer_test_utils.dart
  packages/devtools_test/lib/src/mocks/fake_service_manager.dart
  packages/devtools_test/lib/src/mocks/fake_vm_service_wrapper.dart
Owners: @flutter/devtools-reviewers, @bkonyi

CODEOWNERS:

*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @elliette

# Network Files
network/            @bkonyi @kenzieschmoll

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll @bkonyi

# Memory files
memory/             @bkonyi @kenzieschmoll

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @kenzieschmoll

# DevTools extensions and related files
src/extensions/
packages/devtools_extensions/    @kenzieschmoll
packages/devtools_app_shared/    @kenzieschmoll

# package:devtools_shared code, which is used across DevTools and the Dart SDK
packages/devtools_shared/        @kenzieschmoll @bkonyi

# Version bump files.
# No owners to prevent version update spam
packages/devtools_app/lib/devtools.dart
packages/devtools_app/pubspec.yaml
packages/devtools_test/pubspec.yaml
