Repository flutter/devtools, changes with the owners that CODEOWNERS names for each.
All owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

Add the initial wasm by default flag
  packages/devtools_app/lib/src/shared/feature_flags.dart
Owners: @flutter/devtools-reviewers

Prepare for release 2.51.0
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Update to latest Flutter candidate
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

revert flutter-candidate.txt
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

Hook up WASM experiment flag to show WASM banner
  packages/devtools_app/lib/src/shared/feature_flags.dart
  packages/devtools_app/lib/src/shared/managers/banner_messages.dart
  packages/devtools_app/lib/src/shared/preferences/preferences.dart
  packages/devtools_app_shared/lib/src/utils/url/_url_stub.dart
  packages/devtools_app_shared/lib/src/utils/url/_url_web.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

Prepare for release 2.51.0 (#9454)
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Enable WASM experiment for Flutter beta branches (#9455)
  packages/devtools_app/lib/src/shared/feature_flags.dart
  packages/devtools_app/lib/src/shared/managers/banner_messages.dart
  packages/devtools_app/lib/src/shared/preferences/preferences.dart
  packages/devtools_app_shared/lib/src/utils/url/_url_stub.dart
  packages/devtools_app_shared/lib/src/utils/url/_url_web.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

Remove unused FakeTicker and FakeTickerProvider
  packages/devtools_app/test/test_infra/utils/rendering_tester.dart
Owners: @flutter/devtools-reviewers

Remove unused FakeTicker and FakeTickerProvider (#9459)
  packages/devtools_app/test/test_infra/utils/rendering_tester.dart
Owners: @flutter/devtools-reviewers

Apply some fixes to the Network screen tab badge
  packages/devtools_app/lib/src/framework/scaffold/app_bar.dart
  packages/devtools_app/lib/src/shared/framework/screen.dart
Owners: @flutter/devtools-reviewers

[Network Panel] Handle null data in JsonViewer (#9418)
  packages/devtools_app/lib/src/shared/ui/common_widgets.dart
Owners: @flutter/devtools-reviewers

Update to latest Flutter candidate version
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

Remove unused argument
  packages/devtools_app/benchmark/devtools_benchmarks_test.dart
  tool/ci/benchmark_performance.sh
Owners: @flutter/devtools-reviewers, @kenzieschmoll

Fix benchmark test failures erroneously passing on CI (#9403)
  tool/ci/benchmark_performance.sh
Owners: @kenzieschmoll

Add basic support for Flutter web applications served with `-d web-server`
  packages/devtools_app_shared/lib/src/service/connected_app.dart
Owners: @kenzieschmoll

Hardcode value and update comment
  packages/devtools_app/benchmark/devtools_benchmarks_test.dart
Owners: @flutter/devtools-reviewers

Format
  packages/devtools_app/benchmark/devtools_benchmarks_test.dart
Owners: @flutter/devtools-reviewers

Address comment
  packages/devtools_app_shared/lib/src/service/connected_app.dart
Owners: @kenzieschmoll

Add basic support for Flutter web applications served with `-d web-server` (#9468)
  packages/devtools_app_shared/lib/src/service/connected_app.dart
Owners: @kenzieschmoll

Add missing import
  packages/devtools_app/lib/src/framework/framework_core.dart
Owners: @flutter/devtools-reviewers

Update to latest Flutter candidate version and resolve failing benchmark tests (#9466)
  flutter-candidate.txt
  packages/devtools_app/benchmark/devtools_benchmarks_test.dart
Owners: @flutter/devtools-reviewers

Format
  packages/devtools_app/test/screens/logging/logging_controller_test.dart
  packages/devtools_app/test/screens/memory/framework/memory_controller_test.dart
Owners: @flutter/devtools-reviewers, @bkonyi, @kenzieschmoll

[Feature flag cleanup] Remove `memoryObserver` flag (#9445)
  packages/devtools_app/lib/src/framework/framework_core.dart
  packages/devtools_app/lib/src/screens/app_size/app_size_controller.dart
  packages/devtools_app/lib/src/screens/logging/logging_controller.dart
  packages/devtools_app/lib/src/screens/memory/framework/memory_controller.dart
  packages/devtools_app/lib/src/screens/network/network_controller.dart
  packages/devtools_app/lib/src/screens/performance/performance_controller.dart
  packages/devtools_app/lib/src/screens/profiler/profiler_screen_controller.dart
  packages/devtools_app/lib/src/shared/feature_flags.dart
  packages/devtools_app/test/framework/observer/memory_observer_test.dart
  packages/devtools_app/test/screens/cpu_profiler/profiler_screen_controller_test.dart
  packages/devtools_app/test/screens/logging/logging_controller_test.dart
  packages/devtools_app/test/screens/memory/framework/memory_controller_test.dart
  packages/devtools_app/test/shared/primitives/feature_flags_test.dart
Owners: @flutter/devtools-reviewers, @bkonyi, @kenzieschmoll

Don't retry test
  packages/devtools_app/benchmark/devtools_benchmarks_test.dart
Owners: @flutter/devtools-reviewers

Fix benchmark test failures erroneously passing on CI (again) (#9469)
  packages/devtools_app/benchmark/devtools_benchmarks_test.dart
Owners: @flutter/devtools-reviewers

get rid of BadgePainter
  packages/devtools_app/lib/src/shared/framework/screen.dart
Owners: @flutter/devtools-reviewers

tidy
  packages/devtools_app/lib/src/shared/framework/screen.dart
Owners: @flutter/devtools-reviewers

Handle shortcuts for actions like copy/paste when embedded inside VS Code
  packages/devtools_app/lib/src/shared/config_specific/framework_initialize/_framework_initialize_web.dart
Owners: @flutter/devtools-reviewers

Add a "copy-to-clipboard may not work" banner
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_screen.dart
  packages/devtools_app/lib/src/screens/dtd/dtd_tools_screen.dart
  packages/devtools_app/lib/src/screens/inspector_shared/inspector_screen.dart
  packages/devtools_app/lib/src/screens/logging/logging_screen.dart
  packages/devtools_app/lib/src/screens/memory/framework/memory_screen.dart
  packages/devtools_app/lib/src/screens/network/network_screen.dart
  packages/devtools_app/lib/src/screens/profiler/profiler_screen.dart
  packages/devtools_app/lib/src/shared/managers/banner_messages.dart
Owners: @flutter/devtools-reviewers, @bkonyi, @kenzieschmoll

Update release notes
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Update RELEASE_INSTRUCTIONS.md formatting
  tool/RELEASE_INSTRUCTIONS.md
Owners: @kenzieschmoll

Update RELEASE_INSTRUCTIONS.md
  tool/RELEASE_INSTRUCTIONS.md
Owners: @kenzieschmoll

Update RELEASE_INSTRUCTIONS.md formatting (#9473)
  tool/RELEASE_INSTRUCTIONS.md
Owners: @kenzieschmoll

Increase timeout limits to address flakes
  packages/devtools_app/test_driver/integration_test.dart
Owners: @flutter/devtools-reviewers

Update comment
  packages/devtools_app/test_driver/integration_test.dart
Owners: @flutter/devtools-reviewers

Bump release version
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Remove check for Code in the user agent
  packages/devtools_app/lib/src/shared/config_specific/framework_initialize/_framework_initialize_web.dart
Owners: @flutter/devtools-reviewers

Handle shortcuts for actions like copy/paste when embedded inside VS Code (#9472)
  packages/devtools_app/lib/src/shared/config_specific/framework_initialize/_framework_initialize_web.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Bump release version to 2.52.0 (#9476)
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

notes
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

CODEOWNERS:

*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @elliette

# Network Files
network/            @bkonyi @kenzieschmoll

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll @bkonyi

# Memory files
memory/             @bkonyi @kenzieschmoll

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @kenzieschmoll

# DevTools extensions and related files
src/extensions/
packages/devtools_extensions/    @kenzieschmoll
packages/devtools_app_shared/    @kenzieschmoll

# package:devtools_shared code, which is used across DevTools and the Dart SDK
packages/devtools_shared/        @kenzieschmoll @bkonyi

# Version bump files.
# No owners to prevent version update spam
packages/devtools_app/lib/devtools.dart
packages/devtools_app/pubspec.yaml
packages/devtools_test/pubspec.yaml
