Repository flutter/devtools, changes with the owners that CODEOWNERS names for each.
All owners: @flutter/devtools-reviewers, @CoderDake, @kenzieschmoll, @bkonyi, @polina-c, @elliette

CODEOWNERS:

*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @CoderDake

# Network Files
network/            @kenzieschmoll @bkonyi

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll

# Memory files
memory/             @bkonyi @polina-c

# Memory leak tracking files
memory/panes/leaks  @CoderDake @polina-c

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @CoderDake

packages/devtools_extensions/    @kenzieschmoll


# Version bump files.
# No owners to prevent version update spam
packages/devtools_app/lib/devtools.dart
packages/devtools_app/pubspec.yaml
packages/devtools_test/pubspec.yaml

update perfetto
  packages/devtools_app/pubspec.yaml
  third_party/packages/perfetto_ui_compiled/lib/index.html
  third_party/packages/perfetto_ui_compiled/lib/v43.2-fa75f6029/assets/MaterialSymbolsOutlined.woff2
  third_party/packages/perfetto_ui_compiled/lib/v43.2-fa75f6029/assets/Roboto-100.woff2
  third_party/packages/perfetto_ui_compiled/lib/v43.2-fa75f6029/assets/Roboto-300.woff2
  third_party/packages/perfetto_ui_compiled/lib/v43.2-fa75f6029/assets/Roboto-400.woff2
  third_party/packages/perfetto_ui_compiled/lib/v43.2-fa75f6029/assets/Roboto-500.woff2
  third_party/packages/perfetto_ui_compiled/lib/v43.2-fa75f6029/assets/RobotoCondensed-Light.woff2
  third_party/packages/perfetto_ui_compiled/lib/v43.2-fa75f6029/assets/RobotoCondensed-Regular.woff2
  third_party/packages/perfetto_ui_compiled/lib/v43.2-fa75f6029/assets/RobotoMono-Regular.woff2
  third_party/packages/perfetto_ui_compiled/lib/v43.2-fa75f6029/assets/brand.png
  third_party/packages/perfetto_ui_compiled/lib/v43.2-fa75f6029/assets/favicon.png
  third_party/packages/perfetto_ui_compiled/lib/v43.2-fa75f6029/assets/logo-128.png
  third_party/packages/perfetto_ui_compiled/lib/v43.2-fa75f6029/assets/logo-3d.png
  third_party/packages/perfetto_ui_compiled/lib/v43.2-fa75f6029/assets/scheduling_latency.png
  third_party/packages/perfetto_ui_compiled/lib/v43.2-fa75f6029/engine_bundle.js
  third_party/packages/perfetto_ui_compiled/lib/v43.2-fa75f6029/index.html
  third_party/packages/perfetto_ui_compiled/lib/v43.2-fa75f6029/manifest.json
  third_party/packages/perfetto_ui_compiled/lib/v43.2-fa75f6029/perfetto.css
  third_party/packages/perfetto_ui_compiled/lib/v43.2-ffde061a6/assets/MaterialSymbolsOutlined.woff2
  third_party/packages/perfetto_ui_compiled/lib/v43.2-ffde061a6/assets/Roboto-100.woff2
  third_party/packages/perfetto_ui_compiled/lib/v43.2-ffde061a6/assets/Roboto-300.woff2
  third_party/packages/perfetto_ui_compiled/lib/v43.2-ffde061a6/assets/Roboto-400.woff2
  third_party/packages/perfetto_ui_compiled/lib/v43.2-ffde061a6/assets/Roboto-500.woff2
  third_party/packages/perfetto_ui_compiled/lib/v43.2-ffde061a6/assets/RobotoCondensed-Light.woff2
  third_party/packages/perfetto_ui_compiled/lib/v43.2-ffde061a6/assets/RobotoCondensed-Regular.woff2
  third_party/packages/perfetto_ui_compiled/lib/v43.2-ffde061a6/assets/RobotoMono-Regular.woff2
  third_party/packages/perfetto_ui_compiled/lib/v43.2-ffde061a6/assets/brand.png
  third_party/packages/perfetto_ui_compiled/lib/v43.2-ffde061a6/assets/favicon.png
  third_party/packages/perfetto_ui_compiled/lib/v43.2-ffde061a6/assets/logo-128.png
  third_party/packages/perfetto_ui_compiled/lib/v43.2-ffde061a6/assets/logo-3d.png
  third_party/packages/perfetto_ui_compiled/lib/v43.2-ffde061a6/assets/scheduling_latency.png
  third_party/packages/perfetto_ui_compiled/lib/v43.2-ffde061a6/engine_bundle.js
  third_party/packages/perfetto_ui_compiled/lib/v43.2-ffde061a6/index.html
  third_party/packages/perfetto_ui_compiled/lib/v43.2-ffde061a6/manifest.json
  third_party/packages/perfetto_ui_compiled/lib/v43.2-ffde061a6/perfetto.css
Owners: @flutter/devtools-reviewers

rnotes
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Update _export_desktop.dart
  packages/devtools_app/lib/src/shared/config_specific/import_export/_export_desktop.dart
Owners: @flutter/devtools-reviewers

[deep link] Fix double borders, height, fonts (#7452)
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_link_list_view.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/validation_details_view.dart
  packages/devtools_app/lib/src/shared/common_widgets.dart
  packages/devtools_app_shared/lib/src/ui/common.dart
Owners: @flutter/devtools-reviewers

Update flutter-candidate.txt
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

goldens
  packages/devtools_app/integration_test/test_infra/goldens/perfetto_frame_selection.png
  packages/devtools_app/integration_test/test_infra/goldens/perfetto_frame_selection_2.png
  packages/devtools_app/integration_test/test_infra/goldens/perfetto_initial_load.png
Owners: @flutter/devtools-reviewers

Fix resuming for web apps
  packages/devtools_app/lib/src/screens/debugger/breakpoint_manager.dart
Owners: @elliette

strings
  packages/devtools_app/lib/src/screens/deep_link_validation/select_project_view.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/validation_details_view.dart
Owners: @flutter/devtools-reviewers

-
  packages/devtools_app/lib/src/shared/config_specific/file/_file_desktop.dart
  packages/devtools_app/lib/src/shared/config_specific/import_export/_export_desktop.dart
Owners: @flutter/devtools-reviewers

Update flutter-candidate.txt (#7458)
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

Update _file_desktop.dart
  packages/devtools_app/lib/src/shared/config_specific/file/_file_desktop.dart
Owners: @flutter/devtools-reviewers

-
  packages/devtools_app/lib/src/shared/config_specific/file/_file_desktop.dart
  packages/devtools_app/lib/src/shared/config_specific/file/_file_web.dart
  packages/devtools_app/lib/src/shared/config_specific/file/file.dart
  packages/devtools_app/lib/src/shared/config_specific/import_export/_export_desktop.dart
Owners: @flutter/devtools-reviewers

[deep links] update strings and fix typos (#7454)
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_model.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/select_project_view.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/validation_details_view.dart
Owners: @flutter/devtools-reviewers

Export on mac. (#7457)
  packages/devtools_app/lib/src/shared/config_specific/file/_file_desktop.dart
  packages/devtools_app/lib/src/shared/config_specific/file/_file_web.dart
  packages/devtools_app/lib/src/shared/config_specific/file/file.dart
  packages/devtools_app/lib/src/shared/config_specific/import_export/_export_desktop.dart
Owners: @flutter/devtools-reviewers

-
  packages/devtools_app/lib/src/shared/config_specific/file/_file_desktop.dart
  packages/devtools_app/test_driver/integration_test.dart
Owners: @flutter/devtools-reviewers

Fix resuming for web apps
  packages/devtools_app_shared/lib/src/service/isolate_manager.dart
Owners: @flutter/devtools-reviewers

Use DTD project roots instead of workspace roots for Deep links tool (#7431)
  packages/devtools_app/lib/src/screens/deep_link_validation/select_project_view.dart
  packages/devtools_app/lib/src/shared/directory_picker.dart
  packages/devtools_app/lib/src/shared/primitives/utils.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/test/deep_link_vlidation/deep_links_screen_test.dart
  packages/devtools_app/test/primitives/utils_test.dart
  packages/devtools_app_shared/CHANGELOG.md
  packages/devtools_app_shared/lib/src/service/dtd_manager.dart
  packages/devtools_app_shared/pubspec.yaml
  packages/devtools_extensions/CHANGELOG.md
  packages/devtools_extensions/pubspec.yaml
  packages/devtools_shared/CHANGELOG.md
  packages/devtools_shared/pubspec.yaml
Owners: @flutter/devtools-reviewers, @kenzieschmoll

Organize files in deep link folder
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_screen.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/project_root_selection/root_selector.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/project_root_selection/select_project_view.dart
  packages/devtools_app/test/deep_link_vlidation/deep_links_screen_test.dart
Owners: @flutter/devtools-reviewers

- (#7459)
  packages/devtools_app/lib/src/shared/config_specific/file/_file_desktop.dart
  packages/devtools_app/test_driver/integration_test.dart
Owners: @flutter/devtools-reviewers

Fix bug with selecting flutter frames
  packages/devtools_app/lib/src/screens/performance/panes/timeline_events/timeline_events_controller.dart
Owners: @kenzieschmoll

Organize files in deep link folder (#7460)
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_screen.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/project_root_selection/root_selector.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/project_root_selection/select_project_view.dart
  packages/devtools_app/test/deep_link_vlidation/deep_links_screen_test.dart
Owners: @flutter/devtools-reviewers

add helper
  packages/devtools_app/lib/src/screens/performance/panes/timeline_events/timeline_event_processor.dart
Owners: @kenzieschmoll

-
  packages/devtools_app/lib/src/screens/memory/framework/connected/memory_controller.dart
  packages/devtools_app/test/memory/framework/memory_controller_test.dart
Owners: @bkonyi, @polina-c

-
  packages/devtools_app/test/memory/diff/controller/memory_footprint_test.dart
  packages/devtools_app/test/memory/framework/memory_controller_test.dart
  packages/devtools_app/test/memory/framework/memory_screen_test.dart
  packages/devtools_app/test/memory/framework/memory_service_test.dart
  packages/devtools_app/test/memory/memory_footprint_test.dart
Owners: @bkonyi, @polina-c

Update RELEASE_INSTRUCTIONS.md
  tool/RELEASE_INSTRUCTIONS.md
Owners: @CoderDake

-
  packages/devtools_app/lib/src/screens/memory/framework/connected/memory_controller.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/controller/diff_pane_controller.dart
  packages/devtools_app/lib/src/screens/memory/panes/profile/profile_pane_controller.dart
  packages/devtools_app/lib/src/screens/memory/shared/heap/class_filter.dart
  packages/devtools_app/macos/Runner.xcodeproj/project.pbxproj
  packages/devtools_app/test/memory/framework/memory_controller_test.dart
Owners: @bkonyi, @polina-c, @flutter/devtools-reviewers

Update memory_controller_test.dart
  packages/devtools_app/test/memory/framework/memory_controller_test.dart
Owners: @bkonyi, @polina-c

Update NEXT_RELEASE_NOTES.md
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Add a loading overlay when Perfetto UI is proecessing trace
  packages/devtools_app/lib/src/screens/performance/panes/controls/performance_controls.dart
  packages/devtools_app/lib/src/screens/performance/panes/timeline_events/timeline_events_controller.dart
  packages/devtools_app/lib/src/screens/performance/panes/timeline_events/timeline_events_view.dart
  packages/devtools_app/lib/src/shared/future_work_tracker.dart
Owners: @kenzieschmoll, @flutter/devtools-reviewers

Updating from 2.34.0-dev.14 to 2.34.0-dev.15
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_test/pubspec.yaml
Owners: none

Changing Flutter Candidate to 3.21.0-14.0.pre
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

Changing Flutter Candidate to 3.21.0-14.0.pre (#7465)
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

Update memory_controller.dart
  packages/devtools_app/lib/src/screens/memory/framework/connected/memory_controller.dart
Owners: @bkonyi, @polina-c

Update utils.dart
  tool/lib/utils.dart
Owners: @CoderDake

Update utils.dart
  tool/lib/utils.dart
Owners: @CoderDake

Reuse class filter between diff and profile tabs. (#7462)
  packages/devtools_app/lib/src/screens/memory/framework/connected/memory_controller.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/controller/diff_pane_controller.dart
  packages/devtools_app/lib/src/screens/memory/panes/profile/profile_pane_controller.dart
  packages/devtools_app/lib/src/screens/memory/shared/heap/class_filter.dart
  packages/devtools_app/macos/Runner.xcodeproj/project.pbxproj
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/test/memory/diff/controller/memory_footprint_test.dart
  packages/devtools_app/test/memory/framework/memory_controller_test.dart
  packages/devtools_app/test/memory/framework/memory_screen_test.dart
  packages/devtools_app/test/memory/framework/memory_service_test.dart
  packages/devtools_app/test/memory/memory_footprint_test.dart
Owners: @bkonyi, @polina-c, @flutter/devtools-reviewers

Update utils.dart
  tool/lib/utils.dart
Owners: @CoderDake

Update utils.dart
  tool/lib/utils.dart
Owners: @CoderDake

Update utils.dart
  tool/lib/utils.dart
Owners: @CoderDake

Update utils.dart
  tool/lib/utils.dart
Owners: @CoderDake
