Repository flutter/devtools, changes with the owners that CODEOWNERS names for each.
All owners: @flutter/devtools-reviewers, @CoderDake, @kenzieschmoll, @bkonyi, @polina-c, @elliette

Update README.md
  packages/devtools_app/integration_test/README.md
Owners: @flutter/devtools-reviewers

-
  packages/devtools_app/integration_test/run_tests.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/widgets/snapshot_list.dart
  packages/devtools_app/lib/src/shared/feature_flags.dart
Owners: @flutter/devtools-reviewers, @bkonyi, @polina-c

Update feature_flags.dart
  packages/devtools_app/lib/src/shared/feature_flags.dart
Owners: @flutter/devtools-reviewers

update build
  third_party/packages/perfetto_ui_compiled/lib/v43.2-fee912c85/manifest.json
Owners: @flutter/devtools-reviewers

-
  packages/devtools_app/integration_test/run_tests.dart
  packages/devtools_app/lib/src/shared/feature_flags.dart
Owners: @flutter/devtools-reviewers

Update run_tests.dart
  packages/devtools_app/integration_test/run_tests.dart
Owners: @flutter/devtools-reviewers

revert to using seconds
  packages/devtools_app/lib/src/screens/performance/panes/timeline_events/perfetto/_perfetto_web.dart
Owners: @kenzieschmoll

Update run_tests.dart
  packages/devtools_app/integration_test/run_tests.dart
Owners: @flutter/devtools-reviewers

update build
  packages/devtools_app/pubspec.yaml
  third_party/packages/perfetto_ui_compiled/lib/index.html
  third_party/packages/perfetto_ui_compiled/lib/v43.2-fa75f6029/assets/MaterialSymbolsOutlined.woff2
  third_party/packages/perfetto_ui_compiled/lib/v43.2-fa75f6029/assets/Roboto-100.woff2
  third_party/packages/perfetto_ui_compiled/lib/v43.2-fa75f6029/assets/Roboto-300.woff2
  third_party/packages/perfetto_ui_compiled/lib/v43.2-fa75f6029/assets/Roboto-400.woff2
  third_party/packages/perfetto_ui_compiled/lib/v43.2-fa75f6029/assets/Roboto-500.woff2
  third_party/packages/perfetto_ui_compiled/lib/v43.2-fa75f6029/assets/RobotoCondensed-Light.woff2
  third_party/packages/perfetto_ui_compiled/lib/v43.2-fa75f6029/assets/RobotoCondensed-Regular.woff2
  third_party/packages/perfetto_ui_compiled/lib/v43.2-fa75f6029/assets/RobotoMono-Regular.woff2
  third_party/packages/perfetto_ui_compiled/lib/v43.2-fa75f6029/assets/brand.png
  third_party/packages/perfetto_ui_compiled/lib/v43.2-fa75f6029/assets/favicon.png
  third_party/packages/perfetto_ui_compiled/lib/v43.2-fa75f6029/assets/logo-128.png
  third_party/packages/perfetto_ui_compiled/lib/v43.2-fa75f6029/assets/logo-3d.png
  third_party/packages/perfetto_ui_compiled/lib/v43.2-fa75f6029/assets/scheduling_latency.png
  third_party/packages/perfetto_ui_compiled/lib/v43.2-fa75f6029/engine_bundle.js
  third_party/packages/perfetto_ui_compiled/lib/v43.2-fa75f6029/index.html
  third_party/packages/perfetto_ui_compiled/lib/v43.2-fa75f6029/manifest.json
  third_party/packages/perfetto_ui_compiled/lib/v43.2-fa75f6029/perfetto.css
  third_party/packages/perfetto_ui_compiled/lib/v43.2-fee912c85/assets/MaterialSymbolsOutlined.woff2
  third_party/packages/perfetto_ui_compiled/lib/v43.2-fee912c85/assets/Roboto-100.woff2
  third_party/packages/perfetto_ui_compiled/lib/v43.2-fee912c85/assets/Roboto-300.woff2
  third_party/packages/perfetto_ui_compiled/lib/v43.2-fee912c85/assets/Roboto-400.woff2
  third_party/packages/perfetto_ui_compiled/lib/v43.2-fee912c85/assets/Roboto-500.woff2
  third_party/packages/perfetto_ui_compiled/lib/v43.2-fee912c85/assets/RobotoCondensed-Light.woff2
  third_party/packages/perfetto_ui_compiled/lib/v43.2-fee912c85/assets/RobotoCondensed-Regular.woff2
  third_party/packages/perfetto_ui_compiled/lib/v43.2-fee912c85/assets/RobotoMono-Regular.woff2
  third_party/packages/perfetto_ui_compiled/lib/v43.2-fee912c85/assets/brand.png
  third_party/packages/perfetto_ui_compiled/lib/v43.2-fee912c85/assets/favicon.png
  third_party/packages/perfetto_ui_compiled/lib/v43.2-fee912c85/assets/logo-128.png
  third_party/packages/perfetto_ui_compiled/lib/v43.2-fee912c85/assets/logo-3d.png
  third_party/packages/perfetto_ui_compiled/lib/v43.2-fee912c85/assets/scheduling_latency.png
  third_party/packages/perfetto_ui_compiled/lib/v43.2-fee912c85/engine_bundle.js
  third_party/packages/perfetto_ui_compiled/lib/v43.2-fee912c85/index.html
  third_party/packages/perfetto_ui_compiled/lib/v43.2-fee912c85/manifest.json
  third_party/packages/perfetto_ui_compiled/lib/v43.2-fee912c85/perfetto.css
Owners: @flutter/devtools-reviewers

Fix export. (#7439)
  packages/devtools_app/integration_test/run_tests.dart
  packages/devtools_app/integration_test/test/live_connection/eval_and_browse_test.dart
  packages/devtools_app/integration_test/test/live_connection/eval_utils.dart
  packages/devtools_app/integration_test/test/live_connection/export_snapshot_test.dart
  packages/devtools_app/integration_test/test/live_connection/memory_screen_helpers.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/controller/diff_pane_controller.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/widgets/snapshot_list.dart
  packages/devtools_app/lib/src/shared/config_specific/import_export/_export_desktop.dart
  packages/devtools_app/lib/src/shared/config_specific/import_export/_export_web.dart
  packages/devtools_app/lib/src/shared/config_specific/import_export/import_export.dart
  packages/devtools_app/lib/src/shared/feature_flags.dart
  packages/devtools_app/lib/src/shared/memory/heap_graph_loader.dart
  packages/devtools_app/lib/src/shared/memory/simple_items.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers, @bkonyi, @polina-c

Optimize FlatTable rows using slivers (#7391)
  packages/devtools_app/lib/src/screens/network/network_screen.dart
  packages/devtools_app/lib/src/shared/table/_table_row.dart
  packages/devtools_app/lib/src/shared/table/table.dart
  packages/devtools_app/lib/src/shared/table/table_data.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/test/test_infra/goldens/memory_diff_empty1.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_empty2.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_selected_class.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_except_diff.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_except_single.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_scene_diff.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_scene_single.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_showAll_diff.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_showAll_single.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_three_snapshots1.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_three_snapshots2.png
Owners: @kenzieschmoll, @bkonyi, @flutter/devtools-reviewers

-
  packages/devtools_app/lib/src/screens/memory/panes/diff/widgets/snapshot_list.dart
  packages/devtools_app/lib/src/screens/performance/panes/controls/more_debugging_options.dart
  packages/devtools_app/lib/src/screens/performance/panes/frame_analysis/frame_analysis.dart
  packages/devtools_app/lib/src/screens/performance/performance_controller.dart
  packages/devtools_app/lib/src/screens/performance/tabbed_performance_view.dart
  packages/devtools_app/lib/src/shared/feature_flags.dart
  packages/devtools_app/test/test_infra/scenes/performance/default.dart
Owners: @bkonyi, @polina-c, @kenzieschmoll, @flutter/devtools-reviewers

[deep link] Fix the issue that table is not updated when user change sorting option. (#7432)
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_link_list_view.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_model.dart
  packages/devtools_app/lib/src/shared/table/_flat_table.dart
  packages/devtools_app/lib/src/shared/table/table_data.dart
  packages/devtools_app/test/deep_link_vlidation/deep_links_screen_test.dart
Owners: @flutter/devtools-reviewers

[deep link] Update `recheck` button (#7441)
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_controller.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/validation_details_view.dart
Owners: @flutter/devtools-reviewers

-
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

add error ignore and change integration test
  packages/devtools_app/integration_test/test/offline/perfetto_test.dart
  third_party/packages/perfetto_ui_compiled/lib/v43.2-fa75f6029/manifest.json
Owners: @flutter/devtools-reviewers

Update NEXT_RELEASE_NOTES.md
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Update run_tests.dart
  packages/devtools_app/integration_test/run_tests.dart
Owners: @flutter/devtools-reviewers

goldens
  packages/devtools_app/integration_test/test_infra/goldens/perfetto_frame_selection.png
  packages/devtools_app/integration_test/test_infra/goldens/perfetto_frame_selection_2.png
  packages/devtools_app/integration_test/test_infra/goldens/perfetto_initial_load.png
Owners: @flutter/devtools-reviewers

Remove feature flag from export snapshot. (#7449)
  packages/devtools_app/lib/src/screens/memory/panes/diff/widgets/snapshot_list.dart
  packages/devtools_app/lib/src/screens/performance/panes/controls/more_debugging_options.dart
  packages/devtools_app/lib/src/screens/performance/panes/frame_analysis/frame_analysis.dart
  packages/devtools_app/lib/src/screens/performance/performance_controller.dart
  packages/devtools_app/lib/src/screens/performance/tabbed_performance_view.dart
  packages/devtools_app/lib/src/shared/feature_flags.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/test/test_infra/scenes/performance/default.dart
Owners: @bkonyi, @polina-c, @kenzieschmoll, @flutter/devtools-reviewers

ui fixes
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_link_list_view.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/validation_details_view.dart
  packages/devtools_app/lib/src/shared/common_widgets.dart
Owners: @flutter/devtools-reviewers

Add ending `/` to inferred package directories in the inspector settings (#7353)
  packages/devtools_app/lib/src/screens/inspector/inspector_screen.dart
  packages/devtools_app/lib/src/shared/preferences/_inspector_preferences.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/test/shared/preferences_controller_test.dart
Owners: @CoderDake, @flutter/devtools-reviewers

Changing Flutter Candidate to 3.21.0-14.0.pre
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

update menu button
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_link_list_view.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/validation_details_view.dart
  packages/devtools_app/lib/src/shared/common_widgets.dart
  packages/devtools_app_shared/lib/src/ui/theme/theme.dart
Owners: @flutter/devtools-reviewers

lint
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_link_list_view.dart
  packages/devtools_app_shared/lib/src/ui/theme/theme.dart
Owners: @flutter/devtools-reviewers

Update common_widgets.dart
  packages/devtools_app/lib/src/shared/common_widgets.dart
Owners: @flutter/devtools-reviewers

Update RELEASE_INSTRUCTIONS.md
  tool/RELEASE_INSTRUCTIONS.md
Owners: @CoderDake

Update RELEASE_INSTRUCTIONS.md
  tool/RELEASE_INSTRUCTIONS.md
Owners: @CoderDake

Changing Flutter Candidate to 3.21.0-14.0.pre (#7451)
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

Update RELEASE_INSTRUCTIONS.md
  tool/RELEASE_INSTRUCTIONS.md
Owners: @CoderDake

strings
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_model.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/select_project_view.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/validation_details_view.dart
Owners: @flutter/devtools-reviewers

Update RELEASE_INSTRUCTIONS.md
  tool/RELEASE_INSTRUCTIONS.md
Owners: @CoderDake

Update flutter-candidate.txt
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

resolve comments
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_link_list_view.dart
  packages/devtools_app_shared/lib/src/ui/theme/theme.dart
Owners: @flutter/devtools-reviewers

Update common_widgets.dart
  packages/devtools_app/lib/src/shared/common_widgets.dart
Owners: @flutter/devtools-reviewers

Update deep_link_list_view.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_link_list_view.dart
Owners: @flutter/devtools-reviewers

-
  packages/devtools_app/lib/src/shared/config_specific/file/_file_desktop.dart
  packages/devtools_app/lib/src/shared/config_specific/file/_file_web.dart
  packages/devtools_app/lib/src/shared/config_specific/file/file.dart
  packages/devtools_app/lib/src/shared/config_specific/import_export/_export_desktop.dart
Owners: @flutter/devtools-reviewers

Update common.dart
  packages/devtools_app_shared/lib/src/ui/common.dart
Owners: @flutter/devtools-reviewers

Update perfetto assets to use `expandAllTrackGroups` API
  packages/devtools_app/lib/src/screens/performance/panes/timeline_events/perfetto/_perfetto_web.dart
Owners: @kenzieschmoll

Update flutter-candidate.txt (#7455)
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

CODEOWNERS:

*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @CoderDake

# Network Files
network/            @kenzieschmoll @bkonyi

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll

# Memory files
memory/             @bkonyi @polina-c

# Memory leak tracking files
memory/panes/leaks  @CoderDake @polina-c

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @CoderDake

packages/devtools_extensions/    @kenzieschmoll


# Version bump files.
# No owners to prevent version update spam
packages/devtools_app/lib/devtools.dart
packages/devtools_app/pubspec.yaml
packages/devtools_test/pubspec.yaml
