Repository flutter/devtools, changes with the owners that CODEOWNERS names for each.
All owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

Add `onDevToolsInitialized` parameter to initialization logic
  packages/devtools_app/lib/initialization.dart
Owners: @flutter/devtools-reviewers

Add `onDevToolsInitialized` parameter to initialization logic (#8700)
  packages/devtools_app/lib/initialization.dart
Owners: @flutter/devtools-reviewers

License update - Batch 2 (#8670)
  case_study/code_size/optimized/README.md
  case_study/code_size/optimized/code_size_images/README.md
  case_study/code_size/optimized/code_size_images/android/app/build.gradle
  case_study/code_size/optimized/code_size_images/android/app/src/debug/AndroidManifest.xml
  case_study/code_size/optimized/code_size_images/android/app/src/main/AndroidManifest.xml
  case_study/code_size/optimized/code_size_images/android/app/src/main/res/drawable/launch_background.xml
  case_study/code_size/optimized/code_size_images/android/app/src/main/res/values/styles.xml
  case_study/code_size/optimized/code_size_images/android/app/src/profile/AndroidManifest.xml
  case_study/code_size/optimized/code_size_images/android/build.gradle
  case_study/code_size/optimized/code_size_images/android/settings.gradle
  case_study/code_size/optimized/code_size_images/ios/Runner/AppDelegate.swift
  case_study/code_size/optimized/code_size_images/ios/Runner/Assets.xcassets/LaunchImage.imageset/README.md
  case_study/code_size/optimized/code_size_images/ios/Runner/Runner-Bridging-Header.h
  case_study/code_size/optimized/code_size_images/lib/animals.dart
  case_study/code_size/optimized/code_size_images/lib/main.dart
  case_study/code_size/optimized/code_size_images/macos/Flutter/GeneratedPluginRegistrant.swift
  case_study/code_size/optimized/code_size_images/macos/Runner/AppDelegate.swift
  case_study/code_size/optimized/code_size_images/macos/Runner/MainFlutterWindow.swift
  case_study/code_size/optimized/code_size_images/pubspec.yaml
  case_study/code_size/optimized/code_size_images/test/widget_test.dart
  case_study/code_size/optimized/code_size_images/web/index.html
  case_study/code_size/optimized/code_size_package/README.md
  case_study/code_size/optimized/code_size_package/android/app/build.gradle
  case_study/code_size/optimized/code_size_package/android/app/src/debug/AndroidManifest.xml
  case_study/code_size/optimized/code_size_package/android/app/src/main/AndroidManifest.xml
  case_study/code_size/optimized/code_size_package/android/app/src/main/res/drawable/launch_background.xml
  case_study/code_size/optimized/code_size_package/android/app/src/main/res/values/styles.xml
  case_study/code_size/optimized/code_size_package/android/app/src/profile/AndroidManifest.xml
  case_study/code_size/optimized/code_size_package/android/build.gradle
  case_study/code_size/optimized/code_size_package/android/settings.gradle
  case_study/code_size/optimized/code_size_package/ios/Runner/AppDelegate.swift
  case_study/code_size/optimized/code_size_package/ios/Runner/Assets.xcassets/LaunchImage.imageset/README.md
  case_study/code_size/optimized/code_size_package/ios/Runner/Runner-Bridging-Header.h
  case_study/code_size/optimized/code_size_package/lib/main.dart
  case_study/code_size/optimized/code_size_package/macos/Flutter/GeneratedPluginRegistrant.swift
  case_study/code_size/optimized/code_size_package/macos/Runner/AppDelegate.swift
  case_study/code_size/optimized/code_size_package/macos/Runner/MainFlutterWindow.swift
  case_study/code_size/optimized/code_size_package/pubspec.yaml
  case_study/code_size/optimized/code_size_package/test/widget_test.dart
  case_study/code_size/optimized/code_size_package/web/index.html
Owners: @flutter/devtools-reviewers

license update - batch 3 (#8674)
  case_study/code_size/unoptimized/README.md
  case_study/code_size/unoptimized/code_size_images/README.md
  case_study/code_size/unoptimized/code_size_images/android/app/build.gradle
  case_study/code_size/unoptimized/code_size_images/android/app/src/debug/AndroidManifest.xml
  case_study/code_size/unoptimized/code_size_images/android/app/src/main/AndroidManifest.xml
  case_study/code_size/unoptimized/code_size_images/android/app/src/main/res/drawable/launch_background.xml
  case_study/code_size/unoptimized/code_size_images/android/app/src/main/res/values/styles.xml
  case_study/code_size/unoptimized/code_size_images/android/app/src/profile/AndroidManifest.xml
  case_study/code_size/unoptimized/code_size_images/android/build.gradle
  case_study/code_size/unoptimized/code_size_images/android/settings.gradle
  case_study/code_size/unoptimized/code_size_images/ios/Runner/AppDelegate.swift
  case_study/code_size/unoptimized/code_size_images/ios/Runner/Assets.xcassets/LaunchImage.imageset/README.md
  case_study/code_size/unoptimized/code_size_images/ios/Runner/Runner-Bridging-Header.h
  case_study/code_size/unoptimized/code_size_images/lib/animals.dart
  case_study/code_size/unoptimized/code_size_images/lib/main.dart
  case_study/code_size/unoptimized/code_size_images/macos/Flutter/GeneratedPluginRegistrant.swift
  case_study/code_size/unoptimized/code_size_images/macos/Runner/AppDelegate.swift
  case_study/code_size/unoptimized/code_size_images/macos/Runner/MainFlutterWindow.swift
  case_study/code_size/unoptimized/code_size_images/pubspec.yaml
  case_study/code_size/unoptimized/code_size_images/test/widget_test.dart
  case_study/code_size/unoptimized/code_size_images/web/index.html
  case_study/code_size/unoptimized/code_size_package/README.md
  case_study/code_size/unoptimized/code_size_package/android/app/build.gradle
  case_study/code_size/unoptimized/code_size_package/android/app/src/debug/AndroidManifest.xml
  case_study/code_size/unoptimized/code_size_package/android/app/src/main/AndroidManifest.xml
  case_study/code_size/unoptimized/code_size_package/android/app/src/main/res/drawable/launch_background.xml
  case_study/code_size/unoptimized/code_size_package/android/app/src/main/res/values/styles.xml
  case_study/code_size/unoptimized/code_size_package/android/app/src/profile/AndroidManifest.xml
  case_study/code_size/unoptimized/code_size_package/android/build.gradle
  case_study/code_size/unoptimized/code_size_package/android/settings.gradle
  case_study/code_size/unoptimized/code_size_package/ios/Runner/AppDelegate.swift
  case_study/code_size/unoptimized/code_size_package/ios/Runner/Assets.xcassets/LaunchImage.imageset/README.md
  case_study/code_size/unoptimized/code_size_package/ios/Runner/Runner-Bridging-Header.h
  case_study/code_size/unoptimized/code_size_package/lib/main.dart
  case_study/code_size/unoptimized/code_size_package/macos/Flutter/GeneratedPluginRegistrant.swift
  case_study/code_size/unoptimized/code_size_package/macos/Runner/AppDelegate.swift
  case_study/code_size/unoptimized/code_size_package/macos/Runner/MainFlutterWindow.swift
  case_study/code_size/unoptimized/code_size_package/pubspec.yaml
  case_study/code_size/unoptimized/code_size_package/test/widget_test.dart
  case_study/code_size/unoptimized/code_size_package/web/index.html
Owners: @flutter/devtools-reviewers

license update - batch 4 (#8677)
  case_study/memory_leaks/images_1/README.md
  case_study/memory_leaks/images_1/analysis_options.yaml
  case_study/memory_leaks/images_1/android/app/build.gradle
  case_study/memory_leaks/images_1/android/app/src/debug/AndroidManifest.xml
  case_study/memory_leaks/images_1/android/app/src/main/AndroidManifest.xml
  case_study/memory_leaks/images_1/android/app/src/main/res/drawable-v21/launch_background.xml
  case_study/memory_leaks/images_1/android/app/src/main/res/drawable/launch_background.xml
  case_study/memory_leaks/images_1/android/app/src/main/res/values-night/styles.xml
  case_study/memory_leaks/images_1/android/app/src/main/res/values/styles.xml
  case_study/memory_leaks/images_1/android/app/src/profile/AndroidManifest.xml
  case_study/memory_leaks/images_1/android/build.gradle
  case_study/memory_leaks/images_1/android/settings.gradle
  case_study/memory_leaks/images_1/ios/Runner/AppDelegate.swift
  case_study/memory_leaks/images_1/ios/Runner/Assets.xcassets/LaunchImage.imageset/README.md
  case_study/memory_leaks/images_1/ios/Runner/Runner-Bridging-Header.h
  case_study/memory_leaks/images_1/lib/main.dart
  case_study/memory_leaks/images_1/macos/Runner/AppDelegate.swift
  case_study/memory_leaks/images_1/macos/Runner/MainFlutterWindow.swift
  case_study/memory_leaks/images_1/pubspec.yaml
  case_study/memory_leaks/images_1/web/README.md
  case_study/memory_leaks/images_1/web/index.html
  case_study/memory_leaks/images_1/windows/runner/flutter_window.cpp
  case_study/memory_leaks/images_1/windows/runner/flutter_window.h
  case_study/memory_leaks/images_1/windows/runner/main.cpp
  case_study/memory_leaks/images_1/windows/runner/resource.h
  case_study/memory_leaks/images_1/windows/runner/utils.cpp
  case_study/memory_leaks/images_1/windows/runner/utils.h
  case_study/memory_leaks/images_1/windows/runner/win32_window.cpp
  case_study/memory_leaks/images_1/windows/runner/win32_window.h
Owners: @flutter/devtools-reviewers

license update - batch 5 (#8678)
  case_study/memory_leaks/leaking_counter_1/README.md
  case_study/memory_leaks/leaking_counter_1/analysis_options.yaml
  case_study/memory_leaks/leaking_counter_1/android/app/build.gradle
  case_study/memory_leaks/leaking_counter_1/android/app/src/debug/AndroidManifest.xml
  case_study/memory_leaks/leaking_counter_1/android/app/src/main/AndroidManifest.xml
  case_study/memory_leaks/leaking_counter_1/android/app/src/main/res/drawable-v21/launch_background.xml
  case_study/memory_leaks/leaking_counter_1/android/app/src/main/res/drawable/launch_background.xml
  case_study/memory_leaks/leaking_counter_1/android/app/src/main/res/values-night/styles.xml
  case_study/memory_leaks/leaking_counter_1/android/app/src/main/res/values/styles.xml
  case_study/memory_leaks/leaking_counter_1/android/app/src/profile/AndroidManifest.xml
  case_study/memory_leaks/leaking_counter_1/android/build.gradle
  case_study/memory_leaks/leaking_counter_1/android/settings.gradle
  case_study/memory_leaks/leaking_counter_1/ios/Runner/AppDelegate.swift
  case_study/memory_leaks/leaking_counter_1/ios/Runner/Assets.xcassets/LaunchImage.imageset/README.md
  case_study/memory_leaks/leaking_counter_1/ios/Runner/Runner-Bridging-Header.h
  case_study/memory_leaks/leaking_counter_1/lib/main.dart
  case_study/memory_leaks/leaking_counter_1/linux/main.cc
  case_study/memory_leaks/leaking_counter_1/linux/my_application.cc
  case_study/memory_leaks/leaking_counter_1/linux/my_application.h
  case_study/memory_leaks/leaking_counter_1/macos/Runner/AppDelegate.swift
  case_study/memory_leaks/leaking_counter_1/macos/Runner/MainFlutterWindow.swift
  case_study/memory_leaks/leaking_counter_1/pubspec.yaml
  case_study/memory_leaks/leaking_counter_1/test/widget_test.dart
  case_study/memory_leaks/leaking_counter_1/web/index.html
  case_study/memory_leaks/leaking_counter_1/windows/runner/flutter_window.cpp
  case_study/memory_leaks/leaking_counter_1/windows/runner/flutter_window.h
  case_study/memory_leaks/leaking_counter_1/windows/runner/main.cpp
  case_study/memory_leaks/leaking_counter_1/windows/runner/resource.h
  case_study/memory_leaks/leaking_counter_1/windows/runner/utils.cpp
  case_study/memory_leaks/leaking_counter_1/windows/runner/utils.h
  case_study/memory_leaks/leaking_counter_1/windows/runner/win32_window.cpp
  case_study/memory_leaks/leaking_counter_1/windows/runner/win32_window.h
Owners: @flutter/devtools-reviewers

license update - batch 7 (#8680)
  case_study/platform_channel/README.md
  case_study/platform_channel/android/app/build.gradle
  case_study/platform_channel/android/app/src/debug/AndroidManifest.xml
  case_study/platform_channel/android/app/src/main/AndroidManifest.xml
  case_study/platform_channel/android/app/src/main/res/drawable/launch_background.xml
  case_study/platform_channel/android/app/src/main/res/values/styles.xml
  case_study/platform_channel/android/app/src/profile/AndroidManifest.xml
  case_study/platform_channel/android/build.gradle
  case_study/platform_channel/android/settings.gradle
  case_study/platform_channel/ios/Runner/AppDelegate.swift
  case_study/platform_channel/ios/Runner/Assets.xcassets/LaunchImage.imageset/README.md
  case_study/platform_channel/ios/Runner/Runner-Bridging-Header.h
  case_study/platform_channel/lib/channel_demo.dart
  case_study/platform_channel/lib/main.dart
  case_study/platform_channel/pubspec.yaml
  case_study/platform_channel/test/widget_test.dart
  case_study/platform_channel/web/index.html
Owners: @flutter/devtools-reviewers

license update - batch 8 (#8681)
  packages/devtools_app/README.md
  packages/devtools_app/analysis_options.yaml
  packages/devtools_app/dart_test.yaml
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/release_notes/README.md
  packages/devtools_app/release_notes/helpers/release_notes_template.md
  packages/devtools_app/test/README.md
  packages/devtools_app/test/integration_test_infra/in_file_args_test.dart
Owners: @flutter/devtools-reviewers

license update - batch 9 (#8682)
  packages/devtools_app/benchmark/README.md
  packages/devtools_app/benchmark/devtools_benchmarks_test.dart
  packages/devtools_app/benchmark/scripts/args.dart
  packages/devtools_app/benchmark/scripts/compare_benchmarks.dart
  packages/devtools_app/benchmark/scripts/dart2wasm_performance_diff.dart
  packages/devtools_app/benchmark/scripts/run_benchmarks.dart
  packages/devtools_app/benchmark/test_infra/automators/_cpu_profiler_automator.dart
  packages/devtools_app/benchmark/test_infra/automators/_performance_automator.dart
  packages/devtools_app/benchmark/test_infra/automators/devtools_automator.dart
  packages/devtools_app/benchmark/test_infra/client/client_js.dart
  packages/devtools_app/benchmark/test_infra/client/client_shared.dart
  packages/devtools_app/benchmark/test_infra/client/client_wasm.dart
  packages/devtools_app/benchmark/test_infra/common.dart
  packages/devtools_app/benchmark/test_infra/devtools_recorder.dart
  packages/devtools_app/benchmark/test_infra/project_root_directory.dart
  packages/devtools_app/benchmark/web_bundle_size_test.dart
Owners: @flutter/devtools-reviewers

license update - batch 10 (#8683)
  packages/devtools_app/integration_test/README.md
  packages/devtools_app/integration_test/run_tests.dart
  packages/devtools_app/integration_test/test/live_connection/app_test.dart
  packages/devtools_app/integration_test/test/live_connection/debugger_panel_test.dart
  packages/devtools_app/integration_test/test/live_connection/devtools_extensions_test.dart
  packages/devtools_app/integration_test/test/live_connection/eval_and_browse_test.dart
  packages/devtools_app/integration_test/test/live_connection/eval_and_inspect_test.dart
  packages/devtools_app/integration_test/test/live_connection/eval_utils.dart
  packages/devtools_app/integration_test/test/live_connection/export_snapshot_test.dart
  packages/devtools_app/integration_test/test/live_connection/memory_screen_helpers.dart
  packages/devtools_app/integration_test/test/live_connection/performance_screen_event_recording_test.dart
  packages/devtools_app/integration_test/test/live_connection/service_connection_test.dart
  packages/devtools_app/integration_test/test/live_connection/service_extensions_test.dart
  packages/devtools_app/integration_test/test/offline/memory_offline_data_test.dart
  packages/devtools_app/integration_test/test/offline/perfetto_test.dart
Owners: @flutter/devtools-reviewers

license update - batch 11 (#8686)
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/lib/devtools_app.dart
  packages/devtools_app/lib/initialization.dart
  packages/devtools_app/lib/main.dart
  packages/devtools_app/lib/src/app.dart
  packages/devtools_app/lib/src/example/conditional_screen.dart
Owners: @flutter/devtools-reviewers

license update - batch 12 (#8689)
  packages/devtools_app/lib/src/extensions/embedded/_controller_desktop.dart
  packages/devtools_app/lib/src/extensions/embedded/_controller_web.dart
  packages/devtools_app/lib/src/extensions/embedded/_view_desktop.dart
  packages/devtools_app/lib/src/extensions/embedded/_view_web.dart
  packages/devtools_app/lib/src/extensions/embedded/controller.dart
  packages/devtools_app/lib/src/extensions/embedded/view.dart
  packages/devtools_app/lib/src/extensions/extension_screen.dart
  packages/devtools_app/lib/src/extensions/extension_screen_controls.dart
  packages/devtools_app/lib/src/extensions/extension_service.dart
  packages/devtools_app/lib/src/extensions/extension_service_helpers.dart
  packages/devtools_app/lib/src/extensions/extension_settings.dart
  packages/devtools_app/test/extensions/extension_analytics_test.dart
  packages/devtools_app/test/extensions/extension_screen_test.dart
  packages/devtools_app/test/extensions/extension_service_helpers_test.dart
  packages/devtools_app/test/extensions/extension_service_test.dart
  packages/devtools_app/test/extensions/extension_settings_test.dart
Owners: @flutter/devtools-reviewers

license update - batch 13 (#8691)
  packages/devtools_app/lib/src/framework/README.md
  packages/devtools_app/lib/src/framework/disconnect_observer.dart
  packages/devtools_app/lib/src/framework/framework_core.dart
  packages/devtools_app/lib/src/framework/home_screen.dart
  packages/devtools_app/lib/src/framework/initializer.dart
  packages/devtools_app/lib/src/framework/notifications_view.dart
  packages/devtools_app/lib/src/framework/release_notes.dart
  packages/devtools_app/lib/src/framework/scaffold/about_dialog.dart
  packages/devtools_app/lib/src/framework/scaffold/app_bar.dart
  packages/devtools_app/lib/src/framework/scaffold/report_feedback_button.dart
  packages/devtools_app/lib/src/framework/scaffold/scaffold.dart
  packages/devtools_app/lib/src/framework/scaffold/settings_dialog.dart
  packages/devtools_app/lib/src/framework/scaffold/status_line.dart
  packages/devtools_app/lib/src/framework/theme_manager.dart
  packages/devtools_app/test/framework/disconnect_observer_test.dart
  packages/devtools_app/test/framework/home_screen_test.dart
  packages/devtools_app/test/framework/initializer_test.dart
  packages/devtools_app/test/framework/notifications_test.dart
  packages/devtools_app/test/framework/release_notes_test.dart
  packages/devtools_app/test/framework/scaffold/about_dialog_test.dart
  packages/devtools_app/test/framework/scaffold/scaffold_debugger_test.dart
  packages/devtools_app/test/framework/scaffold/scaffold_debugging_controls_test.dart
  packages/devtools_app/test/framework/scaffold/scaffold_no_app_test.dart
  packages/devtools_app/test/framework/scaffold/scaffold_profile_test.dart
  packages/devtools_app/test/framework/scaffold/scaffold_test.dart
Owners: @flutter/devtools-reviewers

license update - batch 14 (#8692)
  packages/devtools_app/lib/src/screens/app_size/app_size_controller.dart
  packages/devtools_app/lib/src/screens/app_size/app_size_screen.dart
  packages/devtools_app/lib/src/screens/app_size/app_size_table.dart
  packages/devtools_app/lib/src/screens/app_size/code_size_attribution.dart
  packages/devtools_app/test/screens/app_size/app_size_screen_test.dart
  packages/devtools_app/test/screens/app_size/code_size_attribution_test.dart
Owners: @flutter/devtools-reviewers

license update - batch 16 (#8694)
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_link_list_view.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_controller.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_model.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_screen.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_services.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/project_root_selection/root_selector.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/project_root_selection/select_project_view.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/validation_details_view.dart
  packages/devtools_app/test/screens/deep_link_vlidation/app_link_settings_test.dart
  packages/devtools_app/test/screens/deep_link_vlidation/deep_links_screen_test.dart
  packages/devtools_app/test/screens/deep_link_vlidation/select_project_view_test.dart
  packages/devtools_app/test/screens/deep_link_vlidation/universal_link_settings_test.dart
Owners: @flutter/devtools-reviewers

license update - batch 19 (#8699)
  packages/devtools_app/lib/src/screens/logging/_log_details.dart
  packages/devtools_app/lib/src/screens/logging/_logs_table.dart
  packages/devtools_app/lib/src/screens/logging/_message_column.dart
  packages/devtools_app/lib/src/screens/logging/_when_column.dart
  packages/devtools_app/lib/src/screens/logging/logging_controller.dart
  packages/devtools_app/lib/src/screens/logging/logging_controls.dart
  packages/devtools_app/lib/src/screens/logging/logging_screen.dart
  packages/devtools_app/lib/src/screens/logging/metadata.dart
  packages/devtools_app/test/screens/logging/logging_controller_test.dart
  packages/devtools_app/test/screens/logging/logging_screen_data_test.dart
  packages/devtools_app/test/screens/logging/logging_screen_test.dart
  packages/devtools_app/test/screens/logging/metadata_test.dart
Owners: @flutter/devtools-reviewers

corrected edge case
  packages/devtools_app/lib/src/screens/debugger/syntax_highlighter.dart
Owners: @elliette

fixed stash artifacts
  packages/devtools_app/lib/src/screens/debugger/syntax_highlighter.dart
Owners: @elliette

fixed duplicate header
  packages/devtools_app/test/screens/inspector/diagnostics_test.dart
Owners: @elliette

fixed date
  packages/devtools_app/test/screens/inspector/diagnostics_test.dart
Owners: @elliette

Update Flutter candidate version
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

fixed duplicate header
  packages/devtools_app/test/screens/inspector_v2/diagnostics_test.dart
Owners: @flutter/devtools-reviewers

Update Flutter candidate version (#8701)
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

License update - Batch 17 (#8695)
  packages/devtools_app/lib/src/screens/inspector/inspector_breadcrumbs.dart
  packages/devtools_app/lib/src/screens/inspector/inspector_controller.dart
  packages/devtools_app/lib/src/screens/inspector/inspector_data_models.dart
  packages/devtools_app/lib/src/screens/inspector/inspector_screen_body.dart
  packages/devtools_app/lib/src/screens/inspector/inspector_screen_details_tab.dart
  packages/devtools_app/lib/src/screens/inspector/inspector_tree_controller.dart
  packages/devtools_app/lib/src/screens/inspector/layout_explorer/box/box.dart
  packages/devtools_app/lib/src/screens/inspector/layout_explorer/flex/flex.dart
  packages/devtools_app/lib/src/screens/inspector/layout_explorer/flex/utils.dart
  packages/devtools_app/lib/src/screens/inspector/layout_explorer/layout_explorer.dart
  packages/devtools_app/lib/src/screens/inspector/layout_explorer/ui/arrow.dart
  packages/devtools_app/lib/src/screens/inspector/layout_explorer/ui/dimension.dart
  packages/devtools_app/lib/src/screens/inspector/layout_explorer/ui/free_space.dart
  packages/devtools_app/lib/src/screens/inspector/layout_explorer/ui/layout_explorer_widget.dart
  packages/devtools_app/lib/src/screens/inspector/layout_explorer/ui/overflow_indicator_painter.dart
  packages/devtools_app/lib/src/screens/inspector/layout_explorer/ui/theme.dart
  packages/devtools_app/lib/src/screens/inspector/layout_explorer/ui/utils.dart
  packages/devtools_app/lib/src/screens/inspector/layout_explorer/ui/widget_constraints.dart
  packages/devtools_app/lib/src/screens/inspector/layout_explorer/ui/widgets_theme.dart
  packages/devtools_app/lib/src/screens/inspector_shared/inspector_controls.dart
  packages/devtools_app/lib/src/screens/inspector_shared/inspector_screen.dart
  packages/devtools_app/lib/src/screens/inspector_shared/inspector_screen_controller.dart
  packages/devtools_app/lib/src/screens/inspector_shared/inspector_settings_dialog.dart
  packages/devtools_app/test/screens/inspector/diagnostics_test.dart
  packages/devtools_app/test/screens/inspector/inspector_error_navigator_test.dart
  packages/devtools_app/test/screens/inspector/inspector_integration_test.dart
  packages/devtools_app/test/screens/inspector/inspector_screen_test.dart
  packages/devtools_app/test/screens/inspector/inspector_tree_test.dart
  packages/devtools_app/test/screens/inspector/layout_explorer/flex/arrow_test.dart
  packages/devtools_app/test/screens/inspector/layout_explorer/flex/flex_test.dart
  packages/devtools_app/test/screens/inspector/layout_explorer/inspector_data_models_test.dart
  packages/devtools_app/test/screens/inspector/layout_explorer/layout_explorer_serialization_delegate.dart
  packages/devtools_app/test/screens/inspector/layout_explorer/layout_explorer_test_utils.dart
  packages/devtools_app/test/screens/inspector/layout_explorer/widget_theme_test.dart
  packages/devtools_app/test/screens/inspector/utils/inspector_tree.dart
Owners: @elliette, @flutter/devtools-reviewers

License update - Batch 18 (#8696)
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_controller.dart
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_data_models.dart
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_screen_body.dart
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_tree_controller.dart
  packages/devtools_app/lib/src/screens/inspector_v2/layout_explorer/box/box.dart
  packages/devtools_app/lib/src/screens/inspector_v2/layout_explorer/flex/flex.dart
  packages/devtools_app/lib/src/screens/inspector_v2/layout_explorer/flex/utils.dart
  packages/devtools_app/lib/src/screens/inspector_v2/layout_explorer/ui/arrow.dart
  packages/devtools_app/lib/src/screens/inspector_v2/layout_explorer/ui/dimension.dart
  packages/devtools_app/lib/src/screens/inspector_v2/layout_explorer/ui/free_space.dart
  packages/devtools_app/lib/src/screens/inspector_v2/layout_explorer/ui/layout_explorer_widget.dart
  packages/devtools_app/lib/src/screens/inspector_v2/layout_explorer/ui/overflow_indicator_painter.dart
  packages/devtools_app/lib/src/screens/inspector_v2/layout_explorer/ui/theme.dart
  packages/devtools_app/lib/src/screens/inspector_v2/layout_explorer/ui/utils.dart
  packages/devtools_app/lib/src/screens/inspector_v2/layout_explorer/ui/widget_constraints.dart
  packages/devtools_app/lib/src/screens/inspector_v2/layout_explorer/ui/widgets_theme.dart
  packages/devtools_app/lib/src/screens/inspector_v2/widget_details.dart
  packages/devtools_app/lib/src/screens/inspector_v2/widget_properties/properties_view.dart
  packages/devtools_app/test/screens/inspector_v2/diagnostics_test.dart
  packages/devtools_app/test/screens/inspector_v2/inspector_error_navigator_test.dart
  packages/devtools_app/test/screens/inspector_v2/inspector_integration_test.dart
  packages/devtools_app/test/screens/inspector_v2/inspector_screen_test.dart
  packages/devtools_app/test/screens/inspector_v2/inspector_tree_test.dart
  packages/devtools_app/test/screens/inspector_v2/layout_explorer/flex/arrow_test.dart
  packages/devtools_app/test/screens/inspector_v2/layout_explorer/flex/flex_test.dart
  packages/devtools_app/test/screens/inspector_v2/layout_explorer/inspector_data_models_test.dart
  packages/devtools_app/test/screens/inspector_v2/layout_explorer/layout_explorer_serialization_delegate.dart
  packages/devtools_app/test/screens/inspector_v2/layout_explorer/layout_explorer_test_utils.dart
  packages/devtools_app/test/screens/inspector_v2/layout_explorer/widget_theme_test.dart
  packages/devtools_app/test/screens/inspector_v2/utils/inspector_tree.dart
Owners: @flutter/devtools-reviewers

Change required to set
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_view.dart
Owners: @flutter/devtools-reviewers

Updating from 2.43.0-dev.0 to 2.43.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

setting globals for test cases
  packages/devtools_app/test/screens/network/network_controller_test.dart
  packages/devtools_app/test/screens/network/network_model_test.dart
  packages/devtools_app/test/screens/network/network_profiler_test.dart
  packages/devtools_app/test/screens/network/network_request_inspector_test.dart
  packages/devtools_app/test/screens/network/network_screen_test.dart
  packages/devtools_app/test/screens/network/network_table_test.dart
  packages/devtools_app/test/screens/network/offline_data_test.dart
Owners: @bkonyi, @kenzieschmoll

update beta testing
  BETA_TESTING.md
Owners: @flutter/devtools-reviewers

removed empty test per PR review
  case_study/memory_leaks/memory_leak_app/test/widget_test.dart
Owners: @flutter/devtools-reviewers

Update CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @flutter/devtools-reviewers

update testing
  CONTRIBUTING.md
  TESTING.md
Owners: @flutter/devtools-reviewers

Update contributing guides (#8718)
  BETA_TESTING.md
  CONTRIBUTING.md
  TESTING.md
Owners: @flutter/devtools-reviewers

removed unused generated files
  packages/devtools_app/lib/src/screens/memory/DEPENDENCIES.md
  packages/devtools_app/lib/src/screens/memory/framework/DEPENDENCIES.md
  packages/devtools_app/lib/src/screens/memory/panes/chart/DEPENDENCIES.md
  packages/devtools_app/lib/src/screens/memory/panes/chart/controller/DEPENDENCIES.md
  packages/devtools_app/lib/src/screens/memory/panes/chart/widgets/DEPENDENCIES.md
  packages/devtools_app/lib/src/screens/memory/panes/control/DEPENDENCIES.md
  packages/devtools_app/lib/src/screens/memory/panes/control/widgets/DEPENDENCIES.md
  packages/devtools_app/lib/src/screens/memory/panes/diff/DEPENDENCIES.md
  packages/devtools_app/lib/src/screens/memory/panes/diff/controller/DEPENDENCIES.md
  packages/devtools_app/lib/src/screens/memory/panes/diff/data/DEPENDENCIES.md
  packages/devtools_app/lib/src/screens/memory/panes/diff/widgets/DEPENDENCIES.md
  packages/devtools_app/lib/src/screens/memory/panes/diff/widgets/class_details/DEPENDENCIES.md
  packages/devtools_app/lib/src/screens/memory/panes/profile/DEPENDENCIES.md
  packages/devtools_app/lib/src/screens/memory/panes/tracing/DEPENDENCIES.md
  packages/devtools_app/lib/src/screens/memory/shared/DEPENDENCIES.md
Owners: @bkonyi, @kenzieschmoll

License update - Batch 6 (#8679)
  case_study/memory_leaks/memory_leak_app/README.md
  case_study/memory_leaks/memory_leak_app/android/app/build.gradle
  case_study/memory_leaks/memory_leak_app/android/app/src/main/AndroidManifest.xml
  case_study/memory_leaks/memory_leak_app/android/app/src/main/java/github/nisrulz/usingtabs/MainActivity.java
  case_study/memory_leaks/memory_leak_app/android/build.gradle
  case_study/memory_leaks/memory_leak_app/android/gradlew.bat
  case_study/memory_leaks/memory_leak_app/android/settings.gradle
  case_study/memory_leaks/memory_leak_app/ios/Runner/AppDelegate.h
  case_study/memory_leaks/memory_leak_app/lib/about.dart
  case_study/memory_leaks/memory_leak_app/lib/common.dart
  case_study/memory_leaks/memory_leak_app/lib/logging.dart
  case_study/memory_leaks/memory_leak_app/lib/main.dart
  case_study/memory_leaks/memory_leak_app/lib/restful_servers.dart
  case_study/memory_leaks/memory_leak_app/lib/tabs/http_data.dart
  case_study/memory_leaks/memory_leak_app/lib/tabs/logger.dart
  case_study/memory_leaks/memory_leak_app/lib/tabs/settings.dart
  case_study/memory_leaks/memory_leak_app/pubspec.yaml
  case_study/memory_leaks/memory_leak_app/test/widget_test.dart
Owners: @flutter/devtools-reviewers

license update - batch 21
  packages/devtools_app/lib/src/screens/network/constants.dart
  packages/devtools_app/lib/src/screens/network/har_builder.dart
  packages/devtools_app/lib/src/screens/network/har_data_entry.dart
  packages/devtools_app/lib/src/screens/network/har_network_data.dart
  packages/devtools_app/lib/src/screens/network/network_controller.dart
  packages/devtools_app/lib/src/screens/network/network_model.dart
  packages/devtools_app/lib/src/screens/network/network_request_inspector.dart
  packages/devtools_app/lib/src/screens/network/network_request_inspector_views.dart
  packages/devtools_app/lib/src/screens/network/network_screen.dart
  packages/devtools_app/lib/src/screens/network/network_service.dart
  packages/devtools_app/test/screens/network/har_network_test.dart
  packages/devtools_app/test/screens/network/network_controller_test.dart
  packages/devtools_app/test/screens/network/network_model_test.dart
  packages/devtools_app/test/screens/network/network_profiler_test.dart
  packages/devtools_app/test/screens/network/network_request_inspector_test.dart
  packages/devtools_app/test/screens/network/network_screen_test.dart
  packages/devtools_app/test/screens/network/network_table_test.dart
  packages/devtools_app/test/screens/network/utils/network_test_utils.dart
Owners: @bkonyi, @kenzieschmoll

Clean up and add tooltip
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_view.dart
Owners: @flutter/devtools-reviewers

Committed in wrong directory
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_view.dart
  packages/devtools_app_shared/lib/src/ui/common.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

license update - batch 23
  packages/devtools_app/lib/src/screens/profiler/common.dart
  packages/devtools_app/lib/src/screens/profiler/cpu_profile_model.dart
  packages/devtools_app/lib/src/screens/profiler/cpu_profile_service.dart
  packages/devtools_app/lib/src/screens/profiler/cpu_profile_transformer.dart
  packages/devtools_app/lib/src/screens/profiler/cpu_profiler.dart
  packages/devtools_app/lib/src/screens/profiler/cpu_profiler_controller.dart
  packages/devtools_app/lib/src/screens/profiler/panes/bottom_up.dart
  packages/devtools_app/lib/src/screens/profiler/panes/call_tree.dart
  packages/devtools_app/lib/src/screens/profiler/panes/controls/cpu_profiler_controls.dart
  packages/devtools_app/lib/src/screens/profiler/panes/controls/profiler_screen_controls.dart
  packages/devtools_app/lib/src/screens/profiler/panes/cpu_flame_chart.dart
  packages/devtools_app/lib/src/screens/profiler/panes/cpu_profile_columns.dart
  packages/devtools_app/lib/src/screens/profiler/panes/method_table/method_table.dart
  packages/devtools_app/lib/src/screens/profiler/panes/method_table/method_table_controller.dart
  packages/devtools_app/lib/src/screens/profiler/panes/method_table/method_table_model.dart
  packages/devtools_app/lib/src/screens/profiler/profiler_screen.dart
  packages/devtools_app/lib/src/screens/profiler/profiler_screen_controller.dart
  packages/devtools_app/lib/src/screens/profiler/profiler_status.dart
  packages/devtools_app/lib/src/screens/profiler/sampling_rate.dart
  packages/devtools_app/lib/src/screens/provider/provider_screen.dart
Owners: @kenzieschmoll, @bkonyi, @flutter/devtools-reviewers

license update - batch 25
  packages/devtools_app/lib/src/service/connected_app/connected_app.dart
  packages/devtools_app/lib/src/service/connected_app/connection_info.dart
  packages/devtools_app/lib/src/service/editor/api_classes.dart
  packages/devtools_app/lib/src/service/editor/editor_client.dart
  packages/devtools_app/lib/src/service/json_to_service_cache.dart
  packages/devtools_app/lib/src/service/service_extension_widgets.dart
  packages/devtools_app/lib/src/service/service_extensions.dart
  packages/devtools_app/lib/src/service/service_manager.dart
  packages/devtools_app/lib/src/service/service_registrations.dart
  packages/devtools_app/lib/src/service/timeline_streams.dart
  packages/devtools_app/lib/src/service/vm_flags.dart
  packages/devtools_app/lib/src/service/vm_service_logger.dart
  packages/devtools_app/lib/src/service/vm_service_wrapper.dart
  packages/devtools_app/test/service/connection_info_test.dart
  packages/devtools_app/test/service/service_extension_widgets_test.dart
  packages/devtools_app/test/service/timeline_streams_test.dart
  packages/devtools_app/test/service/vm_flags_test.dart
Owners: @flutter/devtools-reviewers

CODEOWNERS:

*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @elliette

# Network Files
network/            @bkonyi @kenzieschmoll

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll @bkonyi

# Memory files
memory/             @bkonyi @kenzieschmoll

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @kenzieschmoll

# DevTools extensions and related files
src/extensions/
packages/devtools_extensions/    @kenzieschmoll
packages/devtools_app_shared/    @kenzieschmoll

# package:devtools_shared code, which is used across DevTools and the Dart SDK
packages/devtools_shared/        @kenzieschmoll @bkonyi

# Version bump files.
# No owners to prevent version update spam
packages/devtools_app/lib/devtools.dart
packages/devtools_app/pubspec.yaml
packages/devtools_test/pubspec.yaml
