Repository flutter/devtools, changes with the owners that CODEOWNERS names for each.
All owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

CODEOWNERS:

*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @elliette

# Network Files
network/            @bkonyi @kenzieschmoll

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll @bkonyi

# Memory files
memory/             @bkonyi @kenzieschmoll

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @kenzieschmoll

# DevTools extensions and related files
src/extensions/
packages/devtools_extensions/    @kenzieschmoll
packages/devtools_app_shared/    @kenzieschmoll

# package:devtools_shared code, which is used across DevTools and the Dart SDK
packages/devtools_shared/        @kenzieschmoll @bkonyi

# Version bump files.
# No owners to prevent version update spam
packages/devtools_app/lib/devtools.dart
packages/devtools_app/pubspec.yaml
packages/devtools_test/pubspec.yaml

addressed PR feedback
  tool/lib/license_utils.dart
Owners: @kenzieschmoll

excluding flutter-sdk dependencies from repo wide check
  tool/test/license_utils_test.dart
Owners: @kenzieschmoll

addressed more PR feedback
  tool/lib/license_utils.dart
  tool/test/license_utils_test.dart
Owners: @kenzieschmoll

fixed DartDoc and other PR feedback
  tool/lib/license_utils.dart
Owners: @kenzieschmoll

fixed missing trailing comma
  tool/test/license_utils_test.dart
Owners: @kenzieschmoll

reverted some accidentally changed files, addressed additional PR feedback
  case_study/memory_leaks/images_1/android/gradle/wrapper/gradle-wrapper.properties
  case_study/platform_channel/android/gradle/wrapper/gradle-wrapper.properties
  packages/devtools_app/test/test_infra/goldens/memory/load_offline_data_profile_tab.png
  tool/lib/license_utils.dart
  tool/test/license_utils_test.dart
Owners: @flutter/devtools-reviewers, @bkonyi, @kenzieschmoll

corrected logic for test
  tool/test/license_utils_test.dart
Owners: @kenzieschmoll

added dry run option for bulk update
  tool/lib/license_utils.dart
  tool/test/license_utils_test.dart
Owners: @kenzieschmoll

addressed missed PR feedback
  tool/test/license_utils_test.dart
Owners: @kenzieschmoll

addressing some missed PR feedback
  tool/lib/license_utils.dart
Owners: @kenzieschmoll

added clearer docs and removed unnecessary todo
  tool/lib/license_utils.dart
Owners: @kenzieschmoll

removed late and added back final to member variables
  tool/lib/license_utils.dart
Owners: @kenzieschmoll

Fix wasm casting error (#8474)
  packages/devtools_app/lib/src/screens/logging/logging_controller.dart
  packages/devtools_app/lib/src/screens/logging/metadata.dart
Owners: @flutter/devtools-reviewers

Implementation details remain hidden on tree refresh
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_controller.dart
  packages/devtools_app/test/inspector_v2/inspector_integration_test.dart
Owners: @flutter/devtools-reviewers

Clean up
  packages/devtools_app/lib/src/shared/diagnostics/inspector_service.dart
  packages/devtools_app/macos/Runner.xcodeproj/project.pbxproj
Owners: @flutter/devtools-reviewers

Respond to PR comments
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_controller.dart
Owners: @flutter/devtools-reviewers

Update flutter version
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

Add test case
  packages/devtools_app/test/inspector_v2/inspector_integration_test.dart
Owners: @flutter/devtools-reviewers

[Inspector V2] Implementation details remain hidden on tree refresh (#8479)
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_controller.dart
  packages/devtools_app/test/inspector_v2/inspector_integration_test.dart
Owners: @flutter/devtools-reviewers

Fix conflict
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_controller.dart
Owners: @flutter/devtools-reviewers

Switching to settings instead of feature flag
  packages/devtools_app/lib/src/screens/inspector_shared/inspector_settings_dialog.dart
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_controller.dart
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_screen_body.dart
  packages/devtools_app/lib/src/shared/analytics/constants.dart
  packages/devtools_app/lib/src/shared/feature_flags.dart
  packages/devtools_app/lib/src/shared/preferences/_inspector_preferences.dart
  packages/devtools_app/macos/Runner.xcodeproj/project.pbxproj
Owners: @flutter/devtools-reviewers

Setting defaults to false
  packages/devtools_app/lib/src/shared/preferences/_inspector_preferences.dart
Owners: @flutter/devtools-reviewers

Add a TODO
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_controller.dart
Owners: @flutter/devtools-reviewers

socket data de-serialisation changes
  packages/devtools_app/lib/src/screens/network/offline_network_data.dart
Owners: @bkonyi, @kenzieschmoll

Added release notes and respond to pr comments
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_controller.dart
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_screen_body.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Add test case
  packages/devtools_app/test/inspector_v2/inspector_integration_test.dart
Owners: @flutter/devtools-reviewers

respond to PR comments
  packages/devtools_app/test/inspector_v2/inspector_integration_test.dart
Owners: @flutter/devtools-reviewers

Pass all args to dt
  tool/bin/devtools_tool
Owners: @kenzieschmoll

[Inspector V2] Request the reduced widget tree from Flutter (#8480)
  flutter-candidate.txt
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_controller.dart
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_tree_controller.dart
  packages/devtools_app/lib/src/shared/diagnostics/diagnostics_node.dart
  packages/devtools_app/lib/src/shared/diagnostics/inspector_service.dart
  packages/devtools_app/macos/Runner.xcodeproj/project.pbxproj
  packages/devtools_app/test/inspector_v2/inspector_integration_test.dart
Owners: @flutter/devtools-reviewers

Add a setting to enable auto-refreshing the inspector tree (#8483)
  packages/devtools_app/lib/src/screens/inspector_shared/inspector_settings_dialog.dart
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_controller.dart
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_screen_body.dart
  packages/devtools_app/lib/src/shared/analytics/constants.dart
  packages/devtools_app/lib/src/shared/preferences/_inspector_preferences.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Pass all args from devtools_tool to dt (#8486)
  tool/bin/devtools_tool
Owners: @kenzieschmoll

Disable two lint rules which are being removed.
  packages/analysis_options.yaml
  packages/devtools_app/lib/src/extensions/embedded/_controller_web.dart
  packages/devtools_app/lib/src/screens/performance/panes/timeline_events/perfetto/_perfetto_controller_web.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

Fix inspector tree not loading after hot-restart
  packages/devtools_app/lib/src/screens/inspector_shared/inspector_screen.dart
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_controller.dart
Owners: @flutter/devtools-reviewers

Add scaffold for test
  packages/devtools_app/test/inspector_v2/inspector_integration_test.dart
Owners: @flutter/devtools-reviewers

Update release notes
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Squash merge changes from https://github.com/flutter/devtools/pull/8491
  packages/devtools_app/lib/src/screens/inspector_shared/inspector_screen.dart
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_controller.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/test/inspector_v2/inspector_integration_test.dart
Owners: @flutter/devtools-reviewers

[logging] Add a retention limit setting.
  packages/devtools_app/lib/src/framework/app_error_handling.dart
  packages/devtools_app/lib/src/screens/logging/logging_controller.dart
  packages/devtools_app/lib/src/screens/logging/logging_controls.dart
  packages/devtools_app/lib/src/shared/common_widgets.dart
  packages/devtools_app/lib/src/shared/preferences/_logging_preferences.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

rnotes
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Handle toggling implementation widgets
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_controller.dart
  packages/devtools_app/lib/src/shared/notifications.dart
Owners: @flutter/devtools-reviewers

formatting
  packages/devtools_app/lib/src/shared/common_widgets.dart
Owners: @flutter/devtools-reviewers
