Repository flutter/devtools, changes with the owners that CODEOWNERS names for each.
All owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

Bump devtools_extensions to version 0.5.0
  packages/devtools_extensions/pubspec.yaml
Owners: @kenzieschmoll

Fix test
  packages/devtools_app/test/screens/dtd/dtd_tools_screen_test.dart
Owners: @flutter/devtools-reviewers

Updating from 2.55.0-dev.0 to 2.55.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Bump devtools_extensions to version 0.5.0 (#9657)
  packages/devtools_extensions/pubspec.yaml
Owners: @kenzieschmoll

Fix failing integration tests
  packages/devtools_app/integration_test/run_tests.dart
  packages/devtools_app/lib/src/shared/ui/filter.dart
Owners: @flutter/devtools-reviewers

Add DevToolsTextField
  packages/devtools_app_shared/lib/src/ui/text_field.dart
  pubspec.lock
Owners: @kenzieschmoll, @flutter/devtools-reviewers

Try to get health CI check to run
  .github/workflows/health.yaml
Owners: @flutter/devtools-reviewers

Updating from 2.55.0-dev.0 to 2.55.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Remove paths filter
  .github/workflows/health.yaml
Owners: @flutter/devtools-reviewers

One more error
  packages/devtools_app/lib/src/screens/deep_link_validation/project_root_selection/root_selector.dart
Owners: @flutter/devtools-reviewers

Commit in root
  packages/devtools_app_shared/CHANGELOG.md
  packages/devtools_app_shared/pubspec.yaml
  pubspec.lock
Owners: @kenzieschmoll, @flutter/devtools-reviewers

Updating from 2.55.0-dev.0 to 2.55.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Prepare for release 2.55.0
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Update to latest Flutter candidate
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

fixes future warning for `await`ing `Future` returns in `async` bodies inside `try` blocks
  packages/devtools_app_shared/lib/src/service/eval_on_dart_library.dart
  packages/devtools_shared/test/helpers/helpers.dart
Owners: @kenzieschmoll, @bkonyi

Remove deprecated param
  packages/devtools_app/lib/src/shared/primitives/custom_pointer_scroll_view.dart
  pubspec.lock
Owners: @flutter/devtools-reviewers

Update package:image
  packages/devtools_app/benchmark/web_bundle_size_test.dart
  packages/devtools_app/pubspec.yaml
  pubspec.lock
  third_party/packages/perfetto_ui_compiled/pubspec.lock
  third_party/packages/widget_icons/example/pubspec.lock
  third_party/packages/widget_icons/pubspec.lock
Owners: @flutter/devtools-reviewers

Revert "Update package:image"
  packages/devtools_app/benchmark/web_bundle_size_test.dart
  packages/devtools_app/pubspec.yaml
  pubspec.lock
  third_party/packages/perfetto_ui_compiled/pubspec.lock
  third_party/packages/widget_icons/example/pubspec.lock
  third_party/packages/widget_icons/pubspec.lock
Owners: @flutter/devtools-reviewers

Update package:image
  packages/devtools_app/benchmark/web_bundle_size_test.dart
  packages/devtools_app/pubspec.yaml
  pubspec.lock
Owners: @flutter/devtools-reviewers

Prepare for release 2.55.0 (#9663)
  flutter-candidate.txt
  packages/devtools_app/benchmark/web_bundle_size_test.dart
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/lib/src/shared/primitives/custom_pointer_scroll_view.dart
  packages/devtools_app/pubspec.yaml
  pubspec.lock
Owners: @flutter/devtools-reviewers

Update Flutter candidate
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

Fix release notes generator
  tool/lib/commands/release_notes_helper.dart
Owners: @kenzieschmoll

Update DevTools to next dev version
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Move lint ignore
  packages/devtools_app/lib/src/shared/table/table_controller.dart
Owners: @flutter/devtools-reviewers

Fix failing DevTools integration tests by excluding semantics on some tooltips (#9660)
  flutter-candidate.txt
  packages/devtools_app/integration_test/run_tests.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/project_root_selection/root_selector.dart
  packages/devtools_app/lib/src/shared/table/table_controller.dart
  packages/devtools_app/lib/src/shared/ui/filter.dart
  packages/devtools_app_shared/CHANGELOG.md
  packages/devtools_app_shared/lib/src/ui/text_field.dart
  packages/devtools_app_shared/pubspec.yaml
Owners: @flutter/devtools-reviewers, @kenzieschmoll

Fix benchmark tests
  packages/devtools_app/benchmark/test_infra/automators/_cpu_profiler_automator.dart
Owners: @flutter/devtools-reviewers

Fix benchmark tests (#9675)
  packages/devtools_app/benchmark/test_infra/automators/_cpu_profiler_automator.dart
Owners: @flutter/devtools-reviewers

Fix release notes generator (#9671)
  tool/lib/commands/release_notes_helper.dart
Owners: @kenzieschmoll

Remove hardcoded `useWasm: false` for `expectedBenchmarkMetrics()` (#9518)
  packages/devtools_app/benchmark/devtools_benchmarks_test.dart
  packages/devtools_app/pubspec.yaml
Owners: @flutter/devtools-reviewers

Update DevTools to next dev version (#9672)
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Temporarily skip benchmark tests
  packages/devtools_app/benchmark/devtools_benchmarks_test.dart
Owners: @flutter/devtools-reviewers

Temporarily skip benchmark tests (#9676)
  packages/devtools_app/benchmark/devtools_benchmarks_test.dart
Owners: @flutter/devtools-reviewers

fixes future warning for `await`ing `Future` returns in `async` bodies inside `try` blocks
  packages/devtools_app_shared/lib/src/service/eval_on_dart_library.dart
  packages/devtools_shared/test/helpers/helpers.dart
Owners: @kenzieschmoll, @bkonyi

fixes new diagnostic
  packages/devtools_app_shared/lib/src/service/eval_on_dart_library.dart
Owners: @kenzieschmoll

Updating from 2.56.0-dev.0 to 2.56.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
  pubspec.lock
Owners: @flutter/devtools-reviewers

Fixes future warning for `await`ing `Future` returns in `async` bodies inside `try` blocks (#9664)
  packages/devtools_app_shared/lib/src/service/eval_on_dart_library.dart
  packages/devtools_shared/test/helpers/helpers.dart
Owners: @kenzieschmoll, @bkonyi

Updating from 2.56.0-dev.0 to 2.56.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
  pubspec.lock
Owners: @flutter/devtools-reviewers

Updating from 2.56.0-dev.0 to 2.56.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
  pubspec.lock
Owners: @flutter/devtools-reviewers

Prevent crash when decoding binary multipart request bodies
  packages/devtools_app/lib/src/screens/network/constants.dart
  packages/devtools_app/lib/src/screens/network/har_data_entry.dart
  packages/devtools_app/lib/src/shared/http/http_request_data.dart
Owners: @bkonyi, @kenzieschmoll, @flutter/devtools-reviewers

Add release note for binary multipart crash fix
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

CODEOWNERS:

*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @elliette

# Network Files
network/            @bkonyi @kenzieschmoll

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll @bkonyi

# Memory files
memory/             @bkonyi @kenzieschmoll

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @kenzieschmoll

# DevTools extensions and related files
src/extensions/
packages/devtools_extensions/    @kenzieschmoll
packages/devtools_app_shared/    @kenzieschmoll

# package:devtools_shared code, which is used across DevTools and the Dart SDK
packages/devtools_shared/        @kenzieschmoll @bkonyi

# Version bump files.
# No owners to prevent version update spam
packages/devtools_app/lib/devtools.dart
packages/devtools_app/pubspec.yaml
packages/devtools_test/pubspec.yaml
