Repository flutter/devtools, changes with the owners that CODEOWNERS names for each.
All owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

license update - batch 43
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_controller.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_panel.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_view.dart
  packages/devtools_app/lib/src/standalone_ui/standalone_screen.dart
  packages/devtools_app/lib/src/standalone_ui/vs_code/debug_sessions.dart
  packages/devtools_app/lib/src/standalone_ui/vs_code/devices.dart
  packages/devtools_app/lib/src/standalone_ui/vs_code/devtools/devtools_view.dart
  packages/devtools_app/lib/src/standalone_ui/vs_code/devtools/extensions_view.dart
  packages/devtools_app/lib/src/standalone_ui/vs_code/devtools/shared.dart
  packages/devtools_app/lib/src/standalone_ui/vs_code/devtools/sidebar_extensions_controller.dart
  packages/devtools_app/lib/src/standalone_ui/vs_code/flutter_panel.dart
  packages/devtools_app/test/standalone_ui/ide_shared/property_editor_test.dart
  packages/devtools_app/test/standalone_ui/vs_code/debug_sessions_test.dart
  packages/devtools_app/test/standalone_ui/vs_code/devtools_test.dart
Owners: @flutter/devtools-reviewers

license update - batch 44
  packages/devtools_app/macos/Flutter/GeneratedPluginRegistrant.swift
  packages/devtools_app/macos/README.md
  packages/devtools_app/macos/Runner/AppDelegate.swift
  packages/devtools_app/macos/Runner/MainFlutterWindow.swift
  packages/devtools_app/macos/RunnerTests/RunnerTests.swift
Owners: @flutter/devtools-reviewers

license update - batch 45
  packages/devtools_app/test/legacy_integration_tests/app.dart
  packages/devtools_app/test/legacy_integration_tests/debugger.dart
  packages/devtools_app/test/legacy_integration_tests/integration.dart
  packages/devtools_app/test/legacy_integration_tests/integration_test.dart
  packages/devtools_app/test/legacy_integration_tests/logging.dart
  packages/devtools_app/test/legacy_integration_tests/readme.md
  packages/devtools_app/test_driver/integration_test.dart
Owners: @flutter/devtools-reviewers

license update - batch 46
  packages/devtools_app/test/screens/cpu_profiler/cpu_profile_model_test.dart
  packages/devtools_app/test/screens/cpu_profiler/cpu_profile_transformer_test.dart
  packages/devtools_app/test/screens/cpu_profiler/cpu_profiler_controller_test.dart
  packages/devtools_app/test/screens/cpu_profiler/cpu_profiler_test.dart
  packages/devtools_app/test/screens/cpu_profiler/method_table/method_table_controller_test.dart
  packages/devtools_app/test/screens/cpu_profiler/method_table/method_table_model_test.dart
  packages/devtools_app/test/screens/cpu_profiler/method_table/method_table_test.dart
  packages/devtools_app/test/screens/cpu_profiler/profiler_screen_controller_test.dart
  packages/devtools_app/test/screens/cpu_profiler/profiler_screen_test.dart
Owners: @flutter/devtools-reviewers

license update - batch 48
  packages/devtools_app/web/index.html
  packages/devtools_app/web/styles.css
  packages/devtools_app/web/unsupported-browser.html
Owners: @flutter/devtools-reviewers

license update - batch 49
  packages/devtools_app_shared/CHANGELOG.md
  packages/devtools_app_shared/README.md
  packages/devtools_app_shared/lib/shared.dart
  packages/devtools_app_shared/lib/src/shared/embed_mode.dart
  packages/devtools_app_shared/lib/ui.dart
  packages/devtools_app_shared/lib/utils.dart
  packages/devtools_app_shared/lib/web_utils.dart
  packages/devtools_app_shared/pubspec.yaml
  packages/devtools_app_shared/test/shared/embed_mode_test.dart
  packages/devtools_app_shared/test/test_utils.dart
Owners: @kenzieschmoll

license update - batch 50
  packages/devtools_app_shared/example/service_example.dart
  packages/devtools_app_shared/example/ui/common_example.dart
  packages/devtools_app_shared/example/ui/dialog_example.dart
  packages/devtools_app_shared/example/ui/split_example.dart
  packages/devtools_app_shared/example/utils/auto_dispose_example.dart
  packages/devtools_app_shared/example/utils/globals_example.dart
  packages/devtools_app_shared/example/utils/list_example.dart
  packages/devtools_app_shared/example/utils/utils_example.dart
Owners: @kenzieschmoll

license update - batch 51
  packages/devtools_app_shared/lib/service.dart
  packages/devtools_app_shared/lib/service_extensions.dart
  packages/devtools_app_shared/lib/src/service/connected_app.dart
  packages/devtools_app_shared/lib/src/service/constants.dart
  packages/devtools_app_shared/lib/src/service/dtd_manager.dart
  packages/devtools_app_shared/lib/src/service/eval_on_dart_library.dart
  packages/devtools_app_shared/lib/src/service/flutter_version.dart
  packages/devtools_app_shared/lib/src/service/isolate_manager.dart
  packages/devtools_app_shared/lib/src/service/isolate_state.dart
  packages/devtools_app_shared/lib/src/service/resolved_uri_manager.dart
  packages/devtools_app_shared/lib/src/service/service_extension_manager.dart
  packages/devtools_app_shared/lib/src/service/service_extensions.dart
  packages/devtools_app_shared/lib/src/service/service_manager.dart
  packages/devtools_app_shared/lib/src/service/service_utils.dart
  packages/devtools_app_shared/test/service/flutter_version_test.dart
Owners: @kenzieschmoll

license update - batch 52
  packages/devtools_app_shared/lib/src/ui/buttons.dart
  packages/devtools_app_shared/lib/src/ui/common.dart
  packages/devtools_app_shared/lib/src/ui/dialogs.dart
  packages/devtools_app_shared/lib/src/ui/flex_split_column.dart
  packages/devtools_app_shared/lib/src/ui/icons.dart
  packages/devtools_app_shared/lib/src/ui/split_pane.dart
  packages/devtools_app_shared/lib/src/ui/text_field.dart
  packages/devtools_app_shared/lib/src/ui/theme/_ide_theme_desktop.dart
  packages/devtools_app_shared/lib/src/ui/theme/_ide_theme_web.dart
  packages/devtools_app_shared/lib/src/ui/theme/ide_theme.dart
  packages/devtools_app_shared/lib/src/ui/theme/theme.dart
  packages/devtools_app_shared/lib/src/ui/ui_utils.dart
  packages/devtools_app_shared/test/ui/common_test.dart
  packages/devtools_app_shared/test/ui/flex_split_column_test.dart
  packages/devtools_app_shared/test/ui/ide_theme_test.dart
  packages/devtools_app_shared/test/ui/split_pane_test.dart
  packages/devtools_app_shared/test/ui/theme_test.dart
Owners: @kenzieschmoll

Move `editor/` files
  packages/devtools_app/lib/devtools_app.dart
  packages/devtools_app/lib/src/framework/theme_manager.dart
  packages/devtools_app/lib/src/shared/editor/api_classes.dart
  packages/devtools_app/lib/src/shared/editor/editor_client.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_controller.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_panel.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_view.dart
  packages/devtools_app/lib/src/standalone_ui/vs_code/debug_sessions.dart
  packages/devtools_app/lib/src/standalone_ui/vs_code/devices.dart
  packages/devtools_app/lib/src/standalone_ui/vs_code/devtools/devtools_view.dart
  packages/devtools_app/lib/src/standalone_ui/vs_code/devtools/extensions_view.dart
  packages/devtools_app/lib/src/standalone_ui/vs_code/devtools/shared.dart
  packages/devtools_app/lib/src/standalone_ui/vs_code/devtools/sidebar_extensions_controller.dart
  packages/devtools_app/lib/src/standalone_ui/vs_code/flutter_panel.dart
  packages/devtools_app/test/standalone_ui/ide_shared/property_editor_test.dart
  packages/devtools_app/test/standalone_ui/vs_code/debug_sessions_test.dart
  packages/devtools_app/test/standalone_ui/vs_code/devtools_test.dart
  packages/devtools_app/test/test_infra/scenes/standalone_ui/editor_service/simulated_editor.dart
  packages/devtools_app/test/test_infra/utils/sidebar_utils.dart
Owners: @flutter/devtools-reviewers

fix lints
  packages/devtools_app/lib/devtools_app.dart
  packages/devtools_app/lib/src/framework/theme_manager.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_panel.dart
  packages/devtools_app/lib/src/standalone_ui/vs_code/debug_sessions.dart
  packages/devtools_app/lib/src/standalone_ui/vs_code/devices.dart
  packages/devtools_app/lib/src/standalone_ui/vs_code/devtools/devtools_view.dart
  packages/devtools_app/lib/src/standalone_ui/vs_code/devtools/extensions_view.dart
  packages/devtools_app/lib/src/standalone_ui/vs_code/devtools/shared.dart
  packages/devtools_app/lib/src/standalone_ui/vs_code/flutter_panel.dart
  packages/devtools_app/test/standalone_ui/vs_code/debug_sessions_test.dart
  packages/devtools_app/test/standalone_ui/vs_code/devtools_test.dart
Owners: @flutter/devtools-reviewers

Move `editor/` files (#8755)
  packages/devtools_app/lib/devtools_app.dart
  packages/devtools_app/lib/src/framework/theme_manager.dart
  packages/devtools_app/lib/src/shared/editor/api_classes.dart
  packages/devtools_app/lib/src/shared/editor/editor_client.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_controller.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_panel.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_view.dart
  packages/devtools_app/lib/src/standalone_ui/vs_code/debug_sessions.dart
  packages/devtools_app/lib/src/standalone_ui/vs_code/devices.dart
  packages/devtools_app/lib/src/standalone_ui/vs_code/devtools/devtools_view.dart
  packages/devtools_app/lib/src/standalone_ui/vs_code/devtools/extensions_view.dart
  packages/devtools_app/lib/src/standalone_ui/vs_code/devtools/shared.dart
  packages/devtools_app/lib/src/standalone_ui/vs_code/devtools/sidebar_extensions_controller.dart
  packages/devtools_app/lib/src/standalone_ui/vs_code/flutter_panel.dart
  packages/devtools_app/test/standalone_ui/ide_shared/property_editor_test.dart
  packages/devtools_app/test/standalone_ui/vs_code/debug_sessions_test.dart
  packages/devtools_app/test/standalone_ui/vs_code/devtools_test.dart
  packages/devtools_app/test/test_infra/scenes/standalone_ui/editor_service/simulated_editor.dart
  packages/devtools_app/test/test_infra/utils/sidebar_utils.dart
Owners: @flutter/devtools-reviewers

Updating from 2.43.0-dev.0 to 2.43.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Skip analytics tests for customer test registry
  packages/devtools_app/test/shared/analytics/analytics_test.dart
Owners: @flutter/devtools-reviewers

Skip analytics tests for customer test registry (#8762)
  packages/devtools_app/test/shared/analytics/analytics_test.dart
Owners: @flutter/devtools-reviewers

license update - batch 31 (#8732)
  packages/devtools_app/test/shared/ansi_output_test.dart
  packages/devtools_app/test/shared/development_helpers_test.dart
  packages/devtools_app/test/shared/environment_parameters/environment_parameters_external_test.dart
  packages/devtools_app/test/shared/eval_integration_test.dart
  packages/devtools_app/test/shared/import_export_test.dart
  packages/devtools_app/test/shared/log_storage_test.dart
  packages/devtools_app/test/shared/resolved_uri_manager_test.dart
Owners: @flutter/devtools-reviewers

license update - batch 32 (#8733)
  packages/devtools_app/lib/src/shared/diagnostics/dap_object_node.dart
  packages/devtools_app/lib/src/shared/diagnostics/dart_object_node.dart
  packages/devtools_app/lib/src/shared/diagnostics/diagnostics_node.dart
  packages/devtools_app/lib/src/shared/diagnostics/generic_instance_reference.dart
  packages/devtools_app/lib/src/shared/diagnostics/helpers.dart
  packages/devtools_app/lib/src/shared/diagnostics/inspector_service.dart
  packages/devtools_app/lib/src/shared/diagnostics/object_group_api.dart
  packages/devtools_app/lib/src/shared/diagnostics/primitives/README.md
  packages/devtools_app/lib/src/shared/diagnostics/primitives/instance_ref.dart
  packages/devtools_app/lib/src/shared/diagnostics/primitives/record_fields.dart
  packages/devtools_app/lib/src/shared/diagnostics/primitives/source_location.dart
  packages/devtools_app/lib/src/shared/diagnostics/references.dart
  packages/devtools_app/lib/src/shared/diagnostics/tree_builder.dart
  packages/devtools_app/lib/src/shared/diagnostics/variable_factory.dart
  packages/devtools_app/test/shared/diagnostics/dart_object_node_test.dart
  packages/devtools_app/test/shared/diagnostics/diagnostics_node_test.dart
  packages/devtools_app/test/shared/diagnostics/inspector_service_test.dart
Owners: @flutter/devtools-reviewers

license update - batch 33 (#8734)
  packages/devtools_app/lib/src/shared/framework/app_error_handling.dart
  packages/devtools_app/lib/src/shared/framework/framework_controller.dart
  packages/devtools_app/lib/src/shared/framework/routing.dart
  packages/devtools_app/lib/src/shared/framework/screen.dart
  packages/devtools_app/test/shared/framework/routing_test.dart
  packages/devtools_app/test/shared/framework/screens_test.dart
  packages/devtools_app/test/shared/framework/visible_screens_test.dart
Owners: @flutter/devtools-reviewers

license update - batch 35 (#8736)
  packages/devtools_app/lib/src/shared/managers/banner_messages.dart
  packages/devtools_app/lib/src/shared/managers/dtd_manager_extensions.dart
  packages/devtools_app/lib/src/shared/managers/error_badge_manager.dart
  packages/devtools_app/lib/src/shared/managers/notifications.dart
  packages/devtools_app/lib/src/shared/managers/script_manager.dart
  packages/devtools_app/lib/src/shared/managers/survey.dart
  packages/devtools_app/test/shared/managers/banner_messages_test.dart
  packages/devtools_app/test/shared/managers/error_badge_manager_test.dart
  packages/devtools_app/test/shared/managers/survey_test.dart
Owners: @flutter/devtools-reviewers

license update - batch 36 (#8737)
  packages/devtools_app/lib/src/shared/memory/DEPENDENCIES.md
  packages/devtools_app/lib/src/shared/memory/class_name.dart
  packages/devtools_app/lib/src/shared/memory/classes.dart
  packages/devtools_app/lib/src/shared/memory/gc_stats.dart
  packages/devtools_app/lib/src/shared/memory/heap_data.dart
  packages/devtools_app/lib/src/shared/memory/heap_graph_loader.dart
  packages/devtools_app/lib/src/shared/memory/heap_object.dart
  packages/devtools_app/lib/src/shared/memory/retainers.dart
  packages/devtools_app/lib/src/shared/memory/retaining_path.dart
  packages/devtools_app/lib/src/shared/memory/simple_items.dart
  packages/devtools_app/test/shared/memory/retaining_path_test.dart
Owners: @bkonyi, @kenzieschmoll

license update - batch 37 (#8738)
  packages/devtools_app/lib/src/shared/offline/offline_data.dart
  packages/devtools_app/lib/src/shared/offline/offline_screen.dart
  packages/devtools_app/lib/src/shared/preferences/_cpu_profiler_preferences.dart
  packages/devtools_app/lib/src/shared/preferences/_extension_preferences.dart
  packages/devtools_app/lib/src/shared/preferences/_inspector_preferences.dart
  packages/devtools_app/lib/src/shared/preferences/_logging_preferences.dart
  packages/devtools_app/lib/src/shared/preferences/_memory_preferences.dart
  packages/devtools_app/lib/src/shared/preferences/_network_preferences.dart
  packages/devtools_app/lib/src/shared/preferences/_performance_preferences.dart
  packages/devtools_app/lib/src/shared/preferences/preferences.dart
  packages/devtools_app/test/shared/offline/review_history_on_disconnect_test.dart
  packages/devtools_app/test/shared/preferences/preferences_controller_test.dart
Owners: @flutter/devtools-reviewers

license update - batch 39 (#8740)
  packages/devtools_app/lib/src/shared/server/_analytics_api.dart
  packages/devtools_app/lib/src/shared/server/_app_size_api.dart
  packages/devtools_app/lib/src/shared/server/_deep_links_api.dart
  packages/devtools_app/lib/src/shared/server/_dtd_api.dart
  packages/devtools_app/lib/src/shared/server/_extensions_api.dart
  packages/devtools_app/lib/src/shared/server/_preferences_api.dart
  packages/devtools_app/lib/src/shared/server/_release_notes_api.dart
  packages/devtools_app/lib/src/shared/server/_survey_api.dart
  packages/devtools_app/lib/src/shared/server/server.dart
  packages/devtools_app/lib/src/shared/server/server_api_client.dart
  packages/devtools_app/test/shared/server/server_api_client_test.dart
  packages/devtools_app/test/shared/service/json_to_service_cache_test.dart
Owners: @flutter/devtools-reviewers

license update - batch 40 (#8741)
  packages/devtools_app/lib/src/shared/table/_flat_table.dart
  packages/devtools_app/lib/src/shared/table/_table_column.dart
  packages/devtools_app/lib/src/shared/table/_table_row.dart
  packages/devtools_app/lib/src/shared/table/_tree_table.dart
  packages/devtools_app/lib/src/shared/table/column_widths.dart
  packages/devtools_app/lib/src/shared/table/table.dart
  packages/devtools_app/lib/src/shared/table/table_controller.dart
  packages/devtools_app/lib/src/shared/table/table_data.dart
  packages/devtools_app/test/shared/table/table_test.dart
Owners: @flutter/devtools-reviewers

license update - batch 41 (#8742)
  packages/devtools_app/lib/src/shared/ui/colors.dart
  packages/devtools_app/lib/src/shared/ui/common_widgets.dart
  packages/devtools_app/lib/src/shared/ui/dialogs.dart
  packages/devtools_app/lib/src/shared/ui/drop_down_button.dart
  packages/devtools_app/lib/src/shared/ui/editable_list.dart
  packages/devtools_app/lib/src/shared/ui/file_import.dart
  packages/devtools_app/lib/src/shared/ui/filter.dart
  packages/devtools_app/lib/src/shared/ui/history_viewport.dart
  packages/devtools_app/lib/src/shared/ui/hover.dart
  packages/devtools_app/lib/src/shared/ui/icons.dart
  packages/devtools_app/lib/src/shared/ui/search.dart
  packages/devtools_app/lib/src/shared/ui/side_panel.dart
  packages/devtools_app/lib/src/shared/ui/tab.dart
  packages/devtools_app/lib/src/shared/ui/tree_view.dart
  packages/devtools_app/lib/src/shared/ui/utils.dart
  packages/devtools_app/lib/src/shared/ui/vm_flag_widgets.dart
  packages/devtools_app/test/shared/ui/auto_complete_test.dart
  packages/devtools_app/test/shared/ui/common_widgets_test.dart
  packages/devtools_app/test/shared/ui/editable_list_test.dart
  packages/devtools_app/test/shared/ui/filter_test.dart
  packages/devtools_app/test/shared/ui/hover_test.dart
  packages/devtools_app/test/shared/ui/search_test.dart
  packages/devtools_app/test/shared/ui/ui_utils_test.dart
  packages/devtools_app/test/shared/ui/vm_flag_widgets_test.dart
Owners: @flutter/devtools-reviewers

license update - batch 42 (#8743)
  packages/devtools_app/lib/src/shared/utils/future_work_tracker.dart
  packages/devtools_app/lib/src/shared/utils/profiler_utils.dart
  packages/devtools_app/lib/src/shared/utils/utils.dart
  packages/devtools_app/lib/src/shared/utils/vm_utils.dart
  packages/devtools_app/test/shared/utils/future_work_tracker_test.dart
  packages/devtools_app/test/shared/utils/utils_test.dart
Owners: @flutter/devtools-reviewers

license update - batch 43 (#8744)
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_controller.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_panel.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_view.dart
  packages/devtools_app/lib/src/standalone_ui/standalone_screen.dart
  packages/devtools_app/lib/src/standalone_ui/vs_code/debug_sessions.dart
  packages/devtools_app/lib/src/standalone_ui/vs_code/devices.dart
  packages/devtools_app/lib/src/standalone_ui/vs_code/devtools/devtools_view.dart
  packages/devtools_app/lib/src/standalone_ui/vs_code/devtools/extensions_view.dart
  packages/devtools_app/lib/src/standalone_ui/vs_code/devtools/shared.dart
  packages/devtools_app/lib/src/standalone_ui/vs_code/devtools/sidebar_extensions_controller.dart
  packages/devtools_app/lib/src/standalone_ui/vs_code/flutter_panel.dart
  packages/devtools_app/test/standalone_ui/ide_shared/property_editor_test.dart
  packages/devtools_app/test/standalone_ui/vs_code/debug_sessions_test.dart
  packages/devtools_app/test/standalone_ui/vs_code/devtools_test.dart
Owners: @flutter/devtools-reviewers

license update - batch 44 (#8746)
  packages/devtools_app/macos/Flutter/GeneratedPluginRegistrant.swift
  packages/devtools_app/macos/README.md
  packages/devtools_app/macos/Runner/AppDelegate.swift
  packages/devtools_app/macos/Runner/MainFlutterWindow.swift
  packages/devtools_app/macos/RunnerTests/RunnerTests.swift
Owners: @flutter/devtools-reviewers

license update - batch 45 (#8747)
  packages/devtools_app/test/legacy_integration_tests/app.dart
  packages/devtools_app/test/legacy_integration_tests/debugger.dart
  packages/devtools_app/test/legacy_integration_tests/integration.dart
  packages/devtools_app/test/legacy_integration_tests/integration_test.dart
  packages/devtools_app/test/legacy_integration_tests/logging.dart
  packages/devtools_app/test/legacy_integration_tests/readme.md
  packages/devtools_app/test_driver/integration_test.dart
Owners: @flutter/devtools-reviewers

license update - batch 46 (#8748)
  packages/devtools_app/test/screens/cpu_profiler/cpu_profile_model_test.dart
  packages/devtools_app/test/screens/cpu_profiler/cpu_profile_transformer_test.dart
  packages/devtools_app/test/screens/cpu_profiler/cpu_profiler_controller_test.dart
  packages/devtools_app/test/screens/cpu_profiler/cpu_profiler_test.dart
  packages/devtools_app/test/screens/cpu_profiler/method_table/method_table_controller_test.dart
  packages/devtools_app/test/screens/cpu_profiler/method_table/method_table_model_test.dart
  packages/devtools_app/test/screens/cpu_profiler/method_table/method_table_test.dart
  packages/devtools_app/test/screens/cpu_profiler/profiler_screen_controller_test.dart
  packages/devtools_app/test/screens/cpu_profiler/profiler_screen_test.dart
Owners: @flutter/devtools-reviewers

license update - batch 48 (#8750)
  packages/devtools_app/web/index.html
  packages/devtools_app/web/styles.css
  packages/devtools_app/web/unsupported-browser.html
Owners: @flutter/devtools-reviewers

license update - batch 49 (#8751)
  packages/devtools_app_shared/CHANGELOG.md
  packages/devtools_app_shared/README.md
  packages/devtools_app_shared/lib/shared.dart
  packages/devtools_app_shared/lib/src/shared/embed_mode.dart
  packages/devtools_app_shared/lib/ui.dart
  packages/devtools_app_shared/lib/utils.dart
  packages/devtools_app_shared/lib/web_utils.dart
  packages/devtools_app_shared/pubspec.yaml
  packages/devtools_app_shared/test/shared/embed_mode_test.dart
  packages/devtools_app_shared/test/test_utils.dart
Owners: @kenzieschmoll

license update - batch 50 (#8752)
  packages/devtools_app_shared/example/service_example.dart
  packages/devtools_app_shared/example/ui/common_example.dart
  packages/devtools_app_shared/example/ui/dialog_example.dart
  packages/devtools_app_shared/example/ui/split_example.dart
  packages/devtools_app_shared/example/utils/auto_dispose_example.dart
  packages/devtools_app_shared/example/utils/globals_example.dart
  packages/devtools_app_shared/example/utils/list_example.dart
  packages/devtools_app_shared/example/utils/utils_example.dart
Owners: @kenzieschmoll

license update - batch 51 (#8753)
  packages/devtools_app_shared/lib/service.dart
  packages/devtools_app_shared/lib/service_extensions.dart
  packages/devtools_app_shared/lib/src/service/connected_app.dart
  packages/devtools_app_shared/lib/src/service/constants.dart
  packages/devtools_app_shared/lib/src/service/dtd_manager.dart
  packages/devtools_app_shared/lib/src/service/eval_on_dart_library.dart
  packages/devtools_app_shared/lib/src/service/flutter_version.dart
  packages/devtools_app_shared/lib/src/service/isolate_manager.dart
  packages/devtools_app_shared/lib/src/service/isolate_state.dart
  packages/devtools_app_shared/lib/src/service/resolved_uri_manager.dart
  packages/devtools_app_shared/lib/src/service/service_extension_manager.dart
  packages/devtools_app_shared/lib/src/service/service_extensions.dart
  packages/devtools_app_shared/lib/src/service/service_manager.dart
  packages/devtools_app_shared/lib/src/service/service_utils.dart
  packages/devtools_app_shared/test/service/flutter_version_test.dart
Owners: @kenzieschmoll

license update - batch 52 (#8754)
  packages/devtools_app_shared/lib/src/ui/buttons.dart
  packages/devtools_app_shared/lib/src/ui/common.dart
  packages/devtools_app_shared/lib/src/ui/dialogs.dart
  packages/devtools_app_shared/lib/src/ui/flex_split_column.dart
  packages/devtools_app_shared/lib/src/ui/icons.dart
  packages/devtools_app_shared/lib/src/ui/split_pane.dart
  packages/devtools_app_shared/lib/src/ui/text_field.dart
  packages/devtools_app_shared/lib/src/ui/theme/_ide_theme_desktop.dart
  packages/devtools_app_shared/lib/src/ui/theme/_ide_theme_web.dart
  packages/devtools_app_shared/lib/src/ui/theme/ide_theme.dart
  packages/devtools_app_shared/lib/src/ui/theme/theme.dart
  packages/devtools_app_shared/lib/src/ui/ui_utils.dart
  packages/devtools_app_shared/test/ui/common_test.dart
  packages/devtools_app_shared/test/ui/flex_split_column_test.dart
  packages/devtools_app_shared/test/ui/ide_theme_test.dart
  packages/devtools_app_shared/test/ui/split_pane_test.dart
  packages/devtools_app_shared/test/ui/theme_test.dart
Owners: @kenzieschmoll

reverted header for copied code
  packages/devtools_app/lib/src/shared/http/_http_date.dart
Owners: @flutter/devtools-reviewers

Remove trailing whitespace
  case_study/code_size/optimized/code_size_images/macos/Flutter/GeneratedPluginRegistrant.swift
  case_study/code_size/optimized/code_size_package/macos/Flutter/GeneratedPluginRegistrant.swift
  case_study/code_size/unoptimized/code_size_images/macos/Flutter/GeneratedPluginRegistrant.swift
  case_study/code_size/unoptimized/code_size_package/macos/Flutter/GeneratedPluginRegistrant.swift
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_view.dart
Owners: @flutter/devtools-reviewers

Revert "Remove trailing whitespace"
  case_study/code_size/optimized/code_size_images/macos/Flutter/GeneratedPluginRegistrant.swift
  case_study/code_size/optimized/code_size_package/macos/Flutter/GeneratedPluginRegistrant.swift
  case_study/code_size/unoptimized/code_size_images/macos/Flutter/GeneratedPluginRegistrant.swift
  case_study/code_size/unoptimized/code_size_package/macos/Flutter/GeneratedPluginRegistrant.swift
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_view.dart
Owners: @flutter/devtools-reviewers

Remove trailing whitespace (again)
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_view.dart
Owners: @flutter/devtools-reviewers

corrected edge cases
  packages/devtools_app/test/test_infra/fixtures/flutter_app/lib/main.dart
  packages/devtools_app/test/test_infra/utils/rendering_tester.dart
Owners: @flutter/devtools-reviewers

updated goldens for new license headers
  packages/devtools_app/test/test_infra/goldens/syntax_highlighting/classes_mixins.dart.golden
  packages/devtools_app/test/test_infra/goldens/syntax_highlighting/comments.dart.golden
  packages/devtools_app/test/test_infra/goldens/syntax_highlighting/functions.dart.golden
  packages/devtools_app/test/test_infra/goldens/syntax_highlighting/keywords.dart.golden
  packages/devtools_app/test/test_infra/goldens/syntax_highlighting/literals.dart.golden
  packages/devtools_app/test/test_infra/goldens/syntax_highlighting/names.dart.golden
  packages/devtools_app/test/test_infra/goldens/syntax_highlighting/operators.dart.golden
  packages/devtools_app/test/test_infra/goldens/syntax_highlighting/string_interpolation.dart.golden
Owners: @flutter/devtools-reviewers

CODEOWNERS:

*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @elliette

# Network Files
network/            @bkonyi @kenzieschmoll

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll @bkonyi

# Memory files
memory/             @bkonyi @kenzieschmoll

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @kenzieschmoll

# DevTools extensions and related files
src/extensions/
packages/devtools_extensions/    @kenzieschmoll
packages/devtools_app_shared/    @kenzieschmoll

# package:devtools_shared code, which is used across DevTools and the Dart SDK
packages/devtools_shared/        @kenzieschmoll @bkonyi

# Version bump files.
# No owners to prevent version update spam
packages/devtools_app/lib/devtools.dart
packages/devtools_app/pubspec.yaml
packages/devtools_test/pubspec.yaml
