Repository flutter/devtools, changes with the owners that CODEOWNERS names for each.
All owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

CODEOWNERS:

*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @elliette

# Network Files
network/            @bkonyi @kenzieschmoll

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll @bkonyi

# Memory files
memory/             @bkonyi @kenzieschmoll

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @kenzieschmoll

# DevTools extensions and related files
src/extensions/
packages/devtools_extensions/    @kenzieschmoll
packages/devtools_app_shared/    @kenzieschmoll

# package:devtools_shared code, which is used across DevTools and the Dart SDK
packages/devtools_shared/        @kenzieschmoll @bkonyi

# Version bump files.
# No owners to prevent version update spam
packages/devtools_app/lib/devtools.dart
packages/devtools_app/pubspec.yaml
packages/devtools_test/pubspec.yaml

fix a couple lints
  analysis_options.yaml
  pubspec.yaml
Owners: @flutter/devtools-reviewers

Fix daily dev bump action
  .github/workflows/daily-dev-bump.yaml
Owners: @flutter/devtools-reviewers

Run a subset of tests on the Flutter customer test registry.
  packages/devtools_app/test/debugger/debugger_evaluation_test.dart
  packages/devtools_app/test/test_infra/scenes/memory/default.dart
  packages/devtools_test/lib/src/helpers/utils.dart
  tool/flutter_customer_tests/README.md
  tool/flutter_customer_tests/test.sh
Owners: @elliette, @bkonyi, @kenzieschmoll, @flutter/devtools-reviewers

Update DCM to latest version
  .github/workflows/build.yaml
Owners: @flutter/devtools-reviewers

Move off of deprecated upload-artifact@v3
  .github/workflows/build.yaml
Owners: @flutter/devtools-reviewers

Update DCM to latest version (#8554)
  .github/workflows/build.yaml
Owners: @flutter/devtools-reviewers

Move off of deprecated upload-artifact@v3 (#8555)
  .github/workflows/build.yaml
Owners: @flutter/devtools-reviewers

Fix daily dev bump action (#8551)
  .github/workflows/daily-dev-bump.yaml
Owners: @flutter/devtools-reviewers

Run a subset of tests on the Flutter customer test registry. (#8552)
  packages/devtools_app/test/debugger/debugger_evaluation_test.dart
  packages/devtools_app/test/test_infra/scenes/memory/default.dart
  packages/devtools_test/lib/src/helpers/utils.dart
  tool/flutter_customer_tests/README.md
  tool/flutter_customer_tests/test.sh
Owners: @elliette, @bkonyi, @kenzieschmoll, @flutter/devtools-reviewers

[Property Editor] Initial UI scaffold (#8538)
  packages/.vscode/launch.json
  packages/devtools_app/lib/src/shared/console/widgets/description.dart
  packages/devtools_app/lib/src/shared/feature_flags.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_sidebar.dart
  packages/devtools_app/lib/src/standalone_ui/vs_code/flutter_panel.dart
  packages/devtools_app/test/shared/primitives/feature_flags_test.dart
  packages/devtools_app/test/standalone_ui/ide_shared/property_editor_test.dart
  packages/devtools_app_shared/lib/src/ui/common.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

Update logic
  packages/devtools_app/lib/src/screens/debugger/codeview.dart
  packages/devtools_app/lib/src/shared/console/widgets/description.dart
  packages/devtools_app/lib/src/shared/ui/hover.dart
Owners: @elliette, @flutter/devtools-reviewers

Add test case
  packages/devtools_app/test/shared/hover_test.dart
Owners: @flutter/devtools-reviewers

Speed up analysis for Flutter customers tests
  tool/flutter_customer_tests/analyze.sh
  tool/lib/commands/analyze.dart
  tool/lib/model.dart
  tool/pubspec.yaml
Owners: @kenzieschmoll

comments
  tool/flutter_customer_tests/analyze.sh
  tool/flutter_customer_tests/setup.sh
  tool/flutter_customer_tests/test.sh
Owners: @kenzieschmoll

use dt exe
  tool/flutter_customer_tests/analyze.sh
Owners: @kenzieschmoll

do not pub get from tool/ in analyze command
  tool/flutter_customer_tests/analyze.sh
Owners: @kenzieschmoll

do not pub get before generating code in setup.sh
  tool/flutter_customer_tests/setup.sh
Owners: @kenzieschmoll

add a few ignores
  packages/devtools_app_shared/example/service_example.dart
  packages/devtools_app_shared/example/utils/globals_example.dart
  packages/devtools_app_shared/example/utils/utils_example.dart
Owners: @kenzieschmoll

more lints
  packages/devtools_app_shared/example/service_example.dart
  packages/devtools_extensions/example/packages_with_extensions/foo/packages/foo_devtools_extension/lib/src/feature_examples/service_extension_example.dart
  packages/devtools_extensions/example/packages_with_extensions/foo/packages/foo_devtools_extension/pubspec.yaml
Owners: @kenzieschmoll

fix up path for analyze script
  tool/flutter_customer_tests/analyze.sh
  tool/flutter_customer_tests/setup.sh
Owners: @kenzieschmoll

Respond to PR comments
  packages/devtools_app/lib/src/shared/ui/hover.dart
Owners: @flutter/devtools-reviewers

fix pub get issue
  tool/flutter_customer_tests/setup.sh
  tool/lib/commands/generate_code.dart
Owners: @kenzieschmoll

ignore subdirectories
  tool/lib/commands/analyze.dart
  tool/lib/model.dart
Owners: @kenzieschmoll

only check ancestors
  tool/lib/model.dart
Owners: @kenzieschmoll

Speed up analysis for Flutter customer tests (#8560)
  tool/flutter_customer_tests/analyze.sh
  tool/flutter_customer_tests/setup.sh
  tool/flutter_customer_tests/test.sh
  tool/lib/commands/analyze.dart
  tool/lib/commands/generate_code.dart
  tool/lib/model.dart
  tool/pubspec.yaml
Owners: @kenzieschmoll

move vs code configuration to main devtools folder
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
Owners: @flutter/devtools-reviewers

fix vs code config paths
  .vscode/launch.json
Owners: @flutter/devtools-reviewers

Update triage instructions
  TRIAGE.md
Owners: @flutter/devtools-reviewers

Update triage instructions (#8563)
  TRIAGE.md
Owners: @flutter/devtools-reviewers

Don't show hovercards for primitive and null values (#8528)
  packages/devtools_app/lib/src/screens/debugger/codeview.dart
  packages/devtools_app/lib/src/shared/console/widgets/description.dart
  packages/devtools_app/lib/src/shared/ui/hover.dart
  packages/devtools_app/test/shared/hover_test.dart
Owners: @elliette, @flutter/devtools-reviewers

Prepare for release 2.41.0
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

update flutter version and release instructions
  flutter-candidate.txt
  tool/RELEASE_INSTRUCTIONS.md
Owners: @flutter/devtools-reviewers, @kenzieschmoll

Prepare for release 2.41.0 (#8564)
  flutter-candidate.txt
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
  tool/RELEASE_INSTRUCTIONS.md
Owners: @flutter/devtools-reviewers, @kenzieschmoll

Update close-inactive-issues.yaml
  .github/workflows/close-inactive-issues.yaml
Owners: @flutter/devtools-reviewers

fix dep
  tool/pubspec.yaml
Owners: @kenzieschmoll

fix build runner dep
  packages/devtools_app/macos/Flutter/GeneratedPluginRegistrant.swift
  packages/devtools_app/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  pubspec.yaml
  tool/lib/commands/generate_code.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

fix analysis issues
  analysis_options.yaml
  case_study/code_size/optimized/code_size_images/lib/animals.dart
  case_study/code_size/optimized/code_size_images/lib/main.dart
  case_study/code_size/optimized/code_size_images/test/widget_test.dart
  case_study/code_size/optimized/code_size_package/lib/main.dart
  case_study/code_size/optimized/code_size_package/test/widget_test.dart
  case_study/code_size/unoptimized/code_size_images/lib/animals.dart
  case_study/code_size/unoptimized/code_size_images/lib/main.dart
  case_study/code_size/unoptimized/code_size_images/test/widget_test.dart
  case_study/code_size/unoptimized/code_size_package/lib/main.dart
  case_study/code_size/unoptimized/code_size_package/test/widget_test.dart
  case_study/memory_leaks/memory_leak_app/lib/about.dart
  case_study/memory_leaks/memory_leak_app/lib/main.dart
  case_study/memory_leaks/memory_leak_app/lib/restful_servers.dart
  case_study/memory_leaks/memory_leak_app/lib/tabs/http_data.dart
  case_study/memory_leaks/memory_leak_app/lib/tabs/logger.dart
  case_study/memory_leaks/memory_leak_app/lib/tabs/settings.dart
  case_study/platform_channel/lib/channel_demo.dart
  case_study/platform_channel/lib/main.dart
  case_study/platform_channel/test/widget_test.dart
Owners: @flutter/devtools-reviewers

Add more instructions triage docs
  TRIAGE.md
Owners: @flutter/devtools-reviewers

Add more instructions triage docs (#8571)
  TRIAGE.md
Owners: @flutter/devtools-reviewers

Update empty word check
  packages/devtools_app/lib/src/screens/debugger/codeview.dart
Owners: @elliette
