Repository flutter/devtools, changes with the owners that CODEOWNERS names for each.
All owners: @flutter/devtools-reviewers, @CoderDake, @kenzieschmoll, @bkonyi, @polina-c, @elliette

CODEOWNERS:

*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @CoderDake

# Network Files
network/            @kenzieschmoll @bkonyi

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll

# Memory files
memory/             @bkonyi @polina-c

# Memory leak tracking files
memory/panes/leaks  @CoderDake @polina-c

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @CoderDake

packages/devtools_extensions/    @kenzieschmoll


# Version bump files.
# No owners to prevent version update spam
packages/devtools_app/lib/devtools.dart
packages/devtools_app/pubspec.yaml
packages/devtools_test/pubspec.yaml

Update utils.dart
  tool/lib/utils.dart
Owners: @CoderDake

Prepare for release
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_test/pubspec.yaml
Owners: none

Update utils.dart
  tool/lib/utils.dart
Owners: @CoderDake

Prepare for release
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_test/pubspec.yaml
Owners: none

Fix script path detection. (#7466)
  tool/lib/utils.dart
Owners: @CoderDake

add a helper method
  packages/devtools_app/lib/src/screens/performance/panes/timeline_events/timeline_events_controller.dart
Owners: @kenzieschmoll

Fix broken tests
  packages/devtools_app/lib/src/screens/performance/panes/frame_analysis/frame_analysis.dart
  packages/devtools_app/lib/src/screens/performance/panes/frame_analysis/frame_hints.dart
  packages/devtools_app/lib/src/screens/performance/panes/timeline_events/timeline_events_controller.dart
  packages/devtools_app/lib/src/screens/performance/tabbed_performance_view.dart
  packages/devtools_app/test/performance/frame_analysis/frame_analysis_test.dart
  packages/devtools_app/test/performance/frame_analysis/frame_hints_test.dart
Owners: @kenzieschmoll

Fix bug with selecting flutter frames (#7461)
  packages/devtools_app/lib/src/screens/performance/panes/timeline_events/timeline_event_processor.dart
  packages/devtools_app/lib/src/screens/performance/panes/timeline_events/timeline_events_controller.dart
Owners: @kenzieschmoll

happy merge
  packages/devtools_app/lib/src/screens/performance/panes/timeline_events/timeline_events_controller.dart
Owners: @kenzieschmoll

cleanup hover card styling
  packages/devtools_app/lib/src/screens/performance/panes/timeline_events/timeline_events_view.dart
  packages/devtools_app_shared/lib/src/ui/theme/theme.dart
Owners: @kenzieschmoll, @flutter/devtools-reviewers

version bumps
  packages/devtools_app_shared/CHANGELOG.md
  packages/devtools_app_shared/pubspec.yaml
  packages/devtools_extensions/CHANGELOG.md
  packages/devtools_extensions/pubspec.yaml
  packages/devtools_shared/CHANGELOG.md
  packages/devtools_shared/pubspec.yaml
Owners: @flutter/devtools-reviewers, @kenzieschmoll

Updating from 2.34.0-dev.14 to 2.34.0-dev.15 (#7464)
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_test/pubspec.yaml
Owners: none

Changing Flutter Candidate to 3.21.0-15.0.pre
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

update devtools_app deps
  flutter-candidate.txt
  packages/devtools_app/pubspec.yaml
Owners: @flutter/devtools-reviewers

Changing Flutter Candidate to 3.21.0-15.0.pre (#7469)
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

Add a loading overlay when Perfetto UI is proecessing trace (#7463)
  packages/devtools_app/lib/src/screens/performance/panes/controls/performance_controls.dart
  packages/devtools_app/lib/src/screens/performance/panes/frame_analysis/frame_analysis.dart
  packages/devtools_app/lib/src/screens/performance/panes/frame_analysis/frame_hints.dart
  packages/devtools_app/lib/src/screens/performance/panes/timeline_events/timeline_events_controller.dart
  packages/devtools_app/lib/src/screens/performance/panes/timeline_events/timeline_events_view.dart
  packages/devtools_app/lib/src/screens/performance/tabbed_performance_view.dart
  packages/devtools_app/lib/src/shared/future_work_tracker.dart
  packages/devtools_app/test/performance/frame_analysis/frame_analysis_test.dart
  packages/devtools_app/test/performance/frame_analysis/frame_hints_test.dart
  packages/devtools_app_shared/lib/src/ui/theme/theme.dart
Owners: @kenzieschmoll, @flutter/devtools-reviewers

Prep devtools packages for pre-release (#7470)
  packages/devtools_app/pubspec.yaml
  packages/devtools_app_shared/CHANGELOG.md
  packages/devtools_app_shared/pubspec.yaml
  packages/devtools_extensions/CHANGELOG.md
  packages/devtools_extensions/pubspec.yaml
  packages/devtools_shared/CHANGELOG.md
  packages/devtools_shared/pubspec.yaml
Owners: @flutter/devtools-reviewers, @kenzieschmoll

Update _file_web.dart
  packages/devtools_app/lib/src/shared/config_specific/file/_file_web.dart
Owners: @flutter/devtools-reviewers

Delete _file_web.dart
  packages/devtools_app/lib/src/shared/config_specific/file/_file_web.dart
Owners: @flutter/devtools-reviewers

Fix file system tech debt
  packages/devtools_app/lib/src/shared/config_specific/file/_file_web.dart
  packages/devtools_app/lib/src/shared/config_specific/file/file.dart
  packages/devtools_app/lib/src/shared/config_specific/import_export/_export_desktop.dart
  packages/devtools_app/lib/src/shared/config_specific/import_export/_file_desktop.dart
Owners: @flutter/devtools-reviewers

Fix file system tech debt (#7474)
  packages/devtools_app/lib/src/shared/config_specific/file/_file_web.dart
  packages/devtools_app/lib/src/shared/config_specific/file/file.dart
  packages/devtools_app/lib/src/shared/config_specific/import_export/_export_desktop.dart
  packages/devtools_app/lib/src/shared/config_specific/import_export/_file_desktop.dart
Owners: @flutter/devtools-reviewers

Add GA timing for processing timeline events
  packages/devtools_app/lib/src/screens/performance/panes/timeline_events/perfetto/_perfetto_controller_web.dart
  packages/devtools_app/lib/src/screens/performance/panes/timeline_events/timeline_events_controller.dart
  packages/devtools_app/lib/src/shared/analytics/constants/_performance_constants.dart
Owners: @kenzieschmoll, @flutter/devtools-reviewers

Update eval_and_inspect_test.dart
  packages/devtools_app/integration_test/test/live_connection/eval_and_inspect_test.dart
Owners: @flutter/devtools-reviewers

Prepare for release. (#7468)
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_test/pubspec.yaml
Owners: none

Switch back to dart:html for postMessage
  packages/devtools_app/lib/src/shared/config_specific/copy_to_clipboard/_copy_to_clipboard_web.dart
  packages/devtools_app/lib/src/shared/config_specific/framework_initialize/_framework_initialize_web.dart
  packages/devtools_app/lib/src/shared/config_specific/launch_url/_launch_url_web.dart
  packages/devtools_app/lib/src/shared/config_specific/post_message/_post_message_web.dart
Owners: @flutter/devtools-reviewers

Only display 'Performance Settings' for Flutter applications
  packages/devtools_app/lib/src/screens/performance/panes/controls/performance_controls.dart
  packages/devtools_app/lib/src/screens/performance/panes/controls/performance_settings.dart
Owners: @kenzieschmoll

Initial commit
  packages/devtools_app/lib/src/shared/analytics/_analytics_web.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_shared/pubspec.yaml
Owners: @flutter/devtools-reviewers

Temp update for path to ua package
  packages/devtools_shared/pubspec.yaml
Owners: @flutter/devtools-reviewers

Add ignore reason
  packages/devtools_app/lib/src/shared/config_specific/post_message/_post_message_web.dart
Owners: @flutter/devtools-reviewers

Use readyToResume
  packages/devtools_app/pubspec.yaml
Owners: none

Use readyToResume
  packages/devtools_app_shared/lib/src/service/isolate_manager.dart
  packages/devtools_app_shared/pubspec.yaml
Owners: @flutter/devtools-reviewers
