Repository flutter/devtools, changes with the owners that CODEOWNERS names for each.
All owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

fix a lifecycle issue with where inspector tree controllers are disposed (#8907)
  packages/devtools_app/lib/src/screens/inspector/inspector_screen_body.dart
  packages/devtools_app/lib/src/screens/inspector_shared/inspector_screen_controller.dart
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_screen_body.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @elliette, @flutter/devtools-reviewers

cleanup
  packages/devtools_app/lib/src/screens/debugger/codeview.dart
  packages/devtools_app/lib/src/screens/debugger/debugger_controller.dart
  packages/devtools_app/lib/src/screens/inspector_shared/inspector_screen_controller.dart
  packages/devtools_app/lib/src/shared/framework/screen_controllers.dart
  packages/devtools_app/test/screens/network/network_request_inspector_test.dart
Owners: @elliette, @flutter/devtools-reviewers, @bkonyi, @kenzieschmoll

add missing release note
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

[Property Editor] Display the name and documentation for the selected widget (#8883)
  packages/devtools_app/lib/src/shared/analytics/constants/_property_editor_sidebar_constants.dart
  packages/devtools_app/lib/src/shared/editor/api_classes.dart
  packages/devtools_app/lib/src/shared/primitives/utils.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_controller.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_inputs.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_view.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/utils/utils.dart
  packages/devtools_app/test/standalone_ui/ide_shared/property_editor/property_editor_test.dart
  packages/devtools_app/test/standalone_ui/ide_shared/property_editor/utils_test.dart
Owners: @flutter/devtools-reviewers

Fix tests
  packages/devtools_app/lib/devtools_app.dart
  packages/devtools_app/lib/src/screens/vm_developer/object_inspector/object_inspector_view.dart
  packages/devtools_app/test/framework/scaffold/scaffold_debugger_test.dart
  packages/devtools_app/test/framework/scaffold/scaffold_debugging_controls_test.dart
  packages/devtools_app/test/framework/scaffold/scaffold_no_app_test.dart
  packages/devtools_app/test/framework/scaffold/scaffold_profile_test.dart
  packages/devtools_app/test/framework/scaffold/scaffold_test.dart
  packages/devtools_app/test/screens/network/network_request_inspector_test.dart
  packages/devtools_app/test/shared/framework/screens_test.dart
  packages/devtools_test/lib/src/helpers/wrappers.dart
Owners: @flutter/devtools-reviewers, @bkonyi, @kenzieschmoll

review comments
  packages/devtools_app/lib/src/screens/debugger/breakpoints.dart
  packages/devtools_app/lib/src/screens/debugger/codeview.dart
Owners: @elliette

Fix network status line error
  packages/devtools_app/lib/src/screens/network/network_screen.dart
Owners: @bkonyi, @kenzieschmoll

Fix bugs
  packages/devtools_app/lib/src/app.dart
  packages/devtools_app/lib/src/shared/framework/screen_controllers.dart
Owners: @flutter/devtools-reviewers

fixes
  packages/devtools_app/lib/src/app.dart
  packages/devtools_app/lib/src/shared/framework/screen_controllers.dart
Owners: @flutter/devtools-reviewers

Add check to integration test.
  packages/devtools_app/benchmark/test_infra/automators/devtools_automator.dart
  packages/devtools_app/integration_test/test/live_connection/app_test.dart
  packages/devtools_app/lib/src/shared/framework/screen_controllers.dart
  packages/devtools_test/lib/src/helpers/actions.dart
Owners: @flutter/devtools-reviewers

Add screen controllers test
  packages/devtools_app/test/shared/framework/screen_controllers_test.dart
Owners: @flutter/devtools-reviewers

formatting
  packages/devtools_app/lib/src/shared/framework/screen_controllers.dart
Owners: @flutter/devtools-reviewers

review comments
  packages/devtools_app/lib/src/shared/framework/screen_controllers.dart
Owners: @flutter/devtools-reviewers

more review comments
  packages/devtools_app/lib/src/shared/framework/screen_controllers.dart
Owners: @flutter/devtools-reviewers

test improvement
  packages/devtools_test/lib/src/helpers/actions.dart
Owners: @flutter/devtools-reviewers

test fix
  packages/devtools_test/lib/src/helpers/actions.dart
Owners: @flutter/devtools-reviewers

Add `DisposableController.init` method and `DisposableController.disposed` getter.
  packages/devtools_app/lib/src/extensions/embedded/_view_web.dart
  packages/devtools_app/lib/src/extensions/embedded/controller.dart
  packages/devtools_app/lib/src/screens/memory/panes/chart/controller/chart_connection.dart
  packages/devtools_app/lib/src/screens/performance/panes/controls/enhance_tracing/enhance_tracing_controller.dart
  packages/devtools_app/lib/src/screens/performance/panes/timeline_events/perfetto/_perfetto_web.dart
  packages/devtools_app/lib/src/screens/performance/panes/timeline_events/perfetto/perfetto_controller.dart
  packages/devtools_app/lib/src/screens/performance/performance_controller.dart
  packages/devtools_app/lib/src/screens/vm_developer/object_inspector/object_inspector_view_controller.dart
  packages/devtools_app/lib/src/shared/framework/screen_controllers.dart
  packages/devtools_app/lib/src/shared/preferences/_cpu_profiler_preferences.dart
  packages/devtools_app/lib/src/shared/preferences/_extension_preferences.dart
  packages/devtools_app/lib/src/shared/preferences/_inspector_preferences.dart
  packages/devtools_app/lib/src/shared/preferences/_logging_preferences.dart
  packages/devtools_app/lib/src/shared/preferences/_memory_preferences.dart
  packages/devtools_app/lib/src/shared/preferences/_network_preferences.dart
  packages/devtools_app/lib/src/shared/preferences/_performance_preferences.dart
  packages/devtools_app/lib/src/shared/preferences/preferences.dart
  packages/devtools_app/lib/src/standalone_ui/vs_code/devtools/extensions_view.dart
  packages/devtools_app/lib/src/standalone_ui/vs_code/devtools/sidebar_extensions_controller.dart
  packages/devtools_app_shared/CHANGELOG.md
  packages/devtools_app_shared/example/utils/auto_dispose_example.dart
  packages/devtools_app_shared/lib/src/service/eval_on_dart_library.dart
  packages/devtools_app_shared/lib/src/utils/auto_dispose.dart
  packages/devtools_app_shared/pubspec.yaml
  packages/devtools_extensions/CHANGELOG.md
  packages/devtools_extensions/lib/src/template/_simulated_devtools_environment/_simulated_devtools_controller.dart
  packages/devtools_extensions/pubspec.yaml
Owners: @flutter/devtools-reviewers, @bkonyi, @kenzieschmoll

Correct more comment references across the project
  packages/devtools_app/lib/src/screens/vm_developer/object_inspector/vm_code_display.dart
  packages/devtools_app/lib/src/screens/vm_developer/object_inspector/vm_object_model.dart
  packages/devtools_app/lib/src/screens/vm_developer/object_inspector/vm_script_display.dart
  packages/devtools_app/lib/src/screens/vm_developer/process_memory/process_memory_view_controller.dart
  packages/devtools_app/lib/src/screens/vm_developer/vm_service_private_extensions.dart
  packages/devtools_extensions/lib/src/template/devtools_extension.dart
  packages/devtools_extensions/lib/src/template/extension_manager.dart
  packages/devtools_shared/lib/src/extensions/extension_model.dart
  packages/devtools_shared/lib/src/memory/adb_memory_info.dart
  packages/devtools_shared/lib/src/service_utils.dart
  packages/devtools_shared/lib/src/utils/semantic_version.dart
  packages/devtools_shared/lib/src/utils/serialization.dart
Owners: @bkonyi, @kenzieschmoll

feedback
  packages/devtools_app/lib/src/screens/vm_developer/object_inspector/vm_object_model.dart
Owners: @bkonyi

Fix a bug with screen controller initialization
  packages/devtools_app/lib/src/app.dart
Owners: @flutter/devtools-reviewers

Fix a bug with screen controller initialization (#8916)
  packages/devtools_app/lib/src/app.dart
Owners: @flutter/devtools-reviewers

Dispose all disposables in the VM tool and debugger controllers
  packages/devtools_app/lib/src/screens/debugger/codeview_controller.dart
  packages/devtools_app/lib/src/screens/debugger/debugger_controller.dart
  packages/devtools_app/lib/src/screens/debugger/program_explorer_controller.dart
  packages/devtools_app/lib/src/screens/vm_developer/object_inspector/class_hierarchy_explorer_controller.dart
  packages/devtools_app/lib/src/screens/vm_developer/object_inspector/object_inspector_view_controller.dart
  packages/devtools_app/lib/src/screens/vm_developer/object_inspector/object_store_controller.dart
  packages/devtools_app/lib/src/screens/vm_developer/vm_developer_tools_controller.dart
  packages/devtools_app/lib/src/shared/primitives/history_manager.dart
Owners: @elliette, @bkonyi, @flutter/devtools-reviewers

rnotes
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

remove unnecessary override
  packages/devtools_app/lib/src/shared/framework/screen_controllers.dart
Owners: @flutter/devtools-reviewers

Add `DisposableController.init` method and `DisposableController.disposed` getter. (#8914)
  packages/devtools_app/lib/src/extensions/embedded/_view_web.dart
  packages/devtools_app/lib/src/extensions/embedded/controller.dart
  packages/devtools_app/lib/src/screens/memory/panes/chart/controller/chart_connection.dart
  packages/devtools_app/lib/src/screens/performance/panes/controls/enhance_tracing/enhance_tracing_controller.dart
  packages/devtools_app/lib/src/screens/performance/panes/timeline_events/perfetto/_perfetto_web.dart
  packages/devtools_app/lib/src/screens/performance/panes/timeline_events/perfetto/perfetto_controller.dart
  packages/devtools_app/lib/src/screens/performance/performance_controller.dart
  packages/devtools_app/lib/src/screens/vm_developer/object_inspector/object_inspector_view_controller.dart
  packages/devtools_app/lib/src/shared/framework/screen_controllers.dart
  packages/devtools_app/lib/src/shared/preferences/_cpu_profiler_preferences.dart
  packages/devtools_app/lib/src/shared/preferences/_extension_preferences.dart
  packages/devtools_app/lib/src/shared/preferences/_inspector_preferences.dart
  packages/devtools_app/lib/src/shared/preferences/_logging_preferences.dart
  packages/devtools_app/lib/src/shared/preferences/_memory_preferences.dart
  packages/devtools_app/lib/src/shared/preferences/_network_preferences.dart
  packages/devtools_app/lib/src/shared/preferences/_performance_preferences.dart
  packages/devtools_app/lib/src/shared/preferences/preferences.dart
  packages/devtools_app/lib/src/standalone_ui/vs_code/devtools/extensions_view.dart
  packages/devtools_app/lib/src/standalone_ui/vs_code/devtools/sidebar_extensions_controller.dart
  packages/devtools_app_shared/CHANGELOG.md
  packages/devtools_app_shared/example/utils/auto_dispose_example.dart
  packages/devtools_app_shared/lib/src/service/eval_on_dart_library.dart
  packages/devtools_app_shared/lib/src/utils/auto_dispose.dart
  packages/devtools_app_shared/pubspec.yaml
  packages/devtools_extensions/CHANGELOG.md
  packages/devtools_extensions/lib/src/template/_simulated_devtools_environment/_simulated_devtools_controller.dart
  packages/devtools_extensions/pubspec.yaml
Owners: @flutter/devtools-reviewers, @bkonyi, @kenzieschmoll

formatting
  packages/devtools_app/lib/src/screens/debugger/debugger_controller.dart
Owners: @elliette

Correct more broken comment references
  packages/devtools_app/lib/src/shared/diagnostics/generic_instance_reference.dart
  packages/devtools_app/lib/src/shared/diagnostics/inspector_service.dart
  packages/devtools_app/lib/src/shared/framework/screen.dart
  packages/devtools_app/lib/src/shared/http/http_request_data.dart
  packages/devtools_app/lib/src/shared/log_storage.dart
  packages/devtools_app/lib/src/shared/managers/survey.dart
  packages/devtools_app/lib/src/shared/primitives/collapsible_mixin.dart
Owners: @flutter/devtools-reviewers

Dispose all disposables in AppSizeController
  packages/devtools_app/lib/src/screens/app_size/app_size_controller.dart
Owners: @flutter/devtools-reviewers

formatting
  packages/devtools_app/lib/src/screens/app_size/app_size_controller.dart
Owners: @flutter/devtools-reviewers

rnotes
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Dispose all disposables in the VM tool and Debugger controllers (#8917)
  packages/devtools_app/lib/src/screens/debugger/codeview_controller.dart
  packages/devtools_app/lib/src/screens/debugger/debugger_controller.dart
  packages/devtools_app/lib/src/screens/debugger/program_explorer_controller.dart
  packages/devtools_app/lib/src/screens/vm_developer/object_inspector/class_hierarchy_explorer_controller.dart
  packages/devtools_app/lib/src/screens/vm_developer/object_inspector/object_inspector_view_controller.dart
  packages/devtools_app/lib/src/screens/vm_developer/object_inspector/object_store_controller.dart
  packages/devtools_app/lib/src/screens/vm_developer/vm_developer_tools_controller.dart
  packages/devtools_app/lib/src/shared/framework/screen_controllers.dart
  packages/devtools_app/lib/src/shared/primitives/history_manager.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @elliette, @bkonyi, @flutter/devtools-reviewers

Dispose all disposables for the Logging screen
  packages/devtools_app/lib/src/screens/logging/_message_column.dart
  packages/devtools_app/lib/src/screens/logging/logging_controller.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

rnotes
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Fix tests
  packages/devtools_app/lib/src/screens/logging/_message_column.dart
  packages/devtools_app/lib/src/screens/logging/logging_controller.dart
  packages/devtools_app/test/screens/logging/logging_controller_test.dart
Owners: @flutter/devtools-reviewers

Dispose all disposables for the CPU Profiler screen
  packages/devtools_app/lib/src/screens/profiler/cpu_profiler_controller.dart
  packages/devtools_app/lib/src/screens/profiler/profiler_screen.dart
  packages/devtools_app/lib/src/screens/profiler/profiler_screen_controller.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @kenzieschmoll, @bkonyi, @flutter/devtools-reviewers

rnotes
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Dispose all disposables in the Performance screen
  packages/devtools_app/lib/src/screens/performance/panes/controls/enhance_tracing/enhance_tracing.dart
  packages/devtools_app/lib/src/screens/performance/panes/flutter_frames/flutter_frames_controller.dart
  packages/devtools_app/lib/src/screens/performance/panes/rebuild_stats/rebuild_stats_model.dart
  packages/devtools_app/lib/src/screens/performance/panes/timeline_events/perfetto/_perfetto_controller_web.dart
  packages/devtools_app/lib/src/screens/performance/panes/timeline_events/timeline_events_controller.dart
  packages/devtools_app/lib/src/screens/performance/performance_controller.dart
Owners: @kenzieschmoll

one more
  packages/devtools_app/lib/src/shared/utils/future_work_tracker.dart
Owners: @flutter/devtools-reviewers

rnotes
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

fix tests
  packages/devtools_app/test/screens/performance/performance_controller_test.dart
  packages/devtools_app/test/screens/performance/performance_screen_test.dart
Owners: @kenzieschmoll

CODEOWNERS:

*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @elliette

# Network Files
network/            @bkonyi @kenzieschmoll

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll @bkonyi

# Memory files
memory/             @bkonyi @kenzieschmoll

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @kenzieschmoll

# DevTools extensions and related files
src/extensions/
packages/devtools_extensions/    @kenzieschmoll
packages/devtools_app_shared/    @kenzieschmoll

# package:devtools_shared code, which is used across DevTools and the Dart SDK
packages/devtools_shared/        @kenzieschmoll @bkonyi

# Version bump files.
# No owners to prevent version update spam
packages/devtools_app/lib/devtools.dart
packages/devtools_app/pubspec.yaml
packages/devtools_test/pubspec.yaml
