Repository flutter/devtools, changes with the owners that CODEOWNERS names for each.
All owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

CODEOWNERS:

*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @elliette

# Network Files
network/            @bkonyi @kenzieschmoll

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll @bkonyi

# Memory files
memory/             @bkonyi @kenzieschmoll

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @kenzieschmoll

# DevTools extensions and related files
src/extensions/
packages/devtools_extensions/    @kenzieschmoll
packages/devtools_app_shared/    @kenzieschmoll

# package:devtools_shared code, which is used across DevTools and the Dart SDK
packages/devtools_shared/        @kenzieschmoll @bkonyi

# Version bump files.
# No owners to prevent version update spam
packages/devtools_app/lib/devtools.dart
packages/devtools_app/pubspec.yaml
packages/devtools_test/pubspec.yaml

Create `authoring-skills` skill
  .agents/skills/authoring-skills/CHECKLIST.md
  .agents/skills/authoring-skills/EXAMPLES.md
  .agents/skills/authoring-skills/SKILL.md
Owners: @flutter/devtools-reviewers

fix year
  .agents/skills/adding-release-notes/scripts/add_note.dart
Owners: @flutter/devtools-reviewers

scrollCacheExtent -> cacheExtent
  packages/devtools_app/lib/src/shared/primitives/custom_pointer_scroll_view.dart
  pubspec.lock
Owners: @flutter/devtools-reviewers

Explicitly opt out of Flutter Icon Tree Shaking
  packages/devtools_app/lib/src/extensions/extension_screen.dart
  packages/devtools_app/lib/src/shared/ui/icons.dart
Owners: @flutter/devtools-reviewers

add SearchHighlighter utility
  packages/devtools_app/lib/devtools_app.dart
  packages/devtools_app/lib/src/screens/debugger/codeview.dart
  packages/devtools_app/lib/src/screens/debugger/debugger_model.dart
  packages/devtools_app/lib/src/screens/logging/_log_details.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/test/screens/logging/logging_screen_data_test.dart
  packages/devtools_test/lib/src/mocks/generated_mocks_factories.dart
  pubspec.lock
Owners: @flutter/devtools-reviewers, @elliette

Fix broken link
  .github/PULL_REQUEST_TEMPLATE.md
  pubspec.lock
Owners: @flutter/devtools-reviewers

Explicitly opt out of Flutter Icon Tree Shaking (#9718)
  packages/devtools_app/lib/src/extensions/extension_screen.dart
  packages/devtools_app/lib/src/shared/ui/icons.dart
Owners: @flutter/devtools-reviewers

Updating from 2.57.0-dev.0 to 2.57.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Bump the version of package:web_benchmark
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.57.0-dev.0 to 2.57.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Improve network request status classification
  packages/devtools_app/lib/src/shared/http/http_request_data.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/test/screens/network/network_controller_test.dart
  packages/devtools_app/test/screens/network/network_model_test.dart
Owners: @flutter/devtools-reviewers, @bkonyi, @kenzieschmoll

psuhing json
  packages/devtools_app/test/test_infra/test_data/http_get_cancelled_json.dart
Owners: @flutter/devtools-reviewers

add tests and search highlighter
  packages/devtools_app/lib/src/screens/debugger/codeview.dart
  packages/devtools_app/lib/src/screens/logging/_log_details.dart
  packages/devtools_app/lib/src/shared/ui/search_highlighter.dart
  packages/devtools_app/test/shared/ui/search_highlighter_test.dart
Owners: @elliette, @flutter/devtools-reviewers

fix
  packages/devtools_app/lib/src/shared/ui/search_highlighter.dart
Owners: @flutter/devtools-reviewers

formatting
  packages/devtools_app/test/screens/logging/logging_screen_data_test.dart
Owners: @flutter/devtools-reviewers

goldens
  packages/devtools_app/test/test_infra/goldens/memory_diff_empty1.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_empty2.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_selected_class.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_except_diff.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_except_single.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_scene_diff.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_scene_single.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_showAll_diff.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_showAll_single.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_three_snapshots1.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_three_snapshots2.png
Owners: @flutter/devtools-reviewers

Add support for searching within the log details view (#9712)
  packages/devtools_app/lib/devtools_app.dart
  packages/devtools_app/lib/src/screens/debugger/codeview.dart
  packages/devtools_app/lib/src/screens/debugger/debugger_model.dart
  packages/devtools_app/lib/src/screens/logging/_log_details.dart
  packages/devtools_app/lib/src/screens/logging/_logs_table.dart
  packages/devtools_app/lib/src/screens/logging/log_details_controller.dart
  packages/devtools_app/lib/src/screens/logging/logging_controller.dart
  packages/devtools_app/lib/src/screens/logging/logging_screen.dart
  packages/devtools_app/lib/src/shared/table/_flat_table.dart
  packages/devtools_app/lib/src/shared/table/_table_row.dart
  packages/devtools_app/lib/src/shared/ui/search_highlighter.dart
  packages/devtools_app/macos/Runner.xcodeproj/project.pbxproj
  packages/devtools_app/macos/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  packages/devtools_app/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/release_notes/images/log_details_search.png
  packages/devtools_app/test/screens/logging/logging_screen_data_test.dart
  packages/devtools_app/test/shared/ui/search_highlighter_test.dart
  packages/devtools_app/test/test_infra/goldens/memory_diff_empty1.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_empty2.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_selected_class.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_except_diff.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_except_single.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_scene_diff.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_scene_single.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_showAll_diff.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_showAll_single.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_three_snapshots1.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_three_snapshots2.png
  packages/devtools_app_shared/lib/src/ui/theme/theme.dart
  packages/devtools_test/lib/src/mocks/generated_mocks_factories.dart
Owners: @flutter/devtools-reviewers, @elliette, @kenzieschmoll

review comments
  .agents/skills/authoring-skills/CHECKLIST.md
  .agents/skills/authoring-skills/SKILL.md
  pubspec.lock
Owners: @flutter/devtools-reviewers

Fix broken link to AI contribution guidelines in PR template (#9719)
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @flutter/devtools-reviewers

Bump the version of package:web_benchmark (#9721)
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.57.0-dev.0 to 2.57.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
  pubspec.lock
Owners: @flutter/devtools-reviewers

Create `authoring-skills` skill (#9716)
  .agents/skills/adding-release-notes/scripts/add_note.dart
  .agents/skills/authoring-skills/CHECKLIST.md
  .agents/skills/authoring-skills/EXAMPLES.md
  .agents/skills/authoring-skills/SKILL.md
  pubspec.lock
Owners: @flutter/devtools-reviewers

Addressed PR review comments
  packages/devtools_app/lib/src/framework/observer/disconnect_observer.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/not_connected_overlay.dart
  packages/devtools_app/test/framework/observer/disconnect_observer_test.dart
Owners: @flutter/devtools-reviewers

Specify that widget rebuilds is only available in debug-mode
  packages/devtools_app/lib/src/screens/performance/panes/rebuild_stats/rebuild_stats.dart
Owners: @kenzieschmoll

Updating from 2.57.0-dev.0 to 2.57.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Update flutter candidate
  flutter-candidate.txt
  pubspec.lock
Owners: @flutter/devtools-reviewers

Update deps
  packages/devtools_app_shared/macos/Flutter/GeneratedPluginRegistrant.swift
  packages/devtools_app_shared/macos/Flutter/ephemeral/Flutter-Generated.xcconfig
  packages/devtools_app_shared/macos/Flutter/ephemeral/Packages/FlutterGeneratedPluginSwiftPackage/Package.swift
  packages/devtools_app_shared/macos/Flutter/ephemeral/Packages/FlutterGeneratedPluginSwiftPackage/Sources/FlutterGeneratedPluginSwiftPackage/FlutterGeneratedPluginSwiftPackage.swift
  pubspec.lock
Owners: @kenzieschmoll, @flutter/devtools-reviewers

untrack and gitignore macos files
  .gitignore
  packages/devtools_app_shared/macos/Flutter/GeneratedPluginRegistrant.swift
  packages/devtools_app_shared/macos/Flutter/ephemeral/Flutter-Generated.xcconfig
  packages/devtools_app_shared/macos/Flutter/ephemeral/Packages/FlutterGeneratedPluginSwiftPackage/Package.swift
  packages/devtools_app_shared/macos/Flutter/ephemeral/Packages/FlutterGeneratedPluginSwiftPackage/Sources/FlutterGeneratedPluginSwiftPackage/FlutterGeneratedPluginSwiftPackage.swift
Owners: @flutter/devtools-reviewers, @kenzieschmoll

new line end of file
  .gitignore
Owners: @flutter/devtools-reviewers

Run formatteR
  packages/devtools_app/lib/src/framework/observer/_memory_web.dart
Owners: @flutter/devtools-reviewers

Update Flutter candidate version (#9735)
  .gitignore
  flutter-candidate.txt
  packages/devtools_app/lib/src/framework/observer/_memory_web.dart
Owners: @flutter/devtools-reviewers

Updating from 2.57.0-dev.0 to 2.57.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Refactor disconnected overlay reconnect UI and simplify reconnect flow
  packages/devtools_app/lib/src/framework/observer/disconnect_observer.dart
Owners: @flutter/devtools-reviewers

Updating from 2.57.0-dev.0 to 2.57.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.57.0-dev.0 to 2.57.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Improved cancellation status detection in Network profiler
  packages/devtools_app/lib/src/shared/http/http_request_data.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Fix network cancellation test lints and typing
  packages/devtools_app/test/screens/network/network_model_test.dart
  packages/devtools_app/test/test_infra/test_data/http_get_cancelled_json.dart
Owners: @bkonyi, @kenzieschmoll, @flutter/devtools-reviewers

Updating from 2.57.0-dev.0 to 2.57.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.57.0-dev.0 to 2.57.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Add a comment
  packages/devtools_app/lib/src/screens/inspector_shared/inspector_screen_controller.dart
Owners: @flutter/devtools-reviewers
