Repository flutter/devtools, changes with the owners that CODEOWNERS names for each.
All owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

CODEOWNERS:

*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @elliette

# Network Files
network/            @bkonyi @kenzieschmoll

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll @bkonyi

# Memory files
memory/             @bkonyi @kenzieschmoll

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @kenzieschmoll

# DevTools extensions and related files
src/extensions/
packages/devtools_extensions/    @kenzieschmoll
packages/devtools_app_shared/    @kenzieschmoll

# package:devtools_shared code, which is used across DevTools and the Dart SDK
packages/devtools_shared/        @kenzieschmoll @bkonyi

# Version bump files.
# No owners to prevent version update spam
packages/devtools_app/lib/devtools.dart
packages/devtools_app/pubspec.yaml
packages/devtools_test/pubspec.yaml

try to fix test
  packages/devtools_app/lib/src/screens/logging/logging_controller.dart
  packages/devtools_app/lib/src/shared/ui/filter.dart
  packages/devtools_test/lib/src/mocks/generated_mocks_factories.dart
Owners: @flutter/devtools-reviewers

formatting
  packages/devtools_app/lib/src/shared/ui/filter.dart
Owners: @flutter/devtools-reviewers

Fix bug with local mock generation
  tool/lib/commands/generate_code.dart
Owners: @kenzieschmoll

fix column alignment
  packages/devtools_app/lib/src/shared/ui/filter.dart
Owners: @flutter/devtools-reviewers

Include query filter instructions for the standalone filter field (#8463)
  packages/devtools_app/lib/src/screens/logging/logging_controller.dart
  packages/devtools_app/lib/src/screens/logging/logging_controls.dart
  packages/devtools_app/lib/src/screens/logging/logging_screen_v2/logging_model.dart
  packages/devtools_app/lib/src/screens/logging/logging_screen_v2/logging_table_v2.dart
  packages/devtools_app/lib/src/screens/network/network_controller.dart
  packages/devtools_app/lib/src/screens/network/network_screen.dart
  packages/devtools_app/lib/src/screens/profiler/cpu_profiler.dart
  packages/devtools_app/lib/src/screens/profiler/cpu_profiler_controller.dart
  packages/devtools_app/lib/src/screens/profiler/panes/controls/cpu_profiler_controls.dart
  packages/devtools_app/lib/src/shared/ui/filter.dart
  packages/devtools_app/test/shared/filter_test.dart
  packages/devtools_app_shared/CHANGELOG.md
  packages/devtools_app_shared/lib/src/ui/text_field.dart
  packages/devtools_test/lib/src/mocks/generated_mocks_factories.dart
Owners: @flutter/devtools-reviewers, @bkonyi, @kenzieschmoll

Add a filter text field to the top-level Network profiler controls
  packages/devtools_app/lib/src/screens/logging/logging_controls.dart
  packages/devtools_app/lib/src/screens/network/network_request_inspector.dart
  packages/devtools_app/lib/src/screens/network/network_screen.dart
  packages/devtools_app/lib/src/screens/profiler/cpu_profiler.dart
  packages/devtools_app/lib/src/shared/ui/filter.dart
  packages/devtools_app/lib/src/shared/ui/search.dart
  packages/devtools_app/macos/Runner.xcodeproj/project.pbxproj
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/release_notes/images/log_filter.png
  packages/devtools_app/release_notes/images/network_filter.png
Owners: @flutter/devtools-reviewers, @bkonyi, @kenzieschmoll

rnotes
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Persist filters for the network screen
  packages/devtools_app/lib/src/screens/network/network_controller.dart
  packages/devtools_app/lib/src/shared/preferences/_logging_preferences.dart
  packages/devtools_app/lib/src/shared/preferences/_network_preferences.dart
  packages/devtools_app/lib/src/shared/preferences/preferences.dart
  packages/devtools_app/test/network/network_controller_test.dart
  packages/devtools_app/test/network/network_model_test.dart
  packages/devtools_app/test/network/network_table_test.dart
  packages/devtools_app/test/shared/preferences_controller_test.dart
Owners: @bkonyi, @kenzieschmoll, @flutter/devtools-reviewers

rnotes
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

fix test
  packages/devtools_app/lib/src/screens/logging/logging_controller.dart
  packages/devtools_app/lib/src/shared/ui/filter.dart
  packages/devtools_app/lib/src/shared/ui/search.dart
  packages/devtools_app/test/shared/filter_test.dart
  packages/devtools_test/lib/src/mocks/generated_mocks_factories.dart
Owners: @flutter/devtools-reviewers

Add a filter text field to the top-level Network profiler controls (#8469)
  packages/devtools_app/lib/src/screens/logging/logging_controller.dart
  packages/devtools_app/lib/src/screens/logging/logging_controls.dart
  packages/devtools_app/lib/src/screens/network/network_request_inspector.dart
  packages/devtools_app/lib/src/screens/network/network_screen.dart
  packages/devtools_app/lib/src/screens/profiler/cpu_profiler.dart
  packages/devtools_app/lib/src/shared/ui/filter.dart
  packages/devtools_app/lib/src/shared/ui/search.dart
  packages/devtools_app/macos/Runner.xcodeproj/project.pbxproj
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/release_notes/images/log_filter.png
  packages/devtools_app/release_notes/images/network_filter.png
  packages/devtools_app/test/shared/filter_test.dart
  packages/devtools_test/lib/src/mocks/generated_mocks_factories.dart
Owners: @flutter/devtools-reviewers, @bkonyi, @kenzieschmoll

Persist filters for the network screen (#8470)
  packages/devtools_app/lib/src/screens/network/network_controller.dart
  packages/devtools_app/lib/src/shared/preferences/_logging_preferences.dart
  packages/devtools_app/lib/src/shared/preferences/_network_preferences.dart
  packages/devtools_app/lib/src/shared/preferences/preferences.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/test/network/network_controller_test.dart
  packages/devtools_app/test/network/network_model_test.dart
  packages/devtools_app/test/network/network_table_test.dart
  packages/devtools_app/test/shared/preferences_controller_test.dart
Owners: @bkonyi, @kenzieschmoll, @flutter/devtools-reviewers

Fix bug with local mock generation (#8464)
  tool/lib/commands/generate_code.dart
Owners: @kenzieschmoll

remove
  packages/devtools_app/test/network/network_controller_test.dart
Owners: @bkonyi, @kenzieschmoll

Fix bounds check error with dart2wasm -O4
  packages/devtools_app/lib/src/shared/ui/filter.dart
Owners: @flutter/devtools-reviewers

delegating toJson using extension methods, code refactoring
  packages/devtools_app/lib/src/screens/network/network_controller.dart
  packages/devtools_app/lib/src/screens/network/offline_network_data.dart
  packages/devtools_app/lib/src/shared/http/constants.dart
  packages/devtools_app/lib/src/shared/http/http_request_data.dart
  packages/devtools_app/lib/src/shared/screen.dart
Owners: @bkonyi, @kenzieschmoll, @flutter/devtools-reviewers

Fix bounds check error with dart2wasm -O4 (#8472)
  packages/devtools_app/lib/src/shared/ui/filter.dart
Owners: @flutter/devtools-reviewers

Persist filters for the Network and CPU profiler pages (#8456)
  packages/devtools_app/lib/src/screens/profiler/cpu_profiler_controller.dart
  packages/devtools_app/lib/src/shared/preferences/_cpu_profiler_preferences.dart
  packages/devtools_app/lib/src/shared/preferences/preferences.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/test/cpu_profiler/cpu_profiler_test.dart
  packages/devtools_app/test/shared/flame_chart_test.dart
  packages/devtools_app/test/shared/preferences_controller_test.dart
Owners: @kenzieschmoll, @bkonyi, @flutter/devtools-reviewers

[Logging] Support search and filter by metadata
  packages/devtools_app/lib/src/screens/logging/logging_controller.dart
  packages/devtools_app/test/logging/logging_controller_test.dart
Owners: @flutter/devtools-reviewers

rnotes
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

review comment
  packages/devtools_app/lib/src/screens/logging/logging_controller.dart
Owners: @flutter/devtools-reviewers

[Logging] Support search and filter by metadata (#8473)
  packages/devtools_app/lib/src/screens/logging/logging_controller.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/test/logging/logging_controller_test.dart
Owners: @flutter/devtools-reviewers

Fix wasm casting error
  packages/devtools_app/lib/src/screens/logging/logging_controller.dart
  packages/devtools_app/lib/src/screens/logging/metadata.dart
Owners: @flutter/devtools-reviewers

[WIP] Identifies correct node to select, but doesn't properly update
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_controller.dart
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_screen_body.dart
  packages/devtools_app/lib/src/shared/feature_flags.dart
Owners: @flutter/devtools-reviewers

Live reloading works
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_controller.dart
Owners: @flutter/devtools-reviewers

added additional YAML config parsing logic
  packages/devtools_shared/lib/src/utils/license_utils.dart
  packages/devtools_shared/test/utils/license_utils_test.dart
Owners: @kenzieschmoll, @bkonyi

Initial YAML config parsing logic and tests
  case_study/memory_leaks/images_1/android/gradle/wrapper/gradle-wrapper.properties
  case_study/platform_channel/android/gradle/wrapper/gradle-wrapper.properties
  packages/devtools_app/test/test_infra/goldens/memory/load_offline_data_profile_tab.png
  packages/devtools_shared/lib/src/utils/license_utils.dart
  packages/devtools_shared/test/utils/license_utils_test.dart
Owners: @flutter/devtools-reviewers, @bkonyi, @kenzieschmoll

Added comments and some logic to parse stored value
  packages/devtools_shared/lib/src/utils/license_utils.dart
  packages/devtools_shared/test/utils/license_utils_test.dart
Owners: @kenzieschmoll, @bkonyi

added support for bulk update
  packages/devtools_shared/lib/src/utils/license_utils.dart
  packages/devtools_shared/test/utils/license_utils_test.dart
Owners: @kenzieschmoll, @bkonyi

added test for full repo check for incorrect licenses
  packages/devtools_shared/lib/src/utils/license_utils.dart
  packages/devtools_shared/test/utils/license_utils_test.dart
Owners: @kenzieschmoll, @bkonyi

ran dart formatter
  packages/devtools_shared/lib/src/utils/license_utils.dart
  packages/devtools_shared/test/utils/license_utils_test.dart
Owners: @kenzieschmoll, @bkonyi

renamed functions to better match functionality, added logic to return replacement header, and added more tests
  packages/devtools_shared/lib/src/utils/license_utils.dart
  packages/devtools_shared/test/utils/license_utils_test.dart
Owners: @kenzieschmoll, @bkonyi

moved license utils to tool
  tool/lib/license_utils.dart
  tool/test/license_utils_test.dart
Owners: @kenzieschmoll

fixed Dartdoc function comment, experimenting with repo wide check test on CI
  tool/lib/license_utils.dart
  tool/test/license_utils_test.dart
Owners: @kenzieschmoll

fixed dependencies
  tool/pubspec.yaml
  tool/test/license_utils_test.dart
Owners: @kenzieschmoll

added write permission to tool_tests.sh
  tool/ci/tool_tests.sh
Owners: @kenzieschmoll

fixed missing training commas
  packages/devtools_shared/lib/src/utils/license_utils.dart
Owners: @kenzieschmoll, @bkonyi

added github action to run tool tests
  .github/workflows/build.yaml
  tool/ci/tool_tests.sh
  tool/test/license_utils_test.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

test that the repo wide check actually catches incorrect license header
  tool/test/license_utils_test.dart
Owners: @kenzieschmoll

Turned off repo wide check test
  tool/test/license_utils_test.dart
Owners: @kenzieschmoll
