Repository flutter/devtools, changes with the owners that CODEOWNERS names for each.
All owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

Fix instances of discarded_futures
  packages/devtools_app/lib/src/framework/home_screen.dart
  packages/devtools_app/lib/src/screens/debugger/debugger_controller.dart
  packages/devtools_app/lib/src/screens/inspector/inspector_controller.dart
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_controller.dart
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_screen_body.dart
  packages/devtools_app/lib/src/screens/performance/panes/controls/enhance_tracing/enhance_tracing.dart
  packages/devtools_app/lib/src/service/vm_service_wrapper.dart
  packages/devtools_app/lib/src/shared/managers/survey.dart
  packages/devtools_app/lib/src/shared/preferences/_extension_preferences.dart
  packages/devtools_app/lib/src/shared/preferences/_inspector_preferences.dart
  packages/devtools_app/lib/src/shared/preferences/_logging_preferences.dart
  packages/devtools_app/lib/src/shared/preferences/_memory_preferences.dart
  packages/devtools_app/lib/src/shared/preferences/_performance_preferences.dart
  packages/devtools_app/lib/src/shared/preferences/preferences.dart
  packages/devtools_app/lib/src/shared/utils/utils.dart
  packages/devtools_app/test/screens/vm_developer/object_inspector/vm_developer_common_widgets_test.dart
  packages/devtools_app/test/test_infra/fixtures/networking_app/bin/main.dart
  packages/devtools_app_shared/test/ui/split_pane_test.dart
  packages/devtools_shared/lib/src/service/service.dart
Owners: @flutter/devtools-reviewers, @elliette, @kenzieschmoll, @bkonyi

Bump DevTools version for next minor version. (#9116)
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Updating from 2.46.0-dev.0 to 2.46.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Switch awaits to unawaits
  packages/devtools_app/lib/src/screens/inspector/inspector_controller.dart
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_controller.dart
  packages/devtools_app/lib/src/screens/performance/panes/controls/enhance_tracing/enhance_tracing.dart
  packages/devtools_app/lib/src/shared/managers/survey.dart
  packages/devtools_app/lib/src/shared/preferences/_extension_preferences.dart
  packages/devtools_app/lib/src/shared/preferences/_inspector_preferences.dart
  packages/devtools_app/lib/src/shared/preferences/_logging_preferences.dart
  packages/devtools_app/lib/src/shared/preferences/_memory_preferences.dart
  packages/devtools_app/lib/src/shared/preferences/_performance_preferences.dart
  packages/devtools_app/lib/src/shared/preferences/preferences.dart
  packages/devtools_app/lib/src/shared/utils/utils.dart
  packages/devtools_shared/lib/src/service/service.dart
Owners: @elliette, @flutter/devtools-reviewers, @kenzieschmoll, @bkonyi

Add instructions for IntelliJ integration
  CONTRIBUTING.md
Owners: @flutter/devtools-reviewers

Update storage.setValue
  packages/devtools_app/lib/src/framework/home_screen.dart
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_screen_body.dart
  packages/devtools_app/lib/src/shared/config_specific/framework_initialize/_framework_initialize_desktop.dart
  packages/devtools_app/lib/src/shared/config_specific/framework_initialize/_framework_initialize_web.dart
  packages/devtools_app/lib/src/shared/preferences/_extension_preferences.dart
  packages/devtools_app/lib/src/shared/preferences/_inspector_preferences.dart
  packages/devtools_app/lib/src/shared/preferences/_logging_preferences.dart
  packages/devtools_app/lib/src/shared/preferences/_memory_preferences.dart
  packages/devtools_app/lib/src/shared/preferences/_performance_preferences.dart
  packages/devtools_app/lib/src/shared/preferences/preferences.dart
  packages/devtools_app/lib/src/shared/primitives/storage.dart
  packages/devtools_app/lib/src/shared/server/_preferences_api.dart
  packages/devtools_app/lib/src/shared/server/server.dart
  packages/devtools_app/lib/src/shared/utils/utils.dart
  packages/devtools_shared/lib/src/service/service.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll, @bkonyi

Add instructions for IntelliJ integration (#9120)
  CONTRIBUTING.md
Owners: @flutter/devtools-reviewers

Don't await tree refresh
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_screen_body.dart
Owners: @flutter/devtools-reviewers

Partial revert of "Update storage.setValue"
  packages/devtools_app/lib/src/framework/home_screen.dart
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_screen_body.dart
  packages/devtools_app/lib/src/shared/config_specific/framework_initialize/_framework_initialize_desktop.dart
  packages/devtools_app/lib/src/shared/config_specific/framework_initialize/_framework_initialize_web.dart
  packages/devtools_app/lib/src/shared/preferences/_extension_preferences.dart
  packages/devtools_app/lib/src/shared/preferences/_inspector_preferences.dart
  packages/devtools_app/lib/src/shared/preferences/_logging_preferences.dart
  packages/devtools_app/lib/src/shared/preferences/_memory_preferences.dart
  packages/devtools_app/lib/src/shared/preferences/_performance_preferences.dart
  packages/devtools_app/lib/src/shared/preferences/preferences.dart
  packages/devtools_app/lib/src/shared/primitives/storage.dart
  packages/devtools_app/lib/src/shared/server/_preferences_api.dart
  packages/devtools_app/lib/src/shared/server/server.dart
Owners: @flutter/devtools-reviewers

Updating from 2.46.0-dev.0 to 2.46.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Prevent web apps from freezing on hot-restart
  packages/devtools_app/lib/src/screens/debugger/breakpoint_manager.dart
Owners: @elliette

Updating from 2.46.0-dev.0 to 2.46.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Remove async
  packages/devtools_app/lib/src/screens/performance/panes/controls/enhance_tracing/enhance_tracing.dart
Owners: @kenzieschmoll

Re-enable `discarded_futures` lint (#9117)
  analysis_options.yaml
  packages/devtools_app/lib/src/framework/home_screen.dart
  packages/devtools_app/lib/src/screens/debugger/debugger_controller.dart
  packages/devtools_app/lib/src/screens/inspector/inspector_controller.dart
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_controller.dart
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_screen_body.dart
  packages/devtools_app/lib/src/screens/performance/panes/controls/enhance_tracing/enhance_tracing.dart
  packages/devtools_app/lib/src/service/vm_service_wrapper.dart
  packages/devtools_app/lib/src/shared/managers/survey.dart
  packages/devtools_app/lib/src/shared/preferences/_extension_preferences.dart
  packages/devtools_app/lib/src/shared/preferences/_inspector_preferences.dart
  packages/devtools_app/lib/src/shared/preferences/_logging_preferences.dart
  packages/devtools_app/lib/src/shared/preferences/_memory_preferences.dart
  packages/devtools_app/lib/src/shared/preferences/_performance_preferences.dart
  packages/devtools_app/lib/src/shared/preferences/preferences.dart
  packages/devtools_app/lib/src/shared/utils/utils.dart
  packages/devtools_app/test/screens/vm_developer/object_inspector/vm_developer_common_widgets_test.dart
  packages/devtools_app/test/test_infra/fixtures/networking_app/bin/main.dart
  packages/devtools_app_shared/test/ui/split_pane_test.dart
  packages/devtools_shared/lib/src/service/service.dart
Owners: @flutter/devtools-reviewers, @elliette, @kenzieschmoll, @bkonyi

Updating from 2.46.0-dev.0 to 2.46.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Reset after release
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Update release instructions
  tool/RELEASE_INSTRUCTIONS.md
Owners: @kenzieschmoll

Link to issue
  tool/RELEASE_INSTRUCTIONS.md
Owners: @kenzieschmoll

Update DevTools to next `dev` version: `2.46.0-dev.0` (#9133)
  tool/RELEASE_INSTRUCTIONS.md
Owners: @kenzieschmoll

Update release notes
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Updating from 2.46.0-dev.0 to 2.46.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

added mime checks, minor logic improvements in recording
  packages/devtools_app/lib/src/screens/network/har_data_entry.dart
  packages/devtools_app/lib/src/screens/network/network_controller.dart
  packages/devtools_app/lib/src/shared/http/http_request_data.dart
  packages/devtools_app/lib/src/shared/primitives/utils.dart
Owners: @bkonyi, @kenzieschmoll, @flutter/devtools-reviewers

Updating from 2.46.0-dev.0 to 2.46.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.46.0-dev.0 to 2.46.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Update issue reference
  packages/devtools_app/lib/src/screens/debugger/breakpoint_manager.dart
Owners: @elliette

Prevent web apps from freezing after hot-restarts triggered from DevTools (#9125)
  packages/devtools_app/lib/src/screens/debugger/breakpoint_manager.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @elliette, @flutter/devtools-reviewers

Updating from 2.46.0-dev.0 to 2.46.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Update Flutter and min sdk versions
  flutter-candidate.txt
  packages/devtools_app/pubspec.yaml
Owners: @flutter/devtools-reviewers

Update Flutter and min sdk versions (#9140)
  flutter-candidate.txt
  packages/devtools_app/pubspec.yaml
Owners: @flutter/devtools-reviewers

Prevent web apps from freezing after hot-restarts triggered from DevTools (#9125)
  packages/devtools_app/lib/src/screens/debugger/breakpoint_manager.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @elliette, @flutter/devtools-reviewers

Prepare cherry-pick release - DevTools 2.45.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.46.0-dev.0 to 2.46.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Don't use hardcoded colors
  packages/devtools_app/lib/src/screens/debugger/program_explorer.dart
  packages/devtools_app/lib/src/screens/memory/panes/chart/widgets/chart_pane.dart
  packages/devtools_app/lib/src/screens/memory/panes/chart/widgets/legend.dart
  packages/devtools_app/lib/src/service/service_extension_widgets.dart
  packages/devtools_app/lib/src/shared/charts/flame_chart.dart
  packages/devtools_app/lib/src/shared/ui/colors.dart
  packages/devtools_app/lib/src/shared/ui/search.dart
Owners: @elliette, @bkonyi, @kenzieschmoll, @flutter/devtools-reviewers

Fix tests
  packages/devtools_app/lib/src/screens/memory/panes/chart/widgets/chart_pane.dart
  packages/devtools_app/lib/src/screens/memory/panes/chart/widgets/legend.dart
  packages/devtools_app/lib/src/service/service_extension_widgets.dart
  packages/devtools_app/test/test_infra/goldens/codeview_scrollbars.png
  packages/devtools_app/test/test_infra/goldens/memory/load_offline_data_profile_tab.png
  packages/devtools_app/test/test_infra/goldens/memory/load_offline_data_trace_tab.png
Owners: @bkonyi, @kenzieschmoll, @flutter/devtools-reviewers

Do not show release notes for standalone screens
  packages/devtools_app/lib/src/framework/release_notes.dart
  packages/devtools_app/lib/src/standalone_ui/standalone_screen.dart
Owners: @flutter/devtools-reviewers

DevTools colors match IDE theme (#9144)
  packages/devtools_app/lib/src/screens/debugger/program_explorer.dart
  packages/devtools_app/lib/src/screens/memory/panes/chart/widgets/chart_pane.dart
  packages/devtools_app/lib/src/screens/memory/panes/chart/widgets/legend.dart
  packages/devtools_app/lib/src/service/service_extension_widgets.dart
  packages/devtools_app/lib/src/shared/charts/flame_chart.dart
  packages/devtools_app/lib/src/shared/ui/colors.dart
  packages/devtools_app/lib/src/shared/ui/search.dart
  packages/devtools_app/test/test_infra/goldens/codeview_scrollbars.png
  packages/devtools_app/test/test_infra/goldens/memory/load_offline_data_profile_tab.png
  packages/devtools_app/test/test_infra/goldens/memory/load_offline_data_trace_tab.png
Owners: @elliette, @bkonyi, @kenzieschmoll, @flutter/devtools-reviewers

Dismiss banner messages on connection changes by default
  packages/devtools_app/lib/src/extensions/embedded/_view_web.dart
  packages/devtools_app/lib/src/framework/observer/memory_observer.dart
  packages/devtools_app/lib/src/shared/managers/banner_messages.dart
  packages/devtools_app/test/shared/managers/banner_messages_test.dart
  packages/devtools_extensions/CHANGELOG.md
  packages/devtools_extensions/lib/src/api/model.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

rnotes
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Updating from 2.46.0-dev.0 to 2.46.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Do not show release notes for standalone screens (#9147)
  packages/devtools_app/lib/src/framework/release_notes.dart
  packages/devtools_app/lib/src/standalone_ui/standalone_screen.dart
Owners: @flutter/devtools-reviewers

CODEOWNERS:

*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @elliette

# Network Files
network/            @bkonyi @kenzieschmoll

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll @bkonyi

# Memory files
memory/             @bkonyi @kenzieschmoll

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @kenzieschmoll

# DevTools extensions and related files
src/extensions/
packages/devtools_extensions/    @kenzieschmoll
packages/devtools_app_shared/    @kenzieschmoll

# package:devtools_shared code, which is used across DevTools and the Dart SDK
packages/devtools_shared/        @kenzieschmoll @bkonyi

# Version bump files.
# No owners to prevent version update spam
packages/devtools_app/lib/devtools.dart
packages/devtools_app/pubspec.yaml
packages/devtools_test/pubspec.yaml
