Repository flutter/devtools, changes with the owners that CODEOWNERS names for each.
All owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

Fix ?compiler=js escape hatch
  packages/devtools_app/lib/src/shared/analytics/constants.dart
  packages/devtools_app/lib/src/shared/preferences/preferences.dart
Owners: @flutter/devtools-reviewers

Clean up
  packages/devtools_app/lib/src/shared/preferences/preferences.dart
Owners: @flutter/devtools-reviewers

Update warning message
  packages/devtools_app/lib/src/shared/preferences/preferences.dart
Owners: @flutter/devtools-reviewers

Updating from 2.55.0-dev.0 to 2.55.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Fix `?compiler=js` escape hatch for wasm-compiled DevTools (#9615)
  packages/devtools_app/lib/src/shared/analytics/constants.dart
  packages/devtools_app/lib/src/shared/preferences/preferences.dart
Owners: @flutter/devtools-reviewers

Moves the ?compiler= query param to the expected place for legacy URLs
  packages/devtools_app/lib/src/shared/primitives/url_utils.dart
  packages/devtools_app/test/shared/primitives/url_utils_test.dart
  packages/devtools_app/web/flutter_bootstrap.js
Owners: @flutter/devtools-reviewers

Updating from 2.55.0-dev.0 to 2.55.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Clean up and notes
  packages/devtools_app/lib/src/shared/primitives/url_utils.dart
  packages/devtools_app/test/shared/primitives/url_utils_test.dart
Owners: @flutter/devtools-reviewers

Add note to flutter_bootstrap as well
  packages/devtools_app/web/flutter_bootstrap.js
Owners: @flutter/devtools-reviewers

[dart2wasm] Legacy URL format is correctly mapped to new format when `compiler` query parameter is present (#9617)
  packages/devtools_app/lib/src/shared/primitives/url_utils.dart
  packages/devtools_app/test/shared/primitives/url_utils_test.dart
  packages/devtools_app/web/flutter_bootstrap.js
Owners: @flutter/devtools-reviewers

Fix `?compiler=js` escape hatch for wasm-compiled DevTools (#9615)
  packages/devtools_app/lib/src/shared/analytics/constants.dart
  packages/devtools_app/lib/src/shared/preferences/preferences.dart
Owners: @flutter/devtools-reviewers

[dart2wasm] Legacy URL format is correctly mapped to new format when `compiler` query parameter is present (#9617)
  packages/devtools_app/lib/src/shared/primitives/url_utils.dart
  packages/devtools_app/test/shared/primitives/url_utils_test.dart
  packages/devtools_app/web/flutter_bootstrap.js
Owners: @flutter/devtools-reviewers

Prepare cherry-pick release - DevTools 2.54.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
  pubspec.lock
Owners: @flutter/devtools-reviewers

Updating from 2.55.0-dev.0 to 2.55.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.55.0-dev.0 to 2.55.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.55.0-dev.0 to 2.55.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.55.0-dev.0 to 2.55.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.55.0-dev.0 to 2.55.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Fix race conditions when computing analytics
  packages/devtools_app/lib/src/shared/analytics/_analytics_web.dart
Owners: @flutter/devtools-reviewers

Clean up
  packages/devtools_app/lib/src/shared/analytics/_analytics_web.dart
Owners: @flutter/devtools-reviewers

More clean up
  packages/devtools_app/lib/src/shared/analytics/_analytics_web.dart
Owners: @flutter/devtools-reviewers

More clean up
  packages/devtools_app/lib/src/shared/analytics/_analytics_web.dart
Owners: @flutter/devtools-reviewers

Updating from 2.55.0-dev.0 to 2.55.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Add webdriver test for compiler query parameter (#9608)
  .github/workflows/build.yaml
  packages/devtools_app/benchmark/devtools_benchmarks_test.dart
  packages/devtools_app/integration_test/test_infra/run/run_test.dart
  packages/devtools_app/lib/src/screens/profiler/cpu_profile_model.dart
  packages/devtools_app/lib/src/shared/http/http_request_data.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/webdriver_test/web_compiler_test.dart
  packages/devtools_app_shared/lib/src/service/flutter_version.dart
  packages/devtools_shared/lib/src/test/chrome_driver.dart
  packages/devtools_test/lib/src/helpers/utils.dart
  packages/devtools_test/lib/src/integration_test/integration_test_utils.dart
  tool/ci/bots.sh
Owners: @flutter/devtools-reviewers, @kenzieschmoll, @bkonyi

Fixes to missing or stale dimensions in DevTools analytics (#9624)
  packages/devtools_app/lib/src/shared/analytics/_analytics_web.dart
Owners: @flutter/devtools-reviewers

Updating from 2.55.0-dev.0 to 2.55.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

doc: replace pub run with dart run
  packages/devtools_app/test/test_infra/scenes/README.md
Owners: @flutter/devtools-reviewers

Basic UI for chat messages
  packages/devtools_app/lib/src/shared/ai_assistant/ai_controller.dart
  packages/devtools_app/lib/src/shared/ai_assistant/ai_message_types.dart
  packages/devtools_app/lib/src/shared/ai_assistant/widgets/ai_assistant_pane.dart
Owners: @flutter/devtools-reviewers

Updating from 2.55.0-dev.0 to 2.55.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

[AI assistance] Basic UI for chat messages (#9630)
  packages/devtools_app/lib/src/shared/ai_assistant/ai_controller.dart
  packages/devtools_app/lib/src/shared/ai_assistant/ai_message_types.dart
  packages/devtools_app/lib/src/shared/ai_assistant/widgets/ai_assistant_pane.dart
Owners: @flutter/devtools-reviewers

Updating from 2.55.0-dev.0 to 2.55.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.55.0-dev.0 to 2.55.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.55.0-dev.0 to 2.55.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.55.0-dev.0 to 2.55.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

doc: replace pub run with dart run (#9629)
  packages/devtools_app/test/test_infra/scenes/README.md
Owners: @flutter/devtools-reviewers

Updating from 2.55.0-dev.0 to 2.55.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.55.0-dev.0 to 2.55.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

DTDManager handles the subscription to the service stream
  packages/devtools_app/lib/src/shared/editor/editor_client.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_panel.dart
  packages/devtools_app/lib/src/standalone_ui/standalone_screen.dart
  packages/devtools_app/lib/src/standalone_ui/vs_code/flutter_panel.dart
  packages/devtools_app/test/shared/editor/editor_client_test.dart
  packages/devtools_app_shared/lib/src/service/dtd_manager.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

One more test case and formatting
  packages/devtools_app/lib/src/standalone_ui/standalone_screen.dart
  packages/devtools_app/test/service/dtd_manager_test.dart
  packages/devtools_app_shared/lib/src/service/dtd_manager.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

Updating from 2.55.0-dev.0 to 2.55.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

CODEOWNERS:

*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @elliette

# Network Files
network/            @bkonyi @kenzieschmoll

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll @bkonyi

# Memory files
memory/             @bkonyi @kenzieschmoll

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @kenzieschmoll

# DevTools extensions and related files
src/extensions/
packages/devtools_extensions/    @kenzieschmoll
packages/devtools_app_shared/    @kenzieschmoll

# package:devtools_shared code, which is used across DevTools and the Dart SDK
packages/devtools_shared/        @kenzieschmoll @bkonyi

# Version bump files.
# No owners to prevent version update spam
packages/devtools_app/lib/devtools.dart
packages/devtools_app/pubspec.yaml
packages/devtools_test/pubspec.yaml
