Repository flutter/devtools, changes with the owners that CODEOWNERS names for each.
All owners: @flutter/devtools-reviewers, @CoderDake, @kenzieschmoll, @bkonyi, @polina-c, @elliette

Update default.dart
  packages/devtools_app/test/test_infra/scenes/memory/default.dart
Owners: @bkonyi, @polina-c

small cleanup to bring the row calculation into the update widget and initstate
  packages/devtools_app/lib/src/shared/table/_table_row.dart
Owners: @flutter/devtools-reviewers

Update validation_details_view.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/validation_details_view.dart
Owners: @flutter/devtools-reviewers

Update validation_details_view.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/validation_details_view.dart
Owners: @flutter/devtools-reviewers

Update validation_details_view.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/validation_details_view.dart
Owners: @flutter/devtools-reviewers

resolve comments
  packages/devtools_app/lib/src/shared/server/_deep_links_api.dart
Owners: @flutter/devtools-reviewers

[deep link] For domain errors, split _AssetLinksJsonFileIssues and _HostingIssues (#7390)
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_controller.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/validation_details_view.dart
Owners: @flutter/devtools-reviewers

-
  packages/devtools_app/lib/src/shared/memory/retainers.dart
  packages/devtools_app/test/memory/shared/heap/heap_analyzer_golden_test.dart
  packages/devtools_app/test/memory/shared/heap/heap_test.dart
  packages/devtools_app/test/shared/memory/retaining_path_test.dart
  packages/devtools_app/test/test_infra/scenes/memory/default.dart
Owners: @bkonyi, @polina-c

[deep link] Fix a runtime json type error in deep link tab (#7386)
  packages/devtools_app/lib/src/shared/server/_deep_links_api.dart
Owners: @flutter/devtools-reviewers

Update validation_details_view.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/validation_details_view.dart
Owners: @flutter/devtools-reviewers

-
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_services.dart
  packages/devtools_app/test/test_infra/scenes/memory/default.dart
Owners: @flutter/devtools-reviewers, @bkonyi, @polina-c

-
  packages/devtools_extensions/example/app_that_uses_foo/macos/Flutter/GeneratedPluginRegistrant.swift
  packages/devtools_extensions/example/app_that_uses_foo/macos/Flutter/ephemeral/Flutter-Generated.xcconfig
Owners: @kenzieschmoll

expansiontile update
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_controller.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/validation_details_view.dart
Owners: @flutter/devtools-reviewers

add comments
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_controller.dart
Owners: @flutter/devtools-reviewers

resolve comments
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_controller.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/validation_details_view.dart
Owners: @flutter/devtools-reviewers

Update validation_details_view.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/validation_details_view.dart
Owners: @flutter/devtools-reviewers

Update validation_details_view.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/validation_details_view.dart
Owners: @flutter/devtools-reviewers

small fixes
  packages/devtools_app/lib/src/screens/deep_link_validation/validation_details_view.dart
Owners: @flutter/devtools-reviewers

lint
  packages/devtools_app/lib/src/screens/deep_link_validation/validation_details_view.dart
Owners: @flutter/devtools-reviewers

[deep link] Updating Domain check UI (#7394)
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_controller.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/validation_details_view.dart
Owners: @flutter/devtools-reviewers

-
  packages/devtools_app/test/test_infra/goldens/memory_diff_selected_class.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_three_snapshots1.png
Owners: @flutter/devtools-reviewers

-
  packages/devtools_app/test/test_infra/goldens/memory_diff_three_snapshots2.png
  packages/devtools_app/test/test_infra/scenes/memory/default.dart
Owners: @flutter/devtools-reviewers, @bkonyi, @polina-c

Updating from 2.34.0-dev.11 to 2.34.0-dev.12
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_test/pubspec.yaml
Owners: none

Changing Flutter Candidate to 3.21.0-10.0.pre
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

Updating from 2.34.0-dev.11 to 2.34.0-dev.12 (#7395)
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_test/pubspec.yaml
Owners: none

Changing Flutter Candidate to 3.21.0-10.0.pre (#7396)
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

docs: Use `pub add` instead of explicit version in README.md
  packages/devtools_app_shared/CHANGELOG.md
  packages/devtools_extensions/CHANGELOG.md
  packages/devtools_extensions/README.md
  packages/devtools_shared/README.md
Owners: @flutter/devtools-reviewers, @kenzieschmoll

Update CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @flutter/devtools-reviewers

Update CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @flutter/devtools-reviewers

Update CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @flutter/devtools-reviewers

Add DCM refresh guidance. (#7397)
  CONTRIBUTING.md
Owners: @flutter/devtools-reviewers

Doing some clean up
  packages/devtools_app/lib/src/shared/table/_table_row.dart
Owners: @flutter/devtools-reviewers

Kenzie notes
  packages/devtools_app/lib/src/shared/console/widgets/display_provider.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

-
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_except_diff.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_except_single.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_scene_diff.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_scene_single.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_showAll_diff.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_showAll_single.png
Owners: @flutter/devtools-reviewers

Change Release Note template url so it's url is ready for the flutter website (#7297)
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/release_notes/helpers/release_notes_template.md
Owners: @flutter/devtools-reviewers

Small release helper fixes (#7286)
  tool/lib/commands/release_helper.dart
Owners: @CoderDake

Fix JsonViewer auto closing, and add SelectionArea to info tabs (#7367)
  packages/devtools_app/lib/src/screens/network/network_request_inspector_views.dart
  packages/devtools_app/lib/src/screens/network/network_screen.dart
  packages/devtools_app/lib/src/shared/common_widgets.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @kenzieschmoll, @bkonyi, @flutter/devtools-reviewers

Update packages/devtools_extensions/README.md
  packages/devtools_extensions/README.md
Owners: @kenzieschmoll

Cleanup desktop platform configuration
  packages/devtools_app/lib/src/shared/config_specific/framework_initialize/_framework_initialize_desktop.dart
  packages/devtools_app/macos/Runner.xcodeproj/project.pbxproj
Owners: @flutter/devtools-reviewers

Cleanup desktop platform configuration (#7400)
  packages/devtools_app/lib/src/shared/config_specific/framework_initialize/_framework_initialize_desktop.dart
  packages/devtools_app/macos/Runner.xcodeproj/project.pbxproj
Owners: @flutter/devtools-reviewers

CODEOWNERS:

*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @CoderDake

# Network Files
network/            @kenzieschmoll @bkonyi

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll

# Memory files
memory/             @bkonyi @polina-c

# Memory leak tracking files
memory/panes/leaks  @CoderDake @polina-c

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @CoderDake

packages/devtools_extensions/    @kenzieschmoll


# Version bump files.
# No owners to prevent version update spam
packages/devtools_app/lib/devtools.dart
packages/devtools_app/pubspec.yaml
packages/devtools_test/pubspec.yaml
