Repository flutter/devtools, changes with the owners that CODEOWNERS names for each.
All owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

Updating from 2.43.0-dev.0 to 2.43.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Add type info and have all inputs used fixed font (#8791)
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_view.dart
  packages/devtools_app/test/standalone_ui/ide_shared/property_editor_test.dart
Owners: @flutter/devtools-reviewers

Big refactor
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_view.dart
Owners: @flutter/devtools-reviewers

Editable property is a class
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_view.dart
Owners: @flutter/devtools-reviewers

Split into multiple files and clean up
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_inputs.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_types.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_view.dart
Owners: @flutter/devtools-reviewers

Call Theme.of once
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_inputs.dart
Owners: @flutter/devtools-reviewers

Use isNully function in validator
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_types.dart
Owners: @flutter/devtools-reviewers

Updating from 2.43.0-dev.0 to 2.43.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Respond to PR comments
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_inputs.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_types.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_view.dart
Owners: @flutter/devtools-reviewers

Fix DCM errors
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_inputs.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_types.dart
Owners: @flutter/devtools-reviewers

[Property Editor] Refactor Property Editor for better code sharing (#8797)
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_inputs.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_types.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_view.dart
Owners: @flutter/devtools-reviewers

Represent enums as enum shorthand
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_inputs.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_types.dart
Owners: @flutter/devtools-reviewers

Add more metrics collection for deeplink
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_controller.dart
  packages/devtools_app/lib/src/shared/analytics/constants/_deep_links_constants.dart
Owners: @flutter/devtools-reviewers

Densify property editor
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_inputs.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_view.dart
Owners: @flutter/devtools-reviewers

update comment
  packages/devtools_app/lib/src/shared/analytics/constants/_deep_links_constants.dart
Owners: @flutter/devtools-reviewers

update
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_controller.dart
Owners: @flutter/devtools-reviewers

Update test
  packages/devtools_app/test/standalone_ui/ide_shared/property_editor_test.dart
Owners: @flutter/devtools-reviewers

Update when deeplink appid and bundle id are collected (#8801)
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_controller.dart
  packages/devtools_app/lib/src/shared/analytics/constants/_deep_links_constants.dart
Owners: @flutter/devtools-reviewers

[Property Editor] Densify Property Editor inputs (#8803)
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_inputs.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_types.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_view.dart
  packages/devtools_app/test/standalone_ui/ide_shared/property_editor_test.dart
Owners: @flutter/devtools-reviewers

Remove non-experimental LSP method support
  packages/devtools_app/lib/src/shared/editor/editor_client.dart
Owners: @flutter/devtools-reviewers

Format
  packages/devtools_app/lib/src/shared/editor/editor_client.dart
Owners: @flutter/devtools-reviewers

Updating from 2.43.0-dev.0 to 2.43.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

[Property Editor] Remove non-experimental LSP method support (#8805)
  packages/devtools_app/lib/src/shared/editor/editor_client.dart
Owners: @flutter/devtools-reviewers

Add property editor to devtools_app launch.json
  packages/devtools_app/.vscode/launch.json
Owners: @flutter/devtools-reviewers

Remove from root launch.json
  .vscode/launch.json
Owners: @flutter/devtools-reviewers

Add back to main launch.json
  .vscode/launch.json
Owners: @flutter/devtools-reviewers

Inspector works for widget previews
  packages/devtools_app/lib/src/shared/preferences/_inspector_preferences.dart
  packages/devtools_app/test/shared/preferences/preferences_controller_test.dart
Owners: @flutter/devtools-reviewers

Updating from 2.43.0-dev.0 to 2.43.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

added handing and tests for requests having error
  packages/devtools_app/lib/src/shared/http/http_request_data.dart
  packages/devtools_app/test/screens/network/offline_data_test.dart
Owners: @flutter/devtools-reviewers, @bkonyi, @kenzieschmoll

Updating from 2.43.0-dev.0 to 2.43.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.43.0-dev.0 to 2.43.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Use `-O2` optimization for DevTools build.
  tool/build_release.sh
  tool/lib/commands/build.dart
Owners: @kenzieschmoll

Updating from 2.43.0-dev.0 to 2.43.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

fixed requiresConnection value and import
  packages/devtools_app/lib/src/shared/framework/screen.dart
  packages/devtools_app/test/screens/network/offline_data_test.dart
Owners: @flutter/devtools-reviewers, @bkonyi, @kenzieschmoll

comments resolved, added disconnected network screen body
  packages/devtools_app/lib/src/screens/network/network_screen.dart
  packages/devtools_app/lib/src/shared/http/http_request_data.dart
  packages/devtools_app/test/screens/network/offline_data_test.dart
Owners: @bkonyi, @kenzieschmoll, @flutter/devtools-reviewers

Reenable Code based profiling when VM Developer Mode is enabled
  packages/devtools_app/lib/src/service/vm_service_wrapper.dart
Owners: @flutter/devtools-reviewers

review comments
  tool/build_release.sh
  tool/lib/commands/build.dart
Owners: @kenzieschmoll

Update devtools.dart
  packages/devtools_app/lib/devtools.dart
Owners: none

WIP
  packages/devtools_app/lib/src/shared/analytics/constants/_property_editor_sidebar_constants.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_controller.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_panel.dart
Owners: @flutter/devtools-reviewers

Use `-O2` optimization for DevTools wasm build. (#8814)
  tool/build_release.sh
  tool/lib/commands/build.dart
Owners: @kenzieschmoll

CODEOWNERS:

*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @elliette

# Network Files
network/            @bkonyi @kenzieschmoll

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll @bkonyi

# Memory files
memory/             @bkonyi @kenzieschmoll

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @kenzieschmoll

# DevTools extensions and related files
src/extensions/
packages/devtools_extensions/    @kenzieschmoll
packages/devtools_app_shared/    @kenzieschmoll

# package:devtools_shared code, which is used across DevTools and the Dart SDK
packages/devtools_shared/        @kenzieschmoll @bkonyi

# Version bump files.
# No owners to prevent version update spam
packages/devtools_app/lib/devtools.dart
packages/devtools_app/pubspec.yaml
packages/devtools_test/pubspec.yaml
