Repository flutter/devtools, changes with the owners that CODEOWNERS names for each.
All owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

Property editor error handling
  packages/devtools_app/lib/src/shared/editor/api_classes.dart
  packages/devtools_app/lib/src/shared/editor/editor_client.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_controller.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_inputs.dart
  packages/devtools_app/pubspec.yaml
Owners: @flutter/devtools-reviewers

Add a test case
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_inputs.dart
  packages/devtools_app/test/standalone_ui/ide_shared/property_editor_test.dart
Owners: @flutter/devtools-reviewers

Label always at top of input
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_inputs.dart
Owners: @flutter/devtools-reviewers

Updating from 2.43.0-dev.0 to 2.43.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

corrected license header position
  tool/build_release.sh
Owners: @kenzieschmoll

added dt command to run license utility
  tool/lib/devtools_command_runner.dart
Owners: @kenzieschmoll

improved yaml example to remove extra newlines and properly handle values
  tool/lib/license_utils.dart
  tool/test/license_utils_test.dart
Owners: @kenzieschmoll

committing update licenses
  tool/lib/commands/update_licenses.dart
Owners: @kenzieschmoll

fix comment in yaml
  tool/test/license_utils_test.dart
Owners: @kenzieschmoll

handling unconfigured extension type
  tool/lib/license_utils.dart
Owners: @kenzieschmoll

better error message
  tool/lib/license_utils.dart
Owners: @kenzieschmoll

attempt #3 at handling null
  tool/lib/license_utils.dart
Owners: @kenzieschmoll

attempt #4 at handling null
  tool/lib/license_utils.dart
Owners: @kenzieschmoll

fixed another comment
  tool/lib/license_utils.dart
Owners: @kenzieschmoll

attempt #2 at handling null
  tool/lib/license_utils.dart
Owners: @kenzieschmoll

skip processing files if the license already exists
  tool/lib/license_utils.dart
  tool/test/license_utils_test.dart
Owners: @kenzieschmoll

removed print
  tool/lib/license_utils.dart
Owners: @kenzieschmoll

commited config file
  update_licenses.yaml
Owners: @flutter/devtools-reviewers

improved logic for missing license header
  tool/lib/license_utils.dart
  tool/test/license_utils_test.dart
Owners: @kenzieschmoll

improved handling for extensions that are not configured
  tool/lib/license_utils.dart
  tool/test/license_utils_test.dart
Owners: @kenzieschmoll

corrected remove license content
  update_licenses.yaml
Owners: @flutter/devtools-reviewers

adding edge cases
  tool/test/license_utils_test.dart
  update_licenses.yaml
Owners: @kenzieschmoll, @flutter/devtools-reviewers

Workaround for dependency issue, fixed support for missing license and default replacement value
  pubspec.yaml
  tool/lib/license_utils.dart
  tool/test/license_utils_test.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

fixed formatting
  update_licenses.yaml
Owners: @flutter/devtools-reviewers

added additional ignore paths
  update_licenses.yaml
Owners: @flutter/devtools-reviewers

remove json and last_build_id
  update_licenses.yaml
Owners: @flutter/devtools-reviewers

excluding files that should retain original dart header
  update_licenses.yaml
Owners: @flutter/devtools-reviewers

Respond to PR comments
  packages/devtools_app/lib/src/shared/editor/api_classes.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_inputs.dart
  packages/devtools_app/pubspec.yaml
Owners: @flutter/devtools-reviewers

Fix error codes and update test
  packages/devtools_app/lib/src/shared/editor/api_classes.dart
  packages/devtools_app/test/standalone_ui/ide_shared/property_editor_test.dart
Owners: @flutter/devtools-reviewers

Increase bundle size in test
  packages/devtools_app/benchmark/web_bundle_size_test.dart
Owners: @flutter/devtools-reviewers

added bash header to remove and add_licenses
  update_licenses.yaml
Owners: @flutter/devtools-reviewers

corrected license header position (#8820)
  tool/build_release.sh
Owners: @kenzieschmoll

corrected license header placement
  tool/flutter_customer_tests/analyze.sh
  tool/flutter_customer_tests/setup.sh
  tool/flutter_customer_tests/test.sh
Owners: @kenzieschmoll

corrected remove_license
  update_licenses.yaml
Owners: @flutter/devtools-reviewers

Add TODOs
  packages/devtools_app/lib/src/shared/editor/api_classes.dart
Owners: @flutter/devtools-reviewers

corrected license header placement (#8823)
  tool/flutter_customer_tests/analyze.sh
  tool/flutter_customer_tests/setup.sh
  tool/flutter_customer_tests/test.sh
Owners: @kenzieschmoll

[CQ] enforce and cleanup `unnecessary_ignore`s
  analysis_options.yaml
  packages/devtools_app/benchmark/test_infra/automators/devtools_automator.dart
  packages/devtools_app/integration_test/test/live_connection/eval_and_inspect_test.dart
  packages/devtools_app/integration_test/test_infra/run/_test_app_driver.dart
  packages/devtools_app/integration_test/test_infra/run/run_test.dart
  packages/devtools_app/lib/src/screens/debugger/variables.dart
  packages/devtools_app/lib/src/screens/performance/panes/controls/enhance_tracing/enhance_tracing_controller.dart
  packages/devtools_app/lib/src/shared/charts/chart_controller.dart
  packages/devtools_app/lib/src/shared/config_specific/logger/_allowed_error_default.dart
  packages/devtools_app/lib/src/shared/config_specific/logger/_allowed_error_web.dart
  packages/devtools_app/lib/src/shared/framework/screen.dart
  packages/devtools_app/lib/src/shared/http/_http_cookies.dart
  packages/devtools_app/lib/src/shared/http/_http_date.dart
  packages/devtools_app/lib/src/shared/ui/hover.dart
  packages/devtools_app/test/test_infra/fixtures/flutter_app/lib/main.dart
  packages/devtools_app/test/test_infra/flutter_test_environment.dart
  packages/devtools_app_shared/lib/src/utils/list.dart
  packages/devtools_extensions/lib/src/template/extension_manager.dart
  packages/devtools_shared/lib/src/server/server_api.dart
  packages/devtools_test/lib/src/integration_test/integration_test_utils.dart
  packages/devtools_test/lib/src/mocks/fake_service_extension_manager.dart
  packages/devtools_test/lib/src/mocks/mocks.dart
Owners: @flutter/devtools-reviewers, @elliette, @kenzieschmoll, @bkonyi

(revert)
  analysis_options.yaml
Owners: @flutter/devtools-reviewers

Updating from 2.43.0-dev.0 to 2.43.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

[CQ] cleanup `unnecessary_ignore`s (#8825)
  packages/devtools_app/benchmark/test_infra/automators/devtools_automator.dart
  packages/devtools_app/integration_test/test/live_connection/eval_and_inspect_test.dart
  packages/devtools_app/integration_test/test_infra/run/_test_app_driver.dart
  packages/devtools_app/integration_test/test_infra/run/run_test.dart
  packages/devtools_app/lib/src/screens/debugger/variables.dart
  packages/devtools_app/lib/src/screens/performance/panes/controls/enhance_tracing/enhance_tracing_controller.dart
  packages/devtools_app/lib/src/shared/charts/chart_controller.dart
  packages/devtools_app/lib/src/shared/config_specific/logger/_allowed_error_default.dart
  packages/devtools_app/lib/src/shared/config_specific/logger/_allowed_error_web.dart
  packages/devtools_app/lib/src/shared/framework/screen.dart
  packages/devtools_app/lib/src/shared/http/_http_cookies.dart
  packages/devtools_app/lib/src/shared/http/_http_date.dart
  packages/devtools_app/lib/src/shared/ui/hover.dart
  packages/devtools_app/test/test_infra/fixtures/flutter_app/lib/main.dart
  packages/devtools_app/test/test_infra/flutter_test_environment.dart
  packages/devtools_app_shared/lib/src/utils/list.dart
  packages/devtools_extensions/lib/src/template/extension_manager.dart
  packages/devtools_shared/lib/src/server/server_api.dart
  packages/devtools_test/lib/src/integration_test/integration_test_utils.dart
  packages/devtools_test/lib/src/mocks/fake_service_extension_manager.dart
  packages/devtools_test/lib/src/mocks/mocks.dart
Owners: @flutter/devtools-reviewers, @elliette, @kenzieschmoll, @bkonyi

CODEOWNERS:

*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @elliette

# Network Files
network/            @bkonyi @kenzieschmoll

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll @bkonyi

# Memory files
memory/             @bkonyi @kenzieschmoll

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @kenzieschmoll

# DevTools extensions and related files
src/extensions/
packages/devtools_extensions/    @kenzieschmoll
packages/devtools_app_shared/    @kenzieschmoll

# package:devtools_shared code, which is used across DevTools and the Dart SDK
packages/devtools_shared/        @kenzieschmoll @bkonyi

# Version bump files.
# No owners to prevent version update spam
packages/devtools_app/lib/devtools.dart
packages/devtools_app/pubspec.yaml
packages/devtools_test/pubspec.yaml
