Repository flutter/devtools, changes with the owners that CODEOWNERS names for each.
All owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

Formatting
  packages/devtools_app/lib/src/service/service_extensions.dart
Owners: @flutter/devtools-reviewers

Use consistent widget inspector icon across Flutter and DevTools (#9163)
  packages/devtools_app/icons/widget-select-dgrey.png
  packages/devtools_app/icons/widget-select-lgrey.png
  packages/devtools_app/icons/widget-select-white.png
  packages/devtools_app/lib/src/service/service_extension_widgets.dart
  packages/devtools_app/lib/src/service/service_extensions.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/test/test_infra/goldens/integration_animated_physical_model_selected.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_errors_1_initial_load.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_errors_2_error_selected.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_initial_load.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_richtext_selected.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_scaffold_selected.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_select_center.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_select_center_details_tree.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_errors_1_initial_load.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_errors_2_error_selected.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_hideable_widget_selected.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_hideable_widget_selected_from_search.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_implementation_widgets_collapsed.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_implementation_widgets_expanded.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_implementation_widgets_hidden.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_initial_load.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_revert_to_legacy.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_select_center.png
Owners: @flutter/devtools-reviewers

Prepare for release 2.46.0
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Update Flutter candidate version
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

Prepare for release 2.46.0 (#9171)
  flutter-candidate.txt
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: @flutter/devtools-reviewers

Fix broken internal link in README
  CONTRIBUTING.md
Owners: @flutter/devtools-reviewers

Fix broken internal link in README (#9180)
  CONTRIBUTING.md
Owners: @flutter/devtools-reviewers

Nits in Contributing doc
  CONTRIBUTING.md
Owners: @flutter/devtools-reviewers

Nits in Contributing doc (#9181)
  CONTRIBUTING.md
Owners: @flutter/devtools-reviewers

extensions: Read the IdeTheme and notify extension app
  packages/devtools_extensions/lib/src/template/devtools_extension.dart
  packages/devtools_extensions/lib/src/template/extension_manager.dart
Owners: @kenzieschmoll

relnotes
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Prepare `devtools_shared` for publish
  packages/devtools_shared/CHANGELOG.md
  packages/devtools_shared/pubspec.yaml
Owners: @kenzieschmoll, @bkonyi

Prepare `devtools_shared` for publish (#9183)
  packages/devtools_shared/CHANGELOG.md
  packages/devtools_shared/pubspec.yaml
Owners: @kenzieschmoll, @bkonyi

Enable unnecessary_async lint rule
  analysis_options.yaml
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_screen_body.dart
  packages/devtools_app/lib/src/screens/vm_developer/object_inspector/vm_simple_list_display.dart
  packages/devtools_app/lib/src/shared/config_specific/drag_and_drop/_drag_and_drop_web.dart
  packages/devtools_app/lib/src/shared/framework/routing.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_controller.dart
  packages/devtools_app/test/screens/deep_link_validation/deep_links_screen_test.dart
  packages/devtools_app/test/screens/deep_link_validation/select_project_view_test.dart
  packages/devtools_app/test/screens/memory/framework/memory_service_test.dart
  packages/devtools_app/test/shared/utils/future_work_tracker_test.dart
  packages/devtools_app/test/standalone_ui/vs_code/devtools_test.dart
  packages/devtools_app/test/test_infra/scenes/memory/default.dart
  packages/devtools_app/test/test_infra/test_data/memory/heap/heap_data.dart
  packages/devtools_app/test/test_infra/utils/deep_links_utils.dart
  packages/devtools_app_shared/lib/src/service/service_manager.dart
Owners: @flutter/devtools-reviewers, @bkonyi, @kenzieschmoll

more
  packages/devtools_app/test/screens/memory/diff/widgets/paths_test.dart
  packages/devtools_app/test/test_infra/scenes/memory/default.dart
  packages/devtools_app/test/test_infra/test_data/memory/heap/heap_data.dart
Owners: @bkonyi, @kenzieschmoll

Enable unnecessary_async lint rule (#9184)
  analysis_options.yaml
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_screen_body.dart
  packages/devtools_app/lib/src/screens/vm_developer/object_inspector/vm_simple_list_display.dart
  packages/devtools_app/lib/src/shared/config_specific/drag_and_drop/_drag_and_drop_web.dart
  packages/devtools_app/lib/src/shared/framework/routing.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_controller.dart
  packages/devtools_app/test/screens/deep_link_validation/deep_links_screen_test.dart
  packages/devtools_app/test/screens/deep_link_validation/select_project_view_test.dart
  packages/devtools_app/test/screens/memory/diff/widgets/paths_test.dart
  packages/devtools_app/test/screens/memory/framework/memory_service_test.dart
  packages/devtools_app/test/shared/utils/future_work_tracker_test.dart
  packages/devtools_app/test/standalone_ui/vs_code/devtools_test.dart
  packages/devtools_app/test/test_infra/scenes/memory/default.dart
  packages/devtools_app/test/test_infra/test_data/memory/heap/heap_data.dart
  packages/devtools_app/test/test_infra/utils/deep_links_utils.dart
  packages/devtools_app_shared/lib/src/service/service_manager.dart
Owners: @flutter/devtools-reviewers, @bkonyi, @kenzieschmoll

Fix a bug with detecting DevTools server availability
  packages/devtools_app/lib/src/shared/preferences/preferences.dart
  packages/devtools_app/lib/src/shared/server/_server_api.dart
  packages/devtools_app/lib/src/shared/server/server.dart
  packages/devtools_app/test/shared/utils/future_work_tracker_test.dart
Owners: @flutter/devtools-reviewers

Fix a bug with detecting DevTools server availability (#9189)
  packages/devtools_app/lib/src/shared/preferences/preferences.dart
  packages/devtools_app/lib/src/shared/server/_server_api.dart
  packages/devtools_app/lib/src/shared/server/server.dart
  packages/devtools_app/test/shared/utils/future_work_tracker_test.dart
Owners: @flutter/devtools-reviewers

Add support for connecting to the DevTools server from integration tests
  packages/devtools_app/integration_test/test/live_connection/devtools_extensions_test.dart
  packages/devtools_app/integration_test/test_infra/run/_in_file_args.dart
  packages/devtools_app/integration_test/test_infra/run/_utils.dart
  packages/devtools_app/integration_test/test_infra/run/run_test.dart
  packages/devtools_app/lib/src/extensions/embedded/_view_web.dart
  packages/devtools_app/lib/src/shared/development_helpers.dart
  packages/devtools_app/lib/src/shared/server/_server_api.dart
  packages/devtools_shared/lib/src/test/io_utils.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll, @bkonyi

Update select widget mode icon
  packages/devtools_app/lib/src/service/service_extensions.dart
  packages/devtools_app/macos/Runner.xcodeproj/project.pbxproj
  packages/devtools_app/pubspec.yaml
Owners: @flutter/devtools-reviewers

Add `--disable-cors` flag
  packages/devtools_app/integration_test/test_infra/run/run_test.dart
Owners: @flutter/devtools-reviewers

fix todos
  packages/devtools_app/integration_test/test_infra/run/run_test.dart
Owners: @flutter/devtools-reviewers

devtools_extensions_test changes
  packages/devtools_app/integration_test/test/live_connection/devtools_extensions_test.dart
Owners: @flutter/devtools-reviewers

remove prints
  packages/devtools_app/lib/src/shared/server/_server_api.dart
Owners: @flutter/devtools-reviewers

Plumb the `serve-with-dart-sdk` command through to the `dt run` command
  tool/lib/commands/run.dart
  tool/lib/commands/serve.dart
  tool/lib/commands/shared.dart
Owners: @kenzieschmoll

Add android platform to extensions example app
  packages/devtools_extensions/example/app_that_uses_foo/.gitignore
  packages/devtools_extensions/example/app_that_uses_foo/analysis_options.yaml
  packages/devtools_extensions/example/app_that_uses_foo/android/.gitignore
  packages/devtools_extensions/example/app_that_uses_foo/android/app/build.gradle.kts
  packages/devtools_extensions/example/app_that_uses_foo/android/app/src/debug/AndroidManifest.xml
  packages/devtools_extensions/example/app_that_uses_foo/android/app/src/main/AndroidManifest.xml
  packages/devtools_extensions/example/app_that_uses_foo/android/app/src/main/kotlin/com/example/app_that_uses_foo/MainActivity.kt
  packages/devtools_extensions/example/app_that_uses_foo/android/app/src/main/res/drawable-v21/launch_background.xml
  packages/devtools_extensions/example/app_that_uses_foo/android/app/src/main/res/drawable/launch_background.xml
  packages/devtools_extensions/example/app_that_uses_foo/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  packages/devtools_extensions/example/app_that_uses_foo/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  packages/devtools_extensions/example/app_that_uses_foo/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  packages/devtools_extensions/example/app_that_uses_foo/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  packages/devtools_extensions/example/app_that_uses_foo/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  packages/devtools_extensions/example/app_that_uses_foo/android/app/src/main/res/values-night/styles.xml
  packages/devtools_extensions/example/app_that_uses_foo/android/app/src/main/res/values/styles.xml
  packages/devtools_extensions/example/app_that_uses_foo/android/app/src/profile/AndroidManifest.xml
  packages/devtools_extensions/example/app_that_uses_foo/android/build.gradle.kts
  packages/devtools_extensions/example/app_that_uses_foo/android/gradle.properties
  packages/devtools_extensions/example/app_that_uses_foo/android/gradle/wrapper/gradle-wrapper.properties
  packages/devtools_extensions/example/app_that_uses_foo/android/settings.gradle.kts
  packages/devtools_extensions/example/app_that_uses_foo/ios/Flutter/AppFrameworkInfo.plist
  packages/devtools_extensions/example/app_that_uses_foo/ios/Runner.xcodeproj/project.pbxproj
  packages/devtools_extensions/example/app_that_uses_foo/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
Owners: @kenzieschmoll

Fix lifecycle issue in DtdManager
  packages/devtools_app_shared/lib/src/service/dtd_manager.dart
  packages/devtools_shared/CHANGELOG.md
  packages/devtools_shared/pubspec.yaml
Owners: @kenzieschmoll, @bkonyi

changelog
  packages/devtools_app_shared/CHANGELOG.md
  packages/devtools_shared/CHANGELOG.md
  packages/devtools_shared/pubspec.yaml
Owners: @kenzieschmoll, @bkonyi

Add android platform to extensions example app (#9199)
  packages/devtools_extensions/example/app_that_uses_foo/.gitignore
  packages/devtools_extensions/example/app_that_uses_foo/analysis_options.yaml
  packages/devtools_extensions/example/app_that_uses_foo/android/.gitignore
  packages/devtools_extensions/example/app_that_uses_foo/android/app/build.gradle.kts
  packages/devtools_extensions/example/app_that_uses_foo/android/app/src/debug/AndroidManifest.xml
  packages/devtools_extensions/example/app_that_uses_foo/android/app/src/main/AndroidManifest.xml
  packages/devtools_extensions/example/app_that_uses_foo/android/app/src/main/kotlin/com/example/app_that_uses_foo/MainActivity.kt
  packages/devtools_extensions/example/app_that_uses_foo/android/app/src/main/res/drawable-v21/launch_background.xml
  packages/devtools_extensions/example/app_that_uses_foo/android/app/src/main/res/drawable/launch_background.xml
  packages/devtools_extensions/example/app_that_uses_foo/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  packages/devtools_extensions/example/app_that_uses_foo/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  packages/devtools_extensions/example/app_that_uses_foo/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  packages/devtools_extensions/example/app_that_uses_foo/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  packages/devtools_extensions/example/app_that_uses_foo/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  packages/devtools_extensions/example/app_that_uses_foo/android/app/src/main/res/values-night/styles.xml
  packages/devtools_extensions/example/app_that_uses_foo/android/app/src/main/res/values/styles.xml
  packages/devtools_extensions/example/app_that_uses_foo/android/app/src/profile/AndroidManifest.xml
  packages/devtools_extensions/example/app_that_uses_foo/android/build.gradle.kts
  packages/devtools_extensions/example/app_that_uses_foo/android/gradle.properties
  packages/devtools_extensions/example/app_that_uses_foo/android/gradle/wrapper/gradle-wrapper.properties
  packages/devtools_extensions/example/app_that_uses_foo/android/settings.gradle.kts
  packages/devtools_extensions/example/app_that_uses_foo/ios/Flutter/AppFrameworkInfo.plist
  packages/devtools_extensions/example/app_that_uses_foo/ios/Runner.xcodeproj/project.pbxproj
  packages/devtools_extensions/example/app_that_uses_foo/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
Owners: @kenzieschmoll

Plumb the `serve-with-dart-sdk` command through to the `dt run` command (#9198)
  tool/lib/commands/run.dart
  tool/lib/commands/serve.dart
  tool/lib/commands/shared.dart
Owners: @kenzieschmoll

Fix lifecycle issue in DTDManager (#9200)
  packages/devtools_app_shared/CHANGELOG.md
  packages/devtools_app_shared/lib/src/service/dtd_manager.dart
Owners: @kenzieschmoll

Add APIs to support refactors from the Property Editor
  packages/devtools_app/lib/src/shared/analytics/constants/_property_editor_sidebar_constants.dart
  packages/devtools_app/lib/src/shared/editor/api_classes.dart
  packages/devtools_app/lib/src/shared/editor/editor_client.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_controller.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_inputs.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_view.dart
  packages/devtools_app/test/standalone_ui/ide_shared/property_editor/property_editor_test.dart
Owners: @flutter/devtools-reviewers

Protect behind feature flag
  packages/devtools_app/.vscode/launch.json
  packages/devtools_app/lib/src/shared/editor/editor_client.dart
  packages/devtools_app/lib/src/shared/feature_flags.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_controller.dart
Owners: @flutter/devtools-reviewers

Update Flutter SDK to get refactors support
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

Fix analyzer errors
  packages/devtools_app/test/standalone_ui/ide_shared/property_editor/property_editor_test.dart
Owners: @flutter/devtools-reviewers

Fix property editor test
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_inputs.dart
Owners: @flutter/devtools-reviewers

Update goldens
  packages/devtools_app/test/test_infra/goldens/integration_inspector_errors_2_error_selected.png
Owners: @flutter/devtools-reviewers

Fix deprecated members use
  packages/devtools_app/lib/src/shared/primitives/custom_pointer_scroll_view.dart
Owners: @flutter/devtools-reviewers

Move icon to named const and add dart doc
  packages/devtools_app/lib/src/service/service_extensions.dart
Owners: @flutter/devtools-reviewers

Format
  packages/devtools_app/lib/src/service/service_extensions.dart
Owners: @flutter/devtools-reviewers

CODEOWNERS:

*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @elliette

# Network Files
network/            @bkonyi @kenzieschmoll

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll @bkonyi

# Memory files
memory/             @bkonyi @kenzieschmoll

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @kenzieschmoll

# DevTools extensions and related files
src/extensions/
packages/devtools_extensions/    @kenzieschmoll
packages/devtools_app_shared/    @kenzieschmoll

# package:devtools_shared code, which is used across DevTools and the Dart SDK
packages/devtools_shared/        @kenzieschmoll @bkonyi

# Version bump files.
# No owners to prevent version update spam
packages/devtools_app/lib/devtools.dart
packages/devtools_app/pubspec.yaml
packages/devtools_test/pubspec.yaml
