Repository flutter/devtools, changes with the owners that CODEOWNERS names for each.
All owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

use a fused json decoder
  packages/devtools_app/lib/src/shared/ui/file_import.dart
Owners: @flutter/devtools-reviewers

update actions-cache version to the 4.2 release hash
  .github/workflows/build.yaml
  .github/workflows/daily-dev-bump.yaml
  .github/workflows/flutter-prep.yaml
Owners: @flutter/devtools-reviewers

Clean up animation
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_view.dart
Owners: @flutter/devtools-reviewers

update actions-cache version to the 4.2 release hash (#8881)
  .github/workflows/build.yaml
  .github/workflows/daily-dev-bump.yaml
  .github/workflows/flutter-prep.yaml
Owners: @flutter/devtools-reviewers

Rename editableArgs to editableWidgetData
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_controller.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_view.dart
  packages/devtools_app/test/standalone_ui/ide_shared/property_editor_test.dart
Owners: @flutter/devtools-reviewers

Add tests
  packages/devtools_app/test/standalone_ui/ide_shared/property_editor_test.dart
Owners: @flutter/devtools-reviewers

Update analytics event
  packages/devtools_app/lib/src/shared/analytics/constants/_property_editor_sidebar_constants.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_controller.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_view.dart
Owners: @flutter/devtools-reviewers

update more places to use the fused json decoder
  packages/devtools_app/lib/src/shared/config_specific/drag_and_drop/_drag_and_drop_web.dart
  packages/devtools_app/lib/src/shared/config_specific/framework_initialize/_framework_initialize_desktop.dart
  packages/devtools_shared/lib/src/server/file_system.dart
  tool/cpu_sample_intervals.dart
  tool/json_to_map.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll, @bkonyi

Revert "update more places to use the fused json decoder"
  packages/devtools_app/lib/src/shared/config_specific/drag_and_drop/_drag_and_drop_web.dart
  packages/devtools_app/lib/src/shared/config_specific/framework_initialize/_framework_initialize_desktop.dart
  packages/devtools_shared/lib/src/server/file_system.dart
  tool/cpu_sample_intervals.dart
  tool/json_to_map.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll, @bkonyi

Fix tests
  packages/devtools_app/lib/src/shared/editor/api_classes.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_types.dart
  packages/devtools_app/test/standalone_ui/ide_shared/property_editor_test.dart
Owners: @flutter/devtools-reviewers

Update flutter candidate verison
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

Format
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_inputs.dart
Owners: @flutter/devtools-reviewers

Format
  packages/devtools_app/lib/src/shared/editor/api_classes.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_types.dart
Owners: @flutter/devtools-reviewers

[Property Editor] Use `defaultValue` instead of `isDefault` to determine default value (#8884)
  flutter-candidate.txt
  packages/devtools_app/lib/src/shared/editor/api_classes.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_types.dart
  packages/devtools_app/test/standalone_ui/ide_shared/property_editor_test.dart
Owners: @flutter/devtools-reviewers

adjust batch sizes based on processing time
  packages/devtools_app/lib/src/screens/profiler/cpu_profile_transformer.dart
Owners: @kenzieschmoll, @bkonyi

use a constant for the frame budget
  packages/devtools_app/lib/src/screens/profiler/cpu_profile_transformer.dart
Owners: @kenzieschmoll, @bkonyi

feedback
  packages/devtools_app/lib/src/screens/network/network_request_inspector_views.dart
Owners: @bkonyi, @kenzieschmoll

Respond to PR comments
  packages/devtools_app/lib/src/shared/primitives/utils.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_controller.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_inputs.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_view.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/utils/utils.dart
  packages/devtools_app/test/standalone_ui/ide_shared/property_editor/property_editor_test.dart
  packages/devtools_app/test/standalone_ui/ide_shared/property_editor/utils_test.dart
Owners: @flutter/devtools-reviewers

[Property Editor] Launch from `devtools_app` instead of only root (#8806)
  .vscode/launch.json
  packages/devtools_app/.vscode/launch.json
Owners: @flutter/devtools-reviewers

Add label
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_inputs.dart
Owners: @flutter/devtools-reviewers

Offline support for Network page (#8332)
  packages/devtools_app/lib/src/screens/network/har_data_entry.dart
  packages/devtools_app/lib/src/screens/network/network_controller.dart
  packages/devtools_app/lib/src/screens/network/network_model.dart
  packages/devtools_app/lib/src/screens/network/network_screen.dart
  packages/devtools_app/lib/src/screens/network/offline_network_data.dart
  packages/devtools_app/lib/src/screens/network/utils/http_utils.dart
  packages/devtools_app/lib/src/shared/feature_flags.dart
  packages/devtools_app/lib/src/shared/framework/screen.dart
  packages/devtools_app/lib/src/shared/http/constants.dart
  packages/devtools_app/lib/src/shared/http/http_request_data.dart
  packages/devtools_app/lib/src/shared/ui/common_widgets.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/test/screens/network/network_controller_test.dart
  packages/devtools_app/test/screens/network/network_model_test.dart
  packages/devtools_app/test/screens/network/network_profiler_test.dart
  packages/devtools_app/test/screens/network/network_request_inspector_test.dart
  packages/devtools_app/test/screens/network/network_screen_test.dart
  packages/devtools_app/test/screens/network/network_table_test.dart
  packages/devtools_app/test/screens/network/offline_data_test.dart
  packages/devtools_app/test/screens/network/sample_network_offline_data.json
  packages/devtools_app/test/shared/framework/visible_screens_test.dart
Owners: @bkonyi, @kenzieschmoll, @flutter/devtools-reviewers

Add open / save controls to the network screen
  case_study/code_size/optimized/code_size_images/macos/Flutter/GeneratedPluginRegistrant.swift
  case_study/code_size/optimized/code_size_package/macos/Flutter/GeneratedPluginRegistrant.swift
  case_study/code_size/unoptimized/code_size_images/macos/Flutter/GeneratedPluginRegistrant.swift
  case_study/code_size/unoptimized/code_size_package/macos/Flutter/GeneratedPluginRegistrant.swift
  packages/devtools_app/lib/src/screens/memory/panes/control/widgets/secondary_controls.dart
  packages/devtools_app/lib/src/screens/network/network_controller.dart
  packages/devtools_app/lib/src/screens/network/network_screen.dart
  packages/devtools_app/lib/src/screens/performance/panes/controls/performance_controls.dart
  packages/devtools_app/lib/src/screens/profiler/panes/controls/profiler_screen_controls.dart
  packages/devtools_app/lib/src/shared/feature_flags.dart
  packages/devtools_app/lib/src/shared/framework/screen.dart
  packages/devtools_app/lib/src/shared/ui/file_import.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/release_notes/images/network_controls.png
  packages/devtools_app/release_notes/images/network_open_save_button.png
Owners: @flutter/devtools-reviewers, @bkonyi, @kenzieschmoll

rnotes
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Use previous HTTP profile timestamps instead of DateTime.now() when requesting HTTP profiles (#8860)
  packages/devtools_app/lib/src/screens/network/network_controller.dart
  packages/devtools_app/lib/src/screens/network/network_service.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @bkonyi, @kenzieschmoll, @flutter/devtools-reviewers

Prepare cherry-pick release - DevTools 2.42.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Use previous HTTP profile timestamps instead of DateTime.now() when requesting HTTP profiles (#8860)
  packages/devtools_app/lib/src/screens/network/network_controller.dart
  packages/devtools_app/lib/src/screens/network/network_service.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @bkonyi, @kenzieschmoll, @flutter/devtools-reviewers

Prepare cherry-pick release - DevTools 2.42.3
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Don't load the JsonViewer with unparsable JSON (#8874)
  packages/devtools_app/lib/src/screens/network/network_request_inspector_views.dart
Owners: @bkonyi, @kenzieschmoll

Debugger: soft wrap console input lines (#8855)
  packages/devtools_app/lib/src/shared/console/console.dart
  packages/devtools_app/lib/src/shared/console/widgets/evaluate.dart
  packages/devtools_app/lib/src/shared/ui/search.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Mark default dropdown option with a label
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_inputs.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_types.dart
  packages/devtools_app/test/standalone_ui/ide_shared/property_editor_test.dart
Owners: @flutter/devtools-reviewers

Update NEXT_RELEASE_NOTES.md
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

refactor BottomUpTransformer to do less deep copying
  packages/devtools_app/lib/src/shared/utils/profiler_utils.dart
  packages/devtools_app/test/screens/cpu_profiler/cpu_profile_transformer_test.dart
Owners: @flutter/devtools-reviewers

make generateBottomUpRoots and mergeCpuProfileRoots async so we can avoid jank
  packages/devtools_app/lib/src/screens/profiler/cpu_profile_model.dart
  packages/devtools_app/lib/src/screens/profiler/cpu_profile_transformer.dart
  packages/devtools_app/lib/src/shared/constants.dart
  packages/devtools_app/lib/src/shared/utils/profiler_utils.dart
  packages/devtools_app/test/screens/cpu_profiler/cpu_profile_transformer_test.dart
Owners: @kenzieschmoll, @bkonyi, @flutter/devtools-reviewers

delay a bit longer between work chunks
  packages/devtools_app/lib/src/screens/profiler/cpu_profile_transformer.dart
Owners: @kenzieschmoll, @bkonyi

Add open / save controls to the network screen (#8886)
  case_study/code_size/optimized/code_size_images/macos/Flutter/GeneratedPluginRegistrant.swift
  case_study/code_size/optimized/code_size_package/macos/Flutter/GeneratedPluginRegistrant.swift
  case_study/code_size/unoptimized/code_size_images/macos/Flutter/GeneratedPluginRegistrant.swift
  case_study/code_size/unoptimized/code_size_package/macos/Flutter/GeneratedPluginRegistrant.swift
  packages/devtools_app/lib/src/screens/memory/panes/control/widgets/secondary_controls.dart
  packages/devtools_app/lib/src/screens/network/network_controller.dart
  packages/devtools_app/lib/src/screens/network/network_screen.dart
  packages/devtools_app/lib/src/screens/performance/panes/controls/performance_controls.dart
  packages/devtools_app/lib/src/screens/profiler/panes/controls/profiler_screen_controls.dart
  packages/devtools_app/lib/src/shared/feature_flags.dart
  packages/devtools_app/lib/src/shared/framework/screen.dart
  packages/devtools_app/lib/src/shared/ui/file_import.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/release_notes/images/network_controls.png
  packages/devtools_app/release_notes/images/network_open_save_button.png
Owners: @flutter/devtools-reviewers, @bkonyi, @kenzieschmoll

add comment
  packages/devtools_app/lib/src/screens/profiler/cpu_profile_transformer.dart
Owners: @kenzieschmoll, @bkonyi

Revert "Use `-O2` optimization for DevTools wasm build. (#8814)"
  tool/build_release.sh
  tool/lib/commands/build.dart
Owners: @kenzieschmoll

update flutter version
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

Add a launch configuration for experimental hot reload
  .vscode/launch.json
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

Revert "Use `-O2` optimization for DevTools wasm build." (#8893)
  flutter-candidate.txt
  tool/build_release.sh
  tool/lib/commands/build.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

CODEOWNERS:

*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @elliette

# Network Files
network/            @bkonyi @kenzieschmoll

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll @bkonyi

# Memory files
memory/             @bkonyi @kenzieschmoll

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @kenzieschmoll

# DevTools extensions and related files
src/extensions/
packages/devtools_extensions/    @kenzieschmoll
packages/devtools_app_shared/    @kenzieschmoll

# package:devtools_shared code, which is used across DevTools and the Dart SDK
packages/devtools_shared/        @kenzieschmoll @bkonyi

# Version bump files.
# No owners to prevent version update spam
packages/devtools_app/lib/devtools.dart
packages/devtools_app/pubspec.yaml
packages/devtools_test/pubspec.yaml
