Repository flutter/devtools, changes with the owners that CODEOWNERS names for each.
All owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

CODEOWNERS:

*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @elliette

# Network Files
network/            @bkonyi @kenzieschmoll

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll @bkonyi

# Memory files
memory/             @bkonyi @kenzieschmoll

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @kenzieschmoll

# DevTools extensions and related files
src/extensions/
packages/devtools_extensions/    @kenzieschmoll
packages/devtools_app_shared/    @kenzieschmoll

# package:devtools_shared code, which is used across DevTools and the Dart SDK
packages/devtools_shared/        @kenzieschmoll @bkonyi

# Version bump files.
# No owners to prevent version update spam
packages/devtools_app/lib/devtools.dart
packages/devtools_app/pubspec.yaml
packages/devtools_test/pubspec.yaml

Updating from 2.45.0-dev.0 to 2.45.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Resolve all remaining broken comment references
  analysis_options.yaml
  packages/devtools_app/lib/src/extensions/extension_service.dart
  packages/devtools_app/lib/src/shared/analytics/_analytics_web.dart
  packages/devtools_app/lib/src/shared/config_specific/drag_and_drop/drag_and_drop.dart
  packages/devtools_app/lib/src/shared/offline/offline_data.dart
  packages/devtools_app/lib/src/shared/primitives/graph.dart
  packages/devtools_app/lib/src/shared/table/table.dart
  packages/devtools_app/lib/src/shared/table/table_controller.dart
  packages/devtools_app/lib/src/shared/table/table_data.dart
  packages/devtools_app/lib/src/shared/ui/common_widgets.dart
  packages/devtools_app/lib/src/shared/ui/drop_down_button.dart
  packages/devtools_app/lib/src/shared/ui/filter.dart
  packages/devtools_app/lib/src/shared/ui/icons.dart
  packages/devtools_app/lib/src/shared/ui/search.dart
  packages/devtools_app/lib/src/shared/ui/utils.dart
  packages/devtools_app/lib/src/shared/utils/profiler_utils.dart
  packages/devtools_app/lib/src/shared/utils/utils.dart
  packages/devtools_app/lib/src/standalone_ui/vs_code/devtools/sidebar_extensions_controller.dart
  packages/devtools_app/test/test_infra/test_data/performance/sample_performance_data.dart
  packages/devtools_app/test/test_infra/utils/rendering_tester.dart
  packages/devtools_app/test/test_infra/utils/test_utils.dart
  packages/devtools_extensions/example/packages_with_extensions/foo/packages/foo/lib/src/foo_controller.dart
  packages/devtools_extensions/example/packages_with_extensions/foo/packages/foo_devtools_extension/lib/src/feature_examples/devtools_extension_api_example.dart
  packages/devtools_extensions/example/packages_with_extensions/foo/packages/foo_devtools_extension/lib/src/feature_examples/service_extension_example.dart
  packages/devtools_extensions/lib/src/api/api.dart
  packages/devtools_extensions/lib/src/template/_simulated_devtools_environment/_simulated_devtools_environment.dart
  packages/devtools_extensions/lib/src/template/devtools_extension.dart
  packages/devtools_test/lib/src/helpers/actions.dart
  packages/devtools_test/lib/src/helpers/wrappers.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

Resolve all remaining broken comment references (#9074)
  analysis_options.yaml
  packages/devtools_app/lib/src/extensions/extension_service.dart
  packages/devtools_app/lib/src/shared/analytics/_analytics_web.dart
  packages/devtools_app/lib/src/shared/config_specific/drag_and_drop/drag_and_drop.dart
  packages/devtools_app/lib/src/shared/offline/offline_data.dart
  packages/devtools_app/lib/src/shared/primitives/graph.dart
  packages/devtools_app/lib/src/shared/table/table.dart
  packages/devtools_app/lib/src/shared/table/table_controller.dart
  packages/devtools_app/lib/src/shared/table/table_data.dart
  packages/devtools_app/lib/src/shared/ui/common_widgets.dart
  packages/devtools_app/lib/src/shared/ui/drop_down_button.dart
  packages/devtools_app/lib/src/shared/ui/filter.dart
  packages/devtools_app/lib/src/shared/ui/icons.dart
  packages/devtools_app/lib/src/shared/ui/search.dart
  packages/devtools_app/lib/src/shared/ui/utils.dart
  packages/devtools_app/lib/src/shared/utils/profiler_utils.dart
  packages/devtools_app/lib/src/shared/utils/utils.dart
  packages/devtools_app/lib/src/standalone_ui/vs_code/devtools/sidebar_extensions_controller.dart
  packages/devtools_app/test/test_infra/test_data/performance/sample_performance_data.dart
  packages/devtools_app/test/test_infra/utils/rendering_tester.dart
  packages/devtools_app/test/test_infra/utils/test_utils.dart
  packages/devtools_extensions/example/packages_with_extensions/foo/packages/foo/lib/src/foo_controller.dart
  packages/devtools_extensions/example/packages_with_extensions/foo/packages/foo_devtools_extension/lib/src/feature_examples/devtools_extension_api_example.dart
  packages/devtools_extensions/example/packages_with_extensions/foo/packages/foo_devtools_extension/lib/src/feature_examples/service_extension_example.dart
  packages/devtools_extensions/lib/src/api/api.dart
  packages/devtools_extensions/lib/src/template/_simulated_devtools_environment/_simulated_devtools_environment.dart
  packages/devtools_extensions/lib/src/template/devtools_extension.dart
  packages/devtools_test/lib/src/helpers/actions.dart
  packages/devtools_test/lib/src/helpers/wrappers.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

cascades
  packages/devtools_app/lib/src/shared/ui/filter.dart
Owners: @flutter/devtools-reviewers

Property Editor empty state messages
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_messages.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_view.dart
Owners: @flutter/devtools-reviewers

grammar
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_messages.dart
Owners: @flutter/devtools-reviewers

Simplify QueryFilter.parse (#9072)
  packages/devtools_app/lib/src/shared/ui/filter.dart
Owners: @flutter/devtools-reviewers

Add tests
  packages/devtools_app/test/standalone_ui/ide_shared/property_editor/property_editor_test.dart
Owners: @flutter/devtools-reviewers

Update test
  packages/devtools_app/test/standalone_ui/ide_shared/property_editor/property_editor_test.dart
Owners: @flutter/devtools-reviewers

Handle highlighting for dark theme
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_messages.dart
Owners: @flutter/devtools-reviewers

Make selectable
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_view.dart
Owners: @flutter/devtools-reviewers

Updating from 2.45.0-dev.0 to 2.45.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Respond to PR comments
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_messages.dart
Owners: @flutter/devtools-reviewers

[Property Editor] Better messages when panel is empty (#9076)
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_messages.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_view.dart
  packages/devtools_app/test/standalone_ui/ide_shared/property_editor/property_editor_test.dart
Owners: @flutter/devtools-reviewers

Add filter settings
  packages/devtools_app/lib/src/shared/ui/filter.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_controller.dart
Owners: @flutter/devtools-reviewers

Add test cases
  packages/devtools_app/lib/src/shared/ui/filter.dart
  packages/devtools_app/test/standalone_ui/ide_shared/property_editor/property_editor_test.dart
Owners: @flutter/devtools-reviewers

Updating from 2.45.0-dev.0 to 2.45.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.45.0-dev.0 to 2.45.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.45.0-dev.0 to 2.45.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Fix tests
  packages/devtools_app/lib/src/shared/ui/filter.dart
  packages/devtools_app/test/standalone_ui/ide_shared/property_editor/property_editor_test.dart
Owners: @flutter/devtools-reviewers

Clean up
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_controller.dart
  packages/devtools_app/test/standalone_ui/ide_shared/property_editor/property_editor_test.dart
Owners: @flutter/devtools-reviewers

Respond to PR comments
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_controller.dart
Owners: @flutter/devtools-reviewers

Remove default value filter
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_controller.dart
  packages/devtools_app/test/standalone_ui/ide_shared/property_editor/property_editor_test.dart
Owners: @flutter/devtools-reviewers

Updating from 2.45.0-dev.0 to 2.45.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Update property_editor_controller.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_controller.dart
Owners: @flutter/devtools-reviewers

Update editor_client.dart
  packages/devtools_app/lib/src/shared/editor/editor_client.dart
Owners: @flutter/devtools-reviewers

Update utils.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/utils/utils.dart
Owners: @flutter/devtools-reviewers

Add handling for range
  packages/devtools_app/lib/src/shared/editor/api_classes.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_controller.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_inputs.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_view.dart
Owners: @flutter/devtools-reviewers

Alphabetize
  packages/devtools_app/lib/src/shared/editor/api_classes.dart
Owners: @flutter/devtools-reviewers

Alphabetize
  packages/devtools_app/lib/src/shared/editor/api_classes.dart
Owners: @flutter/devtools-reviewers

Prevent entire text from being highlighted after hitting enter
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_inputs.dart
Owners: @flutter/devtools-reviewers

WIP
  packages/devtools_app/lib/src/shared/analytics/constants/_property_editor_sidebar_constants.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_panel.dart
Owners: @flutter/devtools-reviewers

Updating from 2.45.0-dev.0 to 2.45.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

[Property Editor] Use the widget's starting position to create the `key` for the Property Editor (#9087)
  packages/devtools_app/lib/src/shared/editor/api_classes.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_controller.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_inputs.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_view.dart
Owners: @flutter/devtools-reviewers

[Property Editor] Add filters for set and default values (#9083)
  packages/devtools_app/lib/src/shared/ui/filter.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_controller.dart
  packages/devtools_app/test/standalone_ui/ide_shared/property_editor/property_editor_test.dart
Owners: @flutter/devtools-reviewers

Implement workaround
  packages/devtools_app/lib/src/app.dart
  packages/devtools_app/lib/src/shared/utils/_focus_utils_desktop.dart
  packages/devtools_app/lib/src/shared/utils/_focus_utils_web.dart
  packages/devtools_app/lib/src/shared/utils/focus_utils.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_view.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/utils/_utils_web.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/utils/utils.dart
Owners: @flutter/devtools-reviewers

Initialize analytics metrics before framework initialization
  packages/devtools_app/lib/initialization.dart
  packages/devtools_app/lib/src/app.dart
Owners: @flutter/devtools-reviewers

formatting
  packages/devtools_app/lib/initialization.dart
Owners: @flutter/devtools-reviewers

Move to fix global lookup
  packages/devtools_app/lib/initialization.dart
  packages/devtools_app/lib/src/framework/framework_core.dart
Owners: @flutter/devtools-reviewers

Updating from 2.45.0-dev.0 to 2.45.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none
