Repository flutter/devtools, changes with the owners that CODEOWNERS names for each.
All owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

Updating from 2.54.0-dev.0 to 2.54.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.54.0-dev.0 to 2.54.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.54.0-dev.0 to 2.54.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.54.0-dev.0 to 2.54.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.54.0-dev.0 to 2.54.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.54.0-dev.0 to 2.54.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.54.0-dev.0 to 2.54.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.54.0-dev.0 to 2.54.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.54.0-dev.0 to 2.54.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.54.0-dev.0 to 2.54.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.54.0-dev.0 to 2.54.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.54.0-dev.0 to 2.54.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.54.0-dev.0 to 2.54.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Prepare for release 2.54.0
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Update to latest Flutter candidate
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

Fix splitter directionality
  packages/devtools_app/lib/src/framework/scaffold/scaffold.dart
Owners: @flutter/devtools-reviewers

Prepare for release 2.54.0 (#9601)
  flutter-candidate.txt
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/lib/src/framework/scaffold/scaffold.dart
  packages/devtools_app/pubspec.yaml
Owners: @flutter/devtools-reviewers

Fix `dt serve` command as part of the release process
  pubspec.lock
  tool/RELEASE_INSTRUCTIONS.md
  tool/lib/commands/run.dart
  tool/lib/commands/serve.dart
  tool/lib/commands/shared.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

Reset DevTools to next dev version
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  pubspec.lock
Owners: @flutter/devtools-reviewers

Reset DevTools to next dev version (#9604)
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  pubspec.lock
Owners: @flutter/devtools-reviewers

Release notes updates for flutter/website expectations
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/release_notes/README.md
  packages/devtools_app/release_notes/helpers/release_notes_template.md
  tool/lib/commands/release_notes_helper.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

Release notes updates for flutter/website expectations (#9605)
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/release_notes/README.md
  packages/devtools_app/release_notes/helpers/release_notes_template.md
  tool/lib/commands/release_notes_helper.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

Updating from 2.55.0-dev.0 to 2.55.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Merge of old test branch
  .github/workflows/build.yaml
  packages/devtools_app/benchmark/devtools_benchmarks_test.dart
  packages/devtools_app/integration_test/test_infra/run/run_test.dart
  packages/devtools_app/lib/src/screens/profiler/cpu_profile_model.dart
  packages/devtools_app/lib/src/shared/http/http_request_data.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/webdriver_test/web_compiler_test.dart
  packages/devtools_shared/lib/src/test/chrome_driver.dart
  packages/devtools_test/lib/src/helpers/utils.dart
  packages/devtools_test/lib/src/integration_test/integration_test_utils.dart
  pubspec.lock
  tool/ci/bots.sh
  tool/lib/commands/serve.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll, @bkonyi

Do not use local server
  packages/devtools_app/webdriver_test/web_compiler_test.dart
Owners: @flutter/devtools-reviewers

Wait for chromedriver port
  packages/devtools_shared/lib/src/test/chrome_driver.dart
Owners: @kenzieschmoll, @bkonyi

Add webdriver test to verify compiler query parameter works
  packages/devtools_app/integration_test/test_infra/run/run_test.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/webdriver_test/web_compiler_test.dart
Owners: @flutter/devtools-reviewers

Committed in wrong directory
  .github/workflows/build.yaml
  packages/devtools_shared/lib/src/test/chrome_driver.dart
  packages/devtools_test/lib/src/helpers/utils.dart
  pubspec.lock
  tool/ci/bots.sh
Owners: @flutter/devtools-reviewers, @kenzieschmoll, @bkonyi

Clean up
  packages/devtools_app/integration_test/test_infra/run/run_test.dart
  packages/devtools_app/webdriver_test/web_compiler_test.dart
Owners: @flutter/devtools-reviewers

Updating from 2.55.0-dev.0 to 2.55.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Fix DCM errors
  packages/devtools_app/benchmark/devtools_benchmarks_test.dart
  packages/devtools_app/lib/src/screens/profiler/cpu_profile_model.dart
  packages/devtools_app/lib/src/shared/http/http_request_data.dart
  packages/devtools_app_shared/lib/src/service/flutter_version.dart
  packages/devtools_test/lib/src/helpers/utils.dart
  packages/devtools_test/lib/src/integration_test/integration_test_utils.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll, @bkonyi

Clean up and add comment
  packages/devtools_app/webdriver_test/web_compiler_test.dart
Owners: @flutter/devtools-reviewers

Updating from 2.55.0-dev.0 to 2.55.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.55.0-dev.0 to 2.55.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.55.0-dev.0 to 2.55.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.55.0-dev.0 to 2.55.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.55.0-dev.0 to 2.55.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Revert "Fix `dt serve` command as part of the release process"
  pubspec.lock
  tool/RELEASE_INSTRUCTIONS.md
  tool/lib/commands/run.dart
  tool/lib/commands/serve.dart
  tool/lib/commands/shared.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

Actually use gclient sync instead of running pub get in the SDK
  tool/lib/commands/serve.dart
  tool/lib/utils.dart
Owners: @kenzieschmoll

Fix `dt serve` command as part of the release process (#9603)
  tool/lib/commands/serve.dart
  tool/lib/utils.dart
Owners: @kenzieschmoll

CODEOWNERS:

*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @elliette

# Network Files
network/            @bkonyi @kenzieschmoll

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll @bkonyi

# Memory files
memory/             @bkonyi @kenzieschmoll

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @kenzieschmoll

# DevTools extensions and related files
src/extensions/
packages/devtools_extensions/    @kenzieschmoll
packages/devtools_app_shared/    @kenzieschmoll

# package:devtools_shared code, which is used across DevTools and the Dart SDK
packages/devtools_shared/        @kenzieschmoll @bkonyi

# Version bump files.
# No owners to prevent version update spam
packages/devtools_app/lib/devtools.dart
packages/devtools_app/pubspec.yaml
packages/devtools_test/pubspec.yaml
