Repository flutter/devtools, changes with the owners that CODEOWNERS names for each.
All owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

CODEOWNERS:

*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @elliette

# Network Files
network/            @bkonyi @kenzieschmoll

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll @bkonyi

# Memory files
memory/             @bkonyi @kenzieschmoll

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @kenzieschmoll

# DevTools extensions and related files
src/extensions/
packages/devtools_extensions/    @kenzieschmoll
packages/devtools_app_shared/    @kenzieschmoll

# package:devtools_shared code, which is used across DevTools and the Dart SDK
packages/devtools_shared/        @kenzieschmoll @bkonyi

# Version bump files.
# No owners to prevent version update spam
packages/devtools_app/lib/devtools.dart
packages/devtools_app/pubspec.yaml
packages/devtools_test/pubspec.yaml

Fixes null error when parsing universal link settings
  packages/devtools_shared/lib/src/deeplink/universal_link_settings.dart
  packages/devtools_shared/test/deeplink/universal_link_settings_test.dart
Owners: @kenzieschmoll, @bkonyi

update
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

update
  packages/devtools_shared/test/deeplink/universal_link_settings_test.dart
Owners: @kenzieschmoll, @bkonyi

address comment
  packages/devtools_shared/test/deeplink/universal_link_settings_test.dart
Owners: @kenzieschmoll, @bkonyi

analyze
  packages/devtools_shared/test/deeplink/universal_link_settings_test.dart
Owners: @kenzieschmoll, @bkonyi

Fixes null error when parsing universal link settings (#9581)
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_shared/lib/src/deeplink/universal_link_settings.dart
  packages/devtools_shared/test/deeplink/universal_link_settings_test.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll, @bkonyi

AI assistant tab is conditionally displayed
  packages/devtools_app/lib/src/framework/scaffold/bottom_pane.dart
  packages/devtools_app/lib/src/framework/scaffold/scaffold.dart
  packages/devtools_app/lib/src/screens/inspector_shared/inspector_screen.dart
  packages/devtools_app/lib/src/screens/performance/performance_screen.dart
  packages/devtools_app/lib/src/shared/ai_assistant/widgets/ai_assistant_pane.dart
  packages/devtools_app/lib/src/shared/console/widgets/console_pane.dart
  packages/devtools_app/lib/src/shared/feature_flags.dart
  packages/devtools_app/lib/src/shared/framework/screen.dart
  packages/devtools_app/lib/src/shared/ui/tab.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

Updating from 2.54.0-dev.0 to 2.54.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.54.0-dev.0 to 2.54.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.54.0-dev.0 to 2.54.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

[Memory Panel] Fix `canvasChartWidth` has not been initialized error when changing the zoom duration (#9573)
  packages/devtools_app/lib/src/screens/memory/panes/chart/widgets/interval_dropdown.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @bkonyi, @kenzieschmoll, @flutter/devtools-reviewers

formatting
  packages/devtools_app/lib/src/shared/feature_flags.dart
Owners: @flutter/devtools-reviewers

Delete launched `propertyEditorRefactors` feature flag (#9579)
  packages/devtools_app/lib/src/shared/feature_flags.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_controller.dart
  packages/devtools_app/test/shared/primitives/feature_flags_test.dart
  packages/devtools_app/test/standalone_ui/ide_shared/property_editor/property_editor_test.dart
Owners: @flutter/devtools-reviewers

Updating from 2.54.0-dev.0 to 2.54.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Minor tidy up extracted from auto-reconnect change
  .vscode/settings.json
  .vscode/tasks.json
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/release_notes/helpers/release_notes_template.md
  tool/lib/commands/release_notes_helper.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

Attempt to reconnect to DTD automatically if the connection drops
  packages/devtools_app/lib/src/shared/editor/editor_client.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_controller.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_panel.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/reconnecting_overlay.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/utils/utils.dart
  packages/devtools_app/lib/src/standalone_ui/standalone_screen.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/test/test_infra/scenes/standalone_ui/editor_service/simulated_editor.dart
  packages/devtools_app/test/test_infra/scenes/standalone_ui/editor_sidebar.dart
  packages/devtools_app/test/test_infra/scenes/standalone_ui/mock_editor_widget.dart
  packages/devtools_app/test/test_infra/scenes/standalone_ui/property_editor_sidebar.dart
  packages/devtools_app/test/test_infra/scenes/standalone_ui/shared/utils.dart
  packages/devtools_app_shared/lib/service.dart
  packages/devtools_app_shared/lib/src/service/dtd_manager.dart
  packages/devtools_app_shared/lib/src/service/dtd_manager_connection_state.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

Fix import order
  packages/devtools_app/lib/src/standalone_ui/standalone_screen.dart
Owners: @flutter/devtools-reviewers

Address review comments
  packages/devtools_app/test/test_infra/scenes/standalone_ui/mock_editor_widget.dart
  packages/devtools_app_shared/lib/src/service/dtd_manager.dart
  packages/devtools_app_shared/lib/src/service/dtd_manager_connection_state.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

Minor tidy up extracted from auto-reconnect change (#9589)
  .vscode/settings.json
  .vscode/tasks.json
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/release_notes/helpers/release_notes_template.md
  tool/lib/commands/release_notes_helper.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

Add error handler to unawaited
  packages/devtools_app_shared/lib/src/service/dtd_manager.dart
Owners: @kenzieschmoll

Clean up
  packages/devtools_app/lib/src/framework/scaffold/scaffold.dart
  packages/devtools_app/lib/src/screens/inspector_shared/inspector_screen.dart
  packages/devtools_app/lib/src/screens/network/network_screen.dart
  packages/devtools_app/lib/src/screens/performance/performance_screen.dart
  packages/devtools_app/lib/src/shared/framework/screen.dart
  packages/devtools_app/lib/src/shared/ui/tab.dart
Owners: @flutter/devtools-reviewers, @bkonyi, @kenzieschmoll

Small improvements
  packages/devtools_app/lib/src/framework/scaffold/bottom_pane.dart
  packages/devtools_app/lib/src/framework/scaffold/scaffold.dart
Owners: @flutter/devtools-reviewers

Add test
  packages/devtools_app/test/framework/scaffold/scaffold_ai_assistant_test.dart
Owners: @flutter/devtools-reviewers

Fix static analysis errors
  packages/devtools_app/integration_test/test/live_connection/memory_screen_helpers.dart
  packages/devtools_app/lib/src/framework/scaffold/bottom_pane.dart
  packages/devtools_app/lib/src/framework/scaffold/scaffold.dart
  packages/devtools_app/lib/src/shared/console/widgets/console_pane.dart
  packages/devtools_app/lib/src/shared/ui/tab.dart
  packages/devtools_app/test/screens/debugger/debugger_console_test.dart
  packages/devtools_app/test/screens/debugger/debugger_screen_test.dart
  packages/devtools_app/test/shared/ansi_output_test.dart
  packages/devtools_app_shared/lib/src/ui/split_pane.dart
Owners: @flutter/devtools-reviewers, @elliette, @kenzieschmoll

Clean up
  packages/devtools_app/lib/src/framework/scaffold/scaffold.dart
  packages/devtools_app/test/framework/scaffold/scaffold_ai_assistant_test.dart
  packages/devtools_app_shared/lib/src/ui/split_pane.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

Hopefully fix tests
  packages/devtools_app/test/screens/debugger/debugger_console_test.dart
Owners: @elliette

Updating from 2.54.0-dev.0 to 2.54.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Attempt to reconnect to DTD automatically if the connection drops (#9587)
  packages/devtools_app/lib/src/shared/editor/editor_client.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_controller.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_panel.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/reconnecting_overlay.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/utils/utils.dart
  packages/devtools_app/lib/src/standalone_ui/standalone_screen.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/test/test_infra/scenes/standalone_ui/editor_service/simulated_editor.dart
  packages/devtools_app/test/test_infra/scenes/standalone_ui/editor_sidebar.dart
  packages/devtools_app/test/test_infra/scenes/standalone_ui/mock_editor_widget.dart
  packages/devtools_app/test/test_infra/scenes/standalone_ui/property_editor_sidebar.dart
  packages/devtools_app/test/test_infra/scenes/standalone_ui/shared/utils.dart
  packages/devtools_app_shared/lib/service.dart
  packages/devtools_app_shared/lib/src/service/dtd_manager.dart
  packages/devtools_app_shared/lib/src/service/dtd_manager_connection_state.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

Move property_editor/reconnecting_overlay.dart -> not_connected_overlay.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/not_connected_overlay.dart
  packages/devtools_app/lib/src/standalone_ui/standalone_screen.dart
Owners: @flutter/devtools-reviewers

Sort imports
  packages/devtools_app/lib/src/standalone_ui/standalone_screen.dart
Owners: @flutter/devtools-reviewers

Fix debugger test
  packages/devtools_app/test/screens/debugger/debugger_screen_test.dart
Owners: @elliette

Move property_editor/reconnecting_overlay.dart -> not_connected_overlay.dart (#9594)
  packages/devtools_app/lib/src/standalone_ui/ide_shared/not_connected_overlay.dart
  packages/devtools_app/lib/src/standalone_ui/standalone_screen.dart
Owners: @flutter/devtools-reviewers

Updating from 2.54.0-dev.0 to 2.54.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Test for AI assistant feature flag
  packages/devtools_app/test/shared/primitives/feature_flags_test.dart
Owners: @flutter/devtools-reviewers

AI assistant pane is displayed for supported screens when the AI assistant feature flag is enabled (#9591)
  packages/devtools_app/integration_test/test/live_connection/memory_screen_helpers.dart
  packages/devtools_app/lib/src/framework/scaffold/bottom_pane.dart
  packages/devtools_app/lib/src/framework/scaffold/scaffold.dart
  packages/devtools_app/lib/src/screens/inspector_shared/inspector_screen.dart
  packages/devtools_app/lib/src/screens/network/network_screen.dart
  packages/devtools_app/lib/src/shared/ai_assistant/widgets/ai_assistant_pane.dart
  packages/devtools_app/lib/src/shared/console/widgets/console_pane.dart
  packages/devtools_app/lib/src/shared/feature_flags.dart
  packages/devtools_app/lib/src/shared/framework/screen.dart
  packages/devtools_app/lib/src/shared/ui/tab.dart
  packages/devtools_app/test/framework/scaffold/scaffold_ai_assistant_test.dart
  packages/devtools_app/test/screens/debugger/debugger_console_test.dart
  packages/devtools_app/test/screens/debugger/debugger_screen_test.dart
  packages/devtools_app/test/shared/ansi_output_test.dart
  packages/devtools_app/test/shared/primitives/feature_flags_test.dart
  packages/devtools_app_shared/lib/src/ui/split_pane.dart
Owners: @flutter/devtools-reviewers, @bkonyi, @kenzieschmoll, @elliette

Updating from 2.54.0-dev.0 to 2.54.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.54.0-dev.0 to 2.54.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.54.0-dev.0 to 2.54.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.54.0-dev.0 to 2.54.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.54.0-dev.0 to 2.54.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none
