Repository flutter/devtools, changes with the owners that CODEOWNERS names for each.
All owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

Update dart_syntax grammar for latest fixes
  packages/devtools_app/assets/dart_syntax.json
  packages/devtools_app/lib/src/screens/debugger/syntax_highlighter.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/test/test_infra/goldens/syntax_highlighting/comments.dart.golden
  packages/devtools_app/test/test_infra/goldens/syntax_highlighting/keywords.dart.golden
  packages/devtools_app/test/test_infra/goldens/syntax_highlighting/literals.dart.golden
  packages/devtools_app/test/test_infra/goldens/syntax_highlighting/open_code_block.golden
  packages/devtools_app/test/test_infra/goldens/syntax_highlighting/string_interpolation.dart.golden
  packages/devtools_app/test/test_infra/test_data/syntax_highlighting/literals.dart
Owners: @flutter/devtools-reviewers, @elliette

Make DevToolsTable.rowItemExtent non-nullable (#8868)
  packages/devtools_app/lib/src/app.dart
  packages/devtools_app/lib/src/shared/table/table.dart
Owners: @flutter/devtools-reviewers

Add a unique key to the notifications widget so they don't get reparented (#8867)
  packages/devtools_app/lib/src/framework/notifications_view.dart
Owners: @flutter/devtools-reviewers

Fix broken comment references in devtools_app
  packages/devtools_app/lib/src/app.dart
  packages/devtools_app/lib/src/extensions/embedded/_controller_web.dart
  packages/devtools_app/lib/src/extensions/embedded/_view_web.dart
  packages/devtools_app/lib/src/extensions/extension_service.dart
  packages/devtools_app/lib/src/framework/framework_core.dart
  packages/devtools_app/lib/src/framework/initializer.dart
  packages/devtools_app/lib/src/framework/scaffold/scaffold.dart
  packages/devtools_app/lib/src/screens/app_size/app_size_controller.dart
  packages/devtools_app/lib/src/screens/debugger/span_parser.dart
  packages/devtools_app/lib/src/screens/inspector/inspector_data_models.dart
  packages/devtools_app/lib/src/screens/inspector/inspector_tree_controller.dart
  packages/devtools_app/lib/src/screens/inspector/layout_explorer/ui/utils.dart
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_data_models.dart
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_tree_controller.dart
  packages/devtools_app/lib/src/screens/inspector_v2/layout_explorer/box/box.dart
  packages/devtools_app/lib/src/screens/inspector_v2/layout_explorer/ui/utils.dart
  packages/devtools_app/lib/src/screens/memory/framework/memory_controller.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/controller/diff_pane_controller.dart
  packages/devtools_app/lib/src/screens/memory/panes/tracing/tracing_data.dart
Owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

added a check for disconnected journey
  packages/devtools_app/lib/src/screens/network/network_controller.dart
Owners: @bkonyi, @kenzieschmoll

Fix some extensions + file util tests on Windows (#8846)
  packages/devtools_shared/test/helpers/extension_test_manager.dart
  packages/devtools_shared/test/helpers/extension_test_manager_test.dart
  packages/devtools_shared/test/server/devtools_extensions_api_test.dart
  packages/devtools_shared/test/utils/file_utils_test.dart
Owners: @kenzieschmoll, @bkonyi

Enable Windows bots
  .github/workflows/build.yaml
  .github/workflows/flutter-prep.yaml
  packages/devtools_app/integration_test/test_infra/run/_test_app_driver.dart
  packages/devtools_app/test/screens/memory/diff/controller/memory_footprint_test.dart
  packages/devtools_shared/lib/src/test/integration_test_runner.dart
  tool/ci/package_tests.sh
  tool/ci/setup.sh
Owners: @flutter/devtools-reviewers, @bkonyi, @kenzieschmoll

Fix broken comment references in devtools_app_shared (#8863)
  packages/devtools_app_shared/example/ui/dialog_example.dart
  packages/devtools_app_shared/example/ui/split_example.dart
  packages/devtools_app_shared/lib/src/service/resolved_uri_manager.dart
  packages/devtools_app_shared/lib/src/ui/common.dart
  packages/devtools_app_shared/lib/src/ui/flex_split_column.dart
  packages/devtools_app_shared/lib/src/utils/auto_dispose.dart
  packages/devtools_app_shared/lib/src/utils/list.dart
Owners: @kenzieschmoll

narrower import
  packages/devtools_app/lib/src/framework/framework_core.dart
Owners: @flutter/devtools-reviewers

Reformat NetworkRequestInspector._generateTabs to be way less indented.
  packages/devtools_app/lib/src/screens/network/network_request_inspector.dart
Owners: @bkonyi, @kenzieschmoll

Update dart_syntax grammar for latest fixes (#8861)
  packages/devtools_app/assets/dart_syntax.json
  packages/devtools_app/lib/src/screens/debugger/syntax_highlighter.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/test/test_infra/goldens/syntax_highlighting/comments.dart.golden
  packages/devtools_app/test/test_infra/goldens/syntax_highlighting/keywords.dart.golden
  packages/devtools_app/test/test_infra/goldens/syntax_highlighting/literals.dart.golden
  packages/devtools_app/test/test_infra/goldens/syntax_highlighting/open_code_block.golden
  packages/devtools_app/test/test_infra/goldens/syntax_highlighting/string_interpolation.dart.golden
  packages/devtools_app/test/test_infra/test_data/syntax_highlighting/literals.dart
Owners: @flutter/devtools-reviewers, @elliette

added a check to fetch full data only when connected
  packages/devtools_app/lib/src/shared/http/http_request_data.dart
Owners: @flutter/devtools-reviewers

Fix typo + remove "choco install googlechrome"
  tool/ci/package_tests.sh
  tool/ci/setup.sh
Owners: @kenzieschmoll

added handling for disconnected journey for json viewer, added check in controller, added a util function isConnected()
  packages/devtools_app/lib/src/screens/network/network_controller.dart
  packages/devtools_app/lib/src/shared/http/http_request_data.dart
  packages/devtools_app/lib/src/shared/ui/common_widgets.dart
  packages/devtools_app/lib/src/shared/utils/utils.dart
Owners: @bkonyi, @kenzieschmoll, @flutter/devtools-reviewers

Don't load the JsonViewer with unparsable JSON
  packages/devtools_app/lib/src/screens/network/network_request_inspector_views.dart
Owners: @bkonyi, @kenzieschmoll

Fix broken comment references in devtools_app (#8869)
  packages/devtools_app/lib/src/app.dart
  packages/devtools_app/lib/src/extensions/embedded/_controller_web.dart
  packages/devtools_app/lib/src/extensions/embedded/_view_web.dart
  packages/devtools_app/lib/src/extensions/extension_service.dart
  packages/devtools_app/lib/src/framework/framework_core.dart
  packages/devtools_app/lib/src/framework/initializer.dart
  packages/devtools_app/lib/src/framework/scaffold/scaffold.dart
  packages/devtools_app/lib/src/screens/app_size/app_size_controller.dart
  packages/devtools_app/lib/src/screens/debugger/span_parser.dart
  packages/devtools_app/lib/src/screens/inspector/inspector_data_models.dart
  packages/devtools_app/lib/src/screens/inspector/inspector_tree_controller.dart
  packages/devtools_app/lib/src/screens/inspector/layout_explorer/ui/utils.dart
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_data_models.dart
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_tree_controller.dart
  packages/devtools_app/lib/src/screens/inspector_v2/layout_explorer/box/box.dart
  packages/devtools_app/lib/src/screens/inspector_v2/layout_explorer/ui/utils.dart
  packages/devtools_app/lib/src/screens/memory/framework/memory_controller.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/controller/diff_pane_controller.dart
  packages/devtools_app/lib/src/screens/memory/panes/tracing/tracing_data.dart
Owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

minor fix for copy data
  packages/devtools_app/lib/src/shared/ui/common_widgets.dart
Owners: @flutter/devtools-reviewers

Address comments
  packages/devtools_app/lib/src/screens/memory/panes/chart/controller/.memory_tracker.dart.swn
  packages/devtools_app/lib/src/screens/network/network_service.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/widget_preview/constants.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/widget_preview/preview_server.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/widget_preview/widget_preview_viewer.dart
  packages/devtools_app/lib/test/test_infra/scenes/performance/default.dart
Owners: @bkonyi, @kenzieschmoll, @flutter/devtools-reviewers

Remove files
  packages/devtools_app/lib/src/standalone_ui/ide_shared/widget_preview/constants.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/widget_preview/preview_server.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/widget_preview/widget_preview_viewer.dart
  packages/devtools_app/lib/test/test_infra/scenes/performance/default.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

Update NEXT_RELEASE_NOTES.md
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Remove file
  packages/devtools_app/lib/src/screens/memory/panes/chart/controller/.memory_tracker.dart.swn
Owners: @bkonyi, @kenzieschmoll

feedback
  packages/devtools_app/lib/src/shared/console/widgets/evaluate.dart
  packages/devtools_app/lib/src/shared/ui/search.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

[Property Editor] Can use "tab" key to submit text field inputs (#8841)
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_inputs.dart
  packages/devtools_app/test/standalone_ui/ide_shared/property_editor_test.dart
Owners: @flutter/devtools-reviewers

Use previous HTTP profile timestamps instead of DateTime.now() when requesting HTTP profiles (#8860)
  packages/devtools_app/lib/src/screens/network/network_controller.dart
  packages/devtools_app/lib/src/screens/network/network_service.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @bkonyi, @kenzieschmoll, @flutter/devtools-reviewers

Inspector works for widget previews (#8808)
  packages/devtools_app/lib/src/shared/preferences/_inspector_preferences.dart
  packages/devtools_app/test/shared/preferences/preferences_controller_test.dart
Owners: @flutter/devtools-reviewers

Update TODO
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_controller.dart
Owners: @flutter/devtools-reviewers

Reformat NetworkRequestInspector._generateTabs to be way less indented. (#8871)
  packages/devtools_app/lib/src/screens/network/network_request_inspector.dart
Owners: @bkonyi, @kenzieschmoll

Update goldens
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_errors_1_initial_load.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_errors_2_error_selected.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_hideable_widget_selected.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_hideable_widget_selected_from_search.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_implementation_widgets_collapsed.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_implementation_widgets_expanded.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_implementation_widgets_hidden.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_initial_load.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_select_center.png
Owners: @flutter/devtools-reviewers

[Property Editor] Add analytics to the Property Editor (#8840)
  packages/devtools_app/lib/src/shared/analytics/constants/_property_editor_sidebar_constants.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_controller.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_inputs.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_panel.dart
Owners: @flutter/devtools-reviewers

[Inspector V2] Align tree connection lines to widget icons (#8842)
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_tree_controller.dart
  packages/devtools_app/lib/src/shared/console/eval/inspector_tree_v2.dart
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_errors_1_initial_load.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_errors_2_error_selected.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_hideable_widget_selected.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_hideable_widget_selected_from_search.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_implementation_widgets_collapsed.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_implementation_widgets_expanded.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_implementation_widgets_hidden.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_initial_load.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_select_center.png
Owners: @flutter/devtools-reviewers

Avoid a few non-null assertions in inspector (#8862)
  packages/devtools_app/lib/src/screens/inspector/inspector_data_models.dart
  packages/devtools_app/lib/src/screens/inspector/layout_explorer/flex/flex.dart
  packages/devtools_app/lib/src/screens/inspector/layout_explorer/flex/utils.dart
  packages/devtools_app/lib/src/screens/inspector/layout_explorer/ui/free_space.dart
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_data_models.dart
  packages/devtools_app/lib/src/screens/inspector_v2/layout_explorer/flex/flex.dart
  packages/devtools_app/lib/src/screens/inspector_v2/layout_explorer/flex/utils.dart
  packages/devtools_app/lib/src/screens/inspector_v2/layout_explorer/ui/free_space.dart
  packages/devtools_app/test/screens/inspector/layout_explorer/inspector_data_models_test.dart
  packages/devtools_app/test/screens/inspector_v2/layout_explorer/inspector_data_models_test.dart
Owners: @elliette, @flutter/devtools-reviewers

make ancestorIds an iterable, avoids n^2 allocations for sets
  packages/devtools_app/lib/src/screens/profiler/cpu_profile_model.dart
Owners: @kenzieschmoll, @bkonyi

feedback
  packages/devtools_app/lib/src/shared/ui/search.dart
Owners: @flutter/devtools-reviewers

update doc comment
  packages/devtools_app/lib/src/screens/profiler/cpu_profile_model.dart
Owners: @kenzieschmoll, @bkonyi

remove old ignore
  packages/devtools_app/lib/src/screens/profiler/cpu_profile_model.dart
Owners: @kenzieschmoll, @bkonyi

Widget name and documentation added
  flutter-candidate.txt
  packages/devtools_app/lib/src/shared/editor/api_classes.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_controller.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_inputs.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_view.dart
Owners: @flutter/devtools-reviewers

Modified offline checks, removed function from util, replaced dynamic with Object?
  packages/devtools_app/lib/src/screens/network/network_controller.dart
  packages/devtools_app/lib/src/shared/http/http_request_data.dart
  packages/devtools_app/lib/src/shared/ui/common_widgets.dart
  packages/devtools_app/lib/src/shared/utils/utils.dart
Owners: @bkonyi, @kenzieschmoll, @flutter/devtools-reviewers

Enable all bots on Windows (#8864)
  .github/workflows/build.yaml
  .github/workflows/flutter-prep.yaml
  packages/devtools_app/integration_test/test_infra/run/_test_app_driver.dart
  packages/devtools_app/test/screens/memory/diff/controller/memory_footprint_test.dart
  packages/devtools_shared/lib/src/test/integration_test_runner.dart
  tool/ci/package_tests.sh
  tool/ci/setup.sh
Owners: @flutter/devtools-reviewers, @bkonyi, @kenzieschmoll

make ancestorIds an iterable, avoids n^2 allocations for sets (#8878)
  packages/devtools_app/lib/src/screens/profiler/cpu_profile_model.dart
Owners: @kenzieschmoll, @bkonyi

comment added back
  packages/devtools_app/lib/src/shared/ui/common_widgets.dart
Owners: @flutter/devtools-reviewers

CODEOWNERS:

*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @elliette

# Network Files
network/            @bkonyi @kenzieschmoll

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll @bkonyi

# Memory files
memory/             @bkonyi @kenzieschmoll

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @kenzieschmoll

# DevTools extensions and related files
src/extensions/
packages/devtools_extensions/    @kenzieschmoll
packages/devtools_app_shared/    @kenzieschmoll

# package:devtools_shared code, which is used across DevTools and the Dart SDK
packages/devtools_shared/        @kenzieschmoll @bkonyi

# Version bump files.
# No owners to prevent version update spam
packages/devtools_app/lib/devtools.dart
packages/devtools_app/pubspec.yaml
packages/devtools_test/pubspec.yaml
