Repository flutter/devtools, changes with the owners that CODEOWNERS names for each.
All owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

CODEOWNERS:

*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @elliette

# Network Files
network/            @bkonyi @kenzieschmoll

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll @bkonyi

# Memory files
memory/             @bkonyi @kenzieschmoll

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @kenzieschmoll

# DevTools extensions and related files
src/extensions/
packages/devtools_extensions/    @kenzieschmoll
packages/devtools_app_shared/    @kenzieschmoll

# package:devtools_shared code, which is used across DevTools and the Dart SDK
packages/devtools_shared/        @kenzieschmoll @bkonyi

# Version bump files.
# No owners to prevent version update spam
packages/devtools_app/lib/devtools.dart
packages/devtools_app/pubspec.yaml
packages/devtools_test/pubspec.yaml

Format
  packages/devtools_app/lib/src/screens/inspector_shared/inspector_screen.dart
Owners: @flutter/devtools-reviewers

Update wordings
  packages/devtools_app/lib/src/framework/settings_dialog.dart
  packages/devtools_app/lib/src/screens/inspector_shared/inspector_controls.dart
Owners: @flutter/devtools-reviewers

[Inspector V2] Prevent inspector tree scroll from bouncing (#8367)
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_tree_controller.dart
Owners: @flutter/devtools-reviewers

resolve sync conflicts
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_services.dart
  packages/devtools_app/test/deep_link_vlidation/deep_links_screen_test.dart
  packages/devtools_app/test/test_infra/test_data/deep_link/fake_responses.dart
Owners: @flutter/devtools-reviewers

Update goldens
  packages/devtools_app/test/test_infra/goldens/integration_animated_physical_model_selected.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_errors_1_initial_load.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_errors_2_error_selected.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_initial_load.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_richtext_selected.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_scaffold_selected.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_select_center.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_select_center_details_tree.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_errors_1_initial_load.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_errors_2_error_selected.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_hideable_widget_selected.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_hideable_widget_selected_from_search.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_implementation_widgets_collapsed.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_implementation_widgets_expanded.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_implementation_widgets_hidden.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_initial_load.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_revert_to_legacy.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_select_center.png
Owners: @flutter/devtools-reviewers

DevtoolsToggleButton and ServiceExtensionButton have same text color
  packages/devtools_app_shared/lib/src/ui/buttons.dart
Owners: @kenzieschmoll

Update goldens
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_errors_1_initial_load.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_errors_2_error_selected.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_hideable_widget_selected.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_hideable_widget_selected_from_search.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_implementation_widgets_collapsed.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_implementation_widgets_expanded.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_implementation_widgets_hidden.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_initial_load.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_select_center.png
  packages/devtools_app/test/test_infra/goldens/memory/load_offline_data_profile_tab.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_empty1.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_empty2.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_selected_class.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_custom_diff.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_custom_single.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_except_diff.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_except_single.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_only_diff.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_only_single.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_scene_diff.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_scene_single.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_showAll_diff.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_showAll_single.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_three_snapshots1.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_three_snapshots2.png
Owners: @flutter/devtools-reviewers, @bkonyi, @kenzieschmoll

Upgrade the `package:mime` dependency to ^2.0.0
  packages/devtools_app/pubspec.yaml
Owners: none

Update release notes
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/release_notes/images/inspector_v2.png
  packages/devtools_app/release_notes/images/inspector_v2_setting.png
  packages/devtools_app/release_notes/images/new_inspector.png
Owners: @flutter/devtools-reviewers

Update how to determine the color
  packages/devtools_app_shared/lib/src/ui/buttons.dart
  packages/devtools_app_shared/lib/src/ui/common.dart
Owners: @kenzieschmoll

mime changes
  packages/devtools_app/lib/src/shared/http/http_request_data.dart
Owners: @flutter/devtools-reviewers

Scroll to selected node after switching inspectors
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_tree_controller.dart
Owners: @flutter/devtools-reviewers

Upgrade the `package:mime` dependency to ^2.0.0 (#8378)
  packages/devtools_app/lib/src/shared/http/http_request_data.dart
  packages/devtools_app/pubspec.yaml
Owners: @flutter/devtools-reviewers

fix test
  flutter-candidate.txt
  packages/devtools_app/benchmark/devtools_benchmarks_test.dart
  packages/devtools_app/benchmark/test_infra/automators/devtools_automator.dart
  packages/devtools_app/benchmark/test_infra/common.dart
  packages/devtools_app/benchmark/test_infra/devtools_recorder.dart
Owners: @flutter/devtools-reviewers

pubspec.yaml
  packages/devtools_app/pubspec.yaml
Owners: none

year
  packages/devtools_app/benchmark/test_infra/client/client_js.dart
Owners: @flutter/devtools-reviewers

Don't change devtools_shared widgets
  packages/devtools_app/lib/src/screens/inspector_shared/inspector_controls.dart
  packages/devtools_app/lib/src/service/service_extension_widgets.dart
  packages/devtools_app_shared/lib/src/ui/buttons.dart
  packages/devtools_app_shared/lib/src/ui/common.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

Revert "Don't change devtools_shared widgets"
  packages/devtools_app/lib/src/screens/inspector_shared/inspector_controls.dart
  packages/devtools_app/lib/src/service/service_extension_widgets.dart
  packages/devtools_app_shared/lib/src/ui/buttons.dart
  packages/devtools_app_shared/lib/src/ui/common.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

Only change DevToolsToggleButton
  packages/devtools_app_shared/lib/src/ui/buttons.dart
  packages/devtools_app_shared/lib/src/ui/common.dart
Owners: @kenzieschmoll

Try to map to Dart stack traces
  packages/devtools_app/lib/src/framework/app_error_handling.dart
  packages/devtools_app/pubspec.yaml
Owners: @flutter/devtools-reviewers

Create webpack.yml
  .github/workflows/webpack.yml
Owners: @flutter/devtools-reviewers

Create :address
  GET /api/v1/validate-address/:address
Owners: @flutter/devtools-reviewers

Create npx web paketi
  npx web paketi
Owners: @flutter/devtools-reviewers

Find .dart_tool/package_config.json by looking in parent directories (#8347)
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app_shared/lib/src/service/service_manager.dart
  packages/devtools_shared/lib/src/extensions/extension_manager.dart
  packages/devtools_shared/pubspec.yaml
  packages/devtools_shared/test/helpers/extension_test_manager.dart
  packages/devtools_shared/test/helpers/extension_test_manager_test.dart
  packages/devtools_shared/test/server/devtools_extensions_api_test.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll, @bkonyi

Remove the legacy Provider screen now that this is shipped as a DevTools extension (#8364)
  packages/devtools_app/lib/initialization.dart
  packages/devtools_app/lib/src/app.dart
  packages/devtools_app/lib/src/framework/initializer.dart
  packages/devtools_app/lib/src/screens/app_size/app_size_screen.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_link_list_view.dart
  packages/devtools_app/lib/src/screens/inspector/layout_explorer/flex/flex.dart
  packages/devtools_app/lib/src/screens/inspector_v2/layout_explorer/flex/flex.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/widgets/class_details/class_details.dart
  packages/devtools_app/lib/src/screens/performance/tabbed_performance_view.dart
  packages/devtools_app/lib/src/screens/profiler/profiler_status.dart
  packages/devtools_app/lib/src/screens/provider/instance_viewer/eval.dart
  packages/devtools_app/lib/src/screens/provider/instance_viewer/fake_freezed_annotation.dart
  packages/devtools_app/lib/src/screens/provider/instance_viewer/instance_details.dart
  packages/devtools_app/lib/src/screens/provider/instance_viewer/instance_details.freezed.dart
  packages/devtools_app/lib/src/screens/provider/instance_viewer/instance_providers.dart
  packages/devtools_app/lib/src/screens/provider/instance_viewer/instance_viewer.dart
  packages/devtools_app/lib/src/screens/provider/instance_viewer/result.dart
  packages/devtools_app/lib/src/screens/provider/instance_viewer/result.freezed.dart
  packages/devtools_app/lib/src/screens/provider/provider_list.dart
  packages/devtools_app/lib/src/screens/provider/provider_nodes.dart
  packages/devtools_app/lib/src/screens/provider/provider_screen.dart
  packages/devtools_app/lib/src/screens/provider/riverpod_error_logger_observer.dart
  packages/devtools_app/lib/src/screens/provider/sliver_iterable_child_delegate.dart
  packages/devtools_app/lib/src/shared/common_widgets.dart
  packages/devtools_app/lib/src/shared/file_import.dart
  packages/devtools_app/lib/src/shared/offline_screen.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/test/shared/instance_viewer_test.dart
  packages/devtools_app/test/test_infra/goldens/provider_screen/list_error_banner.png
  packages/devtools_app/test/test_infra/goldens/provider_screen/no_selected_provider.png
  packages/devtools_app/test/test_infra/goldens/provider_screen/selected_provider.png
  packages/devtools_app/test/test_infra/goldens/provider_screen/selected_provider_error_banner.png
  packages/devtools_app/test/test_infra/goldens/riverpod_screen/list_error_banner.png
  packages/devtools_app/test/test_infra/goldens/riverpod_screen/no_selected_provider.png
  packages/devtools_app/test/test_infra/goldens/riverpod_screen/selected_provider.png
  packages/devtools_app/test/test_infra/goldens/riverpod_screen/selected_provider_error_banner.png
Owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

Fix timeline processing for thread name change.
  flutter-candidate.txt
  packages/devtools_app/lib/src/screens/performance/panes/timeline_events/timeline_events_controller.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

flutter version
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

Fix timeline processing for thread name change. (#8383)
  flutter-candidate.txt
  packages/devtools_app/lib/src/screens/performance/panes/timeline_events/timeline_events_controller.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

Scroll to selected node after switching inspectors (#8379)
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_tree_controller.dart
Owners: @flutter/devtools-reviewers

re-use
  packages/devtools_app/benchmark/devtools_benchmarks_test.dart
  packages/devtools_app/benchmark/scripts/run_benchmarks.dart
  packages/devtools_app/benchmark/test_infra/common.dart
Owners: @flutter/devtools-reviewers

update typos in AASA and apply small fixes
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_controller.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/validation_details_view.dart
Owners: @flutter/devtools-reviewers

[deep link] Add sub checks for ios domain error - format error (#8309)
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_controller.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_model.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_services.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/validation_details_view.dart
  packages/devtools_app/test/deep_link_vlidation/deep_links_screen_test.dart
  packages/devtools_app/test/test_infra/test_data/deep_link/fake_responses.dart
Owners: @flutter/devtools-reviewers

Stack trace mapping works for dart2js and dart2wasm
  flutter-candidate.txt
  packages/devtools_app/lib/src/framework/app_error_handling.dart
  packages/devtools_app/pubspec.yaml
  tool/build_release.sh
  tool/lib/commands/build.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

Update goldens
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_errors_1_initial_load.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_errors_2_error_selected.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_hideable_widget_selected.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_hideable_widget_selected_from_search.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_implementation_widgets_collapsed.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_implementation_widgets_expanded.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_implementation_widgets_hidden.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_initial_load.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_select_center.png
  packages/devtools_app/test/test_infra/goldens/memory/load_offline_data_profile_tab.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_empty1.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_empty2.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_selected_class.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_custom_diff.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_custom_single.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_except_diff.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_except_single.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_only_diff.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_only_single.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_scene_diff.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_scene_single.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_showAll_diff.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_showAll_single.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_three_snapshots1.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_three_snapshots2.png
Owners: @flutter/devtools-reviewers, @bkonyi, @kenzieschmoll

Update release notes
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Respond to PR comments
  packages/devtools_app/lib/src/framework/app_error_handling.dart
Owners: @flutter/devtools-reviewers

typo
  packages/devtools_app/lib/src/framework/app_error_handling.dart
Owners: @flutter/devtools-reviewers

Another typo
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

used constants, added util for header size calc, added params
  packages/devtools_app/lib/src/screens/network/har_data_entry.dart
  packages/devtools_app/lib/src/screens/network/network_controller.dart
  packages/devtools_app/lib/src/screens/network/utils/http_utils.dart
  packages/devtools_app/lib/src/shared/http/http_request_data.dart
Owners: @bkonyi, @kenzieschmoll, @flutter/devtools-reviewers

Show Dart file locations in the stacktraces for errors (#8385)
  flutter-candidate.txt
  packages/devtools_app/lib/src/framework/app_error_handling.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  tool/build_release.sh
  tool/lib/commands/build.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll
