Repository flutter/devtools, changes with the owners that CODEOWNERS names for each.
All owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

CODEOWNERS:

*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @elliette

# Network Files
network/            @bkonyi @kenzieschmoll

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll @bkonyi

# Memory files
memory/             @bkonyi @kenzieschmoll

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @kenzieschmoll

# DevTools extensions and related files
src/extensions/
packages/devtools_extensions/    @kenzieschmoll
packages/devtools_app_shared/    @kenzieschmoll

# package:devtools_shared code, which is used across DevTools and the Dart SDK
packages/devtools_shared/        @kenzieschmoll @bkonyi

# Version bump files.
# No owners to prevent version update spam
packages/devtools_app/lib/devtools.dart
packages/devtools_app/pubspec.yaml
packages/devtools_test/pubspec.yaml

Don't run on windows
  .github/workflows/build.yaml
Owners: @flutter/devtools-reviewers

Add no-sandbox
  flutter-candidate.txt
  packages/devtools_shared/lib/src/test/integration_test_runner.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll, @bkonyi

Remove old flags
  packages/devtools_shared/lib/src/test/integration_test_runner.dart
Owners: @kenzieschmoll, @bkonyi

Change flutter version
  flutter-candidate.txt
  packages/devtools_shared/lib/src/test/integration_test_runner.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll, @bkonyi

Update flags and Flutter version
  flutter-candidate.txt
  packages/devtools_shared/lib/src/test/integration_test_runner.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll, @bkonyi

Delete unused test utilities file `chrome.dart` (#9372)
  packages/devtools_shared/lib/devtools_test_utils.dart
  packages/devtools_shared/lib/src/test/chrome.dart
Owners: @kenzieschmoll, @bkonyi

Fix one of the test failures
  packages/devtools_test/lib/src/integration_test/integration_test_utils.dart
Owners: @flutter/devtools-reviewers

Disable windows tests
  .github/workflows/build.yaml
  packages/devtools_app/integration_test/test_infra/run/_utils.dart
Owners: @flutter/devtools-reviewers

Skip the DevTools extension test
  packages/devtools_app/integration_test/test/live_connection/devtools_extensions_test.dart
Owners: @flutter/devtools-reviewers

Updating from 2.50.0-dev.0 to 2.50.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.50.0-dev.0 to 2.50.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.50.0-dev.0 to 2.50.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Update Flutter candidate to f1abbe2bf10f309492da1147f7b3daa1ed5f490b
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

Modify flags as workaround for Chromedriver 138 regression
  packages/devtools_shared/lib/src/test/integration_test_runner.dart
Owners: @kenzieschmoll, @bkonyi

Disable integration tests on windows
  .github/workflows/build.yaml
Owners: @flutter/devtools-reviewers

Disable extension integration test
  packages/devtools_app/integration_test/test/live_connection/devtools_extensions_test.dart
Owners: @flutter/devtools-reviewers

Remove failing expect in test helper
  packages/devtools_test/lib/src/integration_test/integration_test_utils.dart
Owners: @flutter/devtools-reviewers

Skip devtools extension test setup
  packages/devtools_app/integration_test/test/live_connection/devtools_extensions_test.dart
Owners: @flutter/devtools-reviewers

Updating from 2.50.0-dev.0 to 2.50.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

fix local markdown file links
  CONTRIBUTING.md
Owners: @flutter/devtools-reviewers

fix local markdown file links (#9384)
  CONTRIBUTING.md
Owners: @flutter/devtools-reviewers

Downgrade flutter candidate
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

Add some print statements to debug failing test on windows
  flutter-candidate.txt
  packages/devtools_shared/test/helpers/helpers.dart
  packages/devtools_shared/test/server/general_api_test.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll, @bkonyi

Remove log messages, decrease delay
  packages/devtools_shared/test/helpers/helpers.dart
  packages/devtools_shared/test/server/general_api_test.dart
Owners: @kenzieschmoll, @bkonyi

Include stacktrace when dt command fails
  tool/bin/dt.dart
Owners: @kenzieschmoll

Include stacktrace when dt command fails (#9385)
  tool/bin/dt.dart
Owners: @kenzieschmoll

Updating from 2.50.0-dev.0 to 2.50.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Attempt to capture core dumps
  tool/ci/dump.entitlements
  tool/ci/dump_threads.lldb
  tool/ci/print_dart_path.dart
  tool/ci/setup.sh
Owners: @kenzieschmoll

Fix errors in core dump capturing
  tool/ci/setup.sh
Owners: @kenzieschmoll

Do not fast fail in bots.sh either
  tool/ci/bots.sh
Owners: @kenzieschmoll

Fix path to dartvm?
  tool/ci/setup.sh
Owners: @kenzieschmoll

Make change to retrigger CI
  tool/ci/print_dart_path.dart
Owners: @kenzieschmoll

Small change to retrigger CI
  tool/ci/print_dart_path.dart
Owners: @kenzieschmoll

One more
  tool/ci/print_dart_path.dart
Owners: @kenzieschmoll

and one more
  tool/ci/print_dart_path.dart
Owners: @kenzieschmoll

Change argument order
  tool/ci/setup.sh
Owners: @kenzieschmoll

Add more logging
  tool/ci/setup.sh
Owners: @kenzieschmoll

Should not have added extra print statement :(
  tool/ci/print_dart_path.dart
Owners: @kenzieschmoll

Try tailing as well
  tool/ci/setup.sh
Owners: @kenzieschmoll

Update comment to retrigger CI
  tool/ci/setup.sh
Owners: @kenzieschmoll
