Repository flutter/devtools, changes with the owners that CODEOWNERS names for each.
All owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

CODEOWNERS:

*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @elliette

# Network Files
network/            @bkonyi @kenzieschmoll

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll @bkonyi

# Memory files
memory/             @bkonyi @kenzieschmoll

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @kenzieschmoll

# DevTools extensions and related files
src/extensions/
packages/devtools_extensions/    @kenzieschmoll
packages/devtools_app_shared/    @kenzieschmoll

# package:devtools_shared code, which is used across DevTools and the Dart SDK
packages/devtools_shared/        @kenzieschmoll @bkonyi

# Version bump files.
# No owners to prevent version update spam
packages/devtools_app/lib/devtools.dart
packages/devtools_app/pubspec.yaml
packages/devtools_test/pubspec.yaml

Update _analytics_web.dart
  packages/devtools_app/lib/src/shared/analytics/_analytics_web.dart
Owners: @flutter/devtools-reviewers

Update metrics.dart
  packages/devtools_app/lib/src/shared/analytics/metrics.dart
Owners: @flutter/devtools-reviewers

Update pubspec.yaml
  packages/devtools_app/pubspec.yaml
Owners: none

Add android app id and ios bundle id in GA metrics (#8177)
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_controller.dart
  packages/devtools_app/lib/src/shared/analytics/_analytics_web.dart
  packages/devtools_app/lib/src/shared/analytics/constants/_deep_links_constants.dart
  packages/devtools_app/lib/src/shared/analytics/metrics.dart
  packages/devtools_app/pubspec.yaml
Owners: @flutter/devtools-reviewers

Remove scorecard analysis action (#8393)
  .github/workflows/scorecards-analysis.yml
Owners: @flutter/devtools-reviewers

Flip flag deepLinkIosCheck value to `true`
  packages/devtools_app/lib/src/shared/feature_flags.dart
Owners: @flutter/devtools-reviewers

Update NEXT_RELEASE_NOTES.md
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Update feature_flags_test.dart
  packages/devtools_app/test/shared/primitives/feature_flags_test.dart
Owners: @flutter/devtools-reviewers

update screenshot
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/release_notes/images/deep_link_ios.png
Owners: @flutter/devtools-reviewers

formatting
  packages/devtools_app/benchmark/devtools_benchmarks_test.dart
Owners: @flutter/devtools-reviewers

formatting
  packages/devtools_app/benchmark/devtools_benchmarks_test.dart
Owners: @flutter/devtools-reviewers

try using setup-chrome action
  .github/workflows/build.yaml
Owners: @flutter/devtools-reviewers

undo yaml changes
  .github/workflows/build.yaml
Owners: @flutter/devtools-reviewers

Inspector controls are responsive
  packages/devtools_app/lib/src/screens/inspector_shared/inspector_controls.dart
  packages/devtools_app/lib/src/service/service_extension_widgets.dart
  packages/devtools_app/lib/src/service/service_extensions.dart
  packages/devtools_app/lib/src/shared/common_widgets.dart
Owners: @flutter/devtools-reviewers

Legacy also responsive
  packages/devtools_app/lib/src/screens/inspector_shared/inspector_controls.dart
Owners: @flutter/devtools-reviewers

Update NEXT_RELEASE_NOTES.md
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

[deep link] Flip flag deepLinkIosCheck value to `true` (#8394)
  packages/devtools_app/lib/src/shared/feature_flags.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/release_notes/images/deep_link_ios.png
  packages/devtools_app/test/shared/primitives/feature_flags_test.dart
Owners: @flutter/devtools-reviewers

Respond to PR comments
  packages/devtools_app/lib/src/screens/inspector_shared/inspector_controls.dart
Owners: @flutter/devtools-reviewers

Fix delta percentage calculation for benchmark script.
  packages/devtools_app/benchmark/scripts/run_benchmarks.dart
  packages/devtools_app/benchmark/scripts/utils.dart
Owners: @flutter/devtools-reviewers

Make collapsible buttons in inspector controls responsive to screen size (#8396)
  packages/devtools_app/lib/src/screens/inspector_shared/inspector_controls.dart
  packages/devtools_app/lib/src/service/service_extension_widgets.dart
  packages/devtools_app/lib/src/service/service_extensions.dart
  packages/devtools_app/lib/src/shared/common_widgets.dart
Owners: @flutter/devtools-reviewers

formatting
  packages/devtools_app/benchmark/scripts/utils.dart
Owners: @flutter/devtools-reviewers

setup changes implemented
  packages/devtools_app/lib/src/screens/network/network_controller.dart
  packages/devtools_app/lib/src/screens/network/network_screen.dart
  packages/devtools_app/lib/src/screens/network/offline_network_data.dart
Owners: @bkonyi, @kenzieschmoll

Fix delta percentage calculation for benchmark script. (#8397)
  packages/devtools_app/benchmark/scripts/run_benchmarks.dart
  packages/devtools_app/benchmark/scripts/utils.dart
Owners: @flutter/devtools-reviewers

Prepare for release 2.40.0
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

bump flutter
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

Update devtools_tool wasm behavior to match the build release script
  tool/lib/commands/shared.dart
Owners: @kenzieschmoll

put class name in square brackets
  packages/devtools_app/lib/src/screens/network/offline_network_data.dart
Owners: @bkonyi, @kenzieschmoll

added isNullOrEmpty check
  packages/devtools_app/lib/src/screens/network/network_controller.dart
  packages/devtools_app/lib/src/screens/network/offline_network_data.dart
Owners: @bkonyi, @kenzieschmoll

Prepare for release 2.40.0 (#8398)
  flutter-candidate.txt
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
  tool/lib/commands/shared.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

Move analytics factories to constructors
  packages/devtools_app/lib/src/shared/analytics/_analytics_web.dart
Owners: @flutter/devtools-reviewers

Move analytics factories to constructors (#8399)
  packages/devtools_app/lib/src/shared/analytics/_analytics_web.dart
Owners: @flutter/devtools-reviewers

added exit offline cta, hiding other controls, removed json string
  packages/devtools_app/lib/src/screens/network/network_screen.dart
  packages/devtools_app/lib/src/screens/network/offline_network_data.dart
Owners: @bkonyi, @kenzieschmoll

fix for request selection
  packages/devtools_app/lib/src/screens/network/network_controller.dart
  packages/devtools_app/lib/src/screens/network/offline_network_data.dart
Owners: @bkonyi, @kenzieschmoll

Fix assert firing on the Desktop build
  packages/devtools_app/lib/src/shared/preferences/preferences.dart
  packages/devtools_test/.gitignore
Owners: @flutter/devtools-reviewers

Replace `devtools_tool` exe with shorthand `dt`
  .github/workflows/build.yaml
  .github/workflows/daily-dev-bump.yaml
  BETA_TESTING.md
  CONTRIBUTING.md
  TESTING.md
  packages/devtools_app/lib/src/shared/development_helpers.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/release_notes/README.md
  packages/devtools_test/lib/src/mocks/generated.dart
  tool/RELEASE_INSTRUCTIONS.md
  tool/bin/devtools_tool
  tool/bin/devtools_tool.bat
  tool/bin/dt
  tool/bin/dt.bat
  tool/bin/dt.dart
  tool/build_release.sh
  tool/ci/bots.sh
  tool/ci/setup.sh
  tool/flutter_customer_tests/analyze.sh
  tool/flutter_customer_tests/setup.sh
  tool/lib/commands/build.dart
  tool/lib/commands/release_helper.dart
  tool/lib/commands/serve.dart
  tool/lib/commands/shared.dart
  tool/lib/commands/update_dart_sdk_deps.dart
  tool/lib/commands/update_flutter_sdk.dart
  tool/lib/devtools_command_runner.dart
  tool/lib/model.dart
  tool/lib/utils.dart
  tool/pubspec.yaml
Owners: @flutter/devtools-reviewers, @kenzieschmoll

add warning
  tool/bin/devtools_tool
  tool/bin/dt.bat
Owners: @kenzieschmoll

Preserve selected tab
  packages/devtools_app/lib/src/screens/inspector_v2/widget_properties/properties_view.dart
Owners: @flutter/devtools-reviewers

Clean up
  packages/devtools_app/lib/src/screens/inspector_v2/widget_properties/properties_view.dart
Owners: @flutter/devtools-reviewers

Fix assert firing on the Desktop build (#8402)
  packages/devtools_app/lib/src/shared/preferences/preferences.dart
  packages/devtools_test/.gitignore
Owners: @flutter/devtools-reviewers

enable flag
  packages/devtools_app/lib/src/shared/feature_flags.dart
Owners: @flutter/devtools-reviewers
