Repository flutter/devtools, changes with the owners that CODEOWNERS names for each.
All owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

Change to different Flutter version
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

Updating from 2.50.0-dev.0 to 2.50.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.50.0-dev.0 to 2.50.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Upgrade to latest Flutter candidate
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

Formatting
  packages/devtools_shared/test/server/general_api_test.dart
Owners: @kenzieschmoll, @bkonyi

Get DevTools tests passing with latest Flutter candidate (#9382)
  .github/workflows/build.yaml
  flutter-candidate.txt
  packages/devtools_app/integration_test/test/live_connection/devtools_extensions_test.dart
  packages/devtools_shared/lib/src/test/integration_test_runner.dart
  packages/devtools_shared/test/server/general_api_test.dart
  packages/devtools_test/lib/src/integration_test/integration_test_utils.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll, @bkonyi

Print benchmark results instead
  .github/workflows/build.yaml
Owners: @flutter/devtools-reviewers

Updating from 2.50.0-dev.0 to 2.50.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.50.0-dev.0 to 2.50.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.50.0-dev.0 to 2.50.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Disable widget tests in inspector_service_test
  packages/devtools_app/test/shared/diagnostics/inspector_service_test.dart
Owners: @flutter/devtools-reviewers

Update flutter candidate
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

Format
  packages/devtools_app/test/shared/diagnostics/inspector_service_test.dart
Owners: @flutter/devtools-reviewers

Temporarily disable widget tests in `inspector_service_test` (#9396)
  flutter-candidate.txt
  packages/devtools_app/test/shared/diagnostics/inspector_service_test.dart
Owners: @flutter/devtools-reviewers

Updating from 2.50.0-dev.0 to 2.50.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Reenable tests on windows
  .github/workflows/build.yaml
Owners: @flutter/devtools-reviewers

Reenable inspector_service tests
  packages/devtools_app/test/shared/diagnostics/inspector_service_test.dart
  packages/devtools_app/test/test_infra/goldens/inspector_service_node_no_summary.txt
  packages/devtools_app/test/test_infra/goldens/inspector_service_node_summary.txt
  packages/devtools_app/test/test_infra/goldens/inspector_service_tree_no_summary.txt
  packages/devtools_app/test/test_infra/goldens/inspector_service_tree_summary.txt
Owners: @flutter/devtools-reviewers

Remove unnecessary import
  packages/devtools_app/test/shared/diagnostics/inspector_service_test.dart
Owners: @flutter/devtools-reviewers

Make the test explicitly fail
  packages/devtools_app/benchmark/devtools_benchmarks_test.dart
Owners: @flutter/devtools-reviewers

Change where we set fast-fail option
  tool/ci/benchmark_performance.sh
Owners: @kenzieschmoll

Updating from 2.50.0-dev.0 to 2.50.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Add compiler=js as an escape hatch for wasm build
  packages/devtools_app/lib/src/shared/preferences/preferences.dart
  packages/devtools_app/lib/src/shared/primitives/query_parameters.dart
  packages/devtools_app/web/flutter_bootstrap.js
Owners: @flutter/devtools-reviewers

Updating from 2.50.0-dev.0 to 2.50.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Clean up
  packages/devtools_app/lib/src/shared/preferences/preferences.dart
Owners: @flutter/devtools-reviewers

Re-enable `inspector_service` test cases (#9402)
  packages/devtools_app/test/shared/diagnostics/inspector_service_test.dart
  packages/devtools_app/test/test_infra/goldens/inspector_service_node_no_summary.txt
  packages/devtools_app/test/test_infra/goldens/inspector_service_node_summary.txt
  packages/devtools_app/test/test_infra/goldens/inspector_service_tree_no_summary.txt
  packages/devtools_app/test/test_infra/goldens/inspector_service_tree_summary.txt
Owners: @flutter/devtools-reviewers

Fix wasm benchmark tests
  packages/devtools_app/benchmark/test_infra/common.dart
Owners: @flutter/devtools-reviewers

Add `compiler=js` escape hatch to revert to dart2js compilation (#9406)
  packages/devtools_app/benchmark/test_infra/common.dart
  packages/devtools_app/lib/src/shared/preferences/preferences.dart
  packages/devtools_app/lib/src/shared/primitives/query_parameters.dart
  packages/devtools_app/web/flutter_bootstrap.js
Owners: @flutter/devtools-reviewers

Updating from 2.50.0-dev.0 to 2.50.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Prepare for release 2.50.0
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

flutter-candidate.txt
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

Prepare for release 2.50.0 (#9407)
  flutter-candidate.txt
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: @flutter/devtools-reviewers

Revert "Delete unused test utilities file `chrome.dart` (#9372)"
  packages/devtools_shared/lib/devtools_test_utils.dart
  packages/devtools_shared/lib/src/test/chrome.dart
Owners: @kenzieschmoll, @bkonyi

Add comment at top of file
  packages/devtools_shared/lib/src/test/chrome.dart
Owners: @kenzieschmoll, @bkonyi

Revert PR #9372: Un-delete `packages/devtools_shared/lib/src/test/chrome.dart` (#9409)
  packages/devtools_shared/lib/devtools_test_utils.dart
  packages/devtools_shared/lib/src/test/chrome.dart
Owners: @kenzieschmoll, @bkonyi

handle show null data in JsonViewer
  packages/devtools_app/lib/src/shared/ui/common_widgets.dart
Owners: @flutter/devtools-reviewers

consistent enabled between network filter and search text field
  packages/devtools_app/lib/src/screens/network/network_screen.dart
  packages/devtools_app/lib/src/shared/ui/filter.dart
Owners: @bkonyi, @kenzieschmoll, @flutter/devtools-reviewers

mime fixes
  packages/devtools_app/lib/src/shared/http/http_request_data.dart
  packages/devtools_app/lib/src/shared/primitives/utils.dart
Owners: @flutter/devtools-reviewers

Prevent web apps from freezing after hot-restarts triggered from DevTools (#9125)
  packages/devtools_app/lib/src/screens/debugger/breakpoint_manager.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @elliette, @flutter/devtools-reviewers

Prepare cherry-pick release - DevTools 2.45.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Re-enable `discarded_futures` lint (#9117)
  analysis_options.yaml
  packages/devtools_app/lib/src/framework/home_screen.dart
  packages/devtools_app/lib/src/screens/debugger/debugger_controller.dart
  packages/devtools_app/lib/src/screens/inspector/inspector_controller.dart
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_controller.dart
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_screen_body.dart
  packages/devtools_app/lib/src/screens/performance/panes/controls/enhance_tracing/enhance_tracing.dart
  packages/devtools_app/lib/src/service/vm_service_wrapper.dart
  packages/devtools_app/lib/src/shared/managers/survey.dart
  packages/devtools_app/lib/src/shared/preferences/_extension_preferences.dart
  packages/devtools_app/lib/src/shared/preferences/_inspector_preferences.dart
  packages/devtools_app/lib/src/shared/preferences/_logging_preferences.dart
  packages/devtools_app/lib/src/shared/preferences/_memory_preferences.dart
  packages/devtools_app/lib/src/shared/preferences/_performance_preferences.dart
  packages/devtools_app/lib/src/shared/preferences/preferences.dart
  packages/devtools_app/lib/src/shared/utils/utils.dart
  packages/devtools_app/test/screens/vm_developer/object_inspector/vm_developer_common_widgets_test.dart
  packages/devtools_app/test/test_infra/fixtures/networking_app/bin/main.dart
  packages/devtools_app_shared/test/ui/split_pane_test.dart
  packages/devtools_shared/lib/src/service/service.dart
Owners: @flutter/devtools-reviewers, @elliette, @kenzieschmoll, @bkonyi

CODEOWNERS:

*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @elliette

# Network Files
network/            @bkonyi @kenzieschmoll

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll @bkonyi

# Memory files
memory/             @bkonyi @kenzieschmoll

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @kenzieschmoll

# DevTools extensions and related files
src/extensions/
packages/devtools_extensions/    @kenzieschmoll
packages/devtools_app_shared/    @kenzieschmoll

# package:devtools_shared code, which is used across DevTools and the Dart SDK
packages/devtools_shared/        @kenzieschmoll @bkonyi

# Version bump files.
# No owners to prevent version update spam
packages/devtools_app/lib/devtools.dart
packages/devtools_app/pubspec.yaml
packages/devtools_test/pubspec.yaml
