Repository flutter/devtools, changes with the owners that CODEOWNERS names for each.
All owners: @flutter/devtools-reviewers, @CoderDake, @kenzieschmoll, @bkonyi, @polina-c, @elliette

Update deep_links_controller.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_controller.dart
Owners: @flutter/devtools-reviewers

flutter fix
  packages/devtools_app_shared/lib/src/ui/theme/theme.dart
Owners: @flutter/devtools-reviewers

go blind on these since they aren't picked up locally
  packages/devtools_app/lib/src/framework/app_bar.dart
  packages/devtools_app/test/test_infra/scenes/standalone_ui/vs_code_mock_editor.dart
Owners: @flutter/devtools-reviewers

update tests
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_controller.dart
  packages/devtools_app/test/deep_link_vlidation/deep_links_screen_test.dart
Owners: @flutter/devtools-reviewers

-
  packages/devtools_app/lib/src/screens/memory/panes/diff/widgets/class_details/paths.dart
  packages/devtools_app/test/memory/diff/widgets/diff_pane_test.dart
  packages/devtools_app/test/test_infra/scenes/memory/default.dart
Owners: @bkonyi, @polina-c

-
  packages/devtools_app/lib/src/shared/memory/retainers.dart
  packages/devtools_app/lib/src/shared/memory/retaining_path.dart
Owners: @bkonyi, @polina-c

kenzie reccs
  packages/devtools_app_shared/CHANGELOG.md
  packages/devtools_extensions/CHANGELOG.md
Owners: @flutter/devtools-reviewers, @kenzieschmoll

-
  packages/devtools_app/test/memory/diff/controller/heap_diff_test.dart
  packages/devtools_app/test/memory/shared/heap/heap_analyzer_test.dart
  packages/devtools_app/test/memory/shared/heap/heap_test.dart
  packages/devtools_app/test/shared/memory/retaining_path_test.dart
  packages/devtools_app/test/test_infra/scenes/memory/default.dart
  packages/devtools_app/test/test_infra/test_data/memory/heap/factories.dart
  packages/devtools_app/test/test_infra/test_data/memory/heap/heap_graph_fakes.dart
Owners: @bkonyi, @polina-c

Changing Flutter Candidate to 3.21.0-11.0.pre
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

Update heap_graph_fakes.dart
  packages/devtools_app/test/test_infra/test_data/memory/heap/heap_graph_fakes.dart
Owners: @bkonyi, @polina-c

-
  packages/devtools_app/lib/src/framework/app_bar.dart
  packages/devtools_app/test/test_infra/scenes/standalone_ui/vs_code_mock_editor.dart
Owners: @flutter/devtools-reviewers

-
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_except_diff.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_scene_diff.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_showAll_diff.png
Owners: @flutter/devtools-reviewers

Dependency bumps for devtools_app_shared and devtools_shared (#7412)
  packages/devtools_app/lib/src/framework/app_bar.dart
  packages/devtools_app/test/test_infra/scenes/standalone_ui/vs_code_mock_editor.dart
  packages/devtools_app_shared/CHANGELOG.md
  packages/devtools_app_shared/lib/src/ui/theme/theme.dart
  packages/devtools_app_shared/pubspec.yaml
  packages/devtools_extensions/CHANGELOG.md
  packages/devtools_extensions/pubspec.yaml
Owners: @flutter/devtools-reviewers, @kenzieschmoll

Update theme.dart
  packages/devtools_app_shared/lib/src/ui/theme/theme.dart
Owners: @flutter/devtools-reviewers

-
  packages/devtools_app/lib/src/framework/app_bar.dart
  packages/devtools_app_shared/lib/src/ui/theme/theme.dart
Owners: @flutter/devtools-reviewers

Update vs_code_mock_editor.dart
  packages/devtools_app/test/test_infra/scenes/standalone_ui/vs_code_mock_editor.dart
Owners: @flutter/devtools-reviewers

Add a ring buffer for Perfetto timeline traces (#7403)
  packages/.vscode/launch.json
  packages/devtools_app/integration_test/test/live_connection/performance_screen_event_recording_test.dart
  packages/devtools_app/lib/src/screens/performance/panes/timeline_events/perfetto/_perfetto_controller_web.dart
  packages/devtools_app/lib/src/screens/performance/panes/timeline_events/perfetto/_perfetto_web.dart
  packages/devtools_app/lib/src/screens/performance/panes/timeline_events/perfetto/perfetto_controller.dart
  packages/devtools_app/lib/src/screens/performance/panes/timeline_events/perfetto/tracing/model.dart
  packages/devtools_app/lib/src/screens/performance/panes/timeline_events/timeline_event_processor.dart
  packages/devtools_app/lib/src/screens/performance/panes/timeline_events/timeline_events_controller.dart
  packages/devtools_app/lib/src/screens/performance/performance_controller.dart
  packages/devtools_app/lib/src/shared/primitives/byte_utils.dart
  packages/devtools_app/lib/src/shared/routing.dart
  packages/devtools_app/test/performance/timeline_events/perfetto/tracing_model_test.dart
  packages/devtools_app/test/performance/timeline_events/timeline_event_processor_test.dart
  packages/devtools_app/test/performance/timeline_events/timeline_events_controller_test.dart
  packages/devtools_app/test/primitives/byte_utils_test.dart
  packages/devtools_app/test/test_infra/scenes/standalone_ui/vs_code_mock_editor.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

-
  packages/devtools_app/lib/src/shared/memory/heap_data.dart
  packages/devtools_app/lib/src/shared/memory/heap_object.dart
Owners: @bkonyi, @polina-c

Get workspace roots from DTD for Deep Links tool
  packages/devtools_app/lib/src/screens/deep_link_validation/select_project_view.dart
  packages/devtools_app/lib/src/shared/common_widgets.dart
  packages/devtools_app/lib/src/shared/directory_picker.dart
  packages/devtools_app/test/deep_link_vlidation/deep_links_screen_test.dart
  packages/devtools_app_shared/lib/src/service/dtd_manager.dart
Owners: @flutter/devtools-reviewers

release notes
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

fix imports
  packages/devtools_app/lib/src/screens/deep_link_validation/select_project_view.dart
  packages/devtools_app/test/deep_link_vlidation/deep_links_screen_test.dart
Owners: @flutter/devtools-reviewers

Changing Flutter Candidate to 3.21.0-11.0.pre (#7413)
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

fixes
  packages/devtools_app/lib/src/screens/deep_link_validation/select_project_view.dart
  packages/devtools_app_shared/lib/src/service/dtd_manager.dart
Owners: @flutter/devtools-reviewers

Bump the unified_analytics min version
  packages/devtools_app/pubspec.yaml
  packages/devtools_shared/CHANGELOG.md
  packages/devtools_shared/pubspec.yaml
Owners: @flutter/devtools-reviewers

-
  packages/devtools_app/lib/src/screens/memory/framework/connected/memory_controller.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/widgets/class_details/paths.dart
  packages/devtools_app/test/memory/diff/widgets/diff_pane_test.dart
Owners: @bkonyi, @polina-c

-
  packages/devtools_app/lib/src/screens/memory/panes/diff/widgets/class_details/paths.dart
  packages/devtools_app/test/memory/diff/widgets/diff_pane_test.dart
Owners: @bkonyi, @polina-c

Bump the unified_analytics min version (#7416)
  packages/devtools_app/pubspec.yaml
  packages/devtools_shared/CHANGELOG.md
  packages/devtools_shared/pubspec.yaml
Owners: @flutter/devtools-reviewers

-
  packages/devtools_app/lib/src/screens/memory/panes/diff/widgets/class_details/paths.dart
  packages/devtools_app/test/memory/diff/widgets/diff_pane_test.dart
  packages/devtools_app/test/memory/diff/widgets/paths_test.dart
Owners: @bkonyi, @polina-c

Update heap_graph_fakes.dart
  packages/devtools_app/test/test_infra/test_data/memory/heap/heap_graph_fakes.dart
Owners: @bkonyi, @polina-c

fix test
  packages/devtools_app/test/deep_link_vlidation/deep_links_screen_test.dart
  packages/devtools_test/lib/src/mocks/generated.dart
Owners: @flutter/devtools-reviewers

Update simulated devtools extension environment help dialogs
  packages/devtools_extensions/CHANGELOG.md
  packages/devtools_extensions/lib/src/template/_simulated_devtools_environment/connection_ui/_dtd_connect.dart
  packages/devtools_extensions/lib/src/template/_simulated_devtools_environment/connection_ui/_vm_service_connect.dart
  packages/devtools_extensions/pubspec.yaml
Owners: @kenzieschmoll

Get workspace roots from DTD for Deep Links tool (#7415)
  packages/devtools_app/lib/src/screens/deep_link_validation/select_project_view.dart
  packages/devtools_app/lib/src/shared/common_widgets.dart
  packages/devtools_app/lib/src/shared/directory_picker.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/test/deep_link_vlidation/deep_links_screen_test.dart
  packages/devtools_app_shared/lib/src/service/dtd_manager.dart
  packages/devtools_test/lib/src/mocks/generated.dart
Owners: @flutter/devtools-reviewers

Updating from 2.34.0-dev.12 to 2.34.0-dev.13
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_test/pubspec.yaml
Owners: none

Update simulated devtools extension environment help dialogs (#7417)
  packages/devtools_extensions/CHANGELOG.md
  packages/devtools_extensions/lib/src/template/_simulated_devtools_environment/connection_ui/_dtd_connect.dart
  packages/devtools_extensions/lib/src/template/_simulated_devtools_environment/connection_ui/_vm_service_connect.dart
  packages/devtools_extensions/pubspec.yaml
Owners: @kenzieschmoll

showtooltip option
  packages/devtools_app/lib/src/screens/network/network_screen.dart
  packages/devtools_app/lib/src/shared/table/table_data.dart
Owners: @kenzieschmoll, @bkonyi, @flutter/devtools-reviewers

release notes
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Kenzie comments
  packages/devtools_app/lib/src/shared/table/_table_row.dart
  packages/devtools_app/lib/src/shared/table/table_data.dart
Owners: @flutter/devtools-reviewers

1
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_controller.dart
  packages/devtools_app/test/deep_link_vlidation/deep_links_screen_test.dart
Owners: @flutter/devtools-reviewers

更新 README.md
  README.md
Owners: @flutter/devtools-reviewers

you won't believe your eyes
  packages/devtools_app/lib/src/shared/table/_table_row.dart
Owners: @flutter/devtools-reviewers

CODEOWNERS:

*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @CoderDake

# Network Files
network/            @kenzieschmoll @bkonyi

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll

# Memory files
memory/             @bkonyi @polina-c

# Memory leak tracking files
memory/panes/leaks  @CoderDake @polina-c

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @CoderDake

packages/devtools_extensions/    @kenzieschmoll


# Version bump files.
# No owners to prevent version update spam
packages/devtools_app/lib/devtools.dart
packages/devtools_app/pubspec.yaml
packages/devtools_test/pubspec.yaml
