Repository flutter/devtools, changes with the owners that CODEOWNERS names for each.
All owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

CODEOWNERS:

*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @elliette

# Network Files
network/            @bkonyi @kenzieschmoll

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll @bkonyi

# Memory files
memory/             @bkonyi @kenzieschmoll

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @kenzieschmoll

# DevTools extensions and related files
src/extensions/
packages/devtools_extensions/    @kenzieschmoll
packages/devtools_app_shared/    @kenzieschmoll

# package:devtools_shared code, which is used across DevTools and the Dart SDK
packages/devtools_shared/        @kenzieschmoll @bkonyi

# Version bump files.
# No owners to prevent version update spam
packages/devtools_app/lib/devtools.dart
packages/devtools_app/pubspec.yaml
packages/devtools_test/pubspec.yaml

Respond to PR comments
  packages/devtools_app/lib/src/screens/inspector/layout_explorer/ui/utils.dart
  packages/devtools_app/lib/src/screens/inspector_v2/layout_explorer/ui/utils.dart
  packages/devtools_app/lib/src/screens/logging/metadata.dart
  packages/devtools_app/lib/src/shared/common_widgets.dart
  packages/devtools_app/lib/src/shared/file_import.dart
  packages/devtools_app/test/shared/table_test.dart
  packages/devtools_app_shared/lib/src/ui/theme/theme.dart
  packages/devtools_app_shared/lib/src/utils/utils.dart
Owners: @elliette, @flutter/devtools-reviewers, @kenzieschmoll

stopwatch
  packages/devtools_app/lib/src/screens/logging/logging_controller.dart
Owners: @flutter/devtools-reviewers

macos config
  packages/devtools_app/macos/Runner.xcodeproj/project.pbxproj
Owners: @flutter/devtools-reviewers

Remove unused query filter field from filter dialog (#8499)
  packages/devtools_app/lib/src/shared/ui/filter.dart
Owners: @flutter/devtools-reviewers

Improve IPL of logging page by 200x
  packages/devtools_app/lib/src/screens/logging/logging_controller.dart
Owners: @flutter/devtools-reviewers

rnotes
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Move to ui_utils
  packages/devtools_app/lib/src/screens/inspector/layout_explorer/ui/utils.dart
  packages/devtools_app/lib/src/screens/inspector_v2/layout_explorer/ui/utils.dart
  packages/devtools_app/lib/src/screens/logging/metadata.dart
  packages/devtools_app/lib/src/shared/file_import.dart
  packages/devtools_app_shared/lib/src/ui/theme/theme.dart
  packages/devtools_app_shared/lib/src/ui/ui_utils.dart
  packages/devtools_app_shared/lib/src/utils/utils.dart
Owners: @elliette, @flutter/devtools-reviewers, @kenzieschmoll

used factory constructor, made enum private
  packages/devtools_app/lib/src/screens/network/network_model.dart
  packages/devtools_app/lib/src/screens/network/offline_network_data.dart
Owners: @bkonyi, @kenzieschmoll

reorder params, used isEmpty
  packages/devtools_app/lib/src/screens/network/offline_network_data.dart
Owners: @bkonyi, @kenzieschmoll

Improve IPL of the logging page by two orders of magnitude (#8500)
  packages/devtools_app/lib/src/screens/logging/logging_controller.dart
  packages/devtools_app/macos/Runner.xcodeproj/project.pbxproj
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Remove logging v2 code
  packages/devtools_app/lib/devtools_app.dart
  packages/devtools_app/lib/src/app.dart
  packages/devtools_app/lib/src/screens/logging/logging_controls.dart
  packages/devtools_app/lib/src/screens/logging/logging_screen_v2/log_data.dart
  packages/devtools_app/lib/src/screens/logging/logging_screen_v2/logging_controller_v2.dart
  packages/devtools_app/lib/src/screens/logging/logging_screen_v2/logging_model.dart
  packages/devtools_app/lib/src/screens/logging/logging_screen_v2/logging_screen_v2.dart
  packages/devtools_app/lib/src/screens/logging/logging_screen_v2/logging_table_row.dart
  packages/devtools_app/lib/src/screens/logging/logging_screen_v2/logging_table_v2.dart
  packages/devtools_app/lib/src/screens/logging/shared/constants.dart
  packages/devtools_app/lib/src/shared/feature_flags.dart
  packages/devtools_app/test/logging/logging_screen_v2/logging_controller_v2_test.dart
  packages/devtools_app/test/logging/logging_screen_v2/logging_model_test.dart
  packages/devtools_app/test/logging/logging_screen_v2/logging_screen_v2_test.dart
  packages/devtools_app/test/logging/logging_screen_v2/logging_table_row_test.dart
  packages/devtools_app/test/shared/primitives/feature_flags_test.dart
  packages/devtools_test/lib/src/helpers/wrappers.dart
  packages/devtools_test/lib/src/mocks/generated.dart
  packages/devtools_test/lib/src/mocks/generated_mocks_factories.dart
Owners: @flutter/devtools-reviewers

Bump dev version
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

bump flutter
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

Update tool/flutter-sdk as part of the `dt sync` command
  tool/lib/commands/sync.dart
Owners: @kenzieschmoll

Skip flaky test
  packages/devtools_app/integration_test/test/live_connection/eval_and_inspect_test.dart
Owners: @flutter/devtools-reviewers

Wrong issue link
  packages/devtools_app/integration_test/test/live_connection/eval_and_inspect_test.dart
Owners: @flutter/devtools-reviewers

Remove logging v2 code (#8503)
  packages/devtools_app/lib/devtools_app.dart
  packages/devtools_app/lib/src/app.dart
  packages/devtools_app/lib/src/screens/logging/logging_controls.dart
  packages/devtools_app/lib/src/screens/logging/logging_screen_v2/log_data.dart
  packages/devtools_app/lib/src/screens/logging/logging_screen_v2/logging_controller_v2.dart
  packages/devtools_app/lib/src/screens/logging/logging_screen_v2/logging_model.dart
  packages/devtools_app/lib/src/screens/logging/logging_screen_v2/logging_screen_v2.dart
  packages/devtools_app/lib/src/screens/logging/logging_screen_v2/logging_table_row.dart
  packages/devtools_app/lib/src/screens/logging/logging_screen_v2/logging_table_v2.dart
  packages/devtools_app/lib/src/screens/logging/shared/constants.dart
  packages/devtools_app/lib/src/shared/feature_flags.dart
  packages/devtools_app/test/logging/logging_screen_v2/logging_controller_v2_test.dart
  packages/devtools_app/test/logging/logging_screen_v2/logging_model_test.dart
  packages/devtools_app/test/logging/logging_screen_v2/logging_screen_v2_test.dart
  packages/devtools_app/test/logging/logging_screen_v2/logging_table_row_test.dart
  packages/devtools_app/test/shared/primitives/feature_flags_test.dart
  packages/devtools_test/lib/src/helpers/wrappers.dart
  packages/devtools_test/lib/src/mocks/generated.dart
  packages/devtools_test/lib/src/mocks/generated_mocks_factories.dart
Owners: @flutter/devtools-reviewers

Update tool/flutter-sdk as part of the `dt sync` command (#8505)
  tool/lib/commands/sync.dart
Owners: @kenzieschmoll

Skip flaky test (#8506)
  packages/devtools_app/integration_test/test/live_connection/eval_and_inspect_test.dart
Owners: @flutter/devtools-reviewers

Use non-broken flutter version
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

Bump Devtools dev version and Flutter version (#8504)
  flutter-candidate.txt
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: @flutter/devtools-reviewers

Alternating colors look nice in tables when embedded in IDE (#8498)
  packages/devtools_app/lib/src/screens/inspector/layout_explorer/ui/utils.dart
  packages/devtools_app/lib/src/screens/inspector_v2/layout_explorer/ui/utils.dart
  packages/devtools_app/lib/src/screens/logging/metadata.dart
  packages/devtools_app/lib/src/shared/common_widgets.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/test/shared/table_test.dart
  packages/devtools_app/test/test_infra/goldens/cpu_profiler/method_table_no_selection.png
  packages/devtools_app/test/test_infra/goldens/cpu_profiler/method_table_with_selection.png
  packages/devtools_app/test/test_infra/goldens/cpu_profiler/method_table_with_selection_2.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_errors_2_error_selected.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_hideable_widget_selected.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_hideable_widget_selected_from_search.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_implementation_widgets_collapsed.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_implementation_widgets_hidden.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_select_center.png
  packages/devtools_app/test/test_infra/goldens/memory/load_offline_data_profile_tab.png
  packages/devtools_app/test/test_infra/goldens/memory/load_offline_data_trace_tab.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_empty1.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_empty2.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_selected_class.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_except_diff.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_except_single.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_scene_diff.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_scene_single.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_showAll_diff.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_showAll_single.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_three_snapshots1.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_three_snapshots2.png
  packages/devtools_app_shared/lib/src/ui/theme/theme.dart
  packages/devtools_app_shared/lib/src/ui/ui_utils.dart
Owners: @elliette, @flutter/devtools-reviewers, @bkonyi, @kenzieschmoll

additional PR feedback
  tool/lib/license_utils.dart
  tool/test/license_utils_test.dart
Owners: @kenzieschmoll

another round of PR feedback
  tool/lib/license_utils.dart
  tool/test/license_utils_test.dart
Owners: @kenzieschmoll

License Utility (#8460)
  .github/workflows/build.yaml
  tool/ci/tool_tests.sh
  tool/lib/license_utils.dart
  tool/pubspec.yaml
  tool/test/license_utils_test.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

Include stack traces with unified_analytics exception events.
  packages/devtools_app/lib/src/framework/app_error_handling.dart
  packages/devtools_app/lib/src/framework/home_screen.dart
  packages/devtools_app/lib/src/shared/analytics/_analytics_stub.dart
  packages/devtools_app/lib/src/shared/analytics/_analytics_web.dart
  packages/devtools_app/lib/src/shared/analytics/analytics_common.dart
  packages/devtools_app/pubspec.yaml
Owners: @flutter/devtools-reviewers

remove debug code
  packages/devtools_app/lib/src/framework/home_screen.dart
Owners: @flutter/devtools-reviewers

Include stack traces with unified_analytics exception events. (#8510)
  packages/devtools_app/lib/src/framework/app_error_handling.dart
  packages/devtools_app/lib/src/shared/analytics/_analytics_stub.dart
  packages/devtools_app/lib/src/shared/analytics/_analytics_web.dart
  packages/devtools_app/lib/src/shared/analytics/analytics_common.dart
  packages/devtools_app/pubspec.yaml
Owners: @flutter/devtools-reviewers

Fix inspector V2 metrics
  packages/devtools_app/lib/src/shared/analytics/_analytics_web.dart
  packages/devtools_app/web/devtools_analytics.js
Owners: @flutter/devtools-reviewers

Update order
  packages/devtools_app/lib/src/shared/analytics/_analytics_web.dart
Owners: @flutter/devtools-reviewers

Include screen information with unified_analytics events
  packages/devtools_app/lib/src/shared/analytics/_analytics_web.dart
  packages/devtools_app/pubspec.yaml
Owners: @flutter/devtools-reviewers

rename method
  packages/devtools_app/lib/src/shared/analytics/_analytics_web.dart
Owners: @flutter/devtools-reviewers

Use custom metrics class
  packages/devtools_app/lib/src/shared/analytics/_analytics_web.dart
  packages/devtools_app/web/devtools_analytics.js
Owners: @flutter/devtools-reviewers

bump dtd
  packages/devtools_app/pubspec.yaml
Owners: none

try casting
  packages/devtools_app/lib/src/shared/analytics/_analytics_web.dart
Owners: @flutter/devtools-reviewers

Include screen information with `unified_analytics` events and bump `unified_analytics` to 7.0.0 (#8514)
  packages/devtools_app/lib/src/shared/analytics/_analytics_web.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/web/devtools_analytics.js
Owners: @flutter/devtools-reviewers

Add a border around message that no widget is selected
  packages/devtools_app/lib/src/screens/inspector_v2/widget_details.dart
Owners: @flutter/devtools-reviewers

Refresh search matches when implementation widgets are toggled on or off
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_controller.dart
Owners: @flutter/devtools-reviewers

Formatting
  packages/devtools_app/lib/src/screens/inspector_v2/widget_details.dart
Owners: @flutter/devtools-reviewers

Don't show hover cards for primitives or nulls
  packages/devtools_app/lib/src/shared/console/widgets/description.dart
Owners: @flutter/devtools-reviewers
