Repository flutter/devtools, changes with the owners that CODEOWNERS names for each.
All owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

Updating from 2.42.0-dev.1 to 2.42.0-dev.2
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.42.0-dev.1 to 2.42.0-dev.2
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.42.0-dev.1 to 2.42.0-dev.2
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.42.0-dev.1 to 2.42.0-dev.2
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Disable two finger scroll back gesture
  packages/devtools_app/web/styles.css
Owners: @flutter/devtools-reviewers

Fix inspector_integration_test
  packages/devtools_app/test/screens/inspector_v2/inspector_integration_test.dart
Owners: @flutter/devtools-reviewers

Fix inspector_screen_test
  packages/devtools_app/test/screens/inspector/inspector_screen_test.dart
  packages/devtools_app/test/screens/inspector_v2/inspector_screen_test.dart
Owners: @elliette, @flutter/devtools-reviewers

Update release notes
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/release_notes/images/legacy_inspector_setting.png
Owners: @flutter/devtools-reviewers

Update goldens
  packages/devtools_app/test/test_infra/goldens/integration_animated_physical_model_selected.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_errors_1_initial_load.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_errors_2_error_selected.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_initial_load.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_richtext_selected.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_scaffold_selected.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_select_center.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_select_center_details_tree.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_errors_1_initial_load.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_errors_2_error_selected.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_hideable_widget_selected.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_hideable_widget_selected_from_search.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_implementation_widgets_collapsed.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_implementation_widgets_expanded.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_implementation_widgets_hidden.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_initial_load.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_revert_to_legacy.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_select_center.png
Owners: @flutter/devtools-reviewers

Change 'inspector' to lowercase to match Flutter site documentation
  packages/devtools_app/lib/src/screens/inspector_shared/inspector_settings_dialog.dart
  packages/devtools_app/lib/src/shared/managers/banner_messages.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/test/screens/inspector_v2/inspector_integration_test.dart
Owners: @flutter/devtools-reviewers

Updating from 2.42.0-dev.1 to 2.42.0-dev.2
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.42.0-dev.1 to 2.42.0-dev.2
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.42.0-dev.1 to 2.42.0-dev.2
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

lint fixes - fixed import, removed unused import
  packages/devtools_app/lib/src/screens/network/network_controller.dart
  packages/devtools_app/lib/src/screens/network/network_screen.dart
Owners: @bkonyi, @kenzieschmoll

comment added for ignore
  packages/devtools_app/lib/src/screens/network/network_controller.dart
Owners: @bkonyi, @kenzieschmoll

lint fix: removed redundant async
  packages/devtools_app/lib/src/screens/network/network_controller.dart
Owners: @bkonyi, @kenzieschmoll

Respond to PR comments
  packages/devtools_app/lib/src/screens/inspector_shared/inspector_screen.dart
  packages/devtools_app/lib/src/shared/preferences/_inspector_preferences.dart
Owners: @flutter/devtools-reviewers

[Inspector V2] Enable Inspector V2 by default (#8650)
  packages/devtools_app/lib/src/framework/scaffold/settings_dialog.dart
  packages/devtools_app/lib/src/screens/inspector_shared/inspector_controls.dart
  packages/devtools_app/lib/src/screens/inspector_shared/inspector_screen.dart
  packages/devtools_app/lib/src/screens/inspector_shared/inspector_settings_dialog.dart
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_screen_body.dart
  packages/devtools_app/lib/src/shared/analytics/constants.dart
  packages/devtools_app/lib/src/shared/managers/banner_messages.dart
  packages/devtools_app/lib/src/shared/preferences/_inspector_preferences.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/release_notes/images/legacy_inspector_setting.png
  packages/devtools_app/test/screens/inspector/inspector_integration_test.dart
  packages/devtools_app/test/screens/inspector/inspector_screen_test.dart
  packages/devtools_app/test/screens/inspector_v2/inspector_integration_test.dart
  packages/devtools_app/test/screens/inspector_v2/inspector_screen_test.dart
  packages/devtools_app/test/test_infra/goldens/integration_animated_physical_model_selected.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_errors_1_initial_load.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_errors_2_error_selected.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_initial_load.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_richtext_selected.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_scaffold_selected.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_select_center.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_select_center_details_tree.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_errors_1_initial_load.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_errors_2_error_selected.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_hideable_widget_selected.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_hideable_widget_selected_from_search.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_implementation_widgets_collapsed.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_implementation_widgets_expanded.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_implementation_widgets_hidden.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_initial_load.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_revert_to_legacy.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_select_center.png
Owners: @flutter/devtools-reviewers, @elliette

Disable two finger scroll back gesture (#8662)
  packages/devtools_app/web/styles.css
Owners: @flutter/devtools-reviewers

Fix dropdown overflow for enums
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_view.dart
Owners: @flutter/devtools-reviewers

Updating from 2.42.0-dev.1 to 2.42.0-dev.2
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

license update - batch 1
  BETA_TESTING.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  DOCUMENTATION.md
  README.md
  STYLE.md
  TESTING.md
  TRIAGE.md
  analysis_options.yaml
  devtools_options.yaml
  docs/README.md
  pubspec.yaml
Owners: @flutter/devtools-reviewers

Fix dropdown overflow for enums (#8668)
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_view.dart
Owners: @flutter/devtools-reviewers

license update - batch 3
  case_study/code_size/static_files/animal_app_new_apk_analysis.json
  case_study/code_size/static_files/animal_app_old_apk_analysis.json
Owners: @flutter/devtools-reviewers

Update flutter candidate verison
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

Prepare for release 2.42.0
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Update Flutter candidate version
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

Clean up release notes
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Run formatter
  packages/devtools_app/lib/src/screens/debugger/program_explorer_controller.dart
  packages/devtools_app/lib/src/screens/debugger/program_explorer_model.dart
  packages/devtools_app/lib/src/screens/profiler/cpu_profile_model.dart
  packages/devtools_app/lib/src/screens/vm_developer/object_inspector/inbound_references_tree.dart
  packages/devtools_app/lib/src/screens/vm_developer/vm_developer_common_widgets.dart
  packages/devtools_app/lib/src/shared/charts/chart_controller.dart
  packages/devtools_app/lib/src/shared/framework/screen.dart
  packages/devtools_app/lib/src/shared/memory/classes.dart
  packages/devtools_app/lib/src/standalone_ui/vs_code/devtools/devtools_view.dart
  packages/devtools_app/test/test_infra/test_data/memory/heap/heap_graph_fakes.dart
  packages/devtools_test/lib/src/mocks/fake_service_manager.dart
  tool/lib/commands/run.dart
  tool/lib/model.dart
Owners: @elliette, @kenzieschmoll, @bkonyi, @flutter/devtools-reviewers

Fix tests
  packages/devtools_app/benchmark/web_bundle_size_test.dart
  packages/devtools_app/test/test_infra/goldens/settings_dialog_default.png
  packages/devtools_app/test/test_infra/goldens/settings_dialog_modified.png
Owners: @flutter/devtools-reviewers

reverted files that were accidentally committed from batch 1
  BETA_TESTING.md
  CONTRIBUTING.md
  DOCUMENTATION.md
  README.md
  STYLE.md
  TESTING.md
  TRIAGE.md
  analysis_options.yaml
  devtools_options.yaml
  docs/README.md
  pubspec.yaml
Owners: @flutter/devtools-reviewers

reverted another file accidentally committed from batch 1
  CODE_OF_CONDUCT.md
Owners: @flutter/devtools-reviewers

Prepare for release 2.42.0 (#8673)
  flutter-candidate.txt
  packages/devtools_app/benchmark/web_bundle_size_test.dart
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/lib/src/screens/debugger/program_explorer_controller.dart
  packages/devtools_app/lib/src/screens/debugger/program_explorer_model.dart
  packages/devtools_app/lib/src/screens/profiler/cpu_profile_model.dart
  packages/devtools_app/lib/src/screens/vm_developer/object_inspector/inbound_references_tree.dart
  packages/devtools_app/lib/src/screens/vm_developer/vm_developer_common_widgets.dart
  packages/devtools_app/lib/src/shared/charts/chart_controller.dart
  packages/devtools_app/lib/src/shared/framework/screen.dart
  packages/devtools_app/lib/src/shared/memory/classes.dart
  packages/devtools_app/lib/src/standalone_ui/vs_code/devtools/devtools_view.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/test/test_infra/goldens/settings_dialog_default.png
  packages/devtools_app/test/test_infra/goldens/settings_dialog_modified.png
  packages/devtools_app/test/test_infra/test_data/memory/heap/heap_graph_fakes.dart
  packages/devtools_test/lib/src/mocks/fake_service_manager.dart
  tool/lib/commands/run.dart
  tool/lib/model.dart
Owners: @flutter/devtools-reviewers, @elliette, @kenzieschmoll, @bkonyi

removing headers from json files
  case_study/code_size/optimized/code_size_images/ios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  case_study/code_size/optimized/code_size_images/ios/Runner/Assets.xcassets/LaunchImage.imageset/Contents.json
  case_study/code_size/optimized/code_size_images/macos/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  case_study/code_size/optimized/code_size_images/web/manifest.json
  case_study/code_size/optimized/code_size_package/ios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  case_study/code_size/optimized/code_size_package/ios/Runner/Assets.xcassets/LaunchImage.imageset/Contents.json
  case_study/code_size/optimized/code_size_package/macos/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  case_study/code_size/optimized/code_size_package/web/manifest.json
Owners: @flutter/devtools-reviewers

license update - batch 3
  case_study/code_size/unoptimized/README.md
  case_study/code_size/unoptimized/code_size_images/README.md
  case_study/code_size/unoptimized/code_size_images/android/app/build.gradle
  case_study/code_size/unoptimized/code_size_images/android/app/src/debug/AndroidManifest.xml
  case_study/code_size/unoptimized/code_size_images/android/app/src/main/AndroidManifest.xml
  case_study/code_size/unoptimized/code_size_images/android/app/src/main/res/drawable/launch_background.xml
  case_study/code_size/unoptimized/code_size_images/android/app/src/main/res/values/styles.xml
  case_study/code_size/unoptimized/code_size_images/android/app/src/profile/AndroidManifest.xml
  case_study/code_size/unoptimized/code_size_images/android/build.gradle
  case_study/code_size/unoptimized/code_size_images/android/settings.gradle
  case_study/code_size/unoptimized/code_size_images/ios/Runner/AppDelegate.swift
  case_study/code_size/unoptimized/code_size_images/ios/Runner/Assets.xcassets/LaunchImage.imageset/README.md
  case_study/code_size/unoptimized/code_size_images/ios/Runner/Runner-Bridging-Header.h
  case_study/code_size/unoptimized/code_size_images/lib/animals.dart
  case_study/code_size/unoptimized/code_size_images/lib/main.dart
  case_study/code_size/unoptimized/code_size_images/macos/Flutter/GeneratedPluginRegistrant.swift
  case_study/code_size/unoptimized/code_size_images/macos/Runner/AppDelegate.swift
  case_study/code_size/unoptimized/code_size_images/macos/Runner/MainFlutterWindow.swift
  case_study/code_size/unoptimized/code_size_images/pubspec.yaml
  case_study/code_size/unoptimized/code_size_images/test/widget_test.dart
  case_study/code_size/unoptimized/code_size_images/web/index.html
  case_study/code_size/unoptimized/code_size_package/README.md
  case_study/code_size/unoptimized/code_size_package/android/app/build.gradle
  case_study/code_size/unoptimized/code_size_package/android/app/src/debug/AndroidManifest.xml
  case_study/code_size/unoptimized/code_size_package/android/app/src/main/AndroidManifest.xml
  case_study/code_size/unoptimized/code_size_package/android/app/src/main/res/drawable/launch_background.xml
  case_study/code_size/unoptimized/code_size_package/android/app/src/main/res/values/styles.xml
  case_study/code_size/unoptimized/code_size_package/android/app/src/profile/AndroidManifest.xml
  case_study/code_size/unoptimized/code_size_package/android/build.gradle
  case_study/code_size/unoptimized/code_size_package/android/settings.gradle
  case_study/code_size/unoptimized/code_size_package/ios/Runner/AppDelegate.swift
  case_study/code_size/unoptimized/code_size_package/ios/Runner/Assets.xcassets/LaunchImage.imageset/README.md
  case_study/code_size/unoptimized/code_size_package/ios/Runner/Runner-Bridging-Header.h
  case_study/code_size/unoptimized/code_size_package/lib/main.dart
  case_study/code_size/unoptimized/code_size_package/macos/Flutter/GeneratedPluginRegistrant.swift
  case_study/code_size/unoptimized/code_size_package/macos/Runner/AppDelegate.swift
  case_study/code_size/unoptimized/code_size_package/macos/Runner/MainFlutterWindow.swift
  case_study/code_size/unoptimized/code_size_package/pubspec.yaml
  case_study/code_size/unoptimized/code_size_package/test/widget_test.dart
  case_study/code_size/unoptimized/code_size_package/web/index.html
Owners: @flutter/devtools-reviewers

Updating from 2.42.0 to 2.43.0-dev.0
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/release_notes/images/inspector_auto_refresh_setting.png
  packages/devtools_app/release_notes/images/legacy_inspector_setting.png
Owners: @flutter/devtools-reviewers

Updating from 2.42.0 to 2.43.0-dev.0
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/release_notes/images/inspector_auto_refresh_setting.png
  packages/devtools_app/release_notes/images/legacy_inspector_setting.png
Owners: @flutter/devtools-reviewers

Reset to dev version
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/release_notes/images/inspector_auto_refresh_setting.png
  packages/devtools_app/release_notes/images/legacy_inspector_setting.png
Owners: @flutter/devtools-reviewers

Reset to dev version after release (#8676)
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/release_notes/images/inspector_auto_refresh_setting.png
  packages/devtools_app/release_notes/images/legacy_inspector_setting.png
Owners: @flutter/devtools-reviewers

license update - batch 4
  case_study/memory_leaks/images_1/README.md
  case_study/memory_leaks/images_1/analysis_options.yaml
  case_study/memory_leaks/images_1/android/app/build.gradle
  case_study/memory_leaks/images_1/android/app/src/debug/AndroidManifest.xml
  case_study/memory_leaks/images_1/android/app/src/main/AndroidManifest.xml
  case_study/memory_leaks/images_1/android/app/src/main/res/drawable-v21/launch_background.xml
  case_study/memory_leaks/images_1/android/app/src/main/res/drawable/launch_background.xml
  case_study/memory_leaks/images_1/android/app/src/main/res/values-night/styles.xml
  case_study/memory_leaks/images_1/android/app/src/main/res/values/styles.xml
  case_study/memory_leaks/images_1/android/app/src/profile/AndroidManifest.xml
  case_study/memory_leaks/images_1/android/build.gradle
  case_study/memory_leaks/images_1/android/settings.gradle
  case_study/memory_leaks/images_1/ios/Runner/AppDelegate.swift
  case_study/memory_leaks/images_1/ios/Runner/Assets.xcassets/LaunchImage.imageset/README.md
  case_study/memory_leaks/images_1/ios/Runner/Runner-Bridging-Header.h
  case_study/memory_leaks/images_1/lib/main.dart
  case_study/memory_leaks/images_1/macos/Runner/AppDelegate.swift
  case_study/memory_leaks/images_1/macos/Runner/MainFlutterWindow.swift
  case_study/memory_leaks/images_1/pubspec.yaml
  case_study/memory_leaks/images_1/web/README.md
  case_study/memory_leaks/images_1/web/index.html
  case_study/memory_leaks/images_1/windows/runner/flutter_window.cpp
  case_study/memory_leaks/images_1/windows/runner/flutter_window.h
  case_study/memory_leaks/images_1/windows/runner/main.cpp
  case_study/memory_leaks/images_1/windows/runner/resource.h
  case_study/memory_leaks/images_1/windows/runner/utils.cpp
  case_study/memory_leaks/images_1/windows/runner/utils.h
  case_study/memory_leaks/images_1/windows/runner/win32_window.cpp
  case_study/memory_leaks/images_1/windows/runner/win32_window.h
Owners: @flutter/devtools-reviewers

CODEOWNERS:

*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @elliette

# Network Files
network/            @bkonyi @kenzieschmoll

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll @bkonyi

# Memory files
memory/             @bkonyi @kenzieschmoll

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @kenzieschmoll

# DevTools extensions and related files
src/extensions/
packages/devtools_extensions/    @kenzieschmoll
packages/devtools_app_shared/    @kenzieschmoll

# package:devtools_shared code, which is used across DevTools and the Dart SDK
packages/devtools_shared/        @kenzieschmoll @bkonyi

# Version bump files.
# No owners to prevent version update spam
packages/devtools_app/lib/devtools.dart
packages/devtools_app/pubspec.yaml
packages/devtools_test/pubspec.yaml
