Repository flutter/devtools, changes with the owners that CODEOWNERS names for each.
All owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

CODEOWNERS:

*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @elliette

# Network Files
network/            @bkonyi @kenzieschmoll

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll @bkonyi

# Memory files
memory/             @bkonyi @kenzieschmoll

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @kenzieschmoll

# DevTools extensions and related files
src/extensions/
packages/devtools_extensions/    @kenzieschmoll
packages/devtools_app_shared/    @kenzieschmoll

# package:devtools_shared code, which is used across DevTools and the Dart SDK
packages/devtools_shared/        @kenzieschmoll @bkonyi

# Version bump files.
# No owners to prevent version update spam
packages/devtools_app/lib/devtools.dart
packages/devtools_app/pubspec.yaml
packages/devtools_test/pubspec.yaml

Fix analytics for hot reload and hot restart actions. (#8617)
  packages/devtools_app/lib/src/service/service_extension_widgets.dart
Owners: @flutter/devtools-reviewers

Can send edit requests for properties
  flutter-candidate.txt
  packages/devtools_app/lib/src/service/editor/api_classes.dart
  packages/devtools_app/lib/src/service/editor/editor_client.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_controller.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_view.dart
Owners: @flutter/devtools-reviewers

Add testOn VM
  packages/devtools_app/test/screens/inspector_v2/inspector_integration_test.dart
Owners: @flutter/devtools-reviewers

Respond to PR comments
  packages/devtools_app/lib/src/service/editor/api_classes.dart
  packages/devtools_app/lib/src/service/editor/editor_client.dart
  packages/devtools_app/test/standalone_ui/ide_shared/property_editor_test.dart
Owners: @flutter/devtools-reviewers

Auto-refresh the widget tree on navigation events
  packages/devtools_app/lib/src/screens/inspector_shared/inspector_settings_dialog.dart
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_controller.dart
Owners: @flutter/devtools-reviewers

Support connecting debug mode DevTools app to DevTools server
  packages/devtools_app/lib/src/extensions/embedded/_controller_web.dart
  packages/devtools_app/lib/src/shared/analytics/_analytics_web.dart
  packages/devtools_app/lib/src/shared/config_specific/framework_initialize/_framework_initialize_web.dart
  packages/devtools_app/lib/src/shared/preferences/preferences.dart
  packages/devtools_app/lib/src/shared/server/server.dart
  packages/devtools_app/lib/src/shared/server/server_api_client.dart
  packages/devtools_app/web/flutter_bootstrap.js
  tool/lib/commands/serve.dart
  tool/lib/utils.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

[Inspector V2] Add initial test case to handle live-reloads after code edits (#8590)
  packages/devtools_app/test/screens/inspector_v2/inspector_integration_test.dart
  packages/devtools_app/test/test_infra/flutter_test_environment.dart
Owners: @flutter/devtools-reviewers

Connect the Property Editor to DTD (#8598)
  packages/devtools_app/lib/src/service/editor/api_classes.dart
  packages/devtools_app/lib/src/service/editor/editor_client.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_controller.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_panel.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_view.dart
  packages/devtools_app/lib/src/standalone_ui/standalone_screen.dart
  packages/devtools_app/lib/src/standalone_ui/vs_code/flutter_panel.dart
  packages/devtools_app/test/standalone_ui/ide_shared/property_editor_test.dart
  packages/devtools_app/test/test_infra/scenes/standalone_ui/property_editor_sidebar.dart
Owners: @flutter/devtools-reviewers

Remove unnecessary logging type prefix (#8620)
  packages/devtools_app/lib/src/framework/release_notes.dart
Owners: @flutter/devtools-reviewers

remove verbose and add dart doc
  tool/lib/commands/serve.dart
Owners: @kenzieschmoll

Working, but needs polish
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_controller.dart
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_tree_controller.dart
  packages/devtools_app/lib/src/shared/console/eval/inspector_tree_v2.dart
  packages/devtools_app/lib/src/shared/diagnostics/inspector_service.dart
Owners: @flutter/devtools-reviewers

review comments
  tool/lib/commands/serve.dart
Owners: @kenzieschmoll

Done with clean up
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_controller.dart
  packages/devtools_app/lib/src/shared/diagnostics/inspector_service.dart
Owners: @flutter/devtools-reviewers

link issue
  tool/lib/commands/serve.dart
Owners: @kenzieschmoll

spelling
  packages/devtools_app/lib/src/shared/preferences/preferences.dart
Owners: @flutter/devtools-reviewers

Use already existing API
  packages/devtools_app/lib/src/shared/console/eval/inspector_tree_v2.dart
  packages/devtools_app/lib/src/shared/diagnostics/inspector_service.dart
Owners: @flutter/devtools-reviewers

Auto-refresh the widget tree on navigation events (#8622)
  packages/devtools_app/lib/src/screens/inspector_shared/inspector_settings_dialog.dart
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_controller.dart
Owners: @flutter/devtools-reviewers

Combine params
  packages/devtools_app/lib/src/screens/inspector/inspector_controller.dart
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_controller.dart
  packages/devtools_app/lib/src/shared/diagnostics/inspector_service.dart
Owners: @elliette, @flutter/devtools-reviewers

Roll package:vm_service ^15.0.0
  packages/devtools_app/pubspec.yaml
  packages/devtools_app_shared/CHANGELOG.md
  packages/devtools_app_shared/pubspec.yaml
  packages/devtools_extensions/CHANGELOG.md
  packages/devtools_extensions/pubspec.yaml
  packages/devtools_shared/CHANGELOG.md
  packages/devtools_shared/pubspec.yaml
  packages/devtools_test/pubspec.yaml
Owners: @kenzieschmoll, @bkonyi

Add run command
  tool/lib/commands/build.dart
  tool/lib/commands/run.dart
  tool/lib/commands/serve.dart
  tool/lib/commands/shared.dart
  tool/lib/devtools_command_runner.dart
Owners: @kenzieschmoll

Add test case
  packages/devtools_app/test/screens/inspector_v2/inspector_integration_test.dart
Owners: @flutter/devtools-reviewers

update to use dt run in docs
  packages/devtools_app/lib/src/shared/preferences/preferences.dart
  packages/devtools_app/lib/src/shared/server/server.dart
  tool/lib/commands/serve.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

process output handling
  tool/lib/commands/serve.dart
  tool/lib/utils.dart
Owners: @kenzieschmoll

Add more details to notification message
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_controller.dart
  packages/devtools_app/test/screens/inspector_v2/inspector_integration_test.dart
Owners: @flutter/devtools-reviewers

Update release notes
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

remove profile mode functionality - dt serve in release mode is sufficient
  tool/lib/commands/run.dart
  tool/lib/commands/serve.dart
  tool/lib/commands/shared.dart
Owners: @kenzieschmoll

Changed param name to inLocalProjectOnly
  packages/devtools_app/lib/src/screens/inspector/inspector_controller.dart
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_controller.dart
  packages/devtools_app/lib/src/shared/diagnostics/inspector_service.dart
Owners: @elliette, @flutter/devtools-reviewers

small clean up after merge
  packages/devtools_app/lib/src/service/editor/editor_client.dart
Owners: @flutter/devtools-reviewers

Respond to PR comments
  packages/devtools_app/lib/src/screens/inspector/inspector_controller.dart
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_controller.dart
  packages/devtools_app/lib/src/shared/diagnostics/inspector_service.dart
Owners: @elliette, @flutter/devtools-reviewers

Update docs
  CONTRIBUTING.md
Owners: @flutter/devtools-reviewers

Support connecting debug mode DevTools app to DevTools server (#8621)
  packages/devtools_app/lib/src/extensions/embedded/_controller_web.dart
  packages/devtools_app/lib/src/shared/analytics/_analytics_web.dart
  packages/devtools_app/lib/src/shared/config_specific/framework_initialize/_framework_initialize_web.dart
  packages/devtools_app/lib/src/shared/preferences/preferences.dart
  packages/devtools_app/lib/src/shared/server/server.dart
  packages/devtools_app/lib/src/shared/server/server_api_client.dart
  packages/devtools_app/web/flutter_bootstrap.js
  tool/lib/commands/serve.dart
  tool/lib/utils.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

whitespace
  CONTRIBUTING.md
Owners: @flutter/devtools-reviewers

dart doc
  tool/lib/commands/run.dart
Owners: @kenzieschmoll

Don't show an error when selecting an on-device implementation widget (#8625)
  packages/devtools_app/lib/src/screens/inspector/inspector_controller.dart
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_controller.dart
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_tree_controller.dart
  packages/devtools_app/lib/src/shared/console/eval/inspector_tree_v2.dart
  packages/devtools_app/lib/src/shared/diagnostics/inspector_service.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/test/screens/inspector_v2/inspector_integration_test.dart
Owners: @elliette, @flutter/devtools-reviewers

spacing
  tool/lib/commands/serve.dart
Owners: @kenzieschmoll

Add a `dt run` command with better stdout handling (#8630)
  CONTRIBUTING.md
  packages/devtools_app/lib/src/shared/preferences/preferences.dart
  packages/devtools_app/lib/src/shared/server/server.dart
  tool/lib/commands/build.dart
  tool/lib/commands/run.dart
  tool/lib/commands/serve.dart
  tool/lib/commands/shared.dart
  tool/lib/devtools_command_runner.dart
  tool/lib/utils.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

Update pubspec.yaml
  packages/devtools_app/pubspec.yaml
Owners: none

Update pubspec.yaml
  packages/devtools_app/pubspec.yaml
Owners: none

Fix property editor tests
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_controller.dart
  packages/devtools_app/test/standalone_ui/ide_shared/property_editor_test.dart
Owners: @flutter/devtools-reviewers

Squash merge changes from https://github.com/flutter/devtools/pull/8631
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_controller.dart
  packages/devtools_app/test/standalone_ui/ide_shared/property_editor_test.dart
Owners: @flutter/devtools-reviewers
