Repository flutter/devtools, changes with the owners that CODEOWNERS names for each.
All owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

CODEOWNERS:

*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @elliette

# Network Files
network/            @bkonyi @kenzieschmoll

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll @bkonyi

# Memory files
memory/             @bkonyi @kenzieschmoll

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @kenzieschmoll

# DevTools extensions and related files
src/extensions/
packages/devtools_extensions/    @kenzieschmoll
packages/devtools_app_shared/    @kenzieschmoll

# package:devtools_shared code, which is used across DevTools and the Dart SDK
packages/devtools_shared/        @kenzieschmoll @bkonyi

# Version bump files.
# No owners to prevent version update spam
packages/devtools_app/lib/devtools.dart
packages/devtools_app/pubspec.yaml
packages/devtools_test/pubspec.yaml

Reformat
  packages/devtools_app/lib/src/shared/console/widgets/description.dart
Owners: @flutter/devtools-reviewers

Refresh search matches when implementation widgets are toggled on or off (#8525)
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_controller.dart
Owners: @flutter/devtools-reviewers

Hover cards don't show for primitives and null values
  packages/devtools_app/lib/src/shared/console/widgets/description.dart
Owners: @flutter/devtools-reviewers

Update package:web_benchmarks dep.
  packages/devtools_app/pubspec.yaml
Owners: none

Update package:web_benchmarks dep. (#8530)
  packages/devtools_app/pubspec.yaml
Owners: none

added tests, minor fixes
  packages/devtools_app/lib/src/screens/network/offline_network_data.dart
  packages/devtools_app/test/network/offline_data_test.dart
  packages/devtools_app/test/network/sample_network_offline_data.json
Owners: @bkonyi, @kenzieschmoll

UI scaffold for Property Editor
  packages/.vscode/launch.json
  packages/devtools_app/lib/src/shared/console/widgets/description.dart
  packages/devtools_app/lib/src/shared/feature_flags.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_sidebar.dart
  packages/devtools_app/lib/src/standalone_ui/vs_code/flutter_panel.dart
  packages/devtools_app_shared/lib/src/ui/common.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

Move analytics factories to constructors (#8399)
  packages/devtools_app/lib/src/shared/analytics/_analytics_web.dart
Owners: @flutter/devtools-reviewers

Include stack traces with unified_analytics exception events. (#8510)
  packages/devtools_app/lib/src/framework/app_error_handling.dart
  packages/devtools_app/lib/src/shared/analytics/_analytics_stub.dart
  packages/devtools_app/lib/src/shared/analytics/_analytics_web.dart
  packages/devtools_app/lib/src/shared/analytics/analytics_common.dart
  packages/devtools_app/pubspec.yaml
Owners: @flutter/devtools-reviewers

Include screen information with `unified_analytics` events and bump `unified_analytics` to 7.0.0 (#8514)
  packages/devtools_app/lib/src/shared/analytics/_analytics_web.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/web/devtools_analytics.js
Owners: @flutter/devtools-reviewers

[Inspector V2] Fixes an issue where the V2 Inspector wouldn't load after hot-restarting from legacy inspector (#8491)
  packages/devtools_app/lib/src/screens/inspector_shared/inspector_screen.dart
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_controller.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/test/inspector_v2/inspector_integration_test.dart
Owners: @flutter/devtools-reviewers

[Inspector V2] Handle selection of an implementation widget in the app (#8494)
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_controller.dart
  packages/devtools_app/lib/src/shared/notifications.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Alternating colors look nice in tables when embedded in IDE (#8498)
  packages/devtools_app/lib/src/screens/inspector/layout_explorer/ui/utils.dart
  packages/devtools_app/lib/src/screens/inspector_v2/layout_explorer/ui/utils.dart
  packages/devtools_app/lib/src/shared/common_widgets.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/test/shared/table_test.dart
  packages/devtools_app/test/test_infra/goldens/cpu_profiler/method_table_no_selection.png
  packages/devtools_app/test/test_infra/goldens/cpu_profiler/method_table_with_selection.png
  packages/devtools_app/test/test_infra/goldens/cpu_profiler/method_table_with_selection_2.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_errors_2_error_selected.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_hideable_widget_selected.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_hideable_widget_selected_from_search.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_implementation_widgets_collapsed.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_implementation_widgets_hidden.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_select_center.png
  packages/devtools_app/test/test_infra/goldens/memory/load_offline_data_trace_tab.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_empty1.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_empty2.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_selected_class.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_except_diff.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_except_single.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_scene_diff.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_scene_single.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_showAll_diff.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_showAll_single.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_three_snapshots1.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_three_snapshots2.png
  packages/devtools_app_shared/lib/src/ui/theme/theme.dart
  packages/devtools_app_shared/lib/src/ui/ui_utils.dart
Owners: @elliette, @flutter/devtools-reviewers, @bkonyi, @kenzieschmoll

Bump version to 2.40.2
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Fix errors with refresh inspector code
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_controller.dart
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_screen_body.dart
Owners: @flutter/devtools-reviewers

Uncomment assert and remove todo
  packages/devtools_app/lib/src/screens/profiler/cpu_profile_transformer.dart
Owners: @kenzieschmoll, @bkonyi

formatting
  packages/devtools_app/lib/src/screens/profiler/cpu_profile_transformer.dart
Owners: @kenzieschmoll, @bkonyi

Uncomment assert and remove todo (#8535)
  packages/devtools_app/lib/src/screens/profiler/cpu_profile_transformer.dart
Owners: @kenzieschmoll, @bkonyi

wip
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_sidebar.dart
  packages/devtools_app/lib/src/standalone_ui/vs_code/flutter_panel.dart
  packages/devtools_app/test/standalone_ui/ide_shared/property_editor_test.dart
Owners: @flutter/devtools-reviewers

Update goldens
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_errors_1_initial_load.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_implementation_widgets_expanded.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_initial_load.png
  packages/devtools_app/test/test_infra/goldens/memory/load_offline_data_profile_tab.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_empty1.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_empty2.png
Owners: @flutter/devtools-reviewers, @bkonyi, @kenzieschmoll

fixes
  packages/devtools_app/lib/src/shared/file_import.dart
  packages/devtools_app/test/debugger/debugger_codeview_statistics_test.dart
  packages/devtools_app/test/debugger/program_explorer_test.dart
  packages/devtools_app/test/vm_developer/object_inspector/object_inspector_view_test.dart
  packages/devtools_test/pubspec.yaml
  tool/pubspec.yaml
Owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

format tool/
  tool/analysis_options.yaml
  tool/bin/dt.dart
  tool/cpu_sample_intervals.dart
  tool/json_to_map.dart
  tool/lib/commands/build.dart
  tool/lib/commands/fix_goldens.dart
  tool/lib/commands/generate_code.dart
  tool/lib/commands/pub_get.dart
  tool/lib/commands/release_helper.dart
  tool/lib/commands/release_notes_helper.dart
  tool/lib/commands/repo_check.dart
  tool/lib/commands/rollback.dart
  tool/lib/commands/serve.dart
  tool/lib/commands/shared.dart
  tool/lib/commands/sync.dart
  tool/lib/commands/tag_version.dart
  tool/lib/commands/update_dart_sdk_deps.dart
  tool/lib/commands/update_flutter_sdk.dart
  tool/lib/commands/update_perfetto.dart
  tool/lib/commands/update_version.dart
  tool/lib/devtools_command_runner.dart
  tool/lib/license_utils.dart
  tool/lib/model.dart
  tool/lib/utils.dart
  tool/test/license_utils_test.dart
Owners: @kenzieschmoll

format devtools_test
  packages/devtools_test/lib/src/helpers/actions.dart
  packages/devtools_test/lib/src/helpers/utils.dart
  packages/devtools_test/lib/src/helpers/wrappers.dart
  packages/devtools_test/lib/src/integration_test/integration_test_utils.dart
  packages/devtools_test/lib/src/mocks/fake_isolate_manager.dart
  packages/devtools_test/lib/src/mocks/fake_program_explorer_controller.dart
  packages/devtools_test/lib/src/mocks/fake_service_extension_manager.dart
  packages/devtools_test/lib/src/mocks/fake_service_manager.dart
  packages/devtools_test/lib/src/mocks/fake_vm_service_wrapper.dart
  packages/devtools_test/lib/src/mocks/generated_mocks_factories.dart
  packages/devtools_test/lib/src/mocks/mocks.dart
Owners: @flutter/devtools-reviewers

format generated code
  tool/lib/commands/generate_code.dart
Owners: @kenzieschmoll

removed repetitive expect statements
  packages/devtools_app/test/network/offline_data_test.dart
Owners: @bkonyi, @kenzieschmoll

[Inspector V2] Add a border around the message that no widget is selected (#8524)
  packages/devtools_app/lib/src/screens/inspector_v2/widget_details.dart
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_errors_1_initial_load.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_implementation_widgets_expanded.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_initial_load.png
  packages/devtools_app/test/test_infra/goldens/memory/load_offline_data_profile_tab.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_empty1.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_empty2.png
Owners: @flutter/devtools-reviewers, @bkonyi, @kenzieschmoll

fix tests
  packages/devtools_app/benchmark/web_bundle_size_test.dart
  tool/lib/commands/generate_code.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

goldens
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_hideable_widget_selected.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_hideable_widget_selected_from_search.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_implementation_widgets_expanded.png
  packages/devtools_app/test/test_infra/goldens/memory/load_offline_data_profile_tab.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_empty1.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_empty2.png
Owners: @flutter/devtools-reviewers, @bkonyi, @kenzieschmoll

goldens
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_implementation_widgets_expanded.png
Owners: @flutter/devtools-reviewers

fix parser golden
  packages/devtools_app/test/test_infra/goldens/syntax_highlighting/string_interpolation.dart.golden
Owners: @flutter/devtools-reviewers

inspector golden change
  packages/devtools_app/test/test_infra/goldens/inspector_service_node_no_summary.txt
  packages/devtools_app/test/test_infra/goldens/inspector_service_tree_no_summary.txt
Owners: @flutter/devtools-reviewers

Add test cases
  packages/devtools_app/test/standalone_ui/ide_shared/property_editor_test.dart
Owners: @flutter/devtools-reviewers

Clean up
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_sidebar.dart
  packages/devtools_app/test/standalone_ui/ide_shared/property_editor_test.dart
Owners: @flutter/devtools-reviewers

minor fix
  packages/devtools_app/lib/src/screens/network/network_screen.dart
Owners: @bkonyi, @kenzieschmoll

Respond to PR comments
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_sidebar.dart
  packages/devtools_app/lib/src/standalone_ui/vs_code/flutter_panel.dart
  packages/devtools_app/test/shared/primitives/feature_flags_test.dart
  packages/devtools_app/test/standalone_ui/ide_shared/property_editor_test.dart
Owners: @flutter/devtools-reviewers

Remove expanded
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_sidebar.dart
Owners: @flutter/devtools-reviewers

added timelineMicrosOffset to offline data
  packages/devtools_app/lib/src/screens/network/network_controller.dart
  packages/devtools_app/lib/src/screens/network/offline_network_data.dart
Owners: @bkonyi, @kenzieschmoll

added timelineMicrosOffset to tests
  packages/devtools_app/lib/src/screens/network/offline_network_data.dart
  packages/devtools_app/test/network/offline_data_test.dart
Owners: @bkonyi, @kenzieschmoll

Respond to PR comments
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_sidebar.dart
  packages/devtools_app/test/standalone_ui/ide_shared/property_editor_test.dart
Owners: @flutter/devtools-reviewers

Migrate DevTools to use pub workspaces
  analysis_options.yaml
  packages/devtools_app/analysis_options.yaml
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/macos/Flutter/GeneratedPluginRegistrant.swift
  packages/devtools_app/pubspec.yaml
  packages/devtools_app_shared/CHANGELOG.md
  packages/devtools_app_shared/analysis_options.yaml
  packages/devtools_app_shared/pubspec.yaml
  packages/devtools_extensions/CHANGELOG.md
  packages/devtools_extensions/analysis_options.yaml
  packages/devtools_extensions/pubspec.yaml
  packages/devtools_shared/CHANGELOG.md
  packages/devtools_shared/analysis_options.yaml
  packages/devtools_shared/pubspec.yaml
  packages/devtools_test/analysis_options.yaml
  packages/devtools_test/pubspec.yaml
  packages/pubspec.yaml
  pubspec.yaml
  tool/analysis_options.yaml
  tool/pubspec.yaml
Owners: @flutter/devtools-reviewers, @kenzieschmoll, @bkonyi
