Repository flutter/devtools, changes with the owners that CODEOWNERS names for each.
All owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

CODEOWNERS:

*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @elliette

# Network Files
network/            @bkonyi @kenzieschmoll

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll @bkonyi

# Memory files
memory/             @bkonyi @kenzieschmoll

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @kenzieschmoll

# DevTools extensions and related files
src/extensions/
packages/devtools_extensions/    @kenzieschmoll
packages/devtools_app_shared/    @kenzieschmoll

# package:devtools_shared code, which is used across DevTools and the Dart SDK
packages/devtools_shared/        @kenzieschmoll @bkonyi

# Version bump files.
# No owners to prevent version update spam
packages/devtools_app/lib/devtools.dart
packages/devtools_app/pubspec.yaml
packages/devtools_test/pubspec.yaml

Hide footer on null
  packages/devtools_app/lib/src/shared/console/console.dart
Owners: @flutter/devtools-reviewers

Do 1 << 31 instead.
  packages/devtools_app/lib/src/screens/performance/panes/timeline_events/timeline_events_controller.dart
Owners: @kenzieschmoll

Decrease ring buffer size to 2^31 - 1 which is wasm limit (#9341)
  packages/devtools_app/lib/src/screens/performance/panes/timeline_events/timeline_events_controller.dart
Owners: @kenzieschmoll

Use service extension in networking integration test (#9323)
  packages/devtools_app/integration_test/test/live_connection/network_screen_test.dart
  packages/devtools_app/integration_test/test_infra/run/_test_app_driver.dart
  packages/devtools_app/integration_test/test_infra/run/run_test.dart
  packages/devtools_app/test/test_infra/fixtures/networking_app/bin/main.dart
  packages/devtools_extensions/lib/src/template/devtools_extension.dart
  packages/devtools_test/lib/src/integration_test/integration_test_utils.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

Don't assume footer is present in _ConsoleOutputState builder. (#9342)
  packages/devtools_app/lib/src/shared/console/console.dart
Owners: @flutter/devtools-reviewers

Enable `ColumnData` and subclasses to be const (#9326)
  packages/devtools_app/lib/src/screens/app_size/app_size_table.dart
  packages/devtools_app/lib/src/screens/app_size/code_size_attribution.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_link_list_view.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_model.dart
  packages/devtools_app/lib/src/screens/logging/_logs_table.dart
  packages/devtools_app/lib/src/screens/logging/_message_column.dart
  packages/devtools_app/lib/src/screens/logging/_when_column.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/widgets/class_details/paths.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/widgets/classes_table_diff.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/widgets/classes_table_single.dart
  packages/devtools_app/lib/src/screens/memory/panes/profile/profile_view.dart
  packages/devtools_app/lib/src/screens/memory/panes/tracing/class_table.dart
  packages/devtools_app/lib/src/screens/memory/panes/tracing/tracing_tree.dart
  packages/devtools_app/lib/src/screens/network/network_screen.dart
  packages/devtools_app/lib/src/screens/performance/panes/rebuild_stats/rebuild_stats.dart
  packages/devtools_app/lib/src/screens/profiler/panes/bottom_up.dart
  packages/devtools_app/lib/src/screens/profiler/panes/call_tree.dart
  packages/devtools_app/lib/src/screens/profiler/panes/cpu_profile_columns.dart
  packages/devtools_app/lib/src/screens/profiler/panes/method_table/method_table.dart
  packages/devtools_app/lib/src/screens/vm_developer/object_inspector/object_store.dart
  packages/devtools_app/lib/src/screens/vm_developer/object_inspector/vm_code_display.dart
  packages/devtools_app/lib/src/screens/vm_developer/object_inspector/vm_object_pool_display.dart
  packages/devtools_app/lib/src/screens/vm_developer/process_memory/process_memory_tree_columns.dart
  packages/devtools_app/lib/src/screens/vm_developer/process_memory/process_memory_view.dart
  packages/devtools_app/lib/src/screens/vm_developer/vm_statistics/vm_statistics_view.dart
  packages/devtools_app/lib/src/shared/table/table_data.dart
  packages/devtools_app/lib/src/shared/ui/vm_flag_widgets.dart
  packages/devtools_app/test/screens/logging/logging_screen_test.dart
  packages/devtools_app/test/screens/network/network_table_test.dart
Owners: @flutter/devtools-reviewers, @bkonyi, @kenzieschmoll

Address review comments
  packages/devtools_app/lib/src/screens/performance/panes/flutter_frames/flutter_frame_model.dart
  packages/devtools_app/lib/src/screens/profiler/cpu_profile_model.dart
  packages/devtools_app/lib/src/shared/primitives/utils.dart
  packages/devtools_app/test/screens/cpu_profiler/cpu_profiler_test.dart
  packages/devtools_app/test/shared/primitives/utils_test.dart
  packages/devtools_app/test/test_infra/test_data/cpu_profiler/cpu_profile.dart
Owners: @kenzieschmoll, @bkonyi, @flutter/devtools-reviewers

Updating from 2.49.0-dev.0 to 2.49.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Touch up cherry-picking instructions
  tool/RELEASE_INSTRUCTIONS.md
Owners: @kenzieschmoll

Do not mark service extensions as 'added' so eagerly (#9271)
  packages/devtools_app/lib/src/screens/network/network_service.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app_shared/lib/service.dart
  packages/devtools_app_shared/lib/src/service/rpc_error_extension.dart
  packages/devtools_app_shared/lib/src/service/service_extension_manager.dart
Owners: @bkonyi, @kenzieschmoll, @flutter/devtools-reviewers

Prepare cherry-pick release - DevTools 2.45.2
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Touch up cherry-picking instructions (#9347)
  tool/RELEASE_INSTRUCTIONS.md
Owners: @kenzieschmoll

Fix network tests
  packages/devtools_app/test/screens/network/network_profiler_test.dart
Owners: @bkonyi, @kenzieschmoll

Fix tests
  packages/devtools_app/lib/src/screens/vm_developer/object_inspector/vm_library_display.dart
  packages/devtools_app/test/framework/scaffold/about_dialog_test.dart
  packages/devtools_app/test/screens/logging/logging_screen_data_test.dart
  packages/devtools_app/test/screens/vm_developer/object_inspector/vm_library_display_test.dart
Owners: @bkonyi, @flutter/devtools-reviewers

Avoid conflating concept of duration in `TimeRange` util class (#9325)
  packages/devtools_app/lib/src/screens/network/network_request_inspector_views.dart
  packages/devtools_app/lib/src/screens/performance/panes/flutter_frames/flutter_frame_model.dart
  packages/devtools_app/lib/src/screens/performance/panes/flutter_frames/flutter_frames_controller.dart
  packages/devtools_app/lib/src/screens/performance/panes/frame_analysis/frame_analysis_model.dart
  packages/devtools_app/lib/src/screens/performance/panes/timeline_events/perfetto/_perfetto_web.dart
  packages/devtools_app/lib/src/screens/performance/panes/timeline_events/timeline_event_processor.dart
  packages/devtools_app/lib/src/screens/performance/panes/timeline_events/timeline_events_controller.dart
  packages/devtools_app/lib/src/screens/performance/performance_model.dart
  packages/devtools_app/lib/src/screens/profiler/cpu_profile_model.dart
  packages/devtools_app/lib/src/shared/charts/flame_chart.dart
  packages/devtools_app/lib/src/shared/http/http_request_data.dart
  packages/devtools_app/lib/src/shared/primitives/utils.dart
  packages/devtools_app/test/screens/cpu_profiler/cpu_profile_model_test.dart
  packages/devtools_app/test/screens/cpu_profiler/cpu_profiler_test.dart
  packages/devtools_app/test/screens/cpu_profiler/method_table/method_table_model_test.dart
  packages/devtools_app/test/shared/primitives/utils_test.dart
  packages/devtools_app/test/test_infra/test_data/cpu_profiler/cpu_profile.dart
Owners: @bkonyi, @kenzieschmoll, @flutter/devtools-reviewers

Updating from 2.49.0-dev.0 to 2.49.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.49.0-dev.0 to 2.49.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.49.0-dev.0 to 2.49.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.49.0-dev.0 to 2.49.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Do not autofocus on filter fields (#9330)
  packages/devtools_app/lib/src/shared/ui/filter.dart
Owners: @flutter/devtools-reviewers

Update flutter candidate version
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

Delete commented out code
  packages/devtools_app/lib/src/shared/table/_table_row.dart
Owners: @flutter/devtools-reviewers

RELEASE_INSTRUCTIONS: Fix text around fields in CR
  tool/RELEASE_INSTRUCTIONS.md
Owners: @kenzieschmoll

RELEASE_INSTRUCTIONS: Fix text around fields in CR (#9350)
  tool/RELEASE_INSTRUCTIONS.md
Owners: @kenzieschmoll

Updating from 2.49.0-dev.0 to 2.49.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Use SelectionArea instead of SelectableText (#9333)
  packages/devtools_app/lib/src/framework/scaffold/about_dialog.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_model.dart
  packages/devtools_app/lib/src/screens/logging/_log_details.dart
  packages/devtools_app/lib/src/screens/logging/_message_column.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/widgets/classes_table_diff.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/widgets/classes_table_single.dart
  packages/devtools_app/lib/src/screens/memory/panes/profile/profile_view.dart
  packages/devtools_app/lib/src/screens/memory/panes/tracing/class_table.dart
  packages/devtools_app/lib/src/screens/network/network_screen.dart
  packages/devtools_app/lib/src/screens/profiler/panes/cpu_profile_columns.dart
  packages/devtools_app/lib/src/screens/profiler/panes/method_table/method_table.dart
  packages/devtools_app/lib/src/screens/vm_developer/object_inspector/object_store.dart
  packages/devtools_app/lib/src/screens/vm_developer/object_inspector/vm_code_display.dart
  packages/devtools_app/lib/src/screens/vm_developer/object_inspector/vm_instance_display.dart
  packages/devtools_app/lib/src/screens/vm_developer/object_inspector/vm_library_display.dart
  packages/devtools_app/lib/src/screens/vm_developer/object_inspector/vm_object_pool_display.dart
  packages/devtools_app/lib/src/screens/vm_developer/queued_microtasks/queued_microtasks_view.dart
  packages/devtools_app/lib/src/service/connected_app/connection_info.dart
  packages/devtools_app/lib/src/shared/analytics/prompt.dart
  packages/devtools_app/lib/src/shared/console/widgets/description.dart
  packages/devtools_app/lib/src/shared/table/_table_column.dart
  packages/devtools_app/lib/src/shared/table/_table_row.dart
  packages/devtools_app/lib/src/shared/ui/common_widgets.dart
  packages/devtools_app/test/framework/scaffold/about_dialog_test.dart
  packages/devtools_app/test/screens/logging/logging_screen_data_test.dart
  packages/devtools_app/test/screens/network/network_profiler_test.dart
  packages/devtools_app/test/screens/vm_developer/object_inspector/vm_library_display_test.dart
  packages/devtools_app_shared/lib/src/ui/common.dart
Owners: @flutter/devtools-reviewers, @bkonyi, @kenzieschmoll

Update to latest Flutter candidate version and fix failures
  flutter-candidate.txt
  packages/devtools_shared/lib/src/utils/semantic_version.dart
  packages/devtools_shared/test/semantic_version_test.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll, @bkonyi

Update to latest Flutter candidate version (#9351)
  flutter-candidate.txt
  packages/devtools_shared/lib/src/utils/semantic_version.dart
  packages/devtools_shared/test/semantic_version_test.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll, @bkonyi

Updating from 2.49.0-dev.0 to 2.49.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

WIP
  packages/devtools_app/lib/src/screens/profiler/cpu_profile_model.dart
Owners: @kenzieschmoll, @bkonyi

Switch branches
  packages/devtools_app/lib/src/screens/profiler/cpu_profile_model.dart
Owners: @kenzieschmoll, @bkonyi

Tests are passing
  packages/devtools_app/lib/src/screens/profiler/cpu_profile_model.dart
  packages/devtools_app/test/screens/cpu_profiler/cpu_profile_model_test.dart
Owners: @kenzieschmoll, @bkonyi, @flutter/devtools-reviewers

Clean up
  packages/devtools_app/lib/src/screens/profiler/cpu_profile_model.dart
Owners: @kenzieschmoll, @bkonyi

Updating from 2.49.0-dev.0 to 2.49.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Typos and grammar
  packages/devtools_app/lib/src/screens/profiler/cpu_profile_model.dart
Owners: @kenzieschmoll, @bkonyi

Updating from 2.49.0-dev.0 to 2.49.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Prepare for release 2.49.0
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Update to latest Flutter candidate version
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

Revert to previous Flutter candidate
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

Prepare for release 2.49.0 (#9356)
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none
