Repository flutter/devtools, changes with the owners that CODEOWNERS names for each.
All owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

Create `preparing-pr` skill (#9752)
  .agents/skills/preparing-pr/SKILL.md
Owners: @flutter/devtools-reviewers

address review feedback: clarify comment and fix test file ordering
  packages/devtools_app_shared/lib/src/service/isolate_manager.dart
  packages/devtools_app_shared/test/service/isolate_manager_test.dart
Owners: @kenzieschmoll

Prepare the release notes for 2.58.0
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/release_notes/images/log_details_search.png
Owners: @flutter/devtools-reviewers

Update the DCM and Flutter versions
  .github/workflows/build.yaml
  flutter-candidate.txt
  pubspec.lock
Owners: @flutter/devtools-reviewers

address review feedback on _findTestSuiteByRootLibrary
  packages/devtools_app_shared/lib/src/service/isolate_manager.dart
  packages/devtools_app_shared/test/service/isolate_manager_test.dart
Owners: @kenzieschmoll

fix dcm errors
  packages/devtools_app/lib/src/shared/console/eval/auto_complete.dart
  packages/devtools_shared/lib/src/extensions/extension_model.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll, @bkonyi

fix tests
  packages/devtools_app/benchmark/web_bundle_size_test.dart
  packages/devtools_app/test/test_infra/goldens/extensions/settings_state_modified.png
  packages/devtools_app/test/test_infra/goldens/memory/load_offline_data_profile_tab.png
  packages/devtools_app/test/test_infra/goldens/memory/load_offline_data_trace_tab.png
  packages/devtools_app/test/test_infra/goldens/memory_chart_scaled_all.png
  packages/devtools_app/test/test_infra/goldens/memory_chart_scaled_five_minute.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_empty1.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_empty2.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_selected_class.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_except_diff.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_except_single.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_scene_diff.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_scene_single.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_showAll_diff.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_showAll_single.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_three_snapshots1.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_three_snapshots2.png
Owners: @flutter/devtools-reviewers, @bkonyi, @kenzieschmoll

Prepare the release notes for 2.58.0 (#9766)
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/release_notes/images/log_details_search.png
Owners: @flutter/devtools-reviewers

raise cpu profile benchmark limit
  packages/devtools_app/test/screens/cpu_profiler/cpu_profile_benchmark_test.dart
Owners: @flutter/devtools-reviewers

Added size support to network tab
  packages/devtools_app/lib/src/screens/network/network_model.dart
  packages/devtools_app/lib/src/screens/network/network_request_inspector_views.dart
  packages/devtools_app/lib/src/screens/network/network_screen.dart
  packages/devtools_app/lib/src/shared/http/http_request_data.dart
Owners: @bkonyi, @kenzieschmoll, @flutter/devtools-reviewers

Added release notes entry for network response size feature
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Fix lint: match parameter names with base class
  packages/devtools_app/lib/src/screens/network/network_screen.dart
Owners: @bkonyi, @kenzieschmoll

Addressed Requested changes: update size units, refactor column definition, simplify code, and revert unnecessary changes
  packages/devtools_app/lib/src/screens/network/network_request_inspector_views.dart
  packages/devtools_app/lib/src/screens/network/network_screen.dart
  packages/devtools_app/lib/src/shared/http/http_request_data.dart
Owners: @bkonyi, @kenzieschmoll, @flutter/devtools-reviewers

Fix lint: correct parameter name in AddressColumn
  packages/devtools_app/lib/src/screens/network/network_screen.dart
Owners: @bkonyi, @kenzieschmoll

Fix parameter name to match ColumnData override
  packages/devtools_app/lib/src/screens/network/network_screen.dart
Owners: @bkonyi, @kenzieschmoll

Fix type handling for content-length header in responseBytes
  packages/devtools_app/lib/src/shared/http/http_request_data.dart
Owners: @flutter/devtools-reviewers

Added documentation for byte formatting
  packages/devtools_app/lib/src/screens/network/network_request_inspector_views.dart
  packages/devtools_app/lib/src/screens/network/network_screen.dart
Owners: @bkonyi, @kenzieschmoll

Addressed Rquested Changes: refactor formatBytes into http_utils, update units and added tests for responseBytes & formatBytes
  packages/devtools_app/lib/src/screens/network/network_request_inspector_views.dart
  packages/devtools_app/lib/src/screens/network/network_screen.dart
  packages/devtools_app/lib/src/screens/network/utils/http_utils.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/test/shared/http/http_request_data_test.dart
  packages/devtools_app/test/shared/http/http_utils_test.dart
Owners: @bkonyi, @kenzieschmoll, @flutter/devtools-reviewers

Fix layout spacing to ensure consistent widget tree
  packages/devtools_app/lib/src/screens/network/network_request_inspector_views.dart
Owners: @bkonyi, @kenzieschmoll

Fix variable placement for response size rendering
  packages/devtools_app/lib/src/screens/network/network_request_inspector_views.dart
  packages/devtools_app/lib/src/screens/network/network_screen.dart
Owners: @bkonyi, @kenzieschmoll

Resolve merge conflict in release notes
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

fix: failed tests
  packages/devtools_app/test/shared/http/http_request_data_test.dart
Owners: @flutter/devtools-reviewers

fix: baseJson missing parameter
  packages/devtools_app/test/shared/http/http_request_data_test.dart
Owners: @flutter/devtools-reviewers

fix : formatBytes test fail
  packages/devtools_app/lib/src/screens/network/utils/http_utils.dart
Owners: @bkonyi, @kenzieschmoll

NEXT_RELEASE_NOTES.md sync
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Fix formatting and add release note
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/test/screens/performance/performance_screen_test.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

Clean release notes before rebase
  pubspec.lock
Owners: @flutter/devtools-reviewers

move logic to DisplayProvider and make it the primary class
  packages/devtools_app/lib/src/shared/console/widgets/display_provider.dart
Owners: @flutter/devtools-reviewers

Resolve merge conflict in release notes
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Revert unintended changes to pubspec.lock
  pubspec.lock
Owners: @flutter/devtools-reviewers

Resolve merge conflict in release notes
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Update the DCM and Flutter versions (#9767)
  .github/workflows/build.yaml
  flutter-candidate.txt
  packages/devtools_app/benchmark/web_bundle_size_test.dart
  packages/devtools_app/lib/src/shared/console/eval/auto_complete.dart
  packages/devtools_app/test/screens/cpu_profiler/cpu_profile_benchmark_test.dart
  packages/devtools_app/test/test_infra/goldens/extensions/settings_state_modified.png
  packages/devtools_app/test/test_infra/goldens/memory/load_offline_data_profile_tab.png
  packages/devtools_app/test/test_infra/goldens/memory/load_offline_data_trace_tab.png
  packages/devtools_app/test/test_infra/goldens/memory_chart_scaled_all.png
  packages/devtools_app/test/test_infra/goldens/memory_chart_scaled_five_minute.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_empty1.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_empty2.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_selected_class.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_except_diff.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_except_single.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_scene_diff.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_scene_single.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_showAll_diff.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_showAll_single.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_three_snapshots1.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_three_snapshots2.png
  packages/devtools_shared/lib/src/extensions/extension_model.dart
  pubspec.lock
Owners: @flutter/devtools-reviewers, @bkonyi, @kenzieschmoll

fix: align release notes with 2.58.0 and reviewer feedback
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

style: format performance_screen_test
  packages/devtools_app/test/screens/performance/performance_screen_test.dart
Owners: @kenzieschmoll

fix: restore removed tests and apply only required changes
  build/native_assets/windows/native_assets.json
  build/unit_test_assets/AssetManifest.bin
  build/unit_test_assets/FontManifest.json
  build/unit_test_assets/NOTICES.Z
  build/unit_test_assets/NativeAssetsManifest.json
  build/unit_test_assets/shaders/ink_sparkle.frag
  build/unit_test_assets/shaders/stretch_effect.frag
  packages/devtools_app/test/screens/performance/performance_screen_test.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

style: format file and add required comments
  packages/devtools_app/test/screens/performance/performance_screen_test.dart
Owners: @kenzieschmoll

fix: properly remove build artifacts
  build/native_assets/windows/native_assets.json
  build/unit_test_assets/AssetManifest.bin
  build/unit_test_assets/FontManifest.json
  build/unit_test_assets/NOTICES.Z
  build/unit_test_assets/NativeAssetsManifest.json
  build/unit_test_assets/shaders/ink_sparkle.frag
  build/unit_test_assets/shaders/stretch_effect.frag
Owners: @flutter/devtools-reviewers

Fix main isolate auto-selection for test suite isolates
  packages/devtools_app_shared/lib/src/service/isolate_manager.dart
  packages/devtools_app_shared/test/service/isolate_manager_test.dart
Owners: @kenzieschmoll

address review feedback on _findTestSuiteByRootLibrary
  packages/devtools_app_shared/lib/src/service/isolate_manager.dart
  packages/devtools_app_shared/test/service/isolate_manager_test.dart
Owners: @kenzieschmoll

address review feedback: clarify comment and fix test file ordering
  packages/devtools_app_shared/lib/src/service/isolate_manager.dart
  packages/devtools_app_shared/test/service/isolate_manager_test.dart
Owners: @kenzieschmoll

CODEOWNERS:

*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @elliette

# Network Files
network/            @bkonyi @kenzieschmoll

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll @bkonyi

# Memory files
memory/             @bkonyi @kenzieschmoll

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @kenzieschmoll

# DevTools extensions and related files
src/extensions/
packages/devtools_extensions/    @kenzieschmoll
packages/devtools_app_shared/    @kenzieschmoll

# package:devtools_shared code, which is used across DevTools and the Dart SDK
packages/devtools_shared/        @kenzieschmoll @bkonyi

# Version bump files.
# No owners to prevent version update spam
packages/devtools_app/lib/devtools.dart
packages/devtools_app/pubspec.yaml
packages/devtools_test/pubspec.yaml
