Repository flutter/devtools, changes with the owners that CODEOWNERS names for each.
All owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

CODEOWNERS:

*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @elliette

# Network Files
network/            @bkonyi @kenzieschmoll

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll @bkonyi

# Memory files
memory/             @bkonyi @kenzieschmoll

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @kenzieschmoll

# DevTools extensions and related files
src/extensions/
packages/devtools_extensions/    @kenzieschmoll
packages/devtools_app_shared/    @kenzieschmoll

# package:devtools_shared code, which is used across DevTools and the Dart SDK
packages/devtools_shared/        @kenzieschmoll @bkonyi

# Version bump files.
# No owners to prevent version update spam
packages/devtools_app/lib/devtools.dart
packages/devtools_app/pubspec.yaml
packages/devtools_test/pubspec.yaml

increase benchmark thresholds
  packages/devtools_app/benchmark/devtools_benchmarks_test.dart
Owners: @flutter/devtools-reviewers

Add a launch configuration for experimental hot reload (#8894)
  .vscode/launch.json
Owners: @flutter/devtools-reviewers

revert offlinePerformanceScreen change
  packages/devtools_app/benchmark/devtools_benchmarks_test.dart
Owners: @flutter/devtools-reviewers

Improvements to CPU profile loading (#8892)
  packages/devtools_app/benchmark/devtools_benchmarks_test.dart
  packages/devtools_app/lib/src/screens/profiler/cpu_profile_model.dart
  packages/devtools_app/lib/src/screens/profiler/cpu_profile_transformer.dart
  packages/devtools_app/lib/src/shared/constants.dart
  packages/devtools_app/lib/src/shared/utils/profiler_utils.dart
  packages/devtools_app/test/screens/cpu_profiler/cpu_profile_transformer_test.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll, @bkonyi

Include referrers in memory snapshots
  packages/devtools_app/lib/src/screens/memory/shared/primitives/memory_utils.dart
Owners: @bkonyi, @kenzieschmoll

release notes
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Include referrers in memory snapshots (#8899)
  packages/devtools_app/lib/src/screens/memory/shared/primitives/memory_utils.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @bkonyi, @kenzieschmoll, @flutter/devtools-reviewers

Fix load time analytics for Inspector V2
  packages/devtools_app/lib/src/screens/inspector/inspector_tree_controller.dart
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_controller.dart
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_screen_body.dart
Owners: @elliette, @flutter/devtools-reviewers

clean up
  packages/devtools_app/lib/src/screens/inspector/inspector_tree_controller.dart
Owners: @elliette

Abbreviate labels
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_view.dart
Owners: @flutter/devtools-reviewers

Format
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_view.dart
Owners: @flutter/devtools-reviewers

Fix memory management issue with the table widget
  packages/devtools_app/lib/src/shared/table/_flat_table.dart
  packages/devtools_app/lib/src/shared/table/table.dart
  packages/devtools_app/lib/src/shared/table/table_controller.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Ensure TextPainters are disposed when possible.
  packages/devtools_app/lib/src/screens/performance/panes/flutter_frames/flutter_frames_chart.dart
  packages/devtools_app/lib/src/shared/charts/chart.dart
  packages/devtools_app/lib/src/shared/charts/flame_chart.dart
  packages/devtools_app/lib/src/shared/charts/treemap.dart
  packages/devtools_app/lib/src/shared/framework/screen.dart
  packages/devtools_app/lib/src/shared/ui/hover.dart
  packages/devtools_app/lib/src/shared/ui/utils.dart
Owners: @kenzieschmoll, @flutter/devtools-reviewers

Update string_scanner to 1.4
  packages/devtools_app/pubspec.yaml
Owners: none

Update NEXT_RELEASE_NOTES.md
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Migrate new usages as well
  packages/devtools_app/lib/src/screens/network/network_controller.dart
Owners: @bkonyi, @kenzieschmoll

Clean up and simplify a few cases
  packages/devtools_app/lib/src/screens/vm_developer/object_inspector/vm_ic_data_display.dart
  packages/devtools_app_shared/lib/src/service/service_utils.dart
Owners: @bkonyi, @kenzieschmoll

Update string_scanner to 1.4 (#8904)
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Restructure class to avoid positional record field access
  packages/devtools_app/lib/src/screens/vm_developer/object_inspector/vm_ic_data_display.dart
Owners: @bkonyi

bump golden
  packages/devtools_app/test/test_infra/goldens/codeview_scrollbars.png
Owners: @flutter/devtools-reviewers

Add back in metrics
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_controller.dart
Owners: @flutter/devtools-reviewers

Make labels smaller
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_view.dart
Owners: @flutter/devtools-reviewers

Utilize new `wait` extension methods (#8619)
  packages/devtools_app/lib/src/extensions/extension_service.dart
  packages/devtools_app/lib/src/screens/debugger/breakpoint_manager.dart
  packages/devtools_app/lib/src/screens/debugger/debugger_controller.dart
  packages/devtools_app/lib/src/screens/debugger/program_explorer_controller.dart
  packages/devtools_app/lib/src/screens/debugger/variables.dart
  packages/devtools_app/lib/src/screens/inspector/inspector_controller.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/controller/diff_pane_controller.dart
  packages/devtools_app/lib/src/screens/memory/panes/tracing/tracing_data.dart
  packages/devtools_app/lib/src/screens/network/network_controller.dart
  packages/devtools_app/lib/src/screens/performance/panes/controls/enhance_tracing/enhance_tracing.dart
  packages/devtools_app/lib/src/screens/performance/performance_controller.dart
  packages/devtools_app/lib/src/screens/vm_developer/object_inspector/class_hierarchy_explorer_controller.dart
  packages/devtools_app/lib/src/screens/vm_developer/object_inspector/vm_ic_data_display.dart
  packages/devtools_app/lib/src/screens/vm_developer/object_inspector/vm_instance_display.dart
  packages/devtools_app/lib/src/screens/vm_developer/vm_statistics/vm_statistics_view_controller.dart
  packages/devtools_app/lib/src/shared/console/eval/auto_complete.dart
  packages/devtools_app/lib/src/shared/console/widgets/description.dart
  packages/devtools_app/lib/src/shared/console/widgets/expandable_variable.dart
  packages/devtools_app/lib/src/shared/diagnostics/tree_builder.dart
  packages/devtools_app/lib/src/shared/diagnostics/variable_factory.dart
  packages/devtools_app/lib/src/shared/editor/editor_client.dart
  packages/devtools_app/lib/src/shared/primitives/custom_pointer_scroll_view.dart
  packages/devtools_app/lib/src/shared/ui/common_widgets.dart
  packages/devtools_app/test/test_infra/flutter_test_driver.dart
  packages/devtools_app/test/test_infra/scenes/standalone_ui/editor_service/simulated_editor.dart
  packages/devtools_app_shared/lib/src/service/connected_app.dart
  packages/devtools_app_shared/lib/src/service/isolate_manager.dart
  packages/devtools_app_shared/lib/src/service/service_extension_manager.dart
  packages/devtools_app_shared/lib/src/service/service_manager.dart
  packages/devtools_app_shared/lib/src/service/service_utils.dart
  packages/devtools_shared/lib/src/server/handlers/_general.dart
  packages/devtools_shared/lib/src/test/cli_test_driver.dart
  packages/devtools_shared/lib/src/test/io_utils.dart
  packages/devtools_test/lib/src/helpers/utils.dart
Owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

Committed in wrong directory
  packages/devtools_app_shared/lib/src/ui/common.dart
Owners: @kenzieschmoll

Fix padding logic
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_view.dart
Owners: @flutter/devtools-reviewers

feedback
  packages/devtools_app/lib/src/screens/performance/panes/flutter_frames/flutter_frames_chart.dart
  packages/devtools_app/lib/src/shared/charts/chart.dart
  packages/devtools_app/lib/src/shared/charts/treemap.dart
Owners: @kenzieschmoll, @flutter/devtools-reviewers

fix errors
  packages/devtools_app_shared/lib/src/ui/common.dart
Owners: @kenzieschmoll

Respond to PR comments
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_inputs.dart
Owners: @flutter/devtools-reviewers

Fix test
  packages/devtools_app/test/standalone_ui/ide_shared/property_editor_test.dart
Owners: @flutter/devtools-reviewers

[Inspector V2] Fix bug preventing us from capturing initial load time for the V2 inspector (#8900)
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_controller.dart
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_screen_body.dart
Owners: @flutter/devtools-reviewers

[Property Editor] Indicate default option in dropdown input (#8891)
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_inputs.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_types.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_view.dart
  packages/devtools_app/test/standalone_ui/ide_shared/property_editor_test.dart
  packages/devtools_app_shared/lib/src/ui/common.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

revert a bit
  packages/devtools_app/lib/src/screens/debugger/codeview.dart
  packages/devtools_app/lib/src/shared/ui/utils.dart
Owners: @elliette, @flutter/devtools-reviewers

Fix memory management issue with the table widget (#8901)
  packages/devtools_app/lib/src/shared/table/_flat_table.dart
  packages/devtools_app/lib/src/shared/table/table.dart
  packages/devtools_app/lib/src/shared/table/table_controller.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

goldens
  packages/devtools_app/test/test_infra/goldens/codeview_scrollbars.png
Owners: @flutter/devtools-reviewers

fix a lifecycle issue with where inspector tree controllers are disposed
  packages/devtools_app/lib/src/screens/inspector/inspector_screen_body.dart
  packages/devtools_app/lib/src/screens/inspector_shared/inspector_screen_controller.dart
Owners: @elliette, @flutter/devtools-reviewers

use legacy init
  packages/devtools_app/lib/src/framework/screen_controllers.dart
  packages/devtools_app/lib/src/screens/inspector_shared/inspector_screen_controller.dart
Owners: @flutter/devtools-reviewers

remove file
  packages/devtools_app/lib/src/framework/screen_controllers.dart
Owners: @flutter/devtools-reviewers

v2 change
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_screen_body.dart
Owners: @flutter/devtools-reviewers

release notes
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Ensure TextPainters are disposed when possible. (#8902)
  packages/devtools_app/lib/src/screens/debugger/codeview.dart
  packages/devtools_app/lib/src/screens/performance/panes/flutter_frames/flutter_frames_chart.dart
  packages/devtools_app/lib/src/shared/charts/chart.dart
  packages/devtools_app/lib/src/shared/charts/flame_chart.dart
  packages/devtools_app/lib/src/shared/charts/treemap.dart
  packages/devtools_app/lib/src/shared/framework/screen.dart
  packages/devtools_app/lib/src/shared/ui/hover.dart
  packages/devtools_app/lib/src/shared/ui/utils.dart
  packages/devtools_app/test/test_infra/goldens/codeview_scrollbars.png
Owners: @elliette, @kenzieschmoll, @flutter/devtools-reviewers
