Repository flutter/devtools, changes with the owners that CODEOWNERS names for each.
All owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

Updating from 2.56.0-dev.0 to 2.56.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
  pubspec.lock
Owners: @flutter/devtools-reviewers

Prepare for release 2.56.0
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
  pubspec.lock
Owners: @flutter/devtools-reviewers

Update to latest Flutter candidate
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

Remove visibleForTesting annotation and fix analyzer warnings
  packages/devtools_app/lib/src/screens/network/har_data_entry.dart
  packages/devtools_app/lib/src/shared/http/http_request_data.dart
Owners: @bkonyi, @kenzieschmoll, @flutter/devtools-reviewers

Prepare for release 2.56.0 (#9681)
  flutter-candidate.txt
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
  pubspec.lock
Owners: @flutter/devtools-reviewers

Reset DevTools to next dev version
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Prevent crash when decoding binary multipart request bodies (#9680)
  packages/devtools_app/lib/src/screens/network/constants.dart
  packages/devtools_app/lib/src/screens/network/har_data_entry.dart
  packages/devtools_app/lib/src/shared/http/http_request_data.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @bkonyi, @kenzieschmoll, @flutter/devtools-reviewers

Fix cancelled HTTP requests showing as Pending in DevTools Network tab
  packages/devtools_app/lib/src/screens/network/network_request_inspector_views.dart
  packages/devtools_app/lib/src/shared/http/http_request_data.dart
  packages/devtools_app/lib/src/shared/primitives/custom_pointer_scroll_view.dart
  packages/devtools_app/test/screens/network/network_model_test.dart
  packages/devtools_app/test/screens/network/network_table_test.dart
Owners: @bkonyi, @kenzieschmoll, @flutter/devtools-reviewers

Update to latest Flutter candidate
  flutter-candidate.txt
  pubspec.lock
  third_party/packages/perfetto_ui_compiled/pubspec.lock
  third_party/packages/widget_icons/example/pubspec.lock
  third_party/packages/widget_icons/pubspec.lock
Owners: @flutter/devtools-reviewers

remove 3p locks
  .gitignore
  third_party/packages/perfetto_ui_compiled/pubspec.lock
  third_party/packages/widget_icons/pubspec.lock
Owners: @flutter/devtools-reviewers

remove 3p example lock
  third_party/packages/widget_icons/example/pubspec.lock
Owners: @flutter/devtools-reviewers

Upgrade to the latest flutter candidate (#9688)
  .gitignore
  flutter-candidate.txt
  pubspec.lock
Owners: @flutter/devtools-reviewers

Add documentation links to app size screen and handle null files
  packages/devtools_app/lib/src/screens/app_size/app_size_screen.dart
  packages/devtools_app/lib/src/shared/ui/file_import.dart
  packages/devtools_app/test/screens/app_size/app_size_screen_test.dart
Owners: @flutter/devtools-reviewers

use densepadding
  packages/devtools_app/lib/src/screens/app_size/app_size_screen.dart
Owners: @flutter/devtools-reviewers

formatting
  packages/devtools_app/lib/src/screens/app_size/app_size_screen.dart
Owners: @flutter/devtools-reviewers

update
  packages/devtools_app/lib/src/shared/feature_flags.dart
Owners: @flutter/devtools-reviewers

update
  packages/devtools_app/lib/src/screens/accessibility/accessibility_controller.dart
  packages/devtools_app/test/screens/accessibility/accessibility_screen_test.dart
Owners: @flutter/devtools-reviewers

update
  packages/devtools_app/lib/src/screens/accessibility/accessibility_controller.dart
  packages/devtools_app/lib/src/screens/accessibility/accessibility_controls.dart
  packages/devtools_app/lib/src/screens/accessibility/accessibility_results.dart
  packages/devtools_app/lib/src/screens/accessibility/accessibility_screen.dart
  packages/devtools_app/lib/src/shared/feature_flags.dart
Owners: @flutter/devtools-reviewers

Add accessibility tab placeholder
  packages/devtools_app/lib/src/app.dart
  packages/devtools_app/lib/src/screens/accessibility/accessibility_controller.dart
  packages/devtools_app/lib/src/screens/accessibility/accessibility_controls.dart
  packages/devtools_app/lib/src/screens/accessibility/accessibility_results.dart
  packages/devtools_app/lib/src/screens/accessibility/accessibility_screen.dart
  packages/devtools_app/lib/src/shared/feature_flags.dart
  packages/devtools_app/lib/src/shared/framework/screen.dart
  packages/devtools_app/test/screens/accessibility/accessibility_screen_test.dart
  packages/devtools_test/lib/src/helpers/wrappers.dart
Owners: @flutter/devtools-reviewers

lint
  packages/devtools_app/lib/src/screens/accessibility/accessibility_controls.dart
Owners: @flutter/devtools-reviewers

update
  packages/devtools_app/benchmark/web_bundle_size_test.dart
Owners: @flutter/devtools-reviewers

update
  packages/devtools_app/lib/src/screens/accessibility/accessibility_controller.dart
  packages/devtools_app/lib/src/screens/accessibility/accessibility_controls.dart
Owners: @flutter/devtools-reviewers

update
  packages/devtools_app/lib/src/screens/accessibility/accessibility_controller.dart
Owners: @flutter/devtools-reviewers

Fix release notes and bump devtools version
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Fix first benchmark failure
  packages/devtools_test/lib/src/helpers/actions.dart
Owners: @flutter/devtools-reviewers

Add documentation links to app size screen and handle null files (#9689)
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/lib/src/screens/app_size/app_size_screen.dart
  packages/devtools_app/lib/src/shared/ui/file_import.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/test/screens/app_size/app_size_screen_test.dart
Owners: @flutter/devtools-reviewers

Fix todo in memory tracing data
  packages/devtools_app/lib/src/screens/memory/panes/tracing/tracing_data.dart
Owners: @bkonyi, @kenzieschmoll

Fix another TODO
  packages/devtools_app/lib/src/screens/debugger/codeview_controller.dart
  packages/devtools_app/lib/src/shared/primitives/utils.dart
  packages/devtools_app/lib/src/shared/ui/search.dart
  packages/devtools_app/lib/src/shared/ui/vm_flag_widgets.dart
Owners: @elliette, @flutter/devtools-reviewers

Remove stale todo
  packages/devtools_shared/lib/src/server/server_api.dart
Owners: @kenzieschmoll, @bkonyi

Remove another TODO
  packages/devtools_extensions/lib/src/template/_simulated_devtools_environment/_simulated_devtools_environment.dart
Owners: @kenzieschmoll

Updating from 2.57.0-dev.0 to 2.57.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Add reconnect option for Inspector when VM service disconnects
  packages/devtools_app/lib/src/framework/observer/disconnect_observer.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/not_connected_overlay.dart
Owners: @flutter/devtools-reviewers

Simplify inProgress getter logic
  packages/devtools_app/lib/src/shared/http/http_request_data.dart
Owners: @flutter/devtools-reviewers

Add reconnect button to DisconnectObserver for VM service reconnection
  packages/devtools_app/lib/src/framework/observer/disconnect_observer.dart
  packages/devtools_app/test/framework/observer/disconnect_observer_test.dart
Owners: @flutter/devtools-reviewers

edited in release notes
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Try to fix other failure
  packages/devtools_test/lib/src/helpers/actions.dart
Owners: @flutter/devtools-reviewers

Address benchmark and integration test flakiness (#9690)
  packages/devtools_test/lib/src/helpers/actions.dart
Owners: @flutter/devtools-reviewers

Fix benchmark tests
  packages/devtools_app/benchmark/devtools_benchmarks_test.dart
  pubspec.lock
Owners: @flutter/devtools-reviewers

added release notes and fixed analyzer warnings
  packages/devtools_app/lib/src/screens/network/network_request_inspector_views.dart
  packages/devtools_app/lib/src/shared/http/http_request_data.dart
  packages/devtools_app/lib/src/shared/primitives/custom_pointer_scroll_view.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @bkonyi, @kenzieschmoll, @flutter/devtools-reviewers

Fix a TODO to use String utilities and remove stale TODOs (#9695)
  packages/devtools_app/lib/src/screens/debugger/codeview_controller.dart
  packages/devtools_app/lib/src/screens/memory/panes/tracing/tracing_data.dart
  packages/devtools_app/lib/src/shared/primitives/utils.dart
  packages/devtools_app/lib/src/shared/ui/search.dart
  packages/devtools_app/lib/src/shared/ui/vm_flag_widgets.dart
  packages/devtools_extensions/lib/src/template/_simulated_devtools_environment/_simulated_devtools_environment.dart
  packages/devtools_shared/lib/src/server/server_api.dart
Owners: @elliette, @bkonyi, @kenzieschmoll, @flutter/devtools-reviewers

CODEOWNERS:

*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @elliette

# Network Files
network/            @bkonyi @kenzieschmoll

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll @bkonyi

# Memory files
memory/             @bkonyi @kenzieschmoll

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @kenzieschmoll

# DevTools extensions and related files
src/extensions/
packages/devtools_extensions/    @kenzieschmoll
packages/devtools_app_shared/    @kenzieschmoll

# package:devtools_shared code, which is used across DevTools and the Dart SDK
packages/devtools_shared/        @kenzieschmoll @bkonyi

# Version bump files.
# No owners to prevent version update spam
packages/devtools_app/lib/devtools.dart
packages/devtools_app/pubspec.yaml
packages/devtools_test/pubspec.yaml
