Repository flutter/devtools, changes with the owners that CODEOWNERS names for each.
All owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

CODEOWNERS:

*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @elliette

# Network Files
network/            @bkonyi @kenzieschmoll

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll @bkonyi

# Memory files
memory/             @bkonyi @kenzieschmoll

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @kenzieschmoll

# DevTools extensions and related files
src/extensions/
packages/devtools_extensions/    @kenzieschmoll
packages/devtools_app_shared/    @kenzieschmoll

# package:devtools_shared code, which is used across DevTools and the Dart SDK
packages/devtools_shared/        @kenzieschmoll @bkonyi

# Version bump files.
# No owners to prevent version update spam
packages/devtools_app/lib/devtools.dart
packages/devtools_app/pubspec.yaml
packages/devtools_test/pubspec.yaml

rnotes
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

rnotes link
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

test
  packages/devtools_app/lib/src/screens/logging/_log_details.dart
  packages/devtools_app/test/logging/logging_screen_data_test.dart
Owners: @flutter/devtools-reviewers

remove late
  packages/devtools_app/lib/src/screens/logging/logging_controller.dart
Owners: @flutter/devtools-reviewers

formatting
  packages/devtools_app/lib/src/shared/common_widgets.dart
Owners: @flutter/devtools-reviewers

remove unnecessary controller
  packages/devtools_app/lib/src/shared/common_widgets.dart
Owners: @flutter/devtools-reviewers

Add an option to display log details as JSON (#8445)
  packages/devtools_app/lib/src/screens/logging/_log_details.dart
  packages/devtools_app/lib/src/screens/logging/logging_controller.dart
  packages/devtools_app/lib/src/shared/common_widgets.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/test/logging/logging_screen_data_test.dart
  packages/devtools_app_shared/CHANGELOG.md
  packages/devtools_app_shared/lib/src/ui/common.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

Store the logging details format in user preferences
  packages/devtools_app/lib/src/screens/logging/_log_details.dart
  packages/devtools_app/lib/src/shared/analytics/constants/_logging_constants.dart
  packages/devtools_app/lib/src/shared/preferences/_logging_preferences.dart
  packages/devtools_app/lib/src/shared/preferences/preferences.dart
  packages/devtools_app/test/shared/preferences_controller_test.dart
Owners: @flutter/devtools-reviewers

Store the logging details format in user preferences (#8446)
  packages/devtools_app/lib/src/screens/logging/_log_details.dart
  packages/devtools_app/lib/src/shared/analytics/constants/_logging_constants.dart
  packages/devtools_app/lib/src/shared/preferences/_logging_preferences.dart
  packages/devtools_app/lib/src/shared/preferences/preferences.dart
  packages/devtools_app/test/shared/preferences_controller_test.dart
Owners: @flutter/devtools-reviewers

Persist logging filter to storage
  packages/devtools_app/lib/src/screens/logging/logging_controller.dart
  packages/devtools_app/lib/src/screens/logging/logging_screen_v2/logging_model.dart
  packages/devtools_app/lib/src/screens/network/network_controller.dart
  packages/devtools_app/lib/src/screens/profiler/cpu_profiler_controller.dart
  packages/devtools_app/lib/src/shared/preferences/_logging_preferences.dart
  packages/devtools_app/lib/src/shared/ui/filter.dart
  packages/devtools_app/test/shared/filter_test.dart
Owners: @flutter/devtools-reviewers, @bkonyi, @kenzieschmoll

rnotes
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

formatting
  packages/devtools_app/lib/src/screens/logging/logging_controller.dart
  packages/devtools_app/lib/src/screens/network/network_controller.dart
  packages/devtools_app/lib/src/shared/ui/filter.dart
Owners: @flutter/devtools-reviewers, @bkonyi, @kenzieschmoll

globals
  packages/devtools_app/test/logging/logging_controller_test.dart
Owners: @flutter/devtools-reviewers

use consts
  packages/devtools_app/lib/src/screens/logging/logging_controller.dart
  packages/devtools_app/lib/src/screens/profiler/cpu_profiler_controller.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll, @bkonyi

fix cpu profiler test
  packages/devtools_app/lib/src/screens/profiler/cpu_profiler_controller.dart
  packages/devtools_app/test/cpu_profiler/cpu_profiler_test.dart
Owners: @kenzieschmoll, @bkonyi, @flutter/devtools-reviewers

Persist logging filter to storage (#8447)
  packages/devtools_app/lib/src/screens/logging/logging_controller.dart
  packages/devtools_app/lib/src/screens/logging/logging_screen_v2/logging_model.dart
  packages/devtools_app/lib/src/screens/network/network_controller.dart
  packages/devtools_app/lib/src/screens/profiler/cpu_profiler_controller.dart
  packages/devtools_app/lib/src/shared/preferences/_logging_preferences.dart
  packages/devtools_app/lib/src/shared/ui/filter.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/test/cpu_profiler/cpu_profiler_test.dart
  packages/devtools_app/test/logging/logging_controller_test.dart
  packages/devtools_app/test/shared/filter_test.dart
Owners: @flutter/devtools-reviewers, @bkonyi, @kenzieschmoll

Persist filters for the Network and CPU profiler pages
  packages/devtools_app/lib/src/screens/network/network_controller.dart
  packages/devtools_app/lib/src/screens/profiler/cpu_profiler_controller.dart
  packages/devtools_app/lib/src/shared/preferences/_cpu_profiler_preferences.dart
  packages/devtools_app/lib/src/shared/preferences/_logging_preferences.dart
  packages/devtools_app/lib/src/shared/preferences/_network_preferences.dart
  packages/devtools_app/lib/src/shared/preferences/preferences.dart
  packages/devtools_app/test/shared/preferences_controller_test.dart
Owners: @bkonyi, @kenzieschmoll, @flutter/devtools-reviewers

rnotes
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Change the default log level to include everything by default
  packages/devtools_app/lib/src/screens/logging/logging_controller.dart
Owners: @flutter/devtools-reviewers

fix tests
  packages/devtools_app/test/cpu_profiler/cpu_profiler_test.dart
  packages/devtools_app/test/network/network_controller_test.dart
  packages/devtools_app/test/network/network_model_test.dart
  packages/devtools_app/test/shared/flame_chart_test.dart
Owners: @flutter/devtools-reviewers, @bkonyi, @kenzieschmoll

Change the default log level to include everything by default (#8457)
  packages/devtools_app/lib/src/screens/logging/logging_controller.dart
Owners: @flutter/devtools-reviewers

Fix JsonViewer exception
  packages/devtools_app/lib/src/screens/logging/_log_details.dart
  packages/devtools_app/lib/src/shared/common_widgets.dart
Owners: @flutter/devtools-reviewers

Use BulletSpacer instead of arrow icon
  packages/devtools_app/lib/src/screens/logging/_message_column.dart
Owners: @flutter/devtools-reviewers

fix bullet spacer
  packages/devtools_app/lib/src/screens/logging/_message_column.dart
Owners: @flutter/devtools-reviewers

Use json encodable types for setting filters
  packages/devtools_app/lib/src/screens/logging/logging_controller.dart
  packages/devtools_app/lib/src/shared/ui/filter.dart
Owners: @flutter/devtools-reviewers

fix test
  packages/devtools_app/test/network/network_table_test.dart
Owners: @bkonyi, @kenzieschmoll

fix lint and test
  packages/devtools_app/lib/src/screens/logging/_message_column.dart
  packages/devtools_app/test/logging/logging_controller_test.dart
Owners: @flutter/devtools-reviewers

Fix several bugs with the logging page (#8459)
  packages/devtools_app/lib/src/screens/logging/_log_details.dart
  packages/devtools_app/lib/src/screens/logging/_message_column.dart
  packages/devtools_app/lib/src/screens/logging/logging_controller.dart
  packages/devtools_app/lib/src/shared/common_widgets.dart
  packages/devtools_app/lib/src/shared/ui/filter.dart
  packages/devtools_app/test/logging/logging_controller_test.dart
Owners: @flutter/devtools-reviewers

Update to the latest flutter candidate
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

Update to the latest flutter candidate (#8461)
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

Use new Dart wildcard variables
  packages/devtools_app/lib/src/app.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_link_list_view.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_screen.dart
  packages/devtools_app/lib/src/screens/inspector/inspector_screen_body.dart
  packages/devtools_app/lib/src/screens/inspector_shared/inspector_controls.dart
  packages/devtools_app/lib/src/screens/inspector_shared/inspector_settings_dialog.dart
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_screen_body.dart
  packages/devtools_app/lib/src/screens/inspector_v2/widget_details.dart
  packages/devtools_app/lib/src/screens/logging/logging_screen_v2/logging_table_row.dart
  packages/devtools_app/lib/src/screens/memory/panes/chart/widgets/chart_control_pane.dart
  packages/devtools_app/lib/src/screens/memory/panes/chart/widgets/chart_pane.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/diff_pane.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/widgets/class_details/class_details.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/widgets/class_details/path.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/widgets/snapshot_control_pane.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/widgets/snapshot_list.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/widgets/snapshot_view.dart
  packages/devtools_app/lib/src/screens/memory/panes/tracing/class_table.dart
  packages/devtools_app/lib/src/screens/network/network_request_inspector_views.dart
  packages/devtools_app/lib/src/screens/performance/performance_screen.dart
  packages/devtools_app/lib/src/screens/vm_developer/process_memory/process_memory_view.dart
  packages/devtools_app/lib/src/screens/vm_developer/vm_statistics/vm_statistics_view.dart
  packages/devtools_app/lib/src/shared/common_widgets.dart
  packages/devtools_app/lib/src/shared/console/console.dart
  packages/devtools_app/lib/src/shared/editable_list.dart
  packages/devtools_app/lib/src/shared/table/_table_row.dart
  packages/devtools_app/lib/src/shared/ui/filter.dart
  packages/devtools_app/test/inspector/inspector_tree_test.dart
  packages/devtools_app/test/inspector/utils/inspector_tree.dart
  packages/devtools_app/test/inspector_v2/inspector_tree_test.dart
  packages/devtools_app/test/inspector_v2/utils/inspector_tree.dart
Owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

Request the smaller widget tree
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_controller.dart
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_tree_controller.dart
  packages/devtools_app/lib/src/shared/diagnostics/diagnostics_node.dart
  packages/devtools_app/lib/src/shared/diagnostics/inspector_service.dart
Owners: @flutter/devtools-reviewers

Bump min sdk versions for devtools_app
  packages/devtools_app/pubspec.yaml
Owners: none

fix a couple more
  packages/devtools_app/lib/src/app.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/validation_details_view.dart
  packages/devtools_app/lib/src/screens/inspector_shared/inspector_settings_dialog.dart
  packages/devtools_app/lib/src/shared/config_specific/post_message/_post_message_stub.dart
Owners: @flutter/devtools-reviewers

formatting
  packages/devtools_app/lib/src/screens/inspector/inspector_screen_body.dart
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_screen_body.dart
  packages/devtools_app_shared/lib/src/ui/common.dart
  packages/devtools_app_shared/lib/src/ui/theme/ide_theme.dart
Owners: @elliette, @flutter/devtools-reviewers, @kenzieschmoll

Use new Dart wildcard variables (#8462)
  packages/devtools_app/lib/src/app.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_link_list_view.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_screen.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/validation_details_view.dart
  packages/devtools_app/lib/src/screens/inspector/inspector_screen_body.dart
  packages/devtools_app/lib/src/screens/inspector_shared/inspector_controls.dart
  packages/devtools_app/lib/src/screens/inspector_shared/inspector_settings_dialog.dart
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_screen_body.dart
  packages/devtools_app/lib/src/screens/inspector_v2/widget_details.dart
  packages/devtools_app/lib/src/screens/logging/logging_screen_v2/logging_table_row.dart
  packages/devtools_app/lib/src/screens/memory/panes/chart/widgets/chart_control_pane.dart
  packages/devtools_app/lib/src/screens/memory/panes/chart/widgets/chart_pane.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/diff_pane.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/widgets/class_details/class_details.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/widgets/class_details/path.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/widgets/snapshot_control_pane.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/widgets/snapshot_list.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/widgets/snapshot_view.dart
  packages/devtools_app/lib/src/screens/memory/panes/tracing/class_table.dart
  packages/devtools_app/lib/src/screens/network/network_request_inspector_views.dart
  packages/devtools_app/lib/src/screens/performance/performance_screen.dart
  packages/devtools_app/lib/src/screens/vm_developer/process_memory/process_memory_view.dart
  packages/devtools_app/lib/src/screens/vm_developer/vm_statistics/vm_statistics_view.dart
  packages/devtools_app/lib/src/shared/common_widgets.dart
  packages/devtools_app/lib/src/shared/config_specific/post_message/_post_message_stub.dart
  packages/devtools_app/lib/src/shared/console/console.dart
  packages/devtools_app/lib/src/shared/editable_list.dart
  packages/devtools_app/lib/src/shared/table/_table_row.dart
  packages/devtools_app/lib/src/shared/ui/filter.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/test/inspector/inspector_tree_test.dart
  packages/devtools_app/test/inspector/utils/inspector_tree.dart
  packages/devtools_app/test/inspector_v2/inspector_tree_test.dart
  packages/devtools_app/test/inspector_v2/utils/inspector_tree.dart
  packages/devtools_app_shared/lib/src/ui/common.dart
  packages/devtools_app_shared/lib/src/ui/theme/ide_theme.dart
Owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

Include query filter instructions for the standalone filter field
  packages/devtools_app/lib/src/screens/logging/logging_controller.dart
  packages/devtools_app/lib/src/screens/logging/logging_controls.dart
  packages/devtools_app/lib/src/screens/logging/logging_screen_v2/logging_model.dart
  packages/devtools_app/lib/src/screens/logging/logging_screen_v2/logging_table_v2.dart
  packages/devtools_app/lib/src/screens/network/network_controller.dart
  packages/devtools_app/lib/src/screens/network/network_screen.dart
  packages/devtools_app/lib/src/screens/profiler/cpu_profiler.dart
  packages/devtools_app/lib/src/screens/profiler/cpu_profiler_controller.dart
  packages/devtools_app/lib/src/screens/profiler/panes/controls/cpu_profiler_controls.dart
  packages/devtools_app/lib/src/shared/ui/filter.dart
  packages/devtools_app/test/shared/filter_test.dart
  packages/devtools_app_shared/CHANGELOG.md
  packages/devtools_app_shared/lib/src/ui/text_field.dart
Owners: @flutter/devtools-reviewers, @bkonyi, @kenzieschmoll

cleanup
  packages/devtools_app/lib/src/screens/logging/logging_controller.dart
  packages/devtools_app/lib/src/screens/logging/logging_controls.dart
Owners: @flutter/devtools-reviewers

remove todo
  packages/devtools_app/lib/src/shared/ui/filter.dart
Owners: @flutter/devtools-reviewers

try to fix test
  packages/devtools_app/lib/src/screens/profiler/cpu_profiler_controller.dart
  packages/devtools_app/lib/src/shared/ui/filter.dart
  packages/devtools_app/test/shared/filter_test.dart
  packages/devtools_test/lib/src/mocks/generated_mocks_factories.dart
Owners: @kenzieschmoll, @bkonyi, @flutter/devtools-reviewers
