Repository flutter/devtools, changes with the owners that CODEOWNERS names for each.
All owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

CODEOWNERS:

*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @elliette

# Network Files
network/            @bkonyi @kenzieschmoll

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll @bkonyi

# Memory files
memory/             @bkonyi @kenzieschmoll

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @kenzieschmoll

# DevTools extensions and related files
src/extensions/
packages/devtools_extensions/    @kenzieschmoll
packages/devtools_app_shared/    @kenzieschmoll

# package:devtools_shared code, which is used across DevTools and the Dart SDK
packages/devtools_shared/        @kenzieschmoll @bkonyi

# Version bump files.
# No owners to prevent version update spam
packages/devtools_app/lib/devtools.dart
packages/devtools_app/pubspec.yaml
packages/devtools_test/pubspec.yaml

[CPU Profiler] Deprecate the "Profile app start up" button
  packages/devtools_app/lib/src/screens/profiler/panes/controls/profiler_screen_controls.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/test/screens/cpu_profiler/profiler_screen_test.dart
Owners: @kenzieschmoll, @bkonyi, @flutter/devtools-reviewers

Update DevTools release instructions
  tool/RELEASE_INSTRUCTIONS.md
Owners: @kenzieschmoll

Remove unnecessary arg
  packages/devtools_app/lib/src/screens/profiler/cpu_profile_model.dart
Owners: @kenzieschmoll, @bkonyi

Reset DevTools to next dev version
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Add a benchmark test
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/test/screens/cpu_profiler/cpu_profile_benchmark_test.dart
Owners: @flutter/devtools-reviewers

Run benchmark multiple times
  packages/devtools_app/test/screens/cpu_profiler/cpu_profile_benchmark_test.dart
Owners: @flutter/devtools-reviewers

Skip test and update Flutter candidate version
  packages/devtools_app/test/screens/network/network_screen_test.dart
Owners: @bkonyi, @kenzieschmoll

Reset DevTools to next dev version (#9360)
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Update DevTools release instructions (#9359)
  tool/RELEASE_INSTRUCTIONS.md
Owners: @kenzieschmoll

Update Flutter candidate version
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

Increase benchmark for CI
  packages/devtools_app/test/screens/cpu_profiler/cpu_profile_benchmark_test.dart
Owners: @flutter/devtools-reviewers

Updating from 2.50.0-dev.0 to 2.50.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.50.0-dev.0 to 2.50.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.50.0-dev.0 to 2.50.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.50.0-dev.0 to 2.50.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

[CPU Profiler] Delete the "Profile app start up" button
  packages/devtools_app/lib/src/screens/profiler/panes/controls/profiler_screen_controls.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/test/screens/cpu_profiler/profiler_screen_test.dart
Owners: @kenzieschmoll, @bkonyi, @flutter/devtools-reviewers

Updating from 2.50.0-dev.0 to 2.50.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

[CPU Profiler] Delete the "Profile app start up" button (#9358)
  packages/devtools_app/lib/src/screens/profiler/panes/controls/profiler_screen_controls.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/test/screens/cpu_profiler/profiler_screen_test.dart
Owners: @kenzieschmoll, @bkonyi, @flutter/devtools-reviewers

Updating from 2.50.0-dev.0 to 2.50.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

PR comments
  packages/devtools_app/lib/src/screens/profiler/cpu_profile_model.dart
Owners: @kenzieschmoll, @bkonyi

Update Flutter candidate version
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

Update Flutter candidate version
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

Delete unused test file
  packages/devtools_shared/lib/src/test/chrome.dart
Owners: @kenzieschmoll, @bkonyi

Update Flutter candidate version
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

Update Flutter candidate version
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

Update Flutter candidate version
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

Pass directory to chromedriver
  flutter-candidate.txt
  packages/devtools_shared/lib/src/test/integration_test_runner.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll, @bkonyi

Remove export
  packages/devtools_shared/lib/devtools_test_utils.dart
Owners: @kenzieschmoll, @bkonyi

Remove intermediary JSON conversion from `generateFromCpuSamples` (#9354)
  packages/devtools_app/lib/src/screens/profiler/cpu_profile_model.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/test/screens/cpu_profiler/cpu_profile_benchmark_test.dart
  packages/devtools_app/test/screens/cpu_profiler/cpu_profile_model_test.dart
Owners: @kenzieschmoll, @bkonyi, @flutter/devtools-reviewers

Updating from 2.50.0-dev.0 to 2.50.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Use new headless
  packages/devtools_shared/lib/src/test/integration_test_runner.dart
Owners: @kenzieschmoll, @bkonyi

Also try no-sandbox
  packages/devtools_shared/lib/src/test/integration_test_runner.dart
Owners: @kenzieschmoll, @bkonyi

Do not pass data dir
  packages/devtools_shared/lib/src/test/integration_test_runner.dart
Owners: @kenzieschmoll, @bkonyi

Typo
  packages/devtools_shared/lib/src/test/integration_test_runner.dart
Owners: @kenzieschmoll, @bkonyi

Try headless=new
  flutter-candidate.txt
  packages/devtools_shared/lib/src/test/integration_test_runner.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll, @bkonyi

Change flutter version
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

Revert to older flutter version
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

Fix test
  packages/devtools_test/lib/src/integration_test/integration_test_utils.dart
Owners: @flutter/devtools-reviewers

Only enable integration tests
  .github/workflows/build.yaml
Owners: @flutter/devtools-reviewers

Tap close button
  packages/devtools_test/lib/src/integration_test/integration_test_utils.dart
Owners: @flutter/devtools-reviewers
