Repository flutter/devtools, changes with the owners that CODEOWNERS names for each.
All owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

CODEOWNERS:

*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @elliette

# Network Files
network/            @bkonyi @kenzieschmoll

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll @bkonyi

# Memory files
memory/             @bkonyi @kenzieschmoll

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @kenzieschmoll

# DevTools extensions and related files
src/extensions/
packages/devtools_extensions/    @kenzieschmoll
packages/devtools_app_shared/    @kenzieschmoll

# package:devtools_shared code, which is used across DevTools and the Dart SDK
packages/devtools_shared/        @kenzieschmoll @bkonyi

# Version bump files.
# No owners to prevent version update spam
packages/devtools_app/lib/devtools.dart
packages/devtools_app/pubspec.yaml
packages/devtools_test/pubspec.yaml

license update - batch 26
  packages/devtools_app/lib/src/shared/README.md
  packages/devtools_app/lib/src/shared/constants.dart
  packages/devtools_app/lib/src/shared/development_helpers.dart
  packages/devtools_app/lib/src/shared/environment_parameters/environment_parameters_base.dart
  packages/devtools_app/lib/src/shared/environment_parameters/environment_parameters_external.dart
  packages/devtools_app/lib/src/shared/feature_flags.dart
  packages/devtools_app/lib/src/shared/globals.dart
  packages/devtools_app/lib/src/shared/log_storage.dart
  packages/devtools_app/lib/src/shared/title.dart
Owners: @flutter/devtools-reviewers

license update - batch 27
  packages/devtools_app/lib/src/shared/analytics/_analytics_stub.dart
  packages/devtools_app/lib/src/shared/analytics/_analytics_web.dart
  packages/devtools_app/lib/src/shared/analytics/analytics.dart
  packages/devtools_app/lib/src/shared/analytics/analytics_common.dart
  packages/devtools_app/lib/src/shared/analytics/analytics_controller.dart
  packages/devtools_app/lib/src/shared/analytics/constants.dart
  packages/devtools_app/lib/src/shared/analytics/constants/_cpu_profiler_constants.dart
  packages/devtools_app/lib/src/shared/analytics/constants/_debugger_constants.dart
  packages/devtools_app/lib/src/shared/analytics/constants/_deep_links_constants.dart
  packages/devtools_app/lib/src/shared/analytics/constants/_editor_sidebar_constants.dart
  packages/devtools_app/lib/src/shared/analytics/constants/_extension_constants.dart
  packages/devtools_app/lib/src/shared/analytics/constants/_inspector_constants.dart
  packages/devtools_app/lib/src/shared/analytics/constants/_logging_constants.dart
  packages/devtools_app/lib/src/shared/analytics/constants/_memory_constants.dart
  packages/devtools_app/lib/src/shared/analytics/constants/_network_constants.dart
  packages/devtools_app/lib/src/shared/analytics/constants/_performance_constants.dart
  packages/devtools_app/lib/src/shared/analytics/constants/_property_editor_sidebar_constants.dart
  packages/devtools_app/lib/src/shared/analytics/gtags.dart
  packages/devtools_app/lib/src/shared/analytics/metrics.dart
  packages/devtools_app/lib/src/shared/analytics/prompt.dart
  packages/devtools_app/test/shared/analytics/analytics_prompt_test.dart
  packages/devtools_app/test/shared/analytics/analytics_test.dart
Owners: @flutter/devtools-reviewers

license update - batch 28
  packages/devtools_app/lib/src/shared/charts/README.md
  packages/devtools_app/lib/src/shared/charts/chart.dart
  packages/devtools_app/lib/src/shared/charts/chart_controller.dart
  packages/devtools_app/lib/src/shared/charts/chart_trace.dart
  packages/devtools_app/lib/src/shared/charts/flame_chart.dart
  packages/devtools_app/lib/src/shared/charts/treemap.dart
  packages/devtools_app/test/shared/charts/flame_chart_test.dart
  packages/devtools_app/test/shared/charts/treemap_test.dart
Owners: @flutter/devtools-reviewers

license update - batch 29
  packages/devtools_app/lib/src/shared/config_specific/copy_to_clipboard/_copy_to_clipboard_desktop.dart
  packages/devtools_app/lib/src/shared/config_specific/copy_to_clipboard/_copy_to_clipboard_web.dart
  packages/devtools_app/lib/src/shared/config_specific/copy_to_clipboard/copy_to_clipboard.dart
  packages/devtools_app/lib/src/shared/config_specific/drag_and_drop/_drag_and_drop_desktop.dart
  packages/devtools_app/lib/src/shared/config_specific/drag_and_drop/_drag_and_drop_web.dart
  packages/devtools_app/lib/src/shared/config_specific/drag_and_drop/drag_and_drop.dart
  packages/devtools_app/lib/src/shared/config_specific/framework_initialize/_framework_initialize_desktop.dart
  packages/devtools_app/lib/src/shared/config_specific/framework_initialize/_framework_initialize_web.dart
  packages/devtools_app/lib/src/shared/config_specific/framework_initialize/framework_initialize.dart
  packages/devtools_app/lib/src/shared/config_specific/host_platform/_host_platform_desktop.dart
  packages/devtools_app/lib/src/shared/config_specific/host_platform/_host_platform_web.dart
  packages/devtools_app/lib/src/shared/config_specific/host_platform/host_platform.dart
  packages/devtools_app/lib/src/shared/config_specific/import_export/_export_desktop.dart
  packages/devtools_app/lib/src/shared/config_specific/import_export/_export_web.dart
  packages/devtools_app/lib/src/shared/config_specific/import_export/_file_desktop.dart
  packages/devtools_app/lib/src/shared/config_specific/import_export/import_export.dart
  packages/devtools_app/lib/src/shared/config_specific/logger/_allowed_error_default.dart
  packages/devtools_app/lib/src/shared/config_specific/logger/_allowed_error_web.dart
  packages/devtools_app/lib/src/shared/config_specific/logger/_logger_io.dart
  packages/devtools_app/lib/src/shared/config_specific/logger/_logger_web.dart
  packages/devtools_app/lib/src/shared/config_specific/logger/allowed_error.dart
  packages/devtools_app/lib/src/shared/config_specific/logger/logger.dart
  packages/devtools_app/lib/src/shared/config_specific/logger/logger_helpers.dart
  packages/devtools_app/lib/src/shared/config_specific/notifications/_notifications_desktop.dart
  packages/devtools_app/lib/src/shared/config_specific/notifications/_notifications_web.dart
  packages/devtools_app/lib/src/shared/config_specific/notifications/notifications.dart
  packages/devtools_app/lib/src/shared/config_specific/post_message/_post_message_stub.dart
  packages/devtools_app/lib/src/shared/config_specific/post_message/_post_message_web.dart
  packages/devtools_app/lib/src/shared/config_specific/post_message/post_message.dart
Owners: @flutter/devtools-reviewers

Update test cases
  packages/devtools_app/test/standalone_ui/ide_shared/property_editor_test.dart
Owners: @flutter/devtools-reviewers

reverting incorrect license headers
  packages/devtools_app/lib/src/shared/config_specific/copy_to_clipboard/_copy_to_clipboard_desktop.dart
  packages/devtools_app/lib/src/shared/config_specific/copy_to_clipboard/_copy_to_clipboard_web.dart
  packages/devtools_app/lib/src/shared/config_specific/copy_to_clipboard/copy_to_clipboard.dart
  packages/devtools_app/lib/src/shared/config_specific/host_platform/_host_platform_desktop.dart
  packages/devtools_app/lib/src/shared/config_specific/host_platform/_host_platform_web.dart
  packages/devtools_app/lib/src/shared/config_specific/host_platform/host_platform.dart
  packages/devtools_app/lib/src/shared/config_specific/notifications/_notifications_desktop.dart
  packages/devtools_app/lib/src/shared/config_specific/notifications/_notifications_web.dart
  packages/devtools_app/lib/src/shared/config_specific/notifications/notifications.dart
  packages/devtools_app/lib/src/shared/config_specific/post_message/_post_message_stub.dart
  packages/devtools_app/lib/src/shared/config_specific/post_message/_post_message_web.dart
  packages/devtools_app/lib/src/shared/config_specific/post_message/post_message.dart
Owners: @flutter/devtools-reviewers

fixed incorrect headers
  packages/devtools_app/lib/src/shared/config_specific/copy_to_clipboard/_copy_to_clipboard_desktop.dart
  packages/devtools_app/lib/src/shared/config_specific/copy_to_clipboard/_copy_to_clipboard_web.dart
  packages/devtools_app/lib/src/shared/config_specific/copy_to_clipboard/copy_to_clipboard.dart
  packages/devtools_app/lib/src/shared/config_specific/host_platform/_host_platform_desktop.dart
  packages/devtools_app/lib/src/shared/config_specific/host_platform/_host_platform_web.dart
  packages/devtools_app/lib/src/shared/config_specific/host_platform/host_platform.dart
  packages/devtools_app/lib/src/shared/config_specific/notifications/_notifications_desktop.dart
  packages/devtools_app/lib/src/shared/config_specific/notifications/_notifications_web.dart
  packages/devtools_app/lib/src/shared/config_specific/notifications/notifications.dart
  packages/devtools_app/lib/src/shared/config_specific/post_message/_post_message_stub.dart
  packages/devtools_app/lib/src/shared/config_specific/post_message/_post_message_web.dart
  packages/devtools_app/lib/src/shared/config_specific/post_message/post_message.dart
Owners: @flutter/devtools-reviewers

license update - batch 30
  packages/devtools_app/lib/src/shared/console/console.dart
  packages/devtools_app/lib/src/shared/console/console_service.dart
  packages/devtools_app/lib/src/shared/console/eval/auto_complete.dart
  packages/devtools_app/lib/src/shared/console/eval/eval_service.dart
  packages/devtools_app/lib/src/shared/console/eval/inspector_tree.dart
  packages/devtools_app/lib/src/shared/console/eval/inspector_tree_v2.dart
  packages/devtools_app/lib/src/shared/console/primitives/README.md
  packages/devtools_app/lib/src/shared/console/primitives/assignment.dart
  packages/devtools_app/lib/src/shared/console/primitives/eval_history.dart
  packages/devtools_app/lib/src/shared/console/primitives/scope.dart
  packages/devtools_app/lib/src/shared/console/primitives/simple_items.dart
  packages/devtools_app/lib/src/shared/console/widgets/console_pane.dart
  packages/devtools_app/lib/src/shared/console/widgets/description.dart
  packages/devtools_app/lib/src/shared/console/widgets/display_provider.dart
  packages/devtools_app/lib/src/shared/console/widgets/evaluate.dart
  packages/devtools_app/lib/src/shared/console/widgets/expandable_variable.dart
  packages/devtools_app/lib/src/shared/console/widgets/help_dialog.dart
  packages/devtools_app/test/shared/console/assignment_test.dart
Owners: @flutter/devtools-reviewers

license update - batch 23 (#8721)
  packages/devtools_app/lib/src/screens/profiler/common.dart
  packages/devtools_app/lib/src/screens/profiler/cpu_profile_model.dart
  packages/devtools_app/lib/src/screens/profiler/cpu_profile_service.dart
  packages/devtools_app/lib/src/screens/profiler/cpu_profile_transformer.dart
  packages/devtools_app/lib/src/screens/profiler/cpu_profiler.dart
  packages/devtools_app/lib/src/screens/profiler/cpu_profiler_controller.dart
  packages/devtools_app/lib/src/screens/profiler/panes/bottom_up.dart
  packages/devtools_app/lib/src/screens/profiler/panes/call_tree.dart
  packages/devtools_app/lib/src/screens/profiler/panes/controls/cpu_profiler_controls.dart
  packages/devtools_app/lib/src/screens/profiler/panes/controls/profiler_screen_controls.dart
  packages/devtools_app/lib/src/screens/profiler/panes/cpu_flame_chart.dart
  packages/devtools_app/lib/src/screens/profiler/panes/cpu_profile_columns.dart
  packages/devtools_app/lib/src/screens/profiler/panes/method_table/method_table.dart
  packages/devtools_app/lib/src/screens/profiler/panes/method_table/method_table_controller.dart
  packages/devtools_app/lib/src/screens/profiler/panes/method_table/method_table_model.dart
  packages/devtools_app/lib/src/screens/profiler/profiler_screen.dart
  packages/devtools_app/lib/src/screens/profiler/profiler_screen_controller.dart
  packages/devtools_app/lib/src/screens/profiler/profiler_status.dart
  packages/devtools_app/lib/src/screens/profiler/sampling_rate.dart
  packages/devtools_app/lib/src/screens/provider/provider_screen.dart
Owners: @kenzieschmoll, @bkonyi, @flutter/devtools-reviewers

license update - batch 25 (#8723)
  packages/devtools_app/lib/src/service/connected_app/connected_app.dart
  packages/devtools_app/lib/src/service/connected_app/connection_info.dart
  packages/devtools_app/lib/src/service/editor/api_classes.dart
  packages/devtools_app/lib/src/service/editor/editor_client.dart
  packages/devtools_app/lib/src/service/json_to_service_cache.dart
  packages/devtools_app/lib/src/service/service_extension_widgets.dart
  packages/devtools_app/lib/src/service/service_extensions.dart
  packages/devtools_app/lib/src/service/service_manager.dart
  packages/devtools_app/lib/src/service/service_registrations.dart
  packages/devtools_app/lib/src/service/timeline_streams.dart
  packages/devtools_app/lib/src/service/vm_flags.dart
  packages/devtools_app/lib/src/service/vm_service_logger.dart
  packages/devtools_app/lib/src/service/vm_service_wrapper.dart
  packages/devtools_app/test/service/connection_info_test.dart
  packages/devtools_app/test/service/service_extension_widgets_test.dart
  packages/devtools_app/test/service/timeline_streams_test.dart
  packages/devtools_app/test/service/vm_flags_test.dart
Owners: @flutter/devtools-reviewers

license update - batch 26 (#8724)
  packages/devtools_app/lib/src/shared/README.md
  packages/devtools_app/lib/src/shared/constants.dart
  packages/devtools_app/lib/src/shared/development_helpers.dart
  packages/devtools_app/lib/src/shared/environment_parameters/environment_parameters_base.dart
  packages/devtools_app/lib/src/shared/environment_parameters/environment_parameters_external.dart
  packages/devtools_app/lib/src/shared/feature_flags.dart
  packages/devtools_app/lib/src/shared/globals.dart
  packages/devtools_app/lib/src/shared/log_storage.dart
  packages/devtools_app/lib/src/shared/title.dart
Owners: @flutter/devtools-reviewers

license update - batch 27 (#8725)
  packages/devtools_app/lib/src/shared/analytics/_analytics_stub.dart
  packages/devtools_app/lib/src/shared/analytics/_analytics_web.dart
  packages/devtools_app/lib/src/shared/analytics/analytics.dart
  packages/devtools_app/lib/src/shared/analytics/analytics_common.dart
  packages/devtools_app/lib/src/shared/analytics/analytics_controller.dart
  packages/devtools_app/lib/src/shared/analytics/constants.dart
  packages/devtools_app/lib/src/shared/analytics/constants/_cpu_profiler_constants.dart
  packages/devtools_app/lib/src/shared/analytics/constants/_debugger_constants.dart
  packages/devtools_app/lib/src/shared/analytics/constants/_deep_links_constants.dart
  packages/devtools_app/lib/src/shared/analytics/constants/_editor_sidebar_constants.dart
  packages/devtools_app/lib/src/shared/analytics/constants/_extension_constants.dart
  packages/devtools_app/lib/src/shared/analytics/constants/_inspector_constants.dart
  packages/devtools_app/lib/src/shared/analytics/constants/_logging_constants.dart
  packages/devtools_app/lib/src/shared/analytics/constants/_memory_constants.dart
  packages/devtools_app/lib/src/shared/analytics/constants/_network_constants.dart
  packages/devtools_app/lib/src/shared/analytics/constants/_performance_constants.dart
  packages/devtools_app/lib/src/shared/analytics/constants/_property_editor_sidebar_constants.dart
  packages/devtools_app/lib/src/shared/analytics/gtags.dart
  packages/devtools_app/lib/src/shared/analytics/metrics.dart
  packages/devtools_app/lib/src/shared/analytics/prompt.dart
  packages/devtools_app/test/shared/analytics/analytics_prompt_test.dart
  packages/devtools_app/test/shared/analytics/analytics_test.dart
Owners: @flutter/devtools-reviewers

Remove unused import
  packages/devtools_app/test/standalone_ui/ide_shared/property_editor_test.dart
Owners: @flutter/devtools-reviewers

fixed visible screens test
  packages/devtools_app/test/shared/framework/visible_screens_test.dart
Owners: @flutter/devtools-reviewers

Updating from 2.43.0-dev.0 to 2.43.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Update vm_service to >=13.0.0 <16.0.0
  packages/devtools_app_shared/CHANGELOG.md
  packages/devtools_app_shared/pubspec.yaml
  packages/devtools_extensions/CHANGELOG.md
  packages/devtools_extensions/pubspec.yaml
  packages/devtools_test/pubspec.yaml
Owners: @kenzieschmoll

vm_service >=13.0.0 <16.0.0
  packages/devtools_app/pubspec.yaml
Owners: none

Delete the example conditional screen
  packages/devtools_app/lib/src/app.dart
  packages/devtools_app/lib/src/example/conditional_screen.dart
Owners: @flutter/devtools-reviewers

fix dart doc
  packages/devtools_app/lib/src/shared/framework/screen.dart
Owners: @flutter/devtools-reviewers

Roll package:vm_service ^15.0.0 (#8628)
  packages/devtools_app/pubspec.yaml
  packages/devtools_app_shared/CHANGELOG.md
  packages/devtools_app_shared/pubspec.yaml
  packages/devtools_extensions/CHANGELOG.md
  packages/devtools_extensions/pubspec.yaml
  packages/devtools_shared/CHANGELOG.md
  packages/devtools_test/pubspec.yaml
Owners: @kenzieschmoll, @bkonyi

License update - Batch 29 (#8727)
  packages/devtools_app/lib/src/shared/config_specific/copy_to_clipboard/_copy_to_clipboard_desktop.dart
  packages/devtools_app/lib/src/shared/config_specific/copy_to_clipboard/_copy_to_clipboard_web.dart
  packages/devtools_app/lib/src/shared/config_specific/copy_to_clipboard/copy_to_clipboard.dart
  packages/devtools_app/lib/src/shared/config_specific/drag_and_drop/_drag_and_drop_desktop.dart
  packages/devtools_app/lib/src/shared/config_specific/drag_and_drop/_drag_and_drop_web.dart
  packages/devtools_app/lib/src/shared/config_specific/drag_and_drop/drag_and_drop.dart
  packages/devtools_app/lib/src/shared/config_specific/framework_initialize/_framework_initialize_desktop.dart
  packages/devtools_app/lib/src/shared/config_specific/framework_initialize/_framework_initialize_web.dart
  packages/devtools_app/lib/src/shared/config_specific/framework_initialize/framework_initialize.dart
  packages/devtools_app/lib/src/shared/config_specific/host_platform/_host_platform_desktop.dart
  packages/devtools_app/lib/src/shared/config_specific/host_platform/_host_platform_web.dart
  packages/devtools_app/lib/src/shared/config_specific/host_platform/host_platform.dart
  packages/devtools_app/lib/src/shared/config_specific/import_export/_export_desktop.dart
  packages/devtools_app/lib/src/shared/config_specific/import_export/_export_web.dart
  packages/devtools_app/lib/src/shared/config_specific/import_export/_file_desktop.dart
  packages/devtools_app/lib/src/shared/config_specific/import_export/import_export.dart
  packages/devtools_app/lib/src/shared/config_specific/logger/_allowed_error_default.dart
  packages/devtools_app/lib/src/shared/config_specific/logger/_allowed_error_web.dart
  packages/devtools_app/lib/src/shared/config_specific/logger/_logger_io.dart
  packages/devtools_app/lib/src/shared/config_specific/logger/_logger_web.dart
  packages/devtools_app/lib/src/shared/config_specific/logger/allowed_error.dart
  packages/devtools_app/lib/src/shared/config_specific/logger/logger.dart
  packages/devtools_app/lib/src/shared/config_specific/logger/logger_helpers.dart
  packages/devtools_app/lib/src/shared/config_specific/notifications/_notifications_desktop.dart
  packages/devtools_app/lib/src/shared/config_specific/notifications/_notifications_web.dart
  packages/devtools_app/lib/src/shared/config_specific/notifications/notifications.dart
  packages/devtools_app/lib/src/shared/config_specific/post_message/_post_message_stub.dart
  packages/devtools_app/lib/src/shared/config_specific/post_message/_post_message_web.dart
  packages/devtools_app/lib/src/shared/config_specific/post_message/post_message.dart
Owners: @flutter/devtools-reviewers

license update - batch 30 (#8728)
  packages/devtools_app/lib/src/shared/console/console.dart
  packages/devtools_app/lib/src/shared/console/console_service.dart
  packages/devtools_app/lib/src/shared/console/eval/auto_complete.dart
  packages/devtools_app/lib/src/shared/console/eval/eval_service.dart
  packages/devtools_app/lib/src/shared/console/eval/inspector_tree.dart
  packages/devtools_app/lib/src/shared/console/eval/inspector_tree_v2.dart
  packages/devtools_app/lib/src/shared/console/primitives/README.md
  packages/devtools_app/lib/src/shared/console/primitives/assignment.dart
  packages/devtools_app/lib/src/shared/console/primitives/eval_history.dart
  packages/devtools_app/lib/src/shared/console/primitives/scope.dart
  packages/devtools_app/lib/src/shared/console/primitives/simple_items.dart
  packages/devtools_app/lib/src/shared/console/widgets/console_pane.dart
  packages/devtools_app/lib/src/shared/console/widgets/description.dart
  packages/devtools_app/lib/src/shared/console/widgets/display_provider.dart
  packages/devtools_app/lib/src/shared/console/widgets/evaluate.dart
  packages/devtools_app/lib/src/shared/console/widgets/expandable_variable.dart
  packages/devtools_app/lib/src/shared/console/widgets/help_dialog.dart
  packages/devtools_app/test/shared/console/assignment_test.dart
Owners: @flutter/devtools-reviewers

Delete the example conditional screen (#8730)
  packages/devtools_app/lib/src/app.dart
  packages/devtools_app/lib/src/example/conditional_screen.dart
  packages/devtools_app/lib/src/shared/framework/screen.dart
Owners: @flutter/devtools-reviewers

Update test.sh
  tool/flutter_customer_tests/test.sh
Owners: @kenzieschmoll

Update test.sh (#8731)
  tool/flutter_customer_tests/test.sh
Owners: @kenzieschmoll

license update - batch 31
  packages/devtools_app/test/shared/ansi_output_test.dart
  packages/devtools_app/test/shared/development_helpers_test.dart
  packages/devtools_app/test/shared/environment_parameters/environment_parameters_external_test.dart
  packages/devtools_app/test/shared/eval_integration_test.dart
  packages/devtools_app/test/shared/import_export_test.dart
  packages/devtools_app/test/shared/log_storage_test.dart
  packages/devtools_app/test/shared/resolved_uri_manager_test.dart
Owners: @flutter/devtools-reviewers

license update - batch 28 (#8726)
  packages/devtools_app/lib/src/shared/charts/README.md
  packages/devtools_app/lib/src/shared/charts/chart.dart
  packages/devtools_app/lib/src/shared/charts/chart_controller.dart
  packages/devtools_app/lib/src/shared/charts/chart_trace.dart
  packages/devtools_app/lib/src/shared/charts/flame_chart.dart
  packages/devtools_app/lib/src/shared/charts/treemap.dart
  packages/devtools_app/test/shared/charts/flame_chart_test.dart
  packages/devtools_app/test/shared/charts/treemap_test.dart
Owners: @flutter/devtools-reviewers

license update - batch 32
  packages/devtools_app/lib/src/shared/diagnostics/dap_object_node.dart
  packages/devtools_app/lib/src/shared/diagnostics/dart_object_node.dart
  packages/devtools_app/lib/src/shared/diagnostics/diagnostics_node.dart
  packages/devtools_app/lib/src/shared/diagnostics/generic_instance_reference.dart
  packages/devtools_app/lib/src/shared/diagnostics/helpers.dart
  packages/devtools_app/lib/src/shared/diagnostics/inspector_service.dart
  packages/devtools_app/lib/src/shared/diagnostics/object_group_api.dart
  packages/devtools_app/lib/src/shared/diagnostics/primitives/README.md
  packages/devtools_app/lib/src/shared/diagnostics/primitives/instance_ref.dart
  packages/devtools_app/lib/src/shared/diagnostics/primitives/record_fields.dart
  packages/devtools_app/lib/src/shared/diagnostics/primitives/source_location.dart
  packages/devtools_app/lib/src/shared/diagnostics/references.dart
  packages/devtools_app/lib/src/shared/diagnostics/tree_builder.dart
  packages/devtools_app/lib/src/shared/diagnostics/variable_factory.dart
  packages/devtools_app/test/shared/diagnostics/dart_object_node_test.dart
  packages/devtools_app/test/shared/diagnostics/diagnostics_node_test.dart
  packages/devtools_app/test/shared/diagnostics/inspector_service_test.dart
Owners: @flutter/devtools-reviewers

license update - batch 33
  packages/devtools_app/lib/src/shared/framework/app_error_handling.dart
  packages/devtools_app/lib/src/shared/framework/framework_controller.dart
  packages/devtools_app/lib/src/shared/framework/routing.dart
  packages/devtools_app/lib/src/shared/framework/screen.dart
  packages/devtools_app/test/shared/framework/routing_test.dart
  packages/devtools_app/test/shared/framework/screens_test.dart
  packages/devtools_app/test/shared/framework/visible_screens_test.dart
Owners: @flutter/devtools-reviewers

license update - batch 34
  packages/devtools_app/lib/src/shared/http/_http_cookies.dart
  packages/devtools_app/lib/src/shared/http/_http_date.dart
  packages/devtools_app/lib/src/shared/http/_http_exception.dart
  packages/devtools_app/lib/src/shared/http/curl_command.dart
  packages/devtools_app/lib/src/shared/http/http.dart
  packages/devtools_app/lib/src/shared/http/http_request_data.dart
  packages/devtools_app/lib/src/shared/http/http_service.dart
  packages/devtools_app/test/http/curl_command_test.dart
Owners: @flutter/devtools-reviewers

Remove border
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_view.dart
Owners: @flutter/devtools-reviewers

license update - batch 35
  packages/devtools_app/lib/src/shared/managers/banner_messages.dart
  packages/devtools_app/lib/src/shared/managers/dtd_manager_extensions.dart
  packages/devtools_app/lib/src/shared/managers/error_badge_manager.dart
  packages/devtools_app/lib/src/shared/managers/notifications.dart
  packages/devtools_app/lib/src/shared/managers/script_manager.dart
  packages/devtools_app/lib/src/shared/managers/survey.dart
  packages/devtools_app/test/shared/managers/banner_messages_test.dart
  packages/devtools_app/test/shared/managers/error_badge_manager_test.dart
  packages/devtools_app/test/shared/managers/survey_test.dart
Owners: @flutter/devtools-reviewers

More clean up
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_controller.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_panel.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_view.dart
Owners: @flutter/devtools-reviewers

license update - batch 36
  packages/devtools_app/lib/src/shared/memory/DEPENDENCIES.md
  packages/devtools_app/lib/src/shared/memory/class_name.dart
  packages/devtools_app/lib/src/shared/memory/classes.dart
  packages/devtools_app/lib/src/shared/memory/gc_stats.dart
  packages/devtools_app/lib/src/shared/memory/heap_data.dart
  packages/devtools_app/lib/src/shared/memory/heap_graph_loader.dart
  packages/devtools_app/lib/src/shared/memory/heap_object.dart
  packages/devtools_app/lib/src/shared/memory/retainers.dart
  packages/devtools_app/lib/src/shared/memory/retaining_path.dart
  packages/devtools_app/lib/src/shared/memory/simple_items.dart
  packages/devtools_app/test/shared/memory/retaining_path_test.dart
Owners: @bkonyi, @kenzieschmoll

Add TODO
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_view.dart
Owners: @flutter/devtools-reviewers

license update - batch 37
  packages/devtools_app/lib/src/shared/offline/offline_data.dart
  packages/devtools_app/lib/src/shared/offline/offline_screen.dart
  packages/devtools_app/lib/src/shared/preferences/_cpu_profiler_preferences.dart
  packages/devtools_app/lib/src/shared/preferences/_extension_preferences.dart
  packages/devtools_app/lib/src/shared/preferences/_inspector_preferences.dart
  packages/devtools_app/lib/src/shared/preferences/_logging_preferences.dart
  packages/devtools_app/lib/src/shared/preferences/_memory_preferences.dart
  packages/devtools_app/lib/src/shared/preferences/_network_preferences.dart
  packages/devtools_app/lib/src/shared/preferences/_performance_preferences.dart
  packages/devtools_app/lib/src/shared/preferences/preferences.dart
  packages/devtools_app/test/shared/offline/review_history_on_disconnect_test.dart
  packages/devtools_app/test/shared/preferences/preferences_controller_test.dart
Owners: @flutter/devtools-reviewers

license update - batch 39
  packages/devtools_app/lib/src/shared/server/_analytics_api.dart
  packages/devtools_app/lib/src/shared/server/_app_size_api.dart
  packages/devtools_app/lib/src/shared/server/_deep_links_api.dart
  packages/devtools_app/lib/src/shared/server/_dtd_api.dart
  packages/devtools_app/lib/src/shared/server/_extensions_api.dart
  packages/devtools_app/lib/src/shared/server/_preferences_api.dart
  packages/devtools_app/lib/src/shared/server/_release_notes_api.dart
  packages/devtools_app/lib/src/shared/server/_survey_api.dart
  packages/devtools_app/lib/src/shared/server/server.dart
  packages/devtools_app/lib/src/shared/server/server_api_client.dart
  packages/devtools_app/test/shared/server/server_api_client_test.dart
  packages/devtools_app/test/shared/service/json_to_service_cache_test.dart
Owners: @flutter/devtools-reviewers

license update - batch 40
  packages/devtools_app/lib/src/shared/table/_flat_table.dart
  packages/devtools_app/lib/src/shared/table/_table_column.dart
  packages/devtools_app/lib/src/shared/table/_table_row.dart
  packages/devtools_app/lib/src/shared/table/_tree_table.dart
  packages/devtools_app/lib/src/shared/table/column_widths.dart
  packages/devtools_app/lib/src/shared/table/table.dart
  packages/devtools_app/lib/src/shared/table/table_controller.dart
  packages/devtools_app/lib/src/shared/table/table_data.dart
  packages/devtools_app/test/shared/table/table_test.dart
Owners: @flutter/devtools-reviewers

license update - batch 41
  packages/devtools_app/lib/src/shared/ui/colors.dart
  packages/devtools_app/lib/src/shared/ui/common_widgets.dart
  packages/devtools_app/lib/src/shared/ui/dialogs.dart
  packages/devtools_app/lib/src/shared/ui/drop_down_button.dart
  packages/devtools_app/lib/src/shared/ui/editable_list.dart
  packages/devtools_app/lib/src/shared/ui/file_import.dart
  packages/devtools_app/lib/src/shared/ui/filter.dart
  packages/devtools_app/lib/src/shared/ui/history_viewport.dart
  packages/devtools_app/lib/src/shared/ui/hover.dart
  packages/devtools_app/lib/src/shared/ui/icons.dart
  packages/devtools_app/lib/src/shared/ui/search.dart
  packages/devtools_app/lib/src/shared/ui/side_panel.dart
  packages/devtools_app/lib/src/shared/ui/tab.dart
  packages/devtools_app/lib/src/shared/ui/tree_view.dart
  packages/devtools_app/lib/src/shared/ui/utils.dart
  packages/devtools_app/lib/src/shared/ui/vm_flag_widgets.dart
  packages/devtools_app/test/shared/ui/auto_complete_test.dart
  packages/devtools_app/test/shared/ui/common_widgets_test.dart
  packages/devtools_app/test/shared/ui/editable_list_test.dart
  packages/devtools_app/test/shared/ui/filter_test.dart
  packages/devtools_app/test/shared/ui/hover_test.dart
  packages/devtools_app/test/shared/ui/search_test.dart
  packages/devtools_app/test/shared/ui/ui_utils_test.dart
  packages/devtools_app/test/shared/ui/vm_flag_widgets_test.dart
Owners: @flutter/devtools-reviewers

license update - batch 42
  packages/devtools_app/lib/src/shared/utils/future_work_tracker.dart
  packages/devtools_app/lib/src/shared/utils/profiler_utils.dart
  packages/devtools_app/lib/src/shared/utils/utils.dart
  packages/devtools_app/lib/src/shared/utils/vm_utils.dart
  packages/devtools_app/test/shared/utils/future_work_tracker_test.dart
  packages/devtools_app/test/shared/utils/utils_test.dart
Owners: @flutter/devtools-reviewers
