Repository flutter/devtools, changes with the owners that CODEOWNERS names for each.
All owners: @flutter/devtools-reviewers, @CoderDake, @kenzieschmoll, @bkonyi, @polina-c, @elliette

CODEOWNERS:

*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @CoderDake

# Network Files
network/            @kenzieschmoll @bkonyi

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll

# Memory files
memory/             @bkonyi @polina-c

# Memory leak tracking files
memory/panes/leaks  @CoderDake @polina-c

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @CoderDake

packages/devtools_extensions/    @kenzieschmoll


# Version bump files.
# No owners to prevent version update spam
packages/devtools_app/lib/devtools.dart
packages/devtools_app/pubspec.yaml
packages/devtools_test/pubspec.yaml

initialization and fingerprint
  packages/devtools_app/lib/src/screens/deep_link_validation/validation_details_view.dart
  packages/devtools_app/lib/src/shared/offline_mode.dart
Owners: @flutter/devtools-reviewers

inaccurate
  packages/devtools_app/lib/src/screens/performance/panes/timeline_events/timeline_events_controller.dart
Owners: @kenzieschmoll

update to dtd 2.0.0
  packages/devtools_app/pubspec.yaml
  packages/devtools_app_shared/lib/src/service/dtd_manager.dart
  packages/devtools_app_shared/pubspec.yaml
  packages/devtools_shared/pubspec.yaml
  packages/devtools_shared/test/server/general_api_test.dart
Owners: @flutter/devtools-reviewers

forgotten file
  packages/devtools_shared/lib/src/server/handlers/_general.dart
Owners: @flutter/devtools-reviewers

Fixing typos (#7404)
  packages/devtools_app/lib/src/screens/deep_link_validation/validation_details_view.dart
  packages/devtools_app/lib/src/screens/performance/panes/timeline_events/timeline_events_controller.dart
  packages/devtools_app/lib/src/shared/offline_mode.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

One last
  packages/devtools_extensions/lib/src/template/devtools_extension.dart
Owners: @kenzieschmoll

-
  packages/devtools_app/lib/src/screens/memory/panes/diff/widgets/class_details/paths.dart
  packages/devtools_app/test/test_infra/scenes/memory/default.dart
  packages/devtools_app/test/test_infra/test_data/memory/heap/heap_graph_fakes.dart
Owners: @bkonyi, @polina-c

Refactor and cleanup byte utilities
  packages/devtools_app/lib/src/screens/app_size/app_size_table.dart
  packages/devtools_app/lib/src/screens/logging/logging_controller.dart
  packages/devtools_app/lib/src/screens/memory/panes/chart/memory_charts.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/widgets/class_details/paths.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/widgets/classes_table_single.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/widgets/snapshot_control_pane.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/widgets/snapshot_list.dart
  packages/devtools_app/lib/src/screens/memory/panes/profile/profile_view.dart
  packages/devtools_app/lib/src/screens/network/network_request_inspector_views.dart
  packages/devtools_app/lib/src/screens/vm_developer/isolate_statistics/isolate_statistics_view.dart
  packages/devtools_app/lib/src/screens/vm_developer/vm_developer_common_widgets.dart
  packages/devtools_app/lib/src/screens/vm_developer/vm_statistics/vm_statistics_view.dart
  packages/devtools_app/lib/src/shared/charts/treemap.dart
  packages/devtools_app/lib/src/shared/primitives/byte_utils.dart
  packages/devtools_app/lib/src/shared/primitives/utils.dart
  packages/devtools_app/lib/src/shared/table/table_data.dart
  packages/devtools_app/test/memory/profile/allocation_profile_table_view_test.dart
  packages/devtools_app/test/primitives/byte_utils_test.dart
  packages/devtools_app/test/primitives/utils_test.dart
Owners: @flutter/devtools-reviewers, @bkonyi, @polina-c, @kenzieschmoll

remove accidental commit
  packages/devtools_app/lib/src/shared/primitives/byte_utils.dart
Owners: @flutter/devtools-reviewers

path check
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_model.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/validation_details_view.dart
Owners: @flutter/devtools-reviewers

review comments
  packages/devtools_app/lib/src/screens/memory/panes/profile/profile_view.dart
  packages/devtools_app/lib/src/screens/network/network_request_inspector_views.dart
  packages/devtools_app/lib/src/shared/primitives/byte_utils.dart
  packages/devtools_app/test/primitives/byte_utils_test.dart
Owners: @bkonyi, @polina-c, @kenzieschmoll, @flutter/devtools-reviewers

fix tests
  packages/devtools_app/test/memory/profile/allocation_profile_table_view_test.dart
  packages/devtools_app/test/vm_developer/object_inspector/vm_class_display_test.dart
  packages/devtools_app/test/vm_developer/object_inspector/vm_developer_common_widgets_test.dart
  packages/devtools_app/test/vm_developer/object_inspector/vm_library_display_test.dart
  packages/devtools_app/test/vm_developer/object_inspector/vm_script_display_test.dart
Owners: @bkonyi, @polina-c

Update deep_links_model.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_model.dart
Owners: @flutter/devtools-reviewers

lint
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_model.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_services.dart
Owners: @flutter/devtools-reviewers

goldens
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_except_diff.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_scene_diff.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_showAll_diff.png
  packages/devtools_app/test/test_infra/goldens/treemap_sizes.png
Owners: @flutter/devtools-reviewers

Refactor and cleanup byte utilities (#7406)
  packages/devtools_app/lib/src/screens/app_size/app_size_table.dart
  packages/devtools_app/lib/src/screens/logging/logging_controller.dart
  packages/devtools_app/lib/src/screens/memory/panes/chart/memory_charts.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/widgets/class_details/paths.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/widgets/classes_table_single.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/widgets/snapshot_control_pane.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/widgets/snapshot_list.dart
  packages/devtools_app/lib/src/screens/memory/panes/profile/profile_view.dart
  packages/devtools_app/lib/src/screens/network/network_request_inspector_views.dart
  packages/devtools_app/lib/src/screens/vm_developer/isolate_statistics/isolate_statistics_view.dart
  packages/devtools_app/lib/src/screens/vm_developer/vm_developer_common_widgets.dart
  packages/devtools_app/lib/src/screens/vm_developer/vm_statistics/vm_statistics_view.dart
  packages/devtools_app/lib/src/shared/charts/treemap.dart
  packages/devtools_app/lib/src/shared/primitives/byte_utils.dart
  packages/devtools_app/lib/src/shared/primitives/utils.dart
  packages/devtools_app/lib/src/shared/table/table_data.dart
  packages/devtools_app/test/memory/profile/allocation_profile_table_view_test.dart
  packages/devtools_app/test/primitives/byte_utils_test.dart
  packages/devtools_app/test/primitives/utils_test.dart
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_except_diff.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_scene_diff.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_showAll_diff.png
  packages/devtools_app/test/test_infra/goldens/treemap_sizes.png
  packages/devtools_app/test/vm_developer/object_inspector/vm_class_display_test.dart
  packages/devtools_app/test/vm_developer/object_inspector/vm_developer_common_widgets_test.dart
  packages/devtools_app/test/vm_developer/object_inspector/vm_library_display_test.dart
  packages/devtools_app/test/vm_developer/object_inspector/vm_script_display_test.dart
Owners: @flutter/devtools-reviewers, @bkonyi, @polina-c, @kenzieschmoll

small changes
  packages/devtools_app/lib/src/screens/deep_link_validation/validation_details_view.dart
Owners: @flutter/devtools-reviewers

[deep link] Update path check UI according to figma changes, and extract some duplicated code. (#7407)
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_model.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_services.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/validation_details_view.dart
Owners: @flutter/devtools-reviewers

add more ValueNotifiers
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_link_list_view.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_controller.dart
Owners: @flutter/devtools-reviewers

Update validation_details_view.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/validation_details_view.dart
Owners: @flutter/devtools-reviewers

Update validation_details_view.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/validation_details_view.dart
Owners: @flutter/devtools-reviewers

update tests
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_controller.dart
  packages/devtools_app/test/deep_link_vlidation/deep_links_screen_test.dart
Owners: @flutter/devtools-reviewers

Update deep_links_controller.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_controller.dart
Owners: @flutter/devtools-reviewers

Updating from 2.34.0-dev.12 to 2.34.0-dev.13
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_test/pubspec.yaml
Owners: none

-
  packages/devtools_app/test/test_infra/scenes/memory/default.dart
  packages/devtools_app/test/test_infra/scenes/memory/diff_snapshot.dart
  packages/devtools_app/test/test_infra/test_data/memory/heap/heap_graph_fakes.dart
Owners: @bkonyi, @polina-c

changelog and version updates
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app_shared/CHANGELOG.md
  packages/devtools_shared/CHANGELOG.md
  packages/devtools_shared/pubspec.yaml
Owners: @flutter/devtools-reviewers

Adding missing fingerprint typo fix
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_controller.dart
Owners: @flutter/devtools-reviewers

-
  packages/devtools_app/test/memory/diff/widgets/diff_pane_test.dart
  packages/devtools_app/test/test_infra/scenes/memory/default.dart
Owners: @bkonyi, @polina-c

nrn ! needed
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Adding missing fingerprint typo fix (#7411)
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_controller.dart
Owners: @flutter/devtools-reviewers

-
  packages/devtools_app/lib/src/screens/memory/panes/diff/widgets/class_details/paths.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/widgets/classes_table_single.dart
  packages/devtools_app/test/memory/diff/widgets/diff_pane_test.dart
  packages/devtools_app/test/test_infra/scenes/memory/default.dart
Owners: @bkonyi, @polina-c

-
  packages/devtools_app/lib/src/screens/memory/panes/diff/widgets/class_details/paths.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/widgets/classes_table_single.dart
Owners: @bkonyi, @polina-c

update to dtd 2.0.0 (#7405)
  packages/devtools_app/pubspec.yaml
  packages/devtools_app_shared/CHANGELOG.md
  packages/devtools_app_shared/lib/src/service/dtd_manager.dart
  packages/devtools_app_shared/pubspec.yaml
  packages/devtools_extensions/lib/src/template/devtools_extension.dart
  packages/devtools_shared/CHANGELOG.md
  packages/devtools_shared/lib/src/server/handlers/_general.dart
  packages/devtools_shared/pubspec.yaml
  packages/devtools_shared/test/server/general_api_test.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

Update README.md to use `pub add` instead of explicit version (#7385)
  packages/devtools_app_shared/CHANGELOG.md
  packages/devtools_app_shared/README.md
  packages/devtools_extensions/CHANGELOG.md
  packages/devtools_extensions/README.md
  packages/devtools_shared/README.md
Owners: @flutter/devtools-reviewers, @kenzieschmoll

Update validation_details_view.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/validation_details_view.dart
Owners: @flutter/devtools-reviewers

Add a ring buffer for Perfetto timeline traces
  packages/.vscode/launch.json
  packages/devtools_app/integration_test/test/live_connection/performance_screen_event_recording_test.dart
  packages/devtools_app/lib/src/screens/performance/panes/timeline_events/perfetto/_perfetto_controller_web.dart
  packages/devtools_app/lib/src/screens/performance/panes/timeline_events/perfetto/_perfetto_web.dart
  packages/devtools_app/lib/src/screens/performance/panes/timeline_events/perfetto/perfetto_controller.dart
  packages/devtools_app/lib/src/screens/performance/panes/timeline_events/perfetto/tracing/model.dart
  packages/devtools_app/lib/src/screens/performance/panes/timeline_events/timeline_event_processor.dart
  packages/devtools_app/lib/src/screens/performance/panes/timeline_events/timeline_events_controller.dart
  packages/devtools_app/lib/src/screens/performance/performance_controller.dart
  packages/devtools_app/lib/src/shared/primitives/byte_utils.dart
  packages/devtools_app/lib/src/shared/routing.dart
  packages/devtools_app/test/performance/timeline_events/perfetto/tracing_model_test.dart
  packages/devtools_app/test/performance/timeline_events/timeline_event_processor_test.dart
  packages/devtools_app/test/performance/timeline_events/timeline_events_controller_test.dart
  packages/devtools_app/test/primitives/byte_utils_test.dart
  packages/devtools_app/test/test_infra/scenes/standalone_ui/vs_code_mock_editor.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

dts and dtas bumps
  packages/devtools_app_shared/CHANGELOG.md
  packages/devtools_app_shared/pubspec.yaml
  packages/devtools_extensions/CHANGELOG.md
  packages/devtools_extensions/pubspec.yaml
Owners: @flutter/devtools-reviewers, @kenzieschmoll

-
  packages/devtools_app/lib/src/shared/memory/retaining_path.dart
  packages/devtools_app/test/memory/shared/heap/heap_analyzer_golden_test.dart
  packages/devtools_app/test/memory/shared/heap/heap_test.dart
Owners: @bkonyi, @polina-c

-
  packages/devtools_app/lib/src/shared/memory/retaining_path.dart
  packages/devtools_app/test/memory/diff/widgets/diff_pane_test.dart
  packages/devtools_app/test/memory/shared/heap/heap_test.dart
Owners: @bkonyi, @polina-c

resolve comments
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_link_list_view.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_controller.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_model.dart
Owners: @flutter/devtools-reviewers
