Repository flutter/devtools, changes with the owners that CODEOWNERS names for each.
All owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

CODEOWNERS:

*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @elliette

# Network Files
network/            @bkonyi @kenzieschmoll

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll @bkonyi

# Memory files
memory/             @bkonyi @kenzieschmoll

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @kenzieschmoll

# DevTools extensions and related files
src/extensions/
packages/devtools_extensions/    @kenzieschmoll
packages/devtools_app_shared/    @kenzieschmoll

# package:devtools_shared code, which is used across DevTools and the Dart SDK
packages/devtools_shared/        @kenzieschmoll @bkonyi

# Version bump files.
# No owners to prevent version update spam
packages/devtools_app/lib/devtools.dart
packages/devtools_app/pubspec.yaml
packages/devtools_test/pubspec.yaml

Fix copying issue for inspector nodes
  packages/devtools_app/lib/src/shared/diagnostics/dart_object_node.dart
  packages/devtools_app/macos/Runner.xcodeproj/project.pbxproj
Owners: @flutter/devtools-reviewers

[Widget Inspector] Update Select Widget Mode icon (#9192)
  packages/devtools_app/lib/src/service/service_extensions.dart
  packages/devtools_app/macos/Runner.xcodeproj/project.pbxproj
  packages/devtools_app/pubspec.yaml
Owners: @flutter/devtools-reviewers

Add tests
  packages/devtools_app/lib/src/shared/diagnostics/dart_object_node.dart
  packages/devtools_app/test/shared/diagnostics/dart_object_node_test.dart
  packages/devtools_app/test/test_infra/utils/variable_utils.dart
Owners: @flutter/devtools-reviewers

Update comments
  packages/devtools_app/lib/src/shared/diagnostics/dart_object_node.dart
Owners: @flutter/devtools-reviewers

Respond to first of PR comments
  packages/devtools_app/lib/src/shared/editor/api_classes.dart
  packages/devtools_app/lib/src/shared/editor/editor_client.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_controller.dart
Owners: @flutter/devtools-reviewers

Update test
  packages/devtools_app/test/standalone_ui/ide_shared/property_editor/property_editor_test.dart
Owners: @flutter/devtools-reviewers

Add new test file
  packages/devtools_app/test/shared/editor/editor_client_test.dart
  packages/devtools_test/lib/src/mocks/generated.dart
  packages/devtools_test/pubspec.yaml
Owners: @flutter/devtools-reviewers

Format
  packages/devtools_app/lib/src/shared/editor/editor_client.dart
Owners: @flutter/devtools-reviewers

mime fixes
  packages/devtools_app/lib/src/shared/http/http_request_data.dart
  packages/devtools_app/lib/src/shared/primitives/utils.dart
Owners: @flutter/devtools-reviewers

command and title are never null
  packages/devtools_app/lib/src/shared/editor/api_classes.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_controller.dart
Owners: @flutter/devtools-reviewers

Include error code in property editor errors
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_inputs.dart
Owners: @flutter/devtools-reviewers

Respond to PR comments
  packages/devtools_app/lib/src/shared/diagnostics/dart_object_node.dart
Owners: @flutter/devtools-reviewers

Include both error messages if they exist
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_inputs.dart
Owners: @flutter/devtools-reviewers

Fix test
  packages/devtools_app/test/screens/debugger/debugger_screen_variables_test.dart
Owners: @elliette

[Property Editor] Include error code in exceptions sent to GA (#9209)
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_inputs.dart
Owners: @flutter/devtools-reviewers

Update release notes
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

[Property Editor] Add APIs to support refactors from the Property Editor (#9202)
  flutter-candidate.txt
  packages/devtools_app/.vscode/launch.json
  packages/devtools_app/lib/src/shared/analytics/constants/_property_editor_sidebar_constants.dart
  packages/devtools_app/lib/src/shared/editor/api_classes.dart
  packages/devtools_app/lib/src/shared/editor/editor_client.dart
  packages/devtools_app/lib/src/shared/feature_flags.dart
  packages/devtools_app/lib/src/shared/primitives/custom_pointer_scroll_view.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_controller.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_inputs.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_view.dart
  packages/devtools_app/test/shared/editor/editor_client_test.dart
  packages/devtools_app/test/standalone_ui/ide_shared/property_editor/property_editor_test.dart
  packages/devtools_app/test/test_infra/goldens/integration_inspector_errors_2_error_selected.png
  packages/devtools_test/lib/src/mocks/generated.dart
  packages/devtools_test/pubspec.yaml
Owners: @flutter/devtools-reviewers

[Product Quality] Fix copy-to-clipboard behavior in the console (#9204)
  packages/devtools_app/lib/src/shared/diagnostics/dart_object_node.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/test/screens/debugger/debugger_screen_variables_test.dart
  packages/devtools_app/test/shared/diagnostics/dart_object_node_test.dart
  packages/devtools_app/test/test_infra/utils/variable_utils.dart
Owners: @flutter/devtools-reviewers, @elliette

As buttons
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_common.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_refactors.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_view.dart
  packages/devtools_app/pubspec.yaml
Owners: @flutter/devtools-reviewers

Dense buttons
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_refactors.dart
Owners: @flutter/devtools-reviewers

Blue buttons
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_refactors.dart
Owners: @flutter/devtools-reviewers

Working with UI changes
  packages/devtools_app/icons/property_editor/center_dark_theme.png
  packages/devtools_app/icons/property_editor/center_light_theme.png
  packages/devtools_app/icons/property_editor/column_dark_theme.png
  packages/devtools_app/icons/property_editor/column_light_theme.png
  packages/devtools_app/icons/property_editor/container_dark_theme.png
  packages/devtools_app/icons/property_editor/container_light_theme.png
  packages/devtools_app/icons/property_editor/padding_dark_theme.png
  packages/devtools_app/icons/property_editor/padding_light_theme.png
  packages/devtools_app/icons/property_editor/row_dark_theme.png
  packages/devtools_app/icons/property_editor/row_light_theme.png
  packages/devtools_app/icons/property_editor/sizedbox_dark_theme.png
  packages/devtools_app/icons/property_editor/sizedbox_light_theme.png
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_controller.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_refactors.dart
  packages/devtools_app/pubspec.yaml
Owners: @flutter/devtools-reviewers

Update theme
  packages/devtools_app_shared/lib/src/ui/theme/theme.dart
Owners: @kenzieschmoll

Clean up
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_common.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_refactors.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_view.dart
Owners: @flutter/devtools-reviewers

Register and unregister VM service connections on DTD from the DevTools server
  packages/devtools_app/lib/src/shared/managers/dtd_manager_extensions.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app_shared/CHANGELOG.md
  packages/devtools_app_shared/pubspec.yaml
  packages/devtools_extensions/CHANGELOG.md
  packages/devtools_extensions/example/packages_with_extensions/foo/packages/foo_devtools_extension/pubspec.yaml
  packages/devtools_extensions/pubspec.yaml
  packages/devtools_shared/CHANGELOG.md
  packages/devtools_shared/lib/src/server/handlers/_vm_service.dart
  packages/devtools_shared/pubspec.yaml
Owners: @flutter/devtools-reviewers, @kenzieschmoll, @bkonyi

Allow the `--update-on-path` flag to be passed to the `dt sync` command
  CONTRIBUTING.md
  tool/lib/commands/shared.dart
  tool/lib/commands/sync.dart
  tool/lib/commands/update_flutter_sdk.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

Remove unused icons from pubspec
  packages/devtools_app/pubspec.yaml
Owners: none

Change VM developer mode to Advanced developer mode
  packages/devtools_app/lib/src/app.dart
  packages/devtools_app/lib/src/framework/scaffold/settings_dialog.dart
  packages/devtools_app/lib/src/screens/memory/panes/profile/profile_view.dart
  packages/devtools_app/lib/src/screens/profiler/cpu_profile_model.dart
  packages/devtools_app/lib/src/screens/profiler/cpu_profile_service.dart
  packages/devtools_app/lib/src/screens/profiler/cpu_profiler.dart
  packages/devtools_app/lib/src/screens/profiler/panes/controls/cpu_profiler_controls.dart
  packages/devtools_app/lib/src/screens/profiler/profiler_screen_controller.dart
  packages/devtools_app/lib/src/screens/vm_developer/vm_service_private_extensions.dart
  packages/devtools_app/lib/src/service/service_manager.dart
  packages/devtools_app/lib/src/service/vm_service_wrapper.dart
  packages/devtools_app/lib/src/shared/analytics/constants.dart
  packages/devtools_app/lib/src/shared/framework/screen.dart
  packages/devtools_app/lib/src/shared/preferences/preferences.dart
  packages/devtools_app/lib/src/shared/utils/utils.dart
  packages/devtools_app/test/screens/cpu_profiler/cpu_profiler_test.dart
  packages/devtools_app/test/screens/memory/profile/allocation_profile_table_view_test.dart
  packages/devtools_app/test/shared/framework/visible_screens_test.dart
  packages/devtools_app/test/shared/preferences/preferences_controller_test.dart
Owners: @flutter/devtools-reviewers, @bkonyi, @kenzieschmoll

Bump dtd to 3.0.0
  packages/devtools_app/lib/src/shared/managers/dtd_manager_extensions.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app_shared/pubspec.yaml
  packages/devtools_extensions/example/packages_with_extensions/foo/packages/foo_devtools_extension/pubspec.yaml
  packages/devtools_shared/pubspec.yaml
  packages/devtools_test/pubspec.yaml
Owners: @flutter/devtools-reviewers, @kenzieschmoll, @bkonyi

Property editor flag clean-up
  packages/devtools_app/lib/src/shared/feature_flags.dart
Owners: @flutter/devtools-reviewers

Add initial DTDTools screen
  packages/devtools_app/lib/src/app.dart
  packages/devtools_app/lib/src/screens/dtd/dtd_tools_controller.dart
  packages/devtools_app/lib/src/screens/dtd/dtd_tools_model.dart
  packages/devtools_app/lib/src/screens/dtd/dtd_tools_screen.dart
  packages/devtools_app/lib/src/screens/dtd/events.dart
  packages/devtools_app/lib/src/screens/dtd/services.dart
  packages/devtools_app/lib/src/screens/dtd/shared.dart
  packages/devtools_app/lib/src/shared/framework/screen.dart
  packages/devtools_app/test/shared/framework/visible_screens_test.dart
Owners: @flutter/devtools-reviewers

Fix todos
  packages/devtools_app/lib/src/screens/dtd/dtd_tools_screen.dart
  packages/devtools_app/lib/src/shared/analytics/constants.dart
  packages/devtools_app/lib/src/shared/preferences/preferences.dart
Owners: @flutter/devtools-reviewers

lints
  packages/devtools_app/lib/src/screens/dtd/dtd_tools_screen.dart
  packages/devtools_app/lib/src/screens/dtd/events.dart
Owners: @flutter/devtools-reviewers

one more version bump
  packages/devtools_test/pubspec.yaml
Owners: none

Update TRIAGE.md
  TRIAGE.md
Owners: @flutter/devtools-reviewers

events.dart comments
  packages/devtools_app/lib/src/screens/dtd/events.dart
Owners: @flutter/devtools-reviewers

dtd_tools_screen.dart comments
  packages/devtools_app/lib/src/screens/dtd/dtd_tools_screen.dart
Owners: @flutter/devtools-reviewers

services.dart comments
  packages/devtools_app/lib/src/screens/dtd/services.dart
Owners: @flutter/devtools-reviewers

Initial test cases
  packages/devtools_app/lib/src/shared/feature_flags.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_controller.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_refactors.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_view.dart
  packages/devtools_app/test/standalone_ui/ide_shared/property_editor/property_editor_test.dart
Owners: @flutter/devtools-reviewers

Move extra refactors into dropdown
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_controller.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_refactors.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_types.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_view.dart
Owners: @flutter/devtools-reviewers
