Repository flutter/devtools, changes with the owners that CODEOWNERS names for each.
All owners: @flutter/devtools-reviewers, @CoderDake, @kenzieschmoll, @bkonyi, @polina-c, @elliette

Removed accidentally added file
  tool/test/release_notes/release_note_classes_test.dart
Owners: @CoderDake

change target repo to one that has all of the branch refs that we need
  tool/latest_flutter_candidate.sh
Owners: @CoderDake

Disable experiments for debug and profile mode.
  packages/devtools_app/lib/main.dart
  packages/devtools_app/lib/src/primitives/feature_flags.dart
Owners: @flutter/devtools-reviewers

Disable experiments for debug and profile mode. (#4861)
  packages/devtools_app/lib/main.dart
  packages/devtools_app/lib/src/primitives/feature_flags.dart
Owners: @flutter/devtools-reviewers

Add launch configuration to enable experiments
  packages/devtools_app/.vscode/launch.json
Owners: @flutter/devtools-reviewers

Fix type error in Perfetto code
  packages/devtools_app/lib/src/screens/performance/panes/timeline_events/perfetto/_perfetto_web.dart
Owners: @kenzieschmoll

add types
  packages/devtools_app/lib/src/screens/performance/panes/timeline_events/perfetto/_perfetto_web.dart
Owners: @kenzieschmoll

Remove unnecessary Future types
  packages/devtools_app/lib/src/screens/performance/panes/timeline_events/perfetto/_perfetto_controller_web.dart
  packages/devtools_app/lib/src/screens/performance/panes/timeline_events/perfetto/perfetto_controller.dart
  packages/devtools_app/lib/src/screens/performance/panes/timeline_events/timeline_events_controller.dart
  packages/devtools_app/test/performance/timeline_events/legacy/legacy_event_processor_test.dart
  packages/devtools_app/test/performance/timeline_events/timeline_events_controller_test.dart
Owners: @kenzieschmoll

Add launch configuration to enable experiments (#4862)
  packages/devtools_app/.vscode/launch.json
Owners: @flutter/devtools-reviewers

Fix type error in Perfetto code (#4863)
  packages/devtools_app/lib/src/screens/performance/panes/timeline_events/perfetto/_perfetto_web.dart
Owners: @kenzieschmoll

Remove unnecessary Future types in Perfetto code. (#4864)
  packages/devtools_app/lib/src/screens/performance/panes/timeline_events/perfetto/_perfetto_controller_web.dart
  packages/devtools_app/lib/src/screens/performance/panes/timeline_events/perfetto/perfetto_controller.dart
  packages/devtools_app/lib/src/screens/performance/panes/timeline_events/timeline_events_controller.dart
  packages/devtools_app/test/performance/timeline_events/legacy/legacy_event_processor_test.dart
  packages/devtools_app/test/performance/timeline_events/timeline_events_controller_test.dart
Owners: @kenzieschmoll

try changing order
  .github/workflows/build.yaml
Owners: @flutter/devtools-reviewers

try just the githubtoken env
  .github/workflows/build.yaml
Owners: @flutter/devtools-reviewers

try nont persisting creds?
  .github/workflows/build.yaml
Owners: @flutter/devtools-reviewers

Update README.md
  tool/README.md
Owners: @CoderDake

Update README.md
  tool/README.md
Owners: @CoderDake

Rename rebuild_stats files
  packages/devtools_app/lib/src/screens/performance/panes/frame_analysis/frame_analysis.dart
  packages/devtools_app/lib/src/screens/performance/panes/rebuild_stats/rebuild_stats.dart
  packages/devtools_app/lib/src/screens/performance/panes/rebuild_stats/rebuild_stats_model.dart
  packages/devtools_app/lib/src/screens/performance/performance_controller.dart
  packages/devtools_app/lib/src/screens/performance/performance_model.dart
  packages/devtools_app/lib/src/screens/performance/tabbed_performance_view.dart
  packages/devtools_app/test/performance/frame_analysis/frame_analysis_test.dart
  packages/devtools_app/test/performance/performance_model_test.dart
  packages/devtools_app/test/shared/widget_rebuild_counts_test.dart
Owners: @kenzieschmoll, @flutter/devtools-reviewers

fix imports
  packages/devtools_app/lib/src/screens/performance/panes/frame_analysis/frame_analysis.dart
Owners: @kenzieschmoll

Rename rebuild_stats files (#4888)
  packages/devtools_app/lib/src/screens/performance/panes/frame_analysis/frame_analysis.dart
  packages/devtools_app/lib/src/screens/performance/panes/rebuild_stats/rebuild_stats.dart
  packages/devtools_app/lib/src/screens/performance/panes/rebuild_stats/rebuild_stats_model.dart
  packages/devtools_app/lib/src/screens/performance/performance_controller.dart
  packages/devtools_app/lib/src/screens/performance/performance_model.dart
  packages/devtools_app/lib/src/screens/performance/tabbed_performance_view.dart
  packages/devtools_app/test/performance/frame_analysis/frame_analysis_test.dart
  packages/devtools_app/test/performance/performance_model_test.dart
  packages/devtools_app/test/shared/widget_rebuild_counts_test.dart
Owners: @kenzieschmoll, @flutter/devtools-reviewers

Move Performance feature controls into tab view
  packages/devtools_app/lib/src/screens/performance/panes/raster_stats/raster_stats.dart
  packages/devtools_app/lib/src/screens/performance/panes/rebuild_stats/rebuild_stats.dart
  packages/devtools_app/lib/src/screens/performance/tabbed_performance_view.dart
  packages/devtools_app/lib/src/shared/common_widgets.dart
  packages/devtools_app/test/performance/raster_stats/raster_stats_test.dart
  packages/devtools_app/test/performance/tabbed_performance_view_test.dart
Owners: @kenzieschmoll, @flutter/devtools-reviewers

fix goldens
  packages/devtools_app/test/performance/raster_stats/goldens/raster_stats_changed_selection.png
  packages/devtools_app/test/performance/raster_stats/goldens/raster_stats_with_data.png
  packages/devtools_app/test/performance/raster_stats/raster_stats_test.dart
Owners: @kenzieschmoll

fix goldens
  packages/devtools_app/test/test_infra/goldens/settings_dialog_default.png
  packages/devtools_app/test/test_infra/goldens/settings_dialog_modified.png
Owners: @flutter/devtools-reviewers

CODEOWNERS:

*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @CoderDake

# Network Files
network/            @kenzieschmoll @bkonyi

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll

# Memory files
memory/             @bkonyi @polina-c

# Memory leak tracking files
memory/panes/leaks  @CoderDake @polina-c

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @CoderDake
