Repository flutter/devtools, changes with the owners that CODEOWNERS names for each.
All owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

Create `preparing-pr` skill
  .agents/skills/preparing-pr/SKILL.md
Owners: @flutter/devtools-reviewers

Expand repo rules to include style guide and UI development guidelines
  AI_RULES.md
  GEMINI.md
Owners: @flutter/devtools-reviewers

include utils
  AI_RULES.md
Owners: @flutter/devtools-reviewers

remove tooltip and \n
  packages/devtools_app/lib/src/shared/console/widgets/display_provider.dart
Owners: @flutter/devtools-reviewers

Show debug-mode message for widget rebuilds in profile mode
  packages/devtools_app/lib/src/screens/performance/panes/rebuild_stats/rebuild_stats.dart
  packages/devtools_app/test/screens/performance/rebuild_stats/rebuild_stats_view_test.dart
Owners: @kenzieschmoll

Updating from 2.57.0-dev.0 to 2.57.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Fix main isolate auto-selection for test suite isolates
  packages/devtools_app_shared/lib/src/service/isolate_manager.dart
  packages/devtools_app_shared/test/service/isolate_manager_test.dart
Owners: @kenzieschmoll

Use safe listenable value access in disconnect observer
  packages/devtools_app/lib/src/framework/observer/disconnect_observer.dart
Owners: @flutter/devtools-reviewers

added release notes
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

fix(logging): combine newline-split stdout messages into one log entry
  packages/devtools_app/lib/src/screens/logging/logging_controller.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/test/screens/logging/logging_controller_test.dart
Owners: @flutter/devtools-reviewers

Auto-select test suite isolate for paused dart tests
  packages/devtools_app_shared/lib/src/service/isolate_manager.dart
  packages/devtools_app_shared/test/service/isolate_manager_test.dart
Owners: @kenzieschmoll

Remove legacy `devtools_tool` executables (#9750)
  tool/bin/devtools_tool
  tool/bin/devtools_tool.bat
Owners: @kenzieschmoll

Add a new `dt presubmit` tool. (#9751)
  tool/lib/commands/presubmit.dart
  tool/lib/devtools_command_runner.dart
  tool/pubspec.yaml
  tool/test/command_test_utils.dart
  tool/test/presubmit_test.dart
Owners: @kenzieschmoll

Refactor StdoutEventHandler buffering logic and null handling
  packages/devtools_app/lib/src/screens/logging/logging_controller.dart
Owners: @flutter/devtools-reviewers

Updating from 2.57.0-dev.0 to 2.57.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

formatting
  packages/devtools_app/lib/src/screens/logging/logging_controller.dart
Owners: @flutter/devtools-reviewers

fix: auto-select test_suite isolate as main
  packages/devtools_app/lib/src/framework/observer/_memory_web.dart
  packages/devtools_app_shared/test/service/isolate_manager_test.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

Updating from 2.57.0-dev.0 to 2.57.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.57.0-dev.0 to 2.57.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

sort directives
  packages/devtools_app/test/framework/observer/disconnect_observer_test.dart
Owners: @flutter/devtools-reviewers

Prepare for release 2.57.0
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
  pubspec.lock
Owners: @flutter/devtools-reviewers

Prepare for release 2.57.0
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Update to latest Flutter candidate
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

revert flutter bump
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

Prepare for release 2.57.0 (#9760)
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Fix overlay stacking
  packages/devtools_app/lib/src/framework/observer/disconnect_observer.dart
Owners: @flutter/devtools-reviewers

Add release notes for long string overlay fix
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Update goldens for run 24064811951
  packages/devtools_app/test/test_infra/goldens/memory_diff_empty1.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_empty2.png
  packages/devtools_app/test/test_infra/goldens/shared/disconnect_observer_disconnected.png
Owners: @flutter/devtools-reviewers

Fix network pending expectations and analyzer infos
  packages/devtools_app/lib/src/shared/http/http_request_data.dart
  packages/devtools_app/lib/src/shared/primitives/custom_pointer_scroll_view.dart
  packages/devtools_app/test/screens/network/network_table_test.dart
Owners: @flutter/devtools-reviewers, @bkonyi, @kenzieschmoll

Remove unused matcher import in diff pane test
  packages/devtools_app/test/screens/memory/diff/widgets/diff_pane_test.dart
Owners: @bkonyi, @kenzieschmoll

Move RebuildStatsView tests to performance_screen_test
  packages/devtools_app/test/screens/performance/performance_screen_test.dart
  packages/devtools_app/test/screens/performance/rebuild_stats/rebuild_stats_view_test.dart
Owners: @kenzieschmoll

fix: failed tests
  packages/devtools_app/test/shared/http/http_request_data_test.dart
Owners: @flutter/devtools-reviewers

Restore diff pane golden assertions
  packages/devtools_app/test/screens/memory/diff/widgets/diff_pane_test.dart
Owners: @bkonyi, @kenzieschmoll

fix: baseJson missing parameter
  packages/devtools_app/test/shared/http/http_request_data_test.dart
Owners: @flutter/devtools-reviewers

fix asyncEval integration test failures
  packages/devtools_app/test/shared/eval_integration_test.dart
  packages/devtools_app_shared/lib/src/service/eval_on_dart_library.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

add guidance for integration tests
  AI_RULES.md
Owners: @flutter/devtools-reviewers

use relative path
  .agents/skills/preparing-pr/SKILL.md
Owners: @flutter/devtools-reviewers

Expand repo rules to include style guide and UI development guidelines (#9754)
  AI_RULES.md
  GEMINI.md
Owners: @flutter/devtools-reviewers

Allow AI_RULES.md to be used in Cursor and Claude Code
  .cursor/rules/ai_rules.mdc
  CLAUDE.md
Owners: @flutter/devtools-reviewers

Allow AI_RULES.md to be used in Cursor and Claude Code (#9764)
  .cursor/rules/ai_rules.mdc
  CLAUDE.md
Owners: @flutter/devtools-reviewers

CODEOWNERS:

*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @elliette

# Network Files
network/            @bkonyi @kenzieschmoll

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll @bkonyi

# Memory files
memory/             @bkonyi @kenzieschmoll

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @kenzieschmoll

# DevTools extensions and related files
src/extensions/
packages/devtools_extensions/    @kenzieschmoll
packages/devtools_app_shared/    @kenzieschmoll

# package:devtools_shared code, which is used across DevTools and the Dart SDK
packages/devtools_shared/        @kenzieschmoll @bkonyi

# Version bump files.
# No owners to prevent version update spam
packages/devtools_app/lib/devtools.dart
packages/devtools_app/pubspec.yaml
packages/devtools_test/pubspec.yaml
