Repository flutter/devtools, changes with the owners that CODEOWNERS names for each.
All owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

Dispose all disposables in the Network screen
  packages/devtools_app/lib/src/screens/network/network_controller.dart
  packages/devtools_app/lib/src/screens/network/network_screen.dart
  packages/devtools_app/lib/src/screens/network/network_service.dart
Owners: @bkonyi, @kenzieschmoll

rnotes
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Dispose all disposables in AppSizeController (#8932)
  packages/devtools_app/lib/src/screens/app_size/app_size_controller.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Dispose all disposables for the Logging screen (#8933)
  packages/devtools_app/lib/src/screens/logging/_message_column.dart
  packages/devtools_app/lib/src/screens/logging/logging_controller.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/test/screens/logging/logging_controller_test.dart
Owners: @flutter/devtools-reviewers

Dispose all disposables for the CPU Profiler screen (#8934)
  packages/devtools_app/lib/src/screens/profiler/cpu_profiler_controller.dart
  packages/devtools_app/lib/src/screens/profiler/profiler_screen.dart
  packages/devtools_app/lib/src/screens/profiler/profiler_screen_controller.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @kenzieschmoll, @bkonyi, @flutter/devtools-reviewers

fix bugs and tests
  packages/devtools_app/lib/src/screens/memory/panes/chart/controller/chart_connection.dart
  packages/devtools_app/lib/src/screens/network/network_controller.dart
  packages/devtools_app/lib/src/screens/network/network_service.dart
  packages/devtools_app/lib/src/shared/utils/utils.dart
  packages/devtools_app/test/screens/network/network_controller_test.dart
  packages/devtools_app/test/screens/network/network_model_test.dart
  packages/devtools_app/test/screens/network/network_request_inspector_test.dart
  packages/devtools_app/test/shared/utils/utils_test.dart
Owners: @bkonyi, @kenzieschmoll, @flutter/devtools-reviewers

Dispose all disposables in the Performance screen (#8935)
  packages/devtools_app/lib/src/screens/performance/panes/controls/enhance_tracing/enhance_tracing.dart
  packages/devtools_app/lib/src/screens/performance/panes/flutter_frames/flutter_frames_controller.dart
  packages/devtools_app/lib/src/screens/performance/panes/rebuild_stats/rebuild_stats_model.dart
  packages/devtools_app/lib/src/screens/performance/panes/timeline_events/perfetto/_perfetto_controller_web.dart
  packages/devtools_app/lib/src/screens/performance/panes/timeline_events/timeline_events_controller.dart
  packages/devtools_app/lib/src/screens/performance/performance_controller.dart
  packages/devtools_app/lib/src/shared/utils/future_work_tracker.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/test/screens/performance/performance_controller_test.dart
  packages/devtools_app/test/screens/performance/performance_screen_test.dart
Owners: @kenzieschmoll, @flutter/devtools-reviewers

rnotes
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

add back accidental deletion
  packages/devtools_app/lib/src/screens/network/network_controller.dart
Owners: @bkonyi, @kenzieschmoll

handle null functions key in cpu samples
  packages/devtools_app/lib/src/screens/profiler/cpu_profile_model.dart
  packages/devtools_app/test/screens/cpu_profiler/cpu_profile_model_test.dart
Owners: @kenzieschmoll, @bkonyi, @flutter/devtools-reviewers

fix false postive diagnostics
  packages/devtools_app/test/screens/cpu_profiler/cpu_profile_model_test.dart
Owners: @flutter/devtools-reviewers

remove unused import
  packages/devtools_app/test/screens/cpu_profiler/cpu_profile_model_test.dart
Owners: @flutter/devtools-reviewers

Fix CPU performance tab time estimates.
  packages/devtools_app/lib/src/screens/profiler/cpu_profile_model.dart
  packages/devtools_app/lib/src/screens/profiler/panes/method_table/method_table_model.dart
  packages/devtools_app/lib/src/shared/utils/profiler_utils.dart
  packages/devtools_app/test/screens/cpu_profiler/method_table/method_table_model_test.dart
Owners: @kenzieschmoll, @bkonyi, @flutter/devtools-reviewers

update test data to include dead time in the samples
  packages/devtools_app/test/test_infra/test_data/cpu_profiler/cpu_profile.dart
Owners: @flutter/devtools-reviewers

add release notes
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

retroactively add release notes for the cpu profiler page improvements
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Fix test input state issues
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_inputs.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_types.dart
Owners: @flutter/devtools-reviewers

Correct more broken comment references (#8931)
  packages/devtools_app/lib/src/shared/diagnostics/generic_instance_reference.dart
  packages/devtools_app/lib/src/shared/diagnostics/inspector_service.dart
  packages/devtools_app/lib/src/shared/framework/screen.dart
  packages/devtools_app/lib/src/shared/http/http_request_data.dart
  packages/devtools_app/lib/src/shared/log_storage.dart
  packages/devtools_app/lib/src/shared/managers/survey.dart
  packages/devtools_app/lib/src/shared/primitives/collapsible_mixin.dart
Owners: @flutter/devtools-reviewers

feedback
  packages/devtools_app/lib/src/screens/vm_developer/object_inspector/vm_code_display.dart
Owners: @bkonyi

Add a test case
  packages/devtools_app/test/standalone_ui/ide_shared/property_editor/property_editor_test.dart
Owners: @flutter/devtools-reviewers

Do not update patch versions for `dependabot/github-actions`.
  .github/dependabot.yml
Owners: @flutter/devtools-reviewers

Correct more comment references across the project (#8915)
  packages/devtools_app/lib/src/screens/vm_developer/object_inspector/vm_code_display.dart
  packages/devtools_app/lib/src/screens/vm_developer/object_inspector/vm_object_model.dart
  packages/devtools_app/lib/src/screens/vm_developer/object_inspector/vm_script_display.dart
  packages/devtools_app/lib/src/screens/vm_developer/process_memory/process_memory_view_controller.dart
  packages/devtools_app/lib/src/screens/vm_developer/vm_service_private_extensions.dart
  packages/devtools_extensions/lib/src/template/devtools_extension.dart
  packages/devtools_extensions/lib/src/template/extension_manager.dart
  packages/devtools_shared/lib/src/extensions/extension_model.dart
  packages/devtools_shared/lib/src/memory/adb_memory_info.dart
  packages/devtools_shared/lib/src/service_utils.dart
  packages/devtools_shared/lib/src/utils/semantic_version.dart
  packages/devtools_shared/lib/src/utils/serialization.dart
Owners: @bkonyi, @kenzieschmoll

Remove controller and use key instead
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_inputs.dart
  packages/devtools_app/test/standalone_ui/ide_shared/property_editor/property_editor_test.dart
Owners: @flutter/devtools-reviewers

Accidental typo
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_inputs.dart
Owners: @flutter/devtools-reviewers

Use instance equality instead
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_types.dart
Owners: @flutter/devtools-reviewers

[Property Editor] Fix text input state retention issues (#8945)
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_inputs.dart
  packages/devtools_app/test/standalone_ui/ide_shared/property_editor/property_editor_test.dart
Owners: @flutter/devtools-reviewers

comments
  packages/devtools_app/lib/src/screens/network/network_service.dart
Owners: @bkonyi, @kenzieschmoll

Do not update patch versions for `dependabot/github-actions`. (#8946)
  .github/dependabot.yml
Owners: @flutter/devtools-reviewers

retroactively add release notes for the cpu profiler page improvements (#8942)
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

dcm lints
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_tree_controller.dart
  packages/devtools_app/lib/src/screens/vm_developer/object_inspector/vm_ic_data_display.dart
  packages/devtools_app/test/screens/network/network_controller_test.dart
Owners: @flutter/devtools-reviewers, @bkonyi, @kenzieschmoll

Do not trigger edits if there have been no changes
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_inputs.dart
Owners: @flutter/devtools-reviewers

Dispose all disposables in the Network screen (#8937)
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_tree_controller.dart
  packages/devtools_app/lib/src/screens/memory/panes/chart/controller/chart_connection.dart
  packages/devtools_app/lib/src/screens/network/network_controller.dart
  packages/devtools_app/lib/src/screens/network/network_screen.dart
  packages/devtools_app/lib/src/screens/network/network_service.dart
  packages/devtools_app/lib/src/screens/vm_developer/object_inspector/vm_ic_data_display.dart
  packages/devtools_app/lib/src/shared/utils/utils.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/test/screens/network/network_controller_test.dart
  packages/devtools_app/test/screens/network/network_model_test.dart
  packages/devtools_app/test/screens/network/network_request_inspector_test.dart
  packages/devtools_app/test/shared/utils/utils_test.dart
Owners: @flutter/devtools-reviewers, @bkonyi, @kenzieschmoll

Add a test case
  packages/devtools_app/test/standalone_ui/ide_shared/property_editor/property_editor_test.dart
Owners: @flutter/devtools-reviewers

Add another test case
  packages/devtools_app/test/standalone_ui/ide_shared/property_editor/property_editor_test.dart
Owners: @flutter/devtools-reviewers

Consolidate the `Disposable` logic in `devtools_app_shared`
  packages/devtools_app_shared/CHANGELOG.md
  packages/devtools_app_shared/lib/src/service/eval_on_dart_library.dart
  packages/devtools_app_shared/lib/src/service/service_manager.dart
  packages/devtools_app_shared/lib/src/utils/auto_dispose.dart
  packages/devtools_app_shared/pubspec.yaml
Owners: @kenzieschmoll

fix imports
  packages/devtools_app/lib/src/shared/diagnostics/object_group_api.dart
  packages/devtools_app/lib/src/shared/ui/hover.dart
  packages/devtools_app/test/shared/eval_integration_test.dart
Owners: @flutter/devtools-reviewers

Dispose all disposables in the Memory screen
  packages/devtools_app/lib/src/screens/memory/framework/memory_controller.dart
  packages/devtools_app/lib/src/screens/memory/panes/chart/controller/chart_connection.dart
  packages/devtools_app/lib/src/screens/memory/panes/chart/controller/chart_data.dart
  packages/devtools_app/lib/src/screens/memory/panes/chart/controller/chart_pane_controller.dart
  packages/devtools_app/lib/src/screens/memory/panes/chart/controller/memory_tracker.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/controller/class_data.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/controller/diff_pane_controller.dart
  packages/devtools_app/lib/src/screens/memory/panes/profile/profile_pane_controller.dart
  packages/devtools_app/lib/src/screens/memory/panes/profile/profile_view.dart
  packages/devtools_app/lib/src/screens/memory/panes/tracing/tracing_pane_controller.dart
  packages/devtools_app/lib/src/screens/memory/shared/primitives/memory_timeline.dart
  packages/devtools_app/lib/src/shared/charts/chart_controller.dart
  packages/devtools_app/test/test_infra/scenes/memory/default.dart
Owners: @bkonyi, @kenzieschmoll, @flutter/devtools-reviewers

rnotes
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

fix dependency
  packages/devtools_extensions/CHANGELOG.md
  packages/devtools_extensions/pubspec.yaml
Owners: @kenzieschmoll

fix deps
  packages/devtools_extensions/CHANGELOG.md
  packages/devtools_extensions/pubspec.yaml
Owners: @kenzieschmoll

CODEOWNERS:

*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @elliette

# Network Files
network/            @bkonyi @kenzieschmoll

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll @bkonyi

# Memory files
memory/             @bkonyi @kenzieschmoll

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @kenzieschmoll

# DevTools extensions and related files
src/extensions/
packages/devtools_extensions/    @kenzieschmoll
packages/devtools_app_shared/    @kenzieschmoll

# package:devtools_shared code, which is used across DevTools and the Dart SDK
packages/devtools_shared/        @kenzieschmoll @bkonyi

# Version bump files.
# No owners to prevent version update spam
packages/devtools_app/lib/devtools.dart
packages/devtools_app/pubspec.yaml
packages/devtools_test/pubspec.yaml
