Repository flutter/devtools, changes with the owners that CODEOWNERS names for each.
All owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

CODEOWNERS:

*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @elliette

# Network Files
network/            @bkonyi @kenzieschmoll

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll @bkonyi

# Memory files
memory/             @bkonyi @kenzieschmoll

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @kenzieschmoll

# DevTools extensions and related files
src/extensions/
packages/devtools_extensions/    @kenzieschmoll
packages/devtools_app_shared/    @kenzieschmoll

# package:devtools_shared code, which is used across DevTools and the Dart SDK
packages/devtools_shared/        @kenzieschmoll @bkonyi

# Version bump files.
# No owners to prevent version update spam
packages/devtools_app/lib/devtools.dart
packages/devtools_app/pubspec.yaml
packages/devtools_test/pubspec.yaml

Ensure pub get is ran for all packages for flutter customer tests (#9270)
  tool/flutter_customer_tests/setup.sh
  tool/lib/commands/generate_code.dart
Owners: @kenzieschmoll

Do not mark service extensions as 'added' so eagerly
  packages/devtools_app_shared/lib/src/service/service_extension_manager.dart
Owners: @kenzieschmoll

Fix comment on "forEachIsolate"
  packages/devtools_app/lib/src/service/vm_service_wrapper.dart
Owners: @flutter/devtools-reviewers

Small readability tweak in forEachIsolateHelper
  packages/devtools_app_shared/lib/src/service/service_utils.dart
Owners: @kenzieschmoll

NetworkService: small tweaks
  packages/devtools_app/lib/src/screens/network/network_service.dart
Owners: @bkonyi, @kenzieschmoll

release-notes
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Fix comment on "forEachIsolate" (#9272)
  packages/devtools_app/lib/src/service/vm_service_wrapper.dart
Owners: @flutter/devtools-reviewers

Small readability tweak in forEachIsolateHelper (#9273)
  packages/devtools_app_shared/lib/src/service/service_utils.dart
Owners: @kenzieschmoll

NetworkService: small tweaks (#9274)
  packages/devtools_app/lib/src/screens/network/network_service.dart
Owners: @bkonyi, @kenzieschmoll

Updating from 2.48.0-dev.0 to 2.48.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Fork all debugging docs out of CONTRIBUTING.md into their own doc
  CONTRIBUTING.md
  DEBUGGING.md
Owners: @flutter/devtools-reviewers

Updating from 2.48.0-dev.0 to 2.48.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Add a GEMINI.md file and .gitignore entry (#9279)
  .gitignore
  GEMINI.md
Owners: @flutter/devtools-reviewers

Use --no-minify-wasm when creating devtools for releases.
  tool/build_release.sh
  tool/lib/commands/build.dart
  tool/lib/commands/serve.dart
  tool/lib/commands/shared.dart
Owners: @kenzieschmoll

Updating from 2.48.0-dev.0 to 2.48.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Fork all debugging docs out of CONTRIBUTING.md into their own doc (#9278)
  CONTRIBUTING.md
  DEBUGGING.md
Owners: @flutter/devtools-reviewers

feedback
  packages/devtools_app_shared/lib/src/service/service_extension_manager.dart
Owners: @kenzieschmoll

Updating from 2.48.0-dev.0 to 2.48.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.48.0-dev.0 to 2.48.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.48.0-dev.0 to 2.48.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

feedback
  packages/devtools_app_shared/lib/src/service/service_extension_manager.dart
Owners: @kenzieschmoll

Updating from 2.48.0-dev.0 to 2.48.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Avoid bug when name is not in serviceExtensionsAllowlist
  packages/devtools_app_shared/lib/src/service/service_extension_manager.dart
Owners: @kenzieschmoll

feedback
  packages/devtools_app_shared/lib/src/service/service_extension_manager.dart
Owners: @kenzieschmoll

Update packages/devtools_app_shared/lib/src/service/service_extension_manager.dart
  packages/devtools_app_shared/lib/src/service/service_extension_manager.dart
Owners: @kenzieschmoll

feedback
  packages/devtools_app_shared/lib/src/service/service_extension_manager.dart
Owners: @kenzieschmoll

feedback
  packages/devtools_app/lib/src/screens/network/network_service.dart
  packages/devtools_app/lib/src/service/vm_service_wrapper.dart
  packages/devtools_app/lib/src/shared/diagnostics/inspector_service.dart
  packages/devtools_app_shared/lib/service.dart
  packages/devtools_app_shared/lib/src/service/rpc_error_extension.dart
  packages/devtools_app_shared/lib/src/service/service_extension_manager.dart
Owners: @bkonyi, @kenzieschmoll, @flutter/devtools-reviewers

Do not mark service extensions as 'added' so eagerly (#9271)
  packages/devtools_app/lib/src/screens/network/network_service.dart
  packages/devtools_app/lib/src/service/vm_service_wrapper.dart
  packages/devtools_app/lib/src/shared/diagnostics/inspector_service.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app_shared/lib/service.dart
  packages/devtools_app_shared/lib/src/service/rpc_error_extension.dart
  packages/devtools_app_shared/lib/src/service/service_extension_manager.dart
Owners: @bkonyi, @kenzieschmoll, @flutter/devtools-reviewers

Updating from 2.48.0-dev.0 to 2.48.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

ServiceExtensionManager: avoid switching on runtime type
  packages/devtools_app_shared/lib/src/service/service_extension_manager.dart
Owners: @kenzieschmoll

ServiceExtensionManager: return early... earlier
  packages/devtools_app_shared/lib/src/service/service_extension_manager.dart
Owners: @kenzieschmoll

one-more
  packages/devtools_app_shared/lib/src/service/service_extension_manager.dart
Owners: @kenzieschmoll

ServiceExtensionManager: simplify code around service state and availability
  packages/devtools_app_shared/lib/src/service/service_extension_manager.dart
Owners: @kenzieschmoll

Update flutter candidate
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

devtools_app_shared: add CHANGELOG entry
  packages/devtools_app_shared/CHANGELOG.md
Owners: @kenzieschmoll

FREEZE.unindexed
  packages/devtools_app/benchmark/devtools_benchmarks_test.dart
Owners: @flutter/devtools-reviewers

Prepare for release 2.48.0
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

devtools_app_shared: add CHANGELOG entry (#9289)
  packages/devtools_app_shared/CHANGELOG.md
Owners: @kenzieschmoll

Fix tests
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_inputs.dart
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_implementation_widgets_collapsed.png
  packages/devtools_app/test/test_infra/goldens/logging/metadata_chips.png
Owners: @flutter/devtools-reviewers

Use --no-minify-wasm when creating devtools for releases. (#9284)
  flutter-candidate.txt
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_inputs.dart
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_implementation_widgets_collapsed.png
  packages/devtools_app/test/test_infra/goldens/logging/metadata_chips.png
  tool/build_release.sh
  tool/lib/commands/build.dart
  tool/lib/commands/serve.dart
  tool/lib/commands/shared.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll
