Repository flutter/devtools, changes with the owners that CODEOWNERS names for each.
All owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

CODEOWNERS:

*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @elliette

# Network Files
network/            @bkonyi @kenzieschmoll

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll @bkonyi

# Memory files
memory/             @bkonyi @kenzieschmoll

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @kenzieschmoll

# DevTools extensions and related files
src/extensions/
packages/devtools_extensions/    @kenzieschmoll
packages/devtools_app_shared/    @kenzieschmoll

# package:devtools_shared code, which is used across DevTools and the Dart SDK
packages/devtools_shared/        @kenzieschmoll @bkonyi

# Version bump files.
# No owners to prevent version update spam
packages/devtools_app/lib/devtools.dart
packages/devtools_app/pubspec.yaml
packages/devtools_test/pubspec.yaml

Rework the integration test timeout logic (#9322)
  packages/devtools_app/integration_test/test/live_connection/app_test.dart
  packages/devtools_app/integration_test/test/live_connection/debugger_panel_test.dart
  packages/devtools_app/integration_test/test/live_connection/devtools_extensions_test.dart
  packages/devtools_app/integration_test/test/live_connection/eval_and_browse_test.dart
  packages/devtools_app/integration_test/test/live_connection/eval_and_inspect_test.dart
  packages/devtools_app/integration_test/test/live_connection/export_snapshot_test.dart
  packages/devtools_app/integration_test/test/live_connection/performance_screen_event_recording_test.dart
  packages/devtools_app/integration_test/test/live_connection/service_connection_test.dart
  packages/devtools_app/integration_test/test/live_connection/service_extensions_test.dart
  packages/devtools_app/integration_test/test/offline/memory_offline_data_test.dart
  packages/devtools_app/integration_test/test/offline/perfetto_test.dart
  packages/devtools_shared/lib/src/test/integration_test_runner.dart
  packages/devtools_test/lib/src/integration_test/integration_test_utils.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll, @bkonyi

Minor cleanup to CPU profile screen code (#9324)
  packages/devtools_app/lib/src/screens/profiler/cpu_profile_model.dart
  packages/devtools_app/lib/src/screens/profiler/cpu_profile_service.dart
  packages/devtools_app/lib/src/screens/profiler/sampling_rate.dart
Owners: @kenzieschmoll, @bkonyi

Avoid conflating concept of duration in `TimeRange` util class (#9325)
  packages/devtools_app/lib/src/screens/network/network_request_inspector_views.dart
  packages/devtools_app/lib/src/screens/performance/panes/flutter_frames/flutter_frame_model.dart
  packages/devtools_app/lib/src/screens/performance/panes/flutter_frames/flutter_frames_controller.dart
  packages/devtools_app/lib/src/screens/performance/panes/frame_analysis/frame_analysis_model.dart
  packages/devtools_app/lib/src/screens/performance/panes/timeline_events/perfetto/_perfetto_web.dart
  packages/devtools_app/lib/src/screens/performance/panes/timeline_events/timeline_event_processor.dart
  packages/devtools_app/lib/src/screens/performance/panes/timeline_events/timeline_events_controller.dart
  packages/devtools_app/lib/src/screens/performance/performance_model.dart
  packages/devtools_app/lib/src/screens/profiler/cpu_profile_model.dart
  packages/devtools_app/lib/src/shared/charts/flame_chart.dart
  packages/devtools_app/lib/src/shared/http/http_request_data.dart
  packages/devtools_app/lib/src/shared/primitives/utils.dart
  packages/devtools_app/test/screens/cpu_profiler/cpu_profile_model_test.dart
  packages/devtools_app/test/screens/cpu_profiler/cpu_profiler_test.dart
  packages/devtools_app/test/screens/cpu_profiler/method_table/method_table_model_test.dart
  packages/devtools_app/test/shared/primitives/utils_test.dart
  packages/devtools_app/test/test_infra/test_data/cpu_profiler/cpu_profile.dart
Owners: @bkonyi, @kenzieschmoll, @flutter/devtools-reviewers

Reset DevTools to next dev version (#9360)
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Update DevTools release instructions (#9359)
  tool/RELEASE_INSTRUCTIONS.md
Owners: @kenzieschmoll

[CPU Profiler] Delete the "Profile app start up" button (#9358)
  packages/devtools_app/lib/src/screens/profiler/panes/controls/profiler_screen_controls.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/test/screens/cpu_profiler/profiler_screen_test.dart
Owners: @kenzieschmoll, @bkonyi, @flutter/devtools-reviewers

Remove intermediary JSON conversion from `generateFromCpuSamples` (#9354)
  packages/devtools_app/lib/src/screens/profiler/cpu_profile_model.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/test/screens/cpu_profiler/cpu_profile_benchmark_test.dart
  packages/devtools_app/test/screens/cpu_profiler/cpu_profile_model_test.dart
Owners: @kenzieschmoll, @bkonyi, @flutter/devtools-reviewers

fix local markdown file links (#9384)
  CONTRIBUTING.md
Owners: @flutter/devtools-reviewers

Add `compiler=js` escape hatch to revert to dart2js compilation (#9406)
  packages/devtools_app/benchmark/test_infra/common.dart
  packages/devtools_app/lib/src/shared/preferences/preferences.dart
  packages/devtools_app/lib/src/shared/primitives/query_parameters.dart
  packages/devtools_app/web/flutter_bootstrap.js
Owners: @flutter/devtools-reviewers

Re-enable `inspector_service` test cases (#9402)
  packages/devtools_app/test/shared/diagnostics/inspector_service_test.dart
  packages/devtools_app/test/test_infra/goldens/inspector_service_node_no_summary.txt
  packages/devtools_app/test/test_infra/goldens/inspector_service_node_summary.txt
  packages/devtools_app/test/test_infra/goldens/inspector_service_tree_no_summary.txt
  packages/devtools_app/test/test_infra/goldens/inspector_service_tree_summary.txt
Owners: @flutter/devtools-reviewers

Temporarily disable widget tests in `inspector_service_test` (#9396)
  flutter-candidate.txt
  packages/devtools_app/test/shared/diagnostics/inspector_service_test.dart
Owners: @flutter/devtools-reviewers

Get DevTools tests passing with latest Flutter candidate (#9382)
  .github/workflows/build.yaml
  flutter-candidate.txt
  packages/devtools_app/integration_test/test/live_connection/devtools_extensions_test.dart
  packages/devtools_shared/lib/src/test/integration_test_runner.dart
  packages/devtools_shared/test/server/general_api_test.dart
  packages/devtools_test/lib/src/integration_test/integration_test_utils.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll, @bkonyi

Delete unused test utilities file `chrome.dart` (#9372)
  packages/devtools_shared/lib/devtools_test_utils.dart
  packages/devtools_shared/lib/src/test/chrome.dart
Owners: @kenzieschmoll, @bkonyi

Include stacktrace when dt command fails (#9385)
  tool/bin/dt.dart
Owners: @kenzieschmoll

Prepare for release 2.50.0 (#9407)
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

Revert PR #9372: Un-delete `packages/devtools_shared/lib/src/test/chrome.dart` (#9409)
  packages/devtools_shared/lib/devtools_test_utils.dart
  packages/devtools_shared/lib/src/test/chrome.dart
Owners: @kenzieschmoll, @bkonyi

added mime checks, minor logic improvements in recording
  packages/devtools_app/lib/src/screens/network/har_data_entry.dart
  packages/devtools_app/lib/src/screens/network/network_controller.dart
  packages/devtools_app/lib/src/shared/http/http_request_data.dart
  packages/devtools_app/lib/src/shared/primitives/utils.dart
Owners: @bkonyi, @kenzieschmoll, @flutter/devtools-reviewers

mime fixes
  packages/devtools_app/lib/src/shared/http/http_request_data.dart
  packages/devtools_app/lib/src/shared/primitives/utils.dart
Owners: @flutter/devtools-reviewers

Bump release notes for 2.51.0
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Bump release notes for 2.51.0 (#9424)
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Updating from 2.51.0-dev.0 to 2.51.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

added new helper functions, moved one function
  packages/devtools_app/lib/src/screens/network/utils/http_utils.dart
  packages/devtools_app/lib/src/shared/http/http_request_data.dart
  packages/devtools_app/lib/src/shared/primitives/utils.dart
Owners: @bkonyi, @kenzieschmoll, @flutter/devtools-reviewers

Updating from 2.51.0-dev.0 to 2.51.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Add test for compiler query param
  packages/devtools_app/integration_test/test_infra/run/run_test.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/webdriver_test/web_compiler_test.dart
  packages/devtools_shared/lib/src/test/chrome_driver.dart
  packages/devtools_test/lib/src/helpers/utils.dart
  tool/lib/commands/serve.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll, @bkonyi

Updating from 2.51.0-dev.0 to 2.51.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Fix DCM errors
  packages/devtools_app/benchmark/devtools_benchmarks_test.dart
  packages/devtools_app/lib/src/screens/profiler/cpu_profile_model.dart
  packages/devtools_app/lib/src/shared/http/http_request_data.dart
  packages/devtools_app/webdriver_test/web_compiler_test.dart
  packages/devtools_test/lib/src/integration_test/integration_test_utils.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll, @bkonyi

Maybe add test to Github CI
  .github/workflows/build.yaml
  tool/ci/bots.sh
Owners: @flutter/devtools-reviewers, @kenzieschmoll

Add print statement to debug CI failure
  packages/devtools_app/integration_test/test_infra/run/run_test.dart
Owners: @flutter/devtools-reviewers

more debugging
  packages/devtools_app/integration_test/test_infra/run/run_test.dart
Owners: @flutter/devtools-reviewers

Updating from 2.51.0-dev.0 to 2.51.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.51.0-dev.0 to 2.51.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.51.0-dev.0 to 2.51.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Fix unsupported devices not showing "Enable x" if there are no other devices
  packages/devtools_app/lib/src/standalone_ui/vs_code/devices.dart
Owners: @flutter/devtools-reviewers

Updating from 2.51.0-dev.0 to 2.51.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.51.0-dev.0 to 2.51.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.51.0-dev.0 to 2.51.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.51.0-dev.0 to 2.51.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Fix alignment of footer
  packages/devtools_app/lib/src/shared/ui/common_widgets.dart
Owners: @flutter/devtools-reviewers

Updating from 2.51.0-dev.0 to 2.51.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.51.0-dev.0 to 2.51.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none
