Repository flutter/devtools, changes with the owners that CODEOWNERS names for each.
All owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

CODEOWNERS:

*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @elliette

# Network Files
network/            @bkonyi @kenzieschmoll

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll @bkonyi

# Memory files
memory/             @bkonyi @kenzieschmoll

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @kenzieschmoll

# DevTools extensions and related files
src/extensions/
packages/devtools_extensions/    @kenzieschmoll
packages/devtools_app_shared/    @kenzieschmoll

# package:devtools_shared code, which is used across DevTools and the Dart SDK
packages/devtools_shared/        @kenzieschmoll @bkonyi

# Version bump files.
# No owners to prevent version update spam
packages/devtools_app/lib/devtools.dart
packages/devtools_app/pubspec.yaml
packages/devtools_test/pubspec.yaml

Delete `codicon` package from `third_party` (#8595)
  packages/devtools_app/.gitignore
  third_party/packages/codicon/CHANGELOG.md
  third_party/packages/codicon/LICENSE
  third_party/packages/codicon/README.md
  third_party/packages/codicon/analysis_options.yaml
  third_party/packages/codicon/lib/codicon.dart
  third_party/packages/codicon/lib/font/codicon.ttf
  third_party/packages/codicon/pubspec.yaml
Owners: @flutter/devtools-reviewers

Prepare ansi_up for 2.0.0 publish (#8602)
  third_party/packages/ansi_up/CHANGELOG.md
  third_party/packages/ansi_up/pubspec.yaml
Owners: @flutter/devtools-reviewers

Discontinue the `ansi_up` package
  third_party/packages/ansi_up/CHANGELOG.md
  third_party/packages/ansi_up/README.md
  third_party/packages/ansi_up/pubspec.yaml
Owners: @flutter/devtools-reviewers

Discontinue the `ansi_up` package (#8604)
  third_party/packages/ansi_up/CHANGELOG.md
  third_party/packages/ansi_up/README.md
  third_party/packages/ansi_up/pubspec.yaml
Owners: @flutter/devtools-reviewers

Remove the `shared_preferences` dependency from `devtools_app`
  packages/devtools_app/lib/src/framework/home_screen.dart
  packages/devtools_app/macos/Flutter/GeneratedPluginRegistrant.swift
  packages/devtools_app/pubspec.yaml
Owners: @flutter/devtools-reviewers

Delete `ansi_up` from `third_party`
  third_party/packages/ansi_up/CHANGELOG.md
  third_party/packages/ansi_up/LICENSE
  third_party/packages/ansi_up/README.md
  third_party/packages/ansi_up/analysis_options.yaml
  third_party/packages/ansi_up/lib/ansi_up.dart
  third_party/packages/ansi_up/pubspec.yaml
Owners: @flutter/devtools-reviewers

fix test and rename method
  packages/devtools_app/lib/src/framework/home_screen.dart
  packages/devtools_app/test/framework/home_screen_test.dart
Owners: @flutter/devtools-reviewers

Remove the `shared_preferences` dependency from `devtools_app` (#8607)
  packages/devtools_app/lib/src/framework/home_screen.dart
  packages/devtools_app/macos/Flutter/GeneratedPluginRegistrant.swift
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/test/framework/home_screen_test.dart
Owners: @flutter/devtools-reviewers

Delete `ansi_up` from `third_party` (#8605)
  third_party/packages/ansi_up/CHANGELOG.md
  third_party/packages/ansi_up/LICENSE
  third_party/packages/ansi_up/README.md
  third_party/packages/ansi_up/analysis_options.yaml
  third_party/packages/ansi_up/lib/ansi_up.dart
  third_party/packages/ansi_up/pubspec.yaml
Owners: @flutter/devtools-reviewers

Remove dependency on `package:clock`
  packages/devtools_app/lib/src/shared/managers/survey.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/test/shared/managers/survey_test.dart
Owners: @flutter/devtools-reviewers

Clean up some dependencies
  packages/devtools_app/pubspec.yaml
  packages/devtools_extensions/example/app_that_uses_foo/pubspec.yaml
Owners: @kenzieschmoll

added view licenses button to show licenses page
  packages/devtools_app/lib/src/framework/scaffold/about_dialog.dart
  packages/devtools_app/test/framework/scaffold/about_dialog_test.dart
Owners: @flutter/devtools-reviewers

Remove dependency on `package:clock` (#8608)
  packages/devtools_app/lib/src/shared/managers/survey.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/test/shared/managers/survey_test.dart
Owners: @flutter/devtools-reviewers

Clean up some dependencies (#8609)
  packages/devtools_app/pubspec.yaml
  packages/devtools_extensions/example/app_that_uses_foo/pubspec.yaml
Owners: @kenzieschmoll

Migrate to flutter_lints v5
  packages/devtools_app/lib/src/screens/debugger/program_explorer.dart
  packages/devtools_app/lib/src/screens/performance/panes/timeline_events/perfetto/tracing/model.dart
  packages/devtools_app/lib/src/shared/charts/treemap.dart
  packages/devtools_app/lib/src/shared/config_specific/drag_and_drop/_drag_and_drop_web.dart
  packages/devtools_app/lib/src/shared/diagnostics/diagnostics_node.dart
  packages/devtools_app/lib/src/shared/offline/offline_data.dart
  packages/devtools_app/lib/src/shared/primitives/enum_utils.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app_shared/example/utils/list_example.dart
  packages/devtools_app_shared/pubspec.yaml
  packages/devtools_extensions/pubspec.yaml
  packages/devtools_shared/lib/src/memory/memory_json.dart
  packages/devtools_shared/pubspec.yaml
  packages/devtools_test/pubspec.yaml
  pubspec.yaml
  tool/lib/license_utils.dart
  tool/lib/utils.dart
  tool/pubspec.yaml
Owners: @elliette, @kenzieschmoll, @flutter/devtools-reviewers, @bkonyi

Replace EnumUtils with extension methods from SDK
  packages/devtools_app/lib/src/screens/inspector/inspector_data_models.dart
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_data_models.dart
  packages/devtools_app/lib/src/shared/diagnostics/diagnostics_node.dart
  packages/devtools_app/lib/src/shared/primitives/enum_utils.dart
  packages/devtools_app/test/shared/primitives/enum_utils_test.dart
Owners: @elliette, @flutter/devtools-reviewers

Replace Uri copyWith extension with built-in replace
  packages/devtools_app/lib/src/extensions/embedded/_controller_web.dart
  packages/devtools_app/lib/src/shared/framework/routing.dart
  packages/devtools_app/lib/src/shared/primitives/utils.dart
Owners: @flutter/devtools-reviewers

Remove usage of late from ScreenSize util
  packages/devtools_app/lib/src/shared/ui/utils.dart
Owners: @flutter/devtools-reviewers

Fix analytics for hot reload and hot restart actions.
  packages/devtools_app/lib/src/service/service_extension_widgets.dart
Owners: @flutter/devtools-reviewers

add type
  packages/devtools_app/lib/src/service/service_extension_widgets.dart
Owners: @flutter/devtools-reviewers

remove async
  packages/devtools_app/lib/src/service/service_extension_widgets.dart
Owners: @flutter/devtools-reviewers

Respond to PR comments
  packages/devtools_app/lib/src/standalone_ui/standalone_screen.dart
Owners: @flutter/devtools-reviewers

Register the Property Editor as a standalone screen (#8600)
  packages/devtools_app/lib/src/standalone_ui/standalone_screen.dart
Owners: @flutter/devtools-reviewers

Respond to PR comments
  packages/devtools_app/lib/src/service/editor/api_classes.dart
  packages/devtools_app/lib/src/service/editor/editor_client.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_controller.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_panel.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_view.dart
  packages/devtools_app/test/standalone_ui/ide_shared/property_editor_test.dart
Owners: @flutter/devtools-reviewers

Clean up after merge
  packages/devtools_app/lib/src/standalone_ui/standalone_screen.dart
Owners: @flutter/devtools-reviewers

uppercased button text, ran formatter
  packages/devtools_app/lib/src/framework/scaffold/about_dialog.dart
  packages/devtools_app/test/framework/scaffold/about_dialog_test.dart
Owners: @flutter/devtools-reviewers

Use temp directory
  packages/devtools_app/test/screens/inspector_v2/inspector_integration_test.dart
  packages/devtools_app/test/test_infra/flutter_test_environment.dart
Owners: @flutter/devtools-reviewers

Remove retries = 0
  packages/devtools_app/test/screens/inspector_v2/inspector_integration_test.dart
Owners: @flutter/devtools-reviewers

addressed PR feedback, added release notes
  packages/devtools_app/lib/src/framework/scaffold/about_dialog.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

ran formatter again
  packages/devtools_app/lib/src/framework/scaffold/about_dialog.dart
Owners: @flutter/devtools-reviewers

Add view licenses button to DevTools about dialog that shows license page (#8610)
  packages/devtools_app/lib/src/framework/scaffold/about_dialog.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/test/framework/scaffold/about_dialog_test.dart
Owners: @flutter/devtools-reviewers

Migrate to flutter_lints v5 (#8613)
  packages/devtools_app/lib/src/screens/debugger/program_explorer.dart
  packages/devtools_app/lib/src/screens/performance/panes/timeline_events/perfetto/tracing/model.dart
  packages/devtools_app/lib/src/shared/charts/treemap.dart
  packages/devtools_app/lib/src/shared/config_specific/drag_and_drop/_drag_and_drop_web.dart
  packages/devtools_app/lib/src/shared/diagnostics/diagnostics_node.dart
  packages/devtools_app/lib/src/shared/offline/offline_data.dart
  packages/devtools_app/lib/src/shared/primitives/enum_utils.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app_shared/example/utils/list_example.dart
  packages/devtools_app_shared/pubspec.yaml
  packages/devtools_extensions/pubspec.yaml
  packages/devtools_shared/lib/src/memory/memory_json.dart
  packages/devtools_shared/pubspec.yaml
  packages/devtools_test/pubspec.yaml
  pubspec.yaml
  tool/lib/license_utils.dart
  tool/lib/utils.dart
  tool/pubspec.yaml
Owners: @elliette, @kenzieschmoll, @flutter/devtools-reviewers, @bkonyi

Remove usage of late from ScreenSize util (#8616)
  packages/devtools_app/lib/src/shared/ui/utils.dart
Owners: @flutter/devtools-reviewers

Replace Uri copyWith extension with built-in replace (#8615)
  packages/devtools_app/lib/src/extensions/embedded/_controller_web.dart
  packages/devtools_app/lib/src/shared/framework/routing.dart
  packages/devtools_app/lib/src/shared/primitives/utils.dart
Owners: @flutter/devtools-reviewers

Replace `EnumUtils` with extension methods from SDK (#8614)
  packages/devtools_app/lib/src/screens/inspector/inspector_data_models.dart
  packages/devtools_app/lib/src/screens/inspector_v2/inspector_data_models.dart
  packages/devtools_app/lib/src/shared/diagnostics/diagnostics_node.dart
  packages/devtools_app/lib/src/shared/primitives/enum_utils.dart
  packages/devtools_app/test/shared/primitives/enum_utils_test.dart
Owners: @elliette, @flutter/devtools-reviewers

Utilize new await extension methods
  packages/devtools_app/lib/src/extensions/extension_service.dart
  packages/devtools_app/lib/src/screens/debugger/breakpoint_manager.dart
  packages/devtools_app/lib/src/screens/debugger/debugger_controller.dart
  packages/devtools_app/lib/src/screens/debugger/program_explorer_controller.dart
  packages/devtools_app/lib/src/screens/debugger/variables.dart
  packages/devtools_app/lib/src/screens/inspector/inspector_controller.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/controller/diff_pane_controller.dart
  packages/devtools_app/lib/src/screens/memory/panes/tracing/tracing_data.dart
  packages/devtools_app/lib/src/screens/network/network_controller.dart
  packages/devtools_app/lib/src/screens/performance/panes/controls/enhance_tracing/enhance_tracing.dart
  packages/devtools_app/lib/src/screens/performance/performance_controller.dart
  packages/devtools_app/lib/src/screens/vm_developer/object_inspector/class_hierarchy_explorer_controller.dart
  packages/devtools_app/lib/src/screens/vm_developer/object_inspector/vm_ic_data_display.dart
  packages/devtools_app/lib/src/screens/vm_developer/object_inspector/vm_instance_display.dart
  packages/devtools_app/lib/src/screens/vm_developer/vm_statistics/vm_statistics_view_controller.dart
  packages/devtools_app/lib/src/service/editor/editor_client.dart
  packages/devtools_app/lib/src/shared/console/eval/auto_complete.dart
  packages/devtools_app/lib/src/shared/console/widgets/description.dart
  packages/devtools_app/lib/src/shared/console/widgets/expandable_variable.dart
  packages/devtools_app/lib/src/shared/diagnostics/tree_builder.dart
  packages/devtools_app/lib/src/shared/diagnostics/variable_factory.dart
  packages/devtools_app/lib/src/shared/primitives/custom_pointer_scroll_view.dart
  packages/devtools_app/lib/src/shared/ui/common_widgets.dart
  packages/devtools_app/test/legacy_integration_tests/integration.dart
  packages/devtools_app/test/test_infra/flutter_test_driver.dart
  packages/devtools_app/test/test_infra/scenes/standalone_ui/editor_service/simulated_editor.dart
  packages/devtools_app_shared/lib/src/service/connected_app.dart
  packages/devtools_app_shared/lib/src/service/isolate_manager.dart
  packages/devtools_app_shared/lib/src/service/service_extension_manager.dart
  packages/devtools_app_shared/lib/src/service/service_manager.dart
  packages/devtools_app_shared/lib/src/service/service_utils.dart
  packages/devtools_shared/lib/src/server/handlers/_general.dart
  packages/devtools_shared/lib/src/test/cli_test_driver.dart
  packages/devtools_shared/lib/src/test/io_utils.dart
  packages/devtools_test/lib/src/helpers/utils.dart
Owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

Remove unnecessary logging type prefix
  packages/devtools_app/lib/src/framework/release_notes.dart
Owners: @flutter/devtools-reviewers

Remove now unnecessary call to .cast
  packages/devtools_app/lib/src/screens/debugger/program_explorer_controller.dart
Owners: @elliette

Fix tests
  packages/devtools_app/test/screens/inspector_v2/inspector_integration_test.dart
  packages/devtools_app/test/test_infra/flutter_test_environment.dart
Owners: @flutter/devtools-reviewers

Merge in changes from https://github.com/flutter/devtools/pull/8598
  packages/devtools_app/lib/src/service/editor/api_classes.dart
  packages/devtools_app/lib/src/service/editor/editor_client.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_controller.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_panel.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_view.dart
  packages/devtools_app/lib/src/standalone_ui/standalone_screen.dart
  packages/devtools_app/lib/src/standalone_ui/vs_code/flutter_panel.dart
  packages/devtools_app/test/standalone_ui/ide_shared/property_editor_test.dart
  packages/devtools_app/test/test_infra/scenes/standalone_ui/property_editor_sidebar.dart
Owners: @flutter/devtools-reviewers
