Repository flutter/devtools, changes with the owners that CODEOWNERS names for each.
All owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

fix tests
  packages/devtools_app/test/framework/observer/memory_observer_test.dart
  packages/devtools_app/test/screens/memory/framework/memory_screen_test.dart
  packages/devtools_app/test/screens/performance/performance_screen_test.dart
  packages/devtools_app/test/test_infra/scenes/cpu_profiler/default.dart
  packages/devtools_app/test/test_infra/scenes/memory/default.dart
Owners: @flutter/devtools-reviewers, @bkonyi, @kenzieschmoll

Dismiss banner messages on connection changes by default (#9148)
  packages/devtools_app/lib/src/extensions/embedded/_view_web.dart
  packages/devtools_app/lib/src/framework/observer/memory_observer.dart
  packages/devtools_app/lib/src/shared/managers/banner_messages.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/test/framework/observer/memory_observer_test.dart
  packages/devtools_app/test/screens/memory/framework/memory_screen_test.dart
  packages/devtools_app/test/screens/performance/performance_screen_test.dart
  packages/devtools_app/test/shared/managers/banner_messages_test.dart
  packages/devtools_app/test/test_infra/scenes/cpu_profiler/default.dart
  packages/devtools_app/test/test_infra/scenes/memory/default.dart
  packages/devtools_extensions/CHANGELOG.md
  packages/devtools_extensions/lib/src/api/model.dart
Owners: @flutter/devtools-reviewers, @bkonyi, @kenzieschmoll

Skip simple_items_test.dart for customer tests
  packages/devtools_app/test/shared/primitives/simple_items_test.dart
Owners: @flutter/devtools-reviewers

formatting
  packages/devtools_app/test/shared/primitives/simple_items_test.dart
Owners: @flutter/devtools-reviewers

Remove reference to removed `NodeGlue`
  packages/devtools_app/lib/src/shared/config_specific/import_export/_export_web.dart
Owners: @flutter/devtools-reviewers

Skip simple_items_test.dart for customer tests (#9150)
  packages/devtools_app/test/shared/primitives/simple_items_test.dart
Owners: @flutter/devtools-reviewers

Updating from 2.46.0-dev.0 to 2.46.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.46.0-dev.0 to 2.46.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.46.0-dev.0 to 2.46.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.46.0-dev.0 to 2.46.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Remove reference to removed `NodeGlue` (#9151)
  packages/devtools_app/lib/src/shared/config_specific/import_export/_export_web.dart
Owners: @flutter/devtools-reviewers

Updating from 2.46.0-dev.0 to 2.46.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.46.0-dev.0 to 2.46.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.46.0-dev.0 to 2.46.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.46.0-dev.0 to 2.46.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.46.0-dev.0 to 2.46.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.46.0-dev.0 to 2.46.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.46.0-dev.0 to 2.46.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.46.0-dev.0 to 2.46.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.46.0-dev.0 to 2.46.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.46.0-dev.0 to 2.46.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Do not await service extension call in the performance screen
  packages/devtools_app/lib/src/screens/performance/performance_controller.dart
Owners: @kenzieschmoll

use value listenable
  packages/devtools_app/lib/src/screens/performance/panes/flutter_frames/flutter_frames_chart.dart
  packages/devtools_app/lib/src/screens/performance/performance_controller.dart
  packages/devtools_app/test/screens/performance/flutter_frames/flutter_frames_chart_test.dart
Owners: @kenzieschmoll

rnotes
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Use cupertino icon for select widget mode
  packages/devtools_app/icons/widget-select-dgrey.png
  packages/devtools_app/icons/widget-select-lgrey.png
  packages/devtools_app/icons/widget-select-white.png
  packages/devtools_app/lib/src/service/service_extension_widgets.dart
  packages/devtools_app/lib/src/service/service_extensions.dart
  packages/devtools_app/pubspec.yaml
Owners: @flutter/devtools-reviewers

add missing dispose
  packages/devtools_app/lib/src/screens/performance/performance_controller.dart
Owners: @kenzieschmoll

Do not await service extension call in the performance screen (#9162)
  packages/devtools_app/lib/src/screens/performance/panes/flutter_frames/flutter_frames_chart.dart
  packages/devtools_app/lib/src/screens/performance/performance_controller.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/test/screens/performance/flutter_frames/flutter_frames_chart_test.dart
Owners: @kenzieschmoll, @flutter/devtools-reviewers

fix lints
  packages/devtools_app_shared/lib/src/service/service_manager.dart
Owners: @kenzieschmoll

update dcm and fix warnings
  .github/workflows/build.yaml
  packages/devtools_app/lib/src/framework/observer/_memory_web.dart
  packages/devtools_app/lib/src/shared/ui/filter.dart
  packages/devtools_app/test/test_infra/scenes/memory/default.dart
Owners: @flutter/devtools-reviewers, @bkonyi, @kenzieschmoll

Fix a focus traversal issue with search fields
  packages/devtools_app/lib/src/shared/ui/search.dart
Owners: @flutter/devtools-reviewers

formatting
  packages/devtools_app/lib/src/shared/ui/filter.dart
Owners: @flutter/devtools-reviewers

rnotes
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

goldens
  packages/devtools_app/test/test_infra/goldens/memory/load_offline_data_profile_tab.png
  packages/devtools_app/test/test_infra/goldens/memory/load_offline_data_trace_tab.png
  packages/devtools_app/test/test_infra/goldens/settings_dialog_default.png
  packages/devtools_app/test/test_infra/goldens/settings_dialog_modified.png
Owners: @bkonyi, @kenzieschmoll, @flutter/devtools-reviewers

merge
  packages/devtools_app/lib/src/shared/ui/search.dart
Owners: @flutter/devtools-reviewers

Updating from 2.46.0-dev.0 to 2.46.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Clean up abstract classes that only contain static methods
  packages/devtools_app/lib/src/framework/framework_core.dart
  packages/devtools_app/lib/src/screens/debugger/debugger_model.dart
  packages/devtools_app/lib/src/screens/debugger/span_parser.dart
  packages/devtools_app/lib/src/screens/memory/panes/chart/controller/charts/android_chart_controller.dart
  packages/devtools_app/lib/src/screens/memory/panes/chart/controller/charts/vm_chart_controller.dart
  packages/devtools_app/lib/src/shared/analytics/constants/_property_editor_sidebar_constants.dart
  packages/devtools_app/lib/src/shared/analytics/gtags.dart
  packages/devtools_app/lib/src/shared/charts/flame_chart.dart
  packages/devtools_app/lib/src/shared/development_helpers.dart
  packages/devtools_app/lib/src/shared/feature_flags.dart
  packages/devtools_app/lib/src/shared/http/_http_date.dart
  packages/devtools_app/lib/src/shared/primitives/diagnostics_text_styles.dart
  packages/devtools_app/lib/src/shared/utils/utils.dart
  packages/devtools_app/test/screens/memory/tracing/tracing_pane_controller_test.dart
  packages/devtools_app/test/test_infra/scenes/memory/default.dart
  packages/devtools_app/test/test_infra/test_data/performance/sample_performance_data.dart
  packages/devtools_shared/lib/src/server/file_system.dart
  packages/devtools_shared/lib/src/server/handlers/_app_size.dart
  packages/devtools_shared/lib/src/server/handlers/_deeplink.dart
  packages/devtools_shared/lib/src/server/handlers/_devtools_extensions.dart
  packages/devtools_shared/lib/src/server/handlers/_dtd.dart
  packages/devtools_shared/lib/src/server/handlers/_preferences.dart
  packages/devtools_shared/lib/src/server/handlers/_release_notes.dart
  packages/devtools_shared/lib/src/server/handlers/_storage.dart
  packages/devtools_shared/lib/src/server/handlers/_survey.dart
  packages/devtools_shared/lib/src/server/handlers/_vm_service.dart
  packages/devtools_shared/lib/src/server/server_api.dart
  packages/devtools_shared/test/server/general_api_test.dart
Owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

remove unused parameter
  packages/devtools_shared/lib/src/server/handlers/_vm_service.dart
  packages/devtools_shared/test/server/general_api_test.dart
Owners: @kenzieschmoll, @bkonyi

Fix a focus traversal issue with search fields (#9166)
  packages/devtools_app/lib/src/shared/ui/search.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Clean up abstract classes that only contain static methods (#9170)
  packages/devtools_app/lib/src/framework/framework_core.dart
  packages/devtools_app/lib/src/screens/debugger/debugger_model.dart
  packages/devtools_app/lib/src/screens/debugger/span_parser.dart
  packages/devtools_app/lib/src/screens/memory/panes/chart/controller/charts/android_chart_controller.dart
  packages/devtools_app/lib/src/screens/memory/panes/chart/controller/charts/vm_chart_controller.dart
  packages/devtools_app/lib/src/shared/analytics/constants/_property_editor_sidebar_constants.dart
  packages/devtools_app/lib/src/shared/analytics/gtags.dart
  packages/devtools_app/lib/src/shared/charts/flame_chart.dart
  packages/devtools_app/lib/src/shared/development_helpers.dart
  packages/devtools_app/lib/src/shared/feature_flags.dart
  packages/devtools_app/lib/src/shared/http/_http_date.dart
  packages/devtools_app/lib/src/shared/primitives/diagnostics_text_styles.dart
  packages/devtools_app/lib/src/shared/utils/utils.dart
  packages/devtools_app/test/screens/memory/tracing/tracing_pane_controller_test.dart
  packages/devtools_app/test/test_infra/scenes/memory/default.dart
  packages/devtools_app/test/test_infra/test_data/performance/sample_performance_data.dart
  packages/devtools_shared/lib/src/server/file_system.dart
  packages/devtools_shared/lib/src/server/handlers/_app_size.dart
  packages/devtools_shared/lib/src/server/handlers/_deeplink.dart
  packages/devtools_shared/lib/src/server/handlers/_devtools_extensions.dart
  packages/devtools_shared/lib/src/server/handlers/_dtd.dart
  packages/devtools_shared/lib/src/server/handlers/_preferences.dart
  packages/devtools_shared/lib/src/server/handlers/_release_notes.dart
  packages/devtools_shared/lib/src/server/handlers/_storage.dart
  packages/devtools_shared/lib/src/server/handlers/_survey.dart
  packages/devtools_shared/lib/src/server/handlers/_vm_service.dart
  packages/devtools_shared/lib/src/server/server_api.dart
  packages/devtools_shared/test/server/general_api_test.dart
Owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

Update goldens
  packages/devtools_app/test/test_infra/goldens/integration_animated_physical_model_selected.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_errors_1_initial_load.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_errors_2_error_selected.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_initial_load.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_richtext_selected.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_scaffold_selected.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_select_center.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_select_center_details_tree.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_errors_1_initial_load.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_errors_2_error_selected.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_hideable_widget_selected.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_hideable_widget_selected_from_search.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_implementation_widgets_collapsed.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_implementation_widgets_expanded.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_implementation_widgets_hidden.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_initial_load.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_revert_to_legacy.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_select_center.png
  packages/devtools_app/test/test_infra/goldens/memory/load_offline_data_profile_tab.png
Owners: @flutter/devtools-reviewers, @bkonyi, @kenzieschmoll

CODEOWNERS:

*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @elliette

# Network Files
network/            @bkonyi @kenzieschmoll

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll @bkonyi

# Memory files
memory/             @bkonyi @kenzieschmoll

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @kenzieschmoll

# DevTools extensions and related files
src/extensions/
packages/devtools_extensions/    @kenzieschmoll
packages/devtools_app_shared/    @kenzieschmoll

# package:devtools_shared code, which is used across DevTools and the Dart SDK
packages/devtools_shared/        @kenzieschmoll @bkonyi

# Version bump files.
# No owners to prevent version update spam
packages/devtools_app/lib/devtools.dart
packages/devtools_app/pubspec.yaml
packages/devtools_test/pubspec.yaml
