Repository flutter/devtools, changes with the owners that CODEOWNERS names for each.
All owners: @flutter/devtools-reviewers, @CoderDake, @kenzieschmoll, @bkonyi, @polina-c, @elliette

CODEOWNERS:

*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @CoderDake

# Network Files
network/            @kenzieschmoll @bkonyi

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll

# Memory files
memory/             @bkonyi @polina-c

# Memory leak tracking files
memory/panes/leaks  @CoderDake @polina-c

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @CoderDake

packages/devtools_extensions/    @kenzieschmoll


# Version bump files.
# No owners to prevent version update spam
packages/devtools_app/lib/devtools.dart
packages/devtools_app/pubspec.yaml
packages/devtools_test/pubspec.yaml

maf is hard
  packages/devtools_app/lib/src/shared/table/_table_row.dart
Owners: @flutter/devtools-reviewers

Changing Flutter Candidate to 3.21.0-12.0.pre
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

Fix multiline text in display JsonViewer (#7389)
  packages/devtools_app/lib/src/shared/console/widgets/display_provider.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

golden fixes?
  packages/devtools_app/test/test_infra/goldens/memory_diff_empty1.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_empty2.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_selected_class.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_except_diff.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_except_single.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_scene_diff.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_scene_single.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_showAll_diff.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_showAll_single.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_three_snapshots1.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_three_snapshots2.png
Owners: @flutter/devtools-reviewers

Changing Flutter Candidate to 3.21.0-12.0.pre (#7430)
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

[deep link] Update `initiallyExpanded` for some tiles (#7409)
  packages/devtools_app/lib/src/screens/deep_link_validation/validation_details_view.dart
Owners: @flutter/devtools-reviewers

Update deep_links_controller.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_controller.dart
Owners: @flutter/devtools-reviewers

resolve comments
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_link_list_view.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_controller.dart
Owners: @flutter/devtools-reviewers

1
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_controller.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_model.dart
Owners: @flutter/devtools-reviewers

Use DTD project roots instead of workspace roots for Deep links tool
  packages/devtools_app/lib/src/screens/deep_link_validation/select_project_view.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app_shared/CHANGELOG.md
  packages/devtools_app_shared/lib/src/service/dtd_manager.dart
  packages/devtools_app_shared/pubspec.yaml
  packages/devtools_shared/CHANGELOG.md
  packages/devtools_shared/pubspec.yaml
Owners: @flutter/devtools-reviewers

[deep link] Fix an issue that selected linkdata is not highlighted in domain view and path view (#7408)
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_link_list_view.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_controller.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_model.dart
  packages/devtools_app/test/deep_link_vlidation/deep_links_screen_test.dart
Owners: @flutter/devtools-reviewers

1
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_link_list_view.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_controller.dart
  packages/devtools_app/lib/src/shared/table/_flat_table.dart
  packages/devtools_app/test/deep_link_vlidation/deep_links_screen_test.dart
Owners: @flutter/devtools-reviewers

2
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_link_list_view.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_controller.dart
  packages/devtools_app/lib/src/shared/table/_flat_table.dart
  packages/devtools_app/test/deep_link_vlidation/deep_links_screen_test.dart
Owners: @flutter/devtools-reviewers

Update deep_link_list_view.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_link_list_view.dart
Owners: @flutter/devtools-reviewers

table data updates
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_model.dart
  packages/devtools_app/lib/src/shared/table/_flat_table.dart
  packages/devtools_app/lib/src/shared/table/table_data.dart
Owners: @flutter/devtools-reviewers

Update deep_links_model.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_model.dart
Owners: @flutter/devtools-reviewers

Update table_data.dart
  packages/devtools_app/lib/src/shared/table/table_data.dart
Owners: @flutter/devtools-reviewers

Update table_data.dart
  packages/devtools_app/lib/src/shared/table/table_data.dart
Owners: @flutter/devtools-reviewers

add app check
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_controller.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_model.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/validation_details_view.dart
Owners: @flutter/devtools-reviewers

Update validation_details_view.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/validation_details_view.dart
Owners: @flutter/devtools-reviewers

Update table_data.dart
  packages/devtools_app/lib/src/shared/table/table_data.dart
Owners: @flutter/devtools-reviewers

Updating from 2.34.0-dev.12 to 2.34.0-dev.13
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_test/pubspec.yaml
Owners: none

Updating from 2.34.0-dev.12 to 2.34.0-dev.13 (#7434)
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_test/pubspec.yaml
Owners: none

Updating from 2.34.0-dev.13 to 2.34.0-dev.14
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_test/pubspec.yaml
Owners: none

Update import_export.dart
  packages/devtools_app/lib/src/shared/config_specific/import_export/import_export.dart
Owners: @flutter/devtools-reviewers

Update simple_items.dart
  packages/devtools_app/lib/src/shared/memory/simple_items.dart
Owners: @bkonyi, @polina-c

-
  packages/devtools_app/lib/src/shared/config_specific/import_export/_export_desktop.dart
  packages/devtools_app/lib/src/shared/config_specific/import_export/_export_web.dart
Owners: @flutter/devtools-reviewers

Update _export_web.dart
  packages/devtools_app/lib/src/shared/config_specific/import_export/_export_web.dart
Owners: @flutter/devtools-reviewers

Updating from 2.34.0-dev.13 to 2.34.0-dev.14
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_test/pubspec.yaml
Owners: none

Changing Flutter Candidate to 3.21.0-13.0.pre
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

Changing Flutter Candidate to 3.21.0-13.0.pre (#7438)
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

-
  packages/devtools_app/lib/src/screens/memory/panes/diff/controller/diff_pane_controller.dart
  packages/devtools_app/lib/src/shared/config_specific/import_export/_export_web.dart
  packages/devtools_app/lib/src/shared/config_specific/import_export/import_export.dart
Owners: @bkonyi, @polina-c, @flutter/devtools-reviewers

dart doc and add param
  packages/devtools_app_shared/lib/src/service/dtd_manager.dart
Owners: @flutter/devtools-reviewers

-
  packages/devtools_app/lib/src/screens/memory/panes/diff/controller/diff_pane_controller.dart
  packages/devtools_app/lib/src/shared/config_specific/import_export/_export_web.dart
  packages/devtools_app/lib/src/shared/config_specific/import_export/import_export.dart
  packages/devtools_app/lib/src/shared/memory/heap_graph_loader.dart
Owners: @bkonyi, @polina-c, @flutter/devtools-reviewers

Update NEXT_RELEASE_NOTES.md
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Update NEXT_RELEASE_NOTES.md
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Update _export_desktop.dart
  packages/devtools_app/lib/src/shared/config_specific/import_export/_export_desktop.dart
Owners: @flutter/devtools-reviewers

-
  packages/devtools_app/lib/src/screens/memory/panes/diff/controller/diff_pane_controller.dart
  packages/devtools_app/lib/src/shared/memory/simple_items.dart
Owners: @bkonyi, @polina-c

resolve comments
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_controller.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_model.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/validation_details_view.dart
Owners: @flutter/devtools-reviewers

-
  packages/devtools_app/lib/src/screens/memory/panes/diff/controller/diff_pane_controller.dart
  packages/devtools_app/lib/src/shared/config_specific/import_export/_export_desktop.dart
  packages/devtools_app/lib/src/shared/config_specific/import_export/_export_web.dart
  packages/devtools_app/lib/src/shared/config_specific/import_export/import_export.dart
Owners: @bkonyi, @polina-c, @flutter/devtools-reviewers
