Repository flutter/devtools, changes with the owners that CODEOWNERS names for each.
All owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

CODEOWNERS:

*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @elliette

# Network Files
network/            @bkonyi @kenzieschmoll

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll @bkonyi

# Memory files
memory/             @bkonyi @kenzieschmoll

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @kenzieschmoll

# DevTools extensions and related files
src/extensions/
packages/devtools_extensions/    @kenzieschmoll
packages/devtools_app_shared/    @kenzieschmoll

# package:devtools_shared code, which is used across DevTools and the Dart SDK
packages/devtools_shared/        @kenzieschmoll @bkonyi

# Version bump files.
# No owners to prevent version update spam
packages/devtools_app/lib/devtools.dart
packages/devtools_app/pubspec.yaml
packages/devtools_test/pubspec.yaml

remove todo
  packages/devtools_app/lib/src/framework/observer/memory_observer.dart
Owners: @flutter/devtools-reviewers

Support non-experimental LSP APIs (#8990)
  packages/devtools_app/lib/src/shared/editor/editor_client.dart
Owners: @flutter/devtools-reviewers

Update release notes
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

fix test
  packages/devtools_app/test/framework/observer/memory_observer_test.dart
Owners: @flutter/devtools-reviewers

golden and update
  packages/devtools_app/test/test_infra/goldens/codeview_scrollbars.png
  tool/lib/commands/fix_goldens.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

Try to add additional pump
  packages/devtools_app/test/screens/debugger/debugger_codeview_test.dart
Owners: @elliette

Tidy some code in the integration testing. Namely: (#8996)
  packages/devtools_app/integration_test/test_infra/run/_test_app_driver.dart
  packages/devtools_app/integration_test/test_infra/run/run_test.dart
  packages/devtools_shared/lib/src/test/integration_test_runner.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll, @bkonyi

fix test
  packages/devtools_app/test/framework/observer/disconnect_observer_test.dart
Owners: @flutter/devtools-reviewers

Add `MemoryObserver` to monitor the memory usage of DevTools (#8989)
  packages/devtools_app/lib/src/app.dart
  packages/devtools_app/lib/src/framework/framework_core.dart
  packages/devtools_app/lib/src/framework/observer/_memory_desktop.dart
  packages/devtools_app/lib/src/framework/observer/_memory_web.dart
  packages/devtools_app/lib/src/framework/observer/disconnect_observer.dart
  packages/devtools_app/lib/src/framework/observer/memory_observer.dart
  packages/devtools_app/lib/src/shared/analytics/constants.dart
  packages/devtools_app/lib/src/shared/feature_flags.dart
  packages/devtools_app/lib/src/shared/managers/banner_messages.dart
  packages/devtools_app/test/framework/observer/disconnect_observer_test.dart
  packages/devtools_app/test/framework/observer/memory_observer_test.dart
  packages/devtools_app/test/screens/debugger/debugger_codeview_test.dart
  packages/devtools_app/test/shared/managers/banner_messages_test.dart
  packages/devtools_app/test/test_infra/goldens/codeview_scrollbars.png
  tool/lib/commands/fix_goldens.dart
Owners: @flutter/devtools-reviewers, @elliette, @kenzieschmoll

screen controller changes
  packages/devtools_app/lib/src/shared/framework/screen_controllers.dart
Owners: @flutter/devtools-reviewers

logging releaseMemory
  packages/devtools_app/lib/src/screens/logging/logging_controller.dart
  packages/devtools_app/test/screens/logging/logging_controller_test.dart
Owners: @flutter/devtools-reviewers

app size releaseMemory
  packages/devtools_app/lib/src/screens/app_size/app_size_controller.dart
Owners: @flutter/devtools-reviewers

screens without release memory
  packages/devtools_app/lib/src/screens/debugger/debugger_controller.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_controller.dart
  packages/devtools_app/lib/src/screens/inspector_shared/inspector_screen_controller.dart
Owners: @elliette, @flutter/devtools-reviewers

another
  packages/devtools_app/lib/src/screens/vm_developer/vm_developer_tools_controller.dart
Owners: @bkonyi

cpu profiler release memory
  packages/devtools_app/lib/src/screens/profiler/profiler_screen_controller.dart
  packages/devtools_app/test/screens/cpu_profiler/profiler_screen_controller_test.dart
Owners: @kenzieschmoll, @bkonyi, @flutter/devtools-reviewers

Add search bar (does not filter yet
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_controller.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_view.dart
Owners: @flutter/devtools-reviewers

Prevent DevTools from automatically resuming on connection when there is a breakpoint (#8991)
  packages/devtools_app/lib/src/screens/debugger/breakpoint_manager.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @elliette, @flutter/devtools-reviewers

memory release memory
  packages/devtools_app/lib/src/screens/memory/framework/memory_controller.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/controller/diff_pane_controller.dart
  packages/devtools_app/test/screens/memory/framework/memory_controller_test.dart
Owners: @bkonyi, @kenzieschmoll

byte utils and test
  packages/devtools_app/lib/src/shared/primitives/byte_utils.dart
  packages/devtools_app/test/shared/primitives/byte_utils_test.dart
Owners: @flutter/devtools-reviewers

performance page release memory
  packages/devtools_app/lib/src/screens/performance/panes/flutter_frames/flutter_frames_controller.dart
  packages/devtools_app/lib/src/screens/performance/panes/rebuild_stats/rebuild_stats_controller.dart
  packages/devtools_app/lib/src/screens/performance/panes/timeline_events/timeline_events_controller.dart
  packages/devtools_app/lib/src/screens/performance/performance_controller.dart
  packages/devtools_app/test/screens/performance/flutter_frames/flutter_frames_controller_test.dart
  packages/devtools_app/test/screens/performance/timeline_events/timeline_events_controller_test.dart
Owners: @kenzieschmoll

network release memory
  packages/devtools_app/lib/src/screens/network/network_controller.dart
  packages/devtools_app/test/screens/network/network_controller_test.dart
Owners: @bkonyi, @kenzieschmoll

comments and formatting
  packages/devtools_app/lib/src/screens/network/network_controller.dart
  packages/devtools_app/lib/src/screens/performance/panes/flutter_frames/flutter_frames_controller.dart
  packages/devtools_app/lib/src/screens/performance/panes/timeline_events/timeline_events_controller.dart
  packages/devtools_app/lib/src/shared/framework/screen_controllers.dart
Owners: @bkonyi, @kenzieschmoll, @flutter/devtools-reviewers

fix test
  packages/devtools_app/test/screens/logging/logging_controller_test.dart
Owners: @flutter/devtools-reviewers

Enable the memory observer with full support for releasing memory
  packages/devtools_app/lib/src/framework/observer/memory_observer.dart
  packages/devtools_app/lib/src/shared/feature_flags.dart
  packages/devtools_app/lib/src/shared/framework/routing.dart
  packages/devtools_app/test/framework/observer/memory_observer_test.dart
  packages/devtools_app/test/shared/framework/screen_controllers_test.dart
  packages/devtools_test/lib/src/mocks/mocks.dart
Owners: @flutter/devtools-reviewers

remove prints
  packages/devtools_app/lib/src/framework/observer/memory_observer.dart
Owners: @flutter/devtools-reviewers

rnotes
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Updating from 2.45.0-dev.0 to 2.45.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

fix logging test
  packages/devtools_app/test/screens/logging/logging_controller_test.dart
Owners: @flutter/devtools-reviewers

Add `releaseMemory` functionality to DevTools screen controllers (#8997)
  packages/devtools_app/lib/src/screens/app_size/app_size_controller.dart
  packages/devtools_app/lib/src/screens/debugger/debugger_controller.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_controller.dart
  packages/devtools_app/lib/src/screens/inspector_shared/inspector_screen_controller.dart
  packages/devtools_app/lib/src/screens/logging/logging_controller.dart
  packages/devtools_app/lib/src/screens/memory/framework/memory_controller.dart
  packages/devtools_app/lib/src/screens/memory/panes/diff/controller/diff_pane_controller.dart
  packages/devtools_app/lib/src/screens/network/network_controller.dart
  packages/devtools_app/lib/src/screens/performance/panes/flutter_frames/flutter_frames_controller.dart
  packages/devtools_app/lib/src/screens/performance/panes/rebuild_stats/rebuild_stats_controller.dart
  packages/devtools_app/lib/src/screens/performance/panes/timeline_events/timeline_events_controller.dart
  packages/devtools_app/lib/src/screens/performance/performance_controller.dart
  packages/devtools_app/lib/src/screens/profiler/profiler_screen_controller.dart
  packages/devtools_app/lib/src/screens/vm_developer/vm_developer_tools_controller.dart
  packages/devtools_app/lib/src/shared/framework/screen_controllers.dart
  packages/devtools_app/lib/src/shared/primitives/byte_utils.dart
  packages/devtools_app/test/screens/cpu_profiler/profiler_screen_controller_test.dart
  packages/devtools_app/test/screens/logging/logging_controller_test.dart
  packages/devtools_app/test/screens/memory/framework/memory_controller_test.dart
  packages/devtools_app/test/screens/network/network_controller_test.dart
  packages/devtools_app/test/screens/performance/flutter_frames/flutter_frames_controller_test.dart
  packages/devtools_app/test/screens/performance/timeline_events/timeline_events_controller_test.dart
  packages/devtools_app/test/shared/primitives/byte_utils_test.dart
Owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

mem controller test
  packages/devtools_app/test/screens/memory/framework/memory_controller_test.dart
Owners: @bkonyi, @kenzieschmoll

fix bug in diff controller
  packages/devtools_app/lib/src/screens/memory/panes/diff/controller/diff_pane_controller.dart
Owners: @bkonyi, @kenzieschmoll

Add error handling to banner.
  packages/devtools_app/lib/src/framework/observer/memory_observer.dart
Owners: @flutter/devtools-reviewers

Add an integration test for the Network screen
  packages/devtools_app/integration_test/test/live_connection/network_screen_test.dart
  packages/devtools_app/integration_test/test_infra/run/_test_app_driver.dart
  packages/devtools_app/integration_test/test_infra/run/run_test.dart
  packages/devtools_app/test/test_infra/fixtures/networking_app/bin/main.dart
  packages/devtools_app/test/test_infra/fixtures/networking_app/pubspec.yaml
  packages/devtools_test/lib/src/integration_test/integration_test_utils.dart
Owners: @flutter/devtools-reviewers

Simplify the TestFileArgs constructors
  packages/devtools_app/integration_test/test_infra/run/_in_file_args.dart
  packages/devtools_app/test/integration_test_infra/in_file_args_test.dart
Owners: @flutter/devtools-reviewers

fix to banner and test polish
  packages/devtools_app/lib/src/framework/observer/memory_observer.dart
  packages/devtools_app/test/screens/memory/framework/memory_controller_test.dart
Owners: @flutter/devtools-reviewers, @bkonyi, @kenzieschmoll

Bold best-effort attempt
  packages/devtools_app/lib/src/framework/observer/memory_observer.dart
Owners: @flutter/devtools-reviewers

Searching works
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_controller.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_types.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_view.dart
  packages/devtools_app/test/standalone_ui/ide_shared/property_editor/property_editor_test.dart
Owners: @flutter/devtools-reviewers

Updating from 2.45.0-dev.0 to 2.45.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

test
  packages/devtools_app/integration_test/test_infra/run/_in_file_args.dart
  packages/devtools_app/test/integration_test_infra/in_file_args_test.dart
Owners: @flutter/devtools-reviewers

fix
  packages/devtools_app/integration_test/test_infra/run/_in_file_args.dart
Owners: @flutter/devtools-reviewers
