Repository flutter/devtools, changes with the owners that CODEOWNERS names for each.
All owners: @flutter/devtools-reviewers, @CoderDake, @kenzieschmoll, @bkonyi, @polina-c, @elliette

add testing
  packages/devtools_app/test/shared/preferences_controller_test.dart
Owners: @flutter/devtools-reviewers

r notes
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

formatting
  packages/devtools_app/lib/src/shared/preferences/_performance_preferences.dart
Owners: @flutter/devtools-reviewers

Updating from 2.34.0-dev.7 to 2.34.0-dev.8
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_test/pubspec.yaml
Owners: none

Changing Flutter Candidate to 3.21.0-7.0.pre
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

Updating from 2.34.0-dev.7 to 2.34.0-dev.8 (#7371)
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_test/pubspec.yaml
Owners: none

Update default.dart
  packages/devtools_app/test/test_infra/scenes/memory/default.dart
Owners: @bkonyi, @polina-c

-
  packages/devtools_app/test/memory/memory_footprint_test.dart
  packages/devtools_app/test/memory/shared/heap/heap_analyzer_golden_test.dart
  packages/devtools_app/test/memory/shared/heap/heap_analyzer_test.dart
  packages/devtools_app/test/memory/shared/heap/heap_test.dart
  packages/devtools_app/test/memory/shared/heap/model_test.dart
Owners: @bkonyi, @polina-c

-
  packages/devtools_app/lib/src/screens/memory/panes/diff/controller/item_controller.dart
  packages/devtools_app/test/memory/memory_footprint_test.dart
  packages/devtools_app/test/test_infra/test_data/memory/heap/heap_data.dart
Owners: @bkonyi, @polina-c

Allow for null responses from `ServerConnectionStorage.getValue`
  packages/devtools_app/lib/src/shared/config_specific/framework_initialize/_framework_initialize_web.dart
  packages/devtools_app/lib/src/shared/server/server_api_client.dart
Owners: @flutter/devtools-reviewers

-
  packages/devtools_app/lib/src/shared/memory/heap_data.dart
  packages/devtools_app/test/memory/diff/controller/heap_diff_test.dart
  packages/devtools_app/test/test_infra/test_data/memory/heap/heap_data.dart
  packages/devtools_app/test/test_infra/test_data/memory/heap/heap_graph_mock.dart
Owners: @bkonyi, @polina-c

Update heap_diff_test.dart
  packages/devtools_app/test/memory/diff/controller/heap_diff_test.dart
Owners: @bkonyi, @polina-c

-
  packages/devtools_app/test/memory/diff/controller/heap_diff_test.dart
  packages/devtools_app/test/test_infra/test_data/memory/heap/factories.dart
Owners: @bkonyi, @polina-c

-
  packages/devtools_app/test/test_infra/test_data/memory/heap/factories.dart
  packages/devtools_app/test/test_infra/test_data/memory/heap/heap_graph_mock.dart
Owners: @bkonyi, @polina-c

-
  packages/devtools_app/test/memory/diff/controller/heap_diff_test.dart
  packages/devtools_app/test/test_infra/test_data/memory/heap/factories.dart
  packages/devtools_app/test/test_infra/test_data/memory/heap/heap_graph_mock.dart
Owners: @bkonyi, @polina-c

-
  packages/devtools_app/test/memory/diff/controller/heap_diff_test.dart
  packages/devtools_app/test/test_infra/test_data/memory/heap/factories.dart
  packages/devtools_app/test/test_infra/test_data/memory/heap/heap_graph_mock.dart
Owners: @bkonyi, @polina-c

- (#7331)
  packages/devtools_app/pubspec.yaml
  packages/devtools_app_shared/pubspec.yaml
  packages/devtools_extensions/pubspec.yaml
  packages/devtools_test/pubspec.yaml
Owners: @flutter/devtools-reviewers, @kenzieschmoll

-
  packages/devtools_app/lib/src/screens/memory/shared/primitives/memory_utils.dart
  packages/devtools_app/lib/src/service/vm_service_wrapper.dart
Owners: @bkonyi, @polina-c, @flutter/devtools-reviewers

-
  packages/devtools_app/lib/src/screens/memory/panes/diff/controller/diff_pane_controller.dart
  packages/devtools_app/lib/src/shared/config_specific/import_export/import_export.dart
  packages/devtools_app/test/memory/diff/controller/heap_diff_test.dart
  packages/devtools_app/test/test_infra/test_data/memory/heap/heap_graph_mock.dart
Owners: @bkonyi, @polina-c, @flutter/devtools-reviewers

Update memory_footprint_test.dart
  packages/devtools_app/test/memory/memory_footprint_test.dart
Owners: @bkonyi, @polina-c

Update heap_analyzer_golden_test.dart
  packages/devtools_app/test/memory/shared/heap/heap_analyzer_golden_test.dart
Owners: @bkonyi, @polina-c

Updating from 2.34.0-dev.8 to 2.34.0-dev.9
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_test/pubspec.yaml
Owners: none

Changing Flutter Candidate to 3.21.0-8.0.pre
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

Changing Flutter Candidate to 3.21.0-8.0.pre (#7376)
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

Updating from 2.34.0-dev.8 to 2.34.0-dev.9 (#7375)
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_test/pubspec.yaml
Owners: none

-
  packages/devtools_app/lib/src/shared/memory/heap_data.dart
  packages/devtools_app/lib/src/shared/memory/retainers.dart
  packages/devtools_app/test/memory/shared/heap/heap_analyzer_golden_test.dart
  packages/devtools_app/test/memory/shared/heap/heap_analyzer_test.dart
  packages/devtools_app/test/test_infra/test_data/memory/heap/factories.dart
  packages/devtools_app/test/test_infra/test_data/memory/heap/heap_graph_mock.dart
  packages/devtools_test/lib/src/mocks/fake_vm_service_wrapper.dart
Owners: @bkonyi, @polina-c, @flutter/devtools-reviewers

Update validation_details_view.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/validation_details_view.dart
Owners: @flutter/devtools-reviewers

Updating from 2.34.0-dev.9 to 2.34.0-dev.10
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_test/pubspec.yaml
Owners: none

Updating from 2.34.0-dev.9 to 2.34.0-dev.10 (#7378)
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_test/pubspec.yaml
Owners: none

Update heap_data.dart
  packages/devtools_app/lib/src/shared/memory/heap_data.dart
Owners: @bkonyi, @polina-c

-
  packages/devtools_app/lib/src/shared/memory/class_name.dart
  packages/devtools_app/lib/src/shared/memory/heap_data.dart
  packages/devtools_app/test/memory/shared/heap/heap_analyzer_test.dart
  packages/devtools_app/test/test_infra/test_data/memory/heap/heap_graph_mock.dart
Owners: @bkonyi, @polina-c

fingerprint
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_controller.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_services.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/validation_details_view.dart
Owners: @flutter/devtools-reviewers

lint
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_services.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/validation_details_view.dart
Owners: @flutter/devtools-reviewers

resolve comments
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_controller.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/select_project_view.dart
Owners: @flutter/devtools-reviewers

Update select_project_view.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/select_project_view.dart
Owners: @flutter/devtools-reviewers

Update select_project_view.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/select_project_view.dart
Owners: @flutter/devtools-reviewers

Update select_project_view.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/select_project_view.dart
Owners: @flutter/devtools-reviewers

-
  packages/devtools_app/lib/src/shared/memory/heap_data.dart
  packages/devtools_app/lib/src/shared/memory/retainers.dart
  packages/devtools_app/lib/src/shared/memory/retaining_path.dart
  packages/devtools_app/test/memory/shared/heap/heap_analyzer_test.dart
  packages/devtools_app/test/test_infra/test_data/memory/heap/heap_graph_mock.dart
Owners: @bkonyi, @polina-c

Update heap_analyzer_test.dart
  packages/devtools_app/test/memory/shared/heap/heap_analyzer_test.dart
Owners: @bkonyi, @polina-c

-
  packages/devtools_app/test/memory/shared/heap/heap_test.dart
  packages/devtools_app/test/test_infra/test_data/memory/heap/heap_graph_mock.dart
Owners: @bkonyi, @polina-c

CODEOWNERS:

*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @CoderDake

# Network Files
network/            @kenzieschmoll @bkonyi

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll

# Memory files
memory/             @bkonyi @polina-c

# Memory leak tracking files
memory/panes/leaks  @CoderDake @polina-c

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @CoderDake

packages/devtools_extensions/    @kenzieschmoll


# Version bump files.
# No owners to prevent version update spam
packages/devtools_app/lib/devtools.dart
packages/devtools_app/pubspec.yaml
packages/devtools_test/pubspec.yaml
