Repository flutter/devtools, changes with the owners that CODEOWNERS names for each.
All owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

CODEOWNERS:

*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @elliette

# Network Files
network/            @bkonyi @kenzieschmoll

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll @bkonyi

# Memory files
memory/             @bkonyi @kenzieschmoll

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @kenzieschmoll

# DevTools extensions and related files
src/extensions/
packages/devtools_extensions/    @kenzieschmoll
packages/devtools_app_shared/    @kenzieschmoll

# package:devtools_shared code, which is used across DevTools and the Dart SDK
packages/devtools_shared/        @kenzieschmoll @bkonyi

# Version bump files.
# No owners to prevent version update spam
packages/devtools_app/lib/devtools.dart
packages/devtools_app/pubspec.yaml
packages/devtools_test/pubspec.yaml

Prep next dev version of DevTools
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Update contributing instrucitons (#9235)
  CONTRIBUTING.md
Owners: @flutter/devtools-reviewers

Prep next dev version of DevTools (#9237)
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Updating from 2.48.0-dev.0 to 2.48.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

copyright
  packages/devtools_app/lib/src/screens/dtd/events.dart
Owners: @flutter/devtools-reviewers

Show `Timer` events in the Logging View
  flutter-candidate.txt
  packages/devtools_app/lib/src/screens/logging/logging_controller.dart
  packages/devtools_app/lib/src/service/vm_service_wrapper.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/test/screens/logging/logging_controller_test.dart
  packages/devtools_test/lib/src/mocks/fake_vm_service_wrapper.dart
Owners: @flutter/devtools-reviewers

Adds a new DTDTools screen behind the Advanced Developer Mode setting (#9217)
  packages/devtools_app/lib/devtools_app.dart
  packages/devtools_app/lib/src/app.dart
  packages/devtools_app/lib/src/framework/scaffold/settings_dialog.dart
  packages/devtools_app/lib/src/screens/dtd/dtd_tools_controller.dart
  packages/devtools_app/lib/src/screens/dtd/dtd_tools_model.dart
  packages/devtools_app/lib/src/screens/dtd/dtd_tools_screen.dart
  packages/devtools_app/lib/src/screens/dtd/events.dart
  packages/devtools_app/lib/src/screens/dtd/services.dart
  packages/devtools_app/lib/src/screens/dtd/shared.dart
  packages/devtools_app/lib/src/screens/memory/panes/profile/profile_view.dart
  packages/devtools_app/lib/src/screens/profiler/cpu_profile_model.dart
  packages/devtools_app/lib/src/screens/profiler/cpu_profile_service.dart
  packages/devtools_app/lib/src/screens/profiler/cpu_profiler.dart
  packages/devtools_app/lib/src/screens/profiler/panes/controls/cpu_profiler_controls.dart
  packages/devtools_app/lib/src/screens/profiler/profiler_screen_controller.dart
  packages/devtools_app/lib/src/screens/vm_developer/vm_service_private_extensions.dart
  packages/devtools_app/lib/src/service/service_manager.dart
  packages/devtools_app/lib/src/service/vm_service_wrapper.dart
  packages/devtools_app/lib/src/shared/analytics/constants.dart
  packages/devtools_app/lib/src/shared/framework/screen.dart
  packages/devtools_app/lib/src/shared/preferences/preferences.dart
  packages/devtools_app/lib/src/shared/utils/utils.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/test/screens/cpu_profiler/cpu_profiler_test.dart
  packages/devtools_app/test/screens/dtd/dtd_tools_screen_test.dart
  packages/devtools_app/test/screens/dtd/events_test.dart
  packages/devtools_app/test/screens/dtd/services_test.dart
  packages/devtools_app/test/screens/memory/profile/allocation_profile_table_view_test.dart
  packages/devtools_app/test/shared/framework/visible_screens_test.dart
  packages/devtools_app/test/shared/preferences/preferences_controller_test.dart
  packages/devtools_test/lib/src/helpers/utils.dart
  packages/devtools_test/lib/src/helpers/wrappers.dart
  packages/devtools_test/lib/src/mocks/generated.dart
Owners: @flutter/devtools-reviewers, @bkonyi, @kenzieschmoll

Bump dtd dep to 4.0.0
  packages/devtools_app/pubspec.yaml
  packages/devtools_app_shared/CHANGELOG.md
  packages/devtools_app_shared/pubspec.yaml
  packages/devtools_extensions/example/packages_with_extensions/foo/packages/foo_devtools_extension/pubspec.yaml
  packages/devtools_shared/CHANGELOG.md
  packages/devtools_shared/pubspec.yaml
  packages/devtools_test/pubspec.yaml
Owners: @kenzieschmoll, @bkonyi

use constants
  packages/devtools_app/lib/src/shared/editor/editor_client.dart
  packages/devtools_app/test/screens/dtd/events_test.dart
Owners: @flutter/devtools-reviewers

Add Queued Microtasks tab to Performance View
  flutter-candidate.txt
  packages/devtools_app/lib/devtools_app.dart
  packages/devtools_app/lib/src/screens/performance/panes/queued_microtasks/queued_microtasks_controller.dart
  packages/devtools_app/lib/src/screens/performance/panes/queued_microtasks/queued_microtasks_view.dart
  packages/devtools_app/lib/src/screens/performance/performance_controller.dart
  packages/devtools_app/lib/src/screens/performance/performance_screen.dart
  packages/devtools_app/lib/src/screens/performance/tabbed_performance_view.dart
  packages/devtools_app/lib/src/service/vm_flags.dart
  packages/devtools_app/lib/src/shared/analytics/constants/_performance_constants.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/test/screens/performance/queued_microtasks/queued_microtasks_controller_test.dart
  packages/devtools_app/test/screens/performance/tabbed_performance_view_test.dart
  packages/devtools_app/test/test_infra/scenes/performance/default.dart
  packages/devtools_app/test/test_infra/test_data/performance/sample_performance_data.dart
  packages/devtools_test/lib/src/mocks/fake_service_manager.dart
  packages/devtools_test/lib/src/mocks/fake_vm_service_wrapper.dart
  packages/devtools_test/lib/src/mocks/generated.dart
  packages/devtools_test/lib/src/mocks/generated_mocks_factories.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

Updating from 2.48.0-dev.0 to 2.48.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

fix constants
  packages/devtools_app/lib/src/shared/editor/editor_client.dart
Owners: @flutter/devtools-reviewers

Address comments
  packages/devtools_app/lib/src/screens/logging/logging_controller.dart
  packages/devtools_app/lib/src/screens/logging/metadata.dart
Owners: @flutter/devtools-reviewers

Bump `dtd` dep to 4.0.0 (#9240)
  packages/devtools_app/lib/src/shared/editor/editor_client.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/test/screens/dtd/events_test.dart
  packages/devtools_app_shared/CHANGELOG.md
  packages/devtools_app_shared/pubspec.yaml
  packages/devtools_extensions/example/packages_with_extensions/foo/packages/foo_devtools_extension/pubspec.yaml
  packages/devtools_shared/CHANGELOG.md
  packages/devtools_shared/pubspec.yaml
  packages/devtools_test/pubspec.yaml
Owners: @flutter/devtools-reviewers, @kenzieschmoll, @bkonyi

Updating from 2.48.0-dev.0 to 2.48.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.48.0-dev.0 to 2.48.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Use `EventKind.kTimerSignificantlyOverdue`
  flutter-candidate.txt
  packages/devtools_app/lib/src/screens/logging/metadata.dart
  packages/devtools_app/test/screens/logging/logging_controller_test.dart
Owners: @flutter/devtools-reviewers

cleanup
  packages/devtools_app/integration_test/test_infra/run/_utils.dart
  packages/devtools_app/lib/src/extensions/embedded/_view_web.dart
Owners: @flutter/devtools-reviewers

Upgrade to the latest Flutter SDK
  .github/workflows/build.yaml
  flutter-candidate.txt
  packages/devtools_app/lib/src/screens/inspector_shared/inspector_settings_dialog.dart
  packages/devtools_app/lib/src/screens/memory/shared/widgets/class_filter.dart
  packages/devtools_app/lib/src/screens/performance/panes/controls/enhance_tracing/enhance_tracing.dart
  packages/devtools_app/lib/src/shared/ui/common_widgets.dart
  packages/devtools_app/test/screens/performance/controls/enhance_tracing_test.dart
Owners: @flutter/devtools-reviewers, @bkonyi, @kenzieschmoll

Updating from 2.48.0-dev.0 to 2.48.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.48.0-dev.0 to 2.48.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.48.0-dev.0 to 2.48.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Add support for connecting to the DevTools server from integration tests (#9190)
  packages/devtools_app/integration_test/test/live_connection/devtools_extensions_test.dart
  packages/devtools_app/integration_test/test_infra/run/_in_file_args.dart
  packages/devtools_app/integration_test/test_infra/run/run_test.dart
  packages/devtools_app/lib/src/extensions/embedded/_view_web.dart
  packages/devtools_app/lib/src/shared/development_helpers.dart
  packages/devtools_shared/lib/src/test/io_utils.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll, @bkonyi

latest flutter
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

fix failure
  packages/devtools_app/lib/src/screens/performance/panes/controls/enhance_tracing/enhance_tracing.dart
Owners: @kenzieschmoll

fix goldens
  packages/devtools_app/test/test_infra/goldens/inspector_service_node_no_summary.txt
  packages/devtools_app/test/test_infra/goldens/inspector_service_tree_no_summary.txt
Owners: @flutter/devtools-reviewers

Updating from 2.48.0-dev.0 to 2.48.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.48.0-dev.0 to 2.48.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

[tool] Add an option to specify the path of a Flutter SDK
  tool/lib/devtools_command_runner.dart
  tool/lib/model.dart
Owners: @kenzieschmoll

feedback
  tool/lib/devtools_command_runner.dart
Owners: @kenzieschmoll

[tool] Add an option to specify the path of a Flutter SDK (#9250)
  tool/lib/devtools_command_runner.dart
  tool/lib/model.dart
Owners: @kenzieschmoll

Updating from 2.48.0-dev.0 to 2.48.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

bump benchmark size
  packages/devtools_app/benchmark/web_bundle_size_test.dart
Owners: @flutter/devtools-reviewers

latest flutter
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

Add gitignore and instructions
  .gitignore
  GEMINI.md
Owners: @flutter/devtools-reviewers

Add gitignore and instructions
  .gitignore
  GEMINI.md
Owners: @flutter/devtools-reviewers

fix warnings
  packages/devtools_app/lib/src/framework/notifications_view.dart
  packages/devtools_app/lib/src/screens/inspector/layout_explorer/ui/layout_explorer_widget.dart
  packages/devtools_app/lib/src/screens/inspector_v2/layout_explorer/ui/layout_explorer_widget.dart
  packages/devtools_app/lib/src/shared/primitives/collapsible_mixin.dart
  packages/devtools_app/lib/src/shared/ui/side_panel.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_view.dart
Owners: @flutter/devtools-reviewers, @elliette

Upgrade to the latest Flutter SDK (#9244)
  .github/workflows/build.yaml
  flutter-candidate.txt
  packages/devtools_app/benchmark/web_bundle_size_test.dart
  packages/devtools_app/lib/src/framework/notifications_view.dart
  packages/devtools_app/lib/src/screens/inspector/layout_explorer/ui/layout_explorer_widget.dart
  packages/devtools_app/lib/src/screens/inspector_shared/inspector_settings_dialog.dart
  packages/devtools_app/lib/src/screens/inspector_v2/layout_explorer/ui/layout_explorer_widget.dart
  packages/devtools_app/lib/src/screens/memory/shared/widgets/class_filter.dart
  packages/devtools_app/lib/src/screens/performance/panes/controls/enhance_tracing/enhance_tracing.dart
  packages/devtools_app/lib/src/shared/primitives/collapsible_mixin.dart
  packages/devtools_app/lib/src/shared/ui/common_widgets.dart
  packages/devtools_app/lib/src/shared/ui/side_panel.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_view.dart
  packages/devtools_app/test/screens/performance/controls/enhance_tracing_test.dart
  packages/devtools_app/test/test_infra/goldens/inspector_service_node_no_summary.txt
  packages/devtools_app/test/test_infra/goldens/inspector_service_tree_no_summary.txt
Owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

Address comments
  packages/devtools_app/lib/src/screens/logging/logging_controller.dart
  packages/devtools_app/lib/src/screens/logging/metadata.dart
Owners: @flutter/devtools-reviewers

Show `Timer` events in the Logging View
  packages/devtools_app/lib/src/screens/logging/logging_controller.dart
  packages/devtools_app/lib/src/service/vm_service_wrapper.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/test/screens/logging/logging_controller_test.dart
  packages/devtools_test/lib/src/mocks/fake_vm_service_wrapper.dart
Owners: @flutter/devtools-reviewers
