Repository flutter/devtools, changes with the owners that CODEOWNERS names for each.
All owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

CODEOWNERS:

*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @elliette

# Network Files
network/            @bkonyi @kenzieschmoll

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll @bkonyi

# Memory files
memory/             @bkonyi @kenzieschmoll

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @kenzieschmoll

# DevTools extensions and related files
src/extensions/
packages/devtools_extensions/    @kenzieschmoll
packages/devtools_app_shared/    @kenzieschmoll

# package:devtools_shared code, which is used across DevTools and the Dart SDK
packages/devtools_shared/        @kenzieschmoll @bkonyi

# Version bump files.
# No owners to prevent version update spam
packages/devtools_app/lib/devtools.dart
packages/devtools_app/pubspec.yaml
packages/devtools_test/pubspec.yaml

Update NEXT_RELEASE_NOTES.md
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Correct some broken comment references (#8973)
  packages/devtools_app/lib/src/app.dart
  packages/devtools_app/lib/src/extensions/extension_service.dart
  packages/devtools_app/lib/src/screens/debugger/codeview_controller.dart
  packages/devtools_app/lib/src/screens/network/network_controller.dart
  packages/devtools_app/lib/src/screens/performance/panes/controls/enhance_tracing/enhance_tracing.dart
  packages/devtools_app/lib/src/screens/performance/panes/flutter_frames/flutter_frames_controller.dart
  packages/devtools_app/lib/src/screens/performance/panes/frame_analysis/frame_hints.dart
  packages/devtools_app/lib/src/screens/performance/panes/timeline_events/perfetto/_perfetto_controller_web.dart
  packages/devtools_app/lib/src/screens/performance/panes/timeline_events/perfetto/_perfetto_web.dart
  packages/devtools_app/lib/src/screens/profiler/cpu_profile_model.dart
  packages/devtools_app/lib/src/screens/profiler/panes/controls/cpu_profiler_controls.dart
Owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

Update test
  packages/devtools_app/test/shared/utils/utils_test.dart
Owners: @flutter/devtools-reviewers

Update to latest Flutter SDK version (#9026)
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

Fix deep links page displaying incorrect Windows path formats + a crash if no iOS config (#9027)
  packages/devtools_app/lib/src/screens/deep_link_validation/project_root_selection/root_selector.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/test/screens/deep_link_validation/deep_links_screen_test.dart
  packages/devtools_shared/lib/src/deeplink/xcode_build_options.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll, @bkonyi

[Property Editor] Debounce calls to the Analysis Server for `editableArguments` (#9017)
  packages/devtools_app/lib/src/framework/observer/memory_observer.dart
  packages/devtools_app/lib/src/screens/memory/panes/chart/controller/chart_connection.dart
  packages/devtools_app/lib/src/screens/network/network_controller.dart
  packages/devtools_app/lib/src/shared/utils/utils.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_controller.dart
  packages/devtools_app/test/shared/utils/utils_test.dart
Owners: @flutter/devtools-reviewers, @bkonyi, @kenzieschmoll

Has a few quirks
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_controller.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_view.dart
Owners: @flutter/devtools-reviewers

Better
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_controller.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_view.dart
Owners: @flutter/devtools-reviewers

Re-order methods
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_controller.dart
Owners: @flutter/devtools-reviewers

Fix tests
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_controller.dart
  packages/devtools_app/test/standalone_ui/ide_shared/property_editor/property_editor_test.dart
Owners: @flutter/devtools-reviewers

Updating from 2.45.0-dev.0 to 2.45.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Fix some broken comment references.
  packages/devtools_app/lib/src/screens/performance/performance_controller.dart
  packages/devtools_app/lib/src/screens/vm_developer/vm_service_private_extensions.dart
  packages/devtools_app/lib/src/service/service_extension_widgets.dart
  packages/devtools_app/lib/src/service/vm_service_wrapper.dart
  packages/devtools_app/lib/src/shared/analytics/analytics_common.dart
  packages/devtools_app/lib/src/shared/analytics/constants.dart
  packages/devtools_app/lib/src/shared/analytics/constants/_extension_constants.dart
  packages/devtools_app/lib/src/shared/analytics/metrics.dart
  packages/devtools_app/lib/src/shared/charts/flame_chart.dart
  packages/devtools_app/lib/src/shared/charts/treemap.dart
  packages/devtools_app/lib/src/shared/config_specific/drag_and_drop/drag_and_drop.dart
  packages/devtools_app/lib/src/shared/console/eval/inspector_tree.dart
  packages/devtools_app/lib/src/shared/development_helpers.dart
  packages/devtools_app/lib/src/shared/primitives/graph.dart
  packages/devtools_app/lib/src/shared/primitives/trees.dart
  packages/devtools_app/lib/src/shared/primitives/utils.dart
  packages/devtools_app/lib/src/shared/table/_tree_table.dart
  packages/devtools_app/lib/src/shared/table/table_controller.dart
  packages/devtools_app/lib/src/shared/utils/future_work_tracker.dart
  packages/devtools_app/lib/src/shared/utils/profiler_utils.dart
Owners: @kenzieschmoll, @bkonyi, @flutter/devtools-reviewers

Updating from 2.45.0-dev.0 to 2.45.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.45.0-dev.0 to 2.45.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Updating from 2.45.0-dev.0 to 2.45.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Fix some broken comment references. (#9037)
  packages/devtools_app/lib/src/screens/performance/performance_controller.dart
  packages/devtools_app/lib/src/screens/vm_developer/vm_service_private_extensions.dart
  packages/devtools_app/lib/src/service/service_extension_widgets.dart
  packages/devtools_app/lib/src/service/vm_service_wrapper.dart
  packages/devtools_app/lib/src/shared/analytics/analytics_common.dart
  packages/devtools_app/lib/src/shared/analytics/constants.dart
  packages/devtools_app/lib/src/shared/analytics/constants/_extension_constants.dart
  packages/devtools_app/lib/src/shared/analytics/metrics.dart
  packages/devtools_app/lib/src/shared/charts/flame_chart.dart
  packages/devtools_app/lib/src/shared/charts/treemap.dart
  packages/devtools_app/lib/src/shared/config_specific/drag_and_drop/drag_and_drop.dart
  packages/devtools_app/lib/src/shared/console/eval/inspector_tree.dart
  packages/devtools_app/lib/src/shared/development_helpers.dart
  packages/devtools_app/lib/src/shared/primitives/graph.dart
  packages/devtools_app/lib/src/shared/primitives/trees.dart
  packages/devtools_app/lib/src/shared/primitives/utils.dart
  packages/devtools_app/lib/src/shared/table/_tree_table.dart
  packages/devtools_app/lib/src/shared/table/table_controller.dart
  packages/devtools_app/lib/src/shared/utils/future_work_tracker.dart
  packages/devtools_app/lib/src/shared/utils/profiler_utils.dart
Owners: @kenzieschmoll, @bkonyi, @flutter/devtools-reviewers

Updating from 2.45.0-dev.0 to 2.45.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Show reconnection overlay when disconnection detected
  packages/devtools_app/lib/src/shared/editor/editor_client.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_controller.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_panel.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_view.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/reconnecting_overlay.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/utils/_utils_desktop.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/utils/_utils_web.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/utils/utils.dart
Owners: @flutter/devtools-reviewers

Respond to PR comments
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_controller.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_view.dart
Owners: @flutter/devtools-reviewers

Delete stranded comment
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_controller.dart
Owners: @flutter/devtools-reviewers

Update test cases
  packages/devtools_app/test/standalone_ui/ide_shared/property_editor/property_editor_test.dart
Owners: @flutter/devtools-reviewers

Updating from 2.45.0-dev.0 to 2.45.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Respond to PR comments
  packages/devtools_app/lib/src/screens/performance/panes/timeline_events/timeline_events_view.dart
  packages/devtools_app/lib/src/shared/ui/common_widgets.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_controller.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/reconnecting_overlay.dart
Owners: @kenzieschmoll, @flutter/devtools-reviewers

Fix overlay
  packages/devtools_app/lib/src/screens/performance/panes/timeline_events/timeline_events_view.dart
Owners: @kenzieschmoll

Clean up
  packages/devtools_app/lib/src/screens/performance/panes/timeline_events/timeline_events_view.dart
Owners: @kenzieschmoll

Update performance benchmark tests
  packages/devtools_app/benchmark/devtools_benchmarks_test.dart
Owners: @flutter/devtools-reviewers

Update performance benchmark tests (#9050)
  packages/devtools_app/benchmark/devtools_benchmarks_test.dart
Owners: @flutter/devtools-reviewers

Don't send editableArguments request for non-Dart locations
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_controller.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_view.dart
Owners: @flutter/devtools-reviewers

Updating from 2.45.0-dev.0 to 2.45.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Add a test case
  packages/devtools_app/test/standalone_ui/ide_shared/property_editor/property_editor_test.dart
Owners: @flutter/devtools-reviewers

[Property Editor] Show reconnection overlay when disconnection detected (#9043)
  packages/devtools_app/lib/src/screens/performance/panes/timeline_events/timeline_events_view.dart
  packages/devtools_app/lib/src/shared/editor/editor_client.dart
  packages/devtools_app/lib/src/shared/ui/common_widgets.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_controller.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_panel.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_view.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/reconnecting_overlay.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/utils/_utils_desktop.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/utils/_utils_web.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/utils/utils.dart
Owners: @kenzieschmoll, @flutter/devtools-reviewers

Respond to PR comments
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_controller.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_types.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_view.dart
Owners: @flutter/devtools-reviewers

Remove unused import
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_types.dart
Owners: @flutter/devtools-reviewers

Remove obsolete feature flags
  packages/devtools_app/lib/src/app.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_link_list_view.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_controller.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/project_root_selection/select_project_view.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/validation_details_view.dart
  packages/devtools_app/lib/src/screens/performance/panes/controls/more_debugging_options.dart
  packages/devtools_app/lib/src/screens/performance/panes/frame_analysis/frame_analysis.dart
  packages/devtools_app/lib/src/screens/performance/performance_controller.dart
  packages/devtools_app/lib/src/screens/performance/tabbed_performance_view.dart
  packages/devtools_app/lib/src/shared/feature_flags.dart
  packages/devtools_app/lib/src/shared/framework/screen.dart
  packages/devtools_app/test/screens/deep_link_validation/deep_links_screen_test.dart
  packages/devtools_app/test/shared/primitives/feature_flags_test.dart
  packages/devtools_app/test/test_infra/scenes/performance/default.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

[Property Editor] Can filter properties in the Property Editor (#9022)
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_controller.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_types.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_view.dart
  packages/devtools_app/test/standalone_ui/ide_shared/property_editor/property_editor_test.dart
Owners: @flutter/devtools-reviewers

Fix remaining license headers on dart files
  packages/devtools_app/benchmark/scripts/utils.dart
  packages/devtools_app/lib/src/screens/network/constants.dart
  packages/devtools_app/lib/src/screens/network/har_builder.dart
  packages/devtools_app/lib/src/screens/network/har_data_entry.dart
  packages/devtools_app/lib/src/screens/network/har_network_data.dart
  packages/devtools_app/lib/src/screens/network/network_controller.dart
  packages/devtools_app/lib/src/screens/network/network_model.dart
  packages/devtools_app/lib/src/screens/network/network_request_inspector.dart
  packages/devtools_app/lib/src/screens/network/network_request_inspector_views.dart
  packages/devtools_app/lib/src/screens/network/network_screen.dart
  packages/devtools_app/lib/src/screens/network/network_service.dart
  packages/devtools_app/lib/src/screens/network/offline_network_data.dart
  packages/devtools_app/lib/src/screens/network/utils/http_utils.dart
  packages/devtools_app/lib/src/shared/http/constants.dart
  packages/devtools_app/test/integration_test_infra/in_file_args_test.dart
  packages/devtools_app/test/screens/network/har_network_test.dart
  packages/devtools_app/test/screens/network/network_controller_test.dart
  packages/devtools_app/test/screens/network/network_model_test.dart
  packages/devtools_app/test/screens/network/network_profiler_test.dart
  packages/devtools_app/test/screens/network/network_request_inspector_test.dart
  packages/devtools_app/test/screens/network/network_screen_test.dart
  packages/devtools_app/test/screens/network/network_table_test.dart
  packages/devtools_app/test/screens/network/offline_data_test.dart
  packages/devtools_app/test/screens/network/utils/network_test_utils.dart
  third_party/packages/widget_icons/example/lib/main.dart
  third_party/packages/widget_icons/lib/widget_icons.dart
  third_party/packages/widget_icons/lib/widget_theme.dart
  third_party/packages/widget_icons/test/widget_theme_test.dart
  tool/json_to_map.dart
Owners: @flutter/devtools-reviewers, @bkonyi, @kenzieschmoll

more licenses
  .github/workflows/build.yaml
  .github/workflows/flutter-prep.yaml
  third_party/packages/perfetto_ui_compiled/lib/dist/devtools/devtools_dark.css
  third_party/packages/perfetto_ui_compiled/lib/dist/devtools/devtools_light.css
  third_party/packages/perfetto_ui_compiled/lib/dist/devtools/devtools_shared.css
Owners: @flutter/devtools-reviewers

Remove obsolete feature flags (#9052)
  packages/devtools_app/lib/src/app.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_link_list_view.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/deep_links_controller.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/project_root_selection/select_project_view.dart
  packages/devtools_app/lib/src/screens/deep_link_validation/validation_details_view.dart
  packages/devtools_app/lib/src/screens/performance/panes/controls/more_debugging_options.dart
  packages/devtools_app/lib/src/screens/performance/panes/frame_analysis/frame_analysis.dart
  packages/devtools_app/lib/src/screens/performance/performance_controller.dart
  packages/devtools_app/lib/src/screens/performance/tabbed_performance_view.dart
  packages/devtools_app/lib/src/shared/feature_flags.dart
  packages/devtools_app/lib/src/shared/framework/screen.dart
  packages/devtools_app/test/screens/deep_link_validation/deep_links_screen_test.dart
  packages/devtools_app/test/shared/primitives/feature_flags_test.dart
  packages/devtools_app/test/test_infra/scenes/performance/default.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

Fix remaining license headers (#9053)
  .github/workflows/build.yaml
  .github/workflows/flutter-prep.yaml
  packages/devtools_app/benchmark/scripts/utils.dart
  packages/devtools_app/lib/src/screens/network/constants.dart
  packages/devtools_app/lib/src/screens/network/har_builder.dart
  packages/devtools_app/lib/src/screens/network/har_data_entry.dart
  packages/devtools_app/lib/src/screens/network/har_network_data.dart
  packages/devtools_app/lib/src/screens/network/network_controller.dart
  packages/devtools_app/lib/src/screens/network/network_model.dart
  packages/devtools_app/lib/src/screens/network/network_request_inspector.dart
  packages/devtools_app/lib/src/screens/network/network_request_inspector_views.dart
  packages/devtools_app/lib/src/screens/network/network_screen.dart
  packages/devtools_app/lib/src/screens/network/network_service.dart
  packages/devtools_app/lib/src/screens/network/offline_network_data.dart
  packages/devtools_app/lib/src/screens/network/utils/http_utils.dart
  packages/devtools_app/lib/src/shared/http/constants.dart
  packages/devtools_app/test/integration_test_infra/in_file_args_test.dart
  packages/devtools_app/test/screens/network/har_network_test.dart
  packages/devtools_app/test/screens/network/network_controller_test.dart
  packages/devtools_app/test/screens/network/network_model_test.dart
  packages/devtools_app/test/screens/network/network_profiler_test.dart
  packages/devtools_app/test/screens/network/network_request_inspector_test.dart
  packages/devtools_app/test/screens/network/network_screen_test.dart
  packages/devtools_app/test/screens/network/network_table_test.dart
  packages/devtools_app/test/screens/network/offline_data_test.dart
  packages/devtools_app/test/screens/network/utils/network_test_utils.dart
  third_party/packages/perfetto_ui_compiled/lib/dist/devtools/devtools_dark.css
  third_party/packages/perfetto_ui_compiled/lib/dist/devtools/devtools_light.css
  third_party/packages/perfetto_ui_compiled/lib/dist/devtools/devtools_shared.css
  third_party/packages/widget_icons/example/lib/main.dart
  third_party/packages/widget_icons/lib/widget_icons.dart
  third_party/packages/widget_icons/lib/widget_theme.dart
  third_party/packages/widget_icons/test/widget_theme_test.dart
  tool/json_to_map.dart
Owners: @flutter/devtools-reviewers, @bkonyi, @kenzieschmoll

Fix text field alignment issues
  packages/devtools_app_shared/lib/src/ui/text_field.dart
Owners: @kenzieschmoll
