Repository flutter/devtools, changes with the owners that CODEOWNERS names for each.
All owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

CODEOWNERS:

*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @elliette

# Network Files
network/            @bkonyi @kenzieschmoll

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll @bkonyi

# Memory files
memory/             @bkonyi @kenzieschmoll

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @kenzieschmoll

# DevTools extensions and related files
src/extensions/
packages/devtools_extensions/    @kenzieschmoll
packages/devtools_app_shared/    @kenzieschmoll

# package:devtools_shared code, which is used across DevTools and the Dart SDK
packages/devtools_shared/        @kenzieschmoll @bkonyi

# Version bump files.
# No owners to prevent version update spam
packages/devtools_app/lib/devtools.dart
packages/devtools_app/pubspec.yaml
packages/devtools_test/pubspec.yaml

fix golden
  packages/devtools_app/test/test_infra/goldens/memory/load_offline_data_profile_tab.png
Owners: @bkonyi, @kenzieschmoll

fix ui_utils test
  packages/devtools_app/test/shared/ui/ui_utils_test.dart
Owners: @flutter/devtools-reviewers

Hopefully fix test
  packages/devtools_app/test/inspector_v2/inspector_integration_test.dart
Owners: @flutter/devtools-reviewers

Change test group name
  packages/devtools_app/test/inspector_v2/inspector_integration_test.dart
Owners: @flutter/devtools-reviewers

move goldens
  packages/devtools_app/test/screens/inspector/layout_explorer/flex/arrow_test.dart
  packages/devtools_app/test/screens/inspector/layout_explorer/flex/flex_test.dart
  packages/devtools_app/test/test_infra/goldens/inspector/layout_explorer/flex/arrow_bidirectional_horizontal.png
  packages/devtools_app/test/test_infra/goldens/inspector/layout_explorer/flex/arrow_bidirectional_vertical.png
  packages/devtools_app/test/test_infra/goldens/inspector/layout_explorer/flex/arrow_unidirectional_down.png
  packages/devtools_app/test/test_infra/goldens/inspector/layout_explorer/flex/arrow_unidirectional_left.png
  packages/devtools_app/test/test_infra/goldens/inspector/layout_explorer/flex/arrow_unidirectional_right.png
  packages/devtools_app/test/test_infra/goldens/inspector/layout_explorer/flex/arrow_unidirectional_up.png
  packages/devtools_app/test/test_infra/goldens/inspector/layout_explorer/flex/story_of_column_layout.png
  packages/devtools_app/test/test_infra/goldens/inspector/layout_explorer/flex/story_of_row_layout.png
  packages/devtools_app/test/test_infra/goldens/inspector_v2/layout_explorer/flex/arrow_bidirectional_horizontal.png
  packages/devtools_app/test/test_infra/goldens/inspector_v2/layout_explorer/flex/arrow_bidirectional_vertical.png
  packages/devtools_app/test/test_infra/goldens/inspector_v2/layout_explorer/flex/arrow_unidirectional_down.png
  packages/devtools_app/test/test_infra/goldens/inspector_v2/layout_explorer/flex/arrow_unidirectional_left.png
  packages/devtools_app/test/test_infra/goldens/inspector_v2/layout_explorer/flex/arrow_unidirectional_right.png
  packages/devtools_app/test/test_infra/goldens/inspector_v2/layout_explorer/flex/arrow_unidirectional_up.png
  packages/devtools_app/test/test_infra/goldens/inspector_v2/layout_explorer/flex/story_of_column_layout.png
  packages/devtools_app/test/test_infra/goldens/inspector_v2/layout_explorer/flex/story_of_row_layout.png
Owners: @elliette, @flutter/devtools-reviewers

formatting
  packages/devtools_app/test/screens/inspector/layout_explorer/flex/arrow_test.dart
  packages/devtools_app/test/screens/inspector/layout_explorer/flex/flex_test.dart
Owners: @elliette

fix setting
  .vscode/settings.json
Owners: @flutter/devtools-reviewers

fix more tests
  packages/devtools_app/test/screens/inspector_v2/layout_explorer/flex/arrow_test.dart
  packages/devtools_app/test/screens/inspector_v2/layout_explorer/flex/flex_test.dart
Owners: @flutter/devtools-reviewers

Working
  packages/devtools_app/lib/src/service/editor/api_classes.dart
  packages/devtools_app/lib/src/service/editor/editor_client.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_controller.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_panel.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_view.dart
  packages/devtools_app/lib/src/standalone_ui/vs_code/flutter_panel.dart
  packages/devtools_app/test/standalone_ui/ide_shared/property_editor_test.dart
  packages/devtools_app/test/test_infra/scenes/standalone_ui/property_editor_sidebar.dart
Owners: @flutter/devtools-reviewers

show method if no editable arguments
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_controller.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_view.dart
Owners: @flutter/devtools-reviewers

formatting
  packages/devtools_app/test/screens/inspector_v2/layout_explorer/flex/arrow_test.dart
Owners: @flutter/devtools-reviewers

Clean up
  packages/devtools_app/lib/src/service/editor/api_classes.dart
  packages/devtools_app/lib/src/service/editor/editor_client.dart
Owners: @flutter/devtools-reviewers

Remove `package:codicon` dependency
  packages/devtools_app/icons/debugger/material_resume.png
  packages/devtools_app/icons/debugger/material_step_into.png
  packages/devtools_app/icons/debugger/material_step_out.png
  packages/devtools_app/icons/debugger/material_step_over.png
  packages/devtools_app/lib/src/screens/debugger/controls.dart
  packages/devtools_app/lib/src/screens/debugger/debugger_screen.dart
  packages/devtools_app/lib/src/screens/logging/metadata.dart
  packages/devtools_app/lib/src/shared/ui/common_widgets.dart
  packages/devtools_app/lib/src/shared/ui/filter.dart
  packages/devtools_app/lib/src/shared/ui/icons.dart
  packages/devtools_app/lib/src/standalone_ui/vs_code/devtools/shared.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/test/screens/debugger/debugger_screen_paused_test.dart
  packages/devtools_app/test/screens/debugger/debugger_screen_test.dart
  packages/devtools_app/test/test_infra/utils/debugger_utils.dart
  packages/devtools_app_shared/CHANGELOG.md
  packages/devtools_app_shared/lib/src/ui/buttons.dart
  packages/devtools_app_shared/lib/src/ui/common.dart
  packages/devtools_app_shared/lib/src/ui/icons.dart
  packages/devtools_app_shared/lib/ui.dart
  packages/devtools_test/lib/src/helpers/actions.dart
Owners: @elliette, @flutter/devtools-reviewers, @kenzieschmoll

remove changes
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/test/test_infra/goldens/memory_diff_empty1.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_empty2.png
Owners: @flutter/devtools-reviewers

rename icons and add license
  packages/devtools_app/icons/material_symbols/LICENSE
  packages/devtools_app/icons/material_symbols/resume.png
  packages/devtools_app/icons/material_symbols/step_into.png
  packages/devtools_app/icons/material_symbols/step_out.png
  packages/devtools_app/icons/material_symbols/step_over.png
  packages/devtools_app/lib/src/screens/debugger/controls.dart
  packages/devtools_app/lib/src/screens/debugger/debugger_screen.dart
  packages/devtools_app/pubspec.yaml
Owners: @flutter/devtools-reviewers, @elliette

fix a bug preventing icon from showing up
  packages/devtools_app_shared/lib/src/ui/common.dart
Owners: @kenzieschmoll

icon sizing
  devtools_options.yaml
  packages/devtools_app/lib/src/screens/debugger/controls.dart
  packages/devtools_app/lib/src/screens/debugger/debugger_screen.dart
  packages/devtools_app_shared/CHANGELOG.md
  packages/devtools_app_shared/lib/src/ui/buttons.dart
  packages/devtools_app_shared/lib/src/ui/common.dart
Owners: @flutter/devtools-reviewers, @elliette, @kenzieschmoll

delete options file
  devtools_options.yaml
Owners: @flutter/devtools-reviewers

Mark the codicon package as discontinued.
  third_party/packages/codicon/CHANGELOG.md
  third_party/packages/codicon/README.md
  third_party/packages/codicon/pubspec.yaml
Owners: @flutter/devtools-reviewers

goldens
  packages/devtools_app/test/screens/debugger/debugger_screen_paused_test.dart
  packages/devtools_app/test/screens/debugger/debugger_screen_test.dart
  packages/devtools_app/test/test_infra/goldens/codeview_scrollbars.png
  packages/devtools_app/test/test_infra/goldens/integration_animated_physical_model_selected.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_richtext_selected.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_scaffold_selected.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_select_center_details_tree.png
  packages/devtools_app/test/test_infra/goldens/integration_inspector_v2_implementation_widgets_hidden.png
  packages/devtools_app/test/test_infra/goldens/memory/load_offline_data_profile_tab.png
  packages/devtools_app/test/test_infra/goldens/memory/load_offline_data_trace_tab.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_empty1.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_empty2.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_filter_dialog_custom.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_filter_dialog_except.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_filter_dialog_only.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_filter_dialog_showAll.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_selected_class.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_custom_diff.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_custom_single.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_except_diff.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_except_single.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_only_diff.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_only_single.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_scene_diff.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_scene_single.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_showAll_diff.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_showAll_single.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_three_snapshots1.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_three_snapshots2.png
  packages/devtools_app/test/test_infra/goldens/shared/disconnect_observer_disconnected.png
Owners: @elliette, @flutter/devtools-reviewers, @bkonyi, @kenzieschmoll

Mark the codicon package as discontinued. (#8594)
  third_party/packages/codicon/CHANGELOG.md
  third_party/packages/codicon/README.md
  third_party/packages/codicon/pubspec.yaml
Owners: @flutter/devtools-reviewers

Delete `codicon` package from `third_party`
  packages/devtools_app/.gitignore
  third_party/packages/codicon/CHANGELOG.md
  third_party/packages/codicon/LICENSE
  third_party/packages/codicon/README.md
  third_party/packages/codicon/analysis_options.yaml
  third_party/packages/codicon/lib/codicon.dart
  third_party/packages/codicon/lib/font/codicon.ttf
  third_party/packages/codicon/pubspec.yaml
Owners: @flutter/devtools-reviewers

Add Flutter version policy to `devtools_app_shared` and `devtools_extensions` READMEs
  packages/devtools_app_shared/CHANGELOG.md
  packages/devtools_app_shared/README.md
  packages/devtools_extensions/CHANGELOG.md
  packages/devtools_extensions/README.md
Owners: @kenzieschmoll

try to run the performance benchmarks on macos
  .github/workflows/build.yaml
Owners: @flutter/devtools-reviewers

remove TODO
  packages/devtools_app/benchmark/devtools_benchmarks_test.dart
Owners: @flutter/devtools-reviewers

Add Flutter version policy to `devtools_app_shared` and `devtools_extensions` READMEs (#8596)
  packages/devtools_app_shared/CHANGELOG.md
  packages/devtools_app_shared/README.md
  packages/devtools_extensions/CHANGELOG.md
  packages/devtools_extensions/README.md
Owners: @kenzieschmoll

Check in devtools_options.yaml at the repo level
  devtools_options.yaml
Owners: @flutter/devtools-reviewers

delete options file in devtools_app
  packages/devtools_app/devtools_options.yaml
Owners: @flutter/devtools-reviewers

Verify that benchmark tests meet expected performance thresholds (#8574)
  .github/workflows/build.yaml
  packages/devtools_app/benchmark/README.md
  packages/devtools_app/benchmark/devtools_benchmarks_test.dart
Owners: @flutter/devtools-reviewers

Clean up and update tests
  packages/devtools_app/lib/src/service/editor/api_classes.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_panel.dart
  packages/devtools_app/lib/src/standalone_ui/ide_shared/property_editor/property_editor_view.dart
  packages/devtools_app/test/standalone_ui/ide_shared/property_editor_test.dart
Owners: @flutter/devtools-reviewers

Check in devtools_options.yaml at the repo level (#8597)
  devtools_options.yaml
  packages/devtools_app/devtools_options.yaml
Owners: @flutter/devtools-reviewers

Rename
  packages/devtools_app/test/test_infra/scenes/standalone_ui/property_editor_sidebar.dart
Owners: @flutter/devtools-reviewers

remove the dep on package:ansicolor
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/test/screens/debugger/debugger_console_test.dart
  packages/devtools_app/test/screens/logging/logging_screen_data_test.dart
  packages/devtools_app/test/shared/ansi_up_test.dart
  packages/devtools_app/test/test_infra/fixtures/color_console_output_app.dart
  packages/devtools_app/test/test_infra/utils/ansi.dart
Owners: @elliette, @flutter/devtools-reviewers

Register /propertyEditor route
  packages/devtools_app/lib/src/standalone_ui/standalone_screen.dart
Owners: @flutter/devtools-reviewers

Fix imports
  packages/devtools_app/lib/src/standalone_ui/standalone_screen.dart
Owners: @flutter/devtools-reviewers

remove the dep on package:ansicolor (#8599)
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/test/screens/debugger/debugger_console_test.dart
  packages/devtools_app/test/screens/logging/logging_screen_data_test.dart
  packages/devtools_app/test/shared/ansi_up_test.dart
  packages/devtools_app/test/test_infra/fixtures/color_console_output_app.dart
  packages/devtools_app/test/test_infra/utils/ansi.dart
Owners: @elliette, @flutter/devtools-reviewers

remove and inline the use of package:ansi_up
  packages/devtools_app/lib/src/screens/logging/_message_column.dart
  packages/devtools_app/lib/src/screens/vm_developer/object_inspector/vm_instance_display.dart
  packages/devtools_app/lib/src/shared/console/console.dart
  packages/devtools_app/lib/src/shared/console/widgets/display_provider.dart
  packages/devtools_app/lib/src/shared/primitives/ansi_utils.dart
  packages/devtools_app/lib/src/shared/primitives/utils.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/test/shared/ansi_output_test.dart
Owners: @flutter/devtools-reviewers, @bkonyi

DCM lints
  packages/devtools_app/lib/src/shared/primitives/ansi_utils.dart
Owners: @flutter/devtools-reviewers

Prepare ansi_up for 2.0.0 publish
  third_party/packages/ansi_up/CHANGELOG.md
  third_party/packages/ansi_up/pubspec.yaml
Owners: @flutter/devtools-reviewers

remove and inline the use of package:ansi_up (#8601)
  packages/devtools_app/lib/src/screens/logging/_message_column.dart
  packages/devtools_app/lib/src/screens/vm_developer/object_inspector/vm_instance_display.dart
  packages/devtools_app/lib/src/shared/console/console.dart
  packages/devtools_app/lib/src/shared/console/widgets/display_provider.dart
  packages/devtools_app/lib/src/shared/primitives/ansi_utils.dart
  packages/devtools_app/lib/src/shared/primitives/utils.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/test/shared/ansi_output_test.dart
Owners: @flutter/devtools-reviewers, @bkonyi
