Repository flutter/devtools, changes with the owners that CODEOWNERS names for each.
All owners: @flutter/devtools-reviewers, @elliette, @bkonyi, @kenzieschmoll

CODEOWNERS:

*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @elliette

# Network Files
network/            @bkonyi @kenzieschmoll

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll @bkonyi

# Memory files
memory/             @bkonyi @kenzieschmoll

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @kenzieschmoll

# DevTools extensions and related files
src/extensions/
packages/devtools_extensions/    @kenzieschmoll
packages/devtools_app_shared/    @kenzieschmoll

# package:devtools_shared code, which is used across DevTools and the Dart SDK
packages/devtools_shared/        @kenzieschmoll @bkonyi

# Version bump files.
# No owners to prevent version update spam
packages/devtools_app/lib/devtools.dart
packages/devtools_app/pubspec.yaml
packages/devtools_test/pubspec.yaml

Update comment
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Add a hot reload and a hot restart step to the network screen integration test (#9486)
  packages/devtools_app/integration_test/test/live_connection/network_screen_test.dart
Owners: @flutter/devtools-reviewers

Table columns are resizable (#9485)
  packages/devtools_app/lib/src/shared/table/_flat_table.dart
  packages/devtools_app/lib/src/shared/table/_table_row.dart
  packages/devtools_app/lib/src/shared/table/table.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/test/shared/table/table_test.dart
Owners: @flutter/devtools-reviewers

Continue network recording when navigating away from Network screen.
  packages/devtools_app/lib/src/screens/network/network_controller.dart
  packages/devtools_app/lib/src/screens/network/network_screen.dart
  packages/devtools_app/lib/src/screens/network/network_service.dart
  packages/devtools_app/test/screens/network/network_profiler_test.dart
Owners: @bkonyi, @kenzieschmoll

release-notes
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Network panel: disable Header ExpansionTiles when no data
  packages/devtools_app/lib/src/screens/network/network_request_inspector_views.dart
Owners: @bkonyi, @kenzieschmoll

release-notes
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

feedback
  packages/devtools_app/lib/src/screens/network/network_request_inspector_views.dart
Owners: @bkonyi, @kenzieschmoll

fix profiler test
  packages/devtools_app/test/screens/network/network_profiler_test.dart
Owners: @bkonyi, @kenzieschmoll

Network: add a banner indicating when we are not logging network requests
  packages/devtools_app/lib/src/screens/network/network_screen.dart
Owners: @bkonyi, @kenzieschmoll

Network panel: disable Header ExpansionTiles when no data (#9492)
  packages/devtools_app/lib/src/screens/network/network_request_inspector_views.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/test/screens/network/network_profiler_test.dart
Owners: @bkonyi, @kenzieschmoll, @flutter/devtools-reviewers

feedback
  packages/devtools_app/lib/src/screens/network/network_screen.dart
Owners: @bkonyi, @kenzieschmoll

release-notes
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

feedback
  packages/devtools_app/lib/src/screens/network/network_screen.dart
Owners: @bkonyi, @kenzieschmoll

prs
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Network: add a banner indicating when we are not logging network requests (#9495)
  packages/devtools_app/lib/src/screens/network/network_screen.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @bkonyi, @kenzieschmoll, @flutter/devtools-reviewers

Add basic support for Flutter web applications served with `-d web-server` (#9468)
  packages/devtools_app_shared/lib/src/service/connected_app.dart
Owners: @kenzieschmoll

Handle shortcuts for actions like copy/paste when embedded inside VS Code (#9472)
  packages/devtools_app/lib/src/shared/config_specific/framework_initialize/_framework_initialize_web.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Fix position and width of "error count" badge in Network in app bar (#9470)
  packages/devtools_app/lib/src/framework/scaffold/app_bar.dart
  packages/devtools_app/lib/src/shared/framework/screen.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Add a horizontal scrollbar to DevTools tables (#9482)
  packages/devtools_app/lib/src/screens/memory/panes/profile/profile_view.dart
  packages/devtools_app/lib/src/shared/table/_flat_table.dart
  packages/devtools_app/lib/src/shared/table/_table_column.dart
  packages/devtools_app/lib/src/shared/table/_table_row.dart
  packages/devtools_app/lib/src/shared/table/_tree_table.dart
  packages/devtools_app/lib/src/shared/table/table.dart
  packages/devtools_app/lib/src/shared/table/table_controller.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/test/shared/table/table_test.dart
  packages/devtools_app/test/test_infra/goldens/memory/load_offline_data_trace_tab.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_empty1.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_empty2.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_selected_class.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_except_diff.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_except_single.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_scene_diff.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_scene_single.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_showAll_diff.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_snapshot_showAll_single.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_three_snapshots1.png
  packages/devtools_app/test/test_infra/goldens/memory_diff_three_snapshots2.png
Owners: @bkonyi, @kenzieschmoll, @flutter/devtools-reviewers

Disable screens not compatible with DWDS websocket mode (#9481)
  packages/devtools_app/lib/src/shared/framework/screen.dart
  packages/devtools_app/test/shared/framework/visible_screens_test.dart
  packages/devtools_app_shared/lib/src/service/connected_app.dart
  packages/devtools_test/lib/src/mocks/mocks.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

Table columns are resizable (#9485)
  packages/devtools_app/lib/src/shared/table/_flat_table.dart
  packages/devtools_app/lib/src/shared/table/_table_row.dart
  packages/devtools_app/lib/src/shared/table/table.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/test/shared/table/table_test.dart
Owners: @flutter/devtools-reviewers

Network panel: disable Header ExpansionTiles when no data (#9492)
  packages/devtools_app/lib/src/screens/network/network_request_inspector_views.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
  packages/devtools_app/test/screens/network/network_profiler_test.dart
Owners: @bkonyi, @kenzieschmoll, @flutter/devtools-reviewers

Network: add a banner indicating when we are not logging network requests (#9495)
  packages/devtools_app/lib/src/screens/network/network_screen.dart
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @bkonyi, @kenzieschmoll, @flutter/devtools-reviewers

Prepare cherry-pick release - DevTools 2.51.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none

Require analyzer ^8.0.0 in devtools_app
  packages/devtools_app/pubspec.yaml
Owners: none

Try source_gen 4.0.0
  packages/devtools_app/pubspec.yaml
Owners: none

Update package:stager to 1.3.0
  packages/devtools_app/pubspec.yaml
Owners: none

Update package:stager to 1.3.0 (#9498)
  packages/devtools_app/pubspec.yaml
Owners: none

Prepare for release 2.52.0
  tool/lib/commands/release_helper.dart
  tool/lib/utils.dart
Owners: @kenzieschmoll

Prepare for release to 2.52.0
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

Prepare for release to 2.52.0 (#9504)
  flutter-candidate.txt
Owners: @flutter/devtools-reviewers

Update out-of-date instructions
  tool/RELEASE_INSTRUCTIONS.md
Owners: @kenzieschmoll

A few more updates
  tool/RELEASE_INSTRUCTIONS.md
Owners: @kenzieschmoll

Update out-of-date RELEASE instructions (#9505)
  tool/RELEASE_INSTRUCTIONS.md
Owners: @kenzieschmoll

Update to next dev version
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Update DevTools version to 2.53.0-dev.0 (#9509)
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
  packages/devtools_app/release_notes/NEXT_RELEASE_NOTES.md
Owners: @flutter/devtools-reviewers

Update release note generation to match new Jaspr architecture
  packages/devtools_app/lib/src/framework/release_notes.dart
  packages/devtools_app/release_notes/README.md
  tool/lib/commands/release_notes_helper.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

Update release note generation to match new Jaspr architecture (#9514)
  packages/devtools_app/lib/src/framework/release_notes.dart
  packages/devtools_app/release_notes/README.md
  tool/lib/commands/release_notes_helper.dart
Owners: @flutter/devtools-reviewers, @kenzieschmoll

Updating from 2.53.0-dev.0 to 2.53.0-dev.1
  packages/devtools_app/lib/devtools.dart
  packages/devtools_app/pubspec.yaml
Owners: none
